<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.copower.pmcc.assess.dal.cases.mapper.CaseBuildingFunctionMapper" >
  <resultMap id="BaseResultMap" type="com.copower.pmcc.assess.dal.cases.entity.CaseBuildingFunction" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="building_number" property="buildingNumber" jdbcType="VARCHAR" />
    <result column="version" property="version" jdbcType="INTEGER" />
    <result column="building_id" property="buildingId" jdbcType="INTEGER" />
    <result column="decoration_part" property="decorationPart" jdbcType="INTEGER" />
    <result column="decorating_material" property="decoratingMaterial" jdbcType="INTEGER" />
    <result column="material_price" property="materialPrice" jdbcType="INTEGER" />
    <result column="construction_technology" property="constructionTechnology" jdbcType="INTEGER" />
    <result column="creator" property="creator" jdbcType="VARCHAR" />
    <result column="water_proof" property="waterProof" jdbcType="VARCHAR" />
    <result column="heat_preservation" property="heatPreservation" jdbcType="VARCHAR" />
    <result column="build_number" property="buildNumber" jdbcType="VARCHAR" />
    <result column="heat_insulation" property="heatInsulation" jdbcType="VARCHAR" />
    <result column="gmt_created" property="gmtCreated" jdbcType="TIMESTAMP" />
    <result column="gmt_modified" property="gmtModified" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, building_number, version, building_id, decoration_part, decorating_material, 
    material_price, construction_technology, creator, water_proof, heat_preservation, 
    build_number, heat_insulation, gmt_created, gmt_modified
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.copower.pmcc.assess.dal.cases.entity.CaseBuildingFunctionExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from tb_case_building_function
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from tb_case_building_function
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from tb_case_building_function
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.copower.pmcc.assess.dal.cases.entity.CaseBuildingFunctionExample" >
    delete from tb_case_building_function
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.copower.pmcc.assess.dal.cases.entity.CaseBuildingFunction" >
    <selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into tb_case_building_function (building_number, version, building_id, 
      decoration_part, decorating_material, material_price, 
      construction_technology, creator, water_proof, 
      heat_preservation, build_number, heat_insulation, 
      gmt_created, gmt_modified)
    values (#{buildingNumber,jdbcType=VARCHAR}, #{version,jdbcType=INTEGER}, #{buildingId,jdbcType=INTEGER}, 
      #{decorationPart,jdbcType=INTEGER}, #{decoratingMaterial,jdbcType=INTEGER}, #{materialPrice,jdbcType=INTEGER}, 
      #{constructionTechnology,jdbcType=INTEGER}, #{creator,jdbcType=VARCHAR}, #{waterProof,jdbcType=VARCHAR}, 
      #{heatPreservation,jdbcType=VARCHAR}, #{buildNumber,jdbcType=VARCHAR}, #{heatInsulation,jdbcType=VARCHAR}, 
      #{gmtCreated,jdbcType=TIMESTAMP}, #{gmtModified,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.copower.pmcc.assess.dal.cases.entity.CaseBuildingFunction" >
    <selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into tb_case_building_function
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="buildingNumber != null" >
        building_number,
      </if>
      <if test="version != null" >
        version,
      </if>
      <if test="buildingId != null" >
        building_id,
      </if>
      <if test="decorationPart != null" >
        decoration_part,
      </if>
      <if test="decoratingMaterial != null" >
        decorating_material,
      </if>
      <if test="materialPrice != null" >
        material_price,
      </if>
      <if test="constructionTechnology != null" >
        construction_technology,
      </if>
      <if test="creator != null" >
        creator,
      </if>
      <if test="waterProof != null" >
        water_proof,
      </if>
      <if test="heatPreservation != null" >
        heat_preservation,
      </if>
      <if test="buildNumber != null" >
        build_number,
      </if>
      <if test="heatInsulation != null" >
        heat_insulation,
      </if>
      <if test="gmtCreated != null" >
        gmt_created,
      </if>
      <if test="gmtModified != null" >
        gmt_modified,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="buildingNumber != null" >
        #{buildingNumber,jdbcType=VARCHAR},
      </if>
      <if test="version != null" >
        #{version,jdbcType=INTEGER},
      </if>
      <if test="buildingId != null" >
        #{buildingId,jdbcType=INTEGER},
      </if>
      <if test="decorationPart != null" >
        #{decorationPart,jdbcType=INTEGER},
      </if>
      <if test="decoratingMaterial != null" >
        #{decoratingMaterial,jdbcType=INTEGER},
      </if>
      <if test="materialPrice != null" >
        #{materialPrice,jdbcType=INTEGER},
      </if>
      <if test="constructionTechnology != null" >
        #{constructionTechnology,jdbcType=INTEGER},
      </if>
      <if test="creator != null" >
        #{creator,jdbcType=VARCHAR},
      </if>
      <if test="waterProof != null" >
        #{waterProof,jdbcType=VARCHAR},
      </if>
      <if test="heatPreservation != null" >
        #{heatPreservation,jdbcType=VARCHAR},
      </if>
      <if test="buildNumber != null" >
        #{buildNumber,jdbcType=VARCHAR},
      </if>
      <if test="heatInsulation != null" >
        #{heatInsulation,jdbcType=VARCHAR},
      </if>
      <if test="gmtCreated != null" >
        #{gmtCreated,jdbcType=TIMESTAMP},
      </if>
      <if test="gmtModified != null" >
        #{gmtModified,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.copower.pmcc.assess.dal.cases.entity.CaseBuildingFunctionExample" resultType="java.lang.Integer" >
    select count(*) from tb_case_building_function
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update tb_case_building_function
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.buildingNumber != null" >
        building_number = #{record.buildingNumber,jdbcType=VARCHAR},
      </if>
      <if test="record.version != null" >
        version = #{record.version,jdbcType=INTEGER},
      </if>
      <if test="record.buildingId != null" >
        building_id = #{record.buildingId,jdbcType=INTEGER},
      </if>
      <if test="record.decorationPart != null" >
        decoration_part = #{record.decorationPart,jdbcType=INTEGER},
      </if>
      <if test="record.decoratingMaterial != null" >
        decorating_material = #{record.decoratingMaterial,jdbcType=INTEGER},
      </if>
      <if test="record.materialPrice != null" >
        material_price = #{record.materialPrice,jdbcType=INTEGER},
      </if>
      <if test="record.constructionTechnology != null" >
        construction_technology = #{record.constructionTechnology,jdbcType=INTEGER},
      </if>
      <if test="record.creator != null" >
        creator = #{record.creator,jdbcType=VARCHAR},
      </if>
      <if test="record.waterProof != null" >
        water_proof = #{record.waterProof,jdbcType=VARCHAR},
      </if>
      <if test="record.heatPreservation != null" >
        heat_preservation = #{record.heatPreservation,jdbcType=VARCHAR},
      </if>
      <if test="record.buildNumber != null" >
        build_number = #{record.buildNumber,jdbcType=VARCHAR},
      </if>
      <if test="record.heatInsulation != null" >
        heat_insulation = #{record.heatInsulation,jdbcType=VARCHAR},
      </if>
      <if test="record.gmtCreated != null" >
        gmt_created = #{record.gmtCreated,jdbcType=TIMESTAMP},
      </if>
      <if test="record.gmtModified != null" >
        gmt_modified = #{record.gmtModified,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update tb_case_building_function
    set id = #{record.id,jdbcType=INTEGER},
      building_number = #{record.buildingNumber,jdbcType=VARCHAR},
      version = #{record.version,jdbcType=INTEGER},
      building_id = #{record.buildingId,jdbcType=INTEGER},
      decoration_part = #{record.decorationPart,jdbcType=INTEGER},
      decorating_material = #{record.decoratingMaterial,jdbcType=INTEGER},
      material_price = #{record.materialPrice,jdbcType=INTEGER},
      construction_technology = #{record.constructionTechnology,jdbcType=INTEGER},
      creator = #{record.creator,jdbcType=VARCHAR},
      water_proof = #{record.waterProof,jdbcType=VARCHAR},
      heat_preservation = #{record.heatPreservation,jdbcType=VARCHAR},
      build_number = #{record.buildNumber,jdbcType=VARCHAR},
      heat_insulation = #{record.heatInsulation,jdbcType=VARCHAR},
      gmt_created = #{record.gmtCreated,jdbcType=TIMESTAMP},
      gmt_modified = #{record.gmtModified,jdbcType=TIMESTAMP}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.copower.pmcc.assess.dal.cases.entity.CaseBuildingFunction" >
    update tb_case_building_function
    <set >
      <if test="buildingNumber != null" >
        building_number = #{buildingNumber,jdbcType=VARCHAR},
      </if>
      <if test="version != null" >
        version = #{version,jdbcType=INTEGER},
      </if>
      <if test="buildingId != null" >
        building_id = #{buildingId,jdbcType=INTEGER},
      </if>
      <if test="decorationPart != null" >
        decoration_part = #{decorationPart,jdbcType=INTEGER},
      </if>
      <if test="decoratingMaterial != null" >
        decorating_material = #{decoratingMaterial,jdbcType=INTEGER},
      </if>
      <if test="materialPrice != null" >
        material_price = #{materialPrice,jdbcType=INTEGER},
      </if>
      <if test="constructionTechnology != null" >
        construction_technology = #{constructionTechnology,jdbcType=INTEGER},
      </if>
      <if test="creator != null" >
        creator = #{creator,jdbcType=VARCHAR},
      </if>
      <if test="waterProof != null" >
        water_proof = #{waterProof,jdbcType=VARCHAR},
      </if>
      <if test="heatPreservation != null" >
        heat_preservation = #{heatPreservation,jdbcType=VARCHAR},
      </if>
      <if test="buildNumber != null" >
        build_number = #{buildNumber,jdbcType=VARCHAR},
      </if>
      <if test="heatInsulation != null" >
        heat_insulation = #{heatInsulation,jdbcType=VARCHAR},
      </if>
      <if test="gmtCreated != null" >
        gmt_created = #{gmtCreated,jdbcType=TIMESTAMP},
      </if>
      <if test="gmtModified != null" >
        gmt_modified = #{gmtModified,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.copower.pmcc.assess.dal.cases.entity.CaseBuildingFunction" >
    update tb_case_building_function
    set building_number = #{buildingNumber,jdbcType=VARCHAR},
      version = #{version,jdbcType=INTEGER},
      building_id = #{buildingId,jdbcType=INTEGER},
      decoration_part = #{decorationPart,jdbcType=INTEGER},
      decorating_material = #{decoratingMaterial,jdbcType=INTEGER},
      material_price = #{materialPrice,jdbcType=INTEGER},
      construction_technology = #{constructionTechnology,jdbcType=INTEGER},
      creator = #{creator,jdbcType=VARCHAR},
      water_proof = #{waterProof,jdbcType=VARCHAR},
      heat_preservation = #{heatPreservation,jdbcType=VARCHAR},
      build_number = #{buildNumber,jdbcType=VARCHAR},
      heat_insulation = #{heatInsulation,jdbcType=VARCHAR},
      gmt_created = #{gmtCreated,jdbcType=TIMESTAMP},
      gmt_modified = #{gmtModified,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>