<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.copower.pmcc.assess.dal.mapper.BaseFormListMapper" >
  <resultMap id="BaseResultMap" type="com.copower.pmcc.assess.dal.entity.BaseFormList" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="form_id" property="formId" jdbcType="INTEGER" />
    <result column="cn_name" property="cnName" jdbcType="VARCHAR" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="form_name" property="formName" jdbcType="VARCHAR" />
    <result column="bis_enable" property="bisEnable" jdbcType="BIT" />
    <result column="bis_configure" property="bisConfigure" jdbcType="BIT" />
    <result column="table_name" property="tableName" jdbcType="VARCHAR" />
    <result column="foreign_key_name" property="foreignKeyName" jdbcType="VARCHAR" />
    <result column="bis_multiple" property="bisMultiple" jdbcType="BIT" />
    <result column="custom_url" property="customUrl" jdbcType="VARCHAR" />
    <result column="custome_display_url" property="customeDisplayUrl" jdbcType="VARCHAR" />
    <result column="bis_card" property="bisCard" jdbcType="BIT" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, form_id, cn_name, name, form_name, bis_enable, bis_configure, table_name, foreign_key_name, 
    bis_multiple, custom_url, custome_display_url, bis_card
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.copower.pmcc.assess.dal.entity.BaseFormListExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from tb_base_form_list
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from tb_base_form_list
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from tb_base_form_list
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.copower.pmcc.assess.dal.entity.BaseFormListExample" >
    delete from tb_base_form_list
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.copower.pmcc.assess.dal.entity.BaseFormList" >
    <selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into tb_base_form_list (form_id, cn_name, name, 
      form_name, bis_enable, bis_configure, 
      table_name, foreign_key_name, bis_multiple, 
      custom_url, custome_display_url, bis_card
      )
    values (#{formId,jdbcType=INTEGER}, #{cnName,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR}, 
      #{formName,jdbcType=VARCHAR}, #{bisEnable,jdbcType=BIT}, #{bisConfigure,jdbcType=BIT}, 
      #{tableName,jdbcType=VARCHAR}, #{foreignKeyName,jdbcType=VARCHAR}, #{bisMultiple,jdbcType=BIT}, 
      #{customUrl,jdbcType=VARCHAR}, #{customeDisplayUrl,jdbcType=VARCHAR}, #{bisCard,jdbcType=BIT}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.copower.pmcc.assess.dal.entity.BaseFormList" >
    <selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into tb_base_form_list
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="formId != null" >
        form_id,
      </if>
      <if test="cnName != null" >
        cn_name,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="formName != null" >
        form_name,
      </if>
      <if test="bisEnable != null" >
        bis_enable,
      </if>
      <if test="bisConfigure != null" >
        bis_configure,
      </if>
      <if test="tableName != null" >
        table_name,
      </if>
      <if test="foreignKeyName != null" >
        foreign_key_name,
      </if>
      <if test="bisMultiple != null" >
        bis_multiple,
      </if>
      <if test="customUrl != null" >
        custom_url,
      </if>
      <if test="customeDisplayUrl != null" >
        custome_display_url,
      </if>
      <if test="bisCard != null" >
        bis_card,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="formId != null" >
        #{formId,jdbcType=INTEGER},
      </if>
      <if test="cnName != null" >
        #{cnName,jdbcType=VARCHAR},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="formName != null" >
        #{formName,jdbcType=VARCHAR},
      </if>
      <if test="bisEnable != null" >
        #{bisEnable,jdbcType=BIT},
      </if>
      <if test="bisConfigure != null" >
        #{bisConfigure,jdbcType=BIT},
      </if>
      <if test="tableName != null" >
        #{tableName,jdbcType=VARCHAR},
      </if>
      <if test="foreignKeyName != null" >
        #{foreignKeyName,jdbcType=VARCHAR},
      </if>
      <if test="bisMultiple != null" >
        #{bisMultiple,jdbcType=BIT},
      </if>
      <if test="customUrl != null" >
        #{customUrl,jdbcType=VARCHAR},
      </if>
      <if test="customeDisplayUrl != null" >
        #{customeDisplayUrl,jdbcType=VARCHAR},
      </if>
      <if test="bisCard != null" >
        #{bisCard,jdbcType=BIT},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.copower.pmcc.assess.dal.entity.BaseFormListExample" resultType="java.lang.Integer" >
    select count(*) from tb_base_form_list
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update tb_base_form_list
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.formId != null" >
        form_id = #{record.formId,jdbcType=INTEGER},
      </if>
      <if test="record.cnName != null" >
        cn_name = #{record.cnName,jdbcType=VARCHAR},
      </if>
      <if test="record.name != null" >
        name = #{record.name,jdbcType=VARCHAR},
      </if>
      <if test="record.formName != null" >
        form_name = #{record.formName,jdbcType=VARCHAR},
      </if>
      <if test="record.bisEnable != null" >
        bis_enable = #{record.bisEnable,jdbcType=BIT},
      </if>
      <if test="record.bisConfigure != null" >
        bis_configure = #{record.bisConfigure,jdbcType=BIT},
      </if>
      <if test="record.tableName != null" >
        table_name = #{record.tableName,jdbcType=VARCHAR},
      </if>
      <if test="record.foreignKeyName != null" >
        foreign_key_name = #{record.foreignKeyName,jdbcType=VARCHAR},
      </if>
      <if test="record.bisMultiple != null" >
        bis_multiple = #{record.bisMultiple,jdbcType=BIT},
      </if>
      <if test="record.customUrl != null" >
        custom_url = #{record.customUrl,jdbcType=VARCHAR},
      </if>
      <if test="record.customeDisplayUrl != null" >
        custome_display_url = #{record.customeDisplayUrl,jdbcType=VARCHAR},
      </if>
      <if test="record.bisCard != null" >
        bis_card = #{record.bisCard,jdbcType=BIT},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update tb_base_form_list
    set id = #{record.id,jdbcType=INTEGER},
      form_id = #{record.formId,jdbcType=INTEGER},
      cn_name = #{record.cnName,jdbcType=VARCHAR},
      name = #{record.name,jdbcType=VARCHAR},
      form_name = #{record.formName,jdbcType=VARCHAR},
      bis_enable = #{record.bisEnable,jdbcType=BIT},
      bis_configure = #{record.bisConfigure,jdbcType=BIT},
      table_name = #{record.tableName,jdbcType=VARCHAR},
      foreign_key_name = #{record.foreignKeyName,jdbcType=VARCHAR},
      bis_multiple = #{record.bisMultiple,jdbcType=BIT},
      custom_url = #{record.customUrl,jdbcType=VARCHAR},
      custome_display_url = #{record.customeDisplayUrl,jdbcType=VARCHAR},
      bis_card = #{record.bisCard,jdbcType=BIT}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.copower.pmcc.assess.dal.entity.BaseFormList" >
    update tb_base_form_list
    <set >
      <if test="formId != null" >
        form_id = #{formId,jdbcType=INTEGER},
      </if>
      <if test="cnName != null" >
        cn_name = #{cnName,jdbcType=VARCHAR},
      </if>
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="formName != null" >
        form_name = #{formName,jdbcType=VARCHAR},
      </if>
      <if test="bisEnable != null" >
        bis_enable = #{bisEnable,jdbcType=BIT},
      </if>
      <if test="bisConfigure != null" >
        bis_configure = #{bisConfigure,jdbcType=BIT},
      </if>
      <if test="tableName != null" >
        table_name = #{tableName,jdbcType=VARCHAR},
      </if>
      <if test="foreignKeyName != null" >
        foreign_key_name = #{foreignKeyName,jdbcType=VARCHAR},
      </if>
      <if test="bisMultiple != null" >
        bis_multiple = #{bisMultiple,jdbcType=BIT},
      </if>
      <if test="customUrl != null" >
        custom_url = #{customUrl,jdbcType=VARCHAR},
      </if>
      <if test="customeDisplayUrl != null" >
        custome_display_url = #{customeDisplayUrl,jdbcType=VARCHAR},
      </if>
      <if test="bisCard != null" >
        bis_card = #{bisCard,jdbcType=BIT},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.copower.pmcc.assess.dal.entity.BaseFormList" >
    update tb_base_form_list
    set form_id = #{formId,jdbcType=INTEGER},
      cn_name = #{cnName,jdbcType=VARCHAR},
      name = #{name,jdbcType=VARCHAR},
      form_name = #{formName,jdbcType=VARCHAR},
      bis_enable = #{bisEnable,jdbcType=BIT},
      bis_configure = #{bisConfigure,jdbcType=BIT},
      table_name = #{tableName,jdbcType=VARCHAR},
      foreign_key_name = #{foreignKeyName,jdbcType=VARCHAR},
      bis_multiple = #{bisMultiple,jdbcType=BIT},
      custom_url = #{customUrl,jdbcType=VARCHAR},
      custome_display_url = #{customeDisplayUrl,jdbcType=VARCHAR},
      bis_card = #{bisCard,jdbcType=BIT}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>