<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.copower.pmcc.assess.dal.mapper.BaseFormListFieldMapper" >
  <resultMap id="BaseResultMap" type="com.copower.pmcc.assess.dal.entity.BaseFormListField" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="form_list_id" property="formListId" jdbcType="INTEGER" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="json_name" property="jsonName" jdbcType="VARCHAR" />
    <result column="display_name" property="displayName" jdbcType="VARCHAR" />
    <result column="table_name" property="tableName" jdbcType="VARCHAR" />
    <result column="field_type" property="fieldType" jdbcType="INTEGER" />
    <result column="field_length" property="fieldLength" jdbcType="INTEGER" />
    <result column="default_value" property="defaultValue" jdbcType="VARCHAR" />
    <result column="data_source_sql" property="dataSourceSql" jdbcType="VARCHAR" />
    <result column="sorting" property="sorting" jdbcType="INTEGER" />
    <result column="bis_cache_data_source" property="bisCacheDataSource" jdbcType="BIT" />
    <result column="custom_url" property="customUrl" jdbcType="VARCHAR" />
    <result column="custom_display_url" property="customDisplayUrl" jdbcType="VARCHAR" />
    <result column="data_view_sql" property="dataViewSql" jdbcType="VARCHAR" />
    <result column="width" property="width" jdbcType="INTEGER" />
    <result column="list_width" property="listWidth" jdbcType="INTEGER" />
    <result column="bis_cache_data_view" property="bisCacheDataView" jdbcType="BIT" />
    <result column="bis_json" property="bisJson" jdbcType="BIT" />
    <result column="bis_required" property="bisRequired" jdbcType="BIT" />
    <result column="bis_show" property="bisShow" jdbcType="BIT" />
    <result column="bis_list_show" property="bisListShow" jdbcType="BIT" />
    <result column="bis_alone_line" property="bisAloneLine" jdbcType="BIT" />
    <result column="bis_query" property="bisQuery" jdbcType="BIT" />
    <result column="bis_enable" property="bisEnable" jdbcType="BIT" />
    <result column="bis_delete" property="bisDelete" jdbcType="BIT" />
    <result column="creator" property="creator" jdbcType="VARCHAR" />
    <result column="gmt_created" property="gmtCreated" jdbcType="TIMESTAMP" />
    <result column="gmt_modified" property="gmtModified" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, form_list_id, name, json_name, display_name, table_name, field_type, field_length, 
    default_value, data_source_sql, sorting, bis_cache_data_source, custom_url, custom_display_url, 
    data_view_sql, width, list_width, bis_cache_data_view, bis_json, bis_required, bis_show, 
    bis_list_show, bis_alone_line, bis_query, bis_enable, bis_delete, creator, gmt_created, 
    gmt_modified
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.copower.pmcc.assess.dal.entity.BaseFormListFieldExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from tb_base_form_list_field
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from tb_base_form_list_field
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from tb_base_form_list_field
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.copower.pmcc.assess.dal.entity.BaseFormListFieldExample" >
    delete from tb_base_form_list_field
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.copower.pmcc.assess.dal.entity.BaseFormListField" >
    <selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into tb_base_form_list_field (form_list_id, name, json_name, 
      display_name, table_name, field_type, 
      field_length, default_value, data_source_sql, 
      sorting, bis_cache_data_source, custom_url, 
      custom_display_url, data_view_sql, width, 
      list_width, bis_cache_data_view, bis_json, 
      bis_required, bis_show, bis_list_show, 
      bis_alone_line, bis_query, bis_enable, 
      bis_delete, creator, gmt_created, 
      gmt_modified)
    values (#{formListId,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{jsonName,jdbcType=VARCHAR}, 
      #{displayName,jdbcType=VARCHAR}, #{tableName,jdbcType=VARCHAR}, #{fieldType,jdbcType=INTEGER}, 
      #{fieldLength,jdbcType=INTEGER}, #{defaultValue,jdbcType=VARCHAR}, #{dataSourceSql,jdbcType=VARCHAR}, 
      #{sorting,jdbcType=INTEGER}, #{bisCacheDataSource,jdbcType=BIT}, #{customUrl,jdbcType=VARCHAR}, 
      #{customDisplayUrl,jdbcType=VARCHAR}, #{dataViewSql,jdbcType=VARCHAR}, #{width,jdbcType=INTEGER}, 
      #{listWidth,jdbcType=INTEGER}, #{bisCacheDataView,jdbcType=BIT}, #{bisJson,jdbcType=BIT}, 
      #{bisRequired,jdbcType=BIT}, #{bisShow,jdbcType=BIT}, #{bisListShow,jdbcType=BIT}, 
      #{bisAloneLine,jdbcType=BIT}, #{bisQuery,jdbcType=BIT}, #{bisEnable,jdbcType=BIT}, 
      #{bisDelete,jdbcType=BIT}, #{creator,jdbcType=VARCHAR}, #{gmtCreated,jdbcType=TIMESTAMP}, 
      #{gmtModified,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.copower.pmcc.assess.dal.entity.BaseFormListField" >
    <selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into tb_base_form_list_field
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="formListId != null" >
        form_list_id,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="jsonName != null" >
        json_name,
      </if>
      <if test="displayName != null" >
        display_name,
      </if>
      <if test="tableName != null" >
        table_name,
      </if>
      <if test="fieldType != null" >
        field_type,
      </if>
      <if test="fieldLength != null" >
        field_length,
      </if>
      <if test="defaultValue != null" >
        default_value,
      </if>
      <if test="dataSourceSql != null" >
        data_source_sql,
      </if>
      <if test="sorting != null" >
        sorting,
      </if>
      <if test="bisCacheDataSource != null" >
        bis_cache_data_source,
      </if>
      <if test="customUrl != null" >
        custom_url,
      </if>
      <if test="customDisplayUrl != null" >
        custom_display_url,
      </if>
      <if test="dataViewSql != null" >
        data_view_sql,
      </if>
      <if test="width != null" >
        width,
      </if>
      <if test="listWidth != null" >
        list_width,
      </if>
      <if test="bisCacheDataView != null" >
        bis_cache_data_view,
      </if>
      <if test="bisJson != null" >
        bis_json,
      </if>
      <if test="bisRequired != null" >
        bis_required,
      </if>
      <if test="bisShow != null" >
        bis_show,
      </if>
      <if test="bisListShow != null" >
        bis_list_show,
      </if>
      <if test="bisAloneLine != null" >
        bis_alone_line,
      </if>
      <if test="bisQuery != null" >
        bis_query,
      </if>
      <if test="bisEnable != null" >
        bis_enable,
      </if>
      <if test="bisDelete != null" >
        bis_delete,
      </if>
      <if test="creator != null" >
        creator,
      </if>
      <if test="gmtCreated != null" >
        gmt_created,
      </if>
      <if test="gmtModified != null" >
        gmt_modified,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="formListId != null" >
        #{formListId,jdbcType=INTEGER},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="jsonName != null" >
        #{jsonName,jdbcType=VARCHAR},
      </if>
      <if test="displayName != null" >
        #{displayName,jdbcType=VARCHAR},
      </if>
      <if test="tableName != null" >
        #{tableName,jdbcType=VARCHAR},
      </if>
      <if test="fieldType != null" >
        #{fieldType,jdbcType=INTEGER},
      </if>
      <if test="fieldLength != null" >
        #{fieldLength,jdbcType=INTEGER},
      </if>
      <if test="defaultValue != null" >
        #{defaultValue,jdbcType=VARCHAR},
      </if>
      <if test="dataSourceSql != null" >
        #{dataSourceSql,jdbcType=VARCHAR},
      </if>
      <if test="sorting != null" >
        #{sorting,jdbcType=INTEGER},
      </if>
      <if test="bisCacheDataSource != null" >
        #{bisCacheDataSource,jdbcType=BIT},
      </if>
      <if test="customUrl != null" >
        #{customUrl,jdbcType=VARCHAR},
      </if>
      <if test="customDisplayUrl != null" >
        #{customDisplayUrl,jdbcType=VARCHAR},
      </if>
      <if test="dataViewSql != null" >
        #{dataViewSql,jdbcType=VARCHAR},
      </if>
      <if test="width != null" >
        #{width,jdbcType=INTEGER},
      </if>
      <if test="listWidth != null" >
        #{listWidth,jdbcType=INTEGER},
      </if>
      <if test="bisCacheDataView != null" >
        #{bisCacheDataView,jdbcType=BIT},
      </if>
      <if test="bisJson != null" >
        #{bisJson,jdbcType=BIT},
      </if>
      <if test="bisRequired != null" >
        #{bisRequired,jdbcType=BIT},
      </if>
      <if test="bisShow != null" >
        #{bisShow,jdbcType=BIT},
      </if>
      <if test="bisListShow != null" >
        #{bisListShow,jdbcType=BIT},
      </if>
      <if test="bisAloneLine != null" >
        #{bisAloneLine,jdbcType=BIT},
      </if>
      <if test="bisQuery != null" >
        #{bisQuery,jdbcType=BIT},
      </if>
      <if test="bisEnable != null" >
        #{bisEnable,jdbcType=BIT},
      </if>
      <if test="bisDelete != null" >
        #{bisDelete,jdbcType=BIT},
      </if>
      <if test="creator != null" >
        #{creator,jdbcType=VARCHAR},
      </if>
      <if test="gmtCreated != null" >
        #{gmtCreated,jdbcType=TIMESTAMP},
      </if>
      <if test="gmtModified != null" >
        #{gmtModified,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.copower.pmcc.assess.dal.entity.BaseFormListFieldExample" resultType="java.lang.Integer" >
    select count(*) from tb_base_form_list_field
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update tb_base_form_list_field
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.formListId != null" >
        form_list_id = #{record.formListId,jdbcType=INTEGER},
      </if>
      <if test="record.name != null" >
        name = #{record.name,jdbcType=VARCHAR},
      </if>
      <if test="record.jsonName != null" >
        json_name = #{record.jsonName,jdbcType=VARCHAR},
      </if>
      <if test="record.displayName != null" >
        display_name = #{record.displayName,jdbcType=VARCHAR},
      </if>
      <if test="record.tableName != null" >
        table_name = #{record.tableName,jdbcType=VARCHAR},
      </if>
      <if test="record.fieldType != null" >
        field_type = #{record.fieldType,jdbcType=INTEGER},
      </if>
      <if test="record.fieldLength != null" >
        field_length = #{record.fieldLength,jdbcType=INTEGER},
      </if>
      <if test="record.defaultValue != null" >
        default_value = #{record.defaultValue,jdbcType=VARCHAR},
      </if>
      <if test="record.dataSourceSql != null" >
        data_source_sql = #{record.dataSourceSql,jdbcType=VARCHAR},
      </if>
      <if test="record.sorting != null" >
        sorting = #{record.sorting,jdbcType=INTEGER},
      </if>
      <if test="record.bisCacheDataSource != null" >
        bis_cache_data_source = #{record.bisCacheDataSource,jdbcType=BIT},
      </if>
      <if test="record.customUrl != null" >
        custom_url = #{record.customUrl,jdbcType=VARCHAR},
      </if>
      <if test="record.customDisplayUrl != null" >
        custom_display_url = #{record.customDisplayUrl,jdbcType=VARCHAR},
      </if>
      <if test="record.dataViewSql != null" >
        data_view_sql = #{record.dataViewSql,jdbcType=VARCHAR},
      </if>
      <if test="record.width != null" >
        width = #{record.width,jdbcType=INTEGER},
      </if>
      <if test="record.listWidth != null" >
        list_width = #{record.listWidth,jdbcType=INTEGER},
      </if>
      <if test="record.bisCacheDataView != null" >
        bis_cache_data_view = #{record.bisCacheDataView,jdbcType=BIT},
      </if>
      <if test="record.bisJson != null" >
        bis_json = #{record.bisJson,jdbcType=BIT},
      </if>
      <if test="record.bisRequired != null" >
        bis_required = #{record.bisRequired,jdbcType=BIT},
      </if>
      <if test="record.bisShow != null" >
        bis_show = #{record.bisShow,jdbcType=BIT},
      </if>
      <if test="record.bisListShow != null" >
        bis_list_show = #{record.bisListShow,jdbcType=BIT},
      </if>
      <if test="record.bisAloneLine != null" >
        bis_alone_line = #{record.bisAloneLine,jdbcType=BIT},
      </if>
      <if test="record.bisQuery != null" >
        bis_query = #{record.bisQuery,jdbcType=BIT},
      </if>
      <if test="record.bisEnable != null" >
        bis_enable = #{record.bisEnable,jdbcType=BIT},
      </if>
      <if test="record.bisDelete != null" >
        bis_delete = #{record.bisDelete,jdbcType=BIT},
      </if>
      <if test="record.creator != null" >
        creator = #{record.creator,jdbcType=VARCHAR},
      </if>
      <if test="record.gmtCreated != null" >
        gmt_created = #{record.gmtCreated,jdbcType=TIMESTAMP},
      </if>
      <if test="record.gmtModified != null" >
        gmt_modified = #{record.gmtModified,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update tb_base_form_list_field
    set id = #{record.id,jdbcType=INTEGER},
      form_list_id = #{record.formListId,jdbcType=INTEGER},
      name = #{record.name,jdbcType=VARCHAR},
      json_name = #{record.jsonName,jdbcType=VARCHAR},
      display_name = #{record.displayName,jdbcType=VARCHAR},
      table_name = #{record.tableName,jdbcType=VARCHAR},
      field_type = #{record.fieldType,jdbcType=INTEGER},
      field_length = #{record.fieldLength,jdbcType=INTEGER},
      default_value = #{record.defaultValue,jdbcType=VARCHAR},
      data_source_sql = #{record.dataSourceSql,jdbcType=VARCHAR},
      sorting = #{record.sorting,jdbcType=INTEGER},
      bis_cache_data_source = #{record.bisCacheDataSource,jdbcType=BIT},
      custom_url = #{record.customUrl,jdbcType=VARCHAR},
      custom_display_url = #{record.customDisplayUrl,jdbcType=VARCHAR},
      data_view_sql = #{record.dataViewSql,jdbcType=VARCHAR},
      width = #{record.width,jdbcType=INTEGER},
      list_width = #{record.listWidth,jdbcType=INTEGER},
      bis_cache_data_view = #{record.bisCacheDataView,jdbcType=BIT},
      bis_json = #{record.bisJson,jdbcType=BIT},
      bis_required = #{record.bisRequired,jdbcType=BIT},
      bis_show = #{record.bisShow,jdbcType=BIT},
      bis_list_show = #{record.bisListShow,jdbcType=BIT},
      bis_alone_line = #{record.bisAloneLine,jdbcType=BIT},
      bis_query = #{record.bisQuery,jdbcType=BIT},
      bis_enable = #{record.bisEnable,jdbcType=BIT},
      bis_delete = #{record.bisDelete,jdbcType=BIT},
      creator = #{record.creator,jdbcType=VARCHAR},
      gmt_created = #{record.gmtCreated,jdbcType=TIMESTAMP},
      gmt_modified = #{record.gmtModified,jdbcType=TIMESTAMP}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.copower.pmcc.assess.dal.entity.BaseFormListField" >
    update tb_base_form_list_field
    <set >
      <if test="formListId != null" >
        form_list_id = #{formListId,jdbcType=INTEGER},
      </if>
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="jsonName != null" >
        json_name = #{jsonName,jdbcType=VARCHAR},
      </if>
      <if test="displayName != null" >
        display_name = #{displayName,jdbcType=VARCHAR},
      </if>
      <if test="tableName != null" >
        table_name = #{tableName,jdbcType=VARCHAR},
      </if>
      <if test="fieldType != null" >
        field_type = #{fieldType,jdbcType=INTEGER},
      </if>
      <if test="fieldLength != null" >
        field_length = #{fieldLength,jdbcType=INTEGER},
      </if>
      <if test="defaultValue != null" >
        default_value = #{defaultValue,jdbcType=VARCHAR},
      </if>
      <if test="dataSourceSql != null" >
        data_source_sql = #{dataSourceSql,jdbcType=VARCHAR},
      </if>
      <if test="sorting != null" >
        sorting = #{sorting,jdbcType=INTEGER},
      </if>
      <if test="bisCacheDataSource != null" >
        bis_cache_data_source = #{bisCacheDataSource,jdbcType=BIT},
      </if>
      <if test="customUrl != null" >
        custom_url = #{customUrl,jdbcType=VARCHAR},
      </if>
      <if test="customDisplayUrl != null" >
        custom_display_url = #{customDisplayUrl,jdbcType=VARCHAR},
      </if>
      <if test="dataViewSql != null" >
        data_view_sql = #{dataViewSql,jdbcType=VARCHAR},
      </if>
      <if test="width != null" >
        width = #{width,jdbcType=INTEGER},
      </if>
      <if test="listWidth != null" >
        list_width = #{listWidth,jdbcType=INTEGER},
      </if>
      <if test="bisCacheDataView != null" >
        bis_cache_data_view = #{bisCacheDataView,jdbcType=BIT},
      </if>
      <if test="bisJson != null" >
        bis_json = #{bisJson,jdbcType=BIT},
      </if>
      <if test="bisRequired != null" >
        bis_required = #{bisRequired,jdbcType=BIT},
      </if>
      <if test="bisShow != null" >
        bis_show = #{bisShow,jdbcType=BIT},
      </if>
      <if test="bisListShow != null" >
        bis_list_show = #{bisListShow,jdbcType=BIT},
      </if>
      <if test="bisAloneLine != null" >
        bis_alone_line = #{bisAloneLine,jdbcType=BIT},
      </if>
      <if test="bisQuery != null" >
        bis_query = #{bisQuery,jdbcType=BIT},
      </if>
      <if test="bisEnable != null" >
        bis_enable = #{bisEnable,jdbcType=BIT},
      </if>
      <if test="bisDelete != null" >
        bis_delete = #{bisDelete,jdbcType=BIT},
      </if>
      <if test="creator != null" >
        creator = #{creator,jdbcType=VARCHAR},
      </if>
      <if test="gmtCreated != null" >
        gmt_created = #{gmtCreated,jdbcType=TIMESTAMP},
      </if>
      <if test="gmtModified != null" >
        gmt_modified = #{gmtModified,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.copower.pmcc.assess.dal.entity.BaseFormListField" >
    update tb_base_form_list_field
    set form_list_id = #{formListId,jdbcType=INTEGER},
      name = #{name,jdbcType=VARCHAR},
      json_name = #{jsonName,jdbcType=VARCHAR},
      display_name = #{displayName,jdbcType=VARCHAR},
      table_name = #{tableName,jdbcType=VARCHAR},
      field_type = #{fieldType,jdbcType=INTEGER},
      field_length = #{fieldLength,jdbcType=INTEGER},
      default_value = #{defaultValue,jdbcType=VARCHAR},
      data_source_sql = #{dataSourceSql,jdbcType=VARCHAR},
      sorting = #{sorting,jdbcType=INTEGER},
      bis_cache_data_source = #{bisCacheDataSource,jdbcType=BIT},
      custom_url = #{customUrl,jdbcType=VARCHAR},
      custom_display_url = #{customDisplayUrl,jdbcType=VARCHAR},
      data_view_sql = #{dataViewSql,jdbcType=VARCHAR},
      width = #{width,jdbcType=INTEGER},
      list_width = #{listWidth,jdbcType=INTEGER},
      bis_cache_data_view = #{bisCacheDataView,jdbcType=BIT},
      bis_json = #{bisJson,jdbcType=BIT},
      bis_required = #{bisRequired,jdbcType=BIT},
      bis_show = #{bisShow,jdbcType=BIT},
      bis_list_show = #{bisListShow,jdbcType=BIT},
      bis_alone_line = #{bisAloneLine,jdbcType=BIT},
      bis_query = #{bisQuery,jdbcType=BIT},
      bis_enable = #{bisEnable,jdbcType=BIT},
      bis_delete = #{bisDelete,jdbcType=BIT},
      creator = #{creator,jdbcType=VARCHAR},
      gmt_created = #{gmtCreated,jdbcType=TIMESTAMP},
      gmt_modified = #{gmtModified,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>