<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.copower.pmcc.assess.dal.mapper.ChksApprovalInfoMapper" >
  <resultMap id="BaseResultMap" type="com.copower.pmcc.assess.dal.entity.ChksApprovalInfo" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="box_id" property="boxId" jdbcType="INTEGER" />
    <result column="box_activity_id" property="boxActivityId" jdbcType="INTEGER" />
    <result column="process_ins_id" property="processInsId" jdbcType="VARCHAR" />
    <result column="person_string" property="personString" jdbcType="VARCHAR" />
    <result column="bis_chks" property="bisChks" jdbcType="BIT" />
    <result column="app_key" property="appKey" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, box_id, box_activity_id, process_ins_id, person_string, bis_chks, app_key
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.copower.pmcc.assess.dal.entity.ChksApprovalInfoExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from tb_chks_approval_info
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from tb_chks_approval_info
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from tb_chks_approval_info
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.copower.pmcc.assess.dal.entity.ChksApprovalInfoExample" >
    delete from tb_chks_approval_info
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.copower.pmcc.assess.dal.entity.ChksApprovalInfo" >
    <selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into tb_chks_approval_info (box_id, box_activity_id, process_ins_id, 
      person_string, bis_chks, app_key
      )
    values (#{boxId,jdbcType=INTEGER}, #{boxActivityId,jdbcType=INTEGER}, #{processInsId,jdbcType=VARCHAR}, 
      #{personString,jdbcType=VARCHAR}, #{bisChks,jdbcType=BIT}, #{appKey,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.copower.pmcc.assess.dal.entity.ChksApprovalInfo" >
    <selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into tb_chks_approval_info
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="boxId != null" >
        box_id,
      </if>
      <if test="boxActivityId != null" >
        box_activity_id,
      </if>
      <if test="processInsId != null" >
        process_ins_id,
      </if>
      <if test="personString != null" >
        person_string,
      </if>
      <if test="bisChks != null" >
        bis_chks,
      </if>
      <if test="appKey != null" >
        app_key,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="boxId != null" >
        #{boxId,jdbcType=INTEGER},
      </if>
      <if test="boxActivityId != null" >
        #{boxActivityId,jdbcType=INTEGER},
      </if>
      <if test="processInsId != null" >
        #{processInsId,jdbcType=VARCHAR},
      </if>
      <if test="personString != null" >
        #{personString,jdbcType=VARCHAR},
      </if>
      <if test="bisChks != null" >
        #{bisChks,jdbcType=BIT},
      </if>
      <if test="appKey != null" >
        #{appKey,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.copower.pmcc.assess.dal.entity.ChksApprovalInfoExample" resultType="java.lang.Integer" >
    select count(*) from tb_chks_approval_info
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update tb_chks_approval_info
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.boxId != null" >
        box_id = #{record.boxId,jdbcType=INTEGER},
      </if>
      <if test="record.boxActivityId != null" >
        box_activity_id = #{record.boxActivityId,jdbcType=INTEGER},
      </if>
      <if test="record.processInsId != null" >
        process_ins_id = #{record.processInsId,jdbcType=VARCHAR},
      </if>
      <if test="record.personString != null" >
        person_string = #{record.personString,jdbcType=VARCHAR},
      </if>
      <if test="record.bisChks != null" >
        bis_chks = #{record.bisChks,jdbcType=BIT},
      </if>
      <if test="record.appKey != null" >
        app_key = #{record.appKey,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update tb_chks_approval_info
    set id = #{record.id,jdbcType=INTEGER},
      box_id = #{record.boxId,jdbcType=INTEGER},
      box_activity_id = #{record.boxActivityId,jdbcType=INTEGER},
      process_ins_id = #{record.processInsId,jdbcType=VARCHAR},
      person_string = #{record.personString,jdbcType=VARCHAR},
      bis_chks = #{record.bisChks,jdbcType=BIT},
      app_key = #{record.appKey,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.copower.pmcc.assess.dal.entity.ChksApprovalInfo" >
    update tb_chks_approval_info
    <set >
      <if test="boxId != null" >
        box_id = #{boxId,jdbcType=INTEGER},
      </if>
      <if test="boxActivityId != null" >
        box_activity_id = #{boxActivityId,jdbcType=INTEGER},
      </if>
      <if test="processInsId != null" >
        process_ins_id = #{processInsId,jdbcType=VARCHAR},
      </if>
      <if test="personString != null" >
        person_string = #{personString,jdbcType=VARCHAR},
      </if>
      <if test="bisChks != null" >
        bis_chks = #{bisChks,jdbcType=BIT},
      </if>
      <if test="appKey != null" >
        app_key = #{appKey,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.copower.pmcc.assess.dal.entity.ChksApprovalInfo" >
    update tb_chks_approval_info
    set box_id = #{boxId,jdbcType=INTEGER},
      box_activity_id = #{boxActivityId,jdbcType=INTEGER},
      process_ins_id = #{processInsId,jdbcType=VARCHAR},
      person_string = #{personString,jdbcType=VARCHAR},
      bis_chks = #{bisChks,jdbcType=BIT},
      app_key = #{appKey,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>