<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.copower.pmcc.assess.dal.mapper.CsrBorrowerMortgageMapper" >
  <resultMap id="BaseResultMap" type="com.copower.pmcc.assess.dal.entity.CsrBorrowerMortgage" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="borrower_id" property="borrowerId" jdbcType="INTEGER" />
    <result column="contract_number" property="contractNumber" jdbcType="VARCHAR" />
    <result column="sign_data" property="signData" jdbcType="VARCHAR" />
    <result column="mortgagor" property="mortgagor" jdbcType="VARCHAR" />
    <result column="mortgage_company" property="mortgageCompany" jdbcType="VARCHAR" />
    <result column="loan_amount" property="loanAmount" jdbcType="VARCHAR" />
    <result column="mortgage_address" property="mortgageAddress" jdbcType="VARCHAR" />
    <result column="land_nature" property="landNature" jdbcType="VARCHAR" />
    <result column="land_area" property="landArea" jdbcType="VARCHAR" />
    <result column="house_nature" property="houseNature" jdbcType="VARCHAR" />
    <result column="area" property="area" jdbcType="VARCHAR" />
    <result column="evaluation_value" property="evaluationValue" jdbcType="VARCHAR" />
    <result column="principal_balance" property="principalBalance" jdbcType="VARCHAR" />
    <result column="mortgage_status" property="mortgageStatus" jdbcType="VARCHAR" />
    <result column="bis_seal_up" property="bisSealUp" jdbcType="VARCHAR" />
    <result column="creator" property="creator" jdbcType="VARCHAR" />
    <result column="gmt_created" property="gmtCreated" jdbcType="TIMESTAMP" />
    <result column="gmt_modified" property="gmtModified" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, borrower_id, contract_number, sign_data, mortgagor, mortgage_company, loan_amount, 
    mortgage_address, land_nature, land_area, house_nature, area, evaluation_value, principal_balance, 
    mortgage_status, bis_seal_up, creator, gmt_created, gmt_modified
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.copower.pmcc.assess.dal.entity.CsrBorrowerMortgageExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from tb_csr_borrower_mortgage
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from tb_csr_borrower_mortgage
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from tb_csr_borrower_mortgage
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.copower.pmcc.assess.dal.entity.CsrBorrowerMortgageExample" >
    delete from tb_csr_borrower_mortgage
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.copower.pmcc.assess.dal.entity.CsrBorrowerMortgage" >
    <selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into tb_csr_borrower_mortgage (borrower_id, contract_number, sign_data, 
      mortgagor, mortgage_company, loan_amount, 
      mortgage_address, land_nature, land_area, 
      house_nature, area, evaluation_value, 
      principal_balance, mortgage_status, bis_seal_up, 
      creator, gmt_created, gmt_modified
      )
    values (#{borrowerId,jdbcType=INTEGER}, #{contractNumber,jdbcType=VARCHAR}, #{signData,jdbcType=VARCHAR}, 
      #{mortgagor,jdbcType=VARCHAR}, #{mortgageCompany,jdbcType=VARCHAR}, #{loanAmount,jdbcType=VARCHAR}, 
      #{mortgageAddress,jdbcType=VARCHAR}, #{landNature,jdbcType=VARCHAR}, #{landArea,jdbcType=VARCHAR}, 
      #{houseNature,jdbcType=VARCHAR}, #{area,jdbcType=VARCHAR}, #{evaluationValue,jdbcType=VARCHAR}, 
      #{principalBalance,jdbcType=VARCHAR}, #{mortgageStatus,jdbcType=VARCHAR}, #{bisSealUp,jdbcType=VARCHAR}, 
      #{creator,jdbcType=VARCHAR}, #{gmtCreated,jdbcType=TIMESTAMP}, #{gmtModified,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.copower.pmcc.assess.dal.entity.CsrBorrowerMortgage" >
    <selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into tb_csr_borrower_mortgage
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="borrowerId != null" >
        borrower_id,
      </if>
      <if test="contractNumber != null" >
        contract_number,
      </if>
      <if test="signData != null" >
        sign_data,
      </if>
      <if test="mortgagor != null" >
        mortgagor,
      </if>
      <if test="mortgageCompany != null" >
        mortgage_company,
      </if>
      <if test="loanAmount != null" >
        loan_amount,
      </if>
      <if test="mortgageAddress != null" >
        mortgage_address,
      </if>
      <if test="landNature != null" >
        land_nature,
      </if>
      <if test="landArea != null" >
        land_area,
      </if>
      <if test="houseNature != null" >
        house_nature,
      </if>
      <if test="area != null" >
        area,
      </if>
      <if test="evaluationValue != null" >
        evaluation_value,
      </if>
      <if test="principalBalance != null" >
        principal_balance,
      </if>
      <if test="mortgageStatus != null" >
        mortgage_status,
      </if>
      <if test="bisSealUp != null" >
        bis_seal_up,
      </if>
      <if test="creator != null" >
        creator,
      </if>
      <if test="gmtCreated != null" >
        gmt_created,
      </if>
      <if test="gmtModified != null" >
        gmt_modified,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="borrowerId != null" >
        #{borrowerId,jdbcType=INTEGER},
      </if>
      <if test="contractNumber != null" >
        #{contractNumber,jdbcType=VARCHAR},
      </if>
      <if test="signData != null" >
        #{signData,jdbcType=VARCHAR},
      </if>
      <if test="mortgagor != null" >
        #{mortgagor,jdbcType=VARCHAR},
      </if>
      <if test="mortgageCompany != null" >
        #{mortgageCompany,jdbcType=VARCHAR},
      </if>
      <if test="loanAmount != null" >
        #{loanAmount,jdbcType=VARCHAR},
      </if>
      <if test="mortgageAddress != null" >
        #{mortgageAddress,jdbcType=VARCHAR},
      </if>
      <if test="landNature != null" >
        #{landNature,jdbcType=VARCHAR},
      </if>
      <if test="landArea != null" >
        #{landArea,jdbcType=VARCHAR},
      </if>
      <if test="houseNature != null" >
        #{houseNature,jdbcType=VARCHAR},
      </if>
      <if test="area != null" >
        #{area,jdbcType=VARCHAR},
      </if>
      <if test="evaluationValue != null" >
        #{evaluationValue,jdbcType=VARCHAR},
      </if>
      <if test="principalBalance != null" >
        #{principalBalance,jdbcType=VARCHAR},
      </if>
      <if test="mortgageStatus != null" >
        #{mortgageStatus,jdbcType=VARCHAR},
      </if>
      <if test="bisSealUp != null" >
        #{bisSealUp,jdbcType=VARCHAR},
      </if>
      <if test="creator != null" >
        #{creator,jdbcType=VARCHAR},
      </if>
      <if test="gmtCreated != null" >
        #{gmtCreated,jdbcType=TIMESTAMP},
      </if>
      <if test="gmtModified != null" >
        #{gmtModified,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.copower.pmcc.assess.dal.entity.CsrBorrowerMortgageExample" resultType="java.lang.Integer" >
    select count(*) from tb_csr_borrower_mortgage
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update tb_csr_borrower_mortgage
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.borrowerId != null" >
        borrower_id = #{record.borrowerId,jdbcType=INTEGER},
      </if>
      <if test="record.contractNumber != null" >
        contract_number = #{record.contractNumber,jdbcType=VARCHAR},
      </if>
      <if test="record.signData != null" >
        sign_data = #{record.signData,jdbcType=VARCHAR},
      </if>
      <if test="record.mortgagor != null" >
        mortgagor = #{record.mortgagor,jdbcType=VARCHAR},
      </if>
      <if test="record.mortgageCompany != null" >
        mortgage_company = #{record.mortgageCompany,jdbcType=VARCHAR},
      </if>
      <if test="record.loanAmount != null" >
        loan_amount = #{record.loanAmount,jdbcType=VARCHAR},
      </if>
      <if test="record.mortgageAddress != null" >
        mortgage_address = #{record.mortgageAddress,jdbcType=VARCHAR},
      </if>
      <if test="record.landNature != null" >
        land_nature = #{record.landNature,jdbcType=VARCHAR},
      </if>
      <if test="record.landArea != null" >
        land_area = #{record.landArea,jdbcType=VARCHAR},
      </if>
      <if test="record.houseNature != null" >
        house_nature = #{record.houseNature,jdbcType=VARCHAR},
      </if>
      <if test="record.area != null" >
        area = #{record.area,jdbcType=VARCHAR},
      </if>
      <if test="record.evaluationValue != null" >
        evaluation_value = #{record.evaluationValue,jdbcType=VARCHAR},
      </if>
      <if test="record.principalBalance != null" >
        principal_balance = #{record.principalBalance,jdbcType=VARCHAR},
      </if>
      <if test="record.mortgageStatus != null" >
        mortgage_status = #{record.mortgageStatus,jdbcType=VARCHAR},
      </if>
      <if test="record.bisSealUp != null" >
        bis_seal_up = #{record.bisSealUp,jdbcType=VARCHAR},
      </if>
      <if test="record.creator != null" >
        creator = #{record.creator,jdbcType=VARCHAR},
      </if>
      <if test="record.gmtCreated != null" >
        gmt_created = #{record.gmtCreated,jdbcType=TIMESTAMP},
      </if>
      <if test="record.gmtModified != null" >
        gmt_modified = #{record.gmtModified,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update tb_csr_borrower_mortgage
    set id = #{record.id,jdbcType=INTEGER},
      borrower_id = #{record.borrowerId,jdbcType=INTEGER},
      contract_number = #{record.contractNumber,jdbcType=VARCHAR},
      sign_data = #{record.signData,jdbcType=VARCHAR},
      mortgagor = #{record.mortgagor,jdbcType=VARCHAR},
      mortgage_company = #{record.mortgageCompany,jdbcType=VARCHAR},
      loan_amount = #{record.loanAmount,jdbcType=VARCHAR},
      mortgage_address = #{record.mortgageAddress,jdbcType=VARCHAR},
      land_nature = #{record.landNature,jdbcType=VARCHAR},
      land_area = #{record.landArea,jdbcType=VARCHAR},
      house_nature = #{record.houseNature,jdbcType=VARCHAR},
      area = #{record.area,jdbcType=VARCHAR},
      evaluation_value = #{record.evaluationValue,jdbcType=VARCHAR},
      principal_balance = #{record.principalBalance,jdbcType=VARCHAR},
      mortgage_status = #{record.mortgageStatus,jdbcType=VARCHAR},
      bis_seal_up = #{record.bisSealUp,jdbcType=VARCHAR},
      creator = #{record.creator,jdbcType=VARCHAR},
      gmt_created = #{record.gmtCreated,jdbcType=TIMESTAMP},
      gmt_modified = #{record.gmtModified,jdbcType=TIMESTAMP}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.copower.pmcc.assess.dal.entity.CsrBorrowerMortgage" >
    update tb_csr_borrower_mortgage
    <set >
      <if test="borrowerId != null" >
        borrower_id = #{borrowerId,jdbcType=INTEGER},
      </if>
      <if test="contractNumber != null" >
        contract_number = #{contractNumber,jdbcType=VARCHAR},
      </if>
      <if test="signData != null" >
        sign_data = #{signData,jdbcType=VARCHAR},
      </if>
      <if test="mortgagor != null" >
        mortgagor = #{mortgagor,jdbcType=VARCHAR},
      </if>
      <if test="mortgageCompany != null" >
        mortgage_company = #{mortgageCompany,jdbcType=VARCHAR},
      </if>
      <if test="loanAmount != null" >
        loan_amount = #{loanAmount,jdbcType=VARCHAR},
      </if>
      <if test="mortgageAddress != null" >
        mortgage_address = #{mortgageAddress,jdbcType=VARCHAR},
      </if>
      <if test="landNature != null" >
        land_nature = #{landNature,jdbcType=VARCHAR},
      </if>
      <if test="landArea != null" >
        land_area = #{landArea,jdbcType=VARCHAR},
      </if>
      <if test="houseNature != null" >
        house_nature = #{houseNature,jdbcType=VARCHAR},
      </if>
      <if test="area != null" >
        area = #{area,jdbcType=VARCHAR},
      </if>
      <if test="evaluationValue != null" >
        evaluation_value = #{evaluationValue,jdbcType=VARCHAR},
      </if>
      <if test="principalBalance != null" >
        principal_balance = #{principalBalance,jdbcType=VARCHAR},
      </if>
      <if test="mortgageStatus != null" >
        mortgage_status = #{mortgageStatus,jdbcType=VARCHAR},
      </if>
      <if test="bisSealUp != null" >
        bis_seal_up = #{bisSealUp,jdbcType=VARCHAR},
      </if>
      <if test="creator != null" >
        creator = #{creator,jdbcType=VARCHAR},
      </if>
      <if test="gmtCreated != null" >
        gmt_created = #{gmtCreated,jdbcType=TIMESTAMP},
      </if>
      <if test="gmtModified != null" >
        gmt_modified = #{gmtModified,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.copower.pmcc.assess.dal.entity.CsrBorrowerMortgage" >
    update tb_csr_borrower_mortgage
    set borrower_id = #{borrowerId,jdbcType=INTEGER},
      contract_number = #{contractNumber,jdbcType=VARCHAR},
      sign_data = #{signData,jdbcType=VARCHAR},
      mortgagor = #{mortgagor,jdbcType=VARCHAR},
      mortgage_company = #{mortgageCompany,jdbcType=VARCHAR},
      loan_amount = #{loanAmount,jdbcType=VARCHAR},
      mortgage_address = #{mortgageAddress,jdbcType=VARCHAR},
      land_nature = #{landNature,jdbcType=VARCHAR},
      land_area = #{landArea,jdbcType=VARCHAR},
      house_nature = #{houseNature,jdbcType=VARCHAR},
      area = #{area,jdbcType=VARCHAR},
      evaluation_value = #{evaluationValue,jdbcType=VARCHAR},
      principal_balance = #{principalBalance,jdbcType=VARCHAR},
      mortgage_status = #{mortgageStatus,jdbcType=VARCHAR},
      bis_seal_up = #{bisSealUp,jdbcType=VARCHAR},
      creator = #{creator,jdbcType=VARCHAR},
      gmt_created = #{gmtCreated,jdbcType=TIMESTAMP},
      gmt_modified = #{gmtModified,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>