<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.copower.pmcc.assess.dal.mapper.CsrPrincipalInterestMapper" >
  <resultMap id="BaseResultMap" type="com.copower.pmcc.assess.dal.entity.CsrPrincipalInterest" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="csr_project_id" property="csrProjectId" jdbcType="INTEGER" />
    <result column="borrower_id" property="borrowerId" jdbcType="VARCHAR" />
    <result column="analysis_datum_date" property="analysisDatumDate" jdbcType="VARCHAR" />
    <result column="principal" property="principal" jdbcType="VARCHAR" />
    <result column="interest" property="interest" jdbcType="VARCHAR" />
    <result column="principal_interest_total" property="principalInterestTotal" jdbcType="VARCHAR" />
    <result column="bis_import" property="bisImport" jdbcType="BIT" />
    <result column="creator" property="creator" jdbcType="VARCHAR" />
    <result column="gmt_created" property="gmtCreated" jdbcType="TIMESTAMP" />
    <result column="gmt_modified" property="gmtModified" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, csr_project_id, borrower_id, analysis_datum_date, principal, interest, principal_interest_total, 
    bis_import, creator, gmt_created, gmt_modified
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.copower.pmcc.assess.dal.entity.CsrPrincipalInterestExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from tb_csr_principal_interest
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from tb_csr_principal_interest
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from tb_csr_principal_interest
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.copower.pmcc.assess.dal.entity.CsrPrincipalInterestExample" >
    delete from tb_csr_principal_interest
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.copower.pmcc.assess.dal.entity.CsrPrincipalInterest" >
    <selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into tb_csr_principal_interest (csr_project_id, borrower_id, analysis_datum_date, 
      principal, interest, principal_interest_total, 
      bis_import, creator, gmt_created, 
      gmt_modified)
    values (#{csrProjectId,jdbcType=INTEGER}, #{borrowerId,jdbcType=VARCHAR}, #{analysisDatumDate,jdbcType=VARCHAR}, 
      #{principal,jdbcType=VARCHAR}, #{interest,jdbcType=VARCHAR}, #{principalInterestTotal,jdbcType=VARCHAR}, 
      #{bisImport,jdbcType=BIT}, #{creator,jdbcType=VARCHAR}, #{gmtCreated,jdbcType=TIMESTAMP}, 
      #{gmtModified,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.copower.pmcc.assess.dal.entity.CsrPrincipalInterest" >
    <selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into tb_csr_principal_interest
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="csrProjectId != null" >
        csr_project_id,
      </if>
      <if test="borrowerId != null" >
        borrower_id,
      </if>
      <if test="analysisDatumDate != null" >
        analysis_datum_date,
      </if>
      <if test="principal != null" >
        principal,
      </if>
      <if test="interest != null" >
        interest,
      </if>
      <if test="principalInterestTotal != null" >
        principal_interest_total,
      </if>
      <if test="bisImport != null" >
        bis_import,
      </if>
      <if test="creator != null" >
        creator,
      </if>
      <if test="gmtCreated != null" >
        gmt_created,
      </if>
      <if test="gmtModified != null" >
        gmt_modified,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="csrProjectId != null" >
        #{csrProjectId,jdbcType=INTEGER},
      </if>
      <if test="borrowerId != null" >
        #{borrowerId,jdbcType=VARCHAR},
      </if>
      <if test="analysisDatumDate != null" >
        #{analysisDatumDate,jdbcType=VARCHAR},
      </if>
      <if test="principal != null" >
        #{principal,jdbcType=VARCHAR},
      </if>
      <if test="interest != null" >
        #{interest,jdbcType=VARCHAR},
      </if>
      <if test="principalInterestTotal != null" >
        #{principalInterestTotal,jdbcType=VARCHAR},
      </if>
      <if test="bisImport != null" >
        #{bisImport,jdbcType=BIT},
      </if>
      <if test="creator != null" >
        #{creator,jdbcType=VARCHAR},
      </if>
      <if test="gmtCreated != null" >
        #{gmtCreated,jdbcType=TIMESTAMP},
      </if>
      <if test="gmtModified != null" >
        #{gmtModified,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.copower.pmcc.assess.dal.entity.CsrPrincipalInterestExample" resultType="java.lang.Integer" >
    select count(*) from tb_csr_principal_interest
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update tb_csr_principal_interest
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.csrProjectId != null" >
        csr_project_id = #{record.csrProjectId,jdbcType=INTEGER},
      </if>
      <if test="record.borrowerId != null" >
        borrower_id = #{record.borrowerId,jdbcType=VARCHAR},
      </if>
      <if test="record.analysisDatumDate != null" >
        analysis_datum_date = #{record.analysisDatumDate,jdbcType=VARCHAR},
      </if>
      <if test="record.principal != null" >
        principal = #{record.principal,jdbcType=VARCHAR},
      </if>
      <if test="record.interest != null" >
        interest = #{record.interest,jdbcType=VARCHAR},
      </if>
      <if test="record.principalInterestTotal != null" >
        principal_interest_total = #{record.principalInterestTotal,jdbcType=VARCHAR},
      </if>
      <if test="record.bisImport != null" >
        bis_import = #{record.bisImport,jdbcType=BIT},
      </if>
      <if test="record.creator != null" >
        creator = #{record.creator,jdbcType=VARCHAR},
      </if>
      <if test="record.gmtCreated != null" >
        gmt_created = #{record.gmtCreated,jdbcType=TIMESTAMP},
      </if>
      <if test="record.gmtModified != null" >
        gmt_modified = #{record.gmtModified,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update tb_csr_principal_interest
    set id = #{record.id,jdbcType=INTEGER},
      csr_project_id = #{record.csrProjectId,jdbcType=INTEGER},
      borrower_id = #{record.borrowerId,jdbcType=VARCHAR},
      analysis_datum_date = #{record.analysisDatumDate,jdbcType=VARCHAR},
      principal = #{record.principal,jdbcType=VARCHAR},
      interest = #{record.interest,jdbcType=VARCHAR},
      principal_interest_total = #{record.principalInterestTotal,jdbcType=VARCHAR},
      bis_import = #{record.bisImport,jdbcType=BIT},
      creator = #{record.creator,jdbcType=VARCHAR},
      gmt_created = #{record.gmtCreated,jdbcType=TIMESTAMP},
      gmt_modified = #{record.gmtModified,jdbcType=TIMESTAMP}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.copower.pmcc.assess.dal.entity.CsrPrincipalInterest" >
    update tb_csr_principal_interest
    <set >
      <if test="csrProjectId != null" >
        csr_project_id = #{csrProjectId,jdbcType=INTEGER},
      </if>
      <if test="borrowerId != null" >
        borrower_id = #{borrowerId,jdbcType=VARCHAR},
      </if>
      <if test="analysisDatumDate != null" >
        analysis_datum_date = #{analysisDatumDate,jdbcType=VARCHAR},
      </if>
      <if test="principal != null" >
        principal = #{principal,jdbcType=VARCHAR},
      </if>
      <if test="interest != null" >
        interest = #{interest,jdbcType=VARCHAR},
      </if>
      <if test="principalInterestTotal != null" >
        principal_interest_total = #{principalInterestTotal,jdbcType=VARCHAR},
      </if>
      <if test="bisImport != null" >
        bis_import = #{bisImport,jdbcType=BIT},
      </if>
      <if test="creator != null" >
        creator = #{creator,jdbcType=VARCHAR},
      </if>
      <if test="gmtCreated != null" >
        gmt_created = #{gmtCreated,jdbcType=TIMESTAMP},
      </if>
      <if test="gmtModified != null" >
        gmt_modified = #{gmtModified,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.copower.pmcc.assess.dal.entity.CsrPrincipalInterest" >
    update tb_csr_principal_interest
    set csr_project_id = #{csrProjectId,jdbcType=INTEGER},
      borrower_id = #{borrowerId,jdbcType=VARCHAR},
      analysis_datum_date = #{analysisDatumDate,jdbcType=VARCHAR},
      principal = #{principal,jdbcType=VARCHAR},
      interest = #{interest,jdbcType=VARCHAR},
      principal_interest_total = #{principalInterestTotal,jdbcType=VARCHAR},
      bis_import = #{bisImport,jdbcType=BIT},
      creator = #{creator,jdbcType=VARCHAR},
      gmt_created = #{gmtCreated,jdbcType=TIMESTAMP},
      gmt_modified = #{gmtModified,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>