<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.copower.pmcc.assess.dal.mapper.CsrProjectInfoMapper" >
  <resultMap id="BaseResultMap" type="com.copower.pmcc.assess.dal.entity.CsrProjectInfo" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="process_ins_id" property="processInsId" jdbcType="VARCHAR" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="customer_type" property="customerType" jdbcType="INTEGER" />
    <result column="entrustment_unit_id" property="entrustmentUnitId" jdbcType="INTEGER" />
    <result column="entrustment_unit_name" property="entrustmentUnitName" jdbcType="VARCHAR" />
    <result column="entrust_purpose" property="entrustPurpose" jdbcType="INTEGER" />
    <result column="valuation_date" property="valuationDate" jdbcType="DATE" />
    <result column="distribution_user" property="distributionUser" jdbcType="VARCHAR" />
    <result column="remark" property="remark" jdbcType="VARCHAR" />
    <result column="start_row_number" property="startRowNumber" jdbcType="INTEGER" />
    <result column="status" property="status" jdbcType="VARCHAR" />
    <result column="project_status" property="projectStatus" jdbcType="VARCHAR" />
    <result column="creator" property="creator" jdbcType="VARCHAR" />
    <result column="gmt_created" property="gmtCreated" jdbcType="TIMESTAMP" />
    <result column="gmt_modified" property="gmtModified" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, process_ins_id, name, customer_type, entrustment_unit_id, entrustment_unit_name, 
    entrust_purpose, valuation_date, distribution_user, remark, start_row_number, status, 
    project_status, creator, gmt_created, gmt_modified
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.copower.pmcc.assess.dal.entity.CsrProjectInfoExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from tb_csr_project_info
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from tb_csr_project_info
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from tb_csr_project_info
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.copower.pmcc.assess.dal.entity.CsrProjectInfoExample" >
    delete from tb_csr_project_info
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.copower.pmcc.assess.dal.entity.CsrProjectInfo" >
    <selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into tb_csr_project_info (process_ins_id, name, customer_type, 
      entrustment_unit_id, entrustment_unit_name, 
      entrust_purpose, valuation_date, distribution_user, 
      remark, start_row_number, status, 
      project_status, creator, gmt_created, 
      gmt_modified)
    values (#{processInsId,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR}, #{customerType,jdbcType=INTEGER}, 
      #{entrustmentUnitId,jdbcType=INTEGER}, #{entrustmentUnitName,jdbcType=VARCHAR}, 
      #{entrustPurpose,jdbcType=INTEGER}, #{valuationDate,jdbcType=DATE}, #{distributionUser,jdbcType=VARCHAR}, 
      #{remark,jdbcType=VARCHAR}, #{startRowNumber,jdbcType=INTEGER}, #{status,jdbcType=VARCHAR}, 
      #{projectStatus,jdbcType=VARCHAR}, #{creator,jdbcType=VARCHAR}, #{gmtCreated,jdbcType=TIMESTAMP}, 
      #{gmtModified,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.copower.pmcc.assess.dal.entity.CsrProjectInfo" >
    <selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into tb_csr_project_info
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="processInsId != null" >
        process_ins_id,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="customerType != null" >
        customer_type,
      </if>
      <if test="entrustmentUnitId != null" >
        entrustment_unit_id,
      </if>
      <if test="entrustmentUnitName != null" >
        entrustment_unit_name,
      </if>
      <if test="entrustPurpose != null" >
        entrust_purpose,
      </if>
      <if test="valuationDate != null" >
        valuation_date,
      </if>
      <if test="distributionUser != null" >
        distribution_user,
      </if>
      <if test="remark != null" >
        remark,
      </if>
      <if test="startRowNumber != null" >
        start_row_number,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="projectStatus != null" >
        project_status,
      </if>
      <if test="creator != null" >
        creator,
      </if>
      <if test="gmtCreated != null" >
        gmt_created,
      </if>
      <if test="gmtModified != null" >
        gmt_modified,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="processInsId != null" >
        #{processInsId,jdbcType=VARCHAR},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="customerType != null" >
        #{customerType,jdbcType=INTEGER},
      </if>
      <if test="entrustmentUnitId != null" >
        #{entrustmentUnitId,jdbcType=INTEGER},
      </if>
      <if test="entrustmentUnitName != null" >
        #{entrustmentUnitName,jdbcType=VARCHAR},
      </if>
      <if test="entrustPurpose != null" >
        #{entrustPurpose,jdbcType=INTEGER},
      </if>
      <if test="valuationDate != null" >
        #{valuationDate,jdbcType=DATE},
      </if>
      <if test="distributionUser != null" >
        #{distributionUser,jdbcType=VARCHAR},
      </if>
      <if test="remark != null" >
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="startRowNumber != null" >
        #{startRowNumber,jdbcType=INTEGER},
      </if>
      <if test="status != null" >
        #{status,jdbcType=VARCHAR},
      </if>
      <if test="projectStatus != null" >
        #{projectStatus,jdbcType=VARCHAR},
      </if>
      <if test="creator != null" >
        #{creator,jdbcType=VARCHAR},
      </if>
      <if test="gmtCreated != null" >
        #{gmtCreated,jdbcType=TIMESTAMP},
      </if>
      <if test="gmtModified != null" >
        #{gmtModified,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.copower.pmcc.assess.dal.entity.CsrProjectInfoExample" resultType="java.lang.Integer" >
    select count(*) from tb_csr_project_info
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update tb_csr_project_info
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.processInsId != null" >
        process_ins_id = #{record.processInsId,jdbcType=VARCHAR},
      </if>
      <if test="record.name != null" >
        name = #{record.name,jdbcType=VARCHAR},
      </if>
      <if test="record.customerType != null" >
        customer_type = #{record.customerType,jdbcType=INTEGER},
      </if>
      <if test="record.entrustmentUnitId != null" >
        entrustment_unit_id = #{record.entrustmentUnitId,jdbcType=INTEGER},
      </if>
      <if test="record.entrustmentUnitName != null" >
        entrustment_unit_name = #{record.entrustmentUnitName,jdbcType=VARCHAR},
      </if>
      <if test="record.entrustPurpose != null" >
        entrust_purpose = #{record.entrustPurpose,jdbcType=INTEGER},
      </if>
      <if test="record.valuationDate != null" >
        valuation_date = #{record.valuationDate,jdbcType=DATE},
      </if>
      <if test="record.distributionUser != null" >
        distribution_user = #{record.distributionUser,jdbcType=VARCHAR},
      </if>
      <if test="record.remark != null" >
        remark = #{record.remark,jdbcType=VARCHAR},
      </if>
      <if test="record.startRowNumber != null" >
        start_row_number = #{record.startRowNumber,jdbcType=INTEGER},
      </if>
      <if test="record.status != null" >
        status = #{record.status,jdbcType=VARCHAR},
      </if>
      <if test="record.projectStatus != null" >
        project_status = #{record.projectStatus,jdbcType=VARCHAR},
      </if>
      <if test="record.creator != null" >
        creator = #{record.creator,jdbcType=VARCHAR},
      </if>
      <if test="record.gmtCreated != null" >
        gmt_created = #{record.gmtCreated,jdbcType=TIMESTAMP},
      </if>
      <if test="record.gmtModified != null" >
        gmt_modified = #{record.gmtModified,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update tb_csr_project_info
    set id = #{record.id,jdbcType=INTEGER},
      process_ins_id = #{record.processInsId,jdbcType=VARCHAR},
      name = #{record.name,jdbcType=VARCHAR},
      customer_type = #{record.customerType,jdbcType=INTEGER},
      entrustment_unit_id = #{record.entrustmentUnitId,jdbcType=INTEGER},
      entrustment_unit_name = #{record.entrustmentUnitName,jdbcType=VARCHAR},
      entrust_purpose = #{record.entrustPurpose,jdbcType=INTEGER},
      valuation_date = #{record.valuationDate,jdbcType=DATE},
      distribution_user = #{record.distributionUser,jdbcType=VARCHAR},
      remark = #{record.remark,jdbcType=VARCHAR},
      start_row_number = #{record.startRowNumber,jdbcType=INTEGER},
      status = #{record.status,jdbcType=VARCHAR},
      project_status = #{record.projectStatus,jdbcType=VARCHAR},
      creator = #{record.creator,jdbcType=VARCHAR},
      gmt_created = #{record.gmtCreated,jdbcType=TIMESTAMP},
      gmt_modified = #{record.gmtModified,jdbcType=TIMESTAMP}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.copower.pmcc.assess.dal.entity.CsrProjectInfo" >
    update tb_csr_project_info
    <set >
      <if test="processInsId != null" >
        process_ins_id = #{processInsId,jdbcType=VARCHAR},
      </if>
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="customerType != null" >
        customer_type = #{customerType,jdbcType=INTEGER},
      </if>
      <if test="entrustmentUnitId != null" >
        entrustment_unit_id = #{entrustmentUnitId,jdbcType=INTEGER},
      </if>
      <if test="entrustmentUnitName != null" >
        entrustment_unit_name = #{entrustmentUnitName,jdbcType=VARCHAR},
      </if>
      <if test="entrustPurpose != null" >
        entrust_purpose = #{entrustPurpose,jdbcType=INTEGER},
      </if>
      <if test="valuationDate != null" >
        valuation_date = #{valuationDate,jdbcType=DATE},
      </if>
      <if test="distributionUser != null" >
        distribution_user = #{distributionUser,jdbcType=VARCHAR},
      </if>
      <if test="remark != null" >
        remark = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="startRowNumber != null" >
        start_row_number = #{startRowNumber,jdbcType=INTEGER},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=VARCHAR},
      </if>
      <if test="projectStatus != null" >
        project_status = #{projectStatus,jdbcType=VARCHAR},
      </if>
      <if test="creator != null" >
        creator = #{creator,jdbcType=VARCHAR},
      </if>
      <if test="gmtCreated != null" >
        gmt_created = #{gmtCreated,jdbcType=TIMESTAMP},
      </if>
      <if test="gmtModified != null" >
        gmt_modified = #{gmtModified,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.copower.pmcc.assess.dal.entity.CsrProjectInfo" >
    update tb_csr_project_info
    set process_ins_id = #{processInsId,jdbcType=VARCHAR},
      name = #{name,jdbcType=VARCHAR},
      customer_type = #{customerType,jdbcType=INTEGER},
      entrustment_unit_id = #{entrustmentUnitId,jdbcType=INTEGER},
      entrustment_unit_name = #{entrustmentUnitName,jdbcType=VARCHAR},
      entrust_purpose = #{entrustPurpose,jdbcType=INTEGER},
      valuation_date = #{valuationDate,jdbcType=DATE},
      distribution_user = #{distributionUser,jdbcType=VARCHAR},
      remark = #{remark,jdbcType=VARCHAR},
      start_row_number = #{startRowNumber,jdbcType=INTEGER},
      status = #{status,jdbcType=VARCHAR},
      project_status = #{projectStatus,jdbcType=VARCHAR},
      creator = #{creator,jdbcType=VARCHAR},
      gmt_created = #{gmtCreated,jdbcType=TIMESTAMP},
      gmt_modified = #{gmtModified,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>