<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.copower.pmcc.assess.dal.mapper.InitiateContactsMapper" >
  <resultMap id="BaseResultMap" type="com.copower.pmcc.assess.dal.entity.InitiateContacts" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="creator" property="creator" jdbcType="VARCHAR" />
    <result column="gmt_created" property="gmtCreated" jdbcType="TIMESTAMP" />
    <result column="gmt_modified" property="gmtModified" jdbcType="TIMESTAMP" />
    <result column="c_type" property="cType" jdbcType="INTEGER" />
    <result column="c_name" property="cName" jdbcType="VARCHAR" />
    <result column="c_dept" property="cDept" jdbcType="VARCHAR" />
    <result column="c_phone" property="cPhone" jdbcType="VARCHAR" />
    <result column="c_email" property="cEmail" jdbcType="VARCHAR" />
    <result column="c_spare_field" property="cSpareField" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, creator, gmt_created, gmt_modified, c_type, c_name, c_dept, c_phone, c_email, 
    c_spare_field
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.copower.pmcc.assess.dal.entity.InitiateContactsExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from tb_initiate_contacts
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from tb_initiate_contacts
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from tb_initiate_contacts
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.copower.pmcc.assess.dal.entity.InitiateContactsExample" >
    delete from tb_initiate_contacts
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.copower.pmcc.assess.dal.entity.InitiateContacts" >
    <selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into tb_initiate_contacts (creator, gmt_created, gmt_modified, 
      c_type, c_name, c_dept, 
      c_phone, c_email, c_spare_field
      )
    values (#{creator,jdbcType=VARCHAR}, #{gmtCreated,jdbcType=TIMESTAMP}, #{gmtModified,jdbcType=TIMESTAMP}, 
      #{cType,jdbcType=INTEGER}, #{cName,jdbcType=VARCHAR}, #{cDept,jdbcType=VARCHAR}, 
      #{cPhone,jdbcType=VARCHAR}, #{cEmail,jdbcType=VARCHAR}, #{cSpareField,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.copower.pmcc.assess.dal.entity.InitiateContacts" >
    <selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into tb_initiate_contacts
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="creator != null" >
        creator,
      </if>
      <if test="gmtCreated != null" >
        gmt_created,
      </if>
      <if test="gmtModified != null" >
        gmt_modified,
      </if>
      <if test="cType != null" >
        c_type,
      </if>
      <if test="cName != null" >
        c_name,
      </if>
      <if test="cDept != null" >
        c_dept,
      </if>
      <if test="cPhone != null" >
        c_phone,
      </if>
      <if test="cEmail != null" >
        c_email,
      </if>
      <if test="cSpareField != null" >
        c_spare_field,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="creator != null" >
        #{creator,jdbcType=VARCHAR},
      </if>
      <if test="gmtCreated != null" >
        #{gmtCreated,jdbcType=TIMESTAMP},
      </if>
      <if test="gmtModified != null" >
        #{gmtModified,jdbcType=TIMESTAMP},
      </if>
      <if test="cType != null" >
        #{cType,jdbcType=INTEGER},
      </if>
      <if test="cName != null" >
        #{cName,jdbcType=VARCHAR},
      </if>
      <if test="cDept != null" >
        #{cDept,jdbcType=VARCHAR},
      </if>
      <if test="cPhone != null" >
        #{cPhone,jdbcType=VARCHAR},
      </if>
      <if test="cEmail != null" >
        #{cEmail,jdbcType=VARCHAR},
      </if>
      <if test="cSpareField != null" >
        #{cSpareField,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.copower.pmcc.assess.dal.entity.InitiateContactsExample" resultType="java.lang.Integer" >
    select count(*) from tb_initiate_contacts
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update tb_initiate_contacts
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.creator != null" >
        creator = #{record.creator,jdbcType=VARCHAR},
      </if>
      <if test="record.gmtCreated != null" >
        gmt_created = #{record.gmtCreated,jdbcType=TIMESTAMP},
      </if>
      <if test="record.gmtModified != null" >
        gmt_modified = #{record.gmtModified,jdbcType=TIMESTAMP},
      </if>
      <if test="record.cType != null" >
        c_type = #{record.cType,jdbcType=INTEGER},
      </if>
      <if test="record.cName != null" >
        c_name = #{record.cName,jdbcType=VARCHAR},
      </if>
      <if test="record.cDept != null" >
        c_dept = #{record.cDept,jdbcType=VARCHAR},
      </if>
      <if test="record.cPhone != null" >
        c_phone = #{record.cPhone,jdbcType=VARCHAR},
      </if>
      <if test="record.cEmail != null" >
        c_email = #{record.cEmail,jdbcType=VARCHAR},
      </if>
      <if test="record.cSpareField != null" >
        c_spare_field = #{record.cSpareField,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update tb_initiate_contacts
    set id = #{record.id,jdbcType=INTEGER},
      creator = #{record.creator,jdbcType=VARCHAR},
      gmt_created = #{record.gmtCreated,jdbcType=TIMESTAMP},
      gmt_modified = #{record.gmtModified,jdbcType=TIMESTAMP},
      c_type = #{record.cType,jdbcType=INTEGER},
      c_name = #{record.cName,jdbcType=VARCHAR},
      c_dept = #{record.cDept,jdbcType=VARCHAR},
      c_phone = #{record.cPhone,jdbcType=VARCHAR},
      c_email = #{record.cEmail,jdbcType=VARCHAR},
      c_spare_field = #{record.cSpareField,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.copower.pmcc.assess.dal.entity.InitiateContacts" >
    update tb_initiate_contacts
    <set >
      <if test="creator != null" >
        creator = #{creator,jdbcType=VARCHAR},
      </if>
      <if test="gmtCreated != null" >
        gmt_created = #{gmtCreated,jdbcType=TIMESTAMP},
      </if>
      <if test="gmtModified != null" >
        gmt_modified = #{gmtModified,jdbcType=TIMESTAMP},
      </if>
      <if test="cType != null" >
        c_type = #{cType,jdbcType=INTEGER},
      </if>
      <if test="cName != null" >
        c_name = #{cName,jdbcType=VARCHAR},
      </if>
      <if test="cDept != null" >
        c_dept = #{cDept,jdbcType=VARCHAR},
      </if>
      <if test="cPhone != null" >
        c_phone = #{cPhone,jdbcType=VARCHAR},
      </if>
      <if test="cEmail != null" >
        c_email = #{cEmail,jdbcType=VARCHAR},
      </if>
      <if test="cSpareField != null" >
        c_spare_field = #{cSpareField,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.copower.pmcc.assess.dal.entity.InitiateContacts" >
    update tb_initiate_contacts
    set creator = #{creator,jdbcType=VARCHAR},
      gmt_created = #{gmtCreated,jdbcType=TIMESTAMP},
      gmt_modified = #{gmtModified,jdbcType=TIMESTAMP},
      c_type = #{cType,jdbcType=INTEGER},
      c_name = #{cName,jdbcType=VARCHAR},
      c_dept = #{cDept,jdbcType=VARCHAR},
      c_phone = #{cPhone,jdbcType=VARCHAR},
      c_email = #{cEmail,jdbcType=VARCHAR},
      c_spare_field = #{cSpareField,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>