<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.copower.pmcc.assess.dal.mapper.InitiatePossessorMapper" >
  <resultMap id="BaseResultMap" type="com.copower.pmcc.assess.dal.entity.InitiatePossessor" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="creator" property="creator" jdbcType="VARCHAR" />
    <result column="gmt_created" property="gmtCreated" jdbcType="TIMESTAMP" />
    <result column="gmt_modified" property="gmtModified" jdbcType="TIMESTAMP" />
    <result column="p_type" property="pType" jdbcType="INTEGER" />
    <result column="p_entrustment_unit" property="pEntrustmentUnit" jdbcType="VARCHAR" />
    <result column="p_legal_representative" property="pLegalRepresentative" jdbcType="VARCHAR" />
    <result column="p_sociology_code" property="pSociologyCode" jdbcType="VARCHAR" />
    <result column="p_address" property="pAddress" jdbcType="VARCHAR" />
    <result column="p_scope_operation" property="pScopeOperation" jdbcType="VARCHAR" />
    <result column="p_unit_properties" property="pUnitProperties" jdbcType="VARCHAR" />
    <result column="p_enclosure_location" property="pEnclosureLocation" jdbcType="VARCHAR" />
    <result column="p_name" property="pName" jdbcType="VARCHAR" />
    <result column="spare_field" property="spareField" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, creator, gmt_created, gmt_modified, p_type, p_entrustment_unit, p_legal_representative, 
    p_sociology_code, p_address, p_scope_operation, p_unit_properties, p_enclosure_location, 
    p_name, spare_field
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.copower.pmcc.assess.dal.entity.InitiatePossessorExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from tb_initiate_possessor
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from tb_initiate_possessor
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from tb_initiate_possessor
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.copower.pmcc.assess.dal.entity.InitiatePossessorExample" >
    delete from tb_initiate_possessor
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.copower.pmcc.assess.dal.entity.InitiatePossessor" >
    <selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into tb_initiate_possessor (creator, gmt_created, gmt_modified, 
      p_type, p_entrustment_unit, p_legal_representative, 
      p_sociology_code, p_address, p_scope_operation, 
      p_unit_properties, p_enclosure_location, p_name, 
      spare_field)
    values (#{creator,jdbcType=VARCHAR}, #{gmtCreated,jdbcType=TIMESTAMP}, #{gmtModified,jdbcType=TIMESTAMP}, 
      #{pType,jdbcType=INTEGER}, #{pEntrustmentUnit,jdbcType=VARCHAR}, #{pLegalRepresentative,jdbcType=VARCHAR}, 
      #{pSociologyCode,jdbcType=VARCHAR}, #{pAddress,jdbcType=VARCHAR}, #{pScopeOperation,jdbcType=VARCHAR}, 
      #{pUnitProperties,jdbcType=VARCHAR}, #{pEnclosureLocation,jdbcType=VARCHAR}, #{pName,jdbcType=VARCHAR}, 
      #{spareField,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.copower.pmcc.assess.dal.entity.InitiatePossessor" >
    <selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into tb_initiate_possessor
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="creator != null" >
        creator,
      </if>
      <if test="gmtCreated != null" >
        gmt_created,
      </if>
      <if test="gmtModified != null" >
        gmt_modified,
      </if>
      <if test="pType != null" >
        p_type,
      </if>
      <if test="pEntrustmentUnit != null" >
        p_entrustment_unit,
      </if>
      <if test="pLegalRepresentative != null" >
        p_legal_representative,
      </if>
      <if test="pSociologyCode != null" >
        p_sociology_code,
      </if>
      <if test="pAddress != null" >
        p_address,
      </if>
      <if test="pScopeOperation != null" >
        p_scope_operation,
      </if>
      <if test="pUnitProperties != null" >
        p_unit_properties,
      </if>
      <if test="pEnclosureLocation != null" >
        p_enclosure_location,
      </if>
      <if test="pName != null" >
        p_name,
      </if>
      <if test="spareField != null" >
        spare_field,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="creator != null" >
        #{creator,jdbcType=VARCHAR},
      </if>
      <if test="gmtCreated != null" >
        #{gmtCreated,jdbcType=TIMESTAMP},
      </if>
      <if test="gmtModified != null" >
        #{gmtModified,jdbcType=TIMESTAMP},
      </if>
      <if test="pType != null" >
        #{pType,jdbcType=INTEGER},
      </if>
      <if test="pEntrustmentUnit != null" >
        #{pEntrustmentUnit,jdbcType=VARCHAR},
      </if>
      <if test="pLegalRepresentative != null" >
        #{pLegalRepresentative,jdbcType=VARCHAR},
      </if>
      <if test="pSociologyCode != null" >
        #{pSociologyCode,jdbcType=VARCHAR},
      </if>
      <if test="pAddress != null" >
        #{pAddress,jdbcType=VARCHAR},
      </if>
      <if test="pScopeOperation != null" >
        #{pScopeOperation,jdbcType=VARCHAR},
      </if>
      <if test="pUnitProperties != null" >
        #{pUnitProperties,jdbcType=VARCHAR},
      </if>
      <if test="pEnclosureLocation != null" >
        #{pEnclosureLocation,jdbcType=VARCHAR},
      </if>
      <if test="pName != null" >
        #{pName,jdbcType=VARCHAR},
      </if>
      <if test="spareField != null" >
        #{spareField,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.copower.pmcc.assess.dal.entity.InitiatePossessorExample" resultType="java.lang.Integer" >
    select count(*) from tb_initiate_possessor
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update tb_initiate_possessor
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.creator != null" >
        creator = #{record.creator,jdbcType=VARCHAR},
      </if>
      <if test="record.gmtCreated != null" >
        gmt_created = #{record.gmtCreated,jdbcType=TIMESTAMP},
      </if>
      <if test="record.gmtModified != null" >
        gmt_modified = #{record.gmtModified,jdbcType=TIMESTAMP},
      </if>
      <if test="record.pType != null" >
        p_type = #{record.pType,jdbcType=INTEGER},
      </if>
      <if test="record.pEntrustmentUnit != null" >
        p_entrustment_unit = #{record.pEntrustmentUnit,jdbcType=VARCHAR},
      </if>
      <if test="record.pLegalRepresentative != null" >
        p_legal_representative = #{record.pLegalRepresentative,jdbcType=VARCHAR},
      </if>
      <if test="record.pSociologyCode != null" >
        p_sociology_code = #{record.pSociologyCode,jdbcType=VARCHAR},
      </if>
      <if test="record.pAddress != null" >
        p_address = #{record.pAddress,jdbcType=VARCHAR},
      </if>
      <if test="record.pScopeOperation != null" >
        p_scope_operation = #{record.pScopeOperation,jdbcType=VARCHAR},
      </if>
      <if test="record.pUnitProperties != null" >
        p_unit_properties = #{record.pUnitProperties,jdbcType=VARCHAR},
      </if>
      <if test="record.pEnclosureLocation != null" >
        p_enclosure_location = #{record.pEnclosureLocation,jdbcType=VARCHAR},
      </if>
      <if test="record.pName != null" >
        p_name = #{record.pName,jdbcType=VARCHAR},
      </if>
      <if test="record.spareField != null" >
        spare_field = #{record.spareField,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update tb_initiate_possessor
    set id = #{record.id,jdbcType=INTEGER},
      creator = #{record.creator,jdbcType=VARCHAR},
      gmt_created = #{record.gmtCreated,jdbcType=TIMESTAMP},
      gmt_modified = #{record.gmtModified,jdbcType=TIMESTAMP},
      p_type = #{record.pType,jdbcType=INTEGER},
      p_entrustment_unit = #{record.pEntrustmentUnit,jdbcType=VARCHAR},
      p_legal_representative = #{record.pLegalRepresentative,jdbcType=VARCHAR},
      p_sociology_code = #{record.pSociologyCode,jdbcType=VARCHAR},
      p_address = #{record.pAddress,jdbcType=VARCHAR},
      p_scope_operation = #{record.pScopeOperation,jdbcType=VARCHAR},
      p_unit_properties = #{record.pUnitProperties,jdbcType=VARCHAR},
      p_enclosure_location = #{record.pEnclosureLocation,jdbcType=VARCHAR},
      p_name = #{record.pName,jdbcType=VARCHAR},
      spare_field = #{record.spareField,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.copower.pmcc.assess.dal.entity.InitiatePossessor" >
    update tb_initiate_possessor
    <set >
      <if test="creator != null" >
        creator = #{creator,jdbcType=VARCHAR},
      </if>
      <if test="gmtCreated != null" >
        gmt_created = #{gmtCreated,jdbcType=TIMESTAMP},
      </if>
      <if test="gmtModified != null" >
        gmt_modified = #{gmtModified,jdbcType=TIMESTAMP},
      </if>
      <if test="pType != null" >
        p_type = #{pType,jdbcType=INTEGER},
      </if>
      <if test="pEntrustmentUnit != null" >
        p_entrustment_unit = #{pEntrustmentUnit,jdbcType=VARCHAR},
      </if>
      <if test="pLegalRepresentative != null" >
        p_legal_representative = #{pLegalRepresentative,jdbcType=VARCHAR},
      </if>
      <if test="pSociologyCode != null" >
        p_sociology_code = #{pSociologyCode,jdbcType=VARCHAR},
      </if>
      <if test="pAddress != null" >
        p_address = #{pAddress,jdbcType=VARCHAR},
      </if>
      <if test="pScopeOperation != null" >
        p_scope_operation = #{pScopeOperation,jdbcType=VARCHAR},
      </if>
      <if test="pUnitProperties != null" >
        p_unit_properties = #{pUnitProperties,jdbcType=VARCHAR},
      </if>
      <if test="pEnclosureLocation != null" >
        p_enclosure_location = #{pEnclosureLocation,jdbcType=VARCHAR},
      </if>
      <if test="pName != null" >
        p_name = #{pName,jdbcType=VARCHAR},
      </if>
      <if test="spareField != null" >
        spare_field = #{spareField,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.copower.pmcc.assess.dal.entity.InitiatePossessor" >
    update tb_initiate_possessor
    set creator = #{creator,jdbcType=VARCHAR},
      gmt_created = #{gmtCreated,jdbcType=TIMESTAMP},
      gmt_modified = #{gmtModified,jdbcType=TIMESTAMP},
      p_type = #{pType,jdbcType=INTEGER},
      p_entrustment_unit = #{pEntrustmentUnit,jdbcType=VARCHAR},
      p_legal_representative = #{pLegalRepresentative,jdbcType=VARCHAR},
      p_sociology_code = #{pSociologyCode,jdbcType=VARCHAR},
      p_address = #{pAddress,jdbcType=VARCHAR},
      p_scope_operation = #{pScopeOperation,jdbcType=VARCHAR},
      p_unit_properties = #{pUnitProperties,jdbcType=VARCHAR},
      p_enclosure_location = #{pEnclosureLocation,jdbcType=VARCHAR},
      p_name = #{pName,jdbcType=VARCHAR},
      spare_field = #{spareField,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>