<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.copower.pmcc.assess.dal.mapper.MethodMarketCompareResultMapper" >
  <resultMap id="BaseResultMap" type="com.copower.pmcc.assess.dal.entity.MethodMarketCompareResult" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="evaluation_object_id" property="evaluationObjectId" jdbcType="INTEGER" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="type" property="type" jdbcType="INTEGER" />
    <result column="real_estate_name" property="realEstateName" jdbcType="VARCHAR" />
    <result column="specific_price" property="specificPrice" jdbcType="VARCHAR" />
    <result column="correction_difference" property="correctionDifference" jdbcType="VARCHAR" />
    <result column="case_difference" property="caseDifference" jdbcType="VARCHAR" />
    <result column="weight" property="weight" jdbcType="DECIMAL" />
    <result column="weighted_average_price" property="weightedAveragePrice" jdbcType="DECIMAL" />
    <result column="creator" property="creator" jdbcType="VARCHAR" />
    <result column="gmt_created" property="gmtCreated" jdbcType="TIMESTAMP" />
    <result column="gmt_modified" property="gmtModified" jdbcType="TIMESTAMP" />
    <result column="compare_index_id" property="compareIndexId" jdbcType="INTEGER" />
    <result column="compare_calculation_id" property="compareCalculationId" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, evaluation_object_id, name, type, real_estate_name, specific_price, correction_difference, 
    case_difference, weight, weighted_average_price, creator, gmt_created, gmt_modified, 
    compare_index_id, compare_calculation_id
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.copower.pmcc.assess.dal.entity.MethodMarketCompareResultExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from tb_method_market_compare_result
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from tb_method_market_compare_result
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from tb_method_market_compare_result
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.copower.pmcc.assess.dal.entity.MethodMarketCompareResultExample" >
    delete from tb_method_market_compare_result
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.copower.pmcc.assess.dal.entity.MethodMarketCompareResult" >
    <selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into tb_method_market_compare_result (evaluation_object_id, name, type, 
      real_estate_name, specific_price, correction_difference, 
      case_difference, weight, weighted_average_price, 
      creator, gmt_created, gmt_modified, 
      compare_index_id, compare_calculation_id)
    values (#{evaluationObjectId,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{type,jdbcType=INTEGER}, 
      #{realEstateName,jdbcType=VARCHAR}, #{specificPrice,jdbcType=VARCHAR}, #{correctionDifference,jdbcType=VARCHAR}, 
      #{caseDifference,jdbcType=VARCHAR}, #{weight,jdbcType=DECIMAL}, #{weightedAveragePrice,jdbcType=DECIMAL}, 
      #{creator,jdbcType=VARCHAR}, #{gmtCreated,jdbcType=TIMESTAMP}, #{gmtModified,jdbcType=TIMESTAMP}, 
      #{compareIndexId,jdbcType=INTEGER}, #{compareCalculationId,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.copower.pmcc.assess.dal.entity.MethodMarketCompareResult" >
    <selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into tb_method_market_compare_result
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="evaluationObjectId != null" >
        evaluation_object_id,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="type != null" >
        type,
      </if>
      <if test="realEstateName != null" >
        real_estate_name,
      </if>
      <if test="specificPrice != null" >
        specific_price,
      </if>
      <if test="correctionDifference != null" >
        correction_difference,
      </if>
      <if test="caseDifference != null" >
        case_difference,
      </if>
      <if test="weight != null" >
        weight,
      </if>
      <if test="weightedAveragePrice != null" >
        weighted_average_price,
      </if>
      <if test="creator != null" >
        creator,
      </if>
      <if test="gmtCreated != null" >
        gmt_created,
      </if>
      <if test="gmtModified != null" >
        gmt_modified,
      </if>
      <if test="compareIndexId != null" >
        compare_index_id,
      </if>
      <if test="compareCalculationId != null" >
        compare_calculation_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="evaluationObjectId != null" >
        #{evaluationObjectId,jdbcType=INTEGER},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="type != null" >
        #{type,jdbcType=INTEGER},
      </if>
      <if test="realEstateName != null" >
        #{realEstateName,jdbcType=VARCHAR},
      </if>
      <if test="specificPrice != null" >
        #{specificPrice,jdbcType=VARCHAR},
      </if>
      <if test="correctionDifference != null" >
        #{correctionDifference,jdbcType=VARCHAR},
      </if>
      <if test="caseDifference != null" >
        #{caseDifference,jdbcType=VARCHAR},
      </if>
      <if test="weight != null" >
        #{weight,jdbcType=DECIMAL},
      </if>
      <if test="weightedAveragePrice != null" >
        #{weightedAveragePrice,jdbcType=DECIMAL},
      </if>
      <if test="creator != null" >
        #{creator,jdbcType=VARCHAR},
      </if>
      <if test="gmtCreated != null" >
        #{gmtCreated,jdbcType=TIMESTAMP},
      </if>
      <if test="gmtModified != null" >
        #{gmtModified,jdbcType=TIMESTAMP},
      </if>
      <if test="compareIndexId != null" >
        #{compareIndexId,jdbcType=INTEGER},
      </if>
      <if test="compareCalculationId != null" >
        #{compareCalculationId,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.copower.pmcc.assess.dal.entity.MethodMarketCompareResultExample" resultType="java.lang.Integer" >
    select count(*) from tb_method_market_compare_result
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update tb_method_market_compare_result
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.evaluationObjectId != null" >
        evaluation_object_id = #{record.evaluationObjectId,jdbcType=INTEGER},
      </if>
      <if test="record.name != null" >
        name = #{record.name,jdbcType=VARCHAR},
      </if>
      <if test="record.type != null" >
        type = #{record.type,jdbcType=INTEGER},
      </if>
      <if test="record.realEstateName != null" >
        real_estate_name = #{record.realEstateName,jdbcType=VARCHAR},
      </if>
      <if test="record.specificPrice != null" >
        specific_price = #{record.specificPrice,jdbcType=VARCHAR},
      </if>
      <if test="record.correctionDifference != null" >
        correction_difference = #{record.correctionDifference,jdbcType=VARCHAR},
      </if>
      <if test="record.caseDifference != null" >
        case_difference = #{record.caseDifference,jdbcType=VARCHAR},
      </if>
      <if test="record.weight != null" >
        weight = #{record.weight,jdbcType=DECIMAL},
      </if>
      <if test="record.weightedAveragePrice != null" >
        weighted_average_price = #{record.weightedAveragePrice,jdbcType=DECIMAL},
      </if>
      <if test="record.creator != null" >
        creator = #{record.creator,jdbcType=VARCHAR},
      </if>
      <if test="record.gmtCreated != null" >
        gmt_created = #{record.gmtCreated,jdbcType=TIMESTAMP},
      </if>
      <if test="record.gmtModified != null" >
        gmt_modified = #{record.gmtModified,jdbcType=TIMESTAMP},
      </if>
      <if test="record.compareIndexId != null" >
        compare_index_id = #{record.compareIndexId,jdbcType=INTEGER},
      </if>
      <if test="record.compareCalculationId != null" >
        compare_calculation_id = #{record.compareCalculationId,jdbcType=INTEGER},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update tb_method_market_compare_result
    set id = #{record.id,jdbcType=INTEGER},
      evaluation_object_id = #{record.evaluationObjectId,jdbcType=INTEGER},
      name = #{record.name,jdbcType=VARCHAR},
      type = #{record.type,jdbcType=INTEGER},
      real_estate_name = #{record.realEstateName,jdbcType=VARCHAR},
      specific_price = #{record.specificPrice,jdbcType=VARCHAR},
      correction_difference = #{record.correctionDifference,jdbcType=VARCHAR},
      case_difference = #{record.caseDifference,jdbcType=VARCHAR},
      weight = #{record.weight,jdbcType=DECIMAL},
      weighted_average_price = #{record.weightedAveragePrice,jdbcType=DECIMAL},
      creator = #{record.creator,jdbcType=VARCHAR},
      gmt_created = #{record.gmtCreated,jdbcType=TIMESTAMP},
      gmt_modified = #{record.gmtModified,jdbcType=TIMESTAMP},
      compare_index_id = #{record.compareIndexId,jdbcType=INTEGER},
      compare_calculation_id = #{record.compareCalculationId,jdbcType=INTEGER}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.copower.pmcc.assess.dal.entity.MethodMarketCompareResult" >
    update tb_method_market_compare_result
    <set >
      <if test="evaluationObjectId != null" >
        evaluation_object_id = #{evaluationObjectId,jdbcType=INTEGER},
      </if>
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="type != null" >
        type = #{type,jdbcType=INTEGER},
      </if>
      <if test="realEstateName != null" >
        real_estate_name = #{realEstateName,jdbcType=VARCHAR},
      </if>
      <if test="specificPrice != null" >
        specific_price = #{specificPrice,jdbcType=VARCHAR},
      </if>
      <if test="correctionDifference != null" >
        correction_difference = #{correctionDifference,jdbcType=VARCHAR},
      </if>
      <if test="caseDifference != null" >
        case_difference = #{caseDifference,jdbcType=VARCHAR},
      </if>
      <if test="weight != null" >
        weight = #{weight,jdbcType=DECIMAL},
      </if>
      <if test="weightedAveragePrice != null" >
        weighted_average_price = #{weightedAveragePrice,jdbcType=DECIMAL},
      </if>
      <if test="creator != null" >
        creator = #{creator,jdbcType=VARCHAR},
      </if>
      <if test="gmtCreated != null" >
        gmt_created = #{gmtCreated,jdbcType=TIMESTAMP},
      </if>
      <if test="gmtModified != null" >
        gmt_modified = #{gmtModified,jdbcType=TIMESTAMP},
      </if>
      <if test="compareIndexId != null" >
        compare_index_id = #{compareIndexId,jdbcType=INTEGER},
      </if>
      <if test="compareCalculationId != null" >
        compare_calculation_id = #{compareCalculationId,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.copower.pmcc.assess.dal.entity.MethodMarketCompareResult" >
    update tb_method_market_compare_result
    set evaluation_object_id = #{evaluationObjectId,jdbcType=INTEGER},
      name = #{name,jdbcType=VARCHAR},
      type = #{type,jdbcType=INTEGER},
      real_estate_name = #{realEstateName,jdbcType=VARCHAR},
      specific_price = #{specificPrice,jdbcType=VARCHAR},
      correction_difference = #{correctionDifference,jdbcType=VARCHAR},
      case_difference = #{caseDifference,jdbcType=VARCHAR},
      weight = #{weight,jdbcType=DECIMAL},
      weighted_average_price = #{weightedAveragePrice,jdbcType=DECIMAL},
      creator = #{creator,jdbcType=VARCHAR},
      gmt_created = #{gmtCreated,jdbcType=TIMESTAMP},
      gmt_modified = #{gmtModified,jdbcType=TIMESTAMP},
      compare_index_id = #{compareIndexId,jdbcType=INTEGER},
      compare_calculation_id = #{compareCalculationId,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>