<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.copower.pmcc.assess.dal.mapper.ReportTemplateBookmarkMapper" >
  <resultMap id="BaseResultMap" type="com.copower.pmcc.assess.dal.entity.ReportTemplateBookmark" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="template_id" property="templateId" jdbcType="INTEGER" />
    <result column="bookmark_name" property="bookmarkName" jdbcType="VARCHAR" />
    <result column="bookmark_name_cn" property="bookmarkNameCn" jdbcType="VARCHAR" />
    <result column="data_pool_type" property="dataPoolType" jdbcType="INTEGER" />
    <result column="data_pool_table_id" property="dataPoolTableId" jdbcType="INTEGER" />
    <result column="data_pool_columns_id" property="dataPoolColumnsId" jdbcType="INTEGER" />
    <result column="data_pool_template_id" property="dataPoolTemplateId" jdbcType="INTEGER" />
    <result column="pid" property="pid" jdbcType="INTEGER" />
    <result column="bis_enable" property="bisEnable" jdbcType="BIT" />
    <result column="creator" property="creator" jdbcType="VARCHAR" />
    <result column="gmt_created" property="gmtCreated" jdbcType="TIMESTAMP" />
    <result column="gmt_modified" property="gmtModified" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, template_id, bookmark_name, bookmark_name_cn, data_pool_type, data_pool_table_id, 
    data_pool_columns_id, data_pool_template_id, pid, bis_enable, creator, gmt_created, 
    gmt_modified
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.copower.pmcc.assess.dal.entity.ReportTemplateBookmarkExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from tb_report_template_bookmark
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from tb_report_template_bookmark
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from tb_report_template_bookmark
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.copower.pmcc.assess.dal.entity.ReportTemplateBookmarkExample" >
    delete from tb_report_template_bookmark
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.copower.pmcc.assess.dal.entity.ReportTemplateBookmark" >
    <selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into tb_report_template_bookmark (template_id, bookmark_name, bookmark_name_cn, 
      data_pool_type, data_pool_table_id, data_pool_columns_id, 
      data_pool_template_id, pid, bis_enable, 
      creator, gmt_created, gmt_modified
      )
    values (#{templateId,jdbcType=INTEGER}, #{bookmarkName,jdbcType=VARCHAR}, #{bookmarkNameCn,jdbcType=VARCHAR}, 
      #{dataPoolType,jdbcType=INTEGER}, #{dataPoolTableId,jdbcType=INTEGER}, #{dataPoolColumnsId,jdbcType=INTEGER}, 
      #{dataPoolTemplateId,jdbcType=INTEGER}, #{pid,jdbcType=INTEGER}, #{bisEnable,jdbcType=BIT}, 
      #{creator,jdbcType=VARCHAR}, #{gmtCreated,jdbcType=TIMESTAMP}, #{gmtModified,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.copower.pmcc.assess.dal.entity.ReportTemplateBookmark" >
    <selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into tb_report_template_bookmark
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="templateId != null" >
        template_id,
      </if>
      <if test="bookmarkName != null" >
        bookmark_name,
      </if>
      <if test="bookmarkNameCn != null" >
        bookmark_name_cn,
      </if>
      <if test="dataPoolType != null" >
        data_pool_type,
      </if>
      <if test="dataPoolTableId != null" >
        data_pool_table_id,
      </if>
      <if test="dataPoolColumnsId != null" >
        data_pool_columns_id,
      </if>
      <if test="dataPoolTemplateId != null" >
        data_pool_template_id,
      </if>
      <if test="pid != null" >
        pid,
      </if>
      <if test="bisEnable != null" >
        bis_enable,
      </if>
      <if test="creator != null" >
        creator,
      </if>
      <if test="gmtCreated != null" >
        gmt_created,
      </if>
      <if test="gmtModified != null" >
        gmt_modified,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="templateId != null" >
        #{templateId,jdbcType=INTEGER},
      </if>
      <if test="bookmarkName != null" >
        #{bookmarkName,jdbcType=VARCHAR},
      </if>
      <if test="bookmarkNameCn != null" >
        #{bookmarkNameCn,jdbcType=VARCHAR},
      </if>
      <if test="dataPoolType != null" >
        #{dataPoolType,jdbcType=INTEGER},
      </if>
      <if test="dataPoolTableId != null" >
        #{dataPoolTableId,jdbcType=INTEGER},
      </if>
      <if test="dataPoolColumnsId != null" >
        #{dataPoolColumnsId,jdbcType=INTEGER},
      </if>
      <if test="dataPoolTemplateId != null" >
        #{dataPoolTemplateId,jdbcType=INTEGER},
      </if>
      <if test="pid != null" >
        #{pid,jdbcType=INTEGER},
      </if>
      <if test="bisEnable != null" >
        #{bisEnable,jdbcType=BIT},
      </if>
      <if test="creator != null" >
        #{creator,jdbcType=VARCHAR},
      </if>
      <if test="gmtCreated != null" >
        #{gmtCreated,jdbcType=TIMESTAMP},
      </if>
      <if test="gmtModified != null" >
        #{gmtModified,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.copower.pmcc.assess.dal.entity.ReportTemplateBookmarkExample" resultType="java.lang.Integer" >
    select count(*) from tb_report_template_bookmark
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update tb_report_template_bookmark
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.templateId != null" >
        template_id = #{record.templateId,jdbcType=INTEGER},
      </if>
      <if test="record.bookmarkName != null" >
        bookmark_name = #{record.bookmarkName,jdbcType=VARCHAR},
      </if>
      <if test="record.bookmarkNameCn != null" >
        bookmark_name_cn = #{record.bookmarkNameCn,jdbcType=VARCHAR},
      </if>
      <if test="record.dataPoolType != null" >
        data_pool_type = #{record.dataPoolType,jdbcType=INTEGER},
      </if>
      <if test="record.dataPoolTableId != null" >
        data_pool_table_id = #{record.dataPoolTableId,jdbcType=INTEGER},
      </if>
      <if test="record.dataPoolColumnsId != null" >
        data_pool_columns_id = #{record.dataPoolColumnsId,jdbcType=INTEGER},
      </if>
      <if test="record.dataPoolTemplateId != null" >
        data_pool_template_id = #{record.dataPoolTemplateId,jdbcType=INTEGER},
      </if>
      <if test="record.pid != null" >
        pid = #{record.pid,jdbcType=INTEGER},
      </if>
      <if test="record.bisEnable != null" >
        bis_enable = #{record.bisEnable,jdbcType=BIT},
      </if>
      <if test="record.creator != null" >
        creator = #{record.creator,jdbcType=VARCHAR},
      </if>
      <if test="record.gmtCreated != null" >
        gmt_created = #{record.gmtCreated,jdbcType=TIMESTAMP},
      </if>
      <if test="record.gmtModified != null" >
        gmt_modified = #{record.gmtModified,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update tb_report_template_bookmark
    set id = #{record.id,jdbcType=INTEGER},
      template_id = #{record.templateId,jdbcType=INTEGER},
      bookmark_name = #{record.bookmarkName,jdbcType=VARCHAR},
      bookmark_name_cn = #{record.bookmarkNameCn,jdbcType=VARCHAR},
      data_pool_type = #{record.dataPoolType,jdbcType=INTEGER},
      data_pool_table_id = #{record.dataPoolTableId,jdbcType=INTEGER},
      data_pool_columns_id = #{record.dataPoolColumnsId,jdbcType=INTEGER},
      data_pool_template_id = #{record.dataPoolTemplateId,jdbcType=INTEGER},
      pid = #{record.pid,jdbcType=INTEGER},
      bis_enable = #{record.bisEnable,jdbcType=BIT},
      creator = #{record.creator,jdbcType=VARCHAR},
      gmt_created = #{record.gmtCreated,jdbcType=TIMESTAMP},
      gmt_modified = #{record.gmtModified,jdbcType=TIMESTAMP}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.copower.pmcc.assess.dal.entity.ReportTemplateBookmark" >
    update tb_report_template_bookmark
    <set >
      <if test="templateId != null" >
        template_id = #{templateId,jdbcType=INTEGER},
      </if>
      <if test="bookmarkName != null" >
        bookmark_name = #{bookmarkName,jdbcType=VARCHAR},
      </if>
      <if test="bookmarkNameCn != null" >
        bookmark_name_cn = #{bookmarkNameCn,jdbcType=VARCHAR},
      </if>
      <if test="dataPoolType != null" >
        data_pool_type = #{dataPoolType,jdbcType=INTEGER},
      </if>
      <if test="dataPoolTableId != null" >
        data_pool_table_id = #{dataPoolTableId,jdbcType=INTEGER},
      </if>
      <if test="dataPoolColumnsId != null" >
        data_pool_columns_id = #{dataPoolColumnsId,jdbcType=INTEGER},
      </if>
      <if test="dataPoolTemplateId != null" >
        data_pool_template_id = #{dataPoolTemplateId,jdbcType=INTEGER},
      </if>
      <if test="pid != null" >
        pid = #{pid,jdbcType=INTEGER},
      </if>
      <if test="bisEnable != null" >
        bis_enable = #{bisEnable,jdbcType=BIT},
      </if>
      <if test="creator != null" >
        creator = #{creator,jdbcType=VARCHAR},
      </if>
      <if test="gmtCreated != null" >
        gmt_created = #{gmtCreated,jdbcType=TIMESTAMP},
      </if>
      <if test="gmtModified != null" >
        gmt_modified = #{gmtModified,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.copower.pmcc.assess.dal.entity.ReportTemplateBookmark" >
    update tb_report_template_bookmark
    set template_id = #{templateId,jdbcType=INTEGER},
      bookmark_name = #{bookmarkName,jdbcType=VARCHAR},
      bookmark_name_cn = #{bookmarkNameCn,jdbcType=VARCHAR},
      data_pool_type = #{dataPoolType,jdbcType=INTEGER},
      data_pool_table_id = #{dataPoolTableId,jdbcType=INTEGER},
      data_pool_columns_id = #{dataPoolColumnsId,jdbcType=INTEGER},
      data_pool_template_id = #{dataPoolTemplateId,jdbcType=INTEGER},
      pid = #{pid,jdbcType=INTEGER},
      bis_enable = #{bisEnable,jdbcType=BIT},
      creator = #{creator,jdbcType=VARCHAR},
      gmt_created = #{gmtCreated,jdbcType=TIMESTAMP},
      gmt_modified = #{gmtModified,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>