<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.copower.pmcc.assess.dal.mapper.SchemeJudgeObjectMapper" >
  <resultMap id="BaseResultMap" type="com.copower.pmcc.assess.dal.entity.SchemeJudgeObject" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="project_id" property="projectId" jdbcType="INTEGER" />
    <result column="area_group_id" property="areaGroupId" jdbcType="INTEGER" />
    <result column="declare_record_id" property="declareRecordId" jdbcType="INTEGER" />
    <result column="evaluation_id" property="evaluationId" jdbcType="INTEGER" />
    <result column="number" property="number" jdbcType="VARCHAR" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="best_use_id" property="bestUseId" jdbcType="INTEGER" />
    <result column="floor_area" property="floorArea" jdbcType="DECIMAL" />
    <result column="group_number" property="groupNumber" jdbcType="INTEGER" />
    <result column="creator" property="creator" jdbcType="VARCHAR" />
    <result column="gmt_created" property="gmtCreated" jdbcType="TIMESTAMP" />
    <result column="gmt_modified" property="gmtModified" jdbcType="TIMESTAMP" />
    <result column="evaluation_area" property="evaluationArea" jdbcType="VARCHAR" />
    <result column="bis_split" property="bisSplit" jdbcType="BIT" />
    <result column="seat" property="seat" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, project_id, area_group_id, declare_record_id, evaluation_id, number, name, best_use_id, 
    floor_area, group_number, creator, gmt_created, gmt_modified, evaluation_area, bis_split, 
    seat
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.copower.pmcc.assess.dal.entity.SchemeJudgeObjectExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from tb_scheme_judge_object
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from tb_scheme_judge_object
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from tb_scheme_judge_object
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.copower.pmcc.assess.dal.entity.SchemeJudgeObjectExample" >
    delete from tb_scheme_judge_object
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.copower.pmcc.assess.dal.entity.SchemeJudgeObject" >
    <selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into tb_scheme_judge_object (project_id, area_group_id, declare_record_id, 
      evaluation_id, number, name, 
      best_use_id, floor_area, group_number, 
      creator, gmt_created, gmt_modified, 
      evaluation_area, bis_split, seat
      )
    values (#{projectId,jdbcType=INTEGER}, #{areaGroupId,jdbcType=INTEGER}, #{declareRecordId,jdbcType=INTEGER}, 
      #{evaluationId,jdbcType=INTEGER}, #{number,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR}, 
      #{bestUseId,jdbcType=INTEGER}, #{floorArea,jdbcType=DECIMAL}, #{groupNumber,jdbcType=INTEGER}, 
      #{creator,jdbcType=VARCHAR}, #{gmtCreated,jdbcType=TIMESTAMP}, #{gmtModified,jdbcType=TIMESTAMP}, 
      #{evaluationArea,jdbcType=VARCHAR}, #{bisSplit,jdbcType=BIT}, #{seat,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.copower.pmcc.assess.dal.entity.SchemeJudgeObject" >
    <selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into tb_scheme_judge_object
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="projectId != null" >
        project_id,
      </if>
      <if test="areaGroupId != null" >
        area_group_id,
      </if>
      <if test="declareRecordId != null" >
        declare_record_id,
      </if>
      <if test="evaluationId != null" >
        evaluation_id,
      </if>
      <if test="number != null" >
        number,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="bestUseId != null" >
        best_use_id,
      </if>
      <if test="floorArea != null" >
        floor_area,
      </if>
      <if test="groupNumber != null" >
        group_number,
      </if>
      <if test="creator != null" >
        creator,
      </if>
      <if test="gmtCreated != null" >
        gmt_created,
      </if>
      <if test="gmtModified != null" >
        gmt_modified,
      </if>
      <if test="evaluationArea != null" >
        evaluation_area,
      </if>
      <if test="bisSplit != null" >
        bis_split,
      </if>
      <if test="seat != null" >
        seat,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="projectId != null" >
        #{projectId,jdbcType=INTEGER},
      </if>
      <if test="areaGroupId != null" >
        #{areaGroupId,jdbcType=INTEGER},
      </if>
      <if test="declareRecordId != null" >
        #{declareRecordId,jdbcType=INTEGER},
      </if>
      <if test="evaluationId != null" >
        #{evaluationId,jdbcType=INTEGER},
      </if>
      <if test="number != null" >
        #{number,jdbcType=VARCHAR},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="bestUseId != null" >
        #{bestUseId,jdbcType=INTEGER},
      </if>
      <if test="floorArea != null" >
        #{floorArea,jdbcType=DECIMAL},
      </if>
      <if test="groupNumber != null" >
        #{groupNumber,jdbcType=INTEGER},
      </if>
      <if test="creator != null" >
        #{creator,jdbcType=VARCHAR},
      </if>
      <if test="gmtCreated != null" >
        #{gmtCreated,jdbcType=TIMESTAMP},
      </if>
      <if test="gmtModified != null" >
        #{gmtModified,jdbcType=TIMESTAMP},
      </if>
      <if test="evaluationArea != null" >
        #{evaluationArea,jdbcType=VARCHAR},
      </if>
      <if test="bisSplit != null" >
        #{bisSplit,jdbcType=BIT},
      </if>
      <if test="seat != null" >
        #{seat,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.copower.pmcc.assess.dal.entity.SchemeJudgeObjectExample" resultType="java.lang.Integer" >
    select count(*) from tb_scheme_judge_object
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update tb_scheme_judge_object
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.projectId != null" >
        project_id = #{record.projectId,jdbcType=INTEGER},
      </if>
      <if test="record.areaGroupId != null" >
        area_group_id = #{record.areaGroupId,jdbcType=INTEGER},
      </if>
      <if test="record.declareRecordId != null" >
        declare_record_id = #{record.declareRecordId,jdbcType=INTEGER},
      </if>
      <if test="record.evaluationId != null" >
        evaluation_id = #{record.evaluationId,jdbcType=INTEGER},
      </if>
      <if test="record.number != null" >
        number = #{record.number,jdbcType=VARCHAR},
      </if>
      <if test="record.name != null" >
        name = #{record.name,jdbcType=VARCHAR},
      </if>
      <if test="record.bestUseId != null" >
        best_use_id = #{record.bestUseId,jdbcType=INTEGER},
      </if>
      <if test="record.floorArea != null" >
        floor_area = #{record.floorArea,jdbcType=DECIMAL},
      </if>
      <if test="record.groupNumber != null" >
        group_number = #{record.groupNumber,jdbcType=INTEGER},
      </if>
      <if test="record.creator != null" >
        creator = #{record.creator,jdbcType=VARCHAR},
      </if>
      <if test="record.gmtCreated != null" >
        gmt_created = #{record.gmtCreated,jdbcType=TIMESTAMP},
      </if>
      <if test="record.gmtModified != null" >
        gmt_modified = #{record.gmtModified,jdbcType=TIMESTAMP},
      </if>
      <if test="record.evaluationArea != null" >
        evaluation_area = #{record.evaluationArea,jdbcType=VARCHAR},
      </if>
      <if test="record.bisSplit != null" >
        bis_split = #{record.bisSplit,jdbcType=BIT},
      </if>
      <if test="record.seat != null" >
        seat = #{record.seat,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update tb_scheme_judge_object
    set id = #{record.id,jdbcType=INTEGER},
      project_id = #{record.projectId,jdbcType=INTEGER},
      area_group_id = #{record.areaGroupId,jdbcType=INTEGER},
      declare_record_id = #{record.declareRecordId,jdbcType=INTEGER},
      evaluation_id = #{record.evaluationId,jdbcType=INTEGER},
      number = #{record.number,jdbcType=VARCHAR},
      name = #{record.name,jdbcType=VARCHAR},
      best_use_id = #{record.bestUseId,jdbcType=INTEGER},
      floor_area = #{record.floorArea,jdbcType=DECIMAL},
      group_number = #{record.groupNumber,jdbcType=INTEGER},
      creator = #{record.creator,jdbcType=VARCHAR},
      gmt_created = #{record.gmtCreated,jdbcType=TIMESTAMP},
      gmt_modified = #{record.gmtModified,jdbcType=TIMESTAMP},
      evaluation_area = #{record.evaluationArea,jdbcType=VARCHAR},
      bis_split = #{record.bisSplit,jdbcType=BIT},
      seat = #{record.seat,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.copower.pmcc.assess.dal.entity.SchemeJudgeObject" >
    update tb_scheme_judge_object
    <set >
      <if test="projectId != null" >
        project_id = #{projectId,jdbcType=INTEGER},
      </if>
      <if test="areaGroupId != null" >
        area_group_id = #{areaGroupId,jdbcType=INTEGER},
      </if>
      <if test="declareRecordId != null" >
        declare_record_id = #{declareRecordId,jdbcType=INTEGER},
      </if>
      <if test="evaluationId != null" >
        evaluation_id = #{evaluationId,jdbcType=INTEGER},
      </if>
      <if test="number != null" >
        number = #{number,jdbcType=VARCHAR},
      </if>
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="bestUseId != null" >
        best_use_id = #{bestUseId,jdbcType=INTEGER},
      </if>
      <if test="floorArea != null" >
        floor_area = #{floorArea,jdbcType=DECIMAL},
      </if>
      <if test="groupNumber != null" >
        group_number = #{groupNumber,jdbcType=INTEGER},
      </if>
      <if test="creator != null" >
        creator = #{creator,jdbcType=VARCHAR},
      </if>
      <if test="gmtCreated != null" >
        gmt_created = #{gmtCreated,jdbcType=TIMESTAMP},
      </if>
      <if test="gmtModified != null" >
        gmt_modified = #{gmtModified,jdbcType=TIMESTAMP},
      </if>
      <if test="evaluationArea != null" >
        evaluation_area = #{evaluationArea,jdbcType=VARCHAR},
      </if>
      <if test="bisSplit != null" >
        bis_split = #{bisSplit,jdbcType=BIT},
      </if>
      <if test="seat != null" >
        seat = #{seat,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.copower.pmcc.assess.dal.entity.SchemeJudgeObject" >
    update tb_scheme_judge_object
    set project_id = #{projectId,jdbcType=INTEGER},
      area_group_id = #{areaGroupId,jdbcType=INTEGER},
      declare_record_id = #{declareRecordId,jdbcType=INTEGER},
      evaluation_id = #{evaluationId,jdbcType=INTEGER},
      number = #{number,jdbcType=VARCHAR},
      name = #{name,jdbcType=VARCHAR},
      best_use_id = #{bestUseId,jdbcType=INTEGER},
      floor_area = #{floorArea,jdbcType=DECIMAL},
      group_number = #{groupNumber,jdbcType=INTEGER},
      creator = #{creator,jdbcType=VARCHAR},
      gmt_created = #{gmtCreated,jdbcType=TIMESTAMP},
      gmt_modified = #{gmtModified,jdbcType=TIMESTAMP},
      evaluation_area = #{evaluationArea,jdbcType=VARCHAR},
      bis_split = #{bisSplit,jdbcType=BIT},
      seat = #{seat,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>