<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.copower.pmcc.assess.dal.mapper.SchemeJudgeFunctionMapper" >
  <resultMap id="BaseResultMap" type="com.copower.pmcc.assess.dal.entity.SchemeJudgeFunction" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="judge_object_id" property="judgeObjectId" jdbcType="INTEGER" />
    <result column="method_type" property="methodType" jdbcType="INTEGER" />
    <result column="bis_applicable" property="bisApplicable" jdbcType="BIT" />
    <result column="applicable_reason" property="applicableReason" jdbcType="VARCHAR" />
    <result column="not_applicable_reason" property="notApplicableReason" jdbcType="VARCHAR" />
    <result column="thinking" property="thinking" jdbcType="VARCHAR" />
    <result column="creator" property="creator" jdbcType="VARCHAR" />
    <result column="gmt_created" property="gmtCreated" jdbcType="TIMESTAMP" />
    <result column="gmt_modified" property="gmtModified" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, judge_object_id, method_type, bis_applicable, applicable_reason, not_applicable_reason, 
    thinking, creator, gmt_created, gmt_modified
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.copower.pmcc.assess.dal.entity.SchemeJudgeFunctionExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from tb_scheme_judge_function
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from tb_scheme_judge_function
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from tb_scheme_judge_function
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.copower.pmcc.assess.dal.entity.SchemeJudgeFunctionExample" >
    delete from tb_scheme_judge_function
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.copower.pmcc.assess.dal.entity.SchemeJudgeFunction" >
    <selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into tb_scheme_judge_function (judge_object_id, method_type, bis_applicable, 
      applicable_reason, not_applicable_reason, 
      thinking, creator, gmt_created, 
      gmt_modified)
    values (#{judgeObjectId,jdbcType=INTEGER}, #{methodType,jdbcType=INTEGER}, #{bisApplicable,jdbcType=BIT}, 
      #{applicableReason,jdbcType=VARCHAR}, #{notApplicableReason,jdbcType=VARCHAR}, 
      #{thinking,jdbcType=VARCHAR}, #{creator,jdbcType=VARCHAR}, #{gmtCreated,jdbcType=TIMESTAMP}, 
      #{gmtModified,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.copower.pmcc.assess.dal.entity.SchemeJudgeFunction" >
    <selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into tb_scheme_judge_function
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="judgeObjectId != null" >
        judge_object_id,
      </if>
      <if test="methodType != null" >
        method_type,
      </if>
      <if test="bisApplicable != null" >
        bis_applicable,
      </if>
      <if test="applicableReason != null" >
        applicable_reason,
      </if>
      <if test="notApplicableReason != null" >
        not_applicable_reason,
      </if>
      <if test="thinking != null" >
        thinking,
      </if>
      <if test="creator != null" >
        creator,
      </if>
      <if test="gmtCreated != null" >
        gmt_created,
      </if>
      <if test="gmtModified != null" >
        gmt_modified,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="judgeObjectId != null" >
        #{judgeObjectId,jdbcType=INTEGER},
      </if>
      <if test="methodType != null" >
        #{methodType,jdbcType=INTEGER},
      </if>
      <if test="bisApplicable != null" >
        #{bisApplicable,jdbcType=BIT},
      </if>
      <if test="applicableReason != null" >
        #{applicableReason,jdbcType=VARCHAR},
      </if>
      <if test="notApplicableReason != null" >
        #{notApplicableReason,jdbcType=VARCHAR},
      </if>
      <if test="thinking != null" >
        #{thinking,jdbcType=VARCHAR},
      </if>
      <if test="creator != null" >
        #{creator,jdbcType=VARCHAR},
      </if>
      <if test="gmtCreated != null" >
        #{gmtCreated,jdbcType=TIMESTAMP},
      </if>
      <if test="gmtModified != null" >
        #{gmtModified,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.copower.pmcc.assess.dal.entity.SchemeJudgeFunctionExample" resultType="java.lang.Integer" >
    select count(*) from tb_scheme_judge_function
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update tb_scheme_judge_function
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.judgeObjectId != null" >
        judge_object_id = #{record.judgeObjectId,jdbcType=INTEGER},
      </if>
      <if test="record.methodType != null" >
        method_type = #{record.methodType,jdbcType=INTEGER},
      </if>
      <if test="record.bisApplicable != null" >
        bis_applicable = #{record.bisApplicable,jdbcType=BIT},
      </if>
      <if test="record.applicableReason != null" >
        applicable_reason = #{record.applicableReason,jdbcType=VARCHAR},
      </if>
      <if test="record.notApplicableReason != null" >
        not_applicable_reason = #{record.notApplicableReason,jdbcType=VARCHAR},
      </if>
      <if test="record.thinking != null" >
        thinking = #{record.thinking,jdbcType=VARCHAR},
      </if>
      <if test="record.creator != null" >
        creator = #{record.creator,jdbcType=VARCHAR},
      </if>
      <if test="record.gmtCreated != null" >
        gmt_created = #{record.gmtCreated,jdbcType=TIMESTAMP},
      </if>
      <if test="record.gmtModified != null" >
        gmt_modified = #{record.gmtModified,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update tb_scheme_judge_function
    set id = #{record.id,jdbcType=INTEGER},
      judge_object_id = #{record.judgeObjectId,jdbcType=INTEGER},
      method_type = #{record.methodType,jdbcType=INTEGER},
      bis_applicable = #{record.bisApplicable,jdbcType=BIT},
      applicable_reason = #{record.applicableReason,jdbcType=VARCHAR},
      not_applicable_reason = #{record.notApplicableReason,jdbcType=VARCHAR},
      thinking = #{record.thinking,jdbcType=VARCHAR},
      creator = #{record.creator,jdbcType=VARCHAR},
      gmt_created = #{record.gmtCreated,jdbcType=TIMESTAMP},
      gmt_modified = #{record.gmtModified,jdbcType=TIMESTAMP}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.copower.pmcc.assess.dal.entity.SchemeJudgeFunction" >
    update tb_scheme_judge_function
    <set >
      <if test="judgeObjectId != null" >
        judge_object_id = #{judgeObjectId,jdbcType=INTEGER},
      </if>
      <if test="methodType != null" >
        method_type = #{methodType,jdbcType=INTEGER},
      </if>
      <if test="bisApplicable != null" >
        bis_applicable = #{bisApplicable,jdbcType=BIT},
      </if>
      <if test="applicableReason != null" >
        applicable_reason = #{applicableReason,jdbcType=VARCHAR},
      </if>
      <if test="notApplicableReason != null" >
        not_applicable_reason = #{notApplicableReason,jdbcType=VARCHAR},
      </if>
      <if test="thinking != null" >
        thinking = #{thinking,jdbcType=VARCHAR},
      </if>
      <if test="creator != null" >
        creator = #{creator,jdbcType=VARCHAR},
      </if>
      <if test="gmtCreated != null" >
        gmt_created = #{gmtCreated,jdbcType=TIMESTAMP},
      </if>
      <if test="gmtModified != null" >
        gmt_modified = #{gmtModified,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.copower.pmcc.assess.dal.entity.SchemeJudgeFunction" >
    update tb_scheme_judge_function
    set judge_object_id = #{judgeObjectId,jdbcType=INTEGER},
      method_type = #{methodType,jdbcType=INTEGER},
      bis_applicable = #{bisApplicable,jdbcType=BIT},
      applicable_reason = #{applicableReason,jdbcType=VARCHAR},
      not_applicable_reason = #{notApplicableReason,jdbcType=VARCHAR},
      thinking = #{thinking,jdbcType=VARCHAR},
      creator = #{creator,jdbcType=VARCHAR},
      gmt_created = #{gmtCreated,jdbcType=TIMESTAMP},
      gmt_modified = #{gmtModified,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>