<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.copower.pmcc.assess.dal.mapper.SurveyAssetOtherTemplateMapper" >
  <resultMap id="BaseResultMap" type="com.copower.pmcc.assess.dal.entity.SurveyAssetOtherTemplate" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="project_id" property="projectId" jdbcType="INTEGER" />
    <result column="plan_detail_id" property="planDetailId" jdbcType="INTEGER" />
    <result column="other_rights_registrar" property="otherRightsRegistrar" jdbcType="INTEGER" />
    <result column="right_hander" property="rightHander" jdbcType="INTEGER" />
    <result column="register_area" property="registerArea" jdbcType="VARCHAR" />
    <result column="actual_area" property="actualArea" jdbcType="VARCHAR" />
    <result column="register_purpose" property="registerPurpose" jdbcType="VARCHAR" />
    <result column="actual_purpose" property="actualPurpose" jdbcType="VARCHAR" />
    <result column="register_date" property="registerDate" jdbcType="TIMESTAMP" />
    <result column="due_date" property="dueDate" jdbcType="TIMESTAMP" />
    <result column="exercise_date" property="exerciseDate" jdbcType="TIMESTAMP" />
    <result column="predict_due_date" property="predictDueDate" jdbcType="TIMESTAMP" />
    <result column="spare_field" property="spareField" jdbcType="VARCHAR" />
    <result column="creator" property="creator" jdbcType="VARCHAR" />
    <result column="gmt_created" property="gmtCreated" jdbcType="TIMESTAMP" />
    <result column="gmt_modified" property="gmtModified" jdbcType="TIMESTAMP" />
    <result column="pid" property="pid" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, project_id, plan_detail_id, other_rights_registrar, right_hander, register_area, 
    actual_area, register_purpose, actual_purpose, register_date, due_date, exercise_date, 
    predict_due_date, spare_field, creator, gmt_created, gmt_modified, pid
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.copower.pmcc.assess.dal.entity.SurveyAssetOtherTemplateExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from tb_survey_asset_other_template
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from tb_survey_asset_other_template
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from tb_survey_asset_other_template
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.copower.pmcc.assess.dal.entity.SurveyAssetOtherTemplateExample" >
    delete from tb_survey_asset_other_template
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.copower.pmcc.assess.dal.entity.SurveyAssetOtherTemplate" >
    <selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into tb_survey_asset_other_template (project_id, plan_detail_id, other_rights_registrar, 
      right_hander, register_area, actual_area, 
      register_purpose, actual_purpose, register_date, 
      due_date, exercise_date, predict_due_date, 
      spare_field, creator, gmt_created, 
      gmt_modified, pid)
    values (#{projectId,jdbcType=INTEGER}, #{planDetailId,jdbcType=INTEGER}, #{otherRightsRegistrar,jdbcType=INTEGER}, 
      #{rightHander,jdbcType=INTEGER}, #{registerArea,jdbcType=VARCHAR}, #{actualArea,jdbcType=VARCHAR}, 
      #{registerPurpose,jdbcType=VARCHAR}, #{actualPurpose,jdbcType=VARCHAR}, #{registerDate,jdbcType=TIMESTAMP}, 
      #{dueDate,jdbcType=TIMESTAMP}, #{exerciseDate,jdbcType=TIMESTAMP}, #{predictDueDate,jdbcType=TIMESTAMP}, 
      #{spareField,jdbcType=VARCHAR}, #{creator,jdbcType=VARCHAR}, #{gmtCreated,jdbcType=TIMESTAMP}, 
      #{gmtModified,jdbcType=TIMESTAMP}, #{pid,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.copower.pmcc.assess.dal.entity.SurveyAssetOtherTemplate" >
    <selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into tb_survey_asset_other_template
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="projectId != null" >
        project_id,
      </if>
      <if test="planDetailId != null" >
        plan_detail_id,
      </if>
      <if test="otherRightsRegistrar != null" >
        other_rights_registrar,
      </if>
      <if test="rightHander != null" >
        right_hander,
      </if>
      <if test="registerArea != null" >
        register_area,
      </if>
      <if test="actualArea != null" >
        actual_area,
      </if>
      <if test="registerPurpose != null" >
        register_purpose,
      </if>
      <if test="actualPurpose != null" >
        actual_purpose,
      </if>
      <if test="registerDate != null" >
        register_date,
      </if>
      <if test="dueDate != null" >
        due_date,
      </if>
      <if test="exerciseDate != null" >
        exercise_date,
      </if>
      <if test="predictDueDate != null" >
        predict_due_date,
      </if>
      <if test="spareField != null" >
        spare_field,
      </if>
      <if test="creator != null" >
        creator,
      </if>
      <if test="gmtCreated != null" >
        gmt_created,
      </if>
      <if test="gmtModified != null" >
        gmt_modified,
      </if>
      <if test="pid != null" >
        pid,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="projectId != null" >
        #{projectId,jdbcType=INTEGER},
      </if>
      <if test="planDetailId != null" >
        #{planDetailId,jdbcType=INTEGER},
      </if>
      <if test="otherRightsRegistrar != null" >
        #{otherRightsRegistrar,jdbcType=INTEGER},
      </if>
      <if test="rightHander != null" >
        #{rightHander,jdbcType=INTEGER},
      </if>
      <if test="registerArea != null" >
        #{registerArea,jdbcType=VARCHAR},
      </if>
      <if test="actualArea != null" >
        #{actualArea,jdbcType=VARCHAR},
      </if>
      <if test="registerPurpose != null" >
        #{registerPurpose,jdbcType=VARCHAR},
      </if>
      <if test="actualPurpose != null" >
        #{actualPurpose,jdbcType=VARCHAR},
      </if>
      <if test="registerDate != null" >
        #{registerDate,jdbcType=TIMESTAMP},
      </if>
      <if test="dueDate != null" >
        #{dueDate,jdbcType=TIMESTAMP},
      </if>
      <if test="exerciseDate != null" >
        #{exerciseDate,jdbcType=TIMESTAMP},
      </if>
      <if test="predictDueDate != null" >
        #{predictDueDate,jdbcType=TIMESTAMP},
      </if>
      <if test="spareField != null" >
        #{spareField,jdbcType=VARCHAR},
      </if>
      <if test="creator != null" >
        #{creator,jdbcType=VARCHAR},
      </if>
      <if test="gmtCreated != null" >
        #{gmtCreated,jdbcType=TIMESTAMP},
      </if>
      <if test="gmtModified != null" >
        #{gmtModified,jdbcType=TIMESTAMP},
      </if>
      <if test="pid != null" >
        #{pid,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.copower.pmcc.assess.dal.entity.SurveyAssetOtherTemplateExample" resultType="java.lang.Integer" >
    select count(*) from tb_survey_asset_other_template
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update tb_survey_asset_other_template
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.projectId != null" >
        project_id = #{record.projectId,jdbcType=INTEGER},
      </if>
      <if test="record.planDetailId != null" >
        plan_detail_id = #{record.planDetailId,jdbcType=INTEGER},
      </if>
      <if test="record.otherRightsRegistrar != null" >
        other_rights_registrar = #{record.otherRightsRegistrar,jdbcType=INTEGER},
      </if>
      <if test="record.rightHander != null" >
        right_hander = #{record.rightHander,jdbcType=INTEGER},
      </if>
      <if test="record.registerArea != null" >
        register_area = #{record.registerArea,jdbcType=VARCHAR},
      </if>
      <if test="record.actualArea != null" >
        actual_area = #{record.actualArea,jdbcType=VARCHAR},
      </if>
      <if test="record.registerPurpose != null" >
        register_purpose = #{record.registerPurpose,jdbcType=VARCHAR},
      </if>
      <if test="record.actualPurpose != null" >
        actual_purpose = #{record.actualPurpose,jdbcType=VARCHAR},
      </if>
      <if test="record.registerDate != null" >
        register_date = #{record.registerDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.dueDate != null" >
        due_date = #{record.dueDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.exerciseDate != null" >
        exercise_date = #{record.exerciseDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.predictDueDate != null" >
        predict_due_date = #{record.predictDueDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.spareField != null" >
        spare_field = #{record.spareField,jdbcType=VARCHAR},
      </if>
      <if test="record.creator != null" >
        creator = #{record.creator,jdbcType=VARCHAR},
      </if>
      <if test="record.gmtCreated != null" >
        gmt_created = #{record.gmtCreated,jdbcType=TIMESTAMP},
      </if>
      <if test="record.gmtModified != null" >
        gmt_modified = #{record.gmtModified,jdbcType=TIMESTAMP},
      </if>
      <if test="record.pid != null" >
        pid = #{record.pid,jdbcType=INTEGER},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update tb_survey_asset_other_template
    set id = #{record.id,jdbcType=INTEGER},
      project_id = #{record.projectId,jdbcType=INTEGER},
      plan_detail_id = #{record.planDetailId,jdbcType=INTEGER},
      other_rights_registrar = #{record.otherRightsRegistrar,jdbcType=INTEGER},
      right_hander = #{record.rightHander,jdbcType=INTEGER},
      register_area = #{record.registerArea,jdbcType=VARCHAR},
      actual_area = #{record.actualArea,jdbcType=VARCHAR},
      register_purpose = #{record.registerPurpose,jdbcType=VARCHAR},
      actual_purpose = #{record.actualPurpose,jdbcType=VARCHAR},
      register_date = #{record.registerDate,jdbcType=TIMESTAMP},
      due_date = #{record.dueDate,jdbcType=TIMESTAMP},
      exercise_date = #{record.exerciseDate,jdbcType=TIMESTAMP},
      predict_due_date = #{record.predictDueDate,jdbcType=TIMESTAMP},
      spare_field = #{record.spareField,jdbcType=VARCHAR},
      creator = #{record.creator,jdbcType=VARCHAR},
      gmt_created = #{record.gmtCreated,jdbcType=TIMESTAMP},
      gmt_modified = #{record.gmtModified,jdbcType=TIMESTAMP},
      pid = #{record.pid,jdbcType=INTEGER}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.copower.pmcc.assess.dal.entity.SurveyAssetOtherTemplate" >
    update tb_survey_asset_other_template
    <set >
      <if test="projectId != null" >
        project_id = #{projectId,jdbcType=INTEGER},
      </if>
      <if test="planDetailId != null" >
        plan_detail_id = #{planDetailId,jdbcType=INTEGER},
      </if>
      <if test="otherRightsRegistrar != null" >
        other_rights_registrar = #{otherRightsRegistrar,jdbcType=INTEGER},
      </if>
      <if test="rightHander != null" >
        right_hander = #{rightHander,jdbcType=INTEGER},
      </if>
      <if test="registerArea != null" >
        register_area = #{registerArea,jdbcType=VARCHAR},
      </if>
      <if test="actualArea != null" >
        actual_area = #{actualArea,jdbcType=VARCHAR},
      </if>
      <if test="registerPurpose != null" >
        register_purpose = #{registerPurpose,jdbcType=VARCHAR},
      </if>
      <if test="actualPurpose != null" >
        actual_purpose = #{actualPurpose,jdbcType=VARCHAR},
      </if>
      <if test="registerDate != null" >
        register_date = #{registerDate,jdbcType=TIMESTAMP},
      </if>
      <if test="dueDate != null" >
        due_date = #{dueDate,jdbcType=TIMESTAMP},
      </if>
      <if test="exerciseDate != null" >
        exercise_date = #{exerciseDate,jdbcType=TIMESTAMP},
      </if>
      <if test="predictDueDate != null" >
        predict_due_date = #{predictDueDate,jdbcType=TIMESTAMP},
      </if>
      <if test="spareField != null" >
        spare_field = #{spareField,jdbcType=VARCHAR},
      </if>
      <if test="creator != null" >
        creator = #{creator,jdbcType=VARCHAR},
      </if>
      <if test="gmtCreated != null" >
        gmt_created = #{gmtCreated,jdbcType=TIMESTAMP},
      </if>
      <if test="gmtModified != null" >
        gmt_modified = #{gmtModified,jdbcType=TIMESTAMP},
      </if>
      <if test="pid != null" >
        pid = #{pid,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.copower.pmcc.assess.dal.entity.SurveyAssetOtherTemplate" >
    update tb_survey_asset_other_template
    set project_id = #{projectId,jdbcType=INTEGER},
      plan_detail_id = #{planDetailId,jdbcType=INTEGER},
      other_rights_registrar = #{otherRightsRegistrar,jdbcType=INTEGER},
      right_hander = #{rightHander,jdbcType=INTEGER},
      register_area = #{registerArea,jdbcType=VARCHAR},
      actual_area = #{actualArea,jdbcType=VARCHAR},
      register_purpose = #{registerPurpose,jdbcType=VARCHAR},
      actual_purpose = #{actualPurpose,jdbcType=VARCHAR},
      register_date = #{registerDate,jdbcType=TIMESTAMP},
      due_date = #{dueDate,jdbcType=TIMESTAMP},
      exercise_date = #{exerciseDate,jdbcType=TIMESTAMP},
      predict_due_date = #{predictDueDate,jdbcType=TIMESTAMP},
      spare_field = #{spareField,jdbcType=VARCHAR},
      creator = #{creator,jdbcType=VARCHAR},
      gmt_created = #{gmtCreated,jdbcType=TIMESTAMP},
      gmt_modified = #{gmtModified,jdbcType=TIMESTAMP},
      pid = #{pid,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>