<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.copower.pmcc.assess.dal.mapper.SurveyLocaleExploreDetailMapper" >
  <resultMap id="BaseResultMap" type="com.copower.pmcc.assess.dal.entity.SurveyLocaleExploreDetail" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="main_id" property="mainId" jdbcType="INTEGER" />
    <result column="survey_sheet_number" property="surveySheetNumber" jdbcType="INTEGER" />
    <result column="survey_people" property="surveyPeople" jdbcType="VARCHAR" />
    <result column="survey_time" property="surveyTime" jdbcType="TIMESTAMP" />
    <result column="belong_warrant" property="belongWarrant" jdbcType="VARCHAR" />
    <result column="led_luminous_people" property="ledLuminousPeople" jdbcType="VARCHAR" />
    <result column="survey_picture" property="surveyPicture" jdbcType="VARCHAR" />
    <result column="survey_image" property="surveyImage" jdbcType="VARCHAR" />
    <result column="location_picture" property="locationPicture" jdbcType="VARCHAR" />
    <result column="survey_localtion" property="surveyLocaltion" jdbcType="VARCHAR" />
    <result column="correlation_card" property="correlationCard" jdbcType="VARCHAR" />
    <result column="house_name" property="houseName" jdbcType="VARCHAR" />
    <result column="creator" property="creator" jdbcType="VARCHAR" />
    <result column="gmt_created" property="gmtCreated" jdbcType="TIMESTAMP" />
    <result column="gmt_modified" property="gmtModified" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, main_id, survey_sheet_number, survey_people, survey_time, belong_warrant, led_luminous_people, 
    survey_picture, survey_image, location_picture, survey_localtion, correlation_card, 
    house_name, creator, gmt_created, gmt_modified
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.copower.pmcc.assess.dal.entity.SurveyLocaleExploreDetailExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from tb_survey_locale_explore_detail
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from tb_survey_locale_explore_detail
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from tb_survey_locale_explore_detail
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.copower.pmcc.assess.dal.entity.SurveyLocaleExploreDetailExample" >
    delete from tb_survey_locale_explore_detail
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.copower.pmcc.assess.dal.entity.SurveyLocaleExploreDetail" >
    <selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into tb_survey_locale_explore_detail (main_id, survey_sheet_number, survey_people, 
      survey_time, belong_warrant, led_luminous_people, 
      survey_picture, survey_image, location_picture, 
      survey_localtion, correlation_card, house_name, 
      creator, gmt_created, gmt_modified
      )
    values (#{mainId,jdbcType=INTEGER}, #{surveySheetNumber,jdbcType=INTEGER}, #{surveyPeople,jdbcType=VARCHAR}, 
      #{surveyTime,jdbcType=TIMESTAMP}, #{belongWarrant,jdbcType=VARCHAR}, #{ledLuminousPeople,jdbcType=VARCHAR}, 
      #{surveyPicture,jdbcType=VARCHAR}, #{surveyImage,jdbcType=VARCHAR}, #{locationPicture,jdbcType=VARCHAR}, 
      #{surveyLocaltion,jdbcType=VARCHAR}, #{correlationCard,jdbcType=VARCHAR}, #{houseName,jdbcType=VARCHAR}, 
      #{creator,jdbcType=VARCHAR}, #{gmtCreated,jdbcType=TIMESTAMP}, #{gmtModified,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.copower.pmcc.assess.dal.entity.SurveyLocaleExploreDetail" >
    <selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into tb_survey_locale_explore_detail
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="mainId != null" >
        main_id,
      </if>
      <if test="surveySheetNumber != null" >
        survey_sheet_number,
      </if>
      <if test="surveyPeople != null" >
        survey_people,
      </if>
      <if test="surveyTime != null" >
        survey_time,
      </if>
      <if test="belongWarrant != null" >
        belong_warrant,
      </if>
      <if test="ledLuminousPeople != null" >
        led_luminous_people,
      </if>
      <if test="surveyPicture != null" >
        survey_picture,
      </if>
      <if test="surveyImage != null" >
        survey_image,
      </if>
      <if test="locationPicture != null" >
        location_picture,
      </if>
      <if test="surveyLocaltion != null" >
        survey_localtion,
      </if>
      <if test="correlationCard != null" >
        correlation_card,
      </if>
      <if test="houseName != null" >
        house_name,
      </if>
      <if test="creator != null" >
        creator,
      </if>
      <if test="gmtCreated != null" >
        gmt_created,
      </if>
      <if test="gmtModified != null" >
        gmt_modified,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="mainId != null" >
        #{mainId,jdbcType=INTEGER},
      </if>
      <if test="surveySheetNumber != null" >
        #{surveySheetNumber,jdbcType=INTEGER},
      </if>
      <if test="surveyPeople != null" >
        #{surveyPeople,jdbcType=VARCHAR},
      </if>
      <if test="surveyTime != null" >
        #{surveyTime,jdbcType=TIMESTAMP},
      </if>
      <if test="belongWarrant != null" >
        #{belongWarrant,jdbcType=VARCHAR},
      </if>
      <if test="ledLuminousPeople != null" >
        #{ledLuminousPeople,jdbcType=VARCHAR},
      </if>
      <if test="surveyPicture != null" >
        #{surveyPicture,jdbcType=VARCHAR},
      </if>
      <if test="surveyImage != null" >
        #{surveyImage,jdbcType=VARCHAR},
      </if>
      <if test="locationPicture != null" >
        #{locationPicture,jdbcType=VARCHAR},
      </if>
      <if test="surveyLocaltion != null" >
        #{surveyLocaltion,jdbcType=VARCHAR},
      </if>
      <if test="correlationCard != null" >
        #{correlationCard,jdbcType=VARCHAR},
      </if>
      <if test="houseName != null" >
        #{houseName,jdbcType=VARCHAR},
      </if>
      <if test="creator != null" >
        #{creator,jdbcType=VARCHAR},
      </if>
      <if test="gmtCreated != null" >
        #{gmtCreated,jdbcType=TIMESTAMP},
      </if>
      <if test="gmtModified != null" >
        #{gmtModified,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.copower.pmcc.assess.dal.entity.SurveyLocaleExploreDetailExample" resultType="java.lang.Integer" >
    select count(*) from tb_survey_locale_explore_detail
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update tb_survey_locale_explore_detail
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.mainId != null" >
        main_id = #{record.mainId,jdbcType=INTEGER},
      </if>
      <if test="record.surveySheetNumber != null" >
        survey_sheet_number = #{record.surveySheetNumber,jdbcType=INTEGER},
      </if>
      <if test="record.surveyPeople != null" >
        survey_people = #{record.surveyPeople,jdbcType=VARCHAR},
      </if>
      <if test="record.surveyTime != null" >
        survey_time = #{record.surveyTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.belongWarrant != null" >
        belong_warrant = #{record.belongWarrant,jdbcType=VARCHAR},
      </if>
      <if test="record.ledLuminousPeople != null" >
        led_luminous_people = #{record.ledLuminousPeople,jdbcType=VARCHAR},
      </if>
      <if test="record.surveyPicture != null" >
        survey_picture = #{record.surveyPicture,jdbcType=VARCHAR},
      </if>
      <if test="record.surveyImage != null" >
        survey_image = #{record.surveyImage,jdbcType=VARCHAR},
      </if>
      <if test="record.locationPicture != null" >
        location_picture = #{record.locationPicture,jdbcType=VARCHAR},
      </if>
      <if test="record.surveyLocaltion != null" >
        survey_localtion = #{record.surveyLocaltion,jdbcType=VARCHAR},
      </if>
      <if test="record.correlationCard != null" >
        correlation_card = #{record.correlationCard,jdbcType=VARCHAR},
      </if>
      <if test="record.houseName != null" >
        house_name = #{record.houseName,jdbcType=VARCHAR},
      </if>
      <if test="record.creator != null" >
        creator = #{record.creator,jdbcType=VARCHAR},
      </if>
      <if test="record.gmtCreated != null" >
        gmt_created = #{record.gmtCreated,jdbcType=TIMESTAMP},
      </if>
      <if test="record.gmtModified != null" >
        gmt_modified = #{record.gmtModified,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update tb_survey_locale_explore_detail
    set id = #{record.id,jdbcType=INTEGER},
      main_id = #{record.mainId,jdbcType=INTEGER},
      survey_sheet_number = #{record.surveySheetNumber,jdbcType=INTEGER},
      survey_people = #{record.surveyPeople,jdbcType=VARCHAR},
      survey_time = #{record.surveyTime,jdbcType=TIMESTAMP},
      belong_warrant = #{record.belongWarrant,jdbcType=VARCHAR},
      led_luminous_people = #{record.ledLuminousPeople,jdbcType=VARCHAR},
      survey_picture = #{record.surveyPicture,jdbcType=VARCHAR},
      survey_image = #{record.surveyImage,jdbcType=VARCHAR},
      location_picture = #{record.locationPicture,jdbcType=VARCHAR},
      survey_localtion = #{record.surveyLocaltion,jdbcType=VARCHAR},
      correlation_card = #{record.correlationCard,jdbcType=VARCHAR},
      house_name = #{record.houseName,jdbcType=VARCHAR},
      creator = #{record.creator,jdbcType=VARCHAR},
      gmt_created = #{record.gmtCreated,jdbcType=TIMESTAMP},
      gmt_modified = #{record.gmtModified,jdbcType=TIMESTAMP}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.copower.pmcc.assess.dal.entity.SurveyLocaleExploreDetail" >
    update tb_survey_locale_explore_detail
    <set >
      <if test="mainId != null" >
        main_id = #{mainId,jdbcType=INTEGER},
      </if>
      <if test="surveySheetNumber != null" >
        survey_sheet_number = #{surveySheetNumber,jdbcType=INTEGER},
      </if>
      <if test="surveyPeople != null" >
        survey_people = #{surveyPeople,jdbcType=VARCHAR},
      </if>
      <if test="surveyTime != null" >
        survey_time = #{surveyTime,jdbcType=TIMESTAMP},
      </if>
      <if test="belongWarrant != null" >
        belong_warrant = #{belongWarrant,jdbcType=VARCHAR},
      </if>
      <if test="ledLuminousPeople != null" >
        led_luminous_people = #{ledLuminousPeople,jdbcType=VARCHAR},
      </if>
      <if test="surveyPicture != null" >
        survey_picture = #{surveyPicture,jdbcType=VARCHAR},
      </if>
      <if test="surveyImage != null" >
        survey_image = #{surveyImage,jdbcType=VARCHAR},
      </if>
      <if test="locationPicture != null" >
        location_picture = #{locationPicture,jdbcType=VARCHAR},
      </if>
      <if test="surveyLocaltion != null" >
        survey_localtion = #{surveyLocaltion,jdbcType=VARCHAR},
      </if>
      <if test="correlationCard != null" >
        correlation_card = #{correlationCard,jdbcType=VARCHAR},
      </if>
      <if test="houseName != null" >
        house_name = #{houseName,jdbcType=VARCHAR},
      </if>
      <if test="creator != null" >
        creator = #{creator,jdbcType=VARCHAR},
      </if>
      <if test="gmtCreated != null" >
        gmt_created = #{gmtCreated,jdbcType=TIMESTAMP},
      </if>
      <if test="gmtModified != null" >
        gmt_modified = #{gmtModified,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.copower.pmcc.assess.dal.entity.SurveyLocaleExploreDetail" >
    update tb_survey_locale_explore_detail
    set main_id = #{mainId,jdbcType=INTEGER},
      survey_sheet_number = #{surveySheetNumber,jdbcType=INTEGER},
      survey_people = #{surveyPeople,jdbcType=VARCHAR},
      survey_time = #{surveyTime,jdbcType=TIMESTAMP},
      belong_warrant = #{belongWarrant,jdbcType=VARCHAR},
      led_luminous_people = #{ledLuminousPeople,jdbcType=VARCHAR},
      survey_picture = #{surveyPicture,jdbcType=VARCHAR},
      survey_image = #{surveyImage,jdbcType=VARCHAR},
      location_picture = #{locationPicture,jdbcType=VARCHAR},
      survey_localtion = #{surveyLocaltion,jdbcType=VARCHAR},
      correlation_card = #{correlationCard,jdbcType=VARCHAR},
      house_name = #{houseName,jdbcType=VARCHAR},
      creator = #{creator,jdbcType=VARCHAR},
      gmt_created = #{gmtCreated,jdbcType=TIMESTAMP},
      gmt_modified = #{gmtModified,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>