<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.copower.pmcc.assess.dal.mapper.SurveyAssetTemplateMapper" >
  <resultMap id="BaseResultMap" type="com.copower.pmcc.assess.dal.entity.SurveyAssetTemplate" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="project_id" property="projectId" jdbcType="INTEGER" />
    <result column="plan_detail_id" property="planDetailId" jdbcType="INTEGER" />
    <result column="Inventory_content" property="inventoryContent" jdbcType="INTEGER" />
    <result column="are_consistent" property="areConsistent" jdbcType="INTEGER" />
    <result column="registration_address" property="registrationAddress" jdbcType="VARCHAR" />
    <result column="actual_address" property="actualAddress" jdbcType="VARCHAR" />
    <result column="difference_reason" property="differenceReason" jdbcType="VARCHAR" />
    <result column="credential" property="credential" jdbcType="VARCHAR" />
    <result column="credential_accessory" property="credentialAccessory" jdbcType="VARCHAR" />
    <result column="voucher" property="voucher" jdbcType="VARCHAR" />
    <result column="survey_time" property="surveyTime" jdbcType="TIMESTAMP" />
    <result column="creator" property="creator" jdbcType="VARCHAR" />
    <result column="gmt_created" property="gmtCreated" jdbcType="TIMESTAMP" />
    <result column="gmt_modified" property="gmtModified" jdbcType="TIMESTAMP" />
    <result column="spare_field" property="spareField" jdbcType="VARCHAR" />
    <result column="pid" property="pid" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, project_id, plan_detail_id, Inventory_content, are_consistent, registration_address, 
    actual_address, difference_reason, credential, credential_accessory, voucher, survey_time, 
    creator, gmt_created, gmt_modified, spare_field, pid
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.copower.pmcc.assess.dal.entity.SurveyAssetTemplateExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from tb_survey_asset_template
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from tb_survey_asset_template
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from tb_survey_asset_template
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.copower.pmcc.assess.dal.entity.SurveyAssetTemplateExample" >
    delete from tb_survey_asset_template
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.copower.pmcc.assess.dal.entity.SurveyAssetTemplate" >
    <selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into tb_survey_asset_template (project_id, plan_detail_id, Inventory_content, 
      are_consistent, registration_address, actual_address, 
      difference_reason, credential, credential_accessory, 
      voucher, survey_time, creator, 
      gmt_created, gmt_modified, spare_field, 
      pid)
    values (#{projectId,jdbcType=INTEGER}, #{planDetailId,jdbcType=INTEGER}, #{inventoryContent,jdbcType=INTEGER}, 
      #{areConsistent,jdbcType=INTEGER}, #{registrationAddress,jdbcType=VARCHAR}, #{actualAddress,jdbcType=VARCHAR}, 
      #{differenceReason,jdbcType=VARCHAR}, #{credential,jdbcType=VARCHAR}, #{credentialAccessory,jdbcType=VARCHAR}, 
      #{voucher,jdbcType=VARCHAR}, #{surveyTime,jdbcType=TIMESTAMP}, #{creator,jdbcType=VARCHAR}, 
      #{gmtCreated,jdbcType=TIMESTAMP}, #{gmtModified,jdbcType=TIMESTAMP}, #{spareField,jdbcType=VARCHAR}, 
      #{pid,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.copower.pmcc.assess.dal.entity.SurveyAssetTemplate" >
    <selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into tb_survey_asset_template
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="projectId != null" >
        project_id,
      </if>
      <if test="planDetailId != null" >
        plan_detail_id,
      </if>
      <if test="inventoryContent != null" >
        Inventory_content,
      </if>
      <if test="areConsistent != null" >
        are_consistent,
      </if>
      <if test="registrationAddress != null" >
        registration_address,
      </if>
      <if test="actualAddress != null" >
        actual_address,
      </if>
      <if test="differenceReason != null" >
        difference_reason,
      </if>
      <if test="credential != null" >
        credential,
      </if>
      <if test="credentialAccessory != null" >
        credential_accessory,
      </if>
      <if test="voucher != null" >
        voucher,
      </if>
      <if test="surveyTime != null" >
        survey_time,
      </if>
      <if test="creator != null" >
        creator,
      </if>
      <if test="gmtCreated != null" >
        gmt_created,
      </if>
      <if test="gmtModified != null" >
        gmt_modified,
      </if>
      <if test="spareField != null" >
        spare_field,
      </if>
      <if test="pid != null" >
        pid,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="projectId != null" >
        #{projectId,jdbcType=INTEGER},
      </if>
      <if test="planDetailId != null" >
        #{planDetailId,jdbcType=INTEGER},
      </if>
      <if test="inventoryContent != null" >
        #{inventoryContent,jdbcType=INTEGER},
      </if>
      <if test="areConsistent != null" >
        #{areConsistent,jdbcType=INTEGER},
      </if>
      <if test="registrationAddress != null" >
        #{registrationAddress,jdbcType=VARCHAR},
      </if>
      <if test="actualAddress != null" >
        #{actualAddress,jdbcType=VARCHAR},
      </if>
      <if test="differenceReason != null" >
        #{differenceReason,jdbcType=VARCHAR},
      </if>
      <if test="credential != null" >
        #{credential,jdbcType=VARCHAR},
      </if>
      <if test="credentialAccessory != null" >
        #{credentialAccessory,jdbcType=VARCHAR},
      </if>
      <if test="voucher != null" >
        #{voucher,jdbcType=VARCHAR},
      </if>
      <if test="surveyTime != null" >
        #{surveyTime,jdbcType=TIMESTAMP},
      </if>
      <if test="creator != null" >
        #{creator,jdbcType=VARCHAR},
      </if>
      <if test="gmtCreated != null" >
        #{gmtCreated,jdbcType=TIMESTAMP},
      </if>
      <if test="gmtModified != null" >
        #{gmtModified,jdbcType=TIMESTAMP},
      </if>
      <if test="spareField != null" >
        #{spareField,jdbcType=VARCHAR},
      </if>
      <if test="pid != null" >
        #{pid,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.copower.pmcc.assess.dal.entity.SurveyAssetTemplateExample" resultType="java.lang.Integer" >
    select count(*) from tb_survey_asset_template
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update tb_survey_asset_template
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.projectId != null" >
        project_id = #{record.projectId,jdbcType=INTEGER},
      </if>
      <if test="record.planDetailId != null" >
        plan_detail_id = #{record.planDetailId,jdbcType=INTEGER},
      </if>
      <if test="record.inventoryContent != null" >
        Inventory_content = #{record.inventoryContent,jdbcType=INTEGER},
      </if>
      <if test="record.areConsistent != null" >
        are_consistent = #{record.areConsistent,jdbcType=INTEGER},
      </if>
      <if test="record.registrationAddress != null" >
        registration_address = #{record.registrationAddress,jdbcType=VARCHAR},
      </if>
      <if test="record.actualAddress != null" >
        actual_address = #{record.actualAddress,jdbcType=VARCHAR},
      </if>
      <if test="record.differenceReason != null" >
        difference_reason = #{record.differenceReason,jdbcType=VARCHAR},
      </if>
      <if test="record.credential != null" >
        credential = #{record.credential,jdbcType=VARCHAR},
      </if>
      <if test="record.credentialAccessory != null" >
        credential_accessory = #{record.credentialAccessory,jdbcType=VARCHAR},
      </if>
      <if test="record.voucher != null" >
        voucher = #{record.voucher,jdbcType=VARCHAR},
      </if>
      <if test="record.surveyTime != null" >
        survey_time = #{record.surveyTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.creator != null" >
        creator = #{record.creator,jdbcType=VARCHAR},
      </if>
      <if test="record.gmtCreated != null" >
        gmt_created = #{record.gmtCreated,jdbcType=TIMESTAMP},
      </if>
      <if test="record.gmtModified != null" >
        gmt_modified = #{record.gmtModified,jdbcType=TIMESTAMP},
      </if>
      <if test="record.spareField != null" >
        spare_field = #{record.spareField,jdbcType=VARCHAR},
      </if>
      <if test="record.pid != null" >
        pid = #{record.pid,jdbcType=INTEGER},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update tb_survey_asset_template
    set id = #{record.id,jdbcType=INTEGER},
      project_id = #{record.projectId,jdbcType=INTEGER},
      plan_detail_id = #{record.planDetailId,jdbcType=INTEGER},
      Inventory_content = #{record.inventoryContent,jdbcType=INTEGER},
      are_consistent = #{record.areConsistent,jdbcType=INTEGER},
      registration_address = #{record.registrationAddress,jdbcType=VARCHAR},
      actual_address = #{record.actualAddress,jdbcType=VARCHAR},
      difference_reason = #{record.differenceReason,jdbcType=VARCHAR},
      credential = #{record.credential,jdbcType=VARCHAR},
      credential_accessory = #{record.credentialAccessory,jdbcType=VARCHAR},
      voucher = #{record.voucher,jdbcType=VARCHAR},
      survey_time = #{record.surveyTime,jdbcType=TIMESTAMP},
      creator = #{record.creator,jdbcType=VARCHAR},
      gmt_created = #{record.gmtCreated,jdbcType=TIMESTAMP},
      gmt_modified = #{record.gmtModified,jdbcType=TIMESTAMP},
      spare_field = #{record.spareField,jdbcType=VARCHAR},
      pid = #{record.pid,jdbcType=INTEGER}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.copower.pmcc.assess.dal.entity.SurveyAssetTemplate" >
    update tb_survey_asset_template
    <set >
      <if test="projectId != null" >
        project_id = #{projectId,jdbcType=INTEGER},
      </if>
      <if test="planDetailId != null" >
        plan_detail_id = #{planDetailId,jdbcType=INTEGER},
      </if>
      <if test="inventoryContent != null" >
        Inventory_content = #{inventoryContent,jdbcType=INTEGER},
      </if>
      <if test="areConsistent != null" >
        are_consistent = #{areConsistent,jdbcType=INTEGER},
      </if>
      <if test="registrationAddress != null" >
        registration_address = #{registrationAddress,jdbcType=VARCHAR},
      </if>
      <if test="actualAddress != null" >
        actual_address = #{actualAddress,jdbcType=VARCHAR},
      </if>
      <if test="differenceReason != null" >
        difference_reason = #{differenceReason,jdbcType=VARCHAR},
      </if>
      <if test="credential != null" >
        credential = #{credential,jdbcType=VARCHAR},
      </if>
      <if test="credentialAccessory != null" >
        credential_accessory = #{credentialAccessory,jdbcType=VARCHAR},
      </if>
      <if test="voucher != null" >
        voucher = #{voucher,jdbcType=VARCHAR},
      </if>
      <if test="surveyTime != null" >
        survey_time = #{surveyTime,jdbcType=TIMESTAMP},
      </if>
      <if test="creator != null" >
        creator = #{creator,jdbcType=VARCHAR},
      </if>
      <if test="gmtCreated != null" >
        gmt_created = #{gmtCreated,jdbcType=TIMESTAMP},
      </if>
      <if test="gmtModified != null" >
        gmt_modified = #{gmtModified,jdbcType=TIMESTAMP},
      </if>
      <if test="spareField != null" >
        spare_field = #{spareField,jdbcType=VARCHAR},
      </if>
      <if test="pid != null" >
        pid = #{pid,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.copower.pmcc.assess.dal.entity.SurveyAssetTemplate" >
    update tb_survey_asset_template
    set project_id = #{projectId,jdbcType=INTEGER},
      plan_detail_id = #{planDetailId,jdbcType=INTEGER},
      Inventory_content = #{inventoryContent,jdbcType=INTEGER},
      are_consistent = #{areConsistent,jdbcType=INTEGER},
      registration_address = #{registrationAddress,jdbcType=VARCHAR},
      actual_address = #{actualAddress,jdbcType=VARCHAR},
      difference_reason = #{differenceReason,jdbcType=VARCHAR},
      credential = #{credential,jdbcType=VARCHAR},
      credential_accessory = #{credentialAccessory,jdbcType=VARCHAR},
      voucher = #{voucher,jdbcType=VARCHAR},
      survey_time = #{surveyTime,jdbcType=TIMESTAMP},
      creator = #{creator,jdbcType=VARCHAR},
      gmt_created = #{gmtCreated,jdbcType=TIMESTAMP},
      gmt_modified = #{gmtModified,jdbcType=TIMESTAMP},
      spare_field = #{spareField,jdbcType=VARCHAR},
      pid = #{pid,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>