<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.copower.pmcc.assess.dal.mapper.CsrBorrowerEnteringMapper" >
  <resultMap id="BaseResultMap" type="com.copower.pmcc.assess.dal.entity.CsrBorrowerEntering" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="borrower_id" property="borrowerId" jdbcType="VARCHAR" />
    <result column="first_level_branch" property="firstLevelBranch" jdbcType="VARCHAR" />
    <result column="second_level_branch" property="secondLevelBranch" jdbcType="VARCHAR" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="id_number" property="idNumber" jdbcType="VARCHAR" />
    <result column="marital_status" property="maritalStatus" jdbcType="VARCHAR" />
    <result column="education" property="education" jdbcType="VARCHAR" />
    <result column="work_unit" property="workUnit" jdbcType="VARCHAR" />
    <result column="post" property="post" jdbcType="VARCHAR" />
    <result column="domicile_place" property="domicilePlace" jdbcType="VARCHAR" />
    <result column="present_address" property="presentAddress" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, borrower_id, first_level_branch, second_level_branch, name, id_number, marital_status, 
    education, work_unit, post, domicile_place, present_address
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.copower.pmcc.assess.dal.entity.CsrBorrowerEnteringExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from tb_csr_borrower_entering
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from tb_csr_borrower_entering
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from tb_csr_borrower_entering
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.copower.pmcc.assess.dal.entity.CsrBorrowerEnteringExample" >
    delete from tb_csr_borrower_entering
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.copower.pmcc.assess.dal.entity.CsrBorrowerEntering" >
    <selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into tb_csr_borrower_entering (borrower_id, first_level_branch, second_level_branch, 
      name, id_number, marital_status, 
      education, work_unit, post, 
      domicile_place, present_address)
    values (#{borrowerId,jdbcType=VARCHAR}, #{firstLevelBranch,jdbcType=VARCHAR}, #{secondLevelBranch,jdbcType=VARCHAR}, 
      #{name,jdbcType=VARCHAR}, #{idNumber,jdbcType=VARCHAR}, #{maritalStatus,jdbcType=VARCHAR}, 
      #{education,jdbcType=VARCHAR}, #{workUnit,jdbcType=VARCHAR}, #{post,jdbcType=VARCHAR}, 
      #{domicilePlace,jdbcType=VARCHAR}, #{presentAddress,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.copower.pmcc.assess.dal.entity.CsrBorrowerEntering" >
    <selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into tb_csr_borrower_entering
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="borrowerId != null" >
        borrower_id,
      </if>
      <if test="firstLevelBranch != null" >
        first_level_branch,
      </if>
      <if test="secondLevelBranch != null" >
        second_level_branch,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="idNumber != null" >
        id_number,
      </if>
      <if test="maritalStatus != null" >
        marital_status,
      </if>
      <if test="education != null" >
        education,
      </if>
      <if test="workUnit != null" >
        work_unit,
      </if>
      <if test="post != null" >
        post,
      </if>
      <if test="domicilePlace != null" >
        domicile_place,
      </if>
      <if test="presentAddress != null" >
        present_address,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="borrowerId != null" >
        #{borrowerId,jdbcType=VARCHAR},
      </if>
      <if test="firstLevelBranch != null" >
        #{firstLevelBranch,jdbcType=VARCHAR},
      </if>
      <if test="secondLevelBranch != null" >
        #{secondLevelBranch,jdbcType=VARCHAR},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="idNumber != null" >
        #{idNumber,jdbcType=VARCHAR},
      </if>
      <if test="maritalStatus != null" >
        #{maritalStatus,jdbcType=VARCHAR},
      </if>
      <if test="education != null" >
        #{education,jdbcType=VARCHAR},
      </if>
      <if test="workUnit != null" >
        #{workUnit,jdbcType=VARCHAR},
      </if>
      <if test="post != null" >
        #{post,jdbcType=VARCHAR},
      </if>
      <if test="domicilePlace != null" >
        #{domicilePlace,jdbcType=VARCHAR},
      </if>
      <if test="presentAddress != null" >
        #{presentAddress,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.copower.pmcc.assess.dal.entity.CsrBorrowerEnteringExample" resultType="java.lang.Integer" >
    select count(*) from tb_csr_borrower_entering
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update tb_csr_borrower_entering
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.borrowerId != null" >
        borrower_id = #{record.borrowerId,jdbcType=VARCHAR},
      </if>
      <if test="record.firstLevelBranch != null" >
        first_level_branch = #{record.firstLevelBranch,jdbcType=VARCHAR},
      </if>
      <if test="record.secondLevelBranch != null" >
        second_level_branch = #{record.secondLevelBranch,jdbcType=VARCHAR},
      </if>
      <if test="record.name != null" >
        name = #{record.name,jdbcType=VARCHAR},
      </if>
      <if test="record.idNumber != null" >
        id_number = #{record.idNumber,jdbcType=VARCHAR},
      </if>
      <if test="record.maritalStatus != null" >
        marital_status = #{record.maritalStatus,jdbcType=VARCHAR},
      </if>
      <if test="record.education != null" >
        education = #{record.education,jdbcType=VARCHAR},
      </if>
      <if test="record.workUnit != null" >
        work_unit = #{record.workUnit,jdbcType=VARCHAR},
      </if>
      <if test="record.post != null" >
        post = #{record.post,jdbcType=VARCHAR},
      </if>
      <if test="record.domicilePlace != null" >
        domicile_place = #{record.domicilePlace,jdbcType=VARCHAR},
      </if>
      <if test="record.presentAddress != null" >
        present_address = #{record.presentAddress,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update tb_csr_borrower_entering
    set id = #{record.id,jdbcType=INTEGER},
      borrower_id = #{record.borrowerId,jdbcType=VARCHAR},
      first_level_branch = #{record.firstLevelBranch,jdbcType=VARCHAR},
      second_level_branch = #{record.secondLevelBranch,jdbcType=VARCHAR},
      name = #{record.name,jdbcType=VARCHAR},
      id_number = #{record.idNumber,jdbcType=VARCHAR},
      marital_status = #{record.maritalStatus,jdbcType=VARCHAR},
      education = #{record.education,jdbcType=VARCHAR},
      work_unit = #{record.workUnit,jdbcType=VARCHAR},
      post = #{record.post,jdbcType=VARCHAR},
      domicile_place = #{record.domicilePlace,jdbcType=VARCHAR},
      present_address = #{record.presentAddress,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.copower.pmcc.assess.dal.entity.CsrBorrowerEntering" >
    update tb_csr_borrower_entering
    <set >
      <if test="borrowerId != null" >
        borrower_id = #{borrowerId,jdbcType=VARCHAR},
      </if>
      <if test="firstLevelBranch != null" >
        first_level_branch = #{firstLevelBranch,jdbcType=VARCHAR},
      </if>
      <if test="secondLevelBranch != null" >
        second_level_branch = #{secondLevelBranch,jdbcType=VARCHAR},
      </if>
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="idNumber != null" >
        id_number = #{idNumber,jdbcType=VARCHAR},
      </if>
      <if test="maritalStatus != null" >
        marital_status = #{maritalStatus,jdbcType=VARCHAR},
      </if>
      <if test="education != null" >
        education = #{education,jdbcType=VARCHAR},
      </if>
      <if test="workUnit != null" >
        work_unit = #{workUnit,jdbcType=VARCHAR},
      </if>
      <if test="post != null" >
        post = #{post,jdbcType=VARCHAR},
      </if>
      <if test="domicilePlace != null" >
        domicile_place = #{domicilePlace,jdbcType=VARCHAR},
      </if>
      <if test="presentAddress != null" >
        present_address = #{presentAddress,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.copower.pmcc.assess.dal.entity.CsrBorrowerEntering" >
    update tb_csr_borrower_entering
    set borrower_id = #{borrowerId,jdbcType=VARCHAR},
      first_level_branch = #{firstLevelBranch,jdbcType=VARCHAR},
      second_level_branch = #{secondLevelBranch,jdbcType=VARCHAR},
      name = #{name,jdbcType=VARCHAR},
      id_number = #{idNumber,jdbcType=VARCHAR},
      marital_status = #{maritalStatus,jdbcType=VARCHAR},
      education = #{education,jdbcType=VARCHAR},
      work_unit = #{workUnit,jdbcType=VARCHAR},
      post = #{post,jdbcType=VARCHAR},
      domicile_place = #{domicilePlace,jdbcType=VARCHAR},
      present_address = #{presentAddress,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>