<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.copower.pmcc.assess.dal.mapper.FuniHousesBuildMapper" >
  <resultMap id="BaseResultMap" type="com.copower.pmcc.assess.dal.entity.FuniHousesBuild" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="lpbh" property="lpbh" jdbcType="INTEGER" />
    <result column="ld" property="ld" jdbcType="VARCHAR" />
    <result column="cs" property="cs" jdbcType="VARCHAR" />
    <result column="cg" property="cg" jdbcType="VARCHAR" />
    <result column="jzgd" property="jzgd" jdbcType="VARCHAR" />
    <result column="wzqk" property="wzqk" jdbcType="VARCHAR" />
    <result column="ggzxqk" property="ggzxqk" jdbcType="VARCHAR" />
    <result column="pbdt" property="pbdt" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, lpbh, ld, cs, cg, jzgd, wzqk, ggzxqk, pbdt
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.copower.pmcc.assess.dal.entity.FuniHousesBuildExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from tb_funi_houses_build
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from tb_funi_houses_build
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from tb_funi_houses_build
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.copower.pmcc.assess.dal.entity.FuniHousesBuildExample" >
    delete from tb_funi_houses_build
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.copower.pmcc.assess.dal.entity.FuniHousesBuild" >
    <selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into tb_funi_houses_build (lpbh, ld, cs, 
      cg, jzgd, wzqk, ggzxqk, 
      pbdt)
    values (#{lpbh,jdbcType=INTEGER}, #{ld,jdbcType=VARCHAR}, #{cs,jdbcType=VARCHAR}, 
      #{cg,jdbcType=VARCHAR}, #{jzgd,jdbcType=VARCHAR}, #{wzqk,jdbcType=VARCHAR}, #{ggzxqk,jdbcType=VARCHAR}, 
      #{pbdt,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.copower.pmcc.assess.dal.entity.FuniHousesBuild" >
    <selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into tb_funi_houses_build
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="lpbh != null" >
        lpbh,
      </if>
      <if test="ld != null" >
        ld,
      </if>
      <if test="cs != null" >
        cs,
      </if>
      <if test="cg != null" >
        cg,
      </if>
      <if test="jzgd != null" >
        jzgd,
      </if>
      <if test="wzqk != null" >
        wzqk,
      </if>
      <if test="ggzxqk != null" >
        ggzxqk,
      </if>
      <if test="pbdt != null" >
        pbdt,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="lpbh != null" >
        #{lpbh,jdbcType=INTEGER},
      </if>
      <if test="ld != null" >
        #{ld,jdbcType=VARCHAR},
      </if>
      <if test="cs != null" >
        #{cs,jdbcType=VARCHAR},
      </if>
      <if test="cg != null" >
        #{cg,jdbcType=VARCHAR},
      </if>
      <if test="jzgd != null" >
        #{jzgd,jdbcType=VARCHAR},
      </if>
      <if test="wzqk != null" >
        #{wzqk,jdbcType=VARCHAR},
      </if>
      <if test="ggzxqk != null" >
        #{ggzxqk,jdbcType=VARCHAR},
      </if>
      <if test="pbdt != null" >
        #{pbdt,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.copower.pmcc.assess.dal.entity.FuniHousesBuildExample" resultType="java.lang.Integer" >
    select count(*) from tb_funi_houses_build
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update tb_funi_houses_build
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.lpbh != null" >
        lpbh = #{record.lpbh,jdbcType=INTEGER},
      </if>
      <if test="record.ld != null" >
        ld = #{record.ld,jdbcType=VARCHAR},
      </if>
      <if test="record.cs != null" >
        cs = #{record.cs,jdbcType=VARCHAR},
      </if>
      <if test="record.cg != null" >
        cg = #{record.cg,jdbcType=VARCHAR},
      </if>
      <if test="record.jzgd != null" >
        jzgd = #{record.jzgd,jdbcType=VARCHAR},
      </if>
      <if test="record.wzqk != null" >
        wzqk = #{record.wzqk,jdbcType=VARCHAR},
      </if>
      <if test="record.ggzxqk != null" >
        ggzxqk = #{record.ggzxqk,jdbcType=VARCHAR},
      </if>
      <if test="record.pbdt != null" >
        pbdt = #{record.pbdt,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update tb_funi_houses_build
    set id = #{record.id,jdbcType=INTEGER},
      lpbh = #{record.lpbh,jdbcType=INTEGER},
      ld = #{record.ld,jdbcType=VARCHAR},
      cs = #{record.cs,jdbcType=VARCHAR},
      cg = #{record.cg,jdbcType=VARCHAR},
      jzgd = #{record.jzgd,jdbcType=VARCHAR},
      wzqk = #{record.wzqk,jdbcType=VARCHAR},
      ggzxqk = #{record.ggzxqk,jdbcType=VARCHAR},
      pbdt = #{record.pbdt,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.copower.pmcc.assess.dal.entity.FuniHousesBuild" >
    update tb_funi_houses_build
    <set >
      <if test="lpbh != null" >
        lpbh = #{lpbh,jdbcType=INTEGER},
      </if>
      <if test="ld != null" >
        ld = #{ld,jdbcType=VARCHAR},
      </if>
      <if test="cs != null" >
        cs = #{cs,jdbcType=VARCHAR},
      </if>
      <if test="cg != null" >
        cg = #{cg,jdbcType=VARCHAR},
      </if>
      <if test="jzgd != null" >
        jzgd = #{jzgd,jdbcType=VARCHAR},
      </if>
      <if test="wzqk != null" >
        wzqk = #{wzqk,jdbcType=VARCHAR},
      </if>
      <if test="ggzxqk != null" >
        ggzxqk = #{ggzxqk,jdbcType=VARCHAR},
      </if>
      <if test="pbdt != null" >
        pbdt = #{pbdt,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.copower.pmcc.assess.dal.entity.FuniHousesBuild" >
    update tb_funi_houses_build
    set lpbh = #{lpbh,jdbcType=INTEGER},
      ld = #{ld,jdbcType=VARCHAR},
      cs = #{cs,jdbcType=VARCHAR},
      cg = #{cg,jdbcType=VARCHAR},
      jzgd = #{jzgd,jdbcType=VARCHAR},
      wzqk = #{wzqk,jdbcType=VARCHAR},
      ggzxqk = #{ggzxqk,jdbcType=VARCHAR},
      pbdt = #{pbdt,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>