<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.copower.pmcc.assess.dal.mapper.FuniHousesTypeMapper" >
  <resultMap id="BaseResultMap" type="com.copower.pmcc.assess.dal.entity.FuniHousesType" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="lpbh" property="lpbh" jdbcType="INTEGER" />
    <result column="ldbh" property="ldbh" jdbcType="INTEGER" />
    <result column="dybh" property="dybh" jdbcType="INTEGER" />
    <result column="hx" property="hx" jdbcType="VARCHAR" />
    <result column="mj" property="mj" jdbcType="VARCHAR" />
    <result column="cx" property="cx" jdbcType="VARCHAR" />
    <result column="ch" property="ch" jdbcType="VARCHAR" />
    <result column="hxt" property="hxt" jdbcType="VARCHAR" />
    <result column="tf" property="tf" jdbcType="VARCHAR" />
    <result column="gz" property="gz" jdbcType="VARCHAR" />
    <result column="zxqk" property="zxqk" jdbcType="VARCHAR" />
    <result column="cf" property="cf" jdbcType="VARCHAR" />
    <result column="cs" property="cs" jdbcType="VARCHAR" />
    <result column="flggqy" property="flggqy" jdbcType="VARCHAR" />
    <result column="fj" property="fj" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, lpbh, ldbh, dybh, hx, mj, cx, ch, hxt, tf, gz, zxqk, cf, cs, flggqy, fj
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.copower.pmcc.assess.dal.entity.FuniHousesTypeExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from tb_funi_houses_type
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from tb_funi_houses_type
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from tb_funi_houses_type
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.copower.pmcc.assess.dal.entity.FuniHousesTypeExample" >
    delete from tb_funi_houses_type
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.copower.pmcc.assess.dal.entity.FuniHousesType" >
    <selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into tb_funi_houses_type (lpbh, ldbh, dybh, 
      hx, mj, cx, ch, 
      hxt, tf, gz, zxqk, 
      cf, cs, flggqy, fj
      )
    values (#{lpbh,jdbcType=INTEGER}, #{ldbh,jdbcType=INTEGER}, #{dybh,jdbcType=INTEGER}, 
      #{hx,jdbcType=VARCHAR}, #{mj,jdbcType=VARCHAR}, #{cx,jdbcType=VARCHAR}, #{ch,jdbcType=VARCHAR}, 
      #{hxt,jdbcType=VARCHAR}, #{tf,jdbcType=VARCHAR}, #{gz,jdbcType=VARCHAR}, #{zxqk,jdbcType=VARCHAR}, 
      #{cf,jdbcType=VARCHAR}, #{cs,jdbcType=VARCHAR}, #{flggqy,jdbcType=VARCHAR}, #{fj,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.copower.pmcc.assess.dal.entity.FuniHousesType" >
    <selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into tb_funi_houses_type
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="lpbh != null" >
        lpbh,
      </if>
      <if test="ldbh != null" >
        ldbh,
      </if>
      <if test="dybh != null" >
        dybh,
      </if>
      <if test="hx != null" >
        hx,
      </if>
      <if test="mj != null" >
        mj,
      </if>
      <if test="cx != null" >
        cx,
      </if>
      <if test="ch != null" >
        ch,
      </if>
      <if test="hxt != null" >
        hxt,
      </if>
      <if test="tf != null" >
        tf,
      </if>
      <if test="gz != null" >
        gz,
      </if>
      <if test="zxqk != null" >
        zxqk,
      </if>
      <if test="cf != null" >
        cf,
      </if>
      <if test="cs != null" >
        cs,
      </if>
      <if test="flggqy != null" >
        flggqy,
      </if>
      <if test="fj != null" >
        fj,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="lpbh != null" >
        #{lpbh,jdbcType=INTEGER},
      </if>
      <if test="ldbh != null" >
        #{ldbh,jdbcType=INTEGER},
      </if>
      <if test="dybh != null" >
        #{dybh,jdbcType=INTEGER},
      </if>
      <if test="hx != null" >
        #{hx,jdbcType=VARCHAR},
      </if>
      <if test="mj != null" >
        #{mj,jdbcType=VARCHAR},
      </if>
      <if test="cx != null" >
        #{cx,jdbcType=VARCHAR},
      </if>
      <if test="ch != null" >
        #{ch,jdbcType=VARCHAR},
      </if>
      <if test="hxt != null" >
        #{hxt,jdbcType=VARCHAR},
      </if>
      <if test="tf != null" >
        #{tf,jdbcType=VARCHAR},
      </if>
      <if test="gz != null" >
        #{gz,jdbcType=VARCHAR},
      </if>
      <if test="zxqk != null" >
        #{zxqk,jdbcType=VARCHAR},
      </if>
      <if test="cf != null" >
        #{cf,jdbcType=VARCHAR},
      </if>
      <if test="cs != null" >
        #{cs,jdbcType=VARCHAR},
      </if>
      <if test="flggqy != null" >
        #{flggqy,jdbcType=VARCHAR},
      </if>
      <if test="fj != null" >
        #{fj,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.copower.pmcc.assess.dal.entity.FuniHousesTypeExample" resultType="java.lang.Integer" >
    select count(*) from tb_funi_houses_type
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update tb_funi_houses_type
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.lpbh != null" >
        lpbh = #{record.lpbh,jdbcType=INTEGER},
      </if>
      <if test="record.ldbh != null" >
        ldbh = #{record.ldbh,jdbcType=INTEGER},
      </if>
      <if test="record.dybh != null" >
        dybh = #{record.dybh,jdbcType=INTEGER},
      </if>
      <if test="record.hx != null" >
        hx = #{record.hx,jdbcType=VARCHAR},
      </if>
      <if test="record.mj != null" >
        mj = #{record.mj,jdbcType=VARCHAR},
      </if>
      <if test="record.cx != null" >
        cx = #{record.cx,jdbcType=VARCHAR},
      </if>
      <if test="record.ch != null" >
        ch = #{record.ch,jdbcType=VARCHAR},
      </if>
      <if test="record.hxt != null" >
        hxt = #{record.hxt,jdbcType=VARCHAR},
      </if>
      <if test="record.tf != null" >
        tf = #{record.tf,jdbcType=VARCHAR},
      </if>
      <if test="record.gz != null" >
        gz = #{record.gz,jdbcType=VARCHAR},
      </if>
      <if test="record.zxqk != null" >
        zxqk = #{record.zxqk,jdbcType=VARCHAR},
      </if>
      <if test="record.cf != null" >
        cf = #{record.cf,jdbcType=VARCHAR},
      </if>
      <if test="record.cs != null" >
        cs = #{record.cs,jdbcType=VARCHAR},
      </if>
      <if test="record.flggqy != null" >
        flggqy = #{record.flggqy,jdbcType=VARCHAR},
      </if>
      <if test="record.fj != null" >
        fj = #{record.fj,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update tb_funi_houses_type
    set id = #{record.id,jdbcType=INTEGER},
      lpbh = #{record.lpbh,jdbcType=INTEGER},
      ldbh = #{record.ldbh,jdbcType=INTEGER},
      dybh = #{record.dybh,jdbcType=INTEGER},
      hx = #{record.hx,jdbcType=VARCHAR},
      mj = #{record.mj,jdbcType=VARCHAR},
      cx = #{record.cx,jdbcType=VARCHAR},
      ch = #{record.ch,jdbcType=VARCHAR},
      hxt = #{record.hxt,jdbcType=VARCHAR},
      tf = #{record.tf,jdbcType=VARCHAR},
      gz = #{record.gz,jdbcType=VARCHAR},
      zxqk = #{record.zxqk,jdbcType=VARCHAR},
      cf = #{record.cf,jdbcType=VARCHAR},
      cs = #{record.cs,jdbcType=VARCHAR},
      flggqy = #{record.flggqy,jdbcType=VARCHAR},
      fj = #{record.fj,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.copower.pmcc.assess.dal.entity.FuniHousesType" >
    update tb_funi_houses_type
    <set >
      <if test="lpbh != null" >
        lpbh = #{lpbh,jdbcType=INTEGER},
      </if>
      <if test="ldbh != null" >
        ldbh = #{ldbh,jdbcType=INTEGER},
      </if>
      <if test="dybh != null" >
        dybh = #{dybh,jdbcType=INTEGER},
      </if>
      <if test="hx != null" >
        hx = #{hx,jdbcType=VARCHAR},
      </if>
      <if test="mj != null" >
        mj = #{mj,jdbcType=VARCHAR},
      </if>
      <if test="cx != null" >
        cx = #{cx,jdbcType=VARCHAR},
      </if>
      <if test="ch != null" >
        ch = #{ch,jdbcType=VARCHAR},
      </if>
      <if test="hxt != null" >
        hxt = #{hxt,jdbcType=VARCHAR},
      </if>
      <if test="tf != null" >
        tf = #{tf,jdbcType=VARCHAR},
      </if>
      <if test="gz != null" >
        gz = #{gz,jdbcType=VARCHAR},
      </if>
      <if test="zxqk != null" >
        zxqk = #{zxqk,jdbcType=VARCHAR},
      </if>
      <if test="cf != null" >
        cf = #{cf,jdbcType=VARCHAR},
      </if>
      <if test="cs != null" >
        cs = #{cs,jdbcType=VARCHAR},
      </if>
      <if test="flggqy != null" >
        flggqy = #{flggqy,jdbcType=VARCHAR},
      </if>
      <if test="fj != null" >
        fj = #{fj,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.copower.pmcc.assess.dal.entity.FuniHousesType" >
    update tb_funi_houses_type
    set lpbh = #{lpbh,jdbcType=INTEGER},
      ldbh = #{ldbh,jdbcType=INTEGER},
      dybh = #{dybh,jdbcType=INTEGER},
      hx = #{hx,jdbcType=VARCHAR},
      mj = #{mj,jdbcType=VARCHAR},
      cx = #{cx,jdbcType=VARCHAR},
      ch = #{ch,jdbcType=VARCHAR},
      hxt = #{hxt,jdbcType=VARCHAR},
      tf = #{tf,jdbcType=VARCHAR},
      gz = #{gz,jdbcType=VARCHAR},
      zxqk = #{zxqk,jdbcType=VARCHAR},
      cf = #{cf,jdbcType=VARCHAR},
      cs = #{cs,jdbcType=VARCHAR},
      flggqy = #{flggqy,jdbcType=VARCHAR},
      fj = #{fj,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>