<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.copower.pmcc.assess.dal.mapper.ProjectPhaseMapper" >
  <resultMap id="BaseResultMap" type="com.copower.pmcc.assess.dal.entity.ProjectPhase" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="project_class_id" property="projectClassId" jdbcType="INTEGER" />
    <result column="project_type_id" property="projectTypeId" jdbcType="INTEGER" />
    <result column="project_category_id" property="projectCategoryId" jdbcType="INTEGER" />
    <result column="work_stage_id" property="workStageId" jdbcType="INTEGER" />
    <result column="project_phase_name" property="projectPhaseName" jdbcType="VARCHAR" />
    <result column="phase_time" property="phaseTime" jdbcType="DECIMAL" />
    <result column="phase_form" property="phaseForm" jdbcType="VARCHAR" />
    <result column="box_name" property="boxName" jdbcType="VARCHAR" />
    <result column="phase_sort" property="phaseSort" jdbcType="INTEGER" />
    <result column="bis_enable" property="bisEnable" jdbcType="BIT" />
    <result column="gmt_created" property="gmtCreated" jdbcType="TIMESTAMP" />
    <result column="gmt_modified" property="gmtModified" jdbcType="TIMESTAMP" />
    <result column="phase_key" property="phaseKey" jdbcType="VARCHAR" />
    <result column="pid" property="pid" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, project_class_id, project_type_id, project_category_id, work_stage_id, project_phase_name, 
    phase_time, phase_form, box_name, phase_sort, bis_enable, gmt_created, gmt_modified, 
    phase_key, pid
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.copower.pmcc.assess.dal.entity.ProjectPhaseExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from tb_project_phase
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from tb_project_phase
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from tb_project_phase
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.copower.pmcc.assess.dal.entity.ProjectPhaseExample" >
    delete from tb_project_phase
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.copower.pmcc.assess.dal.entity.ProjectPhase" >
    <selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into tb_project_phase (project_class_id, project_type_id, project_category_id, 
      work_stage_id, project_phase_name, phase_time, 
      phase_form, box_name, phase_sort, 
      bis_enable, gmt_created, gmt_modified, 
      phase_key, pid)
    values (#{projectClassId,jdbcType=INTEGER}, #{projectTypeId,jdbcType=INTEGER}, #{projectCategoryId,jdbcType=INTEGER}, 
      #{workStageId,jdbcType=INTEGER}, #{projectPhaseName,jdbcType=VARCHAR}, #{phaseTime,jdbcType=DECIMAL}, 
      #{phaseForm,jdbcType=VARCHAR}, #{boxName,jdbcType=VARCHAR}, #{phaseSort,jdbcType=INTEGER}, 
      #{bisEnable,jdbcType=BIT}, #{gmtCreated,jdbcType=TIMESTAMP}, #{gmtModified,jdbcType=TIMESTAMP}, 
      #{phaseKey,jdbcType=VARCHAR}, #{pid,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.copower.pmcc.assess.dal.entity.ProjectPhase" >
    <selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into tb_project_phase
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="projectClassId != null" >
        project_class_id,
      </if>
      <if test="projectTypeId != null" >
        project_type_id,
      </if>
      <if test="projectCategoryId != null" >
        project_category_id,
      </if>
      <if test="workStageId != null" >
        work_stage_id,
      </if>
      <if test="projectPhaseName != null" >
        project_phase_name,
      </if>
      <if test="phaseTime != null" >
        phase_time,
      </if>
      <if test="phaseForm != null" >
        phase_form,
      </if>
      <if test="boxName != null" >
        box_name,
      </if>
      <if test="phaseSort != null" >
        phase_sort,
      </if>
      <if test="bisEnable != null" >
        bis_enable,
      </if>
      <if test="gmtCreated != null" >
        gmt_created,
      </if>
      <if test="gmtModified != null" >
        gmt_modified,
      </if>
      <if test="phaseKey != null" >
        phase_key,
      </if>
      <if test="pid != null" >
        pid,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="projectClassId != null" >
        #{projectClassId,jdbcType=INTEGER},
      </if>
      <if test="projectTypeId != null" >
        #{projectTypeId,jdbcType=INTEGER},
      </if>
      <if test="projectCategoryId != null" >
        #{projectCategoryId,jdbcType=INTEGER},
      </if>
      <if test="workStageId != null" >
        #{workStageId,jdbcType=INTEGER},
      </if>
      <if test="projectPhaseName != null" >
        #{projectPhaseName,jdbcType=VARCHAR},
      </if>
      <if test="phaseTime != null" >
        #{phaseTime,jdbcType=DECIMAL},
      </if>
      <if test="phaseForm != null" >
        #{phaseForm,jdbcType=VARCHAR},
      </if>
      <if test="boxName != null" >
        #{boxName,jdbcType=VARCHAR},
      </if>
      <if test="phaseSort != null" >
        #{phaseSort,jdbcType=INTEGER},
      </if>
      <if test="bisEnable != null" >
        #{bisEnable,jdbcType=BIT},
      </if>
      <if test="gmtCreated != null" >
        #{gmtCreated,jdbcType=TIMESTAMP},
      </if>
      <if test="gmtModified != null" >
        #{gmtModified,jdbcType=TIMESTAMP},
      </if>
      <if test="phaseKey != null" >
        #{phaseKey,jdbcType=VARCHAR},
      </if>
      <if test="pid != null" >
        #{pid,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.copower.pmcc.assess.dal.entity.ProjectPhaseExample" resultType="java.lang.Integer" >
    select count(*) from tb_project_phase
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update tb_project_phase
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.projectClassId != null" >
        project_class_id = #{record.projectClassId,jdbcType=INTEGER},
      </if>
      <if test="record.projectTypeId != null" >
        project_type_id = #{record.projectTypeId,jdbcType=INTEGER},
      </if>
      <if test="record.projectCategoryId != null" >
        project_category_id = #{record.projectCategoryId,jdbcType=INTEGER},
      </if>
      <if test="record.workStageId != null" >
        work_stage_id = #{record.workStageId,jdbcType=INTEGER},
      </if>
      <if test="record.projectPhaseName != null" >
        project_phase_name = #{record.projectPhaseName,jdbcType=VARCHAR},
      </if>
      <if test="record.phaseTime != null" >
        phase_time = #{record.phaseTime,jdbcType=DECIMAL},
      </if>
      <if test="record.phaseForm != null" >
        phase_form = #{record.phaseForm,jdbcType=VARCHAR},
      </if>
      <if test="record.boxName != null" >
        box_name = #{record.boxName,jdbcType=VARCHAR},
      </if>
      <if test="record.phaseSort != null" >
        phase_sort = #{record.phaseSort,jdbcType=INTEGER},
      </if>
      <if test="record.bisEnable != null" >
        bis_enable = #{record.bisEnable,jdbcType=BIT},
      </if>
      <if test="record.gmtCreated != null" >
        gmt_created = #{record.gmtCreated,jdbcType=TIMESTAMP},
      </if>
      <if test="record.gmtModified != null" >
        gmt_modified = #{record.gmtModified,jdbcType=TIMESTAMP},
      </if>
      <if test="record.phaseKey != null" >
        phase_key = #{record.phaseKey,jdbcType=VARCHAR},
      </if>
      <if test="record.pid != null" >
        pid = #{record.pid,jdbcType=INTEGER},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update tb_project_phase
    set id = #{record.id,jdbcType=INTEGER},
      project_class_id = #{record.projectClassId,jdbcType=INTEGER},
      project_type_id = #{record.projectTypeId,jdbcType=INTEGER},
      project_category_id = #{record.projectCategoryId,jdbcType=INTEGER},
      work_stage_id = #{record.workStageId,jdbcType=INTEGER},
      project_phase_name = #{record.projectPhaseName,jdbcType=VARCHAR},
      phase_time = #{record.phaseTime,jdbcType=DECIMAL},
      phase_form = #{record.phaseForm,jdbcType=VARCHAR},
      box_name = #{record.boxName,jdbcType=VARCHAR},
      phase_sort = #{record.phaseSort,jdbcType=INTEGER},
      bis_enable = #{record.bisEnable,jdbcType=BIT},
      gmt_created = #{record.gmtCreated,jdbcType=TIMESTAMP},
      gmt_modified = #{record.gmtModified,jdbcType=TIMESTAMP},
      phase_key = #{record.phaseKey,jdbcType=VARCHAR},
      pid = #{record.pid,jdbcType=INTEGER}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.copower.pmcc.assess.dal.entity.ProjectPhase" >
    update tb_project_phase
    <set >
      <if test="projectClassId != null" >
        project_class_id = #{projectClassId,jdbcType=INTEGER},
      </if>
      <if test="projectTypeId != null" >
        project_type_id = #{projectTypeId,jdbcType=INTEGER},
      </if>
      <if test="projectCategoryId != null" >
        project_category_id = #{projectCategoryId,jdbcType=INTEGER},
      </if>
      <if test="workStageId != null" >
        work_stage_id = #{workStageId,jdbcType=INTEGER},
      </if>
      <if test="projectPhaseName != null" >
        project_phase_name = #{projectPhaseName,jdbcType=VARCHAR},
      </if>
      <if test="phaseTime != null" >
        phase_time = #{phaseTime,jdbcType=DECIMAL},
      </if>
      <if test="phaseForm != null" >
        phase_form = #{phaseForm,jdbcType=VARCHAR},
      </if>
      <if test="boxName != null" >
        box_name = #{boxName,jdbcType=VARCHAR},
      </if>
      <if test="phaseSort != null" >
        phase_sort = #{phaseSort,jdbcType=INTEGER},
      </if>
      <if test="bisEnable != null" >
        bis_enable = #{bisEnable,jdbcType=BIT},
      </if>
      <if test="gmtCreated != null" >
        gmt_created = #{gmtCreated,jdbcType=TIMESTAMP},
      </if>
      <if test="gmtModified != null" >
        gmt_modified = #{gmtModified,jdbcType=TIMESTAMP},
      </if>
      <if test="phaseKey != null" >
        phase_key = #{phaseKey,jdbcType=VARCHAR},
      </if>
      <if test="pid != null" >
        pid = #{pid,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.copower.pmcc.assess.dal.entity.ProjectPhase" >
    update tb_project_phase
    set project_class_id = #{projectClassId,jdbcType=INTEGER},
      project_type_id = #{projectTypeId,jdbcType=INTEGER},
      project_category_id = #{projectCategoryId,jdbcType=INTEGER},
      work_stage_id = #{workStageId,jdbcType=INTEGER},
      project_phase_name = #{projectPhaseName,jdbcType=VARCHAR},
      phase_time = #{phaseTime,jdbcType=DECIMAL},
      phase_form = #{phaseForm,jdbcType=VARCHAR},
      box_name = #{boxName,jdbcType=VARCHAR},
      phase_sort = #{phaseSort,jdbcType=INTEGER},
      bis_enable = #{bisEnable,jdbcType=BIT},
      gmt_created = #{gmtCreated,jdbcType=TIMESTAMP},
      gmt_modified = #{gmtModified,jdbcType=TIMESTAMP},
      phase_key = #{phaseKey,jdbcType=VARCHAR},
      pid = #{pid,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>