<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.copower.pmcc.assess.dal.cases.custom.mapper.CustomCaseMapper">
    <resultMap id="BaseResultMap" type="com.copower.pmcc.assess.dal.cases.custom.entity.CustomCaseEntity">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="name" property="name" jdbcType="VARCHAR"/>
        <result column="version" property="version" jdbcType="INTEGER"/>
    </resultMap>
    <select id="getCaseEstateList" parameterType="map" resultMap="BaseResultMap">
        SELECT id,`name`,`type`,version FROM (
        SELECT DISTINCT id,`name`,`type`,version FROM tb_case_estate where 1=1
        <if test="name!=null and name!=''">
            AND `name` LIKE CONCAT(CONCAT('%', #{name}), '%')
        </if>
        <if test="province!=null and province!=''">
            AND province = #{province}
        </if>
        <if test="city!=null and city!=''">
            AND city = #{city}
        </if>
        <if test="district!=null and district!=''">
            AND district = #{district}
        </if>
        ORDER BY version DESC,id DESC) AS T
        GROUP BY `name` ORDER BY version DESC,NAME
    </select>

    <select id="getCaseBuildingList" parameterType="map" resultMap="BaseResultMap">
        SELECT id,building_number AS `name`,`type`,version FROM (
        SELECT DISTINCT id,building_number,`type`,version FROM tb_case_building WHERE 1=1
        <if test="buildingNumber!=null and buildingNumber!=''">
            AND building_number LIKE CONCAT(CONCAT('%', #{buildingNumber}), '%')
        </if>
        <if test="estateId!=null">
            AND estate_id=#{estateId}
        </if>
        ORDER BY version DESC,id DESC) AS T
        GROUP BY building_number ORDER BY version DESC,building_number
    </select>

    <select id="getCaseUnitList" parameterType="map" resultMap="BaseResultMap">
        SELECT id,unit_number AS `name`,`type`,version FROM (
        SELECT DISTINCT id,unit_number,`type`,version FROM tb_case_unit WHERE 1=1
        <if test="unitNumber!=null and unitNumber!=''">
            AND unit_number LIKE CONCAT(CONCAT('%', #{unitNumber}), '%')
        </if>
        <if test="buildingId!=null">
            AND building_id=#{buildingId}
        </if>
        ORDER BY version DESC,id DESC) AS T
        GROUP BY unit_number ORDER BY version DESC,unit_number
    </select>

    <select id="getCaseHouseList" parameterType="map" resultMap="BaseResultMap">
        SELECT id,house_number AS `name`,`type`,version FROM (
        SELECT DISTINCT id,house_number,`type`,version FROM tb_case_house WHERE 1=1
        <if test="houseNumber!=null and houseNumber!=''">
            AND house_number LIKE CONCAT(CONCAT('%', #{houseNumber}), '%')
        </if>
        <if test="unitId!=null">
            AND unit_id=#{unitId}
        </if>
        ORDER BY version DESC,id DESC) AS T
        GROUP BY house_number ORDER BY version DESC,house_number
    </select>

    <sql id="Base_Column_ListCaseBaseHouse">
        id, case_house_id, type, province, city, district, block_name, full_name, street,
        practical_use, trading_type, trading_time, trading_unit_price, version, creator,
        gmt_created, gmt_modified
    </sql>

    <select id="findCaseBaseHouseList" parameterType="map"
            resultMap="com.copower.pmcc.assess.dal.cases.mapper.CaseBaseHouseMapper.BaseResultMap">
        select
        <include refid="Base_Column_ListCaseBaseHouse"/>
        from tb_case_base_house
        <where>
            <if test="caseBaseHouse.blockName != null and caseBaseHouse.blockName!=''">
                and block_name LIKE concat(concat('%',#{caseBaseHouse.blockName}),'%')
            </if>
            <if test="caseBaseHouse.fullName != null and caseBaseHouse.fullName!=''">
                and full_name LIKE concat(concat('%',#{caseBaseHouse.fullName}),'%')
            </if>
            <if test="caseBaseHouse.street != null and caseBaseHouse.street!=''">
                and street LIKE concat(concat('%',#{caseBaseHouse.street}),'%')
            </if>
            <if test="caseBaseHouse.province != null and caseBaseHouse.province!=''">
                and province = #{caseBaseHouse.province}
            </if>
            <if test="caseBaseHouse.city != null and caseBaseHouse.city!=''">
                and city = #{caseBaseHouse.city}
            </if>
            <if test="caseBaseHouse.district != null and caseBaseHouse.district!=''">
                and district = #{caseBaseHouse.district}
            </if>
            <if test="caseBaseHouse.practicalUse != null">
                and practical_use = #{caseBaseHouse.practicalUse}
            </if>
            <if test="caseBaseHouse.tradingType != null">
                and trading_type = #{caseBaseHouse.tradingType}
            </if>
            <if test="tradingTimeStart != null">
                and trading_time <![CDATA[ >= ]]> #{tradingTimeStart}
            </if>
            <if test="tradingTimeEnd != null">
                and trading_time <![CDATA[ <= ]]> #{tradingTimeEnd}
            </if>
            <if test="tradingUnitPriceStart != null">
                and trading_unit_price <![CDATA[ >= ]]> #{tradingUnitPriceStart}
            </if>
            <if test="tradingUnitPriceEnd != null">
                and trading_unit_price <![CDATA[ <= ]]> #{tradingUnitPriceEnd}
            </if>
        </where>
    </select>

    <sql id="Base_Column_ListCaseBuilding">
        id, estate_id, type, building_number, building_name, floor_count, location, version,
         creator, gmt_created, gmt_modified
    </sql>
    <select id="screenBuildList" parameterType="map"
            resultMap="com.copower.pmcc.assess.dal.cases.mapper.CaseBuildingMapper.BaseResultMap">
        SELECT
        <include refid="Base_Column_ListCaseBuilding"/>
        FROM
        ( SELECT DISTINCT
        <include refid="Base_Column_ListCaseBuilding"/>
        FROM tb_case_building WHERE 1 = 1 AND estate_id = #{estateId} ORDER BY version DESC ) AS T
        GROUP BY
        building_number
        ORDER BY
        version DESC,
        building_number
    </select>


    <!-- 筛选标注信息中的单元 -->
    <select id="screenUnitList" parameterType="map"
            resultMap="com.copower.pmcc.assess.dal.cases.mapper.CaseUnitMapper.BaseResultMap">
       select * from
        (SELECT DISTINCT id, building_id ,version,unit_number FROM tb_case_unit WHERE 1 = 1 AND
         building_id = #{buildingId} ORDER BY version DESC )
         AS T GROUP BY unit_number ORDER BY version DESC,unit_number
    </select>

    <!-- 筛选标注信息中的房屋 -->
    <select id="screenHouseList" parameterType="map"
            resultMap="com.copower.pmcc.assess.dal.cases.mapper.CaseHouseMapper.BaseResultMap">
         select * from
        (SELECT DISTINCT id, unit_id ,version,house_number FROM tb_case_house WHERE 1 = 1 AND     unit_id = #{unitId}
        ORDER BY version DESC )
         AS T GROUP BY house_number ORDER BY version DESC,house_number
    </select>
</mapper>

