<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.copower.pmcc.assess.dal.basis.mapper.BasicApplyBatchDetailMapper" >
  <resultMap id="BaseResultMap" type="com.copower.pmcc.assess.dal.basis.entity.BasicApplyBatchDetail" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="pid" property="pid" jdbcType="INTEGER" />
    <result column="apply_batch_id" property="applyBatchId" jdbcType="INTEGER" />
    <result column="table_name" property="tableName" jdbcType="VARCHAR" />
    <result column="table_id" property="tableId" jdbcType="INTEGER" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="display_name" property="displayName" jdbcType="VARCHAR" />
    <result column="bis_standard" property="bisStandard" jdbcType="BIT" />
    <result column="quote_id" property="quoteId" jdbcType="INTEGER" />
    <result column="base_type" property="baseType" jdbcType="VARCHAR" />
    <result column="case_table_pid" property="caseTablePid" jdbcType="INTEGER" />
    <result column="upgrade_table_id" property="upgradeTableId" jdbcType="INTEGER" />
    <result column="creator" property="creator" jdbcType="VARCHAR" />
    <result column="bis_delete" property="bisDelete" jdbcType="BIT" />
    <result column="gmt_created" property="gmtCreated" jdbcType="TIMESTAMP" />
    <result column="gmt_modified" property="gmtModified" jdbcType="TIMESTAMP" />
    <result column="executor" property="executor" jdbcType="VARCHAR" />
    <result column="bis_structure" property="bisStructure" jdbcType="BIT" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, pid, apply_batch_id, table_name, table_id, name, display_name, bis_standard, 
    quote_id, base_type, case_table_pid, upgrade_table_id, creator, bis_delete, gmt_created, 
    gmt_modified, executor, bis_structure
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.copower.pmcc.assess.dal.basis.entity.BasicApplyBatchDetailExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from tb_basic_apply_batch_detail
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from tb_basic_apply_batch_detail
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from tb_basic_apply_batch_detail
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.copower.pmcc.assess.dal.basis.entity.BasicApplyBatchDetailExample" >
    delete from tb_basic_apply_batch_detail
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.copower.pmcc.assess.dal.basis.entity.BasicApplyBatchDetail" >
    <selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into tb_basic_apply_batch_detail (pid, apply_batch_id, table_name, 
      table_id, name, display_name, 
      bis_standard, quote_id, base_type, 
      case_table_pid, upgrade_table_id, creator, 
      bis_delete, gmt_created, gmt_modified, 
      executor, bis_structure)
    values (#{pid,jdbcType=INTEGER}, #{applyBatchId,jdbcType=INTEGER}, #{tableName,jdbcType=VARCHAR}, 
      #{tableId,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{displayName,jdbcType=VARCHAR}, 
      #{bisStandard,jdbcType=BIT}, #{quoteId,jdbcType=INTEGER}, #{baseType,jdbcType=VARCHAR}, 
      #{caseTablePid,jdbcType=INTEGER}, #{upgradeTableId,jdbcType=INTEGER}, #{creator,jdbcType=VARCHAR}, 
      #{bisDelete,jdbcType=BIT}, #{gmtCreated,jdbcType=TIMESTAMP}, #{gmtModified,jdbcType=TIMESTAMP}, 
      #{executor,jdbcType=VARCHAR}, #{bisStructure,jdbcType=BIT})
  </insert>
  <insert id="insertSelective" parameterType="com.copower.pmcc.assess.dal.basis.entity.BasicApplyBatchDetail" >
    <selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into tb_basic_apply_batch_detail
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="pid != null" >
        pid,
      </if>
      <if test="applyBatchId != null" >
        apply_batch_id,
      </if>
      <if test="tableName != null" >
        table_name,
      </if>
      <if test="tableId != null" >
        table_id,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="displayName != null" >
        display_name,
      </if>
      <if test="bisStandard != null" >
        bis_standard,
      </if>
      <if test="quoteId != null" >
        quote_id,
      </if>
      <if test="baseType != null" >
        base_type,
      </if>
      <if test="caseTablePid != null" >
        case_table_pid,
      </if>
      <if test="upgradeTableId != null" >
        upgrade_table_id,
      </if>
      <if test="creator != null" >
        creator,
      </if>
      <if test="bisDelete != null" >
        bis_delete,
      </if>
      <if test="gmtCreated != null" >
        gmt_created,
      </if>
      <if test="gmtModified != null" >
        gmt_modified,
      </if>
      <if test="executor != null" >
        executor,
      </if>
      <if test="bisStructure != null" >
        bis_structure,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="pid != null" >
        #{pid,jdbcType=INTEGER},
      </if>
      <if test="applyBatchId != null" >
        #{applyBatchId,jdbcType=INTEGER},
      </if>
      <if test="tableName != null" >
        #{tableName,jdbcType=VARCHAR},
      </if>
      <if test="tableId != null" >
        #{tableId,jdbcType=INTEGER},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="displayName != null" >
        #{displayName,jdbcType=VARCHAR},
      </if>
      <if test="bisStandard != null" >
        #{bisStandard,jdbcType=BIT},
      </if>
      <if test="quoteId != null" >
        #{quoteId,jdbcType=INTEGER},
      </if>
      <if test="baseType != null" >
        #{baseType,jdbcType=VARCHAR},
      </if>
      <if test="caseTablePid != null" >
        #{caseTablePid,jdbcType=INTEGER},
      </if>
      <if test="upgradeTableId != null" >
        #{upgradeTableId,jdbcType=INTEGER},
      </if>
      <if test="creator != null" >
        #{creator,jdbcType=VARCHAR},
      </if>
      <if test="bisDelete != null" >
        #{bisDelete,jdbcType=BIT},
      </if>
      <if test="gmtCreated != null" >
        #{gmtCreated,jdbcType=TIMESTAMP},
      </if>
      <if test="gmtModified != null" >
        #{gmtModified,jdbcType=TIMESTAMP},
      </if>
      <if test="executor != null" >
        #{executor,jdbcType=VARCHAR},
      </if>
      <if test="bisStructure != null" >
        #{bisStructure,jdbcType=BIT},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.copower.pmcc.assess.dal.basis.entity.BasicApplyBatchDetailExample" resultType="java.lang.Integer" >
    select count(*) from tb_basic_apply_batch_detail
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update tb_basic_apply_batch_detail
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.pid != null" >
        pid = #{record.pid,jdbcType=INTEGER},
      </if>
      <if test="record.applyBatchId != null" >
        apply_batch_id = #{record.applyBatchId,jdbcType=INTEGER},
      </if>
      <if test="record.tableName != null" >
        table_name = #{record.tableName,jdbcType=VARCHAR},
      </if>
      <if test="record.tableId != null" >
        table_id = #{record.tableId,jdbcType=INTEGER},
      </if>
      <if test="record.name != null" >
        name = #{record.name,jdbcType=VARCHAR},
      </if>
      <if test="record.displayName != null" >
        display_name = #{record.displayName,jdbcType=VARCHAR},
      </if>
      <if test="record.bisStandard != null" >
        bis_standard = #{record.bisStandard,jdbcType=BIT},
      </if>
      <if test="record.quoteId != null" >
        quote_id = #{record.quoteId,jdbcType=INTEGER},
      </if>
      <if test="record.baseType != null" >
        base_type = #{record.baseType,jdbcType=VARCHAR},
      </if>
      <if test="record.caseTablePid != null" >
        case_table_pid = #{record.caseTablePid,jdbcType=INTEGER},
      </if>
      <if test="record.upgradeTableId != null" >
        upgrade_table_id = #{record.upgradeTableId,jdbcType=INTEGER},
      </if>
      <if test="record.creator != null" >
        creator = #{record.creator,jdbcType=VARCHAR},
      </if>
      <if test="record.bisDelete != null" >
        bis_delete = #{record.bisDelete,jdbcType=BIT},
      </if>
      <if test="record.gmtCreated != null" >
        gmt_created = #{record.gmtCreated,jdbcType=TIMESTAMP},
      </if>
      <if test="record.gmtModified != null" >
        gmt_modified = #{record.gmtModified,jdbcType=TIMESTAMP},
      </if>
      <if test="record.executor != null" >
        executor = #{record.executor,jdbcType=VARCHAR},
      </if>
      <if test="record.bisStructure != null" >
        bis_structure = #{record.bisStructure,jdbcType=BIT},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update tb_basic_apply_batch_detail
    set id = #{record.id,jdbcType=INTEGER},
      pid = #{record.pid,jdbcType=INTEGER},
      apply_batch_id = #{record.applyBatchId,jdbcType=INTEGER},
      table_name = #{record.tableName,jdbcType=VARCHAR},
      table_id = #{record.tableId,jdbcType=INTEGER},
      name = #{record.name,jdbcType=VARCHAR},
      display_name = #{record.displayName,jdbcType=VARCHAR},
      bis_standard = #{record.bisStandard,jdbcType=BIT},
      quote_id = #{record.quoteId,jdbcType=INTEGER},
      base_type = #{record.baseType,jdbcType=VARCHAR},
      case_table_pid = #{record.caseTablePid,jdbcType=INTEGER},
      upgrade_table_id = #{record.upgradeTableId,jdbcType=INTEGER},
      creator = #{record.creator,jdbcType=VARCHAR},
      bis_delete = #{record.bisDelete,jdbcType=BIT},
      gmt_created = #{record.gmtCreated,jdbcType=TIMESTAMP},
      gmt_modified = #{record.gmtModified,jdbcType=TIMESTAMP},
      executor = #{record.executor,jdbcType=VARCHAR},
      bis_structure = #{record.bisStructure,jdbcType=BIT}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.copower.pmcc.assess.dal.basis.entity.BasicApplyBatchDetail" >
    update tb_basic_apply_batch_detail
    <set >
      <if test="pid != null" >
        pid = #{pid,jdbcType=INTEGER},
      </if>
      <if test="applyBatchId != null" >
        apply_batch_id = #{applyBatchId,jdbcType=INTEGER},
      </if>
      <if test="tableName != null" >
        table_name = #{tableName,jdbcType=VARCHAR},
      </if>
      <if test="tableId != null" >
        table_id = #{tableId,jdbcType=INTEGER},
      </if>
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="displayName != null" >
        display_name = #{displayName,jdbcType=VARCHAR},
      </if>
      <if test="bisStandard != null" >
        bis_standard = #{bisStandard,jdbcType=BIT},
      </if>
      <if test="quoteId != null" >
        quote_id = #{quoteId,jdbcType=INTEGER},
      </if>
      <if test="baseType != null" >
        base_type = #{baseType,jdbcType=VARCHAR},
      </if>
      <if test="caseTablePid != null" >
        case_table_pid = #{caseTablePid,jdbcType=INTEGER},
      </if>
      <if test="upgradeTableId != null" >
        upgrade_table_id = #{upgradeTableId,jdbcType=INTEGER},
      </if>
      <if test="creator != null" >
        creator = #{creator,jdbcType=VARCHAR},
      </if>
      <if test="bisDelete != null" >
        bis_delete = #{bisDelete,jdbcType=BIT},
      </if>
      <if test="gmtCreated != null" >
        gmt_created = #{gmtCreated,jdbcType=TIMESTAMP},
      </if>
      <if test="gmtModified != null" >
        gmt_modified = #{gmtModified,jdbcType=TIMESTAMP},
      </if>
      <if test="executor != null" >
        executor = #{executor,jdbcType=VARCHAR},
      </if>
      <if test="bisStructure != null" >
        bis_structure = #{bisStructure,jdbcType=BIT},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.copower.pmcc.assess.dal.basis.entity.BasicApplyBatchDetail" >
    update tb_basic_apply_batch_detail
    set pid = #{pid,jdbcType=INTEGER},
      apply_batch_id = #{applyBatchId,jdbcType=INTEGER},
      table_name = #{tableName,jdbcType=VARCHAR},
      table_id = #{tableId,jdbcType=INTEGER},
      name = #{name,jdbcType=VARCHAR},
      display_name = #{displayName,jdbcType=VARCHAR},
      bis_standard = #{bisStandard,jdbcType=BIT},
      quote_id = #{quoteId,jdbcType=INTEGER},
      base_type = #{baseType,jdbcType=VARCHAR},
      case_table_pid = #{caseTablePid,jdbcType=INTEGER},
      upgrade_table_id = #{upgradeTableId,jdbcType=INTEGER},
      creator = #{creator,jdbcType=VARCHAR},
      bis_delete = #{bisDelete,jdbcType=BIT},
      gmt_created = #{gmtCreated,jdbcType=TIMESTAMP},
      gmt_modified = #{gmtModified,jdbcType=TIMESTAMP},
      executor = #{executor,jdbcType=VARCHAR},
      bis_structure = #{bisStructure,jdbcType=BIT}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>