<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.copower.pmcc.assess.dal.basis.mapper.BasicHouseMapper" >
  <resultMap id="BaseResultMap" type="com.copower.pmcc.assess.dal.basis.entity.BasicHouse" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="apply_id" property="applyId" jdbcType="INTEGER" />
    <result column="unit_id" property="unitId" jdbcType="INTEGER" />
    <result column="house_number" property="houseNumber" jdbcType="VARCHAR" />
    <result column="floor" property="floor" jdbcType="VARCHAR" />
    <result column="floor_desc" property="floorDesc" jdbcType="VARCHAR" />
    <result column="huxing_id" property="huxingId" jdbcType="INTEGER" />
    <result column="huxing_name" property="huxingName" jdbcType="VARCHAR" />
    <result column="new_huxing_name" property="newHuxingName" jdbcType="VARCHAR" />
    <result column="spatial_distribution" property="spatialDistribution" jdbcType="INTEGER" />
    <result column="spatial_distribution_desc" property="spatialDistributionDesc" jdbcType="VARCHAR" />
    <result column="cert_use" property="certUse" jdbcType="VARCHAR" />
    <result column="practical_use" property="practicalUse" jdbcType="VARCHAR" />
    <result column="orientation" property="orientation" jdbcType="INTEGER" />
    <result column="area" property="area" jdbcType="DECIMAL" />
    <result column="area_desc" property="areaDesc" jdbcType="VARCHAR" />
    <result column="research_type" property="researchType" jdbcType="INTEGER" />
    <result column="right_interests_restriction" property="rightInterestsRestriction" jdbcType="VARCHAR" />
    <result column="use_environment" property="useEnvironment" jdbcType="INTEGER" />
    <result column="description" property="description" jdbcType="VARCHAR" />
    <result column="case_date" property="caseDate" jdbcType="TIMESTAMP" />
    <result column="use_year" property="useYear" jdbcType="INTEGER" />
    <result column="floor_price" property="floorPrice" jdbcType="DECIMAL" />
    <result column="land_location" property="landLocation" jdbcType="VARCHAR" />
    <result column="new_degree" property="newDegree" jdbcType="VARCHAR" />
    <result column="use_condition" property="useCondition" jdbcType="INTEGER" />
    <result column="use_condition_description" property="useConditionDescription" jdbcType="VARCHAR" />
    <result column="decorate_situation" property="decorateSituation" jdbcType="INTEGER" />
    <result column="price_connotation" property="priceConnotation" jdbcType="INTEGER" />
    <result column="decorate_situation_description" property="decorateSituationDescription" jdbcType="VARCHAR" />
    <result column="map_id" property="mapId" jdbcType="INTEGER" />
    <result column="bis_delete" property="bisDelete" jdbcType="BIT" />
    <result column="creator" property="creator" jdbcType="VARCHAR" />
    <result column="gmt_created" property="gmtCreated" jdbcType="TIMESTAMP" />
    <result column="gmt_modified" property="gmtModified" jdbcType="TIMESTAMP" />
    <result column="relevance_id" property="relevanceId" jdbcType="INTEGER" />
    <result column="display_case_id" property="displayCaseId" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, apply_id, unit_id, house_number, floor, floor_desc, huxing_id, huxing_name, new_huxing_name, 
    spatial_distribution, spatial_distribution_desc, cert_use, practical_use, orientation, 
    area, area_desc, research_type, right_interests_restriction, use_environment, description, 
    case_date, use_year, floor_price, land_location, new_degree, use_condition, use_condition_description, 
    decorate_situation, price_connotation, decorate_situation_description, map_id, bis_delete, 
    creator, gmt_created, gmt_modified, relevance_id, display_case_id
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.copower.pmcc.assess.dal.basis.entity.BasicHouseExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from tb_basic_house
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from tb_basic_house
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from tb_basic_house
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.copower.pmcc.assess.dal.basis.entity.BasicHouseExample" >
    delete from tb_basic_house
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.copower.pmcc.assess.dal.basis.entity.BasicHouse" >
    <selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into tb_basic_house (apply_id, unit_id, house_number, 
      floor, floor_desc, huxing_id, 
      huxing_name, new_huxing_name, spatial_distribution, 
      spatial_distribution_desc, cert_use, practical_use, 
      orientation, area, area_desc, 
      research_type, right_interests_restriction, 
      use_environment, description, case_date, 
      use_year, floor_price, land_location, 
      new_degree, use_condition, use_condition_description, 
      decorate_situation, price_connotation, decorate_situation_description, 
      map_id, bis_delete, creator, 
      gmt_created, gmt_modified, relevance_id, 
      display_case_id)
    values (#{applyId,jdbcType=INTEGER}, #{unitId,jdbcType=INTEGER}, #{houseNumber,jdbcType=VARCHAR}, 
      #{floor,jdbcType=VARCHAR}, #{floorDesc,jdbcType=VARCHAR}, #{huxingId,jdbcType=INTEGER}, 
      #{huxingName,jdbcType=VARCHAR}, #{newHuxingName,jdbcType=VARCHAR}, #{spatialDistribution,jdbcType=INTEGER}, 
      #{spatialDistributionDesc,jdbcType=VARCHAR}, #{certUse,jdbcType=VARCHAR}, #{practicalUse,jdbcType=VARCHAR}, 
      #{orientation,jdbcType=INTEGER}, #{area,jdbcType=DECIMAL}, #{areaDesc,jdbcType=VARCHAR}, 
      #{researchType,jdbcType=INTEGER}, #{rightInterestsRestriction,jdbcType=VARCHAR}, 
      #{useEnvironment,jdbcType=INTEGER}, #{description,jdbcType=VARCHAR}, #{caseDate,jdbcType=TIMESTAMP}, 
      #{useYear,jdbcType=INTEGER}, #{floorPrice,jdbcType=DECIMAL}, #{landLocation,jdbcType=VARCHAR}, 
      #{newDegree,jdbcType=VARCHAR}, #{useCondition,jdbcType=INTEGER}, #{useConditionDescription,jdbcType=VARCHAR}, 
      #{decorateSituation,jdbcType=INTEGER}, #{priceConnotation,jdbcType=INTEGER}, #{decorateSituationDescription,jdbcType=VARCHAR}, 
      #{mapId,jdbcType=INTEGER}, #{bisDelete,jdbcType=BIT}, #{creator,jdbcType=VARCHAR}, 
      #{gmtCreated,jdbcType=TIMESTAMP}, #{gmtModified,jdbcType=TIMESTAMP}, #{relevanceId,jdbcType=INTEGER}, 
      #{displayCaseId,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.copower.pmcc.assess.dal.basis.entity.BasicHouse" >
    <selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into tb_basic_house
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="applyId != null" >
        apply_id,
      </if>
      <if test="unitId != null" >
        unit_id,
      </if>
      <if test="houseNumber != null" >
        house_number,
      </if>
      <if test="floor != null" >
        floor,
      </if>
      <if test="floorDesc != null" >
        floor_desc,
      </if>
      <if test="huxingId != null" >
        huxing_id,
      </if>
      <if test="huxingName != null" >
        huxing_name,
      </if>
      <if test="newHuxingName != null" >
        new_huxing_name,
      </if>
      <if test="spatialDistribution != null" >
        spatial_distribution,
      </if>
      <if test="spatialDistributionDesc != null" >
        spatial_distribution_desc,
      </if>
      <if test="certUse != null" >
        cert_use,
      </if>
      <if test="practicalUse != null" >
        practical_use,
      </if>
      <if test="orientation != null" >
        orientation,
      </if>
      <if test="area != null" >
        area,
      </if>
      <if test="areaDesc != null" >
        area_desc,
      </if>
      <if test="researchType != null" >
        research_type,
      </if>
      <if test="rightInterestsRestriction != null" >
        right_interests_restriction,
      </if>
      <if test="useEnvironment != null" >
        use_environment,
      </if>
      <if test="description != null" >
        description,
      </if>
      <if test="caseDate != null" >
        case_date,
      </if>
      <if test="useYear != null" >
        use_year,
      </if>
      <if test="floorPrice != null" >
        floor_price,
      </if>
      <if test="landLocation != null" >
        land_location,
      </if>
      <if test="newDegree != null" >
        new_degree,
      </if>
      <if test="useCondition != null" >
        use_condition,
      </if>
      <if test="useConditionDescription != null" >
        use_condition_description,
      </if>
      <if test="decorateSituation != null" >
        decorate_situation,
      </if>
      <if test="priceConnotation != null" >
        price_connotation,
      </if>
      <if test="decorateSituationDescription != null" >
        decorate_situation_description,
      </if>
      <if test="mapId != null" >
        map_id,
      </if>
      <if test="bisDelete != null" >
        bis_delete,
      </if>
      <if test="creator != null" >
        creator,
      </if>
      <if test="gmtCreated != null" >
        gmt_created,
      </if>
      <if test="gmtModified != null" >
        gmt_modified,
      </if>
      <if test="relevanceId != null" >
        relevance_id,
      </if>
      <if test="displayCaseId != null" >
        display_case_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="applyId != null" >
        #{applyId,jdbcType=INTEGER},
      </if>
      <if test="unitId != null" >
        #{unitId,jdbcType=INTEGER},
      </if>
      <if test="houseNumber != null" >
        #{houseNumber,jdbcType=VARCHAR},
      </if>
      <if test="floor != null" >
        #{floor,jdbcType=VARCHAR},
      </if>
      <if test="floorDesc != null" >
        #{floorDesc,jdbcType=VARCHAR},
      </if>
      <if test="huxingId != null" >
        #{huxingId,jdbcType=INTEGER},
      </if>
      <if test="huxingName != null" >
        #{huxingName,jdbcType=VARCHAR},
      </if>
      <if test="newHuxingName != null" >
        #{newHuxingName,jdbcType=VARCHAR},
      </if>
      <if test="spatialDistribution != null" >
        #{spatialDistribution,jdbcType=INTEGER},
      </if>
      <if test="spatialDistributionDesc != null" >
        #{spatialDistributionDesc,jdbcType=VARCHAR},
      </if>
      <if test="certUse != null" >
        #{certUse,jdbcType=VARCHAR},
      </if>
      <if test="practicalUse != null" >
        #{practicalUse,jdbcType=VARCHAR},
      </if>
      <if test="orientation != null" >
        #{orientation,jdbcType=INTEGER},
      </if>
      <if test="area != null" >
        #{area,jdbcType=DECIMAL},
      </if>
      <if test="areaDesc != null" >
        #{areaDesc,jdbcType=VARCHAR},
      </if>
      <if test="researchType != null" >
        #{researchType,jdbcType=INTEGER},
      </if>
      <if test="rightInterestsRestriction != null" >
        #{rightInterestsRestriction,jdbcType=VARCHAR},
      </if>
      <if test="useEnvironment != null" >
        #{useEnvironment,jdbcType=INTEGER},
      </if>
      <if test="description != null" >
        #{description,jdbcType=VARCHAR},
      </if>
      <if test="caseDate != null" >
        #{caseDate,jdbcType=TIMESTAMP},
      </if>
      <if test="useYear != null" >
        #{useYear,jdbcType=INTEGER},
      </if>
      <if test="floorPrice != null" >
        #{floorPrice,jdbcType=DECIMAL},
      </if>
      <if test="landLocation != null" >
        #{landLocation,jdbcType=VARCHAR},
      </if>
      <if test="newDegree != null" >
        #{newDegree,jdbcType=VARCHAR},
      </if>
      <if test="useCondition != null" >
        #{useCondition,jdbcType=INTEGER},
      </if>
      <if test="useConditionDescription != null" >
        #{useConditionDescription,jdbcType=VARCHAR},
      </if>
      <if test="decorateSituation != null" >
        #{decorateSituation,jdbcType=INTEGER},
      </if>
      <if test="priceConnotation != null" >
        #{priceConnotation,jdbcType=INTEGER},
      </if>
      <if test="decorateSituationDescription != null" >
        #{decorateSituationDescription,jdbcType=VARCHAR},
      </if>
      <if test="mapId != null" >
        #{mapId,jdbcType=INTEGER},
      </if>
      <if test="bisDelete != null" >
        #{bisDelete,jdbcType=BIT},
      </if>
      <if test="creator != null" >
        #{creator,jdbcType=VARCHAR},
      </if>
      <if test="gmtCreated != null" >
        #{gmtCreated,jdbcType=TIMESTAMP},
      </if>
      <if test="gmtModified != null" >
        #{gmtModified,jdbcType=TIMESTAMP},
      </if>
      <if test="relevanceId != null" >
        #{relevanceId,jdbcType=INTEGER},
      </if>
      <if test="displayCaseId != null" >
        #{displayCaseId,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.copower.pmcc.assess.dal.basis.entity.BasicHouseExample" resultType="java.lang.Integer" >
    select count(*) from tb_basic_house
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update tb_basic_house
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.applyId != null" >
        apply_id = #{record.applyId,jdbcType=INTEGER},
      </if>
      <if test="record.unitId != null" >
        unit_id = #{record.unitId,jdbcType=INTEGER},
      </if>
      <if test="record.houseNumber != null" >
        house_number = #{record.houseNumber,jdbcType=VARCHAR},
      </if>
      <if test="record.floor != null" >
        floor = #{record.floor,jdbcType=VARCHAR},
      </if>
      <if test="record.floorDesc != null" >
        floor_desc = #{record.floorDesc,jdbcType=VARCHAR},
      </if>
      <if test="record.huxingId != null" >
        huxing_id = #{record.huxingId,jdbcType=INTEGER},
      </if>
      <if test="record.huxingName != null" >
        huxing_name = #{record.huxingName,jdbcType=VARCHAR},
      </if>
      <if test="record.newHuxingName != null" >
        new_huxing_name = #{record.newHuxingName,jdbcType=VARCHAR},
      </if>
      <if test="record.spatialDistribution != null" >
        spatial_distribution = #{record.spatialDistribution,jdbcType=INTEGER},
      </if>
      <if test="record.spatialDistributionDesc != null" >
        spatial_distribution_desc = #{record.spatialDistributionDesc,jdbcType=VARCHAR},
      </if>
      <if test="record.certUse != null" >
        cert_use = #{record.certUse,jdbcType=VARCHAR},
      </if>
      <if test="record.practicalUse != null" >
        practical_use = #{record.practicalUse,jdbcType=VARCHAR},
      </if>
      <if test="record.orientation != null" >
        orientation = #{record.orientation,jdbcType=INTEGER},
      </if>
      <if test="record.area != null" >
        area = #{record.area,jdbcType=DECIMAL},
      </if>
      <if test="record.areaDesc != null" >
        area_desc = #{record.areaDesc,jdbcType=VARCHAR},
      </if>
      <if test="record.researchType != null" >
        research_type = #{record.researchType,jdbcType=INTEGER},
      </if>
      <if test="record.rightInterestsRestriction != null" >
        right_interests_restriction = #{record.rightInterestsRestriction,jdbcType=VARCHAR},
      </if>
      <if test="record.useEnvironment != null" >
        use_environment = #{record.useEnvironment,jdbcType=INTEGER},
      </if>
      <if test="record.description != null" >
        description = #{record.description,jdbcType=VARCHAR},
      </if>
      <if test="record.caseDate != null" >
        case_date = #{record.caseDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.useYear != null" >
        use_year = #{record.useYear,jdbcType=INTEGER},
      </if>
      <if test="record.floorPrice != null" >
        floor_price = #{record.floorPrice,jdbcType=DECIMAL},
      </if>
      <if test="record.landLocation != null" >
        land_location = #{record.landLocation,jdbcType=VARCHAR},
      </if>
      <if test="record.newDegree != null" >
        new_degree = #{record.newDegree,jdbcType=VARCHAR},
      </if>
      <if test="record.useCondition != null" >
        use_condition = #{record.useCondition,jdbcType=INTEGER},
      </if>
      <if test="record.useConditionDescription != null" >
        use_condition_description = #{record.useConditionDescription,jdbcType=VARCHAR},
      </if>
      <if test="record.decorateSituation != null" >
        decorate_situation = #{record.decorateSituation,jdbcType=INTEGER},
      </if>
      <if test="record.priceConnotation != null" >
        price_connotation = #{record.priceConnotation,jdbcType=INTEGER},
      </if>
      <if test="record.decorateSituationDescription != null" >
        decorate_situation_description = #{record.decorateSituationDescription,jdbcType=VARCHAR},
      </if>
      <if test="record.mapId != null" >
        map_id = #{record.mapId,jdbcType=INTEGER},
      </if>
      <if test="record.bisDelete != null" >
        bis_delete = #{record.bisDelete,jdbcType=BIT},
      </if>
      <if test="record.creator != null" >
        creator = #{record.creator,jdbcType=VARCHAR},
      </if>
      <if test="record.gmtCreated != null" >
        gmt_created = #{record.gmtCreated,jdbcType=TIMESTAMP},
      </if>
      <if test="record.gmtModified != null" >
        gmt_modified = #{record.gmtModified,jdbcType=TIMESTAMP},
      </if>
      <if test="record.relevanceId != null" >
        relevance_id = #{record.relevanceId,jdbcType=INTEGER},
      </if>
      <if test="record.displayCaseId != null" >
        display_case_id = #{record.displayCaseId,jdbcType=INTEGER},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update tb_basic_house
    set id = #{record.id,jdbcType=INTEGER},
      apply_id = #{record.applyId,jdbcType=INTEGER},
      unit_id = #{record.unitId,jdbcType=INTEGER},
      house_number = #{record.houseNumber,jdbcType=VARCHAR},
      floor = #{record.floor,jdbcType=VARCHAR},
      floor_desc = #{record.floorDesc,jdbcType=VARCHAR},
      huxing_id = #{record.huxingId,jdbcType=INTEGER},
      huxing_name = #{record.huxingName,jdbcType=VARCHAR},
      new_huxing_name = #{record.newHuxingName,jdbcType=VARCHAR},
      spatial_distribution = #{record.spatialDistribution,jdbcType=INTEGER},
      spatial_distribution_desc = #{record.spatialDistributionDesc,jdbcType=VARCHAR},
      cert_use = #{record.certUse,jdbcType=VARCHAR},
      practical_use = #{record.practicalUse,jdbcType=VARCHAR},
      orientation = #{record.orientation,jdbcType=INTEGER},
      area = #{record.area,jdbcType=DECIMAL},
      area_desc = #{record.areaDesc,jdbcType=VARCHAR},
      research_type = #{record.researchType,jdbcType=INTEGER},
      right_interests_restriction = #{record.rightInterestsRestriction,jdbcType=VARCHAR},
      use_environment = #{record.useEnvironment,jdbcType=INTEGER},
      description = #{record.description,jdbcType=VARCHAR},
      case_date = #{record.caseDate,jdbcType=TIMESTAMP},
      use_year = #{record.useYear,jdbcType=INTEGER},
      floor_price = #{record.floorPrice,jdbcType=DECIMAL},
      land_location = #{record.landLocation,jdbcType=VARCHAR},
      new_degree = #{record.newDegree,jdbcType=VARCHAR},
      use_condition = #{record.useCondition,jdbcType=INTEGER},
      use_condition_description = #{record.useConditionDescription,jdbcType=VARCHAR},
      decorate_situation = #{record.decorateSituation,jdbcType=INTEGER},
      price_connotation = #{record.priceConnotation,jdbcType=INTEGER},
      decorate_situation_description = #{record.decorateSituationDescription,jdbcType=VARCHAR},
      map_id = #{record.mapId,jdbcType=INTEGER},
      bis_delete = #{record.bisDelete,jdbcType=BIT},
      creator = #{record.creator,jdbcType=VARCHAR},
      gmt_created = #{record.gmtCreated,jdbcType=TIMESTAMP},
      gmt_modified = #{record.gmtModified,jdbcType=TIMESTAMP},
      relevance_id = #{record.relevanceId,jdbcType=INTEGER},
      display_case_id = #{record.displayCaseId,jdbcType=INTEGER}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.copower.pmcc.assess.dal.basis.entity.BasicHouse" >
    update tb_basic_house
    <set >
      <if test="applyId != null" >
        apply_id = #{applyId,jdbcType=INTEGER},
      </if>
      <if test="unitId != null" >
        unit_id = #{unitId,jdbcType=INTEGER},
      </if>
      <if test="houseNumber != null" >
        house_number = #{houseNumber,jdbcType=VARCHAR},
      </if>
      <if test="floor != null" >
        floor = #{floor,jdbcType=VARCHAR},
      </if>
      <if test="floorDesc != null" >
        floor_desc = #{floorDesc,jdbcType=VARCHAR},
      </if>
      <if test="huxingId != null" >
        huxing_id = #{huxingId,jdbcType=INTEGER},
      </if>
      <if test="huxingName != null" >
        huxing_name = #{huxingName,jdbcType=VARCHAR},
      </if>
      <if test="newHuxingName != null" >
        new_huxing_name = #{newHuxingName,jdbcType=VARCHAR},
      </if>
      <if test="spatialDistribution != null" >
        spatial_distribution = #{spatialDistribution,jdbcType=INTEGER},
      </if>
      <if test="spatialDistributionDesc != null" >
        spatial_distribution_desc = #{spatialDistributionDesc,jdbcType=VARCHAR},
      </if>
      <if test="certUse != null" >
        cert_use = #{certUse,jdbcType=VARCHAR},
      </if>
      <if test="practicalUse != null" >
        practical_use = #{practicalUse,jdbcType=VARCHAR},
      </if>
      <if test="orientation != null" >
        orientation = #{orientation,jdbcType=INTEGER},
      </if>
      <if test="area != null" >
        area = #{area,jdbcType=DECIMAL},
      </if>
      <if test="areaDesc != null" >
        area_desc = #{areaDesc,jdbcType=VARCHAR},
      </if>
      <if test="researchType != null" >
        research_type = #{researchType,jdbcType=INTEGER},
      </if>
      <if test="rightInterestsRestriction != null" >
        right_interests_restriction = #{rightInterestsRestriction,jdbcType=VARCHAR},
      </if>
      <if test="useEnvironment != null" >
        use_environment = #{useEnvironment,jdbcType=INTEGER},
      </if>
      <if test="description != null" >
        description = #{description,jdbcType=VARCHAR},
      </if>
      <if test="caseDate != null" >
        case_date = #{caseDate,jdbcType=TIMESTAMP},
      </if>
      <if test="useYear != null" >
        use_year = #{useYear,jdbcType=INTEGER},
      </if>
      <if test="floorPrice != null" >
        floor_price = #{floorPrice,jdbcType=DECIMAL},
      </if>
      <if test="landLocation != null" >
        land_location = #{landLocation,jdbcType=VARCHAR},
      </if>
      <if test="newDegree != null" >
        new_degree = #{newDegree,jdbcType=VARCHAR},
      </if>
      <if test="useCondition != null" >
        use_condition = #{useCondition,jdbcType=INTEGER},
      </if>
      <if test="useConditionDescription != null" >
        use_condition_description = #{useConditionDescription,jdbcType=VARCHAR},
      </if>
      <if test="decorateSituation != null" >
        decorate_situation = #{decorateSituation,jdbcType=INTEGER},
      </if>
      <if test="priceConnotation != null" >
        price_connotation = #{priceConnotation,jdbcType=INTEGER},
      </if>
      <if test="decorateSituationDescription != null" >
        decorate_situation_description = #{decorateSituationDescription,jdbcType=VARCHAR},
      </if>
      <if test="mapId != null" >
        map_id = #{mapId,jdbcType=INTEGER},
      </if>
      <if test="bisDelete != null" >
        bis_delete = #{bisDelete,jdbcType=BIT},
      </if>
      <if test="creator != null" >
        creator = #{creator,jdbcType=VARCHAR},
      </if>
      <if test="gmtCreated != null" >
        gmt_created = #{gmtCreated,jdbcType=TIMESTAMP},
      </if>
      <if test="gmtModified != null" >
        gmt_modified = #{gmtModified,jdbcType=TIMESTAMP},
      </if>
      <if test="relevanceId != null" >
        relevance_id = #{relevanceId,jdbcType=INTEGER},
      </if>
      <if test="displayCaseId != null" >
        display_case_id = #{displayCaseId,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.copower.pmcc.assess.dal.basis.entity.BasicHouse" >
    update tb_basic_house
    set apply_id = #{applyId,jdbcType=INTEGER},
      unit_id = #{unitId,jdbcType=INTEGER},
      house_number = #{houseNumber,jdbcType=VARCHAR},
      floor = #{floor,jdbcType=VARCHAR},
      floor_desc = #{floorDesc,jdbcType=VARCHAR},
      huxing_id = #{huxingId,jdbcType=INTEGER},
      huxing_name = #{huxingName,jdbcType=VARCHAR},
      new_huxing_name = #{newHuxingName,jdbcType=VARCHAR},
      spatial_distribution = #{spatialDistribution,jdbcType=INTEGER},
      spatial_distribution_desc = #{spatialDistributionDesc,jdbcType=VARCHAR},
      cert_use = #{certUse,jdbcType=VARCHAR},
      practical_use = #{practicalUse,jdbcType=VARCHAR},
      orientation = #{orientation,jdbcType=INTEGER},
      area = #{area,jdbcType=DECIMAL},
      area_desc = #{areaDesc,jdbcType=VARCHAR},
      research_type = #{researchType,jdbcType=INTEGER},
      right_interests_restriction = #{rightInterestsRestriction,jdbcType=VARCHAR},
      use_environment = #{useEnvironment,jdbcType=INTEGER},
      description = #{description,jdbcType=VARCHAR},
      case_date = #{caseDate,jdbcType=TIMESTAMP},
      use_year = #{useYear,jdbcType=INTEGER},
      floor_price = #{floorPrice,jdbcType=DECIMAL},
      land_location = #{landLocation,jdbcType=VARCHAR},
      new_degree = #{newDegree,jdbcType=VARCHAR},
      use_condition = #{useCondition,jdbcType=INTEGER},
      use_condition_description = #{useConditionDescription,jdbcType=VARCHAR},
      decorate_situation = #{decorateSituation,jdbcType=INTEGER},
      price_connotation = #{priceConnotation,jdbcType=INTEGER},
      decorate_situation_description = #{decorateSituationDescription,jdbcType=VARCHAR},
      map_id = #{mapId,jdbcType=INTEGER},
      bis_delete = #{bisDelete,jdbcType=BIT},
      creator = #{creator,jdbcType=VARCHAR},
      gmt_created = #{gmtCreated,jdbcType=TIMESTAMP},
      gmt_modified = #{gmtModified,jdbcType=TIMESTAMP},
      relevance_id = #{relevanceId,jdbcType=INTEGER},
      display_case_id = #{displayCaseId,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>