<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.copower.pmcc.assess.dal.basis.mapper.BasicHouseMapper" >
  <resultMap id="BaseResultMap" type="com.copower.pmcc.assess.dal.basis.entity.BasicHouse" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="apply_id" property="applyId" jdbcType="INTEGER" />
    <result column="unit_id" property="unitId" jdbcType="INTEGER" />
    <result column="house_number" property="houseNumber" jdbcType="VARCHAR" />
    <result column="floor" property="floor" jdbcType="VARCHAR" />
    <result column="floor_desc" property="floorDesc" jdbcType="VARCHAR" />
    <result column="huxing_name" property="huxingName" jdbcType="VARCHAR" />
    <result column="new_huxing_name" property="newHuxingName" jdbcType="VARCHAR" />
    <result column="cert_use" property="certUse" jdbcType="INTEGER" />
    <result column="practical_use" property="practicalUse" jdbcType="INTEGER" />
    <result column="orientation" property="orientation" jdbcType="INTEGER" />
    <result column="area" property="area" jdbcType="DECIMAL" />
    <result column="right_interests_restriction" property="rightInterestsRestriction" jdbcType="VARCHAR" />
    <result column="use_environment" property="useEnvironment" jdbcType="INTEGER" />
    <result column="description" property="description" jdbcType="VARCHAR" />
    <result column="case_date" property="caseDate" jdbcType="TIMESTAMP" />
    <result column="creator" property="creator" jdbcType="VARCHAR" />
    <result column="gmt_created" property="gmtCreated" jdbcType="TIMESTAMP" />
    <result column="gmt_modified" property="gmtModified" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, apply_id, unit_id, house_number, floor, floor_desc, huxing_name, new_huxing_name, 
    cert_use, practical_use, orientation, area, right_interests_restriction, use_environment, 
    description, case_date, creator, gmt_created, gmt_modified
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.copower.pmcc.assess.dal.basis.entity.BasicHouseExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from tb_basic_house
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from tb_basic_house
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from tb_basic_house
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.copower.pmcc.assess.dal.basis.entity.BasicHouseExample" >
    delete from tb_basic_house
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.copower.pmcc.assess.dal.basis.entity.BasicHouse" >
    <selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into tb_basic_house (apply_id, unit_id, house_number, 
      floor, floor_desc, huxing_name, 
      new_huxing_name, cert_use, practical_use, 
      orientation, area, right_interests_restriction, 
      use_environment, description, case_date, 
      creator, gmt_created, gmt_modified
      )
    values (#{applyId,jdbcType=INTEGER}, #{unitId,jdbcType=INTEGER}, #{houseNumber,jdbcType=VARCHAR}, 
      #{floor,jdbcType=VARCHAR}, #{floorDesc,jdbcType=VARCHAR}, #{huxingName,jdbcType=VARCHAR}, 
      #{newHuxingName,jdbcType=VARCHAR}, #{certUse,jdbcType=INTEGER}, #{practicalUse,jdbcType=INTEGER}, 
      #{orientation,jdbcType=INTEGER}, #{area,jdbcType=DECIMAL}, #{rightInterestsRestriction,jdbcType=VARCHAR}, 
      #{useEnvironment,jdbcType=INTEGER}, #{description,jdbcType=VARCHAR}, #{caseDate,jdbcType=TIMESTAMP}, 
      #{creator,jdbcType=VARCHAR}, #{gmtCreated,jdbcType=TIMESTAMP}, #{gmtModified,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.copower.pmcc.assess.dal.basis.entity.BasicHouse" >
    <selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into tb_basic_house
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="applyId != null" >
        apply_id,
      </if>
      <if test="unitId != null" >
        unit_id,
      </if>
      <if test="houseNumber != null" >
        house_number,
      </if>
      <if test="floor != null" >
        floor,
      </if>
      <if test="floorDesc != null" >
        floor_desc,
      </if>
      <if test="huxingName != null" >
        huxing_name,
      </if>
      <if test="newHuxingName != null" >
        new_huxing_name,
      </if>
      <if test="certUse != null" >
        cert_use,
      </if>
      <if test="practicalUse != null" >
        practical_use,
      </if>
      <if test="orientation != null" >
        orientation,
      </if>
      <if test="area != null" >
        area,
      </if>
      <if test="rightInterestsRestriction != null" >
        right_interests_restriction,
      </if>
      <if test="useEnvironment != null" >
        use_environment,
      </if>
      <if test="description != null" >
        description,
      </if>
      <if test="caseDate != null" >
        case_date,
      </if>
      <if test="creator != null" >
        creator,
      </if>
      <if test="gmtCreated != null" >
        gmt_created,
      </if>
      <if test="gmtModified != null" >
        gmt_modified,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="applyId != null" >
        #{applyId,jdbcType=INTEGER},
      </if>
      <if test="unitId != null" >
        #{unitId,jdbcType=INTEGER},
      </if>
      <if test="houseNumber != null" >
        #{houseNumber,jdbcType=VARCHAR},
      </if>
      <if test="floor != null" >
        #{floor,jdbcType=VARCHAR},
      </if>
      <if test="floorDesc != null" >
        #{floorDesc,jdbcType=VARCHAR},
      </if>
      <if test="huxingName != null" >
        #{huxingName,jdbcType=VARCHAR},
      </if>
      <if test="newHuxingName != null" >
        #{newHuxingName,jdbcType=VARCHAR},
      </if>
      <if test="certUse != null" >
        #{certUse,jdbcType=INTEGER},
      </if>
      <if test="practicalUse != null" >
        #{practicalUse,jdbcType=INTEGER},
      </if>
      <if test="orientation != null" >
        #{orientation,jdbcType=INTEGER},
      </if>
      <if test="area != null" >
        #{area,jdbcType=DECIMAL},
      </if>
      <if test="rightInterestsRestriction != null" >
        #{rightInterestsRestriction,jdbcType=VARCHAR},
      </if>
      <if test="useEnvironment != null" >
        #{useEnvironment,jdbcType=INTEGER},
      </if>
      <if test="description != null" >
        #{description,jdbcType=VARCHAR},
      </if>
      <if test="caseDate != null" >
        #{caseDate,jdbcType=TIMESTAMP},
      </if>
      <if test="creator != null" >
        #{creator,jdbcType=VARCHAR},
      </if>
      <if test="gmtCreated != null" >
        #{gmtCreated,jdbcType=TIMESTAMP},
      </if>
      <if test="gmtModified != null" >
        #{gmtModified,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.copower.pmcc.assess.dal.basis.entity.BasicHouseExample" resultType="java.lang.Integer" >
    select count(*) from tb_basic_house
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update tb_basic_house
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.applyId != null" >
        apply_id = #{record.applyId,jdbcType=INTEGER},
      </if>
      <if test="record.unitId != null" >
        unit_id = #{record.unitId,jdbcType=INTEGER},
      </if>
      <if test="record.houseNumber != null" >
        house_number = #{record.houseNumber,jdbcType=VARCHAR},
      </if>
      <if test="record.floor != null" >
        floor = #{record.floor,jdbcType=VARCHAR},
      </if>
      <if test="record.floorDesc != null" >
        floor_desc = #{record.floorDesc,jdbcType=VARCHAR},
      </if>
      <if test="record.huxingName != null" >
        huxing_name = #{record.huxingName,jdbcType=VARCHAR},
      </if>
      <if test="record.newHuxingName != null" >
        new_huxing_name = #{record.newHuxingName,jdbcType=VARCHAR},
      </if>
      <if test="record.certUse != null" >
        cert_use = #{record.certUse,jdbcType=INTEGER},
      </if>
      <if test="record.practicalUse != null" >
        practical_use = #{record.practicalUse,jdbcType=INTEGER},
      </if>
      <if test="record.orientation != null" >
        orientation = #{record.orientation,jdbcType=INTEGER},
      </if>
      <if test="record.area != null" >
        area = #{record.area,jdbcType=DECIMAL},
      </if>
      <if test="record.rightInterestsRestriction != null" >
        right_interests_restriction = #{record.rightInterestsRestriction,jdbcType=VARCHAR},
      </if>
      <if test="record.useEnvironment != null" >
        use_environment = #{record.useEnvironment,jdbcType=INTEGER},
      </if>
      <if test="record.description != null" >
        description = #{record.description,jdbcType=VARCHAR},
      </if>
      <if test="record.caseDate != null" >
        case_date = #{record.caseDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.creator != null" >
        creator = #{record.creator,jdbcType=VARCHAR},
      </if>
      <if test="record.gmtCreated != null" >
        gmt_created = #{record.gmtCreated,jdbcType=TIMESTAMP},
      </if>
      <if test="record.gmtModified != null" >
        gmt_modified = #{record.gmtModified,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update tb_basic_house
    set id = #{record.id,jdbcType=INTEGER},
      apply_id = #{record.applyId,jdbcType=INTEGER},
      unit_id = #{record.unitId,jdbcType=INTEGER},
      house_number = #{record.houseNumber,jdbcType=VARCHAR},
      floor = #{record.floor,jdbcType=VARCHAR},
      floor_desc = #{record.floorDesc,jdbcType=VARCHAR},
      huxing_name = #{record.huxingName,jdbcType=VARCHAR},
      new_huxing_name = #{record.newHuxingName,jdbcType=VARCHAR},
      cert_use = #{record.certUse,jdbcType=INTEGER},
      practical_use = #{record.practicalUse,jdbcType=INTEGER},
      orientation = #{record.orientation,jdbcType=INTEGER},
      area = #{record.area,jdbcType=DECIMAL},
      right_interests_restriction = #{record.rightInterestsRestriction,jdbcType=VARCHAR},
      use_environment = #{record.useEnvironment,jdbcType=INTEGER},
      description = #{record.description,jdbcType=VARCHAR},
      case_date = #{record.caseDate,jdbcType=TIMESTAMP},
      creator = #{record.creator,jdbcType=VARCHAR},
      gmt_created = #{record.gmtCreated,jdbcType=TIMESTAMP},
      gmt_modified = #{record.gmtModified,jdbcType=TIMESTAMP}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.copower.pmcc.assess.dal.basis.entity.BasicHouse" >
    update tb_basic_house
    <set >
      <if test="applyId != null" >
        apply_id = #{applyId,jdbcType=INTEGER},
      </if>
      <if test="unitId != null" >
        unit_id = #{unitId,jdbcType=INTEGER},
      </if>
      <if test="houseNumber != null" >
        house_number = #{houseNumber,jdbcType=VARCHAR},
      </if>
      <if test="floor != null" >
        floor = #{floor,jdbcType=VARCHAR},
      </if>
      <if test="floorDesc != null" >
        floor_desc = #{floorDesc,jdbcType=VARCHAR},
      </if>
      <if test="huxingName != null" >
        huxing_name = #{huxingName,jdbcType=VARCHAR},
      </if>
      <if test="newHuxingName != null" >
        new_huxing_name = #{newHuxingName,jdbcType=VARCHAR},
      </if>
      <if test="certUse != null" >
        cert_use = #{certUse,jdbcType=INTEGER},
      </if>
      <if test="practicalUse != null" >
        practical_use = #{practicalUse,jdbcType=INTEGER},
      </if>
      <if test="orientation != null" >
        orientation = #{orientation,jdbcType=INTEGER},
      </if>
      <if test="area != null" >
        area = #{area,jdbcType=DECIMAL},
      </if>
      <if test="rightInterestsRestriction != null" >
        right_interests_restriction = #{rightInterestsRestriction,jdbcType=VARCHAR},
      </if>
      <if test="useEnvironment != null" >
        use_environment = #{useEnvironment,jdbcType=INTEGER},
      </if>
      <if test="description != null" >
        description = #{description,jdbcType=VARCHAR},
      </if>
      <if test="caseDate != null" >
        case_date = #{caseDate,jdbcType=TIMESTAMP},
      </if>
      <if test="creator != null" >
        creator = #{creator,jdbcType=VARCHAR},
      </if>
      <if test="gmtCreated != null" >
        gmt_created = #{gmtCreated,jdbcType=TIMESTAMP},
      </if>
      <if test="gmtModified != null" >
        gmt_modified = #{gmtModified,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.copower.pmcc.assess.dal.basis.entity.BasicHouse" >
    update tb_basic_house
    set apply_id = #{applyId,jdbcType=INTEGER},
      unit_id = #{unitId,jdbcType=INTEGER},
      house_number = #{houseNumber,jdbcType=VARCHAR},
      floor = #{floor,jdbcType=VARCHAR},
      floor_desc = #{floorDesc,jdbcType=VARCHAR},
      huxing_name = #{huxingName,jdbcType=VARCHAR},
      new_huxing_name = #{newHuxingName,jdbcType=VARCHAR},
      cert_use = #{certUse,jdbcType=INTEGER},
      practical_use = #{practicalUse,jdbcType=INTEGER},
      orientation = #{orientation,jdbcType=INTEGER},
      area = #{area,jdbcType=DECIMAL},
      right_interests_restriction = #{rightInterestsRestriction,jdbcType=VARCHAR},
      use_environment = #{useEnvironment,jdbcType=INTEGER},
      description = #{description,jdbcType=VARCHAR},
      case_date = #{caseDate,jdbcType=TIMESTAMP},
      creator = #{creator,jdbcType=VARCHAR},
      gmt_created = #{gmtCreated,jdbcType=TIMESTAMP},
      gmt_modified = #{gmtModified,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>