<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.copower.pmcc.assess.dal.basis.mapper.BasicHouseHuxingPriceMapper" >
  <resultMap id="BaseResultMap" type="com.copower.pmcc.assess.dal.basis.entity.BasicHouseHuxingPrice" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="huxing_id" property="huxingId" jdbcType="INTEGER" />
    <result column="house_number" property="houseNumber" jdbcType="VARCHAR" />
    <result column="area" property="area" jdbcType="DECIMAL" />
    <result column="adjust_factor" property="adjustFactor" jdbcType="VARCHAR" />
    <result column="price" property="price" jdbcType="DECIMAL" />
    <result column="remark" property="remark" jdbcType="VARCHAR" />
    <result column="declare_id" property="declareId" jdbcType="INTEGER" />
    <result column="declare_name" property="declareName" jdbcType="VARCHAR" />
    <result column="creator" property="creator" jdbcType="VARCHAR" />
    <result column="gmt_created" property="gmtCreated" jdbcType="TIMESTAMP" />
    <result column="gmt_modified" property="gmtModified" jdbcType="TIMESTAMP" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="com.copower.pmcc.assess.dal.basis.entity.BasicHouseHuxingPrice" extends="BaseResultMap" >
    <result column="json_data" property="jsonData" jdbcType="LONGVARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, huxing_id, house_number, area, adjust_factor, price, remark, declare_id, declare_name, 
    creator, gmt_created, gmt_modified
  </sql>
  <sql id="Blob_Column_List" >
    json_data
  </sql>
  <select id="selectByExampleWithBLOBs" resultMap="ResultMapWithBLOBs" parameterType="com.copower.pmcc.assess.dal.basis.entity.BasicHouseHuxingPriceExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from tb_basic_house_huxing_price
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.copower.pmcc.assess.dal.basis.entity.BasicHouseHuxingPriceExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from tb_basic_house_huxing_price
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="ResultMapWithBLOBs" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from tb_basic_house_huxing_price
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from tb_basic_house_huxing_price
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.copower.pmcc.assess.dal.basis.entity.BasicHouseHuxingPriceExample" >
    delete from tb_basic_house_huxing_price
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.copower.pmcc.assess.dal.basis.entity.BasicHouseHuxingPrice" >
    <selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into tb_basic_house_huxing_price (huxing_id, house_number, area, 
      adjust_factor, price, remark, 
      declare_id, declare_name, creator, 
      gmt_created, gmt_modified, json_data
      )
    values (#{huxingId,jdbcType=INTEGER}, #{houseNumber,jdbcType=VARCHAR}, #{area,jdbcType=DECIMAL}, 
      #{adjustFactor,jdbcType=VARCHAR}, #{price,jdbcType=DECIMAL}, #{remark,jdbcType=VARCHAR}, 
      #{declareId,jdbcType=INTEGER}, #{declareName,jdbcType=VARCHAR}, #{creator,jdbcType=VARCHAR}, 
      #{gmtCreated,jdbcType=TIMESTAMP}, #{gmtModified,jdbcType=TIMESTAMP}, #{jsonData,jdbcType=LONGVARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.copower.pmcc.assess.dal.basis.entity.BasicHouseHuxingPrice" >
    <selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into tb_basic_house_huxing_price
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="huxingId != null" >
        huxing_id,
      </if>
      <if test="houseNumber != null" >
        house_number,
      </if>
      <if test="area != null" >
        area,
      </if>
      <if test="adjustFactor != null" >
        adjust_factor,
      </if>
      <if test="price != null" >
        price,
      </if>
      <if test="remark != null" >
        remark,
      </if>
      <if test="declareId != null" >
        declare_id,
      </if>
      <if test="declareName != null" >
        declare_name,
      </if>
      <if test="creator != null" >
        creator,
      </if>
      <if test="gmtCreated != null" >
        gmt_created,
      </if>
      <if test="gmtModified != null" >
        gmt_modified,
      </if>
      <if test="jsonData != null" >
        json_data,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="huxingId != null" >
        #{huxingId,jdbcType=INTEGER},
      </if>
      <if test="houseNumber != null" >
        #{houseNumber,jdbcType=VARCHAR},
      </if>
      <if test="area != null" >
        #{area,jdbcType=DECIMAL},
      </if>
      <if test="adjustFactor != null" >
        #{adjustFactor,jdbcType=VARCHAR},
      </if>
      <if test="price != null" >
        #{price,jdbcType=DECIMAL},
      </if>
      <if test="remark != null" >
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="declareId != null" >
        #{declareId,jdbcType=INTEGER},
      </if>
      <if test="declareName != null" >
        #{declareName,jdbcType=VARCHAR},
      </if>
      <if test="creator != null" >
        #{creator,jdbcType=VARCHAR},
      </if>
      <if test="gmtCreated != null" >
        #{gmtCreated,jdbcType=TIMESTAMP},
      </if>
      <if test="gmtModified != null" >
        #{gmtModified,jdbcType=TIMESTAMP},
      </if>
      <if test="jsonData != null" >
        #{jsonData,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.copower.pmcc.assess.dal.basis.entity.BasicHouseHuxingPriceExample" resultType="java.lang.Integer" >
    select count(*) from tb_basic_house_huxing_price
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update tb_basic_house_huxing_price
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.huxingId != null" >
        huxing_id = #{record.huxingId,jdbcType=INTEGER},
      </if>
      <if test="record.houseNumber != null" >
        house_number = #{record.houseNumber,jdbcType=VARCHAR},
      </if>
      <if test="record.area != null" >
        area = #{record.area,jdbcType=DECIMAL},
      </if>
      <if test="record.adjustFactor != null" >
        adjust_factor = #{record.adjustFactor,jdbcType=VARCHAR},
      </if>
      <if test="record.price != null" >
        price = #{record.price,jdbcType=DECIMAL},
      </if>
      <if test="record.remark != null" >
        remark = #{record.remark,jdbcType=VARCHAR},
      </if>
      <if test="record.declareId != null" >
        declare_id = #{record.declareId,jdbcType=INTEGER},
      </if>
      <if test="record.declareName != null" >
        declare_name = #{record.declareName,jdbcType=VARCHAR},
      </if>
      <if test="record.creator != null" >
        creator = #{record.creator,jdbcType=VARCHAR},
      </if>
      <if test="record.gmtCreated != null" >
        gmt_created = #{record.gmtCreated,jdbcType=TIMESTAMP},
      </if>
      <if test="record.gmtModified != null" >
        gmt_modified = #{record.gmtModified,jdbcType=TIMESTAMP},
      </if>
      <if test="record.jsonData != null" >
        json_data = #{record.jsonData,jdbcType=LONGVARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExampleWithBLOBs" parameterType="map" >
    update tb_basic_house_huxing_price
    set id = #{record.id,jdbcType=INTEGER},
      huxing_id = #{record.huxingId,jdbcType=INTEGER},
      house_number = #{record.houseNumber,jdbcType=VARCHAR},
      area = #{record.area,jdbcType=DECIMAL},
      adjust_factor = #{record.adjustFactor,jdbcType=VARCHAR},
      price = #{record.price,jdbcType=DECIMAL},
      remark = #{record.remark,jdbcType=VARCHAR},
      declare_id = #{record.declareId,jdbcType=INTEGER},
      declare_name = #{record.declareName,jdbcType=VARCHAR},
      creator = #{record.creator,jdbcType=VARCHAR},
      gmt_created = #{record.gmtCreated,jdbcType=TIMESTAMP},
      gmt_modified = #{record.gmtModified,jdbcType=TIMESTAMP},
      json_data = #{record.jsonData,jdbcType=LONGVARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update tb_basic_house_huxing_price
    set id = #{record.id,jdbcType=INTEGER},
      huxing_id = #{record.huxingId,jdbcType=INTEGER},
      house_number = #{record.houseNumber,jdbcType=VARCHAR},
      area = #{record.area,jdbcType=DECIMAL},
      adjust_factor = #{record.adjustFactor,jdbcType=VARCHAR},
      price = #{record.price,jdbcType=DECIMAL},
      remark = #{record.remark,jdbcType=VARCHAR},
      declare_id = #{record.declareId,jdbcType=INTEGER},
      declare_name = #{record.declareName,jdbcType=VARCHAR},
      creator = #{record.creator,jdbcType=VARCHAR},
      gmt_created = #{record.gmtCreated,jdbcType=TIMESTAMP},
      gmt_modified = #{record.gmtModified,jdbcType=TIMESTAMP}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.copower.pmcc.assess.dal.basis.entity.BasicHouseHuxingPrice" >
    update tb_basic_house_huxing_price
    <set >
      <if test="huxingId != null" >
        huxing_id = #{huxingId,jdbcType=INTEGER},
      </if>
      <if test="houseNumber != null" >
        house_number = #{houseNumber,jdbcType=VARCHAR},
      </if>
      <if test="area != null" >
        area = #{area,jdbcType=DECIMAL},
      </if>
      <if test="adjustFactor != null" >
        adjust_factor = #{adjustFactor,jdbcType=VARCHAR},
      </if>
      <if test="price != null" >
        price = #{price,jdbcType=DECIMAL},
      </if>
      <if test="remark != null" >
        remark = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="declareId != null" >
        declare_id = #{declareId,jdbcType=INTEGER},
      </if>
      <if test="declareName != null" >
        declare_name = #{declareName,jdbcType=VARCHAR},
      </if>
      <if test="creator != null" >
        creator = #{creator,jdbcType=VARCHAR},
      </if>
      <if test="gmtCreated != null" >
        gmt_created = #{gmtCreated,jdbcType=TIMESTAMP},
      </if>
      <if test="gmtModified != null" >
        gmt_modified = #{gmtModified,jdbcType=TIMESTAMP},
      </if>
      <if test="jsonData != null" >
        json_data = #{jsonData,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.copower.pmcc.assess.dal.basis.entity.BasicHouseHuxingPrice" >
    update tb_basic_house_huxing_price
    set huxing_id = #{huxingId,jdbcType=INTEGER},
      house_number = #{houseNumber,jdbcType=VARCHAR},
      area = #{area,jdbcType=DECIMAL},
      adjust_factor = #{adjustFactor,jdbcType=VARCHAR},
      price = #{price,jdbcType=DECIMAL},
      remark = #{remark,jdbcType=VARCHAR},
      declare_id = #{declareId,jdbcType=INTEGER},
      declare_name = #{declareName,jdbcType=VARCHAR},
      creator = #{creator,jdbcType=VARCHAR},
      gmt_created = #{gmtCreated,jdbcType=TIMESTAMP},
      gmt_modified = #{gmtModified,jdbcType=TIMESTAMP},
      json_data = #{jsonData,jdbcType=LONGVARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.copower.pmcc.assess.dal.basis.entity.BasicHouseHuxingPrice" >
    update tb_basic_house_huxing_price
    set huxing_id = #{huxingId,jdbcType=INTEGER},
      house_number = #{houseNumber,jdbcType=VARCHAR},
      area = #{area,jdbcType=DECIMAL},
      adjust_factor = #{adjustFactor,jdbcType=VARCHAR},
      price = #{price,jdbcType=DECIMAL},
      remark = #{remark,jdbcType=VARCHAR},
      declare_id = #{declareId,jdbcType=INTEGER},
      declare_name = #{declareName,jdbcType=VARCHAR},
      creator = #{creator,jdbcType=VARCHAR},
      gmt_created = #{gmtCreated,jdbcType=TIMESTAMP},
      gmt_modified = #{gmtModified,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>