<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.copower.pmcc.assess.dal.basis.mapper.BasicUnitHuxingMapper" >
  <resultMap id="BaseResultMap" type="com.copower.pmcc.assess.dal.basis.entity.BasicUnitHuxing" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="house_id" property="houseId" jdbcType="INTEGER" />
    <result column="estate_id" property="estateId" jdbcType="INTEGER" />
    <result column="unit_id" property="unitId" jdbcType="INTEGER" />
    <result column="type" property="type" jdbcType="INTEGER" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="area" property="area" jdbcType="DECIMAL" />
    <result column="orientation" property="orientation" jdbcType="VARCHAR" />
    <result column="span_length" property="spanLength" jdbcType="DECIMAL" />
    <result column="span_width" property="spanWidth" jdbcType="INTEGER" />
    <result column="span_number" property="spanNumber" jdbcType="DECIMAL" />
    <result column="bay" property="bay" jdbcType="DECIMAL" />
    <result column="deep" property="deep" jdbcType="DECIMAL" />
    <result column="house_category" property="houseCategory" jdbcType="VARCHAR" />
    <result column="description" property="description" jdbcType="VARCHAR" />
    <result column="bis_delete" property="bisDelete" jdbcType="BIT" />
    <result column="creator" property="creator" jdbcType="VARCHAR" />
    <result column="gmt_created" property="gmtCreated" jdbcType="TIMESTAMP" />
    <result column="gmt_modified" property="gmtModified" jdbcType="TIMESTAMP" />
    <result column="spatial_distribution" property="spatialDistribution" jdbcType="VARCHAR" />
    <result column="standard_house_number" property="standardHouseNumber" jdbcType="VARCHAR" />
    <result column="tenement_type" property="tenementType" jdbcType="VARCHAR" />
    <result column="huxing_data" property="huxingData" jdbcType="VARCHAR" />
    <result column="utilities_measure" property="utilitiesMeasure" jdbcType="INTEGER" />
    <result column="current_floor" property="currentFloor" jdbcType="VARCHAR" />
    <result column="utilities_type" property="utilitiesType" jdbcType="INTEGER" />
    <result column="quantity" property="quantity" jdbcType="VARCHAR" />
    <result column="reference" property="reference" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, house_id, estate_id, unit_id, type, name, area, orientation, span_length, span_width, 
    span_number, bay, deep, house_category, description, bis_delete, creator, gmt_created, 
    gmt_modified, spatial_distribution, standard_house_number, tenement_type, huxing_data, 
    utilities_measure, current_floor, utilities_type, quantity, reference
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.copower.pmcc.assess.dal.basis.entity.BasicUnitHuxingExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from tb_basic_unit_huxing
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from tb_basic_unit_huxing
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from tb_basic_unit_huxing
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.copower.pmcc.assess.dal.basis.entity.BasicUnitHuxingExample" >
    delete from tb_basic_unit_huxing
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.copower.pmcc.assess.dal.basis.entity.BasicUnitHuxing" >
    <selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into tb_basic_unit_huxing (house_id, estate_id, unit_id, 
      type, name, area, orientation, 
      span_length, span_width, span_number, 
      bay, deep, house_category, 
      description, bis_delete, creator, 
      gmt_created, gmt_modified, spatial_distribution, 
      standard_house_number, tenement_type, huxing_data, 
      utilities_measure, current_floor, utilities_type, 
      quantity, reference)
    values (#{houseId,jdbcType=INTEGER}, #{estateId,jdbcType=INTEGER}, #{unitId,jdbcType=INTEGER}, 
      #{type,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{area,jdbcType=DECIMAL}, #{orientation,jdbcType=VARCHAR}, 
      #{spanLength,jdbcType=DECIMAL}, #{spanWidth,jdbcType=INTEGER}, #{spanNumber,jdbcType=DECIMAL}, 
      #{bay,jdbcType=DECIMAL}, #{deep,jdbcType=DECIMAL}, #{houseCategory,jdbcType=VARCHAR}, 
      #{description,jdbcType=VARCHAR}, #{bisDelete,jdbcType=BIT}, #{creator,jdbcType=VARCHAR}, 
      #{gmtCreated,jdbcType=TIMESTAMP}, #{gmtModified,jdbcType=TIMESTAMP}, #{spatialDistribution,jdbcType=VARCHAR}, 
      #{standardHouseNumber,jdbcType=VARCHAR}, #{tenementType,jdbcType=VARCHAR}, #{huxingData,jdbcType=VARCHAR}, 
      #{utilitiesMeasure,jdbcType=INTEGER}, #{currentFloor,jdbcType=VARCHAR}, #{utilitiesType,jdbcType=INTEGER}, 
      #{quantity,jdbcType=VARCHAR}, #{reference,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.copower.pmcc.assess.dal.basis.entity.BasicUnitHuxing" >
    <selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into tb_basic_unit_huxing
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="houseId != null" >
        house_id,
      </if>
      <if test="estateId != null" >
        estate_id,
      </if>
      <if test="unitId != null" >
        unit_id,
      </if>
      <if test="type != null" >
        type,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="area != null" >
        area,
      </if>
      <if test="orientation != null" >
        orientation,
      </if>
      <if test="spanLength != null" >
        span_length,
      </if>
      <if test="spanWidth != null" >
        span_width,
      </if>
      <if test="spanNumber != null" >
        span_number,
      </if>
      <if test="bay != null" >
        bay,
      </if>
      <if test="deep != null" >
        deep,
      </if>
      <if test="houseCategory != null" >
        house_category,
      </if>
      <if test="description != null" >
        description,
      </if>
      <if test="bisDelete != null" >
        bis_delete,
      </if>
      <if test="creator != null" >
        creator,
      </if>
      <if test="gmtCreated != null" >
        gmt_created,
      </if>
      <if test="gmtModified != null" >
        gmt_modified,
      </if>
      <if test="spatialDistribution != null" >
        spatial_distribution,
      </if>
      <if test="standardHouseNumber != null" >
        standard_house_number,
      </if>
      <if test="tenementType != null" >
        tenement_type,
      </if>
      <if test="huxingData != null" >
        huxing_data,
      </if>
      <if test="utilitiesMeasure != null" >
        utilities_measure,
      </if>
      <if test="currentFloor != null" >
        current_floor,
      </if>
      <if test="utilitiesType != null" >
        utilities_type,
      </if>
      <if test="quantity != null" >
        quantity,
      </if>
      <if test="reference != null" >
        reference,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="houseId != null" >
        #{houseId,jdbcType=INTEGER},
      </if>
      <if test="estateId != null" >
        #{estateId,jdbcType=INTEGER},
      </if>
      <if test="unitId != null" >
        #{unitId,jdbcType=INTEGER},
      </if>
      <if test="type != null" >
        #{type,jdbcType=INTEGER},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="area != null" >
        #{area,jdbcType=DECIMAL},
      </if>
      <if test="orientation != null" >
        #{orientation,jdbcType=VARCHAR},
      </if>
      <if test="spanLength != null" >
        #{spanLength,jdbcType=DECIMAL},
      </if>
      <if test="spanWidth != null" >
        #{spanWidth,jdbcType=INTEGER},
      </if>
      <if test="spanNumber != null" >
        #{spanNumber,jdbcType=DECIMAL},
      </if>
      <if test="bay != null" >
        #{bay,jdbcType=DECIMAL},
      </if>
      <if test="deep != null" >
        #{deep,jdbcType=DECIMAL},
      </if>
      <if test="houseCategory != null" >
        #{houseCategory,jdbcType=VARCHAR},
      </if>
      <if test="description != null" >
        #{description,jdbcType=VARCHAR},
      </if>
      <if test="bisDelete != null" >
        #{bisDelete,jdbcType=BIT},
      </if>
      <if test="creator != null" >
        #{creator,jdbcType=VARCHAR},
      </if>
      <if test="gmtCreated != null" >
        #{gmtCreated,jdbcType=TIMESTAMP},
      </if>
      <if test="gmtModified != null" >
        #{gmtModified,jdbcType=TIMESTAMP},
      </if>
      <if test="spatialDistribution != null" >
        #{spatialDistribution,jdbcType=VARCHAR},
      </if>
      <if test="standardHouseNumber != null" >
        #{standardHouseNumber,jdbcType=VARCHAR},
      </if>
      <if test="tenementType != null" >
        #{tenementType,jdbcType=VARCHAR},
      </if>
      <if test="huxingData != null" >
        #{huxingData,jdbcType=VARCHAR},
      </if>
      <if test="utilitiesMeasure != null" >
        #{utilitiesMeasure,jdbcType=INTEGER},
      </if>
      <if test="currentFloor != null" >
        #{currentFloor,jdbcType=VARCHAR},
      </if>
      <if test="utilitiesType != null" >
        #{utilitiesType,jdbcType=INTEGER},
      </if>
      <if test="quantity != null" >
        #{quantity,jdbcType=VARCHAR},
      </if>
      <if test="reference != null" >
        #{reference,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.copower.pmcc.assess.dal.basis.entity.BasicUnitHuxingExample" resultType="java.lang.Integer" >
    select count(*) from tb_basic_unit_huxing
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update tb_basic_unit_huxing
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.houseId != null" >
        house_id = #{record.houseId,jdbcType=INTEGER},
      </if>
      <if test="record.estateId != null" >
        estate_id = #{record.estateId,jdbcType=INTEGER},
      </if>
      <if test="record.unitId != null" >
        unit_id = #{record.unitId,jdbcType=INTEGER},
      </if>
      <if test="record.type != null" >
        type = #{record.type,jdbcType=INTEGER},
      </if>
      <if test="record.name != null" >
        name = #{record.name,jdbcType=VARCHAR},
      </if>
      <if test="record.area != null" >
        area = #{record.area,jdbcType=DECIMAL},
      </if>
      <if test="record.orientation != null" >
        orientation = #{record.orientation,jdbcType=VARCHAR},
      </if>
      <if test="record.spanLength != null" >
        span_length = #{record.spanLength,jdbcType=DECIMAL},
      </if>
      <if test="record.spanWidth != null" >
        span_width = #{record.spanWidth,jdbcType=INTEGER},
      </if>
      <if test="record.spanNumber != null" >
        span_number = #{record.spanNumber,jdbcType=DECIMAL},
      </if>
      <if test="record.bay != null" >
        bay = #{record.bay,jdbcType=DECIMAL},
      </if>
      <if test="record.deep != null" >
        deep = #{record.deep,jdbcType=DECIMAL},
      </if>
      <if test="record.houseCategory != null" >
        house_category = #{record.houseCategory,jdbcType=VARCHAR},
      </if>
      <if test="record.description != null" >
        description = #{record.description,jdbcType=VARCHAR},
      </if>
      <if test="record.bisDelete != null" >
        bis_delete = #{record.bisDelete,jdbcType=BIT},
      </if>
      <if test="record.creator != null" >
        creator = #{record.creator,jdbcType=VARCHAR},
      </if>
      <if test="record.gmtCreated != null" >
        gmt_created = #{record.gmtCreated,jdbcType=TIMESTAMP},
      </if>
      <if test="record.gmtModified != null" >
        gmt_modified = #{record.gmtModified,jdbcType=TIMESTAMP},
      </if>
      <if test="record.spatialDistribution != null" >
        spatial_distribution = #{record.spatialDistribution,jdbcType=VARCHAR},
      </if>
      <if test="record.standardHouseNumber != null" >
        standard_house_number = #{record.standardHouseNumber,jdbcType=VARCHAR},
      </if>
      <if test="record.tenementType != null" >
        tenement_type = #{record.tenementType,jdbcType=VARCHAR},
      </if>
      <if test="record.huxingData != null" >
        huxing_data = #{record.huxingData,jdbcType=VARCHAR},
      </if>
      <if test="record.utilitiesMeasure != null" >
        utilities_measure = #{record.utilitiesMeasure,jdbcType=INTEGER},
      </if>
      <if test="record.currentFloor != null" >
        current_floor = #{record.currentFloor,jdbcType=VARCHAR},
      </if>
      <if test="record.utilitiesType != null" >
        utilities_type = #{record.utilitiesType,jdbcType=INTEGER},
      </if>
      <if test="record.quantity != null" >
        quantity = #{record.quantity,jdbcType=VARCHAR},
      </if>
      <if test="record.reference != null" >
        reference = #{record.reference,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update tb_basic_unit_huxing
    set id = #{record.id,jdbcType=INTEGER},
      house_id = #{record.houseId,jdbcType=INTEGER},
      estate_id = #{record.estateId,jdbcType=INTEGER},
      unit_id = #{record.unitId,jdbcType=INTEGER},
      type = #{record.type,jdbcType=INTEGER},
      name = #{record.name,jdbcType=VARCHAR},
      area = #{record.area,jdbcType=DECIMAL},
      orientation = #{record.orientation,jdbcType=VARCHAR},
      span_length = #{record.spanLength,jdbcType=DECIMAL},
      span_width = #{record.spanWidth,jdbcType=INTEGER},
      span_number = #{record.spanNumber,jdbcType=DECIMAL},
      bay = #{record.bay,jdbcType=DECIMAL},
      deep = #{record.deep,jdbcType=DECIMAL},
      house_category = #{record.houseCategory,jdbcType=VARCHAR},
      description = #{record.description,jdbcType=VARCHAR},
      bis_delete = #{record.bisDelete,jdbcType=BIT},
      creator = #{record.creator,jdbcType=VARCHAR},
      gmt_created = #{record.gmtCreated,jdbcType=TIMESTAMP},
      gmt_modified = #{record.gmtModified,jdbcType=TIMESTAMP},
      spatial_distribution = #{record.spatialDistribution,jdbcType=VARCHAR},
      standard_house_number = #{record.standardHouseNumber,jdbcType=VARCHAR},
      tenement_type = #{record.tenementType,jdbcType=VARCHAR},
      huxing_data = #{record.huxingData,jdbcType=VARCHAR},
      utilities_measure = #{record.utilitiesMeasure,jdbcType=INTEGER},
      current_floor = #{record.currentFloor,jdbcType=VARCHAR},
      utilities_type = #{record.utilitiesType,jdbcType=INTEGER},
      quantity = #{record.quantity,jdbcType=VARCHAR},
      reference = #{record.reference,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.copower.pmcc.assess.dal.basis.entity.BasicUnitHuxing" >
    update tb_basic_unit_huxing
    <set >
      <if test="houseId != null" >
        house_id = #{houseId,jdbcType=INTEGER},
      </if>
      <if test="estateId != null" >
        estate_id = #{estateId,jdbcType=INTEGER},
      </if>
      <if test="unitId != null" >
        unit_id = #{unitId,jdbcType=INTEGER},
      </if>
      <if test="type != null" >
        type = #{type,jdbcType=INTEGER},
      </if>
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="area != null" >
        area = #{area,jdbcType=DECIMAL},
      </if>
      <if test="orientation != null" >
        orientation = #{orientation,jdbcType=VARCHAR},
      </if>
      <if test="spanLength != null" >
        span_length = #{spanLength,jdbcType=DECIMAL},
      </if>
      <if test="spanWidth != null" >
        span_width = #{spanWidth,jdbcType=INTEGER},
      </if>
      <if test="spanNumber != null" >
        span_number = #{spanNumber,jdbcType=DECIMAL},
      </if>
      <if test="bay != null" >
        bay = #{bay,jdbcType=DECIMAL},
      </if>
      <if test="deep != null" >
        deep = #{deep,jdbcType=DECIMAL},
      </if>
      <if test="houseCategory != null" >
        house_category = #{houseCategory,jdbcType=VARCHAR},
      </if>
      <if test="description != null" >
        description = #{description,jdbcType=VARCHAR},
      </if>
      <if test="bisDelete != null" >
        bis_delete = #{bisDelete,jdbcType=BIT},
      </if>
      <if test="creator != null" >
        creator = #{creator,jdbcType=VARCHAR},
      </if>
      <if test="gmtCreated != null" >
        gmt_created = #{gmtCreated,jdbcType=TIMESTAMP},
      </if>
      <if test="gmtModified != null" >
        gmt_modified = #{gmtModified,jdbcType=TIMESTAMP},
      </if>
      <if test="spatialDistribution != null" >
        spatial_distribution = #{spatialDistribution,jdbcType=VARCHAR},
      </if>
      <if test="standardHouseNumber != null" >
        standard_house_number = #{standardHouseNumber,jdbcType=VARCHAR},
      </if>
      <if test="tenementType != null" >
        tenement_type = #{tenementType,jdbcType=VARCHAR},
      </if>
      <if test="huxingData != null" >
        huxing_data = #{huxingData,jdbcType=VARCHAR},
      </if>
      <if test="utilitiesMeasure != null" >
        utilities_measure = #{utilitiesMeasure,jdbcType=INTEGER},
      </if>
      <if test="currentFloor != null" >
        current_floor = #{currentFloor,jdbcType=VARCHAR},
      </if>
      <if test="utilitiesType != null" >
        utilities_type = #{utilitiesType,jdbcType=INTEGER},
      </if>
      <if test="quantity != null" >
        quantity = #{quantity,jdbcType=VARCHAR},
      </if>
      <if test="reference != null" >
        reference = #{reference,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.copower.pmcc.assess.dal.basis.entity.BasicUnitHuxing" >
    update tb_basic_unit_huxing
    set house_id = #{houseId,jdbcType=INTEGER},
      estate_id = #{estateId,jdbcType=INTEGER},
      unit_id = #{unitId,jdbcType=INTEGER},
      type = #{type,jdbcType=INTEGER},
      name = #{name,jdbcType=VARCHAR},
      area = #{area,jdbcType=DECIMAL},
      orientation = #{orientation,jdbcType=VARCHAR},
      span_length = #{spanLength,jdbcType=DECIMAL},
      span_width = #{spanWidth,jdbcType=INTEGER},
      span_number = #{spanNumber,jdbcType=DECIMAL},
      bay = #{bay,jdbcType=DECIMAL},
      deep = #{deep,jdbcType=DECIMAL},
      house_category = #{houseCategory,jdbcType=VARCHAR},
      description = #{description,jdbcType=VARCHAR},
      bis_delete = #{bisDelete,jdbcType=BIT},
      creator = #{creator,jdbcType=VARCHAR},
      gmt_created = #{gmtCreated,jdbcType=TIMESTAMP},
      gmt_modified = #{gmtModified,jdbcType=TIMESTAMP},
      spatial_distribution = #{spatialDistribution,jdbcType=VARCHAR},
      standard_house_number = #{standardHouseNumber,jdbcType=VARCHAR},
      tenement_type = #{tenementType,jdbcType=VARCHAR},
      huxing_data = #{huxingData,jdbcType=VARCHAR},
      utilities_measure = #{utilitiesMeasure,jdbcType=INTEGER},
      current_floor = #{currentFloor,jdbcType=VARCHAR},
      utilities_type = #{utilitiesType,jdbcType=INTEGER},
      quantity = #{quantity,jdbcType=VARCHAR},
      reference = #{reference,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>