<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.copower.pmcc.assess.dal.basis.mapper.BasicHouseFaceStreetMapper">
  <resultMap id="BaseResultMap" type="com.copower.pmcc.assess.dal.basis.entity.BasicHouseFaceStreet">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="house_id" jdbcType="INTEGER" property="houseId" />
    <result column="street_name" jdbcType="VARCHAR" property="streetName" />
    <result column="street_level" jdbcType="INTEGER" property="streetLevel" />
    <result column="distance" jdbcType="VARCHAR" property="distance" />
    <result column="traffic_flow" jdbcType="INTEGER" property="trafficFlow" />
    <result column="visitors_flowrate" jdbcType="INTEGER" property="visitorsFlowrate" />
    <result column="position" jdbcType="INTEGER" property="position" />
    <result column="bis_delete" jdbcType="BIT" property="bisDelete" />
    <result column="creator" jdbcType="VARCHAR" property="creator" />
    <result column="gmt_created" jdbcType="TIMESTAMP" property="gmtCreated" />
    <result column="gmt_modified" jdbcType="TIMESTAMP" property="gmtModified" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, house_id, street_name, street_level, distance, traffic_flow, visitors_flowrate, 
    position, bis_delete, creator, gmt_created, gmt_modified
  </sql>
  <select id="selectByExample" parameterType="com.copower.pmcc.assess.dal.basis.entity.BasicHouseFaceStreetExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from tb_basic_house_face_street
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from tb_basic_house_face_street
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from tb_basic_house_face_street
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.copower.pmcc.assess.dal.basis.entity.BasicHouseFaceStreetExample">
    delete from tb_basic_house_face_street
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.copower.pmcc.assess.dal.basis.entity.BasicHouseFaceStreet">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into tb_basic_house_face_street (house_id, street_name, street_level, 
      distance, traffic_flow, visitors_flowrate, 
      position, bis_delete, creator, 
      gmt_created, gmt_modified)
    values (#{houseId,jdbcType=INTEGER}, #{streetName,jdbcType=VARCHAR}, #{streetLevel,jdbcType=INTEGER}, 
      #{distance,jdbcType=VARCHAR}, #{trafficFlow,jdbcType=INTEGER}, #{visitorsFlowrate,jdbcType=INTEGER}, 
      #{position,jdbcType=INTEGER}, #{bisDelete,jdbcType=BIT}, #{creator,jdbcType=VARCHAR}, 
      #{gmtCreated,jdbcType=TIMESTAMP}, #{gmtModified,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="map">
    <selectKey keyProperty="record.id" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into tb_basic_house_face_street
    <choose>
      <when test="selective != null and selective.length > 0">
        <foreach close=")" collection="selective" item="column" open="(" separator=",">
          ${column.escapedColumnName}
        </foreach>
      </when>
      <otherwise>
        <trim prefix="(" suffix=")" suffixOverrides=",">
          <if test="record.houseId != null">
            house_id,
          </if>
          <if test="record.streetName != null">
            street_name,
          </if>
          <if test="record.streetLevel != null">
            street_level,
          </if>
          <if test="record.distance != null">
            distance,
          </if>
          <if test="record.trafficFlow != null">
            traffic_flow,
          </if>
          <if test="record.visitorsFlowrate != null">
            visitors_flowrate,
          </if>
          <if test="record.position != null">
            position,
          </if>
          <if test="record.bisDelete != null">
            bis_delete,
          </if>
          <if test="record.creator != null">
            creator,
          </if>
          <if test="record.gmtCreated != null">
            gmt_created,
          </if>
          <if test="record.gmtModified != null">
            gmt_modified,
          </if>
        </trim>
        <trim prefix="(" suffix=")" suffixOverrides="," />
      </otherwise>
    </choose>
    values
    <choose>
      <when test="selective != null and selective.length > 0">
        <foreach close=")" collection="selective" item="column" open="(" separator=",">
          #{record.${column.javaProperty},jdbcType=${column.jdbcType}}
        </foreach>
      </when>
      <otherwise>
        <trim prefix="(" suffix=")" suffixOverrides=",">
          <if test="record.houseId != null">
            #{record.houseId,jdbcType=INTEGER},
          </if>
          <if test="record.streetName != null">
            #{record.streetName,jdbcType=VARCHAR},
          </if>
          <if test="record.streetLevel != null">
            #{record.streetLevel,jdbcType=INTEGER},
          </if>
          <if test="record.distance != null">
            #{record.distance,jdbcType=VARCHAR},
          </if>
          <if test="record.trafficFlow != null">
            #{record.trafficFlow,jdbcType=INTEGER},
          </if>
          <if test="record.visitorsFlowrate != null">
            #{record.visitorsFlowrate,jdbcType=INTEGER},
          </if>
          <if test="record.position != null">
            #{record.position,jdbcType=INTEGER},
          </if>
          <if test="record.bisDelete != null">
            #{record.bisDelete,jdbcType=BIT},
          </if>
          <if test="record.creator != null">
            #{record.creator,jdbcType=VARCHAR},
          </if>
          <if test="record.gmtCreated != null">
            #{record.gmtCreated,jdbcType=TIMESTAMP},
          </if>
          <if test="record.gmtModified != null">
            #{record.gmtModified,jdbcType=TIMESTAMP},
          </if>
        </trim>
      </otherwise>
    </choose>
  </insert>
  <select id="countByExample" parameterType="com.copower.pmcc.assess.dal.basis.entity.BasicHouseFaceStreetExample" resultType="java.lang.Long">
    select count(*) from tb_basic_house_face_street
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update tb_basic_house_face_street
    SET
    <choose>
      <when test="selective != null and selective.length > 0">
        <foreach collection="selective" item="column" separator=",">
          ${column.escapedColumnName} = #{record.${column.javaProperty},jdbcType=${column.jdbcType}}
        </foreach>
      </when>
      <otherwise>
        <trim suffixOverrides=",">
          <if test="record.id != null">
            id = #{record.id,jdbcType=INTEGER},
          </if>
          <if test="record.houseId != null">
            house_id = #{record.houseId,jdbcType=INTEGER},
          </if>
          <if test="record.streetName != null">
            street_name = #{record.streetName,jdbcType=VARCHAR},
          </if>
          <if test="record.streetLevel != null">
            street_level = #{record.streetLevel,jdbcType=INTEGER},
          </if>
          <if test="record.distance != null">
            distance = #{record.distance,jdbcType=VARCHAR},
          </if>
          <if test="record.trafficFlow != null">
            traffic_flow = #{record.trafficFlow,jdbcType=INTEGER},
          </if>
          <if test="record.visitorsFlowrate != null">
            visitors_flowrate = #{record.visitorsFlowrate,jdbcType=INTEGER},
          </if>
          <if test="record.position != null">
            position = #{record.position,jdbcType=INTEGER},
          </if>
          <if test="record.bisDelete != null">
            bis_delete = #{record.bisDelete,jdbcType=BIT},
          </if>
          <if test="record.creator != null">
            creator = #{record.creator,jdbcType=VARCHAR},
          </if>
          <if test="record.gmtCreated != null">
            gmt_created = #{record.gmtCreated,jdbcType=TIMESTAMP},
          </if>
          <if test="record.gmtModified != null">
            gmt_modified = #{record.gmtModified,jdbcType=TIMESTAMP},
          </if>
        </trim>
      </otherwise>
    </choose>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update tb_basic_house_face_street
    set id = #{record.id,jdbcType=INTEGER},
      house_id = #{record.houseId,jdbcType=INTEGER},
      street_name = #{record.streetName,jdbcType=VARCHAR},
      street_level = #{record.streetLevel,jdbcType=INTEGER},
      distance = #{record.distance,jdbcType=VARCHAR},
      traffic_flow = #{record.trafficFlow,jdbcType=INTEGER},
      visitors_flowrate = #{record.visitorsFlowrate,jdbcType=INTEGER},
      position = #{record.position,jdbcType=INTEGER},
      bis_delete = #{record.bisDelete,jdbcType=BIT},
      creator = #{record.creator,jdbcType=VARCHAR},
      gmt_created = #{record.gmtCreated,jdbcType=TIMESTAMP},
      gmt_modified = #{record.gmtModified,jdbcType=TIMESTAMP}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="map">
    update tb_basic_house_face_street
    SET
    <choose>
      <when test="selective != null and selective.length > 0">
        <foreach collection="selective" item="column" separator=",">
          ${column.escapedColumnName} = #{record.${column.javaProperty},jdbcType=${column.jdbcType}}
        </foreach>
      </when>
      <otherwise>
        <trim suffixOverrides=",">
          <if test="record.houseId != null">
            house_id = #{record.houseId,jdbcType=INTEGER},
          </if>
          <if test="record.streetName != null">
            street_name = #{record.streetName,jdbcType=VARCHAR},
          </if>
          <if test="record.streetLevel != null">
            street_level = #{record.streetLevel,jdbcType=INTEGER},
          </if>
          <if test="record.distance != null">
            distance = #{record.distance,jdbcType=VARCHAR},
          </if>
          <if test="record.trafficFlow != null">
            traffic_flow = #{record.trafficFlow,jdbcType=INTEGER},
          </if>
          <if test="record.visitorsFlowrate != null">
            visitors_flowrate = #{record.visitorsFlowrate,jdbcType=INTEGER},
          </if>
          <if test="record.position != null">
            position = #{record.position,jdbcType=INTEGER},
          </if>
          <if test="record.bisDelete != null">
            bis_delete = #{record.bisDelete,jdbcType=BIT},
          </if>
          <if test="record.creator != null">
            creator = #{record.creator,jdbcType=VARCHAR},
          </if>
          <if test="record.gmtCreated != null">
            gmt_created = #{record.gmtCreated,jdbcType=TIMESTAMP},
          </if>
          <if test="record.gmtModified != null">
            gmt_modified = #{record.gmtModified,jdbcType=TIMESTAMP},
          </if>
        </trim>
      </otherwise>
    </choose>
    where id = #{record.id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.copower.pmcc.assess.dal.basis.entity.BasicHouseFaceStreet">
    update tb_basic_house_face_street
    set house_id = #{houseId,jdbcType=INTEGER},
      street_name = #{streetName,jdbcType=VARCHAR},
      street_level = #{streetLevel,jdbcType=INTEGER},
      distance = #{distance,jdbcType=VARCHAR},
      traffic_flow = #{trafficFlow,jdbcType=INTEGER},
      visitors_flowrate = #{visitorsFlowrate,jdbcType=INTEGER},
      position = #{position,jdbcType=INTEGER},
      bis_delete = #{bisDelete,jdbcType=BIT},
      creator = #{creator,jdbcType=VARCHAR},
      gmt_created = #{gmtCreated,jdbcType=TIMESTAMP},
      gmt_modified = #{gmtModified,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <insert id="batchInsert" keyColumn="id" keyProperty="id" parameterType="map" useGeneratedKeys="true">
    insert into tb_basic_house_face_street
    (house_id, street_name, street_level, distance, traffic_flow, visitors_flowrate, 
      position, bis_delete, creator, gmt_created, gmt_modified)
    values
    <foreach collection="list" item="item" separator=",">
      (#{item.houseId,jdbcType=INTEGER}, #{item.streetName,jdbcType=VARCHAR}, #{item.streetLevel,jdbcType=INTEGER}, 
        #{item.distance,jdbcType=VARCHAR}, #{item.trafficFlow,jdbcType=INTEGER}, #{item.visitorsFlowrate,jdbcType=INTEGER}, 
        #{item.position,jdbcType=INTEGER}, #{item.bisDelete,jdbcType=BIT}, #{item.creator,jdbcType=VARCHAR}, 
        #{item.gmtCreated,jdbcType=TIMESTAMP}, #{item.gmtModified,jdbcType=TIMESTAMP})
    </foreach>
  </insert>
  <insert id="batchInsertSelective" keyColumn="id" keyProperty="list.id" parameterType="map" useGeneratedKeys="true">
    insert into tb_basic_house_face_street (
    <foreach collection="selective" item="column" separator=",">
      ${column.escapedColumnName}
    </foreach>
    )
    values
    <foreach collection="list" item="item" separator=",">
      (
      <foreach collection="selective" item="column" separator=",">
        <if test="'house_id'.toString() == column.value">
          #{item.houseId,jdbcType=INTEGER}
        </if>
        <if test="'street_name'.toString() == column.value">
          #{item.streetName,jdbcType=VARCHAR}
        </if>
        <if test="'street_level'.toString() == column.value">
          #{item.streetLevel,jdbcType=INTEGER}
        </if>
        <if test="'distance'.toString() == column.value">
          #{item.distance,jdbcType=VARCHAR}
        </if>
        <if test="'traffic_flow'.toString() == column.value">
          #{item.trafficFlow,jdbcType=INTEGER}
        </if>
        <if test="'visitors_flowrate'.toString() == column.value">
          #{item.visitorsFlowrate,jdbcType=INTEGER}
        </if>
        <if test="'position'.toString() == column.value">
          #{item.position,jdbcType=INTEGER}
        </if>
        <if test="'bis_delete'.toString() == column.value">
          #{item.bisDelete,jdbcType=BIT}
        </if>
        <if test="'creator'.toString() == column.value">
          #{item.creator,jdbcType=VARCHAR}
        </if>
        <if test="'gmt_created'.toString() == column.value">
          #{item.gmtCreated,jdbcType=TIMESTAMP}
        </if>
        <if test="'gmt_modified'.toString() == column.value">
          #{item.gmtModified,jdbcType=TIMESTAMP}
        </if>
      </foreach>
      )
    </foreach>
  </insert>
</mapper>