<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.copower.pmcc.assess.dal.basis.mapper.DataLandLevelDetailMapper" >
  <resultMap id="BaseResultMap" type="com.copower.pmcc.assess.dal.basis.entity.DataLandLevelDetail" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="pid" property="pid" jdbcType="INTEGER" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="land_level_id" property="landLevelId" jdbcType="INTEGER" />
    <result column="classify" property="classify" jdbcType="VARCHAR" />
    <result column="type" property="type" jdbcType="VARCHAR" />
    <result column="category" property="category" jdbcType="VARCHAR" />
    <result column="price" property="price" jdbcType="DECIMAL" />
    <result column="floor_price" property="floorPrice" jdbcType="DECIMAL" />
    <result column="mu_price" property="muPrice" jdbcType="DECIMAL" />
    <result column="land_acquisition_proportion" property="landAcquisitionProportion" jdbcType="VARCHAR" />
    <result column="volume_rate" property="volumeRate" jdbcType="DECIMAL" />
    <result column="legal_age" property="legalAge" jdbcType="DECIMAL" />
    <result column="main_street" property="mainStreet" jdbcType="VARCHAR" />
    <result column="level_range" property="levelRange" jdbcType="VARCHAR" />
    <result column="bis_delete" property="bisDelete" jdbcType="BIT" />
    <result column="creator" property="creator" jdbcType="VARCHAR" />
    <result column="gmt_created" property="gmtCreated" jdbcType="TIMESTAMP" />
    <result column="gmt_modified" property="gmtModified" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, pid, name, land_level_id, classify, type, category, price, floor_price, mu_price, 
    land_acquisition_proportion, volume_rate, legal_age, main_street, level_range, bis_delete, 
    creator, gmt_created, gmt_modified
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.copower.pmcc.assess.dal.basis.entity.DataLandLevelDetailExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from tb_data_land_level_detail
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from tb_data_land_level_detail
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from tb_data_land_level_detail
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.copower.pmcc.assess.dal.basis.entity.DataLandLevelDetailExample" >
    delete from tb_data_land_level_detail
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.copower.pmcc.assess.dal.basis.entity.DataLandLevelDetail" >
    <selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into tb_data_land_level_detail (pid, name, land_level_id, 
      classify, type, category, 
      price, floor_price, mu_price, 
      land_acquisition_proportion, volume_rate, 
      legal_age, main_street, level_range, 
      bis_delete, creator, gmt_created, 
      gmt_modified)
    values (#{pid,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{landLevelId,jdbcType=INTEGER}, 
      #{classify,jdbcType=VARCHAR}, #{type,jdbcType=VARCHAR}, #{category,jdbcType=VARCHAR}, 
      #{price,jdbcType=DECIMAL}, #{floorPrice,jdbcType=DECIMAL}, #{muPrice,jdbcType=DECIMAL}, 
      #{landAcquisitionProportion,jdbcType=VARCHAR}, #{volumeRate,jdbcType=DECIMAL}, 
      #{legalAge,jdbcType=DECIMAL}, #{mainStreet,jdbcType=VARCHAR}, #{levelRange,jdbcType=VARCHAR}, 
      #{bisDelete,jdbcType=BIT}, #{creator,jdbcType=VARCHAR}, #{gmtCreated,jdbcType=TIMESTAMP}, 
      #{gmtModified,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.copower.pmcc.assess.dal.basis.entity.DataLandLevelDetail" >
    <selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into tb_data_land_level_detail
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="pid != null" >
        pid,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="landLevelId != null" >
        land_level_id,
      </if>
      <if test="classify != null" >
        classify,
      </if>
      <if test="type != null" >
        type,
      </if>
      <if test="category != null" >
        category,
      </if>
      <if test="price != null" >
        price,
      </if>
      <if test="floorPrice != null" >
        floor_price,
      </if>
      <if test="muPrice != null" >
        mu_price,
      </if>
      <if test="landAcquisitionProportion != null" >
        land_acquisition_proportion,
      </if>
      <if test="volumeRate != null" >
        volume_rate,
      </if>
      <if test="legalAge != null" >
        legal_age,
      </if>
      <if test="mainStreet != null" >
        main_street,
      </if>
      <if test="levelRange != null" >
        level_range,
      </if>
      <if test="bisDelete != null" >
        bis_delete,
      </if>
      <if test="creator != null" >
        creator,
      </if>
      <if test="gmtCreated != null" >
        gmt_created,
      </if>
      <if test="gmtModified != null" >
        gmt_modified,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="pid != null" >
        #{pid,jdbcType=INTEGER},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="landLevelId != null" >
        #{landLevelId,jdbcType=INTEGER},
      </if>
      <if test="classify != null" >
        #{classify,jdbcType=VARCHAR},
      </if>
      <if test="type != null" >
        #{type,jdbcType=VARCHAR},
      </if>
      <if test="category != null" >
        #{category,jdbcType=VARCHAR},
      </if>
      <if test="price != null" >
        #{price,jdbcType=DECIMAL},
      </if>
      <if test="floorPrice != null" >
        #{floorPrice,jdbcType=DECIMAL},
      </if>
      <if test="muPrice != null" >
        #{muPrice,jdbcType=DECIMAL},
      </if>
      <if test="landAcquisitionProportion != null" >
        #{landAcquisitionProportion,jdbcType=VARCHAR},
      </if>
      <if test="volumeRate != null" >
        #{volumeRate,jdbcType=DECIMAL},
      </if>
      <if test="legalAge != null" >
        #{legalAge,jdbcType=DECIMAL},
      </if>
      <if test="mainStreet != null" >
        #{mainStreet,jdbcType=VARCHAR},
      </if>
      <if test="levelRange != null" >
        #{levelRange,jdbcType=VARCHAR},
      </if>
      <if test="bisDelete != null" >
        #{bisDelete,jdbcType=BIT},
      </if>
      <if test="creator != null" >
        #{creator,jdbcType=VARCHAR},
      </if>
      <if test="gmtCreated != null" >
        #{gmtCreated,jdbcType=TIMESTAMP},
      </if>
      <if test="gmtModified != null" >
        #{gmtModified,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.copower.pmcc.assess.dal.basis.entity.DataLandLevelDetailExample" resultType="java.lang.Integer" >
    select count(*) from tb_data_land_level_detail
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update tb_data_land_level_detail
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.pid != null" >
        pid = #{record.pid,jdbcType=INTEGER},
      </if>
      <if test="record.name != null" >
        name = #{record.name,jdbcType=VARCHAR},
      </if>
      <if test="record.landLevelId != null" >
        land_level_id = #{record.landLevelId,jdbcType=INTEGER},
      </if>
      <if test="record.classify != null" >
        classify = #{record.classify,jdbcType=VARCHAR},
      </if>
      <if test="record.type != null" >
        type = #{record.type,jdbcType=VARCHAR},
      </if>
      <if test="record.category != null" >
        category = #{record.category,jdbcType=VARCHAR},
      </if>
      <if test="record.price != null" >
        price = #{record.price,jdbcType=DECIMAL},
      </if>
      <if test="record.floorPrice != null" >
        floor_price = #{record.floorPrice,jdbcType=DECIMAL},
      </if>
      <if test="record.muPrice != null" >
        mu_price = #{record.muPrice,jdbcType=DECIMAL},
      </if>
      <if test="record.landAcquisitionProportion != null" >
        land_acquisition_proportion = #{record.landAcquisitionProportion,jdbcType=VARCHAR},
      </if>
      <if test="record.volumeRate != null" >
        volume_rate = #{record.volumeRate,jdbcType=DECIMAL},
      </if>
      <if test="record.legalAge != null" >
        legal_age = #{record.legalAge,jdbcType=DECIMAL},
      </if>
      <if test="record.mainStreet != null" >
        main_street = #{record.mainStreet,jdbcType=VARCHAR},
      </if>
      <if test="record.levelRange != null" >
        level_range = #{record.levelRange,jdbcType=VARCHAR},
      </if>
      <if test="record.bisDelete != null" >
        bis_delete = #{record.bisDelete,jdbcType=BIT},
      </if>
      <if test="record.creator != null" >
        creator = #{record.creator,jdbcType=VARCHAR},
      </if>
      <if test="record.gmtCreated != null" >
        gmt_created = #{record.gmtCreated,jdbcType=TIMESTAMP},
      </if>
      <if test="record.gmtModified != null" >
        gmt_modified = #{record.gmtModified,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update tb_data_land_level_detail
    set id = #{record.id,jdbcType=INTEGER},
      pid = #{record.pid,jdbcType=INTEGER},
      name = #{record.name,jdbcType=VARCHAR},
      land_level_id = #{record.landLevelId,jdbcType=INTEGER},
      classify = #{record.classify,jdbcType=VARCHAR},
      type = #{record.type,jdbcType=VARCHAR},
      category = #{record.category,jdbcType=VARCHAR},
      price = #{record.price,jdbcType=DECIMAL},
      floor_price = #{record.floorPrice,jdbcType=DECIMAL},
      mu_price = #{record.muPrice,jdbcType=DECIMAL},
      land_acquisition_proportion = #{record.landAcquisitionProportion,jdbcType=VARCHAR},
      volume_rate = #{record.volumeRate,jdbcType=DECIMAL},
      legal_age = #{record.legalAge,jdbcType=DECIMAL},
      main_street = #{record.mainStreet,jdbcType=VARCHAR},
      level_range = #{record.levelRange,jdbcType=VARCHAR},
      bis_delete = #{record.bisDelete,jdbcType=BIT},
      creator = #{record.creator,jdbcType=VARCHAR},
      gmt_created = #{record.gmtCreated,jdbcType=TIMESTAMP},
      gmt_modified = #{record.gmtModified,jdbcType=TIMESTAMP}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.copower.pmcc.assess.dal.basis.entity.DataLandLevelDetail" >
    update tb_data_land_level_detail
    <set >
      <if test="pid != null" >
        pid = #{pid,jdbcType=INTEGER},
      </if>
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="landLevelId != null" >
        land_level_id = #{landLevelId,jdbcType=INTEGER},
      </if>
      <if test="classify != null" >
        classify = #{classify,jdbcType=VARCHAR},
      </if>
      <if test="type != null" >
        type = #{type,jdbcType=VARCHAR},
      </if>
      <if test="category != null" >
        category = #{category,jdbcType=VARCHAR},
      </if>
      <if test="price != null" >
        price = #{price,jdbcType=DECIMAL},
      </if>
      <if test="floorPrice != null" >
        floor_price = #{floorPrice,jdbcType=DECIMAL},
      </if>
      <if test="muPrice != null" >
        mu_price = #{muPrice,jdbcType=DECIMAL},
      </if>
      <if test="landAcquisitionProportion != null" >
        land_acquisition_proportion = #{landAcquisitionProportion,jdbcType=VARCHAR},
      </if>
      <if test="volumeRate != null" >
        volume_rate = #{volumeRate,jdbcType=DECIMAL},
      </if>
      <if test="legalAge != null" >
        legal_age = #{legalAge,jdbcType=DECIMAL},
      </if>
      <if test="mainStreet != null" >
        main_street = #{mainStreet,jdbcType=VARCHAR},
      </if>
      <if test="levelRange != null" >
        level_range = #{levelRange,jdbcType=VARCHAR},
      </if>
      <if test="bisDelete != null" >
        bis_delete = #{bisDelete,jdbcType=BIT},
      </if>
      <if test="creator != null" >
        creator = #{creator,jdbcType=VARCHAR},
      </if>
      <if test="gmtCreated != null" >
        gmt_created = #{gmtCreated,jdbcType=TIMESTAMP},
      </if>
      <if test="gmtModified != null" >
        gmt_modified = #{gmtModified,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.copower.pmcc.assess.dal.basis.entity.DataLandLevelDetail" >
    update tb_data_land_level_detail
    set pid = #{pid,jdbcType=INTEGER},
      name = #{name,jdbcType=VARCHAR},
      land_level_id = #{landLevelId,jdbcType=INTEGER},
      classify = #{classify,jdbcType=VARCHAR},
      type = #{type,jdbcType=VARCHAR},
      category = #{category,jdbcType=VARCHAR},
      price = #{price,jdbcType=DECIMAL},
      floor_price = #{floorPrice,jdbcType=DECIMAL},
      mu_price = #{muPrice,jdbcType=DECIMAL},
      land_acquisition_proportion = #{landAcquisitionProportion,jdbcType=VARCHAR},
      volume_rate = #{volumeRate,jdbcType=DECIMAL},
      legal_age = #{legalAge,jdbcType=DECIMAL},
      main_street = #{mainStreet,jdbcType=VARCHAR},
      level_range = #{levelRange,jdbcType=VARCHAR},
      bis_delete = #{bisDelete,jdbcType=BIT},
      creator = #{creator,jdbcType=VARCHAR},
      gmt_created = #{gmtCreated,jdbcType=TIMESTAMP},
      gmt_modified = #{gmtModified,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>