<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.copower.pmcc.assess.dal.basis.mapper.DataSetUseFieldMapper" >
  <resultMap id="BaseResultMap" type="com.copower.pmcc.assess.dal.basis.entity.DataSetUseField" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="pid" property="pid" jdbcType="INTEGER" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="field_name" property="fieldName" jdbcType="VARCHAR" />
    <result column="type" property="type" jdbcType="VARCHAR" />
    <result column="set_use" property="setUse" jdbcType="INTEGER" />
    <result column="level" property="level" jdbcType="VARCHAR" />
    <result column="bis_primary_key" property="bisPrimaryKey" jdbcType="BIT" />
    <result column="bis_price" property="bisPrice" jdbcType="BIT" />
    <result column="bis_only_view" property="bisOnlyView" jdbcType="BIT" />
    <result column="bis_enable" property="bisEnable" jdbcType="BIT" />
    <result column="bis_delete" property="bisDelete" jdbcType="BIT" />
    <result column="can_shrink" property="canShrink" jdbcType="BIT" />
    <result column="bis_show" property="bisShow" jdbcType="BIT" />
    <result column="sorting" property="sorting" jdbcType="INTEGER" />
    <result column="remark" property="remark" jdbcType="VARCHAR" />
    <result column="creator" property="creator" jdbcType="VARCHAR" />
    <result column="gmt_created" property="gmtCreated" jdbcType="TIMESTAMP" />
    <result column="gmt_modified" property="gmtModified" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, pid, name, field_name, type, set_use, level, bis_primary_key, bis_price, bis_only_view, 
    bis_enable, bis_delete, can_shrink, bis_show, sorting, remark, creator, gmt_created, 
    gmt_modified
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.copower.pmcc.assess.dal.basis.entity.DataSetUseFieldExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from tb_data_set_use_field
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from tb_data_set_use_field
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from tb_data_set_use_field
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.copower.pmcc.assess.dal.basis.entity.DataSetUseFieldExample" >
    delete from tb_data_set_use_field
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.copower.pmcc.assess.dal.basis.entity.DataSetUseField" >
    <selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into tb_data_set_use_field (pid, name, field_name, 
      type, set_use, level, 
      bis_primary_key, bis_price, bis_only_view, 
      bis_enable, bis_delete, can_shrink, 
      bis_show, sorting, remark, 
      creator, gmt_created, gmt_modified
      )
    values (#{pid,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{fieldName,jdbcType=VARCHAR}, 
      #{type,jdbcType=VARCHAR}, #{setUse,jdbcType=INTEGER}, #{level,jdbcType=VARCHAR}, 
      #{bisPrimaryKey,jdbcType=BIT}, #{bisPrice,jdbcType=BIT}, #{bisOnlyView,jdbcType=BIT}, 
      #{bisEnable,jdbcType=BIT}, #{bisDelete,jdbcType=BIT}, #{canShrink,jdbcType=BIT}, 
      #{bisShow,jdbcType=BIT}, #{sorting,jdbcType=INTEGER}, #{remark,jdbcType=VARCHAR}, 
      #{creator,jdbcType=VARCHAR}, #{gmtCreated,jdbcType=TIMESTAMP}, #{gmtModified,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.copower.pmcc.assess.dal.basis.entity.DataSetUseField" >
    <selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into tb_data_set_use_field
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="pid != null" >
        pid,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="fieldName != null" >
        field_name,
      </if>
      <if test="type != null" >
        type,
      </if>
      <if test="setUse != null" >
        set_use,
      </if>
      <if test="level != null" >
        level,
      </if>
      <if test="bisPrimaryKey != null" >
        bis_primary_key,
      </if>
      <if test="bisPrice != null" >
        bis_price,
      </if>
      <if test="bisOnlyView != null" >
        bis_only_view,
      </if>
      <if test="bisEnable != null" >
        bis_enable,
      </if>
      <if test="bisDelete != null" >
        bis_delete,
      </if>
      <if test="canShrink != null" >
        can_shrink,
      </if>
      <if test="bisShow != null" >
        bis_show,
      </if>
      <if test="sorting != null" >
        sorting,
      </if>
      <if test="remark != null" >
        remark,
      </if>
      <if test="creator != null" >
        creator,
      </if>
      <if test="gmtCreated != null" >
        gmt_created,
      </if>
      <if test="gmtModified != null" >
        gmt_modified,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="pid != null" >
        #{pid,jdbcType=INTEGER},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="fieldName != null" >
        #{fieldName,jdbcType=VARCHAR},
      </if>
      <if test="type != null" >
        #{type,jdbcType=VARCHAR},
      </if>
      <if test="setUse != null" >
        #{setUse,jdbcType=INTEGER},
      </if>
      <if test="level != null" >
        #{level,jdbcType=VARCHAR},
      </if>
      <if test="bisPrimaryKey != null" >
        #{bisPrimaryKey,jdbcType=BIT},
      </if>
      <if test="bisPrice != null" >
        #{bisPrice,jdbcType=BIT},
      </if>
      <if test="bisOnlyView != null" >
        #{bisOnlyView,jdbcType=BIT},
      </if>
      <if test="bisEnable != null" >
        #{bisEnable,jdbcType=BIT},
      </if>
      <if test="bisDelete != null" >
        #{bisDelete,jdbcType=BIT},
      </if>
      <if test="canShrink != null" >
        #{canShrink,jdbcType=BIT},
      </if>
      <if test="bisShow != null" >
        #{bisShow,jdbcType=BIT},
      </if>
      <if test="sorting != null" >
        #{sorting,jdbcType=INTEGER},
      </if>
      <if test="remark != null" >
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="creator != null" >
        #{creator,jdbcType=VARCHAR},
      </if>
      <if test="gmtCreated != null" >
        #{gmtCreated,jdbcType=TIMESTAMP},
      </if>
      <if test="gmtModified != null" >
        #{gmtModified,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.copower.pmcc.assess.dal.basis.entity.DataSetUseFieldExample" resultType="java.lang.Integer" >
    select count(*) from tb_data_set_use_field
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update tb_data_set_use_field
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.pid != null" >
        pid = #{record.pid,jdbcType=INTEGER},
      </if>
      <if test="record.name != null" >
        name = #{record.name,jdbcType=VARCHAR},
      </if>
      <if test="record.fieldName != null" >
        field_name = #{record.fieldName,jdbcType=VARCHAR},
      </if>
      <if test="record.type != null" >
        type = #{record.type,jdbcType=VARCHAR},
      </if>
      <if test="record.setUse != null" >
        set_use = #{record.setUse,jdbcType=INTEGER},
      </if>
      <if test="record.level != null" >
        level = #{record.level,jdbcType=VARCHAR},
      </if>
      <if test="record.bisPrimaryKey != null" >
        bis_primary_key = #{record.bisPrimaryKey,jdbcType=BIT},
      </if>
      <if test="record.bisPrice != null" >
        bis_price = #{record.bisPrice,jdbcType=BIT},
      </if>
      <if test="record.bisOnlyView != null" >
        bis_only_view = #{record.bisOnlyView,jdbcType=BIT},
      </if>
      <if test="record.bisEnable != null" >
        bis_enable = #{record.bisEnable,jdbcType=BIT},
      </if>
      <if test="record.bisDelete != null" >
        bis_delete = #{record.bisDelete,jdbcType=BIT},
      </if>
      <if test="record.canShrink != null" >
        can_shrink = #{record.canShrink,jdbcType=BIT},
      </if>
      <if test="record.bisShow != null" >
        bis_show = #{record.bisShow,jdbcType=BIT},
      </if>
      <if test="record.sorting != null" >
        sorting = #{record.sorting,jdbcType=INTEGER},
      </if>
      <if test="record.remark != null" >
        remark = #{record.remark,jdbcType=VARCHAR},
      </if>
      <if test="record.creator != null" >
        creator = #{record.creator,jdbcType=VARCHAR},
      </if>
      <if test="record.gmtCreated != null" >
        gmt_created = #{record.gmtCreated,jdbcType=TIMESTAMP},
      </if>
      <if test="record.gmtModified != null" >
        gmt_modified = #{record.gmtModified,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update tb_data_set_use_field
    set id = #{record.id,jdbcType=INTEGER},
      pid = #{record.pid,jdbcType=INTEGER},
      name = #{record.name,jdbcType=VARCHAR},
      field_name = #{record.fieldName,jdbcType=VARCHAR},
      type = #{record.type,jdbcType=VARCHAR},
      set_use = #{record.setUse,jdbcType=INTEGER},
      level = #{record.level,jdbcType=VARCHAR},
      bis_primary_key = #{record.bisPrimaryKey,jdbcType=BIT},
      bis_price = #{record.bisPrice,jdbcType=BIT},
      bis_only_view = #{record.bisOnlyView,jdbcType=BIT},
      bis_enable = #{record.bisEnable,jdbcType=BIT},
      bis_delete = #{record.bisDelete,jdbcType=BIT},
      can_shrink = #{record.canShrink,jdbcType=BIT},
      bis_show = #{record.bisShow,jdbcType=BIT},
      sorting = #{record.sorting,jdbcType=INTEGER},
      remark = #{record.remark,jdbcType=VARCHAR},
      creator = #{record.creator,jdbcType=VARCHAR},
      gmt_created = #{record.gmtCreated,jdbcType=TIMESTAMP},
      gmt_modified = #{record.gmtModified,jdbcType=TIMESTAMP}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.copower.pmcc.assess.dal.basis.entity.DataSetUseField" >
    update tb_data_set_use_field
    <set >
      <if test="pid != null" >
        pid = #{pid,jdbcType=INTEGER},
      </if>
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="fieldName != null" >
        field_name = #{fieldName,jdbcType=VARCHAR},
      </if>
      <if test="type != null" >
        type = #{type,jdbcType=VARCHAR},
      </if>
      <if test="setUse != null" >
        set_use = #{setUse,jdbcType=INTEGER},
      </if>
      <if test="level != null" >
        level = #{level,jdbcType=VARCHAR},
      </if>
      <if test="bisPrimaryKey != null" >
        bis_primary_key = #{bisPrimaryKey,jdbcType=BIT},
      </if>
      <if test="bisPrice != null" >
        bis_price = #{bisPrice,jdbcType=BIT},
      </if>
      <if test="bisOnlyView != null" >
        bis_only_view = #{bisOnlyView,jdbcType=BIT},
      </if>
      <if test="bisEnable != null" >
        bis_enable = #{bisEnable,jdbcType=BIT},
      </if>
      <if test="bisDelete != null" >
        bis_delete = #{bisDelete,jdbcType=BIT},
      </if>
      <if test="canShrink != null" >
        can_shrink = #{canShrink,jdbcType=BIT},
      </if>
      <if test="bisShow != null" >
        bis_show = #{bisShow,jdbcType=BIT},
      </if>
      <if test="sorting != null" >
        sorting = #{sorting,jdbcType=INTEGER},
      </if>
      <if test="remark != null" >
        remark = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="creator != null" >
        creator = #{creator,jdbcType=VARCHAR},
      </if>
      <if test="gmtCreated != null" >
        gmt_created = #{gmtCreated,jdbcType=TIMESTAMP},
      </if>
      <if test="gmtModified != null" >
        gmt_modified = #{gmtModified,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.copower.pmcc.assess.dal.basis.entity.DataSetUseField" >
    update tb_data_set_use_field
    set pid = #{pid,jdbcType=INTEGER},
      name = #{name,jdbcType=VARCHAR},
      field_name = #{fieldName,jdbcType=VARCHAR},
      type = #{type,jdbcType=VARCHAR},
      set_use = #{setUse,jdbcType=INTEGER},
      level = #{level,jdbcType=VARCHAR},
      bis_primary_key = #{bisPrimaryKey,jdbcType=BIT},
      bis_price = #{bisPrice,jdbcType=BIT},
      bis_only_view = #{bisOnlyView,jdbcType=BIT},
      bis_enable = #{bisEnable,jdbcType=BIT},
      bis_delete = #{bisDelete,jdbcType=BIT},
      can_shrink = #{canShrink,jdbcType=BIT},
      bis_show = #{bisShow,jdbcType=BIT},
      sorting = #{sorting,jdbcType=INTEGER},
      remark = #{remark,jdbcType=VARCHAR},
      creator = #{creator,jdbcType=VARCHAR},
      gmt_created = #{gmtCreated,jdbcType=TIMESTAMP},
      gmt_modified = #{gmtModified,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>