<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.copower.pmcc.assess.dal.basis.mapper.DataLoanBenchmarkInterestRateMapper" >
  <resultMap id="BaseResultMap" type="com.copower.pmcc.assess.dal.basis.entity.DataLoanBenchmarkInterestRate" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="adjust_time" property="adjustTime" jdbcType="TIMESTAMP" />
    <result column="less_than_six_month_loan_term_tax" property="lessThanSixMonthLoanTermTax" jdbcType="DECIMAL" />
    <result column="between_six_month_and_one_year_loan_term_tax" property="betweenSixMonthAndOneYearLoanTermTax" jdbcType="DECIMAL" />
    <result column="between_one_and_three_year_loan_term_tax" property="betweenOneAndThreeYearLoanTermTax" jdbcType="DECIMAL" />
    <result column="between_three_and_five_year_loan_term_tax" property="betweenThreeAndFiveYearLoanTermTax" jdbcType="DECIMAL" />
    <result column="more_than_five_year_loan_term_tax" property="moreThanFiveYearLoanTermTax" jdbcType="DECIMAL" />
    <result column="creator" property="creator" jdbcType="VARCHAR" />
    <result column="gmt_created" property="gmtCreated" jdbcType="TIMESTAMP" />
    <result column="gmt_modified" property="gmtModified" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, adjust_time, less_than_six_month_loan_term_tax, between_six_month_and_one_year_loan_term_tax, 
    between_one_and_three_year_loan_term_tax, between_three_and_five_year_loan_term_tax, 
    more_than_five_year_loan_term_tax, creator, gmt_created, gmt_modified
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.copower.pmcc.assess.dal.basis.entity.DataLoanBenchmarkInterestRateExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from tb_data_loan_benchmark_interest_rate
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from tb_data_loan_benchmark_interest_rate
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from tb_data_loan_benchmark_interest_rate
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.copower.pmcc.assess.dal.basis.entity.DataLoanBenchmarkInterestRateExample" >
    delete from tb_data_loan_benchmark_interest_rate
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.copower.pmcc.assess.dal.basis.entity.DataLoanBenchmarkInterestRate" >
    <selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into tb_data_loan_benchmark_interest_rate (adjust_time, less_than_six_month_loan_term_tax, 
      between_six_month_and_one_year_loan_term_tax, between_one_and_three_year_loan_term_tax, 
      between_three_and_five_year_loan_term_tax, more_than_five_year_loan_term_tax, 
      creator, gmt_created, gmt_modified
      )
    values (#{adjustTime,jdbcType=TIMESTAMP}, #{lessThanSixMonthLoanTermTax,jdbcType=DECIMAL}, 
      #{betweenSixMonthAndOneYearLoanTermTax,jdbcType=DECIMAL}, #{betweenOneAndThreeYearLoanTermTax,jdbcType=DECIMAL}, 
      #{betweenThreeAndFiveYearLoanTermTax,jdbcType=DECIMAL}, #{moreThanFiveYearLoanTermTax,jdbcType=DECIMAL}, 
      #{creator,jdbcType=VARCHAR}, #{gmtCreated,jdbcType=TIMESTAMP}, #{gmtModified,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.copower.pmcc.assess.dal.basis.entity.DataLoanBenchmarkInterestRate" >
    <selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into tb_data_loan_benchmark_interest_rate
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="adjustTime != null" >
        adjust_time,
      </if>
      <if test="lessThanSixMonthLoanTermTax != null" >
        less_than_six_month_loan_term_tax,
      </if>
      <if test="betweenSixMonthAndOneYearLoanTermTax != null" >
        between_six_month_and_one_year_loan_term_tax,
      </if>
      <if test="betweenOneAndThreeYearLoanTermTax != null" >
        between_one_and_three_year_loan_term_tax,
      </if>
      <if test="betweenThreeAndFiveYearLoanTermTax != null" >
        between_three_and_five_year_loan_term_tax,
      </if>
      <if test="moreThanFiveYearLoanTermTax != null" >
        more_than_five_year_loan_term_tax,
      </if>
      <if test="creator != null" >
        creator,
      </if>
      <if test="gmtCreated != null" >
        gmt_created,
      </if>
      <if test="gmtModified != null" >
        gmt_modified,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="adjustTime != null" >
        #{adjustTime,jdbcType=TIMESTAMP},
      </if>
      <if test="lessThanSixMonthLoanTermTax != null" >
        #{lessThanSixMonthLoanTermTax,jdbcType=DECIMAL},
      </if>
      <if test="betweenSixMonthAndOneYearLoanTermTax != null" >
        #{betweenSixMonthAndOneYearLoanTermTax,jdbcType=DECIMAL},
      </if>
      <if test="betweenOneAndThreeYearLoanTermTax != null" >
        #{betweenOneAndThreeYearLoanTermTax,jdbcType=DECIMAL},
      </if>
      <if test="betweenThreeAndFiveYearLoanTermTax != null" >
        #{betweenThreeAndFiveYearLoanTermTax,jdbcType=DECIMAL},
      </if>
      <if test="moreThanFiveYearLoanTermTax != null" >
        #{moreThanFiveYearLoanTermTax,jdbcType=DECIMAL},
      </if>
      <if test="creator != null" >
        #{creator,jdbcType=VARCHAR},
      </if>
      <if test="gmtCreated != null" >
        #{gmtCreated,jdbcType=TIMESTAMP},
      </if>
      <if test="gmtModified != null" >
        #{gmtModified,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.copower.pmcc.assess.dal.basis.entity.DataLoanBenchmarkInterestRateExample" resultType="java.lang.Integer" >
    select count(*) from tb_data_loan_benchmark_interest_rate
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update tb_data_loan_benchmark_interest_rate
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.adjustTime != null" >
        adjust_time = #{record.adjustTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.lessThanSixMonthLoanTermTax != null" >
        less_than_six_month_loan_term_tax = #{record.lessThanSixMonthLoanTermTax,jdbcType=DECIMAL},
      </if>
      <if test="record.betweenSixMonthAndOneYearLoanTermTax != null" >
        between_six_month_and_one_year_loan_term_tax = #{record.betweenSixMonthAndOneYearLoanTermTax,jdbcType=DECIMAL},
      </if>
      <if test="record.betweenOneAndThreeYearLoanTermTax != null" >
        between_one_and_three_year_loan_term_tax = #{record.betweenOneAndThreeYearLoanTermTax,jdbcType=DECIMAL},
      </if>
      <if test="record.betweenThreeAndFiveYearLoanTermTax != null" >
        between_three_and_five_year_loan_term_tax = #{record.betweenThreeAndFiveYearLoanTermTax,jdbcType=DECIMAL},
      </if>
      <if test="record.moreThanFiveYearLoanTermTax != null" >
        more_than_five_year_loan_term_tax = #{record.moreThanFiveYearLoanTermTax,jdbcType=DECIMAL},
      </if>
      <if test="record.creator != null" >
        creator = #{record.creator,jdbcType=VARCHAR},
      </if>
      <if test="record.gmtCreated != null" >
        gmt_created = #{record.gmtCreated,jdbcType=TIMESTAMP},
      </if>
      <if test="record.gmtModified != null" >
        gmt_modified = #{record.gmtModified,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update tb_data_loan_benchmark_interest_rate
    set id = #{record.id,jdbcType=INTEGER},
      adjust_time = #{record.adjustTime,jdbcType=TIMESTAMP},
      less_than_six_month_loan_term_tax = #{record.lessThanSixMonthLoanTermTax,jdbcType=DECIMAL},
      between_six_month_and_one_year_loan_term_tax = #{record.betweenSixMonthAndOneYearLoanTermTax,jdbcType=DECIMAL},
      between_one_and_three_year_loan_term_tax = #{record.betweenOneAndThreeYearLoanTermTax,jdbcType=DECIMAL},
      between_three_and_five_year_loan_term_tax = #{record.betweenThreeAndFiveYearLoanTermTax,jdbcType=DECIMAL},
      more_than_five_year_loan_term_tax = #{record.moreThanFiveYearLoanTermTax,jdbcType=DECIMAL},
      creator = #{record.creator,jdbcType=VARCHAR},
      gmt_created = #{record.gmtCreated,jdbcType=TIMESTAMP},
      gmt_modified = #{record.gmtModified,jdbcType=TIMESTAMP}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.copower.pmcc.assess.dal.basis.entity.DataLoanBenchmarkInterestRate" >
    update tb_data_loan_benchmark_interest_rate
    <set >
      <if test="adjustTime != null" >
        adjust_time = #{adjustTime,jdbcType=TIMESTAMP},
      </if>
      <if test="lessThanSixMonthLoanTermTax != null" >
        less_than_six_month_loan_term_tax = #{lessThanSixMonthLoanTermTax,jdbcType=DECIMAL},
      </if>
      <if test="betweenSixMonthAndOneYearLoanTermTax != null" >
        between_six_month_and_one_year_loan_term_tax = #{betweenSixMonthAndOneYearLoanTermTax,jdbcType=DECIMAL},
      </if>
      <if test="betweenOneAndThreeYearLoanTermTax != null" >
        between_one_and_three_year_loan_term_tax = #{betweenOneAndThreeYearLoanTermTax,jdbcType=DECIMAL},
      </if>
      <if test="betweenThreeAndFiveYearLoanTermTax != null" >
        between_three_and_five_year_loan_term_tax = #{betweenThreeAndFiveYearLoanTermTax,jdbcType=DECIMAL},
      </if>
      <if test="moreThanFiveYearLoanTermTax != null" >
        more_than_five_year_loan_term_tax = #{moreThanFiveYearLoanTermTax,jdbcType=DECIMAL},
      </if>
      <if test="creator != null" >
        creator = #{creator,jdbcType=VARCHAR},
      </if>
      <if test="gmtCreated != null" >
        gmt_created = #{gmtCreated,jdbcType=TIMESTAMP},
      </if>
      <if test="gmtModified != null" >
        gmt_modified = #{gmtModified,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.copower.pmcc.assess.dal.basis.entity.DataLoanBenchmarkInterestRate" >
    update tb_data_loan_benchmark_interest_rate
    set adjust_time = #{adjustTime,jdbcType=TIMESTAMP},
      less_than_six_month_loan_term_tax = #{lessThanSixMonthLoanTermTax,jdbcType=DECIMAL},
      between_six_month_and_one_year_loan_term_tax = #{betweenSixMonthAndOneYearLoanTermTax,jdbcType=DECIMAL},
      between_one_and_three_year_loan_term_tax = #{betweenOneAndThreeYearLoanTermTax,jdbcType=DECIMAL},
      between_three_and_five_year_loan_term_tax = #{betweenThreeAndFiveYearLoanTermTax,jdbcType=DECIMAL},
      more_than_five_year_loan_term_tax = #{moreThanFiveYearLoanTermTax,jdbcType=DECIMAL},
      creator = #{creator,jdbcType=VARCHAR},
      gmt_created = #{gmtCreated,jdbcType=TIMESTAMP},
      gmt_modified = #{gmtModified,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>