<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.copower.pmcc.assess.dal.basis.mapper.DeclareRealtyLandCertMapper">
  <resultMap id="BaseResultMap" type="com.copower.pmcc.assess.dal.basis.entity.DeclareRealtyLandCert">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="pid" jdbcType="INTEGER" property="pid" />
    <result column="plan_details_id" jdbcType="INTEGER" property="planDetailsId" />
    <result column="auto_init_number" jdbcType="INTEGER" property="autoInitNumber" />
    <result column="land_cert_get_question" jdbcType="INTEGER" property="landCertGetQuestion" />
    <result column="land_cert_name" jdbcType="VARCHAR" property="landCertName" />
    <result column="province" jdbcType="VARCHAR" property="province" />
    <result column="city" jdbcType="VARCHAR" property="city" />
    <result column="district" jdbcType="VARCHAR" property="district" />
    <result column="land_right_type" jdbcType="INTEGER" property="landRightType" />
    <result column="location" jdbcType="VARCHAR" property="location" />
    <result column="year" jdbcType="VARCHAR" property="year" />
    <result column="number" jdbcType="VARCHAR" property="number" />
    <result column="ownership" jdbcType="VARCHAR" property="ownership" />
    <result column="public_situation" jdbcType="INTEGER" property="publicSituation" />
    <result column="public_situation_remark" jdbcType="VARCHAR" property="publicSituationRemark" />
    <result column="be_located" jdbcType="VARCHAR" property="beLocated" />
    <result column="street_number" jdbcType="VARCHAR" property="streetNumber" />
    <result column="attached_number" jdbcType="VARCHAR" property="attachedNumber" />
    <result column="building_number" jdbcType="VARCHAR" property="buildingNumber" />
    <result column="unit" jdbcType="VARCHAR" property="unit" />
    <result column="floor" jdbcType="VARCHAR" property="floor" />
    <result column="room_number" jdbcType="VARCHAR" property="roomNumber" />
    <result column="land_number" jdbcType="VARCHAR" property="landNumber" />
    <result column="cert_use" jdbcType="VARCHAR" property="certUse" />
    <result column="cert_use_category" jdbcType="VARCHAR" property="certUseCategory" />
    <result column="housing_structure" jdbcType="VARCHAR" property="housingStructure" />
    <result column="graph_number" jdbcType="VARCHAR" property="graphNumber" />
    <result column="land_right_nature" jdbcType="INTEGER" property="landRightNature" />
    <result column="acquisition_price" jdbcType="DECIMAL" property="acquisitionPrice" />
    <result column="termination_date" jdbcType="TIMESTAMP" property="terminationDate" />
    <result column="use_right_area" jdbcType="DECIMAL" property="useRightArea" />
    <result column="acreage" jdbcType="DECIMAL" property="acreage" />
    <result column="apportionment_area" jdbcType="DECIMAL" property="apportionmentArea" />
    <result column="memo" jdbcType="VARCHAR" property="memo" />
    <result column="registration_authority" jdbcType="VARCHAR" property="registrationAuthority" />
    <result column="registration_date" jdbcType="TIMESTAMP" property="registrationDate" />
    <result column="approval_name" jdbcType="VARCHAR" property="approvalName" />
    <result column="approval_time" jdbcType="TIMESTAMP" property="approvalTime" />
    <result column="approval_mechanism" jdbcType="VARCHAR" property="approvalMechanism" />
    <result column="declare_type" jdbcType="VARCHAR" property="declareType" />
    <result column="enable" jdbcType="VARCHAR" property="enable" />
    <result column="bis_record" jdbcType="BIT" property="bisRecord" />
    <result column="creator" jdbcType="VARCHAR" property="creator" />
    <result column="gmt_created" jdbcType="TIMESTAMP" property="gmtCreated" />
    <result column="gmt_modified" jdbcType="TIMESTAMP" property="gmtModified" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, pid, plan_details_id, auto_init_number, land_cert_get_question, land_cert_name, 
    province, city, district, land_right_type, location, year, number, ownership, public_situation, 
    public_situation_remark, be_located, street_number, attached_number, building_number, 
    unit, floor, room_number, land_number, cert_use, cert_use_category, housing_structure, 
    graph_number, land_right_nature, acquisition_price, termination_date, use_right_area, 
    acreage, apportionment_area, memo, registration_authority, registration_date, approval_name, 
    approval_time, approval_mechanism, declare_type, enable, bis_record, creator, gmt_created, 
    gmt_modified
  </sql>
  <select id="selectByExample" parameterType="com.copower.pmcc.assess.dal.basis.entity.DeclareRealtyLandCertExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from tb_declare_realty_land_cert
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from tb_declare_realty_land_cert
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from tb_declare_realty_land_cert
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.copower.pmcc.assess.dal.basis.entity.DeclareRealtyLandCertExample">
    delete from tb_declare_realty_land_cert
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.copower.pmcc.assess.dal.basis.entity.DeclareRealtyLandCert">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into tb_declare_realty_land_cert (pid, plan_details_id, auto_init_number, 
      land_cert_get_question, land_cert_name, province, 
      city, district, land_right_type, 
      location, year, number, 
      ownership, public_situation, public_situation_remark, 
      be_located, street_number, attached_number, 
      building_number, unit, floor, 
      room_number, land_number, cert_use, 
      cert_use_category, housing_structure, graph_number, 
      land_right_nature, acquisition_price, termination_date, 
      use_right_area, acreage, apportionment_area, 
      memo, registration_authority, registration_date, 
      approval_name, approval_time, approval_mechanism, 
      declare_type, enable, bis_record, 
      creator, gmt_created, gmt_modified
      )
    values (#{pid,jdbcType=INTEGER}, #{planDetailsId,jdbcType=INTEGER}, #{autoInitNumber,jdbcType=INTEGER}, 
      #{landCertGetQuestion,jdbcType=INTEGER}, #{landCertName,jdbcType=VARCHAR}, #{province,jdbcType=VARCHAR}, 
      #{city,jdbcType=VARCHAR}, #{district,jdbcType=VARCHAR}, #{landRightType,jdbcType=INTEGER}, 
      #{location,jdbcType=VARCHAR}, #{year,jdbcType=VARCHAR}, #{number,jdbcType=VARCHAR}, 
      #{ownership,jdbcType=VARCHAR}, #{publicSituation,jdbcType=INTEGER}, #{publicSituationRemark,jdbcType=VARCHAR}, 
      #{beLocated,jdbcType=VARCHAR}, #{streetNumber,jdbcType=VARCHAR}, #{attachedNumber,jdbcType=VARCHAR}, 
      #{buildingNumber,jdbcType=VARCHAR}, #{unit,jdbcType=VARCHAR}, #{floor,jdbcType=VARCHAR}, 
      #{roomNumber,jdbcType=VARCHAR}, #{landNumber,jdbcType=VARCHAR}, #{certUse,jdbcType=VARCHAR}, 
      #{certUseCategory,jdbcType=VARCHAR}, #{housingStructure,jdbcType=VARCHAR}, #{graphNumber,jdbcType=VARCHAR}, 
      #{landRightNature,jdbcType=INTEGER}, #{acquisitionPrice,jdbcType=DECIMAL}, #{terminationDate,jdbcType=TIMESTAMP}, 
      #{useRightArea,jdbcType=DECIMAL}, #{acreage,jdbcType=DECIMAL}, #{apportionmentArea,jdbcType=DECIMAL}, 
      #{memo,jdbcType=VARCHAR}, #{registrationAuthority,jdbcType=VARCHAR}, #{registrationDate,jdbcType=TIMESTAMP}, 
      #{approvalName,jdbcType=VARCHAR}, #{approvalTime,jdbcType=TIMESTAMP}, #{approvalMechanism,jdbcType=VARCHAR}, 
      #{declareType,jdbcType=VARCHAR}, #{enable,jdbcType=VARCHAR}, #{bisRecord,jdbcType=BIT}, 
      #{creator,jdbcType=VARCHAR}, #{gmtCreated,jdbcType=TIMESTAMP}, #{gmtModified,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="map">
    <selectKey keyProperty="record.id" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into tb_declare_realty_land_cert
    <choose>
      <when test="selective != null and selective.length > 0">
        <foreach close=")" collection="selective" item="column" open="(" separator=",">
          ${column.escapedColumnName}
        </foreach>
      </when>
      <otherwise>
        <trim prefix="(" suffix=")" suffixOverrides=",">
          <if test="record.pid != null">
            pid,
          </if>
          <if test="record.planDetailsId != null">
            plan_details_id,
          </if>
          <if test="record.autoInitNumber != null">
            auto_init_number,
          </if>
          <if test="record.landCertGetQuestion != null">
            land_cert_get_question,
          </if>
          <if test="record.landCertName != null">
            land_cert_name,
          </if>
          <if test="record.province != null">
            province,
          </if>
          <if test="record.city != null">
            city,
          </if>
          <if test="record.district != null">
            district,
          </if>
          <if test="record.landRightType != null">
            land_right_type,
          </if>
          <if test="record.location != null">
            location,
          </if>
          <if test="record.year != null">
            year,
          </if>
          <if test="record.number != null">
            number,
          </if>
          <if test="record.ownership != null">
            ownership,
          </if>
          <if test="record.publicSituation != null">
            public_situation,
          </if>
          <if test="record.publicSituationRemark != null">
            public_situation_remark,
          </if>
          <if test="record.beLocated != null">
            be_located,
          </if>
          <if test="record.streetNumber != null">
            street_number,
          </if>
          <if test="record.attachedNumber != null">
            attached_number,
          </if>
          <if test="record.buildingNumber != null">
            building_number,
          </if>
          <if test="record.unit != null">
            unit,
          </if>
          <if test="record.floor != null">
            floor,
          </if>
          <if test="record.roomNumber != null">
            room_number,
          </if>
          <if test="record.landNumber != null">
            land_number,
          </if>
          <if test="record.certUse != null">
            cert_use,
          </if>
          <if test="record.certUseCategory != null">
            cert_use_category,
          </if>
          <if test="record.housingStructure != null">
            housing_structure,
          </if>
          <if test="record.graphNumber != null">
            graph_number,
          </if>
          <if test="record.landRightNature != null">
            land_right_nature,
          </if>
          <if test="record.acquisitionPrice != null">
            acquisition_price,
          </if>
          <if test="record.terminationDate != null">
            termination_date,
          </if>
          <if test="record.useRightArea != null">
            use_right_area,
          </if>
          <if test="record.acreage != null">
            acreage,
          </if>
          <if test="record.apportionmentArea != null">
            apportionment_area,
          </if>
          <if test="record.memo != null">
            memo,
          </if>
          <if test="record.registrationAuthority != null">
            registration_authority,
          </if>
          <if test="record.registrationDate != null">
            registration_date,
          </if>
          <if test="record.approvalName != null">
            approval_name,
          </if>
          <if test="record.approvalTime != null">
            approval_time,
          </if>
          <if test="record.approvalMechanism != null">
            approval_mechanism,
          </if>
          <if test="record.declareType != null">
            declare_type,
          </if>
          <if test="record.enable != null">
            enable,
          </if>
          <if test="record.bisRecord != null">
            bis_record,
          </if>
          <if test="record.creator != null">
            creator,
          </if>
          <if test="record.gmtCreated != null">
            gmt_created,
          </if>
          <if test="record.gmtModified != null">
            gmt_modified,
          </if>
        </trim>
        <trim prefix="(" suffix=")" suffixOverrides="," />
      </otherwise>
    </choose>
    values
    <choose>
      <when test="selective != null and selective.length > 0">
        <foreach close=")" collection="selective" item="column" open="(" separator=",">
          #{record.${column.javaProperty},jdbcType=${column.jdbcType}}
        </foreach>
      </when>
      <otherwise>
        <trim prefix="(" suffix=")" suffixOverrides=",">
          <if test="record.pid != null">
            #{record.pid,jdbcType=INTEGER},
          </if>
          <if test="record.planDetailsId != null">
            #{record.planDetailsId,jdbcType=INTEGER},
          </if>
          <if test="record.autoInitNumber != null">
            #{record.autoInitNumber,jdbcType=INTEGER},
          </if>
          <if test="record.landCertGetQuestion != null">
            #{record.landCertGetQuestion,jdbcType=INTEGER},
          </if>
          <if test="record.landCertName != null">
            #{record.landCertName,jdbcType=VARCHAR},
          </if>
          <if test="record.province != null">
            #{record.province,jdbcType=VARCHAR},
          </if>
          <if test="record.city != null">
            #{record.city,jdbcType=VARCHAR},
          </if>
          <if test="record.district != null">
            #{record.district,jdbcType=VARCHAR},
          </if>
          <if test="record.landRightType != null">
            #{record.landRightType,jdbcType=INTEGER},
          </if>
          <if test="record.location != null">
            #{record.location,jdbcType=VARCHAR},
          </if>
          <if test="record.year != null">
            #{record.year,jdbcType=VARCHAR},
          </if>
          <if test="record.number != null">
            #{record.number,jdbcType=VARCHAR},
          </if>
          <if test="record.ownership != null">
            #{record.ownership,jdbcType=VARCHAR},
          </if>
          <if test="record.publicSituation != null">
            #{record.publicSituation,jdbcType=INTEGER},
          </if>
          <if test="record.publicSituationRemark != null">
            #{record.publicSituationRemark,jdbcType=VARCHAR},
          </if>
          <if test="record.beLocated != null">
            #{record.beLocated,jdbcType=VARCHAR},
          </if>
          <if test="record.streetNumber != null">
            #{record.streetNumber,jdbcType=VARCHAR},
          </if>
          <if test="record.attachedNumber != null">
            #{record.attachedNumber,jdbcType=VARCHAR},
          </if>
          <if test="record.buildingNumber != null">
            #{record.buildingNumber,jdbcType=VARCHAR},
          </if>
          <if test="record.unit != null">
            #{record.unit,jdbcType=VARCHAR},
          </if>
          <if test="record.floor != null">
            #{record.floor,jdbcType=VARCHAR},
          </if>
          <if test="record.roomNumber != null">
            #{record.roomNumber,jdbcType=VARCHAR},
          </if>
          <if test="record.landNumber != null">
            #{record.landNumber,jdbcType=VARCHAR},
          </if>
          <if test="record.certUse != null">
            #{record.certUse,jdbcType=VARCHAR},
          </if>
          <if test="record.certUseCategory != null">
            #{record.certUseCategory,jdbcType=VARCHAR},
          </if>
          <if test="record.housingStructure != null">
            #{record.housingStructure,jdbcType=VARCHAR},
          </if>
          <if test="record.graphNumber != null">
            #{record.graphNumber,jdbcType=VARCHAR},
          </if>
          <if test="record.landRightNature != null">
            #{record.landRightNature,jdbcType=INTEGER},
          </if>
          <if test="record.acquisitionPrice != null">
            #{record.acquisitionPrice,jdbcType=DECIMAL},
          </if>
          <if test="record.terminationDate != null">
            #{record.terminationDate,jdbcType=TIMESTAMP},
          </if>
          <if test="record.useRightArea != null">
            #{record.useRightArea,jdbcType=DECIMAL},
          </if>
          <if test="record.acreage != null">
            #{record.acreage,jdbcType=DECIMAL},
          </if>
          <if test="record.apportionmentArea != null">
            #{record.apportionmentArea,jdbcType=DECIMAL},
          </if>
          <if test="record.memo != null">
            #{record.memo,jdbcType=VARCHAR},
          </if>
          <if test="record.registrationAuthority != null">
            #{record.registrationAuthority,jdbcType=VARCHAR},
          </if>
          <if test="record.registrationDate != null">
            #{record.registrationDate,jdbcType=TIMESTAMP},
          </if>
          <if test="record.approvalName != null">
            #{record.approvalName,jdbcType=VARCHAR},
          </if>
          <if test="record.approvalTime != null">
            #{record.approvalTime,jdbcType=TIMESTAMP},
          </if>
          <if test="record.approvalMechanism != null">
            #{record.approvalMechanism,jdbcType=VARCHAR},
          </if>
          <if test="record.declareType != null">
            #{record.declareType,jdbcType=VARCHAR},
          </if>
          <if test="record.enable != null">
            #{record.enable,jdbcType=VARCHAR},
          </if>
          <if test="record.bisRecord != null">
            #{record.bisRecord,jdbcType=BIT},
          </if>
          <if test="record.creator != null">
            #{record.creator,jdbcType=VARCHAR},
          </if>
          <if test="record.gmtCreated != null">
            #{record.gmtCreated,jdbcType=TIMESTAMP},
          </if>
          <if test="record.gmtModified != null">
            #{record.gmtModified,jdbcType=TIMESTAMP},
          </if>
        </trim>
      </otherwise>
    </choose>
  </insert>
  <select id="countByExample" parameterType="com.copower.pmcc.assess.dal.basis.entity.DeclareRealtyLandCertExample" resultType="java.lang.Long">
    select count(*) from tb_declare_realty_land_cert
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update tb_declare_realty_land_cert
    SET
    <choose>
      <when test="selective != null and selective.length > 0">
        <foreach collection="selective" item="column" separator=",">
          ${column.escapedColumnName} = #{record.${column.javaProperty},jdbcType=${column.jdbcType}}
        </foreach>
      </when>
      <otherwise>
        <trim suffixOverrides=",">
          <if test="record.id != null">
            id = #{record.id,jdbcType=INTEGER},
          </if>
          <if test="record.pid != null">
            pid = #{record.pid,jdbcType=INTEGER},
          </if>
          <if test="record.planDetailsId != null">
            plan_details_id = #{record.planDetailsId,jdbcType=INTEGER},
          </if>
          <if test="record.autoInitNumber != null">
            auto_init_number = #{record.autoInitNumber,jdbcType=INTEGER},
          </if>
          <if test="record.landCertGetQuestion != null">
            land_cert_get_question = #{record.landCertGetQuestion,jdbcType=INTEGER},
          </if>
          <if test="record.landCertName != null">
            land_cert_name = #{record.landCertName,jdbcType=VARCHAR},
          </if>
          <if test="record.province != null">
            province = #{record.province,jdbcType=VARCHAR},
          </if>
          <if test="record.city != null">
            city = #{record.city,jdbcType=VARCHAR},
          </if>
          <if test="record.district != null">
            district = #{record.district,jdbcType=VARCHAR},
          </if>
          <if test="record.landRightType != null">
            land_right_type = #{record.landRightType,jdbcType=INTEGER},
          </if>
          <if test="record.location != null">
            location = #{record.location,jdbcType=VARCHAR},
          </if>
          <if test="record.year != null">
            year = #{record.year,jdbcType=VARCHAR},
          </if>
          <if test="record.number != null">
            number = #{record.number,jdbcType=VARCHAR},
          </if>
          <if test="record.ownership != null">
            ownership = #{record.ownership,jdbcType=VARCHAR},
          </if>
          <if test="record.publicSituation != null">
            public_situation = #{record.publicSituation,jdbcType=INTEGER},
          </if>
          <if test="record.publicSituationRemark != null">
            public_situation_remark = #{record.publicSituationRemark,jdbcType=VARCHAR},
          </if>
          <if test="record.beLocated != null">
            be_located = #{record.beLocated,jdbcType=VARCHAR},
          </if>
          <if test="record.streetNumber != null">
            street_number = #{record.streetNumber,jdbcType=VARCHAR},
          </if>
          <if test="record.attachedNumber != null">
            attached_number = #{record.attachedNumber,jdbcType=VARCHAR},
          </if>
          <if test="record.buildingNumber != null">
            building_number = #{record.buildingNumber,jdbcType=VARCHAR},
          </if>
          <if test="record.unit != null">
            unit = #{record.unit,jdbcType=VARCHAR},
          </if>
          <if test="record.floor != null">
            floor = #{record.floor,jdbcType=VARCHAR},
          </if>
          <if test="record.roomNumber != null">
            room_number = #{record.roomNumber,jdbcType=VARCHAR},
          </if>
          <if test="record.landNumber != null">
            land_number = #{record.landNumber,jdbcType=VARCHAR},
          </if>
          <if test="record.certUse != null">
            cert_use = #{record.certUse,jdbcType=VARCHAR},
          </if>
          <if test="record.certUseCategory != null">
            cert_use_category = #{record.certUseCategory,jdbcType=VARCHAR},
          </if>
          <if test="record.housingStructure != null">
            housing_structure = #{record.housingStructure,jdbcType=VARCHAR},
          </if>
          <if test="record.graphNumber != null">
            graph_number = #{record.graphNumber,jdbcType=VARCHAR},
          </if>
          <if test="record.landRightNature != null">
            land_right_nature = #{record.landRightNature,jdbcType=INTEGER},
          </if>
          <if test="record.acquisitionPrice != null">
            acquisition_price = #{record.acquisitionPrice,jdbcType=DECIMAL},
          </if>
          <if test="record.terminationDate != null">
            termination_date = #{record.terminationDate,jdbcType=TIMESTAMP},
          </if>
          <if test="record.useRightArea != null">
            use_right_area = #{record.useRightArea,jdbcType=DECIMAL},
          </if>
          <if test="record.acreage != null">
            acreage = #{record.acreage,jdbcType=DECIMAL},
          </if>
          <if test="record.apportionmentArea != null">
            apportionment_area = #{record.apportionmentArea,jdbcType=DECIMAL},
          </if>
          <if test="record.memo != null">
            memo = #{record.memo,jdbcType=VARCHAR},
          </if>
          <if test="record.registrationAuthority != null">
            registration_authority = #{record.registrationAuthority,jdbcType=VARCHAR},
          </if>
          <if test="record.registrationDate != null">
            registration_date = #{record.registrationDate,jdbcType=TIMESTAMP},
          </if>
          <if test="record.approvalName != null">
            approval_name = #{record.approvalName,jdbcType=VARCHAR},
          </if>
          <if test="record.approvalTime != null">
            approval_time = #{record.approvalTime,jdbcType=TIMESTAMP},
          </if>
          <if test="record.approvalMechanism != null">
            approval_mechanism = #{record.approvalMechanism,jdbcType=VARCHAR},
          </if>
          <if test="record.declareType != null">
            declare_type = #{record.declareType,jdbcType=VARCHAR},
          </if>
          <if test="record.enable != null">
            enable = #{record.enable,jdbcType=VARCHAR},
          </if>
          <if test="record.bisRecord != null">
            bis_record = #{record.bisRecord,jdbcType=BIT},
          </if>
          <if test="record.creator != null">
            creator = #{record.creator,jdbcType=VARCHAR},
          </if>
          <if test="record.gmtCreated != null">
            gmt_created = #{record.gmtCreated,jdbcType=TIMESTAMP},
          </if>
          <if test="record.gmtModified != null">
            gmt_modified = #{record.gmtModified,jdbcType=TIMESTAMP},
          </if>
        </trim>
      </otherwise>
    </choose>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update tb_declare_realty_land_cert
    set id = #{record.id,jdbcType=INTEGER},
      pid = #{record.pid,jdbcType=INTEGER},
      plan_details_id = #{record.planDetailsId,jdbcType=INTEGER},
      auto_init_number = #{record.autoInitNumber,jdbcType=INTEGER},
      land_cert_get_question = #{record.landCertGetQuestion,jdbcType=INTEGER},
      land_cert_name = #{record.landCertName,jdbcType=VARCHAR},
      province = #{record.province,jdbcType=VARCHAR},
      city = #{record.city,jdbcType=VARCHAR},
      district = #{record.district,jdbcType=VARCHAR},
      land_right_type = #{record.landRightType,jdbcType=INTEGER},
      location = #{record.location,jdbcType=VARCHAR},
      year = #{record.year,jdbcType=VARCHAR},
      number = #{record.number,jdbcType=VARCHAR},
      ownership = #{record.ownership,jdbcType=VARCHAR},
      public_situation = #{record.publicSituation,jdbcType=INTEGER},
      public_situation_remark = #{record.publicSituationRemark,jdbcType=VARCHAR},
      be_located = #{record.beLocated,jdbcType=VARCHAR},
      street_number = #{record.streetNumber,jdbcType=VARCHAR},
      attached_number = #{record.attachedNumber,jdbcType=VARCHAR},
      building_number = #{record.buildingNumber,jdbcType=VARCHAR},
      unit = #{record.unit,jdbcType=VARCHAR},
      floor = #{record.floor,jdbcType=VARCHAR},
      room_number = #{record.roomNumber,jdbcType=VARCHAR},
      land_number = #{record.landNumber,jdbcType=VARCHAR},
      cert_use = #{record.certUse,jdbcType=VARCHAR},
      cert_use_category = #{record.certUseCategory,jdbcType=VARCHAR},
      housing_structure = #{record.housingStructure,jdbcType=VARCHAR},
      graph_number = #{record.graphNumber,jdbcType=VARCHAR},
      land_right_nature = #{record.landRightNature,jdbcType=INTEGER},
      acquisition_price = #{record.acquisitionPrice,jdbcType=DECIMAL},
      termination_date = #{record.terminationDate,jdbcType=TIMESTAMP},
      use_right_area = #{record.useRightArea,jdbcType=DECIMAL},
      acreage = #{record.acreage,jdbcType=DECIMAL},
      apportionment_area = #{record.apportionmentArea,jdbcType=DECIMAL},
      memo = #{record.memo,jdbcType=VARCHAR},
      registration_authority = #{record.registrationAuthority,jdbcType=VARCHAR},
      registration_date = #{record.registrationDate,jdbcType=TIMESTAMP},
      approval_name = #{record.approvalName,jdbcType=VARCHAR},
      approval_time = #{record.approvalTime,jdbcType=TIMESTAMP},
      approval_mechanism = #{record.approvalMechanism,jdbcType=VARCHAR},
      declare_type = #{record.declareType,jdbcType=VARCHAR},
      enable = #{record.enable,jdbcType=VARCHAR},
      bis_record = #{record.bisRecord,jdbcType=BIT},
      creator = #{record.creator,jdbcType=VARCHAR},
      gmt_created = #{record.gmtCreated,jdbcType=TIMESTAMP},
      gmt_modified = #{record.gmtModified,jdbcType=TIMESTAMP}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="map">
    update tb_declare_realty_land_cert
    SET
    <choose>
      <when test="selective != null and selective.length > 0">
        <foreach collection="selective" item="column" separator=",">
          ${column.escapedColumnName} = #{record.${column.javaProperty},jdbcType=${column.jdbcType}}
        </foreach>
      </when>
      <otherwise>
        <trim suffixOverrides=",">
          <if test="record.pid != null">
            pid = #{record.pid,jdbcType=INTEGER},
          </if>
          <if test="record.planDetailsId != null">
            plan_details_id = #{record.planDetailsId,jdbcType=INTEGER},
          </if>
          <if test="record.autoInitNumber != null">
            auto_init_number = #{record.autoInitNumber,jdbcType=INTEGER},
          </if>
          <if test="record.landCertGetQuestion != null">
            land_cert_get_question = #{record.landCertGetQuestion,jdbcType=INTEGER},
          </if>
          <if test="record.landCertName != null">
            land_cert_name = #{record.landCertName,jdbcType=VARCHAR},
          </if>
          <if test="record.province != null">
            province = #{record.province,jdbcType=VARCHAR},
          </if>
          <if test="record.city != null">
            city = #{record.city,jdbcType=VARCHAR},
          </if>
          <if test="record.district != null">
            district = #{record.district,jdbcType=VARCHAR},
          </if>
          <if test="record.landRightType != null">
            land_right_type = #{record.landRightType,jdbcType=INTEGER},
          </if>
          <if test="record.location != null">
            location = #{record.location,jdbcType=VARCHAR},
          </if>
          <if test="record.year != null">
            year = #{record.year,jdbcType=VARCHAR},
          </if>
          <if test="record.number != null">
            number = #{record.number,jdbcType=VARCHAR},
          </if>
          <if test="record.ownership != null">
            ownership = #{record.ownership,jdbcType=VARCHAR},
          </if>
          <if test="record.publicSituation != null">
            public_situation = #{record.publicSituation,jdbcType=INTEGER},
          </if>
          <if test="record.publicSituationRemark != null">
            public_situation_remark = #{record.publicSituationRemark,jdbcType=VARCHAR},
          </if>
          <if test="record.beLocated != null">
            be_located = #{record.beLocated,jdbcType=VARCHAR},
          </if>
          <if test="record.streetNumber != null">
            street_number = #{record.streetNumber,jdbcType=VARCHAR},
          </if>
          <if test="record.attachedNumber != null">
            attached_number = #{record.attachedNumber,jdbcType=VARCHAR},
          </if>
          <if test="record.buildingNumber != null">
            building_number = #{record.buildingNumber,jdbcType=VARCHAR},
          </if>
          <if test="record.unit != null">
            unit = #{record.unit,jdbcType=VARCHAR},
          </if>
          <if test="record.floor != null">
            floor = #{record.floor,jdbcType=VARCHAR},
          </if>
          <if test="record.roomNumber != null">
            room_number = #{record.roomNumber,jdbcType=VARCHAR},
          </if>
          <if test="record.landNumber != null">
            land_number = #{record.landNumber,jdbcType=VARCHAR},
          </if>
          <if test="record.certUse != null">
            cert_use = #{record.certUse,jdbcType=VARCHAR},
          </if>
          <if test="record.certUseCategory != null">
            cert_use_category = #{record.certUseCategory,jdbcType=VARCHAR},
          </if>
          <if test="record.housingStructure != null">
            housing_structure = #{record.housingStructure,jdbcType=VARCHAR},
          </if>
          <if test="record.graphNumber != null">
            graph_number = #{record.graphNumber,jdbcType=VARCHAR},
          </if>
          <if test="record.landRightNature != null">
            land_right_nature = #{record.landRightNature,jdbcType=INTEGER},
          </if>
          <if test="record.acquisitionPrice != null">
            acquisition_price = #{record.acquisitionPrice,jdbcType=DECIMAL},
          </if>
          <if test="record.terminationDate != null">
            termination_date = #{record.terminationDate,jdbcType=TIMESTAMP},
          </if>
          <if test="record.useRightArea != null">
            use_right_area = #{record.useRightArea,jdbcType=DECIMAL},
          </if>
          <if test="record.acreage != null">
            acreage = #{record.acreage,jdbcType=DECIMAL},
          </if>
          <if test="record.apportionmentArea != null">
            apportionment_area = #{record.apportionmentArea,jdbcType=DECIMAL},
          </if>
          <if test="record.memo != null">
            memo = #{record.memo,jdbcType=VARCHAR},
          </if>
          <if test="record.registrationAuthority != null">
            registration_authority = #{record.registrationAuthority,jdbcType=VARCHAR},
          </if>
          <if test="record.registrationDate != null">
            registration_date = #{record.registrationDate,jdbcType=TIMESTAMP},
          </if>
          <if test="record.approvalName != null">
            approval_name = #{record.approvalName,jdbcType=VARCHAR},
          </if>
          <if test="record.approvalTime != null">
            approval_time = #{record.approvalTime,jdbcType=TIMESTAMP},
          </if>
          <if test="record.approvalMechanism != null">
            approval_mechanism = #{record.approvalMechanism,jdbcType=VARCHAR},
          </if>
          <if test="record.declareType != null">
            declare_type = #{record.declareType,jdbcType=VARCHAR},
          </if>
          <if test="record.enable != null">
            enable = #{record.enable,jdbcType=VARCHAR},
          </if>
          <if test="record.bisRecord != null">
            bis_record = #{record.bisRecord,jdbcType=BIT},
          </if>
          <if test="record.creator != null">
            creator = #{record.creator,jdbcType=VARCHAR},
          </if>
          <if test="record.gmtCreated != null">
            gmt_created = #{record.gmtCreated,jdbcType=TIMESTAMP},
          </if>
          <if test="record.gmtModified != null">
            gmt_modified = #{record.gmtModified,jdbcType=TIMESTAMP},
          </if>
        </trim>
      </otherwise>
    </choose>
    where id = #{record.id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.copower.pmcc.assess.dal.basis.entity.DeclareRealtyLandCert">
    update tb_declare_realty_land_cert
    set pid = #{pid,jdbcType=INTEGER},
      plan_details_id = #{planDetailsId,jdbcType=INTEGER},
      auto_init_number = #{autoInitNumber,jdbcType=INTEGER},
      land_cert_get_question = #{landCertGetQuestion,jdbcType=INTEGER},
      land_cert_name = #{landCertName,jdbcType=VARCHAR},
      province = #{province,jdbcType=VARCHAR},
      city = #{city,jdbcType=VARCHAR},
      district = #{district,jdbcType=VARCHAR},
      land_right_type = #{landRightType,jdbcType=INTEGER},
      location = #{location,jdbcType=VARCHAR},
      year = #{year,jdbcType=VARCHAR},
      number = #{number,jdbcType=VARCHAR},
      ownership = #{ownership,jdbcType=VARCHAR},
      public_situation = #{publicSituation,jdbcType=INTEGER},
      public_situation_remark = #{publicSituationRemark,jdbcType=VARCHAR},
      be_located = #{beLocated,jdbcType=VARCHAR},
      street_number = #{streetNumber,jdbcType=VARCHAR},
      attached_number = #{attachedNumber,jdbcType=VARCHAR},
      building_number = #{buildingNumber,jdbcType=VARCHAR},
      unit = #{unit,jdbcType=VARCHAR},
      floor = #{floor,jdbcType=VARCHAR},
      room_number = #{roomNumber,jdbcType=VARCHAR},
      land_number = #{landNumber,jdbcType=VARCHAR},
      cert_use = #{certUse,jdbcType=VARCHAR},
      cert_use_category = #{certUseCategory,jdbcType=VARCHAR},
      housing_structure = #{housingStructure,jdbcType=VARCHAR},
      graph_number = #{graphNumber,jdbcType=VARCHAR},
      land_right_nature = #{landRightNature,jdbcType=INTEGER},
      acquisition_price = #{acquisitionPrice,jdbcType=DECIMAL},
      termination_date = #{terminationDate,jdbcType=TIMESTAMP},
      use_right_area = #{useRightArea,jdbcType=DECIMAL},
      acreage = #{acreage,jdbcType=DECIMAL},
      apportionment_area = #{apportionmentArea,jdbcType=DECIMAL},
      memo = #{memo,jdbcType=VARCHAR},
      registration_authority = #{registrationAuthority,jdbcType=VARCHAR},
      registration_date = #{registrationDate,jdbcType=TIMESTAMP},
      approval_name = #{approvalName,jdbcType=VARCHAR},
      approval_time = #{approvalTime,jdbcType=TIMESTAMP},
      approval_mechanism = #{approvalMechanism,jdbcType=VARCHAR},
      declare_type = #{declareType,jdbcType=VARCHAR},
      enable = #{enable,jdbcType=VARCHAR},
      bis_record = #{bisRecord,jdbcType=BIT},
      creator = #{creator,jdbcType=VARCHAR},
      gmt_created = #{gmtCreated,jdbcType=TIMESTAMP},
      gmt_modified = #{gmtModified,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <insert id="batchInsert" keyColumn="id" keyProperty="id" parameterType="map" useGeneratedKeys="true">
    insert into tb_declare_realty_land_cert
    (pid, plan_details_id, auto_init_number, land_cert_get_question, land_cert_name, 
      province, city, district, land_right_type, location, year, number, ownership, public_situation, 
      public_situation_remark, be_located, street_number, attached_number, building_number, 
      unit, floor, room_number, land_number, cert_use, cert_use_category, housing_structure, 
      graph_number, land_right_nature, acquisition_price, termination_date, use_right_area, 
      acreage, apportionment_area, memo, registration_authority, registration_date, approval_name, 
      approval_time, approval_mechanism, declare_type, enable, bis_record, creator, gmt_created, 
      gmt_modified)
    values
    <foreach collection="list" item="item" separator=",">
      (#{item.pid,jdbcType=INTEGER}, #{item.planDetailsId,jdbcType=INTEGER}, #{item.autoInitNumber,jdbcType=INTEGER}, 
        #{item.landCertGetQuestion,jdbcType=INTEGER}, #{item.landCertName,jdbcType=VARCHAR}, 
        #{item.province,jdbcType=VARCHAR}, #{item.city,jdbcType=VARCHAR}, #{item.district,jdbcType=VARCHAR}, 
        #{item.landRightType,jdbcType=INTEGER}, #{item.location,jdbcType=VARCHAR}, #{item.year,jdbcType=VARCHAR}, 
        #{item.number,jdbcType=VARCHAR}, #{item.ownership,jdbcType=VARCHAR}, #{item.publicSituation,jdbcType=INTEGER}, 
        #{item.publicSituationRemark,jdbcType=VARCHAR}, #{item.beLocated,jdbcType=VARCHAR}, 
        #{item.streetNumber,jdbcType=VARCHAR}, #{item.attachedNumber,jdbcType=VARCHAR}, 
        #{item.buildingNumber,jdbcType=VARCHAR}, #{item.unit,jdbcType=VARCHAR}, #{item.floor,jdbcType=VARCHAR}, 
        #{item.roomNumber,jdbcType=VARCHAR}, #{item.landNumber,jdbcType=VARCHAR}, #{item.certUse,jdbcType=VARCHAR}, 
        #{item.certUseCategory,jdbcType=VARCHAR}, #{item.housingStructure,jdbcType=VARCHAR}, 
        #{item.graphNumber,jdbcType=VARCHAR}, #{item.landRightNature,jdbcType=INTEGER}, 
        #{item.acquisitionPrice,jdbcType=DECIMAL}, #{item.terminationDate,jdbcType=TIMESTAMP}, 
        #{item.useRightArea,jdbcType=DECIMAL}, #{item.acreage,jdbcType=DECIMAL}, #{item.apportionmentArea,jdbcType=DECIMAL}, 
        #{item.memo,jdbcType=VARCHAR}, #{item.registrationAuthority,jdbcType=VARCHAR}, 
        #{item.registrationDate,jdbcType=TIMESTAMP}, #{item.approvalName,jdbcType=VARCHAR}, 
        #{item.approvalTime,jdbcType=TIMESTAMP}, #{item.approvalMechanism,jdbcType=VARCHAR}, 
        #{item.declareType,jdbcType=VARCHAR}, #{item.enable,jdbcType=VARCHAR}, #{item.bisRecord,jdbcType=BIT}, 
        #{item.creator,jdbcType=VARCHAR}, #{item.gmtCreated,jdbcType=TIMESTAMP}, #{item.gmtModified,jdbcType=TIMESTAMP}
        )
    </foreach>
  </insert>
  <insert id="batchInsertSelective" keyColumn="id" keyProperty="list.id" parameterType="map" useGeneratedKeys="true">
    insert into tb_declare_realty_land_cert (
    <foreach collection="selective" item="column" separator=",">
      ${column.escapedColumnName}
    </foreach>
    )
    values
    <foreach collection="list" item="item" separator=",">
      (
      <foreach collection="selective" item="column" separator=",">
        <if test="'pid'.toString() == column.value">
          #{item.pid,jdbcType=INTEGER}
        </if>
        <if test="'plan_details_id'.toString() == column.value">
          #{item.planDetailsId,jdbcType=INTEGER}
        </if>
        <if test="'auto_init_number'.toString() == column.value">
          #{item.autoInitNumber,jdbcType=INTEGER}
        </if>
        <if test="'land_cert_get_question'.toString() == column.value">
          #{item.landCertGetQuestion,jdbcType=INTEGER}
        </if>
        <if test="'land_cert_name'.toString() == column.value">
          #{item.landCertName,jdbcType=VARCHAR}
        </if>
        <if test="'province'.toString() == column.value">
          #{item.province,jdbcType=VARCHAR}
        </if>
        <if test="'city'.toString() == column.value">
          #{item.city,jdbcType=VARCHAR}
        </if>
        <if test="'district'.toString() == column.value">
          #{item.district,jdbcType=VARCHAR}
        </if>
        <if test="'land_right_type'.toString() == column.value">
          #{item.landRightType,jdbcType=INTEGER}
        </if>
        <if test="'location'.toString() == column.value">
          #{item.location,jdbcType=VARCHAR}
        </if>
        <if test="'year'.toString() == column.value">
          #{item.year,jdbcType=VARCHAR}
        </if>
        <if test="'number'.toString() == column.value">
          #{item.number,jdbcType=VARCHAR}
        </if>
        <if test="'ownership'.toString() == column.value">
          #{item.ownership,jdbcType=VARCHAR}
        </if>
        <if test="'public_situation'.toString() == column.value">
          #{item.publicSituation,jdbcType=INTEGER}
        </if>
        <if test="'public_situation_remark'.toString() == column.value">
          #{item.publicSituationRemark,jdbcType=VARCHAR}
        </if>
        <if test="'be_located'.toString() == column.value">
          #{item.beLocated,jdbcType=VARCHAR}
        </if>
        <if test="'street_number'.toString() == column.value">
          #{item.streetNumber,jdbcType=VARCHAR}
        </if>
        <if test="'attached_number'.toString() == column.value">
          #{item.attachedNumber,jdbcType=VARCHAR}
        </if>
        <if test="'building_number'.toString() == column.value">
          #{item.buildingNumber,jdbcType=VARCHAR}
        </if>
        <if test="'unit'.toString() == column.value">
          #{item.unit,jdbcType=VARCHAR}
        </if>
        <if test="'floor'.toString() == column.value">
          #{item.floor,jdbcType=VARCHAR}
        </if>
        <if test="'room_number'.toString() == column.value">
          #{item.roomNumber,jdbcType=VARCHAR}
        </if>
        <if test="'land_number'.toString() == column.value">
          #{item.landNumber,jdbcType=VARCHAR}
        </if>
        <if test="'cert_use'.toString() == column.value">
          #{item.certUse,jdbcType=VARCHAR}
        </if>
        <if test="'cert_use_category'.toString() == column.value">
          #{item.certUseCategory,jdbcType=VARCHAR}
        </if>
        <if test="'housing_structure'.toString() == column.value">
          #{item.housingStructure,jdbcType=VARCHAR}
        </if>
        <if test="'graph_number'.toString() == column.value">
          #{item.graphNumber,jdbcType=VARCHAR}
        </if>
        <if test="'land_right_nature'.toString() == column.value">
          #{item.landRightNature,jdbcType=INTEGER}
        </if>
        <if test="'acquisition_price'.toString() == column.value">
          #{item.acquisitionPrice,jdbcType=DECIMAL}
        </if>
        <if test="'termination_date'.toString() == column.value">
          #{item.terminationDate,jdbcType=TIMESTAMP}
        </if>
        <if test="'use_right_area'.toString() == column.value">
          #{item.useRightArea,jdbcType=DECIMAL}
        </if>
        <if test="'acreage'.toString() == column.value">
          #{item.acreage,jdbcType=DECIMAL}
        </if>
        <if test="'apportionment_area'.toString() == column.value">
          #{item.apportionmentArea,jdbcType=DECIMAL}
        </if>
        <if test="'memo'.toString() == column.value">
          #{item.memo,jdbcType=VARCHAR}
        </if>
        <if test="'registration_authority'.toString() == column.value">
          #{item.registrationAuthority,jdbcType=VARCHAR}
        </if>
        <if test="'registration_date'.toString() == column.value">
          #{item.registrationDate,jdbcType=TIMESTAMP}
        </if>
        <if test="'approval_name'.toString() == column.value">
          #{item.approvalName,jdbcType=VARCHAR}
        </if>
        <if test="'approval_time'.toString() == column.value">
          #{item.approvalTime,jdbcType=TIMESTAMP}
        </if>
        <if test="'approval_mechanism'.toString() == column.value">
          #{item.approvalMechanism,jdbcType=VARCHAR}
        </if>
        <if test="'declare_type'.toString() == column.value">
          #{item.declareType,jdbcType=VARCHAR}
        </if>
        <if test="'enable'.toString() == column.value">
          #{item.enable,jdbcType=VARCHAR}
        </if>
        <if test="'bis_record'.toString() == column.value">
          #{item.bisRecord,jdbcType=BIT}
        </if>
        <if test="'creator'.toString() == column.value">
          #{item.creator,jdbcType=VARCHAR}
        </if>
        <if test="'gmt_created'.toString() == column.value">
          #{item.gmtCreated,jdbcType=TIMESTAMP}
        </if>
        <if test="'gmt_modified'.toString() == column.value">
          #{item.gmtModified,jdbcType=TIMESTAMP}
        </if>
      </foreach>
      )
    </foreach>
  </insert>
</mapper>