<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.copower.pmcc.assess.dal.basis.mapper.DeclareBuildingConstructionPermitMapper" >
  <resultMap id="BaseResultMap" type="com.copower.pmcc.assess.dal.basis.entity.DeclareBuildingConstructionPermit" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="plan_details_id" property="planDetailsId" jdbcType="INTEGER" />
    <result column="certificate_number" property="certificateNumber" jdbcType="VARCHAR" />
    <result column="issuing_organ" property="issuingOrgan" jdbcType="VARCHAR" />
    <result column="date" property="date" jdbcType="TIMESTAMP" />
    <result column="build_unit" property="buildUnit" jdbcType="VARCHAR" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="build_address" property="buildAddress" jdbcType="VARCHAR" />
    <result column="scale_construction" property="scaleConstruction" jdbcType="VARCHAR" />
    <result column="reconnaissance_unit" property="reconnaissanceUnit" jdbcType="VARCHAR" />
    <result column="design_unit" property="designUnit" jdbcType="VARCHAR" />
    <result column="construction_unit" property="constructionUnit" jdbcType="VARCHAR" />
    <result column="construction_control_unit" property="constructionControlUnit" jdbcType="VARCHAR" />
    <result column="reconnaissance_unit_person" property="reconnaissanceUnitPerson" jdbcType="VARCHAR" />
    <result column="design_unit_person" property="designUnitPerson" jdbcType="VARCHAR" />
    <result column="construction_unit_person" property="constructionUnitPerson" jdbcType="VARCHAR" />
    <result column="chief_engineer_construction_inspection" property="chiefEngineerConstructionInspection" jdbcType="VARCHAR" />
    <result column="contract_period" property="contractPeriod" jdbcType="TIMESTAMP" />
    <result column="remark" property="remark" jdbcType="VARCHAR" />
    <result column="creator" property="creator" jdbcType="VARCHAR" />
    <result column="gmt_created" property="gmtCreated" jdbcType="TIMESTAMP" />
    <result column="gmt_modified" property="gmtModified" jdbcType="TIMESTAMP" />
    <result column="master_id" property="masterId" jdbcType="INTEGER" />
    <result column="master_type" property="masterType" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, plan_details_id, certificate_number, issuing_organ, date, build_unit, name, build_address, 
    scale_construction, reconnaissance_unit, design_unit, construction_unit, construction_control_unit, 
    reconnaissance_unit_person, design_unit_person, construction_unit_person, chief_engineer_construction_inspection, 
    contract_period, remark, creator, gmt_created, gmt_modified, master_id, master_type
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.copower.pmcc.assess.dal.basis.entity.DeclareBuildingConstructionPermitExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from tb_declare_building_construction_permit
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from tb_declare_building_construction_permit
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from tb_declare_building_construction_permit
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.copower.pmcc.assess.dal.basis.entity.DeclareBuildingConstructionPermitExample" >
    delete from tb_declare_building_construction_permit
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.copower.pmcc.assess.dal.basis.entity.DeclareBuildingConstructionPermit" >
    <selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into tb_declare_building_construction_permit (plan_details_id, certificate_number, 
      issuing_organ, date, build_unit, 
      name, build_address, scale_construction, 
      reconnaissance_unit, design_unit, construction_unit, 
      construction_control_unit, reconnaissance_unit_person, 
      design_unit_person, construction_unit_person, 
      chief_engineer_construction_inspection, contract_period, 
      remark, creator, gmt_created, 
      gmt_modified, master_id, master_type
      )
    values (#{planDetailsId,jdbcType=INTEGER}, #{certificateNumber,jdbcType=VARCHAR}, 
      #{issuingOrgan,jdbcType=VARCHAR}, #{date,jdbcType=TIMESTAMP}, #{buildUnit,jdbcType=VARCHAR}, 
      #{name,jdbcType=VARCHAR}, #{buildAddress,jdbcType=VARCHAR}, #{scaleConstruction,jdbcType=VARCHAR}, 
      #{reconnaissanceUnit,jdbcType=VARCHAR}, #{designUnit,jdbcType=VARCHAR}, #{constructionUnit,jdbcType=VARCHAR}, 
      #{constructionControlUnit,jdbcType=VARCHAR}, #{reconnaissanceUnitPerson,jdbcType=VARCHAR}, 
      #{designUnitPerson,jdbcType=VARCHAR}, #{constructionUnitPerson,jdbcType=VARCHAR}, 
      #{chiefEngineerConstructionInspection,jdbcType=VARCHAR}, #{contractPeriod,jdbcType=TIMESTAMP}, 
      #{remark,jdbcType=VARCHAR}, #{creator,jdbcType=VARCHAR}, #{gmtCreated,jdbcType=TIMESTAMP}, 
      #{gmtModified,jdbcType=TIMESTAMP}, #{masterId,jdbcType=INTEGER}, #{masterType,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.copower.pmcc.assess.dal.basis.entity.DeclareBuildingConstructionPermit" >
    <selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into tb_declare_building_construction_permit
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="planDetailsId != null" >
        plan_details_id,
      </if>
      <if test="certificateNumber != null" >
        certificate_number,
      </if>
      <if test="issuingOrgan != null" >
        issuing_organ,
      </if>
      <if test="date != null" >
        date,
      </if>
      <if test="buildUnit != null" >
        build_unit,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="buildAddress != null" >
        build_address,
      </if>
      <if test="scaleConstruction != null" >
        scale_construction,
      </if>
      <if test="reconnaissanceUnit != null" >
        reconnaissance_unit,
      </if>
      <if test="designUnit != null" >
        design_unit,
      </if>
      <if test="constructionUnit != null" >
        construction_unit,
      </if>
      <if test="constructionControlUnit != null" >
        construction_control_unit,
      </if>
      <if test="reconnaissanceUnitPerson != null" >
        reconnaissance_unit_person,
      </if>
      <if test="designUnitPerson != null" >
        design_unit_person,
      </if>
      <if test="constructionUnitPerson != null" >
        construction_unit_person,
      </if>
      <if test="chiefEngineerConstructionInspection != null" >
        chief_engineer_construction_inspection,
      </if>
      <if test="contractPeriod != null" >
        contract_period,
      </if>
      <if test="remark != null" >
        remark,
      </if>
      <if test="creator != null" >
        creator,
      </if>
      <if test="gmtCreated != null" >
        gmt_created,
      </if>
      <if test="gmtModified != null" >
        gmt_modified,
      </if>
      <if test="masterId != null" >
        master_id,
      </if>
      <if test="masterType != null" >
        master_type,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="planDetailsId != null" >
        #{planDetailsId,jdbcType=INTEGER},
      </if>
      <if test="certificateNumber != null" >
        #{certificateNumber,jdbcType=VARCHAR},
      </if>
      <if test="issuingOrgan != null" >
        #{issuingOrgan,jdbcType=VARCHAR},
      </if>
      <if test="date != null" >
        #{date,jdbcType=TIMESTAMP},
      </if>
      <if test="buildUnit != null" >
        #{buildUnit,jdbcType=VARCHAR},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="buildAddress != null" >
        #{buildAddress,jdbcType=VARCHAR},
      </if>
      <if test="scaleConstruction != null" >
        #{scaleConstruction,jdbcType=VARCHAR},
      </if>
      <if test="reconnaissanceUnit != null" >
        #{reconnaissanceUnit,jdbcType=VARCHAR},
      </if>
      <if test="designUnit != null" >
        #{designUnit,jdbcType=VARCHAR},
      </if>
      <if test="constructionUnit != null" >
        #{constructionUnit,jdbcType=VARCHAR},
      </if>
      <if test="constructionControlUnit != null" >
        #{constructionControlUnit,jdbcType=VARCHAR},
      </if>
      <if test="reconnaissanceUnitPerson != null" >
        #{reconnaissanceUnitPerson,jdbcType=VARCHAR},
      </if>
      <if test="designUnitPerson != null" >
        #{designUnitPerson,jdbcType=VARCHAR},
      </if>
      <if test="constructionUnitPerson != null" >
        #{constructionUnitPerson,jdbcType=VARCHAR},
      </if>
      <if test="chiefEngineerConstructionInspection != null" >
        #{chiefEngineerConstructionInspection,jdbcType=VARCHAR},
      </if>
      <if test="contractPeriod != null" >
        #{contractPeriod,jdbcType=TIMESTAMP},
      </if>
      <if test="remark != null" >
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="creator != null" >
        #{creator,jdbcType=VARCHAR},
      </if>
      <if test="gmtCreated != null" >
        #{gmtCreated,jdbcType=TIMESTAMP},
      </if>
      <if test="gmtModified != null" >
        #{gmtModified,jdbcType=TIMESTAMP},
      </if>
      <if test="masterId != null" >
        #{masterId,jdbcType=INTEGER},
      </if>
      <if test="masterType != null" >
        #{masterType,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.copower.pmcc.assess.dal.basis.entity.DeclareBuildingConstructionPermitExample" resultType="java.lang.Integer" >
    select count(*) from tb_declare_building_construction_permit
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update tb_declare_building_construction_permit
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.planDetailsId != null" >
        plan_details_id = #{record.planDetailsId,jdbcType=INTEGER},
      </if>
      <if test="record.certificateNumber != null" >
        certificate_number = #{record.certificateNumber,jdbcType=VARCHAR},
      </if>
      <if test="record.issuingOrgan != null" >
        issuing_organ = #{record.issuingOrgan,jdbcType=VARCHAR},
      </if>
      <if test="record.date != null" >
        date = #{record.date,jdbcType=TIMESTAMP},
      </if>
      <if test="record.buildUnit != null" >
        build_unit = #{record.buildUnit,jdbcType=VARCHAR},
      </if>
      <if test="record.name != null" >
        name = #{record.name,jdbcType=VARCHAR},
      </if>
      <if test="record.buildAddress != null" >
        build_address = #{record.buildAddress,jdbcType=VARCHAR},
      </if>
      <if test="record.scaleConstruction != null" >
        scale_construction = #{record.scaleConstruction,jdbcType=VARCHAR},
      </if>
      <if test="record.reconnaissanceUnit != null" >
        reconnaissance_unit = #{record.reconnaissanceUnit,jdbcType=VARCHAR},
      </if>
      <if test="record.designUnit != null" >
        design_unit = #{record.designUnit,jdbcType=VARCHAR},
      </if>
      <if test="record.constructionUnit != null" >
        construction_unit = #{record.constructionUnit,jdbcType=VARCHAR},
      </if>
      <if test="record.constructionControlUnit != null" >
        construction_control_unit = #{record.constructionControlUnit,jdbcType=VARCHAR},
      </if>
      <if test="record.reconnaissanceUnitPerson != null" >
        reconnaissance_unit_person = #{record.reconnaissanceUnitPerson,jdbcType=VARCHAR},
      </if>
      <if test="record.designUnitPerson != null" >
        design_unit_person = #{record.designUnitPerson,jdbcType=VARCHAR},
      </if>
      <if test="record.constructionUnitPerson != null" >
        construction_unit_person = #{record.constructionUnitPerson,jdbcType=VARCHAR},
      </if>
      <if test="record.chiefEngineerConstructionInspection != null" >
        chief_engineer_construction_inspection = #{record.chiefEngineerConstructionInspection,jdbcType=VARCHAR},
      </if>
      <if test="record.contractPeriod != null" >
        contract_period = #{record.contractPeriod,jdbcType=TIMESTAMP},
      </if>
      <if test="record.remark != null" >
        remark = #{record.remark,jdbcType=VARCHAR},
      </if>
      <if test="record.creator != null" >
        creator = #{record.creator,jdbcType=VARCHAR},
      </if>
      <if test="record.gmtCreated != null" >
        gmt_created = #{record.gmtCreated,jdbcType=TIMESTAMP},
      </if>
      <if test="record.gmtModified != null" >
        gmt_modified = #{record.gmtModified,jdbcType=TIMESTAMP},
      </if>
      <if test="record.masterId != null" >
        master_id = #{record.masterId,jdbcType=INTEGER},
      </if>
      <if test="record.masterType != null" >
        master_type = #{record.masterType,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update tb_declare_building_construction_permit
    set id = #{record.id,jdbcType=INTEGER},
      plan_details_id = #{record.planDetailsId,jdbcType=INTEGER},
      certificate_number = #{record.certificateNumber,jdbcType=VARCHAR},
      issuing_organ = #{record.issuingOrgan,jdbcType=VARCHAR},
      date = #{record.date,jdbcType=TIMESTAMP},
      build_unit = #{record.buildUnit,jdbcType=VARCHAR},
      name = #{record.name,jdbcType=VARCHAR},
      build_address = #{record.buildAddress,jdbcType=VARCHAR},
      scale_construction = #{record.scaleConstruction,jdbcType=VARCHAR},
      reconnaissance_unit = #{record.reconnaissanceUnit,jdbcType=VARCHAR},
      design_unit = #{record.designUnit,jdbcType=VARCHAR},
      construction_unit = #{record.constructionUnit,jdbcType=VARCHAR},
      construction_control_unit = #{record.constructionControlUnit,jdbcType=VARCHAR},
      reconnaissance_unit_person = #{record.reconnaissanceUnitPerson,jdbcType=VARCHAR},
      design_unit_person = #{record.designUnitPerson,jdbcType=VARCHAR},
      construction_unit_person = #{record.constructionUnitPerson,jdbcType=VARCHAR},
      chief_engineer_construction_inspection = #{record.chiefEngineerConstructionInspection,jdbcType=VARCHAR},
      contract_period = #{record.contractPeriod,jdbcType=TIMESTAMP},
      remark = #{record.remark,jdbcType=VARCHAR},
      creator = #{record.creator,jdbcType=VARCHAR},
      gmt_created = #{record.gmtCreated,jdbcType=TIMESTAMP},
      gmt_modified = #{record.gmtModified,jdbcType=TIMESTAMP},
      master_id = #{record.masterId,jdbcType=INTEGER},
      master_type = #{record.masterType,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.copower.pmcc.assess.dal.basis.entity.DeclareBuildingConstructionPermit" >
    update tb_declare_building_construction_permit
    <set >
      <if test="planDetailsId != null" >
        plan_details_id = #{planDetailsId,jdbcType=INTEGER},
      </if>
      <if test="certificateNumber != null" >
        certificate_number = #{certificateNumber,jdbcType=VARCHAR},
      </if>
      <if test="issuingOrgan != null" >
        issuing_organ = #{issuingOrgan,jdbcType=VARCHAR},
      </if>
      <if test="date != null" >
        date = #{date,jdbcType=TIMESTAMP},
      </if>
      <if test="buildUnit != null" >
        build_unit = #{buildUnit,jdbcType=VARCHAR},
      </if>
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="buildAddress != null" >
        build_address = #{buildAddress,jdbcType=VARCHAR},
      </if>
      <if test="scaleConstruction != null" >
        scale_construction = #{scaleConstruction,jdbcType=VARCHAR},
      </if>
      <if test="reconnaissanceUnit != null" >
        reconnaissance_unit = #{reconnaissanceUnit,jdbcType=VARCHAR},
      </if>
      <if test="designUnit != null" >
        design_unit = #{designUnit,jdbcType=VARCHAR},
      </if>
      <if test="constructionUnit != null" >
        construction_unit = #{constructionUnit,jdbcType=VARCHAR},
      </if>
      <if test="constructionControlUnit != null" >
        construction_control_unit = #{constructionControlUnit,jdbcType=VARCHAR},
      </if>
      <if test="reconnaissanceUnitPerson != null" >
        reconnaissance_unit_person = #{reconnaissanceUnitPerson,jdbcType=VARCHAR},
      </if>
      <if test="designUnitPerson != null" >
        design_unit_person = #{designUnitPerson,jdbcType=VARCHAR},
      </if>
      <if test="constructionUnitPerson != null" >
        construction_unit_person = #{constructionUnitPerson,jdbcType=VARCHAR},
      </if>
      <if test="chiefEngineerConstructionInspection != null" >
        chief_engineer_construction_inspection = #{chiefEngineerConstructionInspection,jdbcType=VARCHAR},
      </if>
      <if test="contractPeriod != null" >
        contract_period = #{contractPeriod,jdbcType=TIMESTAMP},
      </if>
      <if test="remark != null" >
        remark = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="creator != null" >
        creator = #{creator,jdbcType=VARCHAR},
      </if>
      <if test="gmtCreated != null" >
        gmt_created = #{gmtCreated,jdbcType=TIMESTAMP},
      </if>
      <if test="gmtModified != null" >
        gmt_modified = #{gmtModified,jdbcType=TIMESTAMP},
      </if>
      <if test="masterId != null" >
        master_id = #{masterId,jdbcType=INTEGER},
      </if>
      <if test="masterType != null" >
        master_type = #{masterType,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.copower.pmcc.assess.dal.basis.entity.DeclareBuildingConstructionPermit" >
    update tb_declare_building_construction_permit
    set plan_details_id = #{planDetailsId,jdbcType=INTEGER},
      certificate_number = #{certificateNumber,jdbcType=VARCHAR},
      issuing_organ = #{issuingOrgan,jdbcType=VARCHAR},
      date = #{date,jdbcType=TIMESTAMP},
      build_unit = #{buildUnit,jdbcType=VARCHAR},
      name = #{name,jdbcType=VARCHAR},
      build_address = #{buildAddress,jdbcType=VARCHAR},
      scale_construction = #{scaleConstruction,jdbcType=VARCHAR},
      reconnaissance_unit = #{reconnaissanceUnit,jdbcType=VARCHAR},
      design_unit = #{designUnit,jdbcType=VARCHAR},
      construction_unit = #{constructionUnit,jdbcType=VARCHAR},
      construction_control_unit = #{constructionControlUnit,jdbcType=VARCHAR},
      reconnaissance_unit_person = #{reconnaissanceUnitPerson,jdbcType=VARCHAR},
      design_unit_person = #{designUnitPerson,jdbcType=VARCHAR},
      construction_unit_person = #{constructionUnitPerson,jdbcType=VARCHAR},
      chief_engineer_construction_inspection = #{chiefEngineerConstructionInspection,jdbcType=VARCHAR},
      contract_period = #{contractPeriod,jdbcType=TIMESTAMP},
      remark = #{remark,jdbcType=VARCHAR},
      creator = #{creator,jdbcType=VARCHAR},
      gmt_created = #{gmtCreated,jdbcType=TIMESTAMP},
      gmt_modified = #{gmtModified,jdbcType=TIMESTAMP},
      master_id = #{masterId,jdbcType=INTEGER},
      master_type = #{masterType,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>