<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.copower.pmcc.assess.dal.basis.mapper.DeclarePreSalePermitMapper" >
  <resultMap id="BaseResultMap" type="com.copower.pmcc.assess.dal.basis.entity.DeclarePreSalePermit" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="plan_details_id" property="planDetailsId" jdbcType="INTEGER" />
    <result column="certificate_number" property="certificateNumber" jdbcType="VARCHAR" />
    <result column="issuing_organ" property="issuingOrgan" jdbcType="VARCHAR" />
    <result column="sales_unit" property="salesUnit" jdbcType="VARCHAR" />
    <result column="legal_representative" property="legalRepresentative" jdbcType="VARCHAR" />
    <result column="be_located" property="beLocated" jdbcType="VARCHAR" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="pre_sale_area" property="preSaleArea" jdbcType="DECIMAL" />
    <result column="pre_sale_scope" property="preSaleScope" jdbcType="VARCHAR" />
    <result column="housing_use" property="housingUse" jdbcType="VARCHAR" />
    <result column="building_structure" property="buildingStructure" jdbcType="VARCHAR" />
    <result column="pre_sale_supervision_information" property="preSaleSupervisionInformation" jdbcType="VARCHAR" />
    <result column="date" property="date" jdbcType="TIMESTAMP" />
    <result column="mortgage_situation" property="mortgageSituation" jdbcType="VARCHAR" />
    <result column="creator" property="creator" jdbcType="VARCHAR" />
    <result column="gmt_created" property="gmtCreated" jdbcType="TIMESTAMP" />
    <result column="gmt_modified" property="gmtModified" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, plan_details_id, certificate_number, issuing_organ, sales_unit, legal_representative, 
    be_located, name, pre_sale_area, pre_sale_scope, housing_use, building_structure, 
    pre_sale_supervision_information, date, mortgage_situation, creator, gmt_created, 
    gmt_modified
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.copower.pmcc.assess.dal.basis.entity.DeclarePreSalePermitExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from tb_declare_pre_sale_permit
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from tb_declare_pre_sale_permit
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from tb_declare_pre_sale_permit
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.copower.pmcc.assess.dal.basis.entity.DeclarePreSalePermitExample" >
    delete from tb_declare_pre_sale_permit
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.copower.pmcc.assess.dal.basis.entity.DeclarePreSalePermit" >
    <selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into tb_declare_pre_sale_permit (plan_details_id, certificate_number, 
      issuing_organ, sales_unit, legal_representative, 
      be_located, name, pre_sale_area, 
      pre_sale_scope, housing_use, building_structure, 
      pre_sale_supervision_information, date, 
      mortgage_situation, creator, gmt_created, 
      gmt_modified)
    values (#{planDetailsId,jdbcType=INTEGER}, #{certificateNumber,jdbcType=VARCHAR}, 
      #{issuingOrgan,jdbcType=VARCHAR}, #{salesUnit,jdbcType=VARCHAR}, #{legalRepresentative,jdbcType=VARCHAR}, 
      #{beLocated,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR}, #{preSaleArea,jdbcType=DECIMAL}, 
      #{preSaleScope,jdbcType=VARCHAR}, #{housingUse,jdbcType=VARCHAR}, #{buildingStructure,jdbcType=VARCHAR}, 
      #{preSaleSupervisionInformation,jdbcType=VARCHAR}, #{date,jdbcType=TIMESTAMP}, 
      #{mortgageSituation,jdbcType=VARCHAR}, #{creator,jdbcType=VARCHAR}, #{gmtCreated,jdbcType=TIMESTAMP}, 
      #{gmtModified,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.copower.pmcc.assess.dal.basis.entity.DeclarePreSalePermit" >
    <selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into tb_declare_pre_sale_permit
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="planDetailsId != null" >
        plan_details_id,
      </if>
      <if test="certificateNumber != null" >
        certificate_number,
      </if>
      <if test="issuingOrgan != null" >
        issuing_organ,
      </if>
      <if test="salesUnit != null" >
        sales_unit,
      </if>
      <if test="legalRepresentative != null" >
        legal_representative,
      </if>
      <if test="beLocated != null" >
        be_located,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="preSaleArea != null" >
        pre_sale_area,
      </if>
      <if test="preSaleScope != null" >
        pre_sale_scope,
      </if>
      <if test="housingUse != null" >
        housing_use,
      </if>
      <if test="buildingStructure != null" >
        building_structure,
      </if>
      <if test="preSaleSupervisionInformation != null" >
        pre_sale_supervision_information,
      </if>
      <if test="date != null" >
        date,
      </if>
      <if test="mortgageSituation != null" >
        mortgage_situation,
      </if>
      <if test="creator != null" >
        creator,
      </if>
      <if test="gmtCreated != null" >
        gmt_created,
      </if>
      <if test="gmtModified != null" >
        gmt_modified,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="planDetailsId != null" >
        #{planDetailsId,jdbcType=INTEGER},
      </if>
      <if test="certificateNumber != null" >
        #{certificateNumber,jdbcType=VARCHAR},
      </if>
      <if test="issuingOrgan != null" >
        #{issuingOrgan,jdbcType=VARCHAR},
      </if>
      <if test="salesUnit != null" >
        #{salesUnit,jdbcType=VARCHAR},
      </if>
      <if test="legalRepresentative != null" >
        #{legalRepresentative,jdbcType=VARCHAR},
      </if>
      <if test="beLocated != null" >
        #{beLocated,jdbcType=VARCHAR},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="preSaleArea != null" >
        #{preSaleArea,jdbcType=DECIMAL},
      </if>
      <if test="preSaleScope != null" >
        #{preSaleScope,jdbcType=VARCHAR},
      </if>
      <if test="housingUse != null" >
        #{housingUse,jdbcType=VARCHAR},
      </if>
      <if test="buildingStructure != null" >
        #{buildingStructure,jdbcType=VARCHAR},
      </if>
      <if test="preSaleSupervisionInformation != null" >
        #{preSaleSupervisionInformation,jdbcType=VARCHAR},
      </if>
      <if test="date != null" >
        #{date,jdbcType=TIMESTAMP},
      </if>
      <if test="mortgageSituation != null" >
        #{mortgageSituation,jdbcType=VARCHAR},
      </if>
      <if test="creator != null" >
        #{creator,jdbcType=VARCHAR},
      </if>
      <if test="gmtCreated != null" >
        #{gmtCreated,jdbcType=TIMESTAMP},
      </if>
      <if test="gmtModified != null" >
        #{gmtModified,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.copower.pmcc.assess.dal.basis.entity.DeclarePreSalePermitExample" resultType="java.lang.Integer" >
    select count(*) from tb_declare_pre_sale_permit
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update tb_declare_pre_sale_permit
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.planDetailsId != null" >
        plan_details_id = #{record.planDetailsId,jdbcType=INTEGER},
      </if>
      <if test="record.certificateNumber != null" >
        certificate_number = #{record.certificateNumber,jdbcType=VARCHAR},
      </if>
      <if test="record.issuingOrgan != null" >
        issuing_organ = #{record.issuingOrgan,jdbcType=VARCHAR},
      </if>
      <if test="record.salesUnit != null" >
        sales_unit = #{record.salesUnit,jdbcType=VARCHAR},
      </if>
      <if test="record.legalRepresentative != null" >
        legal_representative = #{record.legalRepresentative,jdbcType=VARCHAR},
      </if>
      <if test="record.beLocated != null" >
        be_located = #{record.beLocated,jdbcType=VARCHAR},
      </if>
      <if test="record.name != null" >
        name = #{record.name,jdbcType=VARCHAR},
      </if>
      <if test="record.preSaleArea != null" >
        pre_sale_area = #{record.preSaleArea,jdbcType=DECIMAL},
      </if>
      <if test="record.preSaleScope != null" >
        pre_sale_scope = #{record.preSaleScope,jdbcType=VARCHAR},
      </if>
      <if test="record.housingUse != null" >
        housing_use = #{record.housingUse,jdbcType=VARCHAR},
      </if>
      <if test="record.buildingStructure != null" >
        building_structure = #{record.buildingStructure,jdbcType=VARCHAR},
      </if>
      <if test="record.preSaleSupervisionInformation != null" >
        pre_sale_supervision_information = #{record.preSaleSupervisionInformation,jdbcType=VARCHAR},
      </if>
      <if test="record.date != null" >
        date = #{record.date,jdbcType=TIMESTAMP},
      </if>
      <if test="record.mortgageSituation != null" >
        mortgage_situation = #{record.mortgageSituation,jdbcType=VARCHAR},
      </if>
      <if test="record.creator != null" >
        creator = #{record.creator,jdbcType=VARCHAR},
      </if>
      <if test="record.gmtCreated != null" >
        gmt_created = #{record.gmtCreated,jdbcType=TIMESTAMP},
      </if>
      <if test="record.gmtModified != null" >
        gmt_modified = #{record.gmtModified,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update tb_declare_pre_sale_permit
    set id = #{record.id,jdbcType=INTEGER},
      plan_details_id = #{record.planDetailsId,jdbcType=INTEGER},
      certificate_number = #{record.certificateNumber,jdbcType=VARCHAR},
      issuing_organ = #{record.issuingOrgan,jdbcType=VARCHAR},
      sales_unit = #{record.salesUnit,jdbcType=VARCHAR},
      legal_representative = #{record.legalRepresentative,jdbcType=VARCHAR},
      be_located = #{record.beLocated,jdbcType=VARCHAR},
      name = #{record.name,jdbcType=VARCHAR},
      pre_sale_area = #{record.preSaleArea,jdbcType=DECIMAL},
      pre_sale_scope = #{record.preSaleScope,jdbcType=VARCHAR},
      housing_use = #{record.housingUse,jdbcType=VARCHAR},
      building_structure = #{record.buildingStructure,jdbcType=VARCHAR},
      pre_sale_supervision_information = #{record.preSaleSupervisionInformation,jdbcType=VARCHAR},
      date = #{record.date,jdbcType=TIMESTAMP},
      mortgage_situation = #{record.mortgageSituation,jdbcType=VARCHAR},
      creator = #{record.creator,jdbcType=VARCHAR},
      gmt_created = #{record.gmtCreated,jdbcType=TIMESTAMP},
      gmt_modified = #{record.gmtModified,jdbcType=TIMESTAMP}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.copower.pmcc.assess.dal.basis.entity.DeclarePreSalePermit" >
    update tb_declare_pre_sale_permit
    <set >
      <if test="planDetailsId != null" >
        plan_details_id = #{planDetailsId,jdbcType=INTEGER},
      </if>
      <if test="certificateNumber != null" >
        certificate_number = #{certificateNumber,jdbcType=VARCHAR},
      </if>
      <if test="issuingOrgan != null" >
        issuing_organ = #{issuingOrgan,jdbcType=VARCHAR},
      </if>
      <if test="salesUnit != null" >
        sales_unit = #{salesUnit,jdbcType=VARCHAR},
      </if>
      <if test="legalRepresentative != null" >
        legal_representative = #{legalRepresentative,jdbcType=VARCHAR},
      </if>
      <if test="beLocated != null" >
        be_located = #{beLocated,jdbcType=VARCHAR},
      </if>
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="preSaleArea != null" >
        pre_sale_area = #{preSaleArea,jdbcType=DECIMAL},
      </if>
      <if test="preSaleScope != null" >
        pre_sale_scope = #{preSaleScope,jdbcType=VARCHAR},
      </if>
      <if test="housingUse != null" >
        housing_use = #{housingUse,jdbcType=VARCHAR},
      </if>
      <if test="buildingStructure != null" >
        building_structure = #{buildingStructure,jdbcType=VARCHAR},
      </if>
      <if test="preSaleSupervisionInformation != null" >
        pre_sale_supervision_information = #{preSaleSupervisionInformation,jdbcType=VARCHAR},
      </if>
      <if test="date != null" >
        date = #{date,jdbcType=TIMESTAMP},
      </if>
      <if test="mortgageSituation != null" >
        mortgage_situation = #{mortgageSituation,jdbcType=VARCHAR},
      </if>
      <if test="creator != null" >
        creator = #{creator,jdbcType=VARCHAR},
      </if>
      <if test="gmtCreated != null" >
        gmt_created = #{gmtCreated,jdbcType=TIMESTAMP},
      </if>
      <if test="gmtModified != null" >
        gmt_modified = #{gmtModified,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.copower.pmcc.assess.dal.basis.entity.DeclarePreSalePermit" >
    update tb_declare_pre_sale_permit
    set plan_details_id = #{planDetailsId,jdbcType=INTEGER},
      certificate_number = #{certificateNumber,jdbcType=VARCHAR},
      issuing_organ = #{issuingOrgan,jdbcType=VARCHAR},
      sales_unit = #{salesUnit,jdbcType=VARCHAR},
      legal_representative = #{legalRepresentative,jdbcType=VARCHAR},
      be_located = #{beLocated,jdbcType=VARCHAR},
      name = #{name,jdbcType=VARCHAR},
      pre_sale_area = #{preSaleArea,jdbcType=DECIMAL},
      pre_sale_scope = #{preSaleScope,jdbcType=VARCHAR},
      housing_use = #{housingUse,jdbcType=VARCHAR},
      building_structure = #{buildingStructure,jdbcType=VARCHAR},
      pre_sale_supervision_information = #{preSaleSupervisionInformation,jdbcType=VARCHAR},
      date = #{date,jdbcType=TIMESTAMP},
      mortgage_situation = #{mortgageSituation,jdbcType=VARCHAR},
      creator = #{creator,jdbcType=VARCHAR},
      gmt_created = #{gmtCreated,jdbcType=TIMESTAMP},
      gmt_modified = #{gmtModified,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>