<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.copower.pmcc.assess.dal.basis.mapper.DocumentOpinionMapper" >
  <resultMap id="BaseResultMap" type="com.copower.pmcc.assess.dal.basis.entity.DocumentOpinion" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="number" property="number" jdbcType="VARCHAR" />
    <result column="title" property="title" jdbcType="VARCHAR" />
    <result column="contract_type" property="contractType" jdbcType="INTEGER" />
    <result column="process_ins_id" property="processInsId" jdbcType="VARCHAR" />
    <result column="status" property="status" jdbcType="VARCHAR" />
    <result column="uuid" property="uuid" jdbcType="VARCHAR" />
    <result column="project_id" property="projectId" jdbcType="INTEGER" />
    <result column="creator" property="creator" jdbcType="VARCHAR" />
    <result column="created" property="created" jdbcType="TIMESTAMP" />
    <result column="area_group_id" property="areaGroupId" jdbcType="INTEGER" />
    <result column="report_type_id" property="reportTypeId" jdbcType="INTEGER" />
    <result column="generation_id" property="generationId" jdbcType="INTEGER" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="com.copower.pmcc.assess.dal.basis.entity.DocumentOpinion" extends="BaseResultMap" >
    <result column="extend_conten" property="extendConten" jdbcType="LONGVARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, number, title, contract_type, process_ins_id, status, uuid, project_id, creator, 
    created, area_group_id, report_type_id, generation_id
  </sql>
  <sql id="Blob_Column_List" >
    extend_conten
  </sql>
  <select id="selectByExampleWithBLOBs" resultMap="ResultMapWithBLOBs" parameterType="com.copower.pmcc.assess.dal.basis.entity.DocumentOpinionExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from tb_document_opinion
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.copower.pmcc.assess.dal.basis.entity.DocumentOpinionExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from tb_document_opinion
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="ResultMapWithBLOBs" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from tb_document_opinion
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from tb_document_opinion
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.copower.pmcc.assess.dal.basis.entity.DocumentOpinionExample" >
    delete from tb_document_opinion
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.copower.pmcc.assess.dal.basis.entity.DocumentOpinion" >
    <selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into tb_document_opinion (number, title, contract_type, 
      process_ins_id, status, uuid, 
      project_id, creator, created, 
      area_group_id, report_type_id, generation_id, 
      extend_conten)
    values (#{number,jdbcType=VARCHAR}, #{title,jdbcType=VARCHAR}, #{contractType,jdbcType=INTEGER}, 
      #{processInsId,jdbcType=VARCHAR}, #{status,jdbcType=VARCHAR}, #{uuid,jdbcType=VARCHAR}, 
      #{projectId,jdbcType=INTEGER}, #{creator,jdbcType=VARCHAR}, #{created,jdbcType=TIMESTAMP}, 
      #{areaGroupId,jdbcType=INTEGER}, #{reportTypeId,jdbcType=INTEGER}, #{generationId,jdbcType=INTEGER}, 
      #{extendConten,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.copower.pmcc.assess.dal.basis.entity.DocumentOpinion" >
    <selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into tb_document_opinion
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="number != null" >
        number,
      </if>
      <if test="title != null" >
        title,
      </if>
      <if test="contractType != null" >
        contract_type,
      </if>
      <if test="processInsId != null" >
        process_ins_id,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="uuid != null" >
        uuid,
      </if>
      <if test="projectId != null" >
        project_id,
      </if>
      <if test="creator != null" >
        creator,
      </if>
      <if test="created != null" >
        created,
      </if>
      <if test="areaGroupId != null" >
        area_group_id,
      </if>
      <if test="reportTypeId != null" >
        report_type_id,
      </if>
      <if test="generationId != null" >
        generation_id,
      </if>
      <if test="extendConten != null" >
        extend_conten,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="number != null" >
        #{number,jdbcType=VARCHAR},
      </if>
      <if test="title != null" >
        #{title,jdbcType=VARCHAR},
      </if>
      <if test="contractType != null" >
        #{contractType,jdbcType=INTEGER},
      </if>
      <if test="processInsId != null" >
        #{processInsId,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        #{status,jdbcType=VARCHAR},
      </if>
      <if test="uuid != null" >
        #{uuid,jdbcType=VARCHAR},
      </if>
      <if test="projectId != null" >
        #{projectId,jdbcType=INTEGER},
      </if>
      <if test="creator != null" >
        #{creator,jdbcType=VARCHAR},
      </if>
      <if test="created != null" >
        #{created,jdbcType=TIMESTAMP},
      </if>
      <if test="areaGroupId != null" >
        #{areaGroupId,jdbcType=INTEGER},
      </if>
      <if test="reportTypeId != null" >
        #{reportTypeId,jdbcType=INTEGER},
      </if>
      <if test="generationId != null" >
        #{generationId,jdbcType=INTEGER},
      </if>
      <if test="extendConten != null" >
        #{extendConten,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.copower.pmcc.assess.dal.basis.entity.DocumentOpinionExample" resultType="java.lang.Integer" >
    select count(*) from tb_document_opinion
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update tb_document_opinion
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.number != null" >
        number = #{record.number,jdbcType=VARCHAR},
      </if>
      <if test="record.title != null" >
        title = #{record.title,jdbcType=VARCHAR},
      </if>
      <if test="record.contractType != null" >
        contract_type = #{record.contractType,jdbcType=INTEGER},
      </if>
      <if test="record.processInsId != null" >
        process_ins_id = #{record.processInsId,jdbcType=VARCHAR},
      </if>
      <if test="record.status != null" >
        status = #{record.status,jdbcType=VARCHAR},
      </if>
      <if test="record.uuid != null" >
        uuid = #{record.uuid,jdbcType=VARCHAR},
      </if>
      <if test="record.projectId != null" >
        project_id = #{record.projectId,jdbcType=INTEGER},
      </if>
      <if test="record.creator != null" >
        creator = #{record.creator,jdbcType=VARCHAR},
      </if>
      <if test="record.created != null" >
        created = #{record.created,jdbcType=TIMESTAMP},
      </if>
      <if test="record.areaGroupId != null" >
        area_group_id = #{record.areaGroupId,jdbcType=INTEGER},
      </if>
      <if test="record.reportTypeId != null" >
        report_type_id = #{record.reportTypeId,jdbcType=INTEGER},
      </if>
      <if test="record.generationId != null" >
        generation_id = #{record.generationId,jdbcType=INTEGER},
      </if>
      <if test="record.extendConten != null" >
        extend_conten = #{record.extendConten,jdbcType=LONGVARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExampleWithBLOBs" parameterType="map" >
    update tb_document_opinion
    set id = #{record.id,jdbcType=INTEGER},
      number = #{record.number,jdbcType=VARCHAR},
      title = #{record.title,jdbcType=VARCHAR},
      contract_type = #{record.contractType,jdbcType=INTEGER},
      process_ins_id = #{record.processInsId,jdbcType=VARCHAR},
      status = #{record.status,jdbcType=VARCHAR},
      uuid = #{record.uuid,jdbcType=VARCHAR},
      project_id = #{record.projectId,jdbcType=INTEGER},
      creator = #{record.creator,jdbcType=VARCHAR},
      created = #{record.created,jdbcType=TIMESTAMP},
      area_group_id = #{record.areaGroupId,jdbcType=INTEGER},
      report_type_id = #{record.reportTypeId,jdbcType=INTEGER},
      generation_id = #{record.generationId,jdbcType=INTEGER},
      extend_conten = #{record.extendConten,jdbcType=LONGVARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update tb_document_opinion
    set id = #{record.id,jdbcType=INTEGER},
      number = #{record.number,jdbcType=VARCHAR},
      title = #{record.title,jdbcType=VARCHAR},
      contract_type = #{record.contractType,jdbcType=INTEGER},
      process_ins_id = #{record.processInsId,jdbcType=VARCHAR},
      status = #{record.status,jdbcType=VARCHAR},
      uuid = #{record.uuid,jdbcType=VARCHAR},
      project_id = #{record.projectId,jdbcType=INTEGER},
      creator = #{record.creator,jdbcType=VARCHAR},
      created = #{record.created,jdbcType=TIMESTAMP},
      area_group_id = #{record.areaGroupId,jdbcType=INTEGER},
      report_type_id = #{record.reportTypeId,jdbcType=INTEGER},
      generation_id = #{record.generationId,jdbcType=INTEGER}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.copower.pmcc.assess.dal.basis.entity.DocumentOpinion" >
    update tb_document_opinion
    <set >
      <if test="number != null" >
        number = #{number,jdbcType=VARCHAR},
      </if>
      <if test="title != null" >
        title = #{title,jdbcType=VARCHAR},
      </if>
      <if test="contractType != null" >
        contract_type = #{contractType,jdbcType=INTEGER},
      </if>
      <if test="processInsId != null" >
        process_ins_id = #{processInsId,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=VARCHAR},
      </if>
      <if test="uuid != null" >
        uuid = #{uuid,jdbcType=VARCHAR},
      </if>
      <if test="projectId != null" >
        project_id = #{projectId,jdbcType=INTEGER},
      </if>
      <if test="creator != null" >
        creator = #{creator,jdbcType=VARCHAR},
      </if>
      <if test="created != null" >
        created = #{created,jdbcType=TIMESTAMP},
      </if>
      <if test="areaGroupId != null" >
        area_group_id = #{areaGroupId,jdbcType=INTEGER},
      </if>
      <if test="reportTypeId != null" >
        report_type_id = #{reportTypeId,jdbcType=INTEGER},
      </if>
      <if test="generationId != null" >
        generation_id = #{generationId,jdbcType=INTEGER},
      </if>
      <if test="extendConten != null" >
        extend_conten = #{extendConten,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.copower.pmcc.assess.dal.basis.entity.DocumentOpinion" >
    update tb_document_opinion
    set number = #{number,jdbcType=VARCHAR},
      title = #{title,jdbcType=VARCHAR},
      contract_type = #{contractType,jdbcType=INTEGER},
      process_ins_id = #{processInsId,jdbcType=VARCHAR},
      status = #{status,jdbcType=VARCHAR},
      uuid = #{uuid,jdbcType=VARCHAR},
      project_id = #{projectId,jdbcType=INTEGER},
      creator = #{creator,jdbcType=VARCHAR},
      created = #{created,jdbcType=TIMESTAMP},
      area_group_id = #{areaGroupId,jdbcType=INTEGER},
      report_type_id = #{reportTypeId,jdbcType=INTEGER},
      generation_id = #{generationId,jdbcType=INTEGER},
      extend_conten = #{extendConten,jdbcType=LONGVARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.copower.pmcc.assess.dal.basis.entity.DocumentOpinion" >
    update tb_document_opinion
    set number = #{number,jdbcType=VARCHAR},
      title = #{title,jdbcType=VARCHAR},
      contract_type = #{contractType,jdbcType=INTEGER},
      process_ins_id = #{processInsId,jdbcType=VARCHAR},
      status = #{status,jdbcType=VARCHAR},
      uuid = #{uuid,jdbcType=VARCHAR},
      project_id = #{projectId,jdbcType=INTEGER},
      creator = #{creator,jdbcType=VARCHAR},
      created = #{created,jdbcType=TIMESTAMP},
      area_group_id = #{areaGroupId,jdbcType=INTEGER},
      report_type_id = #{reportTypeId,jdbcType=INTEGER},
      generation_id = #{generationId,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>