<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.copower.pmcc.assess.dal.basis.mapper.ExamineHouseRoomMapper" >
  <resultMap id="BaseResultMap" type="com.copower.pmcc.assess.dal.basis.entity.ExamineHouseRoom" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="declare_id" property="declareId" jdbcType="INTEGER" />
    <result column="examine_type" property="examineType" jdbcType="INTEGER" />
    <result column="room_type" property="roomType" jdbcType="INTEGER" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="area" property="area" jdbcType="DECIMAL" />
    <result column="orientation" property="orientation" jdbcType="VARCHAR" />
    <result column="aeration" property="aeration" jdbcType="VARCHAR" />
    <result column="Illumination" property="illumination" jdbcType="VARCHAR" />
    <result column="sound_insulation" property="soundInsulation" jdbcType="VARCHAR" />
    <result column="creator" property="creator" jdbcType="VARCHAR" />
    <result column="gmt_created" property="gmtCreated" jdbcType="TIMESTAMP" />
    <result column="gmt_modified" property="gmtModified" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, declare_id, examine_type, room_type, name, area, orientation, aeration, Illumination, 
    sound_insulation, creator, gmt_created, gmt_modified
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.copower.pmcc.assess.dal.basis.entity.ExamineHouseRoomExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from tb_examine_house_room
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from tb_examine_house_room
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from tb_examine_house_room
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.copower.pmcc.assess.dal.basis.entity.ExamineHouseRoomExample" >
    delete from tb_examine_house_room
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.copower.pmcc.assess.dal.basis.entity.ExamineHouseRoom" >
    <selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into tb_examine_house_room (declare_id, examine_type, room_type, 
      name, area, orientation, 
      aeration, Illumination, sound_insulation, 
      creator, gmt_created, gmt_modified
      )
    values (#{declareId,jdbcType=INTEGER}, #{examineType,jdbcType=INTEGER}, #{roomType,jdbcType=INTEGER}, 
      #{name,jdbcType=VARCHAR}, #{area,jdbcType=DECIMAL}, #{orientation,jdbcType=VARCHAR}, 
      #{aeration,jdbcType=VARCHAR}, #{illumination,jdbcType=VARCHAR}, #{soundInsulation,jdbcType=VARCHAR}, 
      #{creator,jdbcType=VARCHAR}, #{gmtCreated,jdbcType=TIMESTAMP}, #{gmtModified,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.copower.pmcc.assess.dal.basis.entity.ExamineHouseRoom" >
    <selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into tb_examine_house_room
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="declareId != null" >
        declare_id,
      </if>
      <if test="examineType != null" >
        examine_type,
      </if>
      <if test="roomType != null" >
        room_type,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="area != null" >
        area,
      </if>
      <if test="orientation != null" >
        orientation,
      </if>
      <if test="aeration != null" >
        aeration,
      </if>
      <if test="illumination != null" >
        Illumination,
      </if>
      <if test="soundInsulation != null" >
        sound_insulation,
      </if>
      <if test="creator != null" >
        creator,
      </if>
      <if test="gmtCreated != null" >
        gmt_created,
      </if>
      <if test="gmtModified != null" >
        gmt_modified,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="declareId != null" >
        #{declareId,jdbcType=INTEGER},
      </if>
      <if test="examineType != null" >
        #{examineType,jdbcType=INTEGER},
      </if>
      <if test="roomType != null" >
        #{roomType,jdbcType=INTEGER},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="area != null" >
        #{area,jdbcType=DECIMAL},
      </if>
      <if test="orientation != null" >
        #{orientation,jdbcType=VARCHAR},
      </if>
      <if test="aeration != null" >
        #{aeration,jdbcType=VARCHAR},
      </if>
      <if test="illumination != null" >
        #{illumination,jdbcType=VARCHAR},
      </if>
      <if test="soundInsulation != null" >
        #{soundInsulation,jdbcType=VARCHAR},
      </if>
      <if test="creator != null" >
        #{creator,jdbcType=VARCHAR},
      </if>
      <if test="gmtCreated != null" >
        #{gmtCreated,jdbcType=TIMESTAMP},
      </if>
      <if test="gmtModified != null" >
        #{gmtModified,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.copower.pmcc.assess.dal.basis.entity.ExamineHouseRoomExample" resultType="java.lang.Integer" >
    select count(*) from tb_examine_house_room
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update tb_examine_house_room
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.declareId != null" >
        declare_id = #{record.declareId,jdbcType=INTEGER},
      </if>
      <if test="record.examineType != null" >
        examine_type = #{record.examineType,jdbcType=INTEGER},
      </if>
      <if test="record.roomType != null" >
        room_type = #{record.roomType,jdbcType=INTEGER},
      </if>
      <if test="record.name != null" >
        name = #{record.name,jdbcType=VARCHAR},
      </if>
      <if test="record.area != null" >
        area = #{record.area,jdbcType=DECIMAL},
      </if>
      <if test="record.orientation != null" >
        orientation = #{record.orientation,jdbcType=VARCHAR},
      </if>
      <if test="record.aeration != null" >
        aeration = #{record.aeration,jdbcType=VARCHAR},
      </if>
      <if test="record.illumination != null" >
        Illumination = #{record.illumination,jdbcType=VARCHAR},
      </if>
      <if test="record.soundInsulation != null" >
        sound_insulation = #{record.soundInsulation,jdbcType=VARCHAR},
      </if>
      <if test="record.creator != null" >
        creator = #{record.creator,jdbcType=VARCHAR},
      </if>
      <if test="record.gmtCreated != null" >
        gmt_created = #{record.gmtCreated,jdbcType=TIMESTAMP},
      </if>
      <if test="record.gmtModified != null" >
        gmt_modified = #{record.gmtModified,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update tb_examine_house_room
    set id = #{record.id,jdbcType=INTEGER},
      declare_id = #{record.declareId,jdbcType=INTEGER},
      examine_type = #{record.examineType,jdbcType=INTEGER},
      room_type = #{record.roomType,jdbcType=INTEGER},
      name = #{record.name,jdbcType=VARCHAR},
      area = #{record.area,jdbcType=DECIMAL},
      orientation = #{record.orientation,jdbcType=VARCHAR},
      aeration = #{record.aeration,jdbcType=VARCHAR},
      Illumination = #{record.illumination,jdbcType=VARCHAR},
      sound_insulation = #{record.soundInsulation,jdbcType=VARCHAR},
      creator = #{record.creator,jdbcType=VARCHAR},
      gmt_created = #{record.gmtCreated,jdbcType=TIMESTAMP},
      gmt_modified = #{record.gmtModified,jdbcType=TIMESTAMP}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.copower.pmcc.assess.dal.basis.entity.ExamineHouseRoom" >
    update tb_examine_house_room
    <set >
      <if test="declareId != null" >
        declare_id = #{declareId,jdbcType=INTEGER},
      </if>
      <if test="examineType != null" >
        examine_type = #{examineType,jdbcType=INTEGER},
      </if>
      <if test="roomType != null" >
        room_type = #{roomType,jdbcType=INTEGER},
      </if>
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="area != null" >
        area = #{area,jdbcType=DECIMAL},
      </if>
      <if test="orientation != null" >
        orientation = #{orientation,jdbcType=VARCHAR},
      </if>
      <if test="aeration != null" >
        aeration = #{aeration,jdbcType=VARCHAR},
      </if>
      <if test="illumination != null" >
        Illumination = #{illumination,jdbcType=VARCHAR},
      </if>
      <if test="soundInsulation != null" >
        sound_insulation = #{soundInsulation,jdbcType=VARCHAR},
      </if>
      <if test="creator != null" >
        creator = #{creator,jdbcType=VARCHAR},
      </if>
      <if test="gmtCreated != null" >
        gmt_created = #{gmtCreated,jdbcType=TIMESTAMP},
      </if>
      <if test="gmtModified != null" >
        gmt_modified = #{gmtModified,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.copower.pmcc.assess.dal.basis.entity.ExamineHouseRoom" >
    update tb_examine_house_room
    set declare_id = #{declareId,jdbcType=INTEGER},
      examine_type = #{examineType,jdbcType=INTEGER},
      room_type = #{roomType,jdbcType=INTEGER},
      name = #{name,jdbcType=VARCHAR},
      area = #{area,jdbcType=DECIMAL},
      orientation = #{orientation,jdbcType=VARCHAR},
      aeration = #{aeration,jdbcType=VARCHAR},
      Illumination = #{illumination,jdbcType=VARCHAR},
      sound_insulation = #{soundInsulation,jdbcType=VARCHAR},
      creator = #{creator,jdbcType=VARCHAR},
      gmt_created = #{gmtCreated,jdbcType=TIMESTAMP},
      gmt_modified = #{gmtModified,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>