<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.copower.pmcc.assess.dal.basis.mapper.ExamineHouseRoomDecorateMapper" >
  <resultMap id="BaseResultMap" type="com.copower.pmcc.assess.dal.basis.entity.ExamineHouseRoomDecorate" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="declare_id" property="declareId" jdbcType="INTEGER" />
    <result column="plan_details_id" property="planDetailsId" jdbcType="INTEGER" />
    <result column="examine_type" property="examineType" jdbcType="INTEGER" />
    <result column="room_id" property="roomId" jdbcType="INTEGER" />
    <result column="part" property="part" jdbcType="INTEGER" />
    <result column="material" property="material" jdbcType="INTEGER" />
    <result column="material_price" property="materialPrice" jdbcType="VARCHAR" />
    <result column="construction_technology" property="constructionTechnology" jdbcType="VARCHAR" />
    <result column="creator" property="creator" jdbcType="VARCHAR" />
    <result column="gmt_created" property="gmtCreated" jdbcType="TIMESTAMP" />
    <result column="gmt_modified" property="gmtModified" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, declare_id, plan_details_id, examine_type, room_id, part, material, material_price, 
    construction_technology, creator, gmt_created, gmt_modified
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.copower.pmcc.assess.dal.basis.entity.ExamineHouseRoomDecorateExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from tb_examine_house_room_decorate
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from tb_examine_house_room_decorate
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from tb_examine_house_room_decorate
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.copower.pmcc.assess.dal.basis.entity.ExamineHouseRoomDecorateExample" >
    delete from tb_examine_house_room_decorate
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.copower.pmcc.assess.dal.basis.entity.ExamineHouseRoomDecorate" >
    <selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into tb_examine_house_room_decorate (declare_id, plan_details_id, examine_type, 
      room_id, part, material, 
      material_price, construction_technology, 
      creator, gmt_created, gmt_modified
      )
    values (#{declareId,jdbcType=INTEGER}, #{planDetailsId,jdbcType=INTEGER}, #{examineType,jdbcType=INTEGER}, 
      #{roomId,jdbcType=INTEGER}, #{part,jdbcType=INTEGER}, #{material,jdbcType=INTEGER}, 
      #{materialPrice,jdbcType=VARCHAR}, #{constructionTechnology,jdbcType=VARCHAR}, 
      #{creator,jdbcType=VARCHAR}, #{gmtCreated,jdbcType=TIMESTAMP}, #{gmtModified,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.copower.pmcc.assess.dal.basis.entity.ExamineHouseRoomDecorate" >
    <selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into tb_examine_house_room_decorate
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="declareId != null" >
        declare_id,
      </if>
      <if test="planDetailsId != null" >
        plan_details_id,
      </if>
      <if test="examineType != null" >
        examine_type,
      </if>
      <if test="roomId != null" >
        room_id,
      </if>
      <if test="part != null" >
        part,
      </if>
      <if test="material != null" >
        material,
      </if>
      <if test="materialPrice != null" >
        material_price,
      </if>
      <if test="constructionTechnology != null" >
        construction_technology,
      </if>
      <if test="creator != null" >
        creator,
      </if>
      <if test="gmtCreated != null" >
        gmt_created,
      </if>
      <if test="gmtModified != null" >
        gmt_modified,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="declareId != null" >
        #{declareId,jdbcType=INTEGER},
      </if>
      <if test="planDetailsId != null" >
        #{planDetailsId,jdbcType=INTEGER},
      </if>
      <if test="examineType != null" >
        #{examineType,jdbcType=INTEGER},
      </if>
      <if test="roomId != null" >
        #{roomId,jdbcType=INTEGER},
      </if>
      <if test="part != null" >
        #{part,jdbcType=INTEGER},
      </if>
      <if test="material != null" >
        #{material,jdbcType=INTEGER},
      </if>
      <if test="materialPrice != null" >
        #{materialPrice,jdbcType=VARCHAR},
      </if>
      <if test="constructionTechnology != null" >
        #{constructionTechnology,jdbcType=VARCHAR},
      </if>
      <if test="creator != null" >
        #{creator,jdbcType=VARCHAR},
      </if>
      <if test="gmtCreated != null" >
        #{gmtCreated,jdbcType=TIMESTAMP},
      </if>
      <if test="gmtModified != null" >
        #{gmtModified,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.copower.pmcc.assess.dal.basis.entity.ExamineHouseRoomDecorateExample" resultType="java.lang.Integer" >
    select count(*) from tb_examine_house_room_decorate
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update tb_examine_house_room_decorate
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.declareId != null" >
        declare_id = #{record.declareId,jdbcType=INTEGER},
      </if>
      <if test="record.planDetailsId != null" >
        plan_details_id = #{record.planDetailsId,jdbcType=INTEGER},
      </if>
      <if test="record.examineType != null" >
        examine_type = #{record.examineType,jdbcType=INTEGER},
      </if>
      <if test="record.roomId != null" >
        room_id = #{record.roomId,jdbcType=INTEGER},
      </if>
      <if test="record.part != null" >
        part = #{record.part,jdbcType=INTEGER},
      </if>
      <if test="record.material != null" >
        material = #{record.material,jdbcType=INTEGER},
      </if>
      <if test="record.materialPrice != null" >
        material_price = #{record.materialPrice,jdbcType=VARCHAR},
      </if>
      <if test="record.constructionTechnology != null" >
        construction_technology = #{record.constructionTechnology,jdbcType=VARCHAR},
      </if>
      <if test="record.creator != null" >
        creator = #{record.creator,jdbcType=VARCHAR},
      </if>
      <if test="record.gmtCreated != null" >
        gmt_created = #{record.gmtCreated,jdbcType=TIMESTAMP},
      </if>
      <if test="record.gmtModified != null" >
        gmt_modified = #{record.gmtModified,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update tb_examine_house_room_decorate
    set id = #{record.id,jdbcType=INTEGER},
      declare_id = #{record.declareId,jdbcType=INTEGER},
      plan_details_id = #{record.planDetailsId,jdbcType=INTEGER},
      examine_type = #{record.examineType,jdbcType=INTEGER},
      room_id = #{record.roomId,jdbcType=INTEGER},
      part = #{record.part,jdbcType=INTEGER},
      material = #{record.material,jdbcType=INTEGER},
      material_price = #{record.materialPrice,jdbcType=VARCHAR},
      construction_technology = #{record.constructionTechnology,jdbcType=VARCHAR},
      creator = #{record.creator,jdbcType=VARCHAR},
      gmt_created = #{record.gmtCreated,jdbcType=TIMESTAMP},
      gmt_modified = #{record.gmtModified,jdbcType=TIMESTAMP}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.copower.pmcc.assess.dal.basis.entity.ExamineHouseRoomDecorate" >
    update tb_examine_house_room_decorate
    <set >
      <if test="declareId != null" >
        declare_id = #{declareId,jdbcType=INTEGER},
      </if>
      <if test="planDetailsId != null" >
        plan_details_id = #{planDetailsId,jdbcType=INTEGER},
      </if>
      <if test="examineType != null" >
        examine_type = #{examineType,jdbcType=INTEGER},
      </if>
      <if test="roomId != null" >
        room_id = #{roomId,jdbcType=INTEGER},
      </if>
      <if test="part != null" >
        part = #{part,jdbcType=INTEGER},
      </if>
      <if test="material != null" >
        material = #{material,jdbcType=INTEGER},
      </if>
      <if test="materialPrice != null" >
        material_price = #{materialPrice,jdbcType=VARCHAR},
      </if>
      <if test="constructionTechnology != null" >
        construction_technology = #{constructionTechnology,jdbcType=VARCHAR},
      </if>
      <if test="creator != null" >
        creator = #{creator,jdbcType=VARCHAR},
      </if>
      <if test="gmtCreated != null" >
        gmt_created = #{gmtCreated,jdbcType=TIMESTAMP},
      </if>
      <if test="gmtModified != null" >
        gmt_modified = #{gmtModified,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.copower.pmcc.assess.dal.basis.entity.ExamineHouseRoomDecorate" >
    update tb_examine_house_room_decorate
    set declare_id = #{declareId,jdbcType=INTEGER},
      plan_details_id = #{planDetailsId,jdbcType=INTEGER},
      examine_type = #{examineType,jdbcType=INTEGER},
      room_id = #{roomId,jdbcType=INTEGER},
      part = #{part,jdbcType=INTEGER},
      material = #{material,jdbcType=INTEGER},
      material_price = #{materialPrice,jdbcType=VARCHAR},
      construction_technology = #{constructionTechnology,jdbcType=VARCHAR},
      creator = #{creator,jdbcType=VARCHAR},
      gmt_created = #{gmtCreated,jdbcType=TIMESTAMP},
      gmt_modified = #{gmtModified,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>