<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.copower.pmcc.assess.dal.basis.mapper.ExamineEstateSupplyWaterMapper" >
  <resultMap id="BaseResultMap" type="com.copower.pmcc.assess.dal.basis.entity.ExamineEstateSupplyWater" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="estate_id" property="estateId" jdbcType="INTEGER" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="grade" property="grade" jdbcType="VARCHAR" />
    <result column="line_grade" property="lineGrade" jdbcType="VARCHAR" />
    <result column="power" property="power" jdbcType="VARCHAR" />
    <result column="drainage_mode" property="drainageMode" jdbcType="VARCHAR" />
    <result column="drainage_treatment" property="drainageTreatment" jdbcType="VARCHAR" />
    <result column="drainage_amount" property="drainageAmount" jdbcType="VARCHAR" />
    <result column="creator" property="creator" jdbcType="VARCHAR" />
    <result column="gmt_created" property="gmtCreated" jdbcType="TIMESTAMP" />
    <result column="gmt_modified" property="gmtModified" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, estate_id, name, grade, line_grade, power, drainage_mode, drainage_treatment, 
    drainage_amount, creator, gmt_created, gmt_modified
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.copower.pmcc.assess.dal.basis.entity.ExamineEstateSupplyWaterExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from tb_examine_estate_supply_water
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from tb_examine_estate_supply_water
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from tb_examine_estate_supply_water
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.copower.pmcc.assess.dal.basis.entity.ExamineEstateSupplyWaterExample" >
    delete from tb_examine_estate_supply_water
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.copower.pmcc.assess.dal.basis.entity.ExamineEstateSupplyWater" >
    <selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into tb_examine_estate_supply_water (estate_id, name, grade, 
      line_grade, power, drainage_mode, 
      drainage_treatment, drainage_amount, creator, 
      gmt_created, gmt_modified)
    values (#{estateId,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{grade,jdbcType=VARCHAR}, 
      #{lineGrade,jdbcType=VARCHAR}, #{power,jdbcType=VARCHAR}, #{drainageMode,jdbcType=VARCHAR}, 
      #{drainageTreatment,jdbcType=VARCHAR}, #{drainageAmount,jdbcType=VARCHAR}, #{creator,jdbcType=VARCHAR}, 
      #{gmtCreated,jdbcType=TIMESTAMP}, #{gmtModified,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.copower.pmcc.assess.dal.basis.entity.ExamineEstateSupplyWater" >
    <selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into tb_examine_estate_supply_water
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="estateId != null" >
        estate_id,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="grade != null" >
        grade,
      </if>
      <if test="lineGrade != null" >
        line_grade,
      </if>
      <if test="power != null" >
        power,
      </if>
      <if test="drainageMode != null" >
        drainage_mode,
      </if>
      <if test="drainageTreatment != null" >
        drainage_treatment,
      </if>
      <if test="drainageAmount != null" >
        drainage_amount,
      </if>
      <if test="creator != null" >
        creator,
      </if>
      <if test="gmtCreated != null" >
        gmt_created,
      </if>
      <if test="gmtModified != null" >
        gmt_modified,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="estateId != null" >
        #{estateId,jdbcType=INTEGER},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="grade != null" >
        #{grade,jdbcType=VARCHAR},
      </if>
      <if test="lineGrade != null" >
        #{lineGrade,jdbcType=VARCHAR},
      </if>
      <if test="power != null" >
        #{power,jdbcType=VARCHAR},
      </if>
      <if test="drainageMode != null" >
        #{drainageMode,jdbcType=VARCHAR},
      </if>
      <if test="drainageTreatment != null" >
        #{drainageTreatment,jdbcType=VARCHAR},
      </if>
      <if test="drainageAmount != null" >
        #{drainageAmount,jdbcType=VARCHAR},
      </if>
      <if test="creator != null" >
        #{creator,jdbcType=VARCHAR},
      </if>
      <if test="gmtCreated != null" >
        #{gmtCreated,jdbcType=TIMESTAMP},
      </if>
      <if test="gmtModified != null" >
        #{gmtModified,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.copower.pmcc.assess.dal.basis.entity.ExamineEstateSupplyWaterExample" resultType="java.lang.Integer" >
    select count(*) from tb_examine_estate_supply_water
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update tb_examine_estate_supply_water
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.estateId != null" >
        estate_id = #{record.estateId,jdbcType=INTEGER},
      </if>
      <if test="record.name != null" >
        name = #{record.name,jdbcType=VARCHAR},
      </if>
      <if test="record.grade != null" >
        grade = #{record.grade,jdbcType=VARCHAR},
      </if>
      <if test="record.lineGrade != null" >
        line_grade = #{record.lineGrade,jdbcType=VARCHAR},
      </if>
      <if test="record.power != null" >
        power = #{record.power,jdbcType=VARCHAR},
      </if>
      <if test="record.drainageMode != null" >
        drainage_mode = #{record.drainageMode,jdbcType=VARCHAR},
      </if>
      <if test="record.drainageTreatment != null" >
        drainage_treatment = #{record.drainageTreatment,jdbcType=VARCHAR},
      </if>
      <if test="record.drainageAmount != null" >
        drainage_amount = #{record.drainageAmount,jdbcType=VARCHAR},
      </if>
      <if test="record.creator != null" >
        creator = #{record.creator,jdbcType=VARCHAR},
      </if>
      <if test="record.gmtCreated != null" >
        gmt_created = #{record.gmtCreated,jdbcType=TIMESTAMP},
      </if>
      <if test="record.gmtModified != null" >
        gmt_modified = #{record.gmtModified,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update tb_examine_estate_supply_water
    set id = #{record.id,jdbcType=INTEGER},
      estate_id = #{record.estateId,jdbcType=INTEGER},
      name = #{record.name,jdbcType=VARCHAR},
      grade = #{record.grade,jdbcType=VARCHAR},
      line_grade = #{record.lineGrade,jdbcType=VARCHAR},
      power = #{record.power,jdbcType=VARCHAR},
      drainage_mode = #{record.drainageMode,jdbcType=VARCHAR},
      drainage_treatment = #{record.drainageTreatment,jdbcType=VARCHAR},
      drainage_amount = #{record.drainageAmount,jdbcType=VARCHAR},
      creator = #{record.creator,jdbcType=VARCHAR},
      gmt_created = #{record.gmtCreated,jdbcType=TIMESTAMP},
      gmt_modified = #{record.gmtModified,jdbcType=TIMESTAMP}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.copower.pmcc.assess.dal.basis.entity.ExamineEstateSupplyWater" >
    update tb_examine_estate_supply_water
    <set >
      <if test="estateId != null" >
        estate_id = #{estateId,jdbcType=INTEGER},
      </if>
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="grade != null" >
        grade = #{grade,jdbcType=VARCHAR},
      </if>
      <if test="lineGrade != null" >
        line_grade = #{lineGrade,jdbcType=VARCHAR},
      </if>
      <if test="power != null" >
        power = #{power,jdbcType=VARCHAR},
      </if>
      <if test="drainageMode != null" >
        drainage_mode = #{drainageMode,jdbcType=VARCHAR},
      </if>
      <if test="drainageTreatment != null" >
        drainage_treatment = #{drainageTreatment,jdbcType=VARCHAR},
      </if>
      <if test="drainageAmount != null" >
        drainage_amount = #{drainageAmount,jdbcType=VARCHAR},
      </if>
      <if test="creator != null" >
        creator = #{creator,jdbcType=VARCHAR},
      </if>
      <if test="gmtCreated != null" >
        gmt_created = #{gmtCreated,jdbcType=TIMESTAMP},
      </if>
      <if test="gmtModified != null" >
        gmt_modified = #{gmtModified,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.copower.pmcc.assess.dal.basis.entity.ExamineEstateSupplyWater" >
    update tb_examine_estate_supply_water
    set estate_id = #{estateId,jdbcType=INTEGER},
      name = #{name,jdbcType=VARCHAR},
      grade = #{grade,jdbcType=VARCHAR},
      line_grade = #{lineGrade,jdbcType=VARCHAR},
      power = #{power,jdbcType=VARCHAR},
      drainage_mode = #{drainageMode,jdbcType=VARCHAR},
      drainage_treatment = #{drainageTreatment,jdbcType=VARCHAR},
      drainage_amount = #{drainageAmount,jdbcType=VARCHAR},
      creator = #{creator,jdbcType=VARCHAR},
      gmt_created = #{gmtCreated,jdbcType=TIMESTAMP},
      gmt_modified = #{gmtModified,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>