<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.copower.pmcc.assess.dal.basis.mapper.ExamineHouseMapper" >
  <resultMap id="BaseResultMap" type="com.copower.pmcc.assess.dal.basis.entity.ExamineHouse" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="declare_id" property="declareId" jdbcType="INTEGER" />
    <result column="plan_details_id" property="planDetailsId" jdbcType="INTEGER" />
    <result column="examine_type" property="examineType" jdbcType="INTEGER" />
    <result column="house_number" property="houseNumber" jdbcType="VARCHAR" />
    <result column="floor" property="floor" jdbcType="INTEGER" />
    <result column="huxing_id" property="huxingId" jdbcType="INTEGER" />
    <result column="news_huxing" property="newsHuxing" jdbcType="INTEGER" />
    <result column="cert_use" property="certUse" jdbcType="INTEGER" />
    <result column="practical_use" property="practicalUse" jdbcType="INTEGER" />
    <result column="right_interests_restriction" property="rightInterestsRestriction" jdbcType="VARCHAR" />
    <result column="use_environment" property="useEnvironment" jdbcType="INTEGER" />
    <result column="description" property="description" jdbcType="VARCHAR" />
    <result column="creator" property="creator" jdbcType="VARCHAR" />
    <result column="gmt_created" property="gmtCreated" jdbcType="TIMESTAMP" />
    <result column="gmt_modified" property="gmtModified" jdbcType="TIMESTAMP" />
    <result column="orientation" property="orientation" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, declare_id, plan_details_id, examine_type, house_number, floor, huxing_id, news_huxing, 
    cert_use, practical_use, right_interests_restriction, use_environment, description, 
    creator, gmt_created, gmt_modified, orientation
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.copower.pmcc.assess.dal.basis.entity.ExamineHouseExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from tb_examine_house
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from tb_examine_house
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from tb_examine_house
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.copower.pmcc.assess.dal.basis.entity.ExamineHouseExample" >
    delete from tb_examine_house
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.copower.pmcc.assess.dal.basis.entity.ExamineHouse" >
    <selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into tb_examine_house (declare_id, plan_details_id, examine_type, 
      house_number, floor, huxing_id, 
      news_huxing, cert_use, practical_use, 
      right_interests_restriction, use_environment, 
      description, creator, gmt_created, 
      gmt_modified, orientation)
    values (#{declareId,jdbcType=INTEGER}, #{planDetailsId,jdbcType=INTEGER}, #{examineType,jdbcType=INTEGER}, 
      #{houseNumber,jdbcType=VARCHAR}, #{floor,jdbcType=INTEGER}, #{huxingId,jdbcType=INTEGER}, 
      #{newsHuxing,jdbcType=INTEGER}, #{certUse,jdbcType=INTEGER}, #{practicalUse,jdbcType=INTEGER}, 
      #{rightInterestsRestriction,jdbcType=VARCHAR}, #{useEnvironment,jdbcType=INTEGER}, 
      #{description,jdbcType=VARCHAR}, #{creator,jdbcType=VARCHAR}, #{gmtCreated,jdbcType=TIMESTAMP}, 
      #{gmtModified,jdbcType=TIMESTAMP}, #{orientation,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.copower.pmcc.assess.dal.basis.entity.ExamineHouse" >
    <selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into tb_examine_house
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="declareId != null" >
        declare_id,
      </if>
      <if test="planDetailsId != null" >
        plan_details_id,
      </if>
      <if test="examineType != null" >
        examine_type,
      </if>
      <if test="houseNumber != null" >
        house_number,
      </if>
      <if test="floor != null" >
        floor,
      </if>
      <if test="huxingId != null" >
        huxing_id,
      </if>
      <if test="newsHuxing != null" >
        news_huxing,
      </if>
      <if test="certUse != null" >
        cert_use,
      </if>
      <if test="practicalUse != null" >
        practical_use,
      </if>
      <if test="rightInterestsRestriction != null" >
        right_interests_restriction,
      </if>
      <if test="useEnvironment != null" >
        use_environment,
      </if>
      <if test="description != null" >
        description,
      </if>
      <if test="creator != null" >
        creator,
      </if>
      <if test="gmtCreated != null" >
        gmt_created,
      </if>
      <if test="gmtModified != null" >
        gmt_modified,
      </if>
      <if test="orientation != null" >
        orientation,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="declareId != null" >
        #{declareId,jdbcType=INTEGER},
      </if>
      <if test="planDetailsId != null" >
        #{planDetailsId,jdbcType=INTEGER},
      </if>
      <if test="examineType != null" >
        #{examineType,jdbcType=INTEGER},
      </if>
      <if test="houseNumber != null" >
        #{houseNumber,jdbcType=VARCHAR},
      </if>
      <if test="floor != null" >
        #{floor,jdbcType=INTEGER},
      </if>
      <if test="huxingId != null" >
        #{huxingId,jdbcType=INTEGER},
      </if>
      <if test="newsHuxing != null" >
        #{newsHuxing,jdbcType=INTEGER},
      </if>
      <if test="certUse != null" >
        #{certUse,jdbcType=INTEGER},
      </if>
      <if test="practicalUse != null" >
        #{practicalUse,jdbcType=INTEGER},
      </if>
      <if test="rightInterestsRestriction != null" >
        #{rightInterestsRestriction,jdbcType=VARCHAR},
      </if>
      <if test="useEnvironment != null" >
        #{useEnvironment,jdbcType=INTEGER},
      </if>
      <if test="description != null" >
        #{description,jdbcType=VARCHAR},
      </if>
      <if test="creator != null" >
        #{creator,jdbcType=VARCHAR},
      </if>
      <if test="gmtCreated != null" >
        #{gmtCreated,jdbcType=TIMESTAMP},
      </if>
      <if test="gmtModified != null" >
        #{gmtModified,jdbcType=TIMESTAMP},
      </if>
      <if test="orientation != null" >
        #{orientation,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.copower.pmcc.assess.dal.basis.entity.ExamineHouseExample" resultType="java.lang.Integer" >
    select count(*) from tb_examine_house
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update tb_examine_house
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.declareId != null" >
        declare_id = #{record.declareId,jdbcType=INTEGER},
      </if>
      <if test="record.planDetailsId != null" >
        plan_details_id = #{record.planDetailsId,jdbcType=INTEGER},
      </if>
      <if test="record.examineType != null" >
        examine_type = #{record.examineType,jdbcType=INTEGER},
      </if>
      <if test="record.houseNumber != null" >
        house_number = #{record.houseNumber,jdbcType=VARCHAR},
      </if>
      <if test="record.floor != null" >
        floor = #{record.floor,jdbcType=INTEGER},
      </if>
      <if test="record.huxingId != null" >
        huxing_id = #{record.huxingId,jdbcType=INTEGER},
      </if>
      <if test="record.newsHuxing != null" >
        news_huxing = #{record.newsHuxing,jdbcType=INTEGER},
      </if>
      <if test="record.certUse != null" >
        cert_use = #{record.certUse,jdbcType=INTEGER},
      </if>
      <if test="record.practicalUse != null" >
        practical_use = #{record.practicalUse,jdbcType=INTEGER},
      </if>
      <if test="record.rightInterestsRestriction != null" >
        right_interests_restriction = #{record.rightInterestsRestriction,jdbcType=VARCHAR},
      </if>
      <if test="record.useEnvironment != null" >
        use_environment = #{record.useEnvironment,jdbcType=INTEGER},
      </if>
      <if test="record.description != null" >
        description = #{record.description,jdbcType=VARCHAR},
      </if>
      <if test="record.creator != null" >
        creator = #{record.creator,jdbcType=VARCHAR},
      </if>
      <if test="record.gmtCreated != null" >
        gmt_created = #{record.gmtCreated,jdbcType=TIMESTAMP},
      </if>
      <if test="record.gmtModified != null" >
        gmt_modified = #{record.gmtModified,jdbcType=TIMESTAMP},
      </if>
      <if test="record.orientation != null" >
        orientation = #{record.orientation,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update tb_examine_house
    set id = #{record.id,jdbcType=INTEGER},
      declare_id = #{record.declareId,jdbcType=INTEGER},
      plan_details_id = #{record.planDetailsId,jdbcType=INTEGER},
      examine_type = #{record.examineType,jdbcType=INTEGER},
      house_number = #{record.houseNumber,jdbcType=VARCHAR},
      floor = #{record.floor,jdbcType=INTEGER},
      huxing_id = #{record.huxingId,jdbcType=INTEGER},
      news_huxing = #{record.newsHuxing,jdbcType=INTEGER},
      cert_use = #{record.certUse,jdbcType=INTEGER},
      practical_use = #{record.practicalUse,jdbcType=INTEGER},
      right_interests_restriction = #{record.rightInterestsRestriction,jdbcType=VARCHAR},
      use_environment = #{record.useEnvironment,jdbcType=INTEGER},
      description = #{record.description,jdbcType=VARCHAR},
      creator = #{record.creator,jdbcType=VARCHAR},
      gmt_created = #{record.gmtCreated,jdbcType=TIMESTAMP},
      gmt_modified = #{record.gmtModified,jdbcType=TIMESTAMP},
      orientation = #{record.orientation,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.copower.pmcc.assess.dal.basis.entity.ExamineHouse" >
    update tb_examine_house
    <set >
      <if test="declareId != null" >
        declare_id = #{declareId,jdbcType=INTEGER},
      </if>
      <if test="planDetailsId != null" >
        plan_details_id = #{planDetailsId,jdbcType=INTEGER},
      </if>
      <if test="examineType != null" >
        examine_type = #{examineType,jdbcType=INTEGER},
      </if>
      <if test="houseNumber != null" >
        house_number = #{houseNumber,jdbcType=VARCHAR},
      </if>
      <if test="floor != null" >
        floor = #{floor,jdbcType=INTEGER},
      </if>
      <if test="huxingId != null" >
        huxing_id = #{huxingId,jdbcType=INTEGER},
      </if>
      <if test="newsHuxing != null" >
        news_huxing = #{newsHuxing,jdbcType=INTEGER},
      </if>
      <if test="certUse != null" >
        cert_use = #{certUse,jdbcType=INTEGER},
      </if>
      <if test="practicalUse != null" >
        practical_use = #{practicalUse,jdbcType=INTEGER},
      </if>
      <if test="rightInterestsRestriction != null" >
        right_interests_restriction = #{rightInterestsRestriction,jdbcType=VARCHAR},
      </if>
      <if test="useEnvironment != null" >
        use_environment = #{useEnvironment,jdbcType=INTEGER},
      </if>
      <if test="description != null" >
        description = #{description,jdbcType=VARCHAR},
      </if>
      <if test="creator != null" >
        creator = #{creator,jdbcType=VARCHAR},
      </if>
      <if test="gmtCreated != null" >
        gmt_created = #{gmtCreated,jdbcType=TIMESTAMP},
      </if>
      <if test="gmtModified != null" >
        gmt_modified = #{gmtModified,jdbcType=TIMESTAMP},
      </if>
      <if test="orientation != null" >
        orientation = #{orientation,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.copower.pmcc.assess.dal.basis.entity.ExamineHouse" >
    update tb_examine_house
    set declare_id = #{declareId,jdbcType=INTEGER},
      plan_details_id = #{planDetailsId,jdbcType=INTEGER},
      examine_type = #{examineType,jdbcType=INTEGER},
      house_number = #{houseNumber,jdbcType=VARCHAR},
      floor = #{floor,jdbcType=INTEGER},
      huxing_id = #{huxingId,jdbcType=INTEGER},
      news_huxing = #{newsHuxing,jdbcType=INTEGER},
      cert_use = #{certUse,jdbcType=INTEGER},
      practical_use = #{practicalUse,jdbcType=INTEGER},
      right_interests_restriction = #{rightInterestsRestriction,jdbcType=VARCHAR},
      use_environment = #{useEnvironment,jdbcType=INTEGER},
      description = #{description,jdbcType=VARCHAR},
      creator = #{creator,jdbcType=VARCHAR},
      gmt_created = #{gmtCreated,jdbcType=TIMESTAMP},
      gmt_modified = #{gmtModified,jdbcType=TIMESTAMP},
      orientation = #{orientation,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>