<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.copower.pmcc.assess.dal.basis.mapper.ExamineEstateMapper" >
  <resultMap id="BaseResultMap" type="com.copower.pmcc.assess.dal.basis.entity.ExamineEstate" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="declare_id" property="declareId" jdbcType="INTEGER" />
    <result column="plan_details_id" property="planDetailsId" jdbcType="INTEGER" />
    <result column="examine_type" property="examineType" jdbcType="INTEGER" />
    <result column="developer_id" property="developerId" jdbcType="INTEGER" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="street" property="street" jdbcType="VARCHAR" />
    <result column="number" property="number" jdbcType="VARCHAR" />
    <result column="land_level" property="landLevel" jdbcType="INTEGER" />
    <result column="attach_number" property="attachNumber" jdbcType="VARCHAR" />
    <result column="floor_area" property="floorArea" jdbcType="DECIMAL" />
    <result column="cover_an_area" property="coverAnArea" jdbcType="DECIMAL" />
    <result column="volumetric_rate" property="volumetricRate" jdbcType="VARCHAR" />
    <result column="greening_rate" property="greeningRate" jdbcType="VARCHAR" />
    <result column="building_number" property="buildingNumber" jdbcType="INTEGER" />
    <result column="position" property="position" jdbcType="VARCHAR" />
    <result column="description" property="description" jdbcType="VARCHAR" />
    <result column="creator" property="creator" jdbcType="VARCHAR" />
    <result column="gmt_created" property="gmtCreated" jdbcType="TIMESTAMP" />
    <result column="gmt_modified" property="gmtModified" jdbcType="TIMESTAMP" />
    <result column="average_price" property="averagePrice" jdbcType="VARCHAR" />
    <result column="price_range" property="priceRange" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, declare_id, plan_details_id, examine_type, developer_id, name, street, number, 
    land_level, attach_number, floor_area, cover_an_area, volumetric_rate, greening_rate, 
    building_number, position, description, creator, gmt_created, gmt_modified, average_price, 
    price_range
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.copower.pmcc.assess.dal.basis.entity.ExamineEstateExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from tb_examine_estate
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from tb_examine_estate
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from tb_examine_estate
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.copower.pmcc.assess.dal.basis.entity.ExamineEstateExample" >
    delete from tb_examine_estate
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.copower.pmcc.assess.dal.basis.entity.ExamineEstate" >
    <selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into tb_examine_estate (declare_id, plan_details_id, examine_type, 
      developer_id, name, street, 
      number, land_level, attach_number, 
      floor_area, cover_an_area, volumetric_rate, 
      greening_rate, building_number, position, 
      description, creator, gmt_created, 
      gmt_modified, average_price, price_range
      )
    values (#{declareId,jdbcType=INTEGER}, #{planDetailsId,jdbcType=INTEGER}, #{examineType,jdbcType=INTEGER}, 
      #{developerId,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{street,jdbcType=VARCHAR}, 
      #{number,jdbcType=VARCHAR}, #{landLevel,jdbcType=INTEGER}, #{attachNumber,jdbcType=VARCHAR}, 
      #{floorArea,jdbcType=DECIMAL}, #{coverAnArea,jdbcType=DECIMAL}, #{volumetricRate,jdbcType=VARCHAR}, 
      #{greeningRate,jdbcType=VARCHAR}, #{buildingNumber,jdbcType=INTEGER}, #{position,jdbcType=VARCHAR}, 
      #{description,jdbcType=VARCHAR}, #{creator,jdbcType=VARCHAR}, #{gmtCreated,jdbcType=TIMESTAMP}, 
      #{gmtModified,jdbcType=TIMESTAMP}, #{averagePrice,jdbcType=VARCHAR}, #{priceRange,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.copower.pmcc.assess.dal.basis.entity.ExamineEstate" >
    <selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into tb_examine_estate
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="declareId != null" >
        declare_id,
      </if>
      <if test="planDetailsId != null" >
        plan_details_id,
      </if>
      <if test="examineType != null" >
        examine_type,
      </if>
      <if test="developerId != null" >
        developer_id,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="street != null" >
        street,
      </if>
      <if test="number != null" >
        number,
      </if>
      <if test="landLevel != null" >
        land_level,
      </if>
      <if test="attachNumber != null" >
        attach_number,
      </if>
      <if test="floorArea != null" >
        floor_area,
      </if>
      <if test="coverAnArea != null" >
        cover_an_area,
      </if>
      <if test="volumetricRate != null" >
        volumetric_rate,
      </if>
      <if test="greeningRate != null" >
        greening_rate,
      </if>
      <if test="buildingNumber != null" >
        building_number,
      </if>
      <if test="position != null" >
        position,
      </if>
      <if test="description != null" >
        description,
      </if>
      <if test="creator != null" >
        creator,
      </if>
      <if test="gmtCreated != null" >
        gmt_created,
      </if>
      <if test="gmtModified != null" >
        gmt_modified,
      </if>
      <if test="averagePrice != null" >
        average_price,
      </if>
      <if test="priceRange != null" >
        price_range,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="declareId != null" >
        #{declareId,jdbcType=INTEGER},
      </if>
      <if test="planDetailsId != null" >
        #{planDetailsId,jdbcType=INTEGER},
      </if>
      <if test="examineType != null" >
        #{examineType,jdbcType=INTEGER},
      </if>
      <if test="developerId != null" >
        #{developerId,jdbcType=INTEGER},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="street != null" >
        #{street,jdbcType=VARCHAR},
      </if>
      <if test="number != null" >
        #{number,jdbcType=VARCHAR},
      </if>
      <if test="landLevel != null" >
        #{landLevel,jdbcType=INTEGER},
      </if>
      <if test="attachNumber != null" >
        #{attachNumber,jdbcType=VARCHAR},
      </if>
      <if test="floorArea != null" >
        #{floorArea,jdbcType=DECIMAL},
      </if>
      <if test="coverAnArea != null" >
        #{coverAnArea,jdbcType=DECIMAL},
      </if>
      <if test="volumetricRate != null" >
        #{volumetricRate,jdbcType=VARCHAR},
      </if>
      <if test="greeningRate != null" >
        #{greeningRate,jdbcType=VARCHAR},
      </if>
      <if test="buildingNumber != null" >
        #{buildingNumber,jdbcType=INTEGER},
      </if>
      <if test="position != null" >
        #{position,jdbcType=VARCHAR},
      </if>
      <if test="description != null" >
        #{description,jdbcType=VARCHAR},
      </if>
      <if test="creator != null" >
        #{creator,jdbcType=VARCHAR},
      </if>
      <if test="gmtCreated != null" >
        #{gmtCreated,jdbcType=TIMESTAMP},
      </if>
      <if test="gmtModified != null" >
        #{gmtModified,jdbcType=TIMESTAMP},
      </if>
      <if test="averagePrice != null" >
        #{averagePrice,jdbcType=VARCHAR},
      </if>
      <if test="priceRange != null" >
        #{priceRange,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.copower.pmcc.assess.dal.basis.entity.ExamineEstateExample" resultType="java.lang.Integer" >
    select count(*) from tb_examine_estate
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update tb_examine_estate
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.declareId != null" >
        declare_id = #{record.declareId,jdbcType=INTEGER},
      </if>
      <if test="record.planDetailsId != null" >
        plan_details_id = #{record.planDetailsId,jdbcType=INTEGER},
      </if>
      <if test="record.examineType != null" >
        examine_type = #{record.examineType,jdbcType=INTEGER},
      </if>
      <if test="record.developerId != null" >
        developer_id = #{record.developerId,jdbcType=INTEGER},
      </if>
      <if test="record.name != null" >
        name = #{record.name,jdbcType=VARCHAR},
      </if>
      <if test="record.street != null" >
        street = #{record.street,jdbcType=VARCHAR},
      </if>
      <if test="record.number != null" >
        number = #{record.number,jdbcType=VARCHAR},
      </if>
      <if test="record.landLevel != null" >
        land_level = #{record.landLevel,jdbcType=INTEGER},
      </if>
      <if test="record.attachNumber != null" >
        attach_number = #{record.attachNumber,jdbcType=VARCHAR},
      </if>
      <if test="record.floorArea != null" >
        floor_area = #{record.floorArea,jdbcType=DECIMAL},
      </if>
      <if test="record.coverAnArea != null" >
        cover_an_area = #{record.coverAnArea,jdbcType=DECIMAL},
      </if>
      <if test="record.volumetricRate != null" >
        volumetric_rate = #{record.volumetricRate,jdbcType=VARCHAR},
      </if>
      <if test="record.greeningRate != null" >
        greening_rate = #{record.greeningRate,jdbcType=VARCHAR},
      </if>
      <if test="record.buildingNumber != null" >
        building_number = #{record.buildingNumber,jdbcType=INTEGER},
      </if>
      <if test="record.position != null" >
        position = #{record.position,jdbcType=VARCHAR},
      </if>
      <if test="record.description != null" >
        description = #{record.description,jdbcType=VARCHAR},
      </if>
      <if test="record.creator != null" >
        creator = #{record.creator,jdbcType=VARCHAR},
      </if>
      <if test="record.gmtCreated != null" >
        gmt_created = #{record.gmtCreated,jdbcType=TIMESTAMP},
      </if>
      <if test="record.gmtModified != null" >
        gmt_modified = #{record.gmtModified,jdbcType=TIMESTAMP},
      </if>
      <if test="record.averagePrice != null" >
        average_price = #{record.averagePrice,jdbcType=VARCHAR},
      </if>
      <if test="record.priceRange != null" >
        price_range = #{record.priceRange,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update tb_examine_estate
    set id = #{record.id,jdbcType=INTEGER},
      declare_id = #{record.declareId,jdbcType=INTEGER},
      plan_details_id = #{record.planDetailsId,jdbcType=INTEGER},
      examine_type = #{record.examineType,jdbcType=INTEGER},
      developer_id = #{record.developerId,jdbcType=INTEGER},
      name = #{record.name,jdbcType=VARCHAR},
      street = #{record.street,jdbcType=VARCHAR},
      number = #{record.number,jdbcType=VARCHAR},
      land_level = #{record.landLevel,jdbcType=INTEGER},
      attach_number = #{record.attachNumber,jdbcType=VARCHAR},
      floor_area = #{record.floorArea,jdbcType=DECIMAL},
      cover_an_area = #{record.coverAnArea,jdbcType=DECIMAL},
      volumetric_rate = #{record.volumetricRate,jdbcType=VARCHAR},
      greening_rate = #{record.greeningRate,jdbcType=VARCHAR},
      building_number = #{record.buildingNumber,jdbcType=INTEGER},
      position = #{record.position,jdbcType=VARCHAR},
      description = #{record.description,jdbcType=VARCHAR},
      creator = #{record.creator,jdbcType=VARCHAR},
      gmt_created = #{record.gmtCreated,jdbcType=TIMESTAMP},
      gmt_modified = #{record.gmtModified,jdbcType=TIMESTAMP},
      average_price = #{record.averagePrice,jdbcType=VARCHAR},
      price_range = #{record.priceRange,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.copower.pmcc.assess.dal.basis.entity.ExamineEstate" >
    update tb_examine_estate
    <set >
      <if test="declareId != null" >
        declare_id = #{declareId,jdbcType=INTEGER},
      </if>
      <if test="planDetailsId != null" >
        plan_details_id = #{planDetailsId,jdbcType=INTEGER},
      </if>
      <if test="examineType != null" >
        examine_type = #{examineType,jdbcType=INTEGER},
      </if>
      <if test="developerId != null" >
        developer_id = #{developerId,jdbcType=INTEGER},
      </if>
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="street != null" >
        street = #{street,jdbcType=VARCHAR},
      </if>
      <if test="number != null" >
        number = #{number,jdbcType=VARCHAR},
      </if>
      <if test="landLevel != null" >
        land_level = #{landLevel,jdbcType=INTEGER},
      </if>
      <if test="attachNumber != null" >
        attach_number = #{attachNumber,jdbcType=VARCHAR},
      </if>
      <if test="floorArea != null" >
        floor_area = #{floorArea,jdbcType=DECIMAL},
      </if>
      <if test="coverAnArea != null" >
        cover_an_area = #{coverAnArea,jdbcType=DECIMAL},
      </if>
      <if test="volumetricRate != null" >
        volumetric_rate = #{volumetricRate,jdbcType=VARCHAR},
      </if>
      <if test="greeningRate != null" >
        greening_rate = #{greeningRate,jdbcType=VARCHAR},
      </if>
      <if test="buildingNumber != null" >
        building_number = #{buildingNumber,jdbcType=INTEGER},
      </if>
      <if test="position != null" >
        position = #{position,jdbcType=VARCHAR},
      </if>
      <if test="description != null" >
        description = #{description,jdbcType=VARCHAR},
      </if>
      <if test="creator != null" >
        creator = #{creator,jdbcType=VARCHAR},
      </if>
      <if test="gmtCreated != null" >
        gmt_created = #{gmtCreated,jdbcType=TIMESTAMP},
      </if>
      <if test="gmtModified != null" >
        gmt_modified = #{gmtModified,jdbcType=TIMESTAMP},
      </if>
      <if test="averagePrice != null" >
        average_price = #{averagePrice,jdbcType=VARCHAR},
      </if>
      <if test="priceRange != null" >
        price_range = #{priceRange,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.copower.pmcc.assess.dal.basis.entity.ExamineEstate" >
    update tb_examine_estate
    set declare_id = #{declareId,jdbcType=INTEGER},
      plan_details_id = #{planDetailsId,jdbcType=INTEGER},
      examine_type = #{examineType,jdbcType=INTEGER},
      developer_id = #{developerId,jdbcType=INTEGER},
      name = #{name,jdbcType=VARCHAR},
      street = #{street,jdbcType=VARCHAR},
      number = #{number,jdbcType=VARCHAR},
      land_level = #{landLevel,jdbcType=INTEGER},
      attach_number = #{attachNumber,jdbcType=VARCHAR},
      floor_area = #{floorArea,jdbcType=DECIMAL},
      cover_an_area = #{coverAnArea,jdbcType=DECIMAL},
      volumetric_rate = #{volumetricRate,jdbcType=VARCHAR},
      greening_rate = #{greeningRate,jdbcType=VARCHAR},
      building_number = #{buildingNumber,jdbcType=INTEGER},
      position = #{position,jdbcType=VARCHAR},
      description = #{description,jdbcType=VARCHAR},
      creator = #{creator,jdbcType=VARCHAR},
      gmt_created = #{gmtCreated,jdbcType=TIMESTAMP},
      gmt_modified = #{gmtModified,jdbcType=TIMESTAMP},
      average_price = #{averagePrice,jdbcType=VARCHAR},
      price_range = #{priceRange,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>