<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.copower.pmcc.assess.dal.basis.mapper.FuniHousesPropertyMapper" >
  <resultMap id="BaseResultMap" type="com.copower.pmcc.assess.dal.basis.entity.FuniHousesProperty" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="lpbh" property="lpbh" jdbcType="INTEGER" />
    <result column="jzmj" property="jzmj" jdbcType="VARCHAR" />
    <result column="zdmj" property="zdmj" jdbcType="VARCHAR" />
    <result column="glfs" property="glfs" jdbcType="VARCHAR" />
    <result column="gsfs" property="gsfs" jdbcType="VARCHAR" />
    <result column="tx" property="tx" jdbcType="VARCHAR" />
    <result column="wl" property="wl" jdbcType="VARCHAR" />
    <result column="wylx" property="wylx" jdbcType="VARCHAR" />
    <result column="jzlb" property="jzlb" jdbcType="VARCHAR" />
    <result column="zxqk" property="zxqk" jdbcType="VARCHAR" />
    <result column="tdsynx" property="tdsynx" jdbcType="VARCHAR" />
    <result column="zhs" property="zhs" jdbcType="VARCHAR" />
    <result column="wyf" property="wyf" jdbcType="VARCHAR" />
    <result column="wygsbh" property="wygsbh" jdbcType="INTEGER" />
    <result column="wygs" property="wygs" jdbcType="VARCHAR" />
    <result column="yxdl" property="yxdl" jdbcType="VARCHAR" />
    <result column="kpsj" property="kpsj" jdbcType="VARCHAR" />
    <result column="jfsj" property="jfsj" jdbcType="VARCHAR" />
    <result column="jd" property="jd" jdbcType="VARCHAR" />
    <result column="wd" property="wd" jdbcType="VARCHAR" />
    <result column="hxqj" property="hxqj" jdbcType="VARCHAR" />
    <result column="kts" property="kts" jdbcType="VARCHAR" />
    <result column="hts" property="hts" jdbcType="VARCHAR" />
    <result column="cg" property="cg" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, lpbh, jzmj, zdmj, glfs, gsfs, tx, wl, wylx, jzlb, zxqk, tdsynx, zhs, wyf, wygsbh, 
    wygs, yxdl, kpsj, jfsj, jd, wd, hxqj, kts, hts, cg
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.copower.pmcc.assess.dal.basis.entity.FuniHousesPropertyExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from tb_funi_houses_property
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from tb_funi_houses_property
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from tb_funi_houses_property
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.copower.pmcc.assess.dal.basis.entity.FuniHousesPropertyExample" >
    delete from tb_funi_houses_property
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.copower.pmcc.assess.dal.basis.entity.FuniHousesProperty" >
    <selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into tb_funi_houses_property (lpbh, jzmj, zdmj, 
      glfs, gsfs, tx, wl, 
      wylx, jzlb, zxqk, tdsynx, 
      zhs, wyf, wygsbh, wygs, 
      yxdl, kpsj, jfsj, jd, 
      wd, hxqj, kts, hts, 
      cg)
    values (#{lpbh,jdbcType=INTEGER}, #{jzmj,jdbcType=VARCHAR}, #{zdmj,jdbcType=VARCHAR}, 
      #{glfs,jdbcType=VARCHAR}, #{gsfs,jdbcType=VARCHAR}, #{tx,jdbcType=VARCHAR}, #{wl,jdbcType=VARCHAR}, 
      #{wylx,jdbcType=VARCHAR}, #{jzlb,jdbcType=VARCHAR}, #{zxqk,jdbcType=VARCHAR}, #{tdsynx,jdbcType=VARCHAR}, 
      #{zhs,jdbcType=VARCHAR}, #{wyf,jdbcType=VARCHAR}, #{wygsbh,jdbcType=INTEGER}, #{wygs,jdbcType=VARCHAR}, 
      #{yxdl,jdbcType=VARCHAR}, #{kpsj,jdbcType=VARCHAR}, #{jfsj,jdbcType=VARCHAR}, #{jd,jdbcType=VARCHAR}, 
      #{wd,jdbcType=VARCHAR}, #{hxqj,jdbcType=VARCHAR}, #{kts,jdbcType=VARCHAR}, #{hts,jdbcType=VARCHAR}, 
      #{cg,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.copower.pmcc.assess.dal.basis.entity.FuniHousesProperty" >
    <selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into tb_funi_houses_property
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="lpbh != null" >
        lpbh,
      </if>
      <if test="jzmj != null" >
        jzmj,
      </if>
      <if test="zdmj != null" >
        zdmj,
      </if>
      <if test="glfs != null" >
        glfs,
      </if>
      <if test="gsfs != null" >
        gsfs,
      </if>
      <if test="tx != null" >
        tx,
      </if>
      <if test="wl != null" >
        wl,
      </if>
      <if test="wylx != null" >
        wylx,
      </if>
      <if test="jzlb != null" >
        jzlb,
      </if>
      <if test="zxqk != null" >
        zxqk,
      </if>
      <if test="tdsynx != null" >
        tdsynx,
      </if>
      <if test="zhs != null" >
        zhs,
      </if>
      <if test="wyf != null" >
        wyf,
      </if>
      <if test="wygsbh != null" >
        wygsbh,
      </if>
      <if test="wygs != null" >
        wygs,
      </if>
      <if test="yxdl != null" >
        yxdl,
      </if>
      <if test="kpsj != null" >
        kpsj,
      </if>
      <if test="jfsj != null" >
        jfsj,
      </if>
      <if test="jd != null" >
        jd,
      </if>
      <if test="wd != null" >
        wd,
      </if>
      <if test="hxqj != null" >
        hxqj,
      </if>
      <if test="kts != null" >
        kts,
      </if>
      <if test="hts != null" >
        hts,
      </if>
      <if test="cg != null" >
        cg,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="lpbh != null" >
        #{lpbh,jdbcType=INTEGER},
      </if>
      <if test="jzmj != null" >
        #{jzmj,jdbcType=VARCHAR},
      </if>
      <if test="zdmj != null" >
        #{zdmj,jdbcType=VARCHAR},
      </if>
      <if test="glfs != null" >
        #{glfs,jdbcType=VARCHAR},
      </if>
      <if test="gsfs != null" >
        #{gsfs,jdbcType=VARCHAR},
      </if>
      <if test="tx != null" >
        #{tx,jdbcType=VARCHAR},
      </if>
      <if test="wl != null" >
        #{wl,jdbcType=VARCHAR},
      </if>
      <if test="wylx != null" >
        #{wylx,jdbcType=VARCHAR},
      </if>
      <if test="jzlb != null" >
        #{jzlb,jdbcType=VARCHAR},
      </if>
      <if test="zxqk != null" >
        #{zxqk,jdbcType=VARCHAR},
      </if>
      <if test="tdsynx != null" >
        #{tdsynx,jdbcType=VARCHAR},
      </if>
      <if test="zhs != null" >
        #{zhs,jdbcType=VARCHAR},
      </if>
      <if test="wyf != null" >
        #{wyf,jdbcType=VARCHAR},
      </if>
      <if test="wygsbh != null" >
        #{wygsbh,jdbcType=INTEGER},
      </if>
      <if test="wygs != null" >
        #{wygs,jdbcType=VARCHAR},
      </if>
      <if test="yxdl != null" >
        #{yxdl,jdbcType=VARCHAR},
      </if>
      <if test="kpsj != null" >
        #{kpsj,jdbcType=VARCHAR},
      </if>
      <if test="jfsj != null" >
        #{jfsj,jdbcType=VARCHAR},
      </if>
      <if test="jd != null" >
        #{jd,jdbcType=VARCHAR},
      </if>
      <if test="wd != null" >
        #{wd,jdbcType=VARCHAR},
      </if>
      <if test="hxqj != null" >
        #{hxqj,jdbcType=VARCHAR},
      </if>
      <if test="kts != null" >
        #{kts,jdbcType=VARCHAR},
      </if>
      <if test="hts != null" >
        #{hts,jdbcType=VARCHAR},
      </if>
      <if test="cg != null" >
        #{cg,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.copower.pmcc.assess.dal.basis.entity.FuniHousesPropertyExample" resultType="java.lang.Integer" >
    select count(*) from tb_funi_houses_property
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update tb_funi_houses_property
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.lpbh != null" >
        lpbh = #{record.lpbh,jdbcType=INTEGER},
      </if>
      <if test="record.jzmj != null" >
        jzmj = #{record.jzmj,jdbcType=VARCHAR},
      </if>
      <if test="record.zdmj != null" >
        zdmj = #{record.zdmj,jdbcType=VARCHAR},
      </if>
      <if test="record.glfs != null" >
        glfs = #{record.glfs,jdbcType=VARCHAR},
      </if>
      <if test="record.gsfs != null" >
        gsfs = #{record.gsfs,jdbcType=VARCHAR},
      </if>
      <if test="record.tx != null" >
        tx = #{record.tx,jdbcType=VARCHAR},
      </if>
      <if test="record.wl != null" >
        wl = #{record.wl,jdbcType=VARCHAR},
      </if>
      <if test="record.wylx != null" >
        wylx = #{record.wylx,jdbcType=VARCHAR},
      </if>
      <if test="record.jzlb != null" >
        jzlb = #{record.jzlb,jdbcType=VARCHAR},
      </if>
      <if test="record.zxqk != null" >
        zxqk = #{record.zxqk,jdbcType=VARCHAR},
      </if>
      <if test="record.tdsynx != null" >
        tdsynx = #{record.tdsynx,jdbcType=VARCHAR},
      </if>
      <if test="record.zhs != null" >
        zhs = #{record.zhs,jdbcType=VARCHAR},
      </if>
      <if test="record.wyf != null" >
        wyf = #{record.wyf,jdbcType=VARCHAR},
      </if>
      <if test="record.wygsbh != null" >
        wygsbh = #{record.wygsbh,jdbcType=INTEGER},
      </if>
      <if test="record.wygs != null" >
        wygs = #{record.wygs,jdbcType=VARCHAR},
      </if>
      <if test="record.yxdl != null" >
        yxdl = #{record.yxdl,jdbcType=VARCHAR},
      </if>
      <if test="record.kpsj != null" >
        kpsj = #{record.kpsj,jdbcType=VARCHAR},
      </if>
      <if test="record.jfsj != null" >
        jfsj = #{record.jfsj,jdbcType=VARCHAR},
      </if>
      <if test="record.jd != null" >
        jd = #{record.jd,jdbcType=VARCHAR},
      </if>
      <if test="record.wd != null" >
        wd = #{record.wd,jdbcType=VARCHAR},
      </if>
      <if test="record.hxqj != null" >
        hxqj = #{record.hxqj,jdbcType=VARCHAR},
      </if>
      <if test="record.kts != null" >
        kts = #{record.kts,jdbcType=VARCHAR},
      </if>
      <if test="record.hts != null" >
        hts = #{record.hts,jdbcType=VARCHAR},
      </if>
      <if test="record.cg != null" >
        cg = #{record.cg,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update tb_funi_houses_property
    set id = #{record.id,jdbcType=INTEGER},
      lpbh = #{record.lpbh,jdbcType=INTEGER},
      jzmj = #{record.jzmj,jdbcType=VARCHAR},
      zdmj = #{record.zdmj,jdbcType=VARCHAR},
      glfs = #{record.glfs,jdbcType=VARCHAR},
      gsfs = #{record.gsfs,jdbcType=VARCHAR},
      tx = #{record.tx,jdbcType=VARCHAR},
      wl = #{record.wl,jdbcType=VARCHAR},
      wylx = #{record.wylx,jdbcType=VARCHAR},
      jzlb = #{record.jzlb,jdbcType=VARCHAR},
      zxqk = #{record.zxqk,jdbcType=VARCHAR},
      tdsynx = #{record.tdsynx,jdbcType=VARCHAR},
      zhs = #{record.zhs,jdbcType=VARCHAR},
      wyf = #{record.wyf,jdbcType=VARCHAR},
      wygsbh = #{record.wygsbh,jdbcType=INTEGER},
      wygs = #{record.wygs,jdbcType=VARCHAR},
      yxdl = #{record.yxdl,jdbcType=VARCHAR},
      kpsj = #{record.kpsj,jdbcType=VARCHAR},
      jfsj = #{record.jfsj,jdbcType=VARCHAR},
      jd = #{record.jd,jdbcType=VARCHAR},
      wd = #{record.wd,jdbcType=VARCHAR},
      hxqj = #{record.hxqj,jdbcType=VARCHAR},
      kts = #{record.kts,jdbcType=VARCHAR},
      hts = #{record.hts,jdbcType=VARCHAR},
      cg = #{record.cg,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.copower.pmcc.assess.dal.basis.entity.FuniHousesProperty" >
    update tb_funi_houses_property
    <set >
      <if test="lpbh != null" >
        lpbh = #{lpbh,jdbcType=INTEGER},
      </if>
      <if test="jzmj != null" >
        jzmj = #{jzmj,jdbcType=VARCHAR},
      </if>
      <if test="zdmj != null" >
        zdmj = #{zdmj,jdbcType=VARCHAR},
      </if>
      <if test="glfs != null" >
        glfs = #{glfs,jdbcType=VARCHAR},
      </if>
      <if test="gsfs != null" >
        gsfs = #{gsfs,jdbcType=VARCHAR},
      </if>
      <if test="tx != null" >
        tx = #{tx,jdbcType=VARCHAR},
      </if>
      <if test="wl != null" >
        wl = #{wl,jdbcType=VARCHAR},
      </if>
      <if test="wylx != null" >
        wylx = #{wylx,jdbcType=VARCHAR},
      </if>
      <if test="jzlb != null" >
        jzlb = #{jzlb,jdbcType=VARCHAR},
      </if>
      <if test="zxqk != null" >
        zxqk = #{zxqk,jdbcType=VARCHAR},
      </if>
      <if test="tdsynx != null" >
        tdsynx = #{tdsynx,jdbcType=VARCHAR},
      </if>
      <if test="zhs != null" >
        zhs = #{zhs,jdbcType=VARCHAR},
      </if>
      <if test="wyf != null" >
        wyf = #{wyf,jdbcType=VARCHAR},
      </if>
      <if test="wygsbh != null" >
        wygsbh = #{wygsbh,jdbcType=INTEGER},
      </if>
      <if test="wygs != null" >
        wygs = #{wygs,jdbcType=VARCHAR},
      </if>
      <if test="yxdl != null" >
        yxdl = #{yxdl,jdbcType=VARCHAR},
      </if>
      <if test="kpsj != null" >
        kpsj = #{kpsj,jdbcType=VARCHAR},
      </if>
      <if test="jfsj != null" >
        jfsj = #{jfsj,jdbcType=VARCHAR},
      </if>
      <if test="jd != null" >
        jd = #{jd,jdbcType=VARCHAR},
      </if>
      <if test="wd != null" >
        wd = #{wd,jdbcType=VARCHAR},
      </if>
      <if test="hxqj != null" >
        hxqj = #{hxqj,jdbcType=VARCHAR},
      </if>
      <if test="kts != null" >
        kts = #{kts,jdbcType=VARCHAR},
      </if>
      <if test="hts != null" >
        hts = #{hts,jdbcType=VARCHAR},
      </if>
      <if test="cg != null" >
        cg = #{cg,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.copower.pmcc.assess.dal.basis.entity.FuniHousesProperty" >
    update tb_funi_houses_property
    set lpbh = #{lpbh,jdbcType=INTEGER},
      jzmj = #{jzmj,jdbcType=VARCHAR},
      zdmj = #{zdmj,jdbcType=VARCHAR},
      glfs = #{glfs,jdbcType=VARCHAR},
      gsfs = #{gsfs,jdbcType=VARCHAR},
      tx = #{tx,jdbcType=VARCHAR},
      wl = #{wl,jdbcType=VARCHAR},
      wylx = #{wylx,jdbcType=VARCHAR},
      jzlb = #{jzlb,jdbcType=VARCHAR},
      zxqk = #{zxqk,jdbcType=VARCHAR},
      tdsynx = #{tdsynx,jdbcType=VARCHAR},
      zhs = #{zhs,jdbcType=VARCHAR},
      wyf = #{wyf,jdbcType=VARCHAR},
      wygsbh = #{wygsbh,jdbcType=INTEGER},
      wygs = #{wygs,jdbcType=VARCHAR},
      yxdl = #{yxdl,jdbcType=VARCHAR},
      kpsj = #{kpsj,jdbcType=VARCHAR},
      jfsj = #{jfsj,jdbcType=VARCHAR},
      jd = #{jd,jdbcType=VARCHAR},
      wd = #{wd,jdbcType=VARCHAR},
      hxqj = #{hxqj,jdbcType=VARCHAR},
      kts = #{kts,jdbcType=VARCHAR},
      hts = #{hts,jdbcType=VARCHAR},
      cg = #{cg,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>