<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.copower.pmcc.assess.dal.basis.mapper.FuniHousesMatingMapper" >
  <resultMap id="BaseResultMap" type="com.copower.pmcc.assess.dal.basis.entity.FuniHousesMating" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="lpbh" property="lpbh" jdbcType="INTEGER" />
    <result column="gj" property="gj" jdbcType="VARCHAR" />
    <result column="dt" property="dt" jdbcType="VARCHAR" />
    <result column="yey" property="yey" jdbcType="VARCHAR" />
    <result column="xx" property="xx" jdbcType="VARCHAR" />
    <result column="zx" property="zx" jdbcType="VARCHAR" />
    <result column="dx" property="dx" jdbcType="VARCHAR" />
    <result column="yy" property="yy" jdbcType="VARCHAR" />
    <result column="yd" property="yd" jdbcType="VARCHAR" />
    <result column="sc" property="sc" jdbcType="VARCHAR" />
    <result column="cs" property="cs" jdbcType="VARCHAR" />
    <result column="csc" property="csc" jdbcType="VARCHAR" />
    <result column="yh" property="yh" jdbcType="VARCHAR" />
    <result column="atm" property="atm" jdbcType="VARCHAR" />
    <result column="ct" property="ct" jdbcType="VARCHAR" />
    <result column="kfg" property="kfg" jdbcType="VARCHAR" />
    <result column="gy" property="gy" jdbcType="VARCHAR" />
    <result column="dyy" property="dyy" jdbcType="VARCHAR" />
    <result column="jsf" property="jsf" jdbcType="VARCHAR" />
    <result column="tyg" property="tyg" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, lpbh, gj, dt, yey, xx, zx, dx, yy, yd, sc, cs, csc, yh, atm, ct, kfg, gy, dyy, 
    jsf, tyg
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.copower.pmcc.assess.dal.basis.entity.FuniHousesMatingExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from tb_funi_houses_mating
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from tb_funi_houses_mating
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from tb_funi_houses_mating
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.copower.pmcc.assess.dal.basis.entity.FuniHousesMatingExample" >
    delete from tb_funi_houses_mating
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.copower.pmcc.assess.dal.basis.entity.FuniHousesMating" >
    <selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into tb_funi_houses_mating (lpbh, gj, dt, 
      yey, xx, zx, dx, 
      yy, yd, sc, cs, 
      csc, yh, atm, ct, 
      kfg, gy, dyy, jsf, 
      tyg)
    values (#{lpbh,jdbcType=INTEGER}, #{gj,jdbcType=VARCHAR}, #{dt,jdbcType=VARCHAR}, 
      #{yey,jdbcType=VARCHAR}, #{xx,jdbcType=VARCHAR}, #{zx,jdbcType=VARCHAR}, #{dx,jdbcType=VARCHAR}, 
      #{yy,jdbcType=VARCHAR}, #{yd,jdbcType=VARCHAR}, #{sc,jdbcType=VARCHAR}, #{cs,jdbcType=VARCHAR}, 
      #{csc,jdbcType=VARCHAR}, #{yh,jdbcType=VARCHAR}, #{atm,jdbcType=VARCHAR}, #{ct,jdbcType=VARCHAR}, 
      #{kfg,jdbcType=VARCHAR}, #{gy,jdbcType=VARCHAR}, #{dyy,jdbcType=VARCHAR}, #{jsf,jdbcType=VARCHAR}, 
      #{tyg,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.copower.pmcc.assess.dal.basis.entity.FuniHousesMating" >
    <selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into tb_funi_houses_mating
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="lpbh != null" >
        lpbh,
      </if>
      <if test="gj != null" >
        gj,
      </if>
      <if test="dt != null" >
        dt,
      </if>
      <if test="yey != null" >
        yey,
      </if>
      <if test="xx != null" >
        xx,
      </if>
      <if test="zx != null" >
        zx,
      </if>
      <if test="dx != null" >
        dx,
      </if>
      <if test="yy != null" >
        yy,
      </if>
      <if test="yd != null" >
        yd,
      </if>
      <if test="sc != null" >
        sc,
      </if>
      <if test="cs != null" >
        cs,
      </if>
      <if test="csc != null" >
        csc,
      </if>
      <if test="yh != null" >
        yh,
      </if>
      <if test="atm != null" >
        atm,
      </if>
      <if test="ct != null" >
        ct,
      </if>
      <if test="kfg != null" >
        kfg,
      </if>
      <if test="gy != null" >
        gy,
      </if>
      <if test="dyy != null" >
        dyy,
      </if>
      <if test="jsf != null" >
        jsf,
      </if>
      <if test="tyg != null" >
        tyg,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="lpbh != null" >
        #{lpbh,jdbcType=INTEGER},
      </if>
      <if test="gj != null" >
        #{gj,jdbcType=VARCHAR},
      </if>
      <if test="dt != null" >
        #{dt,jdbcType=VARCHAR},
      </if>
      <if test="yey != null" >
        #{yey,jdbcType=VARCHAR},
      </if>
      <if test="xx != null" >
        #{xx,jdbcType=VARCHAR},
      </if>
      <if test="zx != null" >
        #{zx,jdbcType=VARCHAR},
      </if>
      <if test="dx != null" >
        #{dx,jdbcType=VARCHAR},
      </if>
      <if test="yy != null" >
        #{yy,jdbcType=VARCHAR},
      </if>
      <if test="yd != null" >
        #{yd,jdbcType=VARCHAR},
      </if>
      <if test="sc != null" >
        #{sc,jdbcType=VARCHAR},
      </if>
      <if test="cs != null" >
        #{cs,jdbcType=VARCHAR},
      </if>
      <if test="csc != null" >
        #{csc,jdbcType=VARCHAR},
      </if>
      <if test="yh != null" >
        #{yh,jdbcType=VARCHAR},
      </if>
      <if test="atm != null" >
        #{atm,jdbcType=VARCHAR},
      </if>
      <if test="ct != null" >
        #{ct,jdbcType=VARCHAR},
      </if>
      <if test="kfg != null" >
        #{kfg,jdbcType=VARCHAR},
      </if>
      <if test="gy != null" >
        #{gy,jdbcType=VARCHAR},
      </if>
      <if test="dyy != null" >
        #{dyy,jdbcType=VARCHAR},
      </if>
      <if test="jsf != null" >
        #{jsf,jdbcType=VARCHAR},
      </if>
      <if test="tyg != null" >
        #{tyg,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.copower.pmcc.assess.dal.basis.entity.FuniHousesMatingExample" resultType="java.lang.Integer" >
    select count(*) from tb_funi_houses_mating
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update tb_funi_houses_mating
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.lpbh != null" >
        lpbh = #{record.lpbh,jdbcType=INTEGER},
      </if>
      <if test="record.gj != null" >
        gj = #{record.gj,jdbcType=VARCHAR},
      </if>
      <if test="record.dt != null" >
        dt = #{record.dt,jdbcType=VARCHAR},
      </if>
      <if test="record.yey != null" >
        yey = #{record.yey,jdbcType=VARCHAR},
      </if>
      <if test="record.xx != null" >
        xx = #{record.xx,jdbcType=VARCHAR},
      </if>
      <if test="record.zx != null" >
        zx = #{record.zx,jdbcType=VARCHAR},
      </if>
      <if test="record.dx != null" >
        dx = #{record.dx,jdbcType=VARCHAR},
      </if>
      <if test="record.yy != null" >
        yy = #{record.yy,jdbcType=VARCHAR},
      </if>
      <if test="record.yd != null" >
        yd = #{record.yd,jdbcType=VARCHAR},
      </if>
      <if test="record.sc != null" >
        sc = #{record.sc,jdbcType=VARCHAR},
      </if>
      <if test="record.cs != null" >
        cs = #{record.cs,jdbcType=VARCHAR},
      </if>
      <if test="record.csc != null" >
        csc = #{record.csc,jdbcType=VARCHAR},
      </if>
      <if test="record.yh != null" >
        yh = #{record.yh,jdbcType=VARCHAR},
      </if>
      <if test="record.atm != null" >
        atm = #{record.atm,jdbcType=VARCHAR},
      </if>
      <if test="record.ct != null" >
        ct = #{record.ct,jdbcType=VARCHAR},
      </if>
      <if test="record.kfg != null" >
        kfg = #{record.kfg,jdbcType=VARCHAR},
      </if>
      <if test="record.gy != null" >
        gy = #{record.gy,jdbcType=VARCHAR},
      </if>
      <if test="record.dyy != null" >
        dyy = #{record.dyy,jdbcType=VARCHAR},
      </if>
      <if test="record.jsf != null" >
        jsf = #{record.jsf,jdbcType=VARCHAR},
      </if>
      <if test="record.tyg != null" >
        tyg = #{record.tyg,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update tb_funi_houses_mating
    set id = #{record.id,jdbcType=INTEGER},
      lpbh = #{record.lpbh,jdbcType=INTEGER},
      gj = #{record.gj,jdbcType=VARCHAR},
      dt = #{record.dt,jdbcType=VARCHAR},
      yey = #{record.yey,jdbcType=VARCHAR},
      xx = #{record.xx,jdbcType=VARCHAR},
      zx = #{record.zx,jdbcType=VARCHAR},
      dx = #{record.dx,jdbcType=VARCHAR},
      yy = #{record.yy,jdbcType=VARCHAR},
      yd = #{record.yd,jdbcType=VARCHAR},
      sc = #{record.sc,jdbcType=VARCHAR},
      cs = #{record.cs,jdbcType=VARCHAR},
      csc = #{record.csc,jdbcType=VARCHAR},
      yh = #{record.yh,jdbcType=VARCHAR},
      atm = #{record.atm,jdbcType=VARCHAR},
      ct = #{record.ct,jdbcType=VARCHAR},
      kfg = #{record.kfg,jdbcType=VARCHAR},
      gy = #{record.gy,jdbcType=VARCHAR},
      dyy = #{record.dyy,jdbcType=VARCHAR},
      jsf = #{record.jsf,jdbcType=VARCHAR},
      tyg = #{record.tyg,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.copower.pmcc.assess.dal.basis.entity.FuniHousesMating" >
    update tb_funi_houses_mating
    <set >
      <if test="lpbh != null" >
        lpbh = #{lpbh,jdbcType=INTEGER},
      </if>
      <if test="gj != null" >
        gj = #{gj,jdbcType=VARCHAR},
      </if>
      <if test="dt != null" >
        dt = #{dt,jdbcType=VARCHAR},
      </if>
      <if test="yey != null" >
        yey = #{yey,jdbcType=VARCHAR},
      </if>
      <if test="xx != null" >
        xx = #{xx,jdbcType=VARCHAR},
      </if>
      <if test="zx != null" >
        zx = #{zx,jdbcType=VARCHAR},
      </if>
      <if test="dx != null" >
        dx = #{dx,jdbcType=VARCHAR},
      </if>
      <if test="yy != null" >
        yy = #{yy,jdbcType=VARCHAR},
      </if>
      <if test="yd != null" >
        yd = #{yd,jdbcType=VARCHAR},
      </if>
      <if test="sc != null" >
        sc = #{sc,jdbcType=VARCHAR},
      </if>
      <if test="cs != null" >
        cs = #{cs,jdbcType=VARCHAR},
      </if>
      <if test="csc != null" >
        csc = #{csc,jdbcType=VARCHAR},
      </if>
      <if test="yh != null" >
        yh = #{yh,jdbcType=VARCHAR},
      </if>
      <if test="atm != null" >
        atm = #{atm,jdbcType=VARCHAR},
      </if>
      <if test="ct != null" >
        ct = #{ct,jdbcType=VARCHAR},
      </if>
      <if test="kfg != null" >
        kfg = #{kfg,jdbcType=VARCHAR},
      </if>
      <if test="gy != null" >
        gy = #{gy,jdbcType=VARCHAR},
      </if>
      <if test="dyy != null" >
        dyy = #{dyy,jdbcType=VARCHAR},
      </if>
      <if test="jsf != null" >
        jsf = #{jsf,jdbcType=VARCHAR},
      </if>
      <if test="tyg != null" >
        tyg = #{tyg,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.copower.pmcc.assess.dal.basis.entity.FuniHousesMating" >
    update tb_funi_houses_mating
    set lpbh = #{lpbh,jdbcType=INTEGER},
      gj = #{gj,jdbcType=VARCHAR},
      dt = #{dt,jdbcType=VARCHAR},
      yey = #{yey,jdbcType=VARCHAR},
      xx = #{xx,jdbcType=VARCHAR},
      zx = #{zx,jdbcType=VARCHAR},
      dx = #{dx,jdbcType=VARCHAR},
      yy = #{yy,jdbcType=VARCHAR},
      yd = #{yd,jdbcType=VARCHAR},
      sc = #{sc,jdbcType=VARCHAR},
      cs = #{cs,jdbcType=VARCHAR},
      csc = #{csc,jdbcType=VARCHAR},
      yh = #{yh,jdbcType=VARCHAR},
      atm = #{atm,jdbcType=VARCHAR},
      ct = #{ct,jdbcType=VARCHAR},
      kfg = #{kfg,jdbcType=VARCHAR},
      gy = #{gy,jdbcType=VARCHAR},
      dyy = #{dyy,jdbcType=VARCHAR},
      jsf = #{jsf,jdbcType=VARCHAR},
      tyg = #{tyg,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>