<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.copower.pmcc.assess.dal.basis.mapper.InitiateUnitInformationMapper" >
  <resultMap id="BaseResultMap" type="com.copower.pmcc.assess.dal.basis.entity.InitiateUnitInformation" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="creator" property="creator" jdbcType="VARCHAR" />
    <result column="gmt_created" property="gmtCreated" jdbcType="TIMESTAMP" />
    <result column="gmt_modified" property="gmtModified" jdbcType="TIMESTAMP" />
    <result column="project_id" property="projectId" jdbcType="INTEGER" />
    <result column="u_unit_properties" property="uUnitProperties" jdbcType="VARCHAR" />
    <result column="u_scope_operation" property="uScopeOperation" jdbcType="VARCHAR" />
    <result column="u_address" property="uAddress" jdbcType="VARCHAR" />
    <result column="u_certificate_number" property="uCertificateNumber" jdbcType="VARCHAR" />
    <result column="u_legal_representative" property="uLegalRepresentative" jdbcType="VARCHAR" />
    <result column="u_use_unit" property="uUseUnit" jdbcType="VARCHAR" />
    <result column="spare_field" property="spareField" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, creator, gmt_created, gmt_modified, project_id, u_unit_properties, u_scope_operation, 
    u_address, u_certificate_number, u_legal_representative, u_use_unit, spare_field
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.copower.pmcc.assess.dal.basis.entity.InitiateUnitInformationExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from tb_initiate_unit_information
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from tb_initiate_unit_information
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from tb_initiate_unit_information
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.copower.pmcc.assess.dal.basis.entity.InitiateUnitInformationExample" >
    delete from tb_initiate_unit_information
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.copower.pmcc.assess.dal.basis.entity.InitiateUnitInformation" >
    <selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into tb_initiate_unit_information (creator, gmt_created, gmt_modified, 
      project_id, u_unit_properties, u_scope_operation, 
      u_address, u_certificate_number, u_legal_representative, 
      u_use_unit, spare_field)
    values (#{creator,jdbcType=VARCHAR}, #{gmtCreated,jdbcType=TIMESTAMP}, #{gmtModified,jdbcType=TIMESTAMP}, 
      #{projectId,jdbcType=INTEGER}, #{uUnitProperties,jdbcType=VARCHAR}, #{uScopeOperation,jdbcType=VARCHAR}, 
      #{uAddress,jdbcType=VARCHAR}, #{uCertificateNumber,jdbcType=VARCHAR}, #{uLegalRepresentative,jdbcType=VARCHAR}, 
      #{uUseUnit,jdbcType=VARCHAR}, #{spareField,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.copower.pmcc.assess.dal.basis.entity.InitiateUnitInformation" >
    <selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into tb_initiate_unit_information
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="creator != null" >
        creator,
      </if>
      <if test="gmtCreated != null" >
        gmt_created,
      </if>
      <if test="gmtModified != null" >
        gmt_modified,
      </if>
      <if test="projectId != null" >
        project_id,
      </if>
      <if test="uUnitProperties != null" >
        u_unit_properties,
      </if>
      <if test="uScopeOperation != null" >
        u_scope_operation,
      </if>
      <if test="uAddress != null" >
        u_address,
      </if>
      <if test="uCertificateNumber != null" >
        u_certificate_number,
      </if>
      <if test="uLegalRepresentative != null" >
        u_legal_representative,
      </if>
      <if test="uUseUnit != null" >
        u_use_unit,
      </if>
      <if test="spareField != null" >
        spare_field,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="creator != null" >
        #{creator,jdbcType=VARCHAR},
      </if>
      <if test="gmtCreated != null" >
        #{gmtCreated,jdbcType=TIMESTAMP},
      </if>
      <if test="gmtModified != null" >
        #{gmtModified,jdbcType=TIMESTAMP},
      </if>
      <if test="projectId != null" >
        #{projectId,jdbcType=INTEGER},
      </if>
      <if test="uUnitProperties != null" >
        #{uUnitProperties,jdbcType=VARCHAR},
      </if>
      <if test="uScopeOperation != null" >
        #{uScopeOperation,jdbcType=VARCHAR},
      </if>
      <if test="uAddress != null" >
        #{uAddress,jdbcType=VARCHAR},
      </if>
      <if test="uCertificateNumber != null" >
        #{uCertificateNumber,jdbcType=VARCHAR},
      </if>
      <if test="uLegalRepresentative != null" >
        #{uLegalRepresentative,jdbcType=VARCHAR},
      </if>
      <if test="uUseUnit != null" >
        #{uUseUnit,jdbcType=VARCHAR},
      </if>
      <if test="spareField != null" >
        #{spareField,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.copower.pmcc.assess.dal.basis.entity.InitiateUnitInformationExample" resultType="java.lang.Integer" >
    select count(*) from tb_initiate_unit_information
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update tb_initiate_unit_information
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.creator != null" >
        creator = #{record.creator,jdbcType=VARCHAR},
      </if>
      <if test="record.gmtCreated != null" >
        gmt_created = #{record.gmtCreated,jdbcType=TIMESTAMP},
      </if>
      <if test="record.gmtModified != null" >
        gmt_modified = #{record.gmtModified,jdbcType=TIMESTAMP},
      </if>
      <if test="record.projectId != null" >
        project_id = #{record.projectId,jdbcType=INTEGER},
      </if>
      <if test="record.uUnitProperties != null" >
        u_unit_properties = #{record.uUnitProperties,jdbcType=VARCHAR},
      </if>
      <if test="record.uScopeOperation != null" >
        u_scope_operation = #{record.uScopeOperation,jdbcType=VARCHAR},
      </if>
      <if test="record.uAddress != null" >
        u_address = #{record.uAddress,jdbcType=VARCHAR},
      </if>
      <if test="record.uCertificateNumber != null" >
        u_certificate_number = #{record.uCertificateNumber,jdbcType=VARCHAR},
      </if>
      <if test="record.uLegalRepresentative != null" >
        u_legal_representative = #{record.uLegalRepresentative,jdbcType=VARCHAR},
      </if>
      <if test="record.uUseUnit != null" >
        u_use_unit = #{record.uUseUnit,jdbcType=VARCHAR},
      </if>
      <if test="record.spareField != null" >
        spare_field = #{record.spareField,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update tb_initiate_unit_information
    set id = #{record.id,jdbcType=INTEGER},
      creator = #{record.creator,jdbcType=VARCHAR},
      gmt_created = #{record.gmtCreated,jdbcType=TIMESTAMP},
      gmt_modified = #{record.gmtModified,jdbcType=TIMESTAMP},
      project_id = #{record.projectId,jdbcType=INTEGER},
      u_unit_properties = #{record.uUnitProperties,jdbcType=VARCHAR},
      u_scope_operation = #{record.uScopeOperation,jdbcType=VARCHAR},
      u_address = #{record.uAddress,jdbcType=VARCHAR},
      u_certificate_number = #{record.uCertificateNumber,jdbcType=VARCHAR},
      u_legal_representative = #{record.uLegalRepresentative,jdbcType=VARCHAR},
      u_use_unit = #{record.uUseUnit,jdbcType=VARCHAR},
      spare_field = #{record.spareField,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.copower.pmcc.assess.dal.basis.entity.InitiateUnitInformation" >
    update tb_initiate_unit_information
    <set >
      <if test="creator != null" >
        creator = #{creator,jdbcType=VARCHAR},
      </if>
      <if test="gmtCreated != null" >
        gmt_created = #{gmtCreated,jdbcType=TIMESTAMP},
      </if>
      <if test="gmtModified != null" >
        gmt_modified = #{gmtModified,jdbcType=TIMESTAMP},
      </if>
      <if test="projectId != null" >
        project_id = #{projectId,jdbcType=INTEGER},
      </if>
      <if test="uUnitProperties != null" >
        u_unit_properties = #{uUnitProperties,jdbcType=VARCHAR},
      </if>
      <if test="uScopeOperation != null" >
        u_scope_operation = #{uScopeOperation,jdbcType=VARCHAR},
      </if>
      <if test="uAddress != null" >
        u_address = #{uAddress,jdbcType=VARCHAR},
      </if>
      <if test="uCertificateNumber != null" >
        u_certificate_number = #{uCertificateNumber,jdbcType=VARCHAR},
      </if>
      <if test="uLegalRepresentative != null" >
        u_legal_representative = #{uLegalRepresentative,jdbcType=VARCHAR},
      </if>
      <if test="uUseUnit != null" >
        u_use_unit = #{uUseUnit,jdbcType=VARCHAR},
      </if>
      <if test="spareField != null" >
        spare_field = #{spareField,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.copower.pmcc.assess.dal.basis.entity.InitiateUnitInformation" >
    update tb_initiate_unit_information
    set creator = #{creator,jdbcType=VARCHAR},
      gmt_created = #{gmtCreated,jdbcType=TIMESTAMP},
      gmt_modified = #{gmtModified,jdbcType=TIMESTAMP},
      project_id = #{projectId,jdbcType=INTEGER},
      u_unit_properties = #{uUnitProperties,jdbcType=VARCHAR},
      u_scope_operation = #{uScopeOperation,jdbcType=VARCHAR},
      u_address = #{uAddress,jdbcType=VARCHAR},
      u_certificate_number = #{uCertificateNumber,jdbcType=VARCHAR},
      u_legal_representative = #{uLegalRepresentative,jdbcType=VARCHAR},
      u_use_unit = #{uUseUnit,jdbcType=VARCHAR},
      spare_field = #{spareField,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>