<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.copower.pmcc.assess.dal.basis.mapper.MdCostApproachMapper" >
  <resultMap id="BaseResultMap" type="com.copower.pmcc.assess.dal.basis.entity.MdCostApproach" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="plan_details_id" property="planDetailsId" jdbcType="INTEGER" />
    <result column="process_ins_id" property="processInsId" jdbcType="VARCHAR" />
    <result column="farmland_area" property="farmlandArea" jdbcType="DECIMAL" />
    <result column="plough_area" property="ploughArea" jdbcType="DECIMAL" />
    <result column="population_number" property="populationNumber" jdbcType="INTEGER" />
    <result column="reward_rate_id" property="rewardRateId" jdbcType="INTEGER" />
    <result column="reward_rate" property="rewardRate" jdbcType="VARCHAR" />
    <result column="circulation_expense" property="circulationExpense" jdbcType="DECIMAL" />
    <result column="circulation_expense_remark" property="circulationExpenseRemark" jdbcType="VARCHAR" />
    <result column="flat_expense" property="flatExpense" jdbcType="DECIMAL" />
    <result column="flat_expense_remark" property="flatExpenseRemark" jdbcType="VARCHAR" />
    <result column="machine_cycle" property="machineCycle" jdbcType="DECIMAL" />
    <result column="machine_cycle_remark" property="machineCycleRemark" jdbcType="VARCHAR" />
    <result column="calculated_interest" property="calculatedInterest" jdbcType="VARCHAR" />
    <result column="calculated_interest_remark" property="calculatedInterestRemark" jdbcType="VARCHAR" />
    <result column="profit_margin" property="profitMargin" jdbcType="VARCHAR" />
    <result column="profit_margin_remark" property="profitMarginRemark" jdbcType="VARCHAR" />
    <result column="incremental_benefit" property="incrementalBenefit" jdbcType="VARCHAR" />
    <result column="incremental_benefit_remark" property="incrementalBenefitRemark" jdbcType="VARCHAR" />
    <result column="plot_ratio_adjust" property="plotRatioAdjust" jdbcType="VARCHAR" />
    <result column="plot_ratio_adjust_remark" property="plotRatioAdjustRemark" jdbcType="VARCHAR" />
    <result column="plot_ratio_element_amend" property="plotRatioElementAmend" jdbcType="DECIMAL" />
    <result column="plot_ratio_element_amend_remark" property="plotRatioElementAmendRemark" jdbcType="VARCHAR" />
    <result column="creator" property="creator" jdbcType="VARCHAR" />
    <result column="gmt_created" property="gmtCreated" jdbcType="TIMESTAMP" />
    <result column="gmt_modified" property="gmtModified" jdbcType="TIMESTAMP" />
    <result column="land_remaining_year" property="landRemainingYear" jdbcType="DECIMAL" />
    <result column="land_remaining_year_remark" property="landRemainingYearRemark" jdbcType="VARCHAR" />
    <result column="parcel_setting_outer" property="parcelSettingOuter" jdbcType="VARCHAR" />
    <result column="parcel_setting_inner" property="parcelSettingInner" jdbcType="VARCHAR" />
    <result column="land_level_content" property="landLevelContent" jdbcType="VARCHAR" />
    <result column="land_use_price" property="landUsePrice" jdbcType="DECIMAL" />
    <result column="year_fixed" property="yearFixed" jdbcType="DECIMAL" />
    <result column="parcel_unit" property="parcelUnit" jdbcType="DECIMAL" />
    <result column="land_cost_price_unit" property="landCostPriceUnit" jdbcType="DECIMAL" />
    <result column="land_acquisition_unit" property="landAcquisitionUnit" jdbcType="DECIMAL" />
    <result column="land_production_profit_unit" property="landProductionProfitUnit" jdbcType="DECIMAL" />
    <result column="land_production_interest_unit" property="landProductionInterestUnit" jdbcType="DECIMAL" />
    <result column="have_not_land_acquisition" property="haveNotLandAcquisition" jdbcType="DECIMAL" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, plan_details_id, process_ins_id, farmland_area, plough_area, population_number, 
    reward_rate_id, reward_rate, circulation_expense, circulation_expense_remark, flat_expense, 
    flat_expense_remark, machine_cycle, machine_cycle_remark, calculated_interest, calculated_interest_remark, 
    profit_margin, profit_margin_remark, incremental_benefit, incremental_benefit_remark, 
    plot_ratio_adjust, plot_ratio_adjust_remark, plot_ratio_element_amend, plot_ratio_element_amend_remark, 
    creator, gmt_created, gmt_modified, land_remaining_year, land_remaining_year_remark, 
    parcel_setting_outer, parcel_setting_inner, land_level_content, land_use_price, year_fixed, 
    parcel_unit, land_cost_price_unit, land_acquisition_unit, land_production_profit_unit, 
    land_production_interest_unit, have_not_land_acquisition
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.copower.pmcc.assess.dal.basis.entity.MdCostApproachExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from tb_md_cost_approach
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from tb_md_cost_approach
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from tb_md_cost_approach
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.copower.pmcc.assess.dal.basis.entity.MdCostApproachExample" >
    delete from tb_md_cost_approach
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.copower.pmcc.assess.dal.basis.entity.MdCostApproach" >
    <selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into tb_md_cost_approach (plan_details_id, process_ins_id, farmland_area, 
      plough_area, population_number, reward_rate_id, 
      reward_rate, circulation_expense, circulation_expense_remark, 
      flat_expense, flat_expense_remark, machine_cycle, 
      machine_cycle_remark, calculated_interest, 
      calculated_interest_remark, profit_margin, 
      profit_margin_remark, incremental_benefit, 
      incremental_benefit_remark, plot_ratio_adjust, 
      plot_ratio_adjust_remark, plot_ratio_element_amend, 
      plot_ratio_element_amend_remark, creator, gmt_created, 
      gmt_modified, land_remaining_year, land_remaining_year_remark, 
      parcel_setting_outer, parcel_setting_inner, 
      land_level_content, land_use_price, year_fixed, 
      parcel_unit, land_cost_price_unit, land_acquisition_unit, 
      land_production_profit_unit, land_production_interest_unit, 
      have_not_land_acquisition)
    values (#{planDetailsId,jdbcType=INTEGER}, #{processInsId,jdbcType=VARCHAR}, #{farmlandArea,jdbcType=DECIMAL}, 
      #{ploughArea,jdbcType=DECIMAL}, #{populationNumber,jdbcType=INTEGER}, #{rewardRateId,jdbcType=INTEGER}, 
      #{rewardRate,jdbcType=VARCHAR}, #{circulationExpense,jdbcType=DECIMAL}, #{circulationExpenseRemark,jdbcType=VARCHAR}, 
      #{flatExpense,jdbcType=DECIMAL}, #{flatExpenseRemark,jdbcType=VARCHAR}, #{machineCycle,jdbcType=DECIMAL}, 
      #{machineCycleRemark,jdbcType=VARCHAR}, #{calculatedInterest,jdbcType=VARCHAR}, 
      #{calculatedInterestRemark,jdbcType=VARCHAR}, #{profitMargin,jdbcType=VARCHAR}, 
      #{profitMarginRemark,jdbcType=VARCHAR}, #{incrementalBenefit,jdbcType=VARCHAR}, 
      #{incrementalBenefitRemark,jdbcType=VARCHAR}, #{plotRatioAdjust,jdbcType=VARCHAR}, 
      #{plotRatioAdjustRemark,jdbcType=VARCHAR}, #{plotRatioElementAmend,jdbcType=DECIMAL}, 
      #{plotRatioElementAmendRemark,jdbcType=VARCHAR}, #{creator,jdbcType=VARCHAR}, #{gmtCreated,jdbcType=TIMESTAMP}, 
      #{gmtModified,jdbcType=TIMESTAMP}, #{landRemainingYear,jdbcType=DECIMAL}, #{landRemainingYearRemark,jdbcType=VARCHAR}, 
      #{parcelSettingOuter,jdbcType=VARCHAR}, #{parcelSettingInner,jdbcType=VARCHAR}, 
      #{landLevelContent,jdbcType=VARCHAR}, #{landUsePrice,jdbcType=DECIMAL}, #{yearFixed,jdbcType=DECIMAL}, 
      #{parcelUnit,jdbcType=DECIMAL}, #{landCostPriceUnit,jdbcType=DECIMAL}, #{landAcquisitionUnit,jdbcType=DECIMAL}, 
      #{landProductionProfitUnit,jdbcType=DECIMAL}, #{landProductionInterestUnit,jdbcType=DECIMAL}, 
      #{haveNotLandAcquisition,jdbcType=DECIMAL})
  </insert>
  <insert id="insertSelective" parameterType="com.copower.pmcc.assess.dal.basis.entity.MdCostApproach" >
    <selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into tb_md_cost_approach
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="planDetailsId != null" >
        plan_details_id,
      </if>
      <if test="processInsId != null" >
        process_ins_id,
      </if>
      <if test="farmlandArea != null" >
        farmland_area,
      </if>
      <if test="ploughArea != null" >
        plough_area,
      </if>
      <if test="populationNumber != null" >
        population_number,
      </if>
      <if test="rewardRateId != null" >
        reward_rate_id,
      </if>
      <if test="rewardRate != null" >
        reward_rate,
      </if>
      <if test="circulationExpense != null" >
        circulation_expense,
      </if>
      <if test="circulationExpenseRemark != null" >
        circulation_expense_remark,
      </if>
      <if test="flatExpense != null" >
        flat_expense,
      </if>
      <if test="flatExpenseRemark != null" >
        flat_expense_remark,
      </if>
      <if test="machineCycle != null" >
        machine_cycle,
      </if>
      <if test="machineCycleRemark != null" >
        machine_cycle_remark,
      </if>
      <if test="calculatedInterest != null" >
        calculated_interest,
      </if>
      <if test="calculatedInterestRemark != null" >
        calculated_interest_remark,
      </if>
      <if test="profitMargin != null" >
        profit_margin,
      </if>
      <if test="profitMarginRemark != null" >
        profit_margin_remark,
      </if>
      <if test="incrementalBenefit != null" >
        incremental_benefit,
      </if>
      <if test="incrementalBenefitRemark != null" >
        incremental_benefit_remark,
      </if>
      <if test="plotRatioAdjust != null" >
        plot_ratio_adjust,
      </if>
      <if test="plotRatioAdjustRemark != null" >
        plot_ratio_adjust_remark,
      </if>
      <if test="plotRatioElementAmend != null" >
        plot_ratio_element_amend,
      </if>
      <if test="plotRatioElementAmendRemark != null" >
        plot_ratio_element_amend_remark,
      </if>
      <if test="creator != null" >
        creator,
      </if>
      <if test="gmtCreated != null" >
        gmt_created,
      </if>
      <if test="gmtModified != null" >
        gmt_modified,
      </if>
      <if test="landRemainingYear != null" >
        land_remaining_year,
      </if>
      <if test="landRemainingYearRemark != null" >
        land_remaining_year_remark,
      </if>
      <if test="parcelSettingOuter != null" >
        parcel_setting_outer,
      </if>
      <if test="parcelSettingInner != null" >
        parcel_setting_inner,
      </if>
      <if test="landLevelContent != null" >
        land_level_content,
      </if>
      <if test="landUsePrice != null" >
        land_use_price,
      </if>
      <if test="yearFixed != null" >
        year_fixed,
      </if>
      <if test="parcelUnit != null" >
        parcel_unit,
      </if>
      <if test="landCostPriceUnit != null" >
        land_cost_price_unit,
      </if>
      <if test="landAcquisitionUnit != null" >
        land_acquisition_unit,
      </if>
      <if test="landProductionProfitUnit != null" >
        land_production_profit_unit,
      </if>
      <if test="landProductionInterestUnit != null" >
        land_production_interest_unit,
      </if>
      <if test="haveNotLandAcquisition != null" >
        have_not_land_acquisition,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="planDetailsId != null" >
        #{planDetailsId,jdbcType=INTEGER},
      </if>
      <if test="processInsId != null" >
        #{processInsId,jdbcType=VARCHAR},
      </if>
      <if test="farmlandArea != null" >
        #{farmlandArea,jdbcType=DECIMAL},
      </if>
      <if test="ploughArea != null" >
        #{ploughArea,jdbcType=DECIMAL},
      </if>
      <if test="populationNumber != null" >
        #{populationNumber,jdbcType=INTEGER},
      </if>
      <if test="rewardRateId != null" >
        #{rewardRateId,jdbcType=INTEGER},
      </if>
      <if test="rewardRate != null" >
        #{rewardRate,jdbcType=VARCHAR},
      </if>
      <if test="circulationExpense != null" >
        #{circulationExpense,jdbcType=DECIMAL},
      </if>
      <if test="circulationExpenseRemark != null" >
        #{circulationExpenseRemark,jdbcType=VARCHAR},
      </if>
      <if test="flatExpense != null" >
        #{flatExpense,jdbcType=DECIMAL},
      </if>
      <if test="flatExpenseRemark != null" >
        #{flatExpenseRemark,jdbcType=VARCHAR},
      </if>
      <if test="machineCycle != null" >
        #{machineCycle,jdbcType=DECIMAL},
      </if>
      <if test="machineCycleRemark != null" >
        #{machineCycleRemark,jdbcType=VARCHAR},
      </if>
      <if test="calculatedInterest != null" >
        #{calculatedInterest,jdbcType=VARCHAR},
      </if>
      <if test="calculatedInterestRemark != null" >
        #{calculatedInterestRemark,jdbcType=VARCHAR},
      </if>
      <if test="profitMargin != null" >
        #{profitMargin,jdbcType=VARCHAR},
      </if>
      <if test="profitMarginRemark != null" >
        #{profitMarginRemark,jdbcType=VARCHAR},
      </if>
      <if test="incrementalBenefit != null" >
        #{incrementalBenefit,jdbcType=VARCHAR},
      </if>
      <if test="incrementalBenefitRemark != null" >
        #{incrementalBenefitRemark,jdbcType=VARCHAR},
      </if>
      <if test="plotRatioAdjust != null" >
        #{plotRatioAdjust,jdbcType=VARCHAR},
      </if>
      <if test="plotRatioAdjustRemark != null" >
        #{plotRatioAdjustRemark,jdbcType=VARCHAR},
      </if>
      <if test="plotRatioElementAmend != null" >
        #{plotRatioElementAmend,jdbcType=DECIMAL},
      </if>
      <if test="plotRatioElementAmendRemark != null" >
        #{plotRatioElementAmendRemark,jdbcType=VARCHAR},
      </if>
      <if test="creator != null" >
        #{creator,jdbcType=VARCHAR},
      </if>
      <if test="gmtCreated != null" >
        #{gmtCreated,jdbcType=TIMESTAMP},
      </if>
      <if test="gmtModified != null" >
        #{gmtModified,jdbcType=TIMESTAMP},
      </if>
      <if test="landRemainingYear != null" >
        #{landRemainingYear,jdbcType=DECIMAL},
      </if>
      <if test="landRemainingYearRemark != null" >
        #{landRemainingYearRemark,jdbcType=VARCHAR},
      </if>
      <if test="parcelSettingOuter != null" >
        #{parcelSettingOuter,jdbcType=VARCHAR},
      </if>
      <if test="parcelSettingInner != null" >
        #{parcelSettingInner,jdbcType=VARCHAR},
      </if>
      <if test="landLevelContent != null" >
        #{landLevelContent,jdbcType=VARCHAR},
      </if>
      <if test="landUsePrice != null" >
        #{landUsePrice,jdbcType=DECIMAL},
      </if>
      <if test="yearFixed != null" >
        #{yearFixed,jdbcType=DECIMAL},
      </if>
      <if test="parcelUnit != null" >
        #{parcelUnit,jdbcType=DECIMAL},
      </if>
      <if test="landCostPriceUnit != null" >
        #{landCostPriceUnit,jdbcType=DECIMAL},
      </if>
      <if test="landAcquisitionUnit != null" >
        #{landAcquisitionUnit,jdbcType=DECIMAL},
      </if>
      <if test="landProductionProfitUnit != null" >
        #{landProductionProfitUnit,jdbcType=DECIMAL},
      </if>
      <if test="landProductionInterestUnit != null" >
        #{landProductionInterestUnit,jdbcType=DECIMAL},
      </if>
      <if test="haveNotLandAcquisition != null" >
        #{haveNotLandAcquisition,jdbcType=DECIMAL},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.copower.pmcc.assess.dal.basis.entity.MdCostApproachExample" resultType="java.lang.Integer" >
    select count(*) from tb_md_cost_approach
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update tb_md_cost_approach
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.planDetailsId != null" >
        plan_details_id = #{record.planDetailsId,jdbcType=INTEGER},
      </if>
      <if test="record.processInsId != null" >
        process_ins_id = #{record.processInsId,jdbcType=VARCHAR},
      </if>
      <if test="record.farmlandArea != null" >
        farmland_area = #{record.farmlandArea,jdbcType=DECIMAL},
      </if>
      <if test="record.ploughArea != null" >
        plough_area = #{record.ploughArea,jdbcType=DECIMAL},
      </if>
      <if test="record.populationNumber != null" >
        population_number = #{record.populationNumber,jdbcType=INTEGER},
      </if>
      <if test="record.rewardRateId != null" >
        reward_rate_id = #{record.rewardRateId,jdbcType=INTEGER},
      </if>
      <if test="record.rewardRate != null" >
        reward_rate = #{record.rewardRate,jdbcType=VARCHAR},
      </if>
      <if test="record.circulationExpense != null" >
        circulation_expense = #{record.circulationExpense,jdbcType=DECIMAL},
      </if>
      <if test="record.circulationExpenseRemark != null" >
        circulation_expense_remark = #{record.circulationExpenseRemark,jdbcType=VARCHAR},
      </if>
      <if test="record.flatExpense != null" >
        flat_expense = #{record.flatExpense,jdbcType=DECIMAL},
      </if>
      <if test="record.flatExpenseRemark != null" >
        flat_expense_remark = #{record.flatExpenseRemark,jdbcType=VARCHAR},
      </if>
      <if test="record.machineCycle != null" >
        machine_cycle = #{record.machineCycle,jdbcType=DECIMAL},
      </if>
      <if test="record.machineCycleRemark != null" >
        machine_cycle_remark = #{record.machineCycleRemark,jdbcType=VARCHAR},
      </if>
      <if test="record.calculatedInterest != null" >
        calculated_interest = #{record.calculatedInterest,jdbcType=VARCHAR},
      </if>
      <if test="record.calculatedInterestRemark != null" >
        calculated_interest_remark = #{record.calculatedInterestRemark,jdbcType=VARCHAR},
      </if>
      <if test="record.profitMargin != null" >
        profit_margin = #{record.profitMargin,jdbcType=VARCHAR},
      </if>
      <if test="record.profitMarginRemark != null" >
        profit_margin_remark = #{record.profitMarginRemark,jdbcType=VARCHAR},
      </if>
      <if test="record.incrementalBenefit != null" >
        incremental_benefit = #{record.incrementalBenefit,jdbcType=VARCHAR},
      </if>
      <if test="record.incrementalBenefitRemark != null" >
        incremental_benefit_remark = #{record.incrementalBenefitRemark,jdbcType=VARCHAR},
      </if>
      <if test="record.plotRatioAdjust != null" >
        plot_ratio_adjust = #{record.plotRatioAdjust,jdbcType=VARCHAR},
      </if>
      <if test="record.plotRatioAdjustRemark != null" >
        plot_ratio_adjust_remark = #{record.plotRatioAdjustRemark,jdbcType=VARCHAR},
      </if>
      <if test="record.plotRatioElementAmend != null" >
        plot_ratio_element_amend = #{record.plotRatioElementAmend,jdbcType=DECIMAL},
      </if>
      <if test="record.plotRatioElementAmendRemark != null" >
        plot_ratio_element_amend_remark = #{record.plotRatioElementAmendRemark,jdbcType=VARCHAR},
      </if>
      <if test="record.creator != null" >
        creator = #{record.creator,jdbcType=VARCHAR},
      </if>
      <if test="record.gmtCreated != null" >
        gmt_created = #{record.gmtCreated,jdbcType=TIMESTAMP},
      </if>
      <if test="record.gmtModified != null" >
        gmt_modified = #{record.gmtModified,jdbcType=TIMESTAMP},
      </if>
      <if test="record.landRemainingYear != null" >
        land_remaining_year = #{record.landRemainingYear,jdbcType=DECIMAL},
      </if>
      <if test="record.landRemainingYearRemark != null" >
        land_remaining_year_remark = #{record.landRemainingYearRemark,jdbcType=VARCHAR},
      </if>
      <if test="record.parcelSettingOuter != null" >
        parcel_setting_outer = #{record.parcelSettingOuter,jdbcType=VARCHAR},
      </if>
      <if test="record.parcelSettingInner != null" >
        parcel_setting_inner = #{record.parcelSettingInner,jdbcType=VARCHAR},
      </if>
      <if test="record.landLevelContent != null" >
        land_level_content = #{record.landLevelContent,jdbcType=VARCHAR},
      </if>
      <if test="record.landUsePrice != null" >
        land_use_price = #{record.landUsePrice,jdbcType=DECIMAL},
      </if>
      <if test="record.yearFixed != null" >
        year_fixed = #{record.yearFixed,jdbcType=DECIMAL},
      </if>
      <if test="record.parcelUnit != null" >
        parcel_unit = #{record.parcelUnit,jdbcType=DECIMAL},
      </if>
      <if test="record.landCostPriceUnit != null" >
        land_cost_price_unit = #{record.landCostPriceUnit,jdbcType=DECIMAL},
      </if>
      <if test="record.landAcquisitionUnit != null" >
        land_acquisition_unit = #{record.landAcquisitionUnit,jdbcType=DECIMAL},
      </if>
      <if test="record.landProductionProfitUnit != null" >
        land_production_profit_unit = #{record.landProductionProfitUnit,jdbcType=DECIMAL},
      </if>
      <if test="record.landProductionInterestUnit != null" >
        land_production_interest_unit = #{record.landProductionInterestUnit,jdbcType=DECIMAL},
      </if>
      <if test="record.haveNotLandAcquisition != null" >
        have_not_land_acquisition = #{record.haveNotLandAcquisition,jdbcType=DECIMAL},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update tb_md_cost_approach
    set id = #{record.id,jdbcType=INTEGER},
      plan_details_id = #{record.planDetailsId,jdbcType=INTEGER},
      process_ins_id = #{record.processInsId,jdbcType=VARCHAR},
      farmland_area = #{record.farmlandArea,jdbcType=DECIMAL},
      plough_area = #{record.ploughArea,jdbcType=DECIMAL},
      population_number = #{record.populationNumber,jdbcType=INTEGER},
      reward_rate_id = #{record.rewardRateId,jdbcType=INTEGER},
      reward_rate = #{record.rewardRate,jdbcType=VARCHAR},
      circulation_expense = #{record.circulationExpense,jdbcType=DECIMAL},
      circulation_expense_remark = #{record.circulationExpenseRemark,jdbcType=VARCHAR},
      flat_expense = #{record.flatExpense,jdbcType=DECIMAL},
      flat_expense_remark = #{record.flatExpenseRemark,jdbcType=VARCHAR},
      machine_cycle = #{record.machineCycle,jdbcType=DECIMAL},
      machine_cycle_remark = #{record.machineCycleRemark,jdbcType=VARCHAR},
      calculated_interest = #{record.calculatedInterest,jdbcType=VARCHAR},
      calculated_interest_remark = #{record.calculatedInterestRemark,jdbcType=VARCHAR},
      profit_margin = #{record.profitMargin,jdbcType=VARCHAR},
      profit_margin_remark = #{record.profitMarginRemark,jdbcType=VARCHAR},
      incremental_benefit = #{record.incrementalBenefit,jdbcType=VARCHAR},
      incremental_benefit_remark = #{record.incrementalBenefitRemark,jdbcType=VARCHAR},
      plot_ratio_adjust = #{record.plotRatioAdjust,jdbcType=VARCHAR},
      plot_ratio_adjust_remark = #{record.plotRatioAdjustRemark,jdbcType=VARCHAR},
      plot_ratio_element_amend = #{record.plotRatioElementAmend,jdbcType=DECIMAL},
      plot_ratio_element_amend_remark = #{record.plotRatioElementAmendRemark,jdbcType=VARCHAR},
      creator = #{record.creator,jdbcType=VARCHAR},
      gmt_created = #{record.gmtCreated,jdbcType=TIMESTAMP},
      gmt_modified = #{record.gmtModified,jdbcType=TIMESTAMP},
      land_remaining_year = #{record.landRemainingYear,jdbcType=DECIMAL},
      land_remaining_year_remark = #{record.landRemainingYearRemark,jdbcType=VARCHAR},
      parcel_setting_outer = #{record.parcelSettingOuter,jdbcType=VARCHAR},
      parcel_setting_inner = #{record.parcelSettingInner,jdbcType=VARCHAR},
      land_level_content = #{record.landLevelContent,jdbcType=VARCHAR},
      land_use_price = #{record.landUsePrice,jdbcType=DECIMAL},
      year_fixed = #{record.yearFixed,jdbcType=DECIMAL},
      parcel_unit = #{record.parcelUnit,jdbcType=DECIMAL},
      land_cost_price_unit = #{record.landCostPriceUnit,jdbcType=DECIMAL},
      land_acquisition_unit = #{record.landAcquisitionUnit,jdbcType=DECIMAL},
      land_production_profit_unit = #{record.landProductionProfitUnit,jdbcType=DECIMAL},
      land_production_interest_unit = #{record.landProductionInterestUnit,jdbcType=DECIMAL},
      have_not_land_acquisition = #{record.haveNotLandAcquisition,jdbcType=DECIMAL}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.copower.pmcc.assess.dal.basis.entity.MdCostApproach" >
    update tb_md_cost_approach
    <set >
      <if test="planDetailsId != null" >
        plan_details_id = #{planDetailsId,jdbcType=INTEGER},
      </if>
      <if test="processInsId != null" >
        process_ins_id = #{processInsId,jdbcType=VARCHAR},
      </if>
      <if test="farmlandArea != null" >
        farmland_area = #{farmlandArea,jdbcType=DECIMAL},
      </if>
      <if test="ploughArea != null" >
        plough_area = #{ploughArea,jdbcType=DECIMAL},
      </if>
      <if test="populationNumber != null" >
        population_number = #{populationNumber,jdbcType=INTEGER},
      </if>
      <if test="rewardRateId != null" >
        reward_rate_id = #{rewardRateId,jdbcType=INTEGER},
      </if>
      <if test="rewardRate != null" >
        reward_rate = #{rewardRate,jdbcType=VARCHAR},
      </if>
      <if test="circulationExpense != null" >
        circulation_expense = #{circulationExpense,jdbcType=DECIMAL},
      </if>
      <if test="circulationExpenseRemark != null" >
        circulation_expense_remark = #{circulationExpenseRemark,jdbcType=VARCHAR},
      </if>
      <if test="flatExpense != null" >
        flat_expense = #{flatExpense,jdbcType=DECIMAL},
      </if>
      <if test="flatExpenseRemark != null" >
        flat_expense_remark = #{flatExpenseRemark,jdbcType=VARCHAR},
      </if>
      <if test="machineCycle != null" >
        machine_cycle = #{machineCycle,jdbcType=DECIMAL},
      </if>
      <if test="machineCycleRemark != null" >
        machine_cycle_remark = #{machineCycleRemark,jdbcType=VARCHAR},
      </if>
      <if test="calculatedInterest != null" >
        calculated_interest = #{calculatedInterest,jdbcType=VARCHAR},
      </if>
      <if test="calculatedInterestRemark != null" >
        calculated_interest_remark = #{calculatedInterestRemark,jdbcType=VARCHAR},
      </if>
      <if test="profitMargin != null" >
        profit_margin = #{profitMargin,jdbcType=VARCHAR},
      </if>
      <if test="profitMarginRemark != null" >
        profit_margin_remark = #{profitMarginRemark,jdbcType=VARCHAR},
      </if>
      <if test="incrementalBenefit != null" >
        incremental_benefit = #{incrementalBenefit,jdbcType=VARCHAR},
      </if>
      <if test="incrementalBenefitRemark != null" >
        incremental_benefit_remark = #{incrementalBenefitRemark,jdbcType=VARCHAR},
      </if>
      <if test="plotRatioAdjust != null" >
        plot_ratio_adjust = #{plotRatioAdjust,jdbcType=VARCHAR},
      </if>
      <if test="plotRatioAdjustRemark != null" >
        plot_ratio_adjust_remark = #{plotRatioAdjustRemark,jdbcType=VARCHAR},
      </if>
      <if test="plotRatioElementAmend != null" >
        plot_ratio_element_amend = #{plotRatioElementAmend,jdbcType=DECIMAL},
      </if>
      <if test="plotRatioElementAmendRemark != null" >
        plot_ratio_element_amend_remark = #{plotRatioElementAmendRemark,jdbcType=VARCHAR},
      </if>
      <if test="creator != null" >
        creator = #{creator,jdbcType=VARCHAR},
      </if>
      <if test="gmtCreated != null" >
        gmt_created = #{gmtCreated,jdbcType=TIMESTAMP},
      </if>
      <if test="gmtModified != null" >
        gmt_modified = #{gmtModified,jdbcType=TIMESTAMP},
      </if>
      <if test="landRemainingYear != null" >
        land_remaining_year = #{landRemainingYear,jdbcType=DECIMAL},
      </if>
      <if test="landRemainingYearRemark != null" >
        land_remaining_year_remark = #{landRemainingYearRemark,jdbcType=VARCHAR},
      </if>
      <if test="parcelSettingOuter != null" >
        parcel_setting_outer = #{parcelSettingOuter,jdbcType=VARCHAR},
      </if>
      <if test="parcelSettingInner != null" >
        parcel_setting_inner = #{parcelSettingInner,jdbcType=VARCHAR},
      </if>
      <if test="landLevelContent != null" >
        land_level_content = #{landLevelContent,jdbcType=VARCHAR},
      </if>
      <if test="landUsePrice != null" >
        land_use_price = #{landUsePrice,jdbcType=DECIMAL},
      </if>
      <if test="yearFixed != null" >
        year_fixed = #{yearFixed,jdbcType=DECIMAL},
      </if>
      <if test="parcelUnit != null" >
        parcel_unit = #{parcelUnit,jdbcType=DECIMAL},
      </if>
      <if test="landCostPriceUnit != null" >
        land_cost_price_unit = #{landCostPriceUnit,jdbcType=DECIMAL},
      </if>
      <if test="landAcquisitionUnit != null" >
        land_acquisition_unit = #{landAcquisitionUnit,jdbcType=DECIMAL},
      </if>
      <if test="landProductionProfitUnit != null" >
        land_production_profit_unit = #{landProductionProfitUnit,jdbcType=DECIMAL},
      </if>
      <if test="landProductionInterestUnit != null" >
        land_production_interest_unit = #{landProductionInterestUnit,jdbcType=DECIMAL},
      </if>
      <if test="haveNotLandAcquisition != null" >
        have_not_land_acquisition = #{haveNotLandAcquisition,jdbcType=DECIMAL},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.copower.pmcc.assess.dal.basis.entity.MdCostApproach" >
    update tb_md_cost_approach
    set plan_details_id = #{planDetailsId,jdbcType=INTEGER},
      process_ins_id = #{processInsId,jdbcType=VARCHAR},
      farmland_area = #{farmlandArea,jdbcType=DECIMAL},
      plough_area = #{ploughArea,jdbcType=DECIMAL},
      population_number = #{populationNumber,jdbcType=INTEGER},
      reward_rate_id = #{rewardRateId,jdbcType=INTEGER},
      reward_rate = #{rewardRate,jdbcType=VARCHAR},
      circulation_expense = #{circulationExpense,jdbcType=DECIMAL},
      circulation_expense_remark = #{circulationExpenseRemark,jdbcType=VARCHAR},
      flat_expense = #{flatExpense,jdbcType=DECIMAL},
      flat_expense_remark = #{flatExpenseRemark,jdbcType=VARCHAR},
      machine_cycle = #{machineCycle,jdbcType=DECIMAL},
      machine_cycle_remark = #{machineCycleRemark,jdbcType=VARCHAR},
      calculated_interest = #{calculatedInterest,jdbcType=VARCHAR},
      calculated_interest_remark = #{calculatedInterestRemark,jdbcType=VARCHAR},
      profit_margin = #{profitMargin,jdbcType=VARCHAR},
      profit_margin_remark = #{profitMarginRemark,jdbcType=VARCHAR},
      incremental_benefit = #{incrementalBenefit,jdbcType=VARCHAR},
      incremental_benefit_remark = #{incrementalBenefitRemark,jdbcType=VARCHAR},
      plot_ratio_adjust = #{plotRatioAdjust,jdbcType=VARCHAR},
      plot_ratio_adjust_remark = #{plotRatioAdjustRemark,jdbcType=VARCHAR},
      plot_ratio_element_amend = #{plotRatioElementAmend,jdbcType=DECIMAL},
      plot_ratio_element_amend_remark = #{plotRatioElementAmendRemark,jdbcType=VARCHAR},
      creator = #{creator,jdbcType=VARCHAR},
      gmt_created = #{gmtCreated,jdbcType=TIMESTAMP},
      gmt_modified = #{gmtModified,jdbcType=TIMESTAMP},
      land_remaining_year = #{landRemainingYear,jdbcType=DECIMAL},
      land_remaining_year_remark = #{landRemainingYearRemark,jdbcType=VARCHAR},
      parcel_setting_outer = #{parcelSettingOuter,jdbcType=VARCHAR},
      parcel_setting_inner = #{parcelSettingInner,jdbcType=VARCHAR},
      land_level_content = #{landLevelContent,jdbcType=VARCHAR},
      land_use_price = #{landUsePrice,jdbcType=DECIMAL},
      year_fixed = #{yearFixed,jdbcType=DECIMAL},
      parcel_unit = #{parcelUnit,jdbcType=DECIMAL},
      land_cost_price_unit = #{landCostPriceUnit,jdbcType=DECIMAL},
      land_acquisition_unit = #{landAcquisitionUnit,jdbcType=DECIMAL},
      land_production_profit_unit = #{landProductionProfitUnit,jdbcType=DECIMAL},
      land_production_interest_unit = #{landProductionInterestUnit,jdbcType=DECIMAL},
      have_not_land_acquisition = #{haveNotLandAcquisition,jdbcType=DECIMAL}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>