<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.copower.pmcc.assess.dal.basis.mapper.MdCostBuildingMapper" >
  <resultMap id="BaseResultMap" type="com.copower.pmcc.assess.dal.basis.entity.MdCostBuilding" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="assess_price" property="assessPrice" jdbcType="DECIMAL" />
    <result column="replacement_value" property="replacementValue" jdbcType="VARCHAR" />
    <result column="investment_profit" property="investmentProfit" jdbcType="VARCHAR" />
    <result column="interest_investment" property="interestInvestment" jdbcType="VARCHAR" />
    <result column="construction_cost" property="constructionCost" jdbcType="VARCHAR" />
    <result column="json_content" property="jsonContent" jdbcType="CHAR" />
    <result column="engineering_id" property="engineeringId" jdbcType="INTEGER" />
    <result column="pid" property="pid" jdbcType="INTEGER" />
    <result column="creator" property="creator" jdbcType="VARCHAR" />
    <result column="gmt_created" property="gmtCreated" jdbcType="TIMESTAMP" />
    <result column="gmt_modified" property="gmtModified" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, assess_price, replacement_value, investment_profit, interest_investment, construction_cost, 
    json_content, engineering_id, pid, creator, gmt_created, gmt_modified
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.copower.pmcc.assess.dal.basis.entity.MdCostBuildingExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from tb_md_cost_building
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from tb_md_cost_building
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from tb_md_cost_building
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.copower.pmcc.assess.dal.basis.entity.MdCostBuildingExample" >
    delete from tb_md_cost_building
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.copower.pmcc.assess.dal.basis.entity.MdCostBuilding" >
    <selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into tb_md_cost_building (assess_price, replacement_value, investment_profit, 
      interest_investment, construction_cost, json_content, 
      engineering_id, pid, creator, 
      gmt_created, gmt_modified)
    values (#{assessPrice,jdbcType=DECIMAL}, #{replacementValue,jdbcType=VARCHAR}, #{investmentProfit,jdbcType=VARCHAR}, 
      #{interestInvestment,jdbcType=VARCHAR}, #{constructionCost,jdbcType=VARCHAR}, #{jsonContent,jdbcType=CHAR}, 
      #{engineeringId,jdbcType=INTEGER}, #{pid,jdbcType=INTEGER}, #{creator,jdbcType=VARCHAR}, 
      #{gmtCreated,jdbcType=TIMESTAMP}, #{gmtModified,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.copower.pmcc.assess.dal.basis.entity.MdCostBuilding" >
    <selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into tb_md_cost_building
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="assessPrice != null" >
        assess_price,
      </if>
      <if test="replacementValue != null" >
        replacement_value,
      </if>
      <if test="investmentProfit != null" >
        investment_profit,
      </if>
      <if test="interestInvestment != null" >
        interest_investment,
      </if>
      <if test="constructionCost != null" >
        construction_cost,
      </if>
      <if test="jsonContent != null" >
        json_content,
      </if>
      <if test="engineeringId != null" >
        engineering_id,
      </if>
      <if test="pid != null" >
        pid,
      </if>
      <if test="creator != null" >
        creator,
      </if>
      <if test="gmtCreated != null" >
        gmt_created,
      </if>
      <if test="gmtModified != null" >
        gmt_modified,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="assessPrice != null" >
        #{assessPrice,jdbcType=DECIMAL},
      </if>
      <if test="replacementValue != null" >
        #{replacementValue,jdbcType=VARCHAR},
      </if>
      <if test="investmentProfit != null" >
        #{investmentProfit,jdbcType=VARCHAR},
      </if>
      <if test="interestInvestment != null" >
        #{interestInvestment,jdbcType=VARCHAR},
      </if>
      <if test="constructionCost != null" >
        #{constructionCost,jdbcType=VARCHAR},
      </if>
      <if test="jsonContent != null" >
        #{jsonContent,jdbcType=CHAR},
      </if>
      <if test="engineeringId != null" >
        #{engineeringId,jdbcType=INTEGER},
      </if>
      <if test="pid != null" >
        #{pid,jdbcType=INTEGER},
      </if>
      <if test="creator != null" >
        #{creator,jdbcType=VARCHAR},
      </if>
      <if test="gmtCreated != null" >
        #{gmtCreated,jdbcType=TIMESTAMP},
      </if>
      <if test="gmtModified != null" >
        #{gmtModified,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.copower.pmcc.assess.dal.basis.entity.MdCostBuildingExample" resultType="java.lang.Integer" >
    select count(*) from tb_md_cost_building
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update tb_md_cost_building
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.assessPrice != null" >
        assess_price = #{record.assessPrice,jdbcType=DECIMAL},
      </if>
      <if test="record.replacementValue != null" >
        replacement_value = #{record.replacementValue,jdbcType=VARCHAR},
      </if>
      <if test="record.investmentProfit != null" >
        investment_profit = #{record.investmentProfit,jdbcType=VARCHAR},
      </if>
      <if test="record.interestInvestment != null" >
        interest_investment = #{record.interestInvestment,jdbcType=VARCHAR},
      </if>
      <if test="record.constructionCost != null" >
        construction_cost = #{record.constructionCost,jdbcType=VARCHAR},
      </if>
      <if test="record.jsonContent != null" >
        json_content = #{record.jsonContent,jdbcType=CHAR},
      </if>
      <if test="record.engineeringId != null" >
        engineering_id = #{record.engineeringId,jdbcType=INTEGER},
      </if>
      <if test="record.pid != null" >
        pid = #{record.pid,jdbcType=INTEGER},
      </if>
      <if test="record.creator != null" >
        creator = #{record.creator,jdbcType=VARCHAR},
      </if>
      <if test="record.gmtCreated != null" >
        gmt_created = #{record.gmtCreated,jdbcType=TIMESTAMP},
      </if>
      <if test="record.gmtModified != null" >
        gmt_modified = #{record.gmtModified,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update tb_md_cost_building
    set id = #{record.id,jdbcType=INTEGER},
      assess_price = #{record.assessPrice,jdbcType=DECIMAL},
      replacement_value = #{record.replacementValue,jdbcType=VARCHAR},
      investment_profit = #{record.investmentProfit,jdbcType=VARCHAR},
      interest_investment = #{record.interestInvestment,jdbcType=VARCHAR},
      construction_cost = #{record.constructionCost,jdbcType=VARCHAR},
      json_content = #{record.jsonContent,jdbcType=CHAR},
      engineering_id = #{record.engineeringId,jdbcType=INTEGER},
      pid = #{record.pid,jdbcType=INTEGER},
      creator = #{record.creator,jdbcType=VARCHAR},
      gmt_created = #{record.gmtCreated,jdbcType=TIMESTAMP},
      gmt_modified = #{record.gmtModified,jdbcType=TIMESTAMP}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.copower.pmcc.assess.dal.basis.entity.MdCostBuilding" >
    update tb_md_cost_building
    <set >
      <if test="assessPrice != null" >
        assess_price = #{assessPrice,jdbcType=DECIMAL},
      </if>
      <if test="replacementValue != null" >
        replacement_value = #{replacementValue,jdbcType=VARCHAR},
      </if>
      <if test="investmentProfit != null" >
        investment_profit = #{investmentProfit,jdbcType=VARCHAR},
      </if>
      <if test="interestInvestment != null" >
        interest_investment = #{interestInvestment,jdbcType=VARCHAR},
      </if>
      <if test="constructionCost != null" >
        construction_cost = #{constructionCost,jdbcType=VARCHAR},
      </if>
      <if test="jsonContent != null" >
        json_content = #{jsonContent,jdbcType=CHAR},
      </if>
      <if test="engineeringId != null" >
        engineering_id = #{engineeringId,jdbcType=INTEGER},
      </if>
      <if test="pid != null" >
        pid = #{pid,jdbcType=INTEGER},
      </if>
      <if test="creator != null" >
        creator = #{creator,jdbcType=VARCHAR},
      </if>
      <if test="gmtCreated != null" >
        gmt_created = #{gmtCreated,jdbcType=TIMESTAMP},
      </if>
      <if test="gmtModified != null" >
        gmt_modified = #{gmtModified,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.copower.pmcc.assess.dal.basis.entity.MdCostBuilding" >
    update tb_md_cost_building
    set assess_price = #{assessPrice,jdbcType=DECIMAL},
      replacement_value = #{replacementValue,jdbcType=VARCHAR},
      investment_profit = #{investmentProfit,jdbcType=VARCHAR},
      interest_investment = #{interestInvestment,jdbcType=VARCHAR},
      construction_cost = #{constructionCost,jdbcType=VARCHAR},
      json_content = #{jsonContent,jdbcType=CHAR},
      engineering_id = #{engineeringId,jdbcType=INTEGER},
      pid = #{pid,jdbcType=INTEGER},
      creator = #{creator,jdbcType=VARCHAR},
      gmt_created = #{gmtCreated,jdbcType=TIMESTAMP},
      gmt_modified = #{gmtModified,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>