<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.copower.pmcc.assess.dal.basis.mapper.MdDevelopmentMapper" >
  <resultMap id="BaseResultMap" type="com.copower.pmcc.assess.dal.basis.entity.MdDevelopment" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="area" property="area" jdbcType="DECIMAL" />
    <result column="price" property="price" jdbcType="DECIMAL" />
    <result column="type" property="type" jdbcType="VARCHAR" />
    <result column="plan_details_id" property="planDetailsId" jdbcType="INTEGER" />
    <result column="construction_cost_subtotal" property="constructionCostSubtotal" jdbcType="DECIMAL" />
    <result column="interest_investment" property="interestInvestment" jdbcType="DECIMAL" />
    <result column="investment_profit" property="investmentProfit" jdbcType="DECIMAL" />
    <result column="assess_price" property="assessPrice" jdbcType="DECIMAL" />
    <result column="head_content" property="headContent" jdbcType="VARCHAR" />
    <result column="content" property="content" jdbcType="VARCHAR" />
    <result column="project_construction_period" property="projectConstructionPeriod" jdbcType="DECIMAL" />
    <result column="developed_year" property="developedYear" jdbcType="DECIMAL" />
    <result column="remaining_development_year" property="remainingDevelopmentYear" jdbcType="DECIMAL" />
    <result column="reward_rate_id" property="rewardRateId" jdbcType="INTEGER" />
    <result column="creator" property="creator" jdbcType="VARCHAR" />
    <result column="gmt_created" property="gmtCreated" jdbcType="TIMESTAMP" />
    <result column="gmt_modified" property="gmtModified" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, name, area, price, type, plan_details_id, construction_cost_subtotal, interest_investment, 
    investment_profit, assess_price, head_content, content, project_construction_period, 
    developed_year, remaining_development_year, reward_rate_id, creator, gmt_created, 
    gmt_modified
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.copower.pmcc.assess.dal.basis.entity.MdDevelopmentExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from tb_md_development
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from tb_md_development
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from tb_md_development
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.copower.pmcc.assess.dal.basis.entity.MdDevelopmentExample" >
    delete from tb_md_development
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.copower.pmcc.assess.dal.basis.entity.MdDevelopment" >
    <selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into tb_md_development (name, area, price, 
      type, plan_details_id, construction_cost_subtotal, 
      interest_investment, investment_profit, assess_price, 
      head_content, content, project_construction_period, 
      developed_year, remaining_development_year, 
      reward_rate_id, creator, gmt_created, 
      gmt_modified)
    values (#{name,jdbcType=VARCHAR}, #{area,jdbcType=DECIMAL}, #{price,jdbcType=DECIMAL}, 
      #{type,jdbcType=VARCHAR}, #{planDetailsId,jdbcType=INTEGER}, #{constructionCostSubtotal,jdbcType=DECIMAL}, 
      #{interestInvestment,jdbcType=DECIMAL}, #{investmentProfit,jdbcType=DECIMAL}, #{assessPrice,jdbcType=DECIMAL}, 
      #{headContent,jdbcType=VARCHAR}, #{content,jdbcType=VARCHAR}, #{projectConstructionPeriod,jdbcType=DECIMAL}, 
      #{developedYear,jdbcType=DECIMAL}, #{remainingDevelopmentYear,jdbcType=DECIMAL}, 
      #{rewardRateId,jdbcType=INTEGER}, #{creator,jdbcType=VARCHAR}, #{gmtCreated,jdbcType=TIMESTAMP}, 
      #{gmtModified,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.copower.pmcc.assess.dal.basis.entity.MdDevelopment" >
    <selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into tb_md_development
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="name != null" >
        name,
      </if>
      <if test="area != null" >
        area,
      </if>
      <if test="price != null" >
        price,
      </if>
      <if test="type != null" >
        type,
      </if>
      <if test="planDetailsId != null" >
        plan_details_id,
      </if>
      <if test="constructionCostSubtotal != null" >
        construction_cost_subtotal,
      </if>
      <if test="interestInvestment != null" >
        interest_investment,
      </if>
      <if test="investmentProfit != null" >
        investment_profit,
      </if>
      <if test="assessPrice != null" >
        assess_price,
      </if>
      <if test="headContent != null" >
        head_content,
      </if>
      <if test="content != null" >
        content,
      </if>
      <if test="projectConstructionPeriod != null" >
        project_construction_period,
      </if>
      <if test="developedYear != null" >
        developed_year,
      </if>
      <if test="remainingDevelopmentYear != null" >
        remaining_development_year,
      </if>
      <if test="rewardRateId != null" >
        reward_rate_id,
      </if>
      <if test="creator != null" >
        creator,
      </if>
      <if test="gmtCreated != null" >
        gmt_created,
      </if>
      <if test="gmtModified != null" >
        gmt_modified,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="area != null" >
        #{area,jdbcType=DECIMAL},
      </if>
      <if test="price != null" >
        #{price,jdbcType=DECIMAL},
      </if>
      <if test="type != null" >
        #{type,jdbcType=VARCHAR},
      </if>
      <if test="planDetailsId != null" >
        #{planDetailsId,jdbcType=INTEGER},
      </if>
      <if test="constructionCostSubtotal != null" >
        #{constructionCostSubtotal,jdbcType=DECIMAL},
      </if>
      <if test="interestInvestment != null" >
        #{interestInvestment,jdbcType=DECIMAL},
      </if>
      <if test="investmentProfit != null" >
        #{investmentProfit,jdbcType=DECIMAL},
      </if>
      <if test="assessPrice != null" >
        #{assessPrice,jdbcType=DECIMAL},
      </if>
      <if test="headContent != null" >
        #{headContent,jdbcType=VARCHAR},
      </if>
      <if test="content != null" >
        #{content,jdbcType=VARCHAR},
      </if>
      <if test="projectConstructionPeriod != null" >
        #{projectConstructionPeriod,jdbcType=DECIMAL},
      </if>
      <if test="developedYear != null" >
        #{developedYear,jdbcType=DECIMAL},
      </if>
      <if test="remainingDevelopmentYear != null" >
        #{remainingDevelopmentYear,jdbcType=DECIMAL},
      </if>
      <if test="rewardRateId != null" >
        #{rewardRateId,jdbcType=INTEGER},
      </if>
      <if test="creator != null" >
        #{creator,jdbcType=VARCHAR},
      </if>
      <if test="gmtCreated != null" >
        #{gmtCreated,jdbcType=TIMESTAMP},
      </if>
      <if test="gmtModified != null" >
        #{gmtModified,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.copower.pmcc.assess.dal.basis.entity.MdDevelopmentExample" resultType="java.lang.Integer" >
    select count(*) from tb_md_development
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update tb_md_development
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.name != null" >
        name = #{record.name,jdbcType=VARCHAR},
      </if>
      <if test="record.area != null" >
        area = #{record.area,jdbcType=DECIMAL},
      </if>
      <if test="record.price != null" >
        price = #{record.price,jdbcType=DECIMAL},
      </if>
      <if test="record.type != null" >
        type = #{record.type,jdbcType=VARCHAR},
      </if>
      <if test="record.planDetailsId != null" >
        plan_details_id = #{record.planDetailsId,jdbcType=INTEGER},
      </if>
      <if test="record.constructionCostSubtotal != null" >
        construction_cost_subtotal = #{record.constructionCostSubtotal,jdbcType=DECIMAL},
      </if>
      <if test="record.interestInvestment != null" >
        interest_investment = #{record.interestInvestment,jdbcType=DECIMAL},
      </if>
      <if test="record.investmentProfit != null" >
        investment_profit = #{record.investmentProfit,jdbcType=DECIMAL},
      </if>
      <if test="record.assessPrice != null" >
        assess_price = #{record.assessPrice,jdbcType=DECIMAL},
      </if>
      <if test="record.headContent != null" >
        head_content = #{record.headContent,jdbcType=VARCHAR},
      </if>
      <if test="record.content != null" >
        content = #{record.content,jdbcType=VARCHAR},
      </if>
      <if test="record.projectConstructionPeriod != null" >
        project_construction_period = #{record.projectConstructionPeriod,jdbcType=DECIMAL},
      </if>
      <if test="record.developedYear != null" >
        developed_year = #{record.developedYear,jdbcType=DECIMAL},
      </if>
      <if test="record.remainingDevelopmentYear != null" >
        remaining_development_year = #{record.remainingDevelopmentYear,jdbcType=DECIMAL},
      </if>
      <if test="record.rewardRateId != null" >
        reward_rate_id = #{record.rewardRateId,jdbcType=INTEGER},
      </if>
      <if test="record.creator != null" >
        creator = #{record.creator,jdbcType=VARCHAR},
      </if>
      <if test="record.gmtCreated != null" >
        gmt_created = #{record.gmtCreated,jdbcType=TIMESTAMP},
      </if>
      <if test="record.gmtModified != null" >
        gmt_modified = #{record.gmtModified,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update tb_md_development
    set id = #{record.id,jdbcType=INTEGER},
      name = #{record.name,jdbcType=VARCHAR},
      area = #{record.area,jdbcType=DECIMAL},
      price = #{record.price,jdbcType=DECIMAL},
      type = #{record.type,jdbcType=VARCHAR},
      plan_details_id = #{record.planDetailsId,jdbcType=INTEGER},
      construction_cost_subtotal = #{record.constructionCostSubtotal,jdbcType=DECIMAL},
      interest_investment = #{record.interestInvestment,jdbcType=DECIMAL},
      investment_profit = #{record.investmentProfit,jdbcType=DECIMAL},
      assess_price = #{record.assessPrice,jdbcType=DECIMAL},
      head_content = #{record.headContent,jdbcType=VARCHAR},
      content = #{record.content,jdbcType=VARCHAR},
      project_construction_period = #{record.projectConstructionPeriod,jdbcType=DECIMAL},
      developed_year = #{record.developedYear,jdbcType=DECIMAL},
      remaining_development_year = #{record.remainingDevelopmentYear,jdbcType=DECIMAL},
      reward_rate_id = #{record.rewardRateId,jdbcType=INTEGER},
      creator = #{record.creator,jdbcType=VARCHAR},
      gmt_created = #{record.gmtCreated,jdbcType=TIMESTAMP},
      gmt_modified = #{record.gmtModified,jdbcType=TIMESTAMP}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.copower.pmcc.assess.dal.basis.entity.MdDevelopment" >
    update tb_md_development
    <set >
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="area != null" >
        area = #{area,jdbcType=DECIMAL},
      </if>
      <if test="price != null" >
        price = #{price,jdbcType=DECIMAL},
      </if>
      <if test="type != null" >
        type = #{type,jdbcType=VARCHAR},
      </if>
      <if test="planDetailsId != null" >
        plan_details_id = #{planDetailsId,jdbcType=INTEGER},
      </if>
      <if test="constructionCostSubtotal != null" >
        construction_cost_subtotal = #{constructionCostSubtotal,jdbcType=DECIMAL},
      </if>
      <if test="interestInvestment != null" >
        interest_investment = #{interestInvestment,jdbcType=DECIMAL},
      </if>
      <if test="investmentProfit != null" >
        investment_profit = #{investmentProfit,jdbcType=DECIMAL},
      </if>
      <if test="assessPrice != null" >
        assess_price = #{assessPrice,jdbcType=DECIMAL},
      </if>
      <if test="headContent != null" >
        head_content = #{headContent,jdbcType=VARCHAR},
      </if>
      <if test="content != null" >
        content = #{content,jdbcType=VARCHAR},
      </if>
      <if test="projectConstructionPeriod != null" >
        project_construction_period = #{projectConstructionPeriod,jdbcType=DECIMAL},
      </if>
      <if test="developedYear != null" >
        developed_year = #{developedYear,jdbcType=DECIMAL},
      </if>
      <if test="remainingDevelopmentYear != null" >
        remaining_development_year = #{remainingDevelopmentYear,jdbcType=DECIMAL},
      </if>
      <if test="rewardRateId != null" >
        reward_rate_id = #{rewardRateId,jdbcType=INTEGER},
      </if>
      <if test="creator != null" >
        creator = #{creator,jdbcType=VARCHAR},
      </if>
      <if test="gmtCreated != null" >
        gmt_created = #{gmtCreated,jdbcType=TIMESTAMP},
      </if>
      <if test="gmtModified != null" >
        gmt_modified = #{gmtModified,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.copower.pmcc.assess.dal.basis.entity.MdDevelopment" >
    update tb_md_development
    set name = #{name,jdbcType=VARCHAR},
      area = #{area,jdbcType=DECIMAL},
      price = #{price,jdbcType=DECIMAL},
      type = #{type,jdbcType=VARCHAR},
      plan_details_id = #{planDetailsId,jdbcType=INTEGER},
      construction_cost_subtotal = #{constructionCostSubtotal,jdbcType=DECIMAL},
      interest_investment = #{interestInvestment,jdbcType=DECIMAL},
      investment_profit = #{investmentProfit,jdbcType=DECIMAL},
      assess_price = #{assessPrice,jdbcType=DECIMAL},
      head_content = #{headContent,jdbcType=VARCHAR},
      content = #{content,jdbcType=VARCHAR},
      project_construction_period = #{projectConstructionPeriod,jdbcType=DECIMAL},
      developed_year = #{developedYear,jdbcType=DECIMAL},
      remaining_development_year = #{remainingDevelopmentYear,jdbcType=DECIMAL},
      reward_rate_id = #{rewardRateId,jdbcType=INTEGER},
      creator = #{creator,jdbcType=VARCHAR},
      gmt_created = #{gmtCreated,jdbcType=TIMESTAMP},
      gmt_modified = #{gmtModified,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>