<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.copower.pmcc.assess.dal.basis.mapper.MdDevelopmentLandMapper" >
  <resultMap id="BaseResultMap" type="com.copower.pmcc.assess.dal.basis.entity.MdDevelopmentLand" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="estimateUnitPriceLandC33" property="estimateunitpricelandc33" jdbcType="VARCHAR" />
    <result column="landPriceCorrecting" property="landpricecorrecting" jdbcType="VARCHAR" />
    <result column="investmentProfit" property="investmentprofit" jdbcType="VARCHAR" />
    <result column="unforeseenExpenses" property="unforeseenexpenses" jdbcType="VARCHAR" />
    <result column="constructionCostSubtotal" property="constructioncostsubtotal" jdbcType="VARCHAR" />
    <result column="totalGrossFloorArea" property="totalgrossfloorarea" jdbcType="VARCHAR" />
    <result column="estimateSaleTotal" property="estimatesaletotal" jdbcType="VARCHAR" />
    <result column="engineering_id" property="engineeringId" jdbcType="INTEGER" />
    <result column="pid" property="pid" jdbcType="INTEGER" />
    <result column="creator" property="creator" jdbcType="VARCHAR" />
    <result column="gmt_created" property="gmtCreated" jdbcType="TIMESTAMP" />
    <result column="gmt_modified" property="gmtModified" jdbcType="TIMESTAMP" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="com.copower.pmcc.assess.dal.basis.entity.MdDevelopmentLand" extends="BaseResultMap" >
    <result column="json_content" property="jsonContent" jdbcType="LONGVARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, estimateUnitPriceLandC33, landPriceCorrecting, investmentProfit, unforeseenExpenses, 
    constructionCostSubtotal, totalGrossFloorArea, estimateSaleTotal, engineering_id, 
    pid, creator, gmt_created, gmt_modified
  </sql>
  <sql id="Blob_Column_List" >
    json_content
  </sql>
  <select id="selectByExampleWithBLOBs" resultMap="ResultMapWithBLOBs" parameterType="com.copower.pmcc.assess.dal.basis.entity.MdDevelopmentLandExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from tb_md_development_land
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.copower.pmcc.assess.dal.basis.entity.MdDevelopmentLandExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from tb_md_development_land
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="ResultMapWithBLOBs" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from tb_md_development_land
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from tb_md_development_land
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.copower.pmcc.assess.dal.basis.entity.MdDevelopmentLandExample" >
    delete from tb_md_development_land
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.copower.pmcc.assess.dal.basis.entity.MdDevelopmentLand" >
    <selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into tb_md_development_land (estimateUnitPriceLandC33, landPriceCorrecting, 
      investmentProfit, unforeseenExpenses, constructionCostSubtotal, 
      totalGrossFloorArea, estimateSaleTotal, 
      engineering_id, pid, creator, 
      gmt_created, gmt_modified, json_content
      )
    values (#{estimateunitpricelandc33,jdbcType=VARCHAR}, #{landpricecorrecting,jdbcType=VARCHAR}, 
      #{investmentprofit,jdbcType=VARCHAR}, #{unforeseenexpenses,jdbcType=VARCHAR}, #{constructioncostsubtotal,jdbcType=VARCHAR}, 
      #{totalgrossfloorarea,jdbcType=VARCHAR}, #{estimatesaletotal,jdbcType=VARCHAR}, 
      #{engineeringId,jdbcType=INTEGER}, #{pid,jdbcType=INTEGER}, #{creator,jdbcType=VARCHAR}, 
      #{gmtCreated,jdbcType=TIMESTAMP}, #{gmtModified,jdbcType=TIMESTAMP}, #{jsonContent,jdbcType=LONGVARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.copower.pmcc.assess.dal.basis.entity.MdDevelopmentLand" >
    <selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into tb_md_development_land
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="estimateunitpricelandc33 != null" >
        estimateUnitPriceLandC33,
      </if>
      <if test="landpricecorrecting != null" >
        landPriceCorrecting,
      </if>
      <if test="investmentprofit != null" >
        investmentProfit,
      </if>
      <if test="unforeseenexpenses != null" >
        unforeseenExpenses,
      </if>
      <if test="constructioncostsubtotal != null" >
        constructionCostSubtotal,
      </if>
      <if test="totalgrossfloorarea != null" >
        totalGrossFloorArea,
      </if>
      <if test="estimatesaletotal != null" >
        estimateSaleTotal,
      </if>
      <if test="engineeringId != null" >
        engineering_id,
      </if>
      <if test="pid != null" >
        pid,
      </if>
      <if test="creator != null" >
        creator,
      </if>
      <if test="gmtCreated != null" >
        gmt_created,
      </if>
      <if test="gmtModified != null" >
        gmt_modified,
      </if>
      <if test="jsonContent != null" >
        json_content,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="estimateunitpricelandc33 != null" >
        #{estimateunitpricelandc33,jdbcType=VARCHAR},
      </if>
      <if test="landpricecorrecting != null" >
        #{landpricecorrecting,jdbcType=VARCHAR},
      </if>
      <if test="investmentprofit != null" >
        #{investmentprofit,jdbcType=VARCHAR},
      </if>
      <if test="unforeseenexpenses != null" >
        #{unforeseenexpenses,jdbcType=VARCHAR},
      </if>
      <if test="constructioncostsubtotal != null" >
        #{constructioncostsubtotal,jdbcType=VARCHAR},
      </if>
      <if test="totalgrossfloorarea != null" >
        #{totalgrossfloorarea,jdbcType=VARCHAR},
      </if>
      <if test="estimatesaletotal != null" >
        #{estimatesaletotal,jdbcType=VARCHAR},
      </if>
      <if test="engineeringId != null" >
        #{engineeringId,jdbcType=INTEGER},
      </if>
      <if test="pid != null" >
        #{pid,jdbcType=INTEGER},
      </if>
      <if test="creator != null" >
        #{creator,jdbcType=VARCHAR},
      </if>
      <if test="gmtCreated != null" >
        #{gmtCreated,jdbcType=TIMESTAMP},
      </if>
      <if test="gmtModified != null" >
        #{gmtModified,jdbcType=TIMESTAMP},
      </if>
      <if test="jsonContent != null" >
        #{jsonContent,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.copower.pmcc.assess.dal.basis.entity.MdDevelopmentLandExample" resultType="java.lang.Integer" >
    select count(*) from tb_md_development_land
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update tb_md_development_land
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.estimateunitpricelandc33 != null" >
        estimateUnitPriceLandC33 = #{record.estimateunitpricelandc33,jdbcType=VARCHAR},
      </if>
      <if test="record.landpricecorrecting != null" >
        landPriceCorrecting = #{record.landpricecorrecting,jdbcType=VARCHAR},
      </if>
      <if test="record.investmentprofit != null" >
        investmentProfit = #{record.investmentprofit,jdbcType=VARCHAR},
      </if>
      <if test="record.unforeseenexpenses != null" >
        unforeseenExpenses = #{record.unforeseenexpenses,jdbcType=VARCHAR},
      </if>
      <if test="record.constructioncostsubtotal != null" >
        constructionCostSubtotal = #{record.constructioncostsubtotal,jdbcType=VARCHAR},
      </if>
      <if test="record.totalgrossfloorarea != null" >
        totalGrossFloorArea = #{record.totalgrossfloorarea,jdbcType=VARCHAR},
      </if>
      <if test="record.estimatesaletotal != null" >
        estimateSaleTotal = #{record.estimatesaletotal,jdbcType=VARCHAR},
      </if>
      <if test="record.engineeringId != null" >
        engineering_id = #{record.engineeringId,jdbcType=INTEGER},
      </if>
      <if test="record.pid != null" >
        pid = #{record.pid,jdbcType=INTEGER},
      </if>
      <if test="record.creator != null" >
        creator = #{record.creator,jdbcType=VARCHAR},
      </if>
      <if test="record.gmtCreated != null" >
        gmt_created = #{record.gmtCreated,jdbcType=TIMESTAMP},
      </if>
      <if test="record.gmtModified != null" >
        gmt_modified = #{record.gmtModified,jdbcType=TIMESTAMP},
      </if>
      <if test="record.jsonContent != null" >
        json_content = #{record.jsonContent,jdbcType=LONGVARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExampleWithBLOBs" parameterType="map" >
    update tb_md_development_land
    set id = #{record.id,jdbcType=INTEGER},
      estimateUnitPriceLandC33 = #{record.estimateunitpricelandc33,jdbcType=VARCHAR},
      landPriceCorrecting = #{record.landpricecorrecting,jdbcType=VARCHAR},
      investmentProfit = #{record.investmentprofit,jdbcType=VARCHAR},
      unforeseenExpenses = #{record.unforeseenexpenses,jdbcType=VARCHAR},
      constructionCostSubtotal = #{record.constructioncostsubtotal,jdbcType=VARCHAR},
      totalGrossFloorArea = #{record.totalgrossfloorarea,jdbcType=VARCHAR},
      estimateSaleTotal = #{record.estimatesaletotal,jdbcType=VARCHAR},
      engineering_id = #{record.engineeringId,jdbcType=INTEGER},
      pid = #{record.pid,jdbcType=INTEGER},
      creator = #{record.creator,jdbcType=VARCHAR},
      gmt_created = #{record.gmtCreated,jdbcType=TIMESTAMP},
      gmt_modified = #{record.gmtModified,jdbcType=TIMESTAMP},
      json_content = #{record.jsonContent,jdbcType=LONGVARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update tb_md_development_land
    set id = #{record.id,jdbcType=INTEGER},
      estimateUnitPriceLandC33 = #{record.estimateunitpricelandc33,jdbcType=VARCHAR},
      landPriceCorrecting = #{record.landpricecorrecting,jdbcType=VARCHAR},
      investmentProfit = #{record.investmentprofit,jdbcType=VARCHAR},
      unforeseenExpenses = #{record.unforeseenexpenses,jdbcType=VARCHAR},
      constructionCostSubtotal = #{record.constructioncostsubtotal,jdbcType=VARCHAR},
      totalGrossFloorArea = #{record.totalgrossfloorarea,jdbcType=VARCHAR},
      estimateSaleTotal = #{record.estimatesaletotal,jdbcType=VARCHAR},
      engineering_id = #{record.engineeringId,jdbcType=INTEGER},
      pid = #{record.pid,jdbcType=INTEGER},
      creator = #{record.creator,jdbcType=VARCHAR},
      gmt_created = #{record.gmtCreated,jdbcType=TIMESTAMP},
      gmt_modified = #{record.gmtModified,jdbcType=TIMESTAMP}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.copower.pmcc.assess.dal.basis.entity.MdDevelopmentLand" >
    update tb_md_development_land
    <set >
      <if test="estimateunitpricelandc33 != null" >
        estimateUnitPriceLandC33 = #{estimateunitpricelandc33,jdbcType=VARCHAR},
      </if>
      <if test="landpricecorrecting != null" >
        landPriceCorrecting = #{landpricecorrecting,jdbcType=VARCHAR},
      </if>
      <if test="investmentprofit != null" >
        investmentProfit = #{investmentprofit,jdbcType=VARCHAR},
      </if>
      <if test="unforeseenexpenses != null" >
        unforeseenExpenses = #{unforeseenexpenses,jdbcType=VARCHAR},
      </if>
      <if test="constructioncostsubtotal != null" >
        constructionCostSubtotal = #{constructioncostsubtotal,jdbcType=VARCHAR},
      </if>
      <if test="totalgrossfloorarea != null" >
        totalGrossFloorArea = #{totalgrossfloorarea,jdbcType=VARCHAR},
      </if>
      <if test="estimatesaletotal != null" >
        estimateSaleTotal = #{estimatesaletotal,jdbcType=VARCHAR},
      </if>
      <if test="engineeringId != null" >
        engineering_id = #{engineeringId,jdbcType=INTEGER},
      </if>
      <if test="pid != null" >
        pid = #{pid,jdbcType=INTEGER},
      </if>
      <if test="creator != null" >
        creator = #{creator,jdbcType=VARCHAR},
      </if>
      <if test="gmtCreated != null" >
        gmt_created = #{gmtCreated,jdbcType=TIMESTAMP},
      </if>
      <if test="gmtModified != null" >
        gmt_modified = #{gmtModified,jdbcType=TIMESTAMP},
      </if>
      <if test="jsonContent != null" >
        json_content = #{jsonContent,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.copower.pmcc.assess.dal.basis.entity.MdDevelopmentLand" >
    update tb_md_development_land
    set estimateUnitPriceLandC33 = #{estimateunitpricelandc33,jdbcType=VARCHAR},
      landPriceCorrecting = #{landpricecorrecting,jdbcType=VARCHAR},
      investmentProfit = #{investmentprofit,jdbcType=VARCHAR},
      unforeseenExpenses = #{unforeseenexpenses,jdbcType=VARCHAR},
      constructionCostSubtotal = #{constructioncostsubtotal,jdbcType=VARCHAR},
      totalGrossFloorArea = #{totalgrossfloorarea,jdbcType=VARCHAR},
      estimateSaleTotal = #{estimatesaletotal,jdbcType=VARCHAR},
      engineering_id = #{engineeringId,jdbcType=INTEGER},
      pid = #{pid,jdbcType=INTEGER},
      creator = #{creator,jdbcType=VARCHAR},
      gmt_created = #{gmtCreated,jdbcType=TIMESTAMP},
      gmt_modified = #{gmtModified,jdbcType=TIMESTAMP},
      json_content = #{jsonContent,jdbcType=LONGVARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.copower.pmcc.assess.dal.basis.entity.MdDevelopmentLand" >
    update tb_md_development_land
    set estimateUnitPriceLandC33 = #{estimateunitpricelandc33,jdbcType=VARCHAR},
      landPriceCorrecting = #{landpricecorrecting,jdbcType=VARCHAR},
      investmentProfit = #{investmentprofit,jdbcType=VARCHAR},
      unforeseenExpenses = #{unforeseenexpenses,jdbcType=VARCHAR},
      constructionCostSubtotal = #{constructioncostsubtotal,jdbcType=VARCHAR},
      totalGrossFloorArea = #{totalgrossfloorarea,jdbcType=VARCHAR},
      estimateSaleTotal = #{estimatesaletotal,jdbcType=VARCHAR},
      engineering_id = #{engineeringId,jdbcType=INTEGER},
      pid = #{pid,jdbcType=INTEGER},
      creator = #{creator,jdbcType=VARCHAR},
      gmt_created = #{gmtCreated,jdbcType=TIMESTAMP},
      gmt_modified = #{gmtModified,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>