<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.copower.pmcc.assess.dal.basis.mapper.MdIncomeForecastItemMapper" >
  <resultMap id="BaseResultMap" type="com.copower.pmcc.assess.dal.basis.entity.MdIncomeForecastItem" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="income_forecast_id" property="incomeForecastId" jdbcType="INTEGER" />
    <result column="accounting_subject" property="accountingSubject" jdbcType="INTEGER" />
    <result column="first_level_number" property="firstLevelNumber" jdbcType="VARCHAR" />
    <result column="second_level_number" property="secondLevelNumber" jdbcType="VARCHAR" />
    <result column="amount_money" property="amountMoney" jdbcType="DECIMAL" />
    <result column="rate_increase" property="rateIncrease" jdbcType="DECIMAL" />
    <result column="rate_increase_explain" property="rateIncreaseExplain" jdbcType="VARCHAR" />
    <result column="creator" property="creator" jdbcType="VARCHAR" />
    <result column="gmt_created" property="gmtCreated" jdbcType="TIMESTAMP" />
    <result column="gmt_modified" property="gmtModified" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, income_forecast_id, accounting_subject, first_level_number, second_level_number, 
    amount_money, rate_increase, rate_increase_explain, creator, gmt_created, gmt_modified
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.copower.pmcc.assess.dal.basis.entity.MdIncomeForecastItemExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from tb_md_income_forecast_item
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from tb_md_income_forecast_item
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from tb_md_income_forecast_item
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.copower.pmcc.assess.dal.basis.entity.MdIncomeForecastItemExample" >
    delete from tb_md_income_forecast_item
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.copower.pmcc.assess.dal.basis.entity.MdIncomeForecastItem" >
    <selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into tb_md_income_forecast_item (income_forecast_id, accounting_subject, 
      first_level_number, second_level_number, amount_money, 
      rate_increase, rate_increase_explain, creator, 
      gmt_created, gmt_modified)
    values (#{incomeForecastId,jdbcType=INTEGER}, #{accountingSubject,jdbcType=INTEGER}, 
      #{firstLevelNumber,jdbcType=VARCHAR}, #{secondLevelNumber,jdbcType=VARCHAR}, #{amountMoney,jdbcType=DECIMAL}, 
      #{rateIncrease,jdbcType=DECIMAL}, #{rateIncreaseExplain,jdbcType=VARCHAR}, #{creator,jdbcType=VARCHAR}, 
      #{gmtCreated,jdbcType=TIMESTAMP}, #{gmtModified,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.copower.pmcc.assess.dal.basis.entity.MdIncomeForecastItem" >
    <selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into tb_md_income_forecast_item
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="incomeForecastId != null" >
        income_forecast_id,
      </if>
      <if test="accountingSubject != null" >
        accounting_subject,
      </if>
      <if test="firstLevelNumber != null" >
        first_level_number,
      </if>
      <if test="secondLevelNumber != null" >
        second_level_number,
      </if>
      <if test="amountMoney != null" >
        amount_money,
      </if>
      <if test="rateIncrease != null" >
        rate_increase,
      </if>
      <if test="rateIncreaseExplain != null" >
        rate_increase_explain,
      </if>
      <if test="creator != null" >
        creator,
      </if>
      <if test="gmtCreated != null" >
        gmt_created,
      </if>
      <if test="gmtModified != null" >
        gmt_modified,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="incomeForecastId != null" >
        #{incomeForecastId,jdbcType=INTEGER},
      </if>
      <if test="accountingSubject != null" >
        #{accountingSubject,jdbcType=INTEGER},
      </if>
      <if test="firstLevelNumber != null" >
        #{firstLevelNumber,jdbcType=VARCHAR},
      </if>
      <if test="secondLevelNumber != null" >
        #{secondLevelNumber,jdbcType=VARCHAR},
      </if>
      <if test="amountMoney != null" >
        #{amountMoney,jdbcType=DECIMAL},
      </if>
      <if test="rateIncrease != null" >
        #{rateIncrease,jdbcType=DECIMAL},
      </if>
      <if test="rateIncreaseExplain != null" >
        #{rateIncreaseExplain,jdbcType=VARCHAR},
      </if>
      <if test="creator != null" >
        #{creator,jdbcType=VARCHAR},
      </if>
      <if test="gmtCreated != null" >
        #{gmtCreated,jdbcType=TIMESTAMP},
      </if>
      <if test="gmtModified != null" >
        #{gmtModified,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.copower.pmcc.assess.dal.basis.entity.MdIncomeForecastItemExample" resultType="java.lang.Integer" >
    select count(*) from tb_md_income_forecast_item
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update tb_md_income_forecast_item
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.incomeForecastId != null" >
        income_forecast_id = #{record.incomeForecastId,jdbcType=INTEGER},
      </if>
      <if test="record.accountingSubject != null" >
        accounting_subject = #{record.accountingSubject,jdbcType=INTEGER},
      </if>
      <if test="record.firstLevelNumber != null" >
        first_level_number = #{record.firstLevelNumber,jdbcType=VARCHAR},
      </if>
      <if test="record.secondLevelNumber != null" >
        second_level_number = #{record.secondLevelNumber,jdbcType=VARCHAR},
      </if>
      <if test="record.amountMoney != null" >
        amount_money = #{record.amountMoney,jdbcType=DECIMAL},
      </if>
      <if test="record.rateIncrease != null" >
        rate_increase = #{record.rateIncrease,jdbcType=DECIMAL},
      </if>
      <if test="record.rateIncreaseExplain != null" >
        rate_increase_explain = #{record.rateIncreaseExplain,jdbcType=VARCHAR},
      </if>
      <if test="record.creator != null" >
        creator = #{record.creator,jdbcType=VARCHAR},
      </if>
      <if test="record.gmtCreated != null" >
        gmt_created = #{record.gmtCreated,jdbcType=TIMESTAMP},
      </if>
      <if test="record.gmtModified != null" >
        gmt_modified = #{record.gmtModified,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update tb_md_income_forecast_item
    set id = #{record.id,jdbcType=INTEGER},
      income_forecast_id = #{record.incomeForecastId,jdbcType=INTEGER},
      accounting_subject = #{record.accountingSubject,jdbcType=INTEGER},
      first_level_number = #{record.firstLevelNumber,jdbcType=VARCHAR},
      second_level_number = #{record.secondLevelNumber,jdbcType=VARCHAR},
      amount_money = #{record.amountMoney,jdbcType=DECIMAL},
      rate_increase = #{record.rateIncrease,jdbcType=DECIMAL},
      rate_increase_explain = #{record.rateIncreaseExplain,jdbcType=VARCHAR},
      creator = #{record.creator,jdbcType=VARCHAR},
      gmt_created = #{record.gmtCreated,jdbcType=TIMESTAMP},
      gmt_modified = #{record.gmtModified,jdbcType=TIMESTAMP}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.copower.pmcc.assess.dal.basis.entity.MdIncomeForecastItem" >
    update tb_md_income_forecast_item
    <set >
      <if test="incomeForecastId != null" >
        income_forecast_id = #{incomeForecastId,jdbcType=INTEGER},
      </if>
      <if test="accountingSubject != null" >
        accounting_subject = #{accountingSubject,jdbcType=INTEGER},
      </if>
      <if test="firstLevelNumber != null" >
        first_level_number = #{firstLevelNumber,jdbcType=VARCHAR},
      </if>
      <if test="secondLevelNumber != null" >
        second_level_number = #{secondLevelNumber,jdbcType=VARCHAR},
      </if>
      <if test="amountMoney != null" >
        amount_money = #{amountMoney,jdbcType=DECIMAL},
      </if>
      <if test="rateIncrease != null" >
        rate_increase = #{rateIncrease,jdbcType=DECIMAL},
      </if>
      <if test="rateIncreaseExplain != null" >
        rate_increase_explain = #{rateIncreaseExplain,jdbcType=VARCHAR},
      </if>
      <if test="creator != null" >
        creator = #{creator,jdbcType=VARCHAR},
      </if>
      <if test="gmtCreated != null" >
        gmt_created = #{gmtCreated,jdbcType=TIMESTAMP},
      </if>
      <if test="gmtModified != null" >
        gmt_modified = #{gmtModified,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.copower.pmcc.assess.dal.basis.entity.MdIncomeForecastItem" >
    update tb_md_income_forecast_item
    set income_forecast_id = #{incomeForecastId,jdbcType=INTEGER},
      accounting_subject = #{accountingSubject,jdbcType=INTEGER},
      first_level_number = #{firstLevelNumber,jdbcType=VARCHAR},
      second_level_number = #{secondLevelNumber,jdbcType=VARCHAR},
      amount_money = #{amountMoney,jdbcType=DECIMAL},
      rate_increase = #{rateIncrease,jdbcType=DECIMAL},
      rate_increase_explain = #{rateIncreaseExplain,jdbcType=VARCHAR},
      creator = #{creator,jdbcType=VARCHAR},
      gmt_created = #{gmtCreated,jdbcType=TIMESTAMP},
      gmt_modified = #{gmtModified,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>