<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.copower.pmcc.assess.dal.basis.mapper.MdIncomeLeaseCostMapper" >
  <resultMap id="BaseResultMap" type="com.copower.pmcc.assess.dal.basis.entity.MdIncomeLeaseCost" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="income_id" property="incomeId" jdbcType="INTEGER" />
    <result column="section_id" property="sectionId" jdbcType="INTEGER" />
    <result column="management_cost" property="managementCost" jdbcType="VARCHAR" />
    <result column="management_cost_ratio" property="managementCostRatio" jdbcType="DECIMAL" />
    <result column="maintenance" property="maintenance" jdbcType="VARCHAR" />
    <result column="maintenance_cost_ratio" property="maintenanceCostRatio" jdbcType="DECIMAL" />
    <result column="replacement_value" property="replacementValue" jdbcType="DECIMAL" />
    <result column="additional" property="additional" jdbcType="VARCHAR" />
    <result column="tax_rate" property="taxRate" jdbcType="DECIMAL" />
    <result column="insurance_premium" property="insurancePremium" jdbcType="VARCHAR" />
    <result column="insurance_rate" property="insuranceRate" jdbcType="DECIMAL" />
    <result column="land_use_tax" property="landUseTax" jdbcType="VARCHAR" />
    <result column="usage_tax_parameter" property="usageTaxParameter" jdbcType="VARCHAR" />
    <result column="creator" property="creator" jdbcType="VARCHAR" />
    <result column="gmt_created" property="gmtCreated" jdbcType="TIMESTAMP" />
    <result column="gmt_modified" property="gmtModified" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, income_id, section_id, management_cost, management_cost_ratio, maintenance, maintenance_cost_ratio, 
    replacement_value, additional, tax_rate, insurance_premium, insurance_rate, land_use_tax, 
    usage_tax_parameter, creator, gmt_created, gmt_modified
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.copower.pmcc.assess.dal.basis.entity.MdIncomeLeaseCostExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from tb_md_income_lease_cost
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from tb_md_income_lease_cost
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from tb_md_income_lease_cost
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.copower.pmcc.assess.dal.basis.entity.MdIncomeLeaseCostExample" >
    delete from tb_md_income_lease_cost
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.copower.pmcc.assess.dal.basis.entity.MdIncomeLeaseCost" >
    <selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into tb_md_income_lease_cost (income_id, section_id, management_cost, 
      management_cost_ratio, maintenance, maintenance_cost_ratio, 
      replacement_value, additional, tax_rate, 
      insurance_premium, insurance_rate, land_use_tax, 
      usage_tax_parameter, creator, gmt_created, 
      gmt_modified)
    values (#{incomeId,jdbcType=INTEGER}, #{sectionId,jdbcType=INTEGER}, #{managementCost,jdbcType=VARCHAR}, 
      #{managementCostRatio,jdbcType=DECIMAL}, #{maintenance,jdbcType=VARCHAR}, #{maintenanceCostRatio,jdbcType=DECIMAL}, 
      #{replacementValue,jdbcType=DECIMAL}, #{additional,jdbcType=VARCHAR}, #{taxRate,jdbcType=DECIMAL}, 
      #{insurancePremium,jdbcType=VARCHAR}, #{insuranceRate,jdbcType=DECIMAL}, #{landUseTax,jdbcType=VARCHAR}, 
      #{usageTaxParameter,jdbcType=VARCHAR}, #{creator,jdbcType=VARCHAR}, #{gmtCreated,jdbcType=TIMESTAMP}, 
      #{gmtModified,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.copower.pmcc.assess.dal.basis.entity.MdIncomeLeaseCost" >
    <selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into tb_md_income_lease_cost
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="incomeId != null" >
        income_id,
      </if>
      <if test="sectionId != null" >
        section_id,
      </if>
      <if test="managementCost != null" >
        management_cost,
      </if>
      <if test="managementCostRatio != null" >
        management_cost_ratio,
      </if>
      <if test="maintenance != null" >
        maintenance,
      </if>
      <if test="maintenanceCostRatio != null" >
        maintenance_cost_ratio,
      </if>
      <if test="replacementValue != null" >
        replacement_value,
      </if>
      <if test="additional != null" >
        additional,
      </if>
      <if test="taxRate != null" >
        tax_rate,
      </if>
      <if test="insurancePremium != null" >
        insurance_premium,
      </if>
      <if test="insuranceRate != null" >
        insurance_rate,
      </if>
      <if test="landUseTax != null" >
        land_use_tax,
      </if>
      <if test="usageTaxParameter != null" >
        usage_tax_parameter,
      </if>
      <if test="creator != null" >
        creator,
      </if>
      <if test="gmtCreated != null" >
        gmt_created,
      </if>
      <if test="gmtModified != null" >
        gmt_modified,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="incomeId != null" >
        #{incomeId,jdbcType=INTEGER},
      </if>
      <if test="sectionId != null" >
        #{sectionId,jdbcType=INTEGER},
      </if>
      <if test="managementCost != null" >
        #{managementCost,jdbcType=VARCHAR},
      </if>
      <if test="managementCostRatio != null" >
        #{managementCostRatio,jdbcType=DECIMAL},
      </if>
      <if test="maintenance != null" >
        #{maintenance,jdbcType=VARCHAR},
      </if>
      <if test="maintenanceCostRatio != null" >
        #{maintenanceCostRatio,jdbcType=DECIMAL},
      </if>
      <if test="replacementValue != null" >
        #{replacementValue,jdbcType=DECIMAL},
      </if>
      <if test="additional != null" >
        #{additional,jdbcType=VARCHAR},
      </if>
      <if test="taxRate != null" >
        #{taxRate,jdbcType=DECIMAL},
      </if>
      <if test="insurancePremium != null" >
        #{insurancePremium,jdbcType=VARCHAR},
      </if>
      <if test="insuranceRate != null" >
        #{insuranceRate,jdbcType=DECIMAL},
      </if>
      <if test="landUseTax != null" >
        #{landUseTax,jdbcType=VARCHAR},
      </if>
      <if test="usageTaxParameter != null" >
        #{usageTaxParameter,jdbcType=VARCHAR},
      </if>
      <if test="creator != null" >
        #{creator,jdbcType=VARCHAR},
      </if>
      <if test="gmtCreated != null" >
        #{gmtCreated,jdbcType=TIMESTAMP},
      </if>
      <if test="gmtModified != null" >
        #{gmtModified,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.copower.pmcc.assess.dal.basis.entity.MdIncomeLeaseCostExample" resultType="java.lang.Integer" >
    select count(*) from tb_md_income_lease_cost
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update tb_md_income_lease_cost
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.incomeId != null" >
        income_id = #{record.incomeId,jdbcType=INTEGER},
      </if>
      <if test="record.sectionId != null" >
        section_id = #{record.sectionId,jdbcType=INTEGER},
      </if>
      <if test="record.managementCost != null" >
        management_cost = #{record.managementCost,jdbcType=VARCHAR},
      </if>
      <if test="record.managementCostRatio != null" >
        management_cost_ratio = #{record.managementCostRatio,jdbcType=DECIMAL},
      </if>
      <if test="record.maintenance != null" >
        maintenance = #{record.maintenance,jdbcType=VARCHAR},
      </if>
      <if test="record.maintenanceCostRatio != null" >
        maintenance_cost_ratio = #{record.maintenanceCostRatio,jdbcType=DECIMAL},
      </if>
      <if test="record.replacementValue != null" >
        replacement_value = #{record.replacementValue,jdbcType=DECIMAL},
      </if>
      <if test="record.additional != null" >
        additional = #{record.additional,jdbcType=VARCHAR},
      </if>
      <if test="record.taxRate != null" >
        tax_rate = #{record.taxRate,jdbcType=DECIMAL},
      </if>
      <if test="record.insurancePremium != null" >
        insurance_premium = #{record.insurancePremium,jdbcType=VARCHAR},
      </if>
      <if test="record.insuranceRate != null" >
        insurance_rate = #{record.insuranceRate,jdbcType=DECIMAL},
      </if>
      <if test="record.landUseTax != null" >
        land_use_tax = #{record.landUseTax,jdbcType=VARCHAR},
      </if>
      <if test="record.usageTaxParameter != null" >
        usage_tax_parameter = #{record.usageTaxParameter,jdbcType=VARCHAR},
      </if>
      <if test="record.creator != null" >
        creator = #{record.creator,jdbcType=VARCHAR},
      </if>
      <if test="record.gmtCreated != null" >
        gmt_created = #{record.gmtCreated,jdbcType=TIMESTAMP},
      </if>
      <if test="record.gmtModified != null" >
        gmt_modified = #{record.gmtModified,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update tb_md_income_lease_cost
    set id = #{record.id,jdbcType=INTEGER},
      income_id = #{record.incomeId,jdbcType=INTEGER},
      section_id = #{record.sectionId,jdbcType=INTEGER},
      management_cost = #{record.managementCost,jdbcType=VARCHAR},
      management_cost_ratio = #{record.managementCostRatio,jdbcType=DECIMAL},
      maintenance = #{record.maintenance,jdbcType=VARCHAR},
      maintenance_cost_ratio = #{record.maintenanceCostRatio,jdbcType=DECIMAL},
      replacement_value = #{record.replacementValue,jdbcType=DECIMAL},
      additional = #{record.additional,jdbcType=VARCHAR},
      tax_rate = #{record.taxRate,jdbcType=DECIMAL},
      insurance_premium = #{record.insurancePremium,jdbcType=VARCHAR},
      insurance_rate = #{record.insuranceRate,jdbcType=DECIMAL},
      land_use_tax = #{record.landUseTax,jdbcType=VARCHAR},
      usage_tax_parameter = #{record.usageTaxParameter,jdbcType=VARCHAR},
      creator = #{record.creator,jdbcType=VARCHAR},
      gmt_created = #{record.gmtCreated,jdbcType=TIMESTAMP},
      gmt_modified = #{record.gmtModified,jdbcType=TIMESTAMP}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.copower.pmcc.assess.dal.basis.entity.MdIncomeLeaseCost" >
    update tb_md_income_lease_cost
    <set >
      <if test="incomeId != null" >
        income_id = #{incomeId,jdbcType=INTEGER},
      </if>
      <if test="sectionId != null" >
        section_id = #{sectionId,jdbcType=INTEGER},
      </if>
      <if test="managementCost != null" >
        management_cost = #{managementCost,jdbcType=VARCHAR},
      </if>
      <if test="managementCostRatio != null" >
        management_cost_ratio = #{managementCostRatio,jdbcType=DECIMAL},
      </if>
      <if test="maintenance != null" >
        maintenance = #{maintenance,jdbcType=VARCHAR},
      </if>
      <if test="maintenanceCostRatio != null" >
        maintenance_cost_ratio = #{maintenanceCostRatio,jdbcType=DECIMAL},
      </if>
      <if test="replacementValue != null" >
        replacement_value = #{replacementValue,jdbcType=DECIMAL},
      </if>
      <if test="additional != null" >
        additional = #{additional,jdbcType=VARCHAR},
      </if>
      <if test="taxRate != null" >
        tax_rate = #{taxRate,jdbcType=DECIMAL},
      </if>
      <if test="insurancePremium != null" >
        insurance_premium = #{insurancePremium,jdbcType=VARCHAR},
      </if>
      <if test="insuranceRate != null" >
        insurance_rate = #{insuranceRate,jdbcType=DECIMAL},
      </if>
      <if test="landUseTax != null" >
        land_use_tax = #{landUseTax,jdbcType=VARCHAR},
      </if>
      <if test="usageTaxParameter != null" >
        usage_tax_parameter = #{usageTaxParameter,jdbcType=VARCHAR},
      </if>
      <if test="creator != null" >
        creator = #{creator,jdbcType=VARCHAR},
      </if>
      <if test="gmtCreated != null" >
        gmt_created = #{gmtCreated,jdbcType=TIMESTAMP},
      </if>
      <if test="gmtModified != null" >
        gmt_modified = #{gmtModified,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.copower.pmcc.assess.dal.basis.entity.MdIncomeLeaseCost" >
    update tb_md_income_lease_cost
    set income_id = #{incomeId,jdbcType=INTEGER},
      section_id = #{sectionId,jdbcType=INTEGER},
      management_cost = #{managementCost,jdbcType=VARCHAR},
      management_cost_ratio = #{managementCostRatio,jdbcType=DECIMAL},
      maintenance = #{maintenance,jdbcType=VARCHAR},
      maintenance_cost_ratio = #{maintenanceCostRatio,jdbcType=DECIMAL},
      replacement_value = #{replacementValue,jdbcType=DECIMAL},
      additional = #{additional,jdbcType=VARCHAR},
      tax_rate = #{taxRate,jdbcType=DECIMAL},
      insurance_premium = #{insurancePremium,jdbcType=VARCHAR},
      insurance_rate = #{insuranceRate,jdbcType=DECIMAL},
      land_use_tax = #{landUseTax,jdbcType=VARCHAR},
      usage_tax_parameter = #{usageTaxParameter,jdbcType=VARCHAR},
      creator = #{creator,jdbcType=VARCHAR},
      gmt_created = #{gmtCreated,jdbcType=TIMESTAMP},
      gmt_modified = #{gmtModified,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>