<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.copower.pmcc.assess.dal.basis.mapper.MdIncomeLeaseCostMapper" >
  <resultMap id="BaseResultMap" type="com.copower.pmcc.assess.dal.basis.entity.MdIncomeLeaseCost" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="income_id" property="incomeId" jdbcType="INTEGER" />
    <result column="section_id" property="sectionId" jdbcType="INTEGER" />
    <result column="replacement_value" property="replacementValue" jdbcType="DECIMAL" />
    <result column="management_cost" property="managementCost" jdbcType="VARCHAR" />
    <result column="management_cost_ratio" property="managementCostRatio" jdbcType="DECIMAL" />
    <result column="maintenance" property="maintenance" jdbcType="VARCHAR" />
    <result column="maintenance_cost_ratio" property="maintenanceCostRatio" jdbcType="DECIMAL" />
    <result column="additional" property="additional" jdbcType="VARCHAR" />
    <result column="additional_ratio" property="additionalRatio" jdbcType="DECIMAL" />
    <result column="insurance_premium" property="insurancePremium" jdbcType="VARCHAR" />
    <result column="insurance_premium_ratio" property="insurancePremiumRatio" jdbcType="DECIMAL" />
    <result column="land_use_tax" property="landUseTax" jdbcType="DECIMAL" />
    <result column="use_tax_parameter" property="useTaxParameter" jdbcType="VARCHAR" />
    <result column="transaction_taxe_fee_ratio" property="transactionTaxeFeeRatio" jdbcType="DECIMAL" />
    <result column="transaction_taxe_fee_explain" property="transactionTaxeFeeExplain" jdbcType="VARCHAR" />
    <result column="property_tax_ratio" property="propertyTaxRatio" jdbcType="DECIMAL" />
    <result column="stamp_duty_ratio" property="stampDutyRatio" jdbcType="DECIMAL" />
    <result column="sales_tax_ratio" property="salesTaxRatio" jdbcType="DECIMAL" />
    <result column="construction_tax_ratio" property="constructionTaxRatio" jdbcType="DECIMAL" />
    <result column="local_education_ratio" property="localEducationRatio" jdbcType="DECIMAL" />
    <result column="education_ratio" property="educationRatio" jdbcType="DECIMAL" />
    <result column="sorting" property="sorting" jdbcType="INTEGER" />
    <result column="creator" property="creator" jdbcType="VARCHAR" />
    <result column="gmt_created" property="gmtCreated" jdbcType="TIMESTAMP" />
    <result column="gmt_modified" property="gmtModified" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, income_id, section_id, replacement_value, management_cost, management_cost_ratio, 
    maintenance, maintenance_cost_ratio, additional, additional_ratio, insurance_premium, 
    insurance_premium_ratio, land_use_tax, use_tax_parameter, transaction_taxe_fee_ratio, 
    transaction_taxe_fee_explain, property_tax_ratio, stamp_duty_ratio, sales_tax_ratio, 
    construction_tax_ratio, local_education_ratio, education_ratio, sorting, creator, 
    gmt_created, gmt_modified
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.copower.pmcc.assess.dal.basis.entity.MdIncomeLeaseCostExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from tb_md_income_lease_cost
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from tb_md_income_lease_cost
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from tb_md_income_lease_cost
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.copower.pmcc.assess.dal.basis.entity.MdIncomeLeaseCostExample" >
    delete from tb_md_income_lease_cost
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.copower.pmcc.assess.dal.basis.entity.MdIncomeLeaseCost" >
    <selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into tb_md_income_lease_cost (income_id, section_id, replacement_value, 
      management_cost, management_cost_ratio, maintenance, 
      maintenance_cost_ratio, additional, additional_ratio, 
      insurance_premium, insurance_premium_ratio, 
      land_use_tax, use_tax_parameter, transaction_taxe_fee_ratio, 
      transaction_taxe_fee_explain, property_tax_ratio, 
      stamp_duty_ratio, sales_tax_ratio, construction_tax_ratio, 
      local_education_ratio, education_ratio, sorting, 
      creator, gmt_created, gmt_modified
      )
    values (#{incomeId,jdbcType=INTEGER}, #{sectionId,jdbcType=INTEGER}, #{replacementValue,jdbcType=DECIMAL}, 
      #{managementCost,jdbcType=VARCHAR}, #{managementCostRatio,jdbcType=DECIMAL}, #{maintenance,jdbcType=VARCHAR}, 
      #{maintenanceCostRatio,jdbcType=DECIMAL}, #{additional,jdbcType=VARCHAR}, #{additionalRatio,jdbcType=DECIMAL}, 
      #{insurancePremium,jdbcType=VARCHAR}, #{insurancePremiumRatio,jdbcType=DECIMAL}, 
      #{landUseTax,jdbcType=DECIMAL}, #{useTaxParameter,jdbcType=VARCHAR}, #{transactionTaxeFeeRatio,jdbcType=DECIMAL}, 
      #{transactionTaxeFeeExplain,jdbcType=VARCHAR}, #{propertyTaxRatio,jdbcType=DECIMAL}, 
      #{stampDutyRatio,jdbcType=DECIMAL}, #{salesTaxRatio,jdbcType=DECIMAL}, #{constructionTaxRatio,jdbcType=DECIMAL}, 
      #{localEducationRatio,jdbcType=DECIMAL}, #{educationRatio,jdbcType=DECIMAL}, #{sorting,jdbcType=INTEGER}, 
      #{creator,jdbcType=VARCHAR}, #{gmtCreated,jdbcType=TIMESTAMP}, #{gmtModified,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.copower.pmcc.assess.dal.basis.entity.MdIncomeLeaseCost" >
    <selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into tb_md_income_lease_cost
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="incomeId != null" >
        income_id,
      </if>
      <if test="sectionId != null" >
        section_id,
      </if>
      <if test="replacementValue != null" >
        replacement_value,
      </if>
      <if test="managementCost != null" >
        management_cost,
      </if>
      <if test="managementCostRatio != null" >
        management_cost_ratio,
      </if>
      <if test="maintenance != null" >
        maintenance,
      </if>
      <if test="maintenanceCostRatio != null" >
        maintenance_cost_ratio,
      </if>
      <if test="additional != null" >
        additional,
      </if>
      <if test="additionalRatio != null" >
        additional_ratio,
      </if>
      <if test="insurancePremium != null" >
        insurance_premium,
      </if>
      <if test="insurancePremiumRatio != null" >
        insurance_premium_ratio,
      </if>
      <if test="landUseTax != null" >
        land_use_tax,
      </if>
      <if test="useTaxParameter != null" >
        use_tax_parameter,
      </if>
      <if test="transactionTaxeFeeRatio != null" >
        transaction_taxe_fee_ratio,
      </if>
      <if test="transactionTaxeFeeExplain != null" >
        transaction_taxe_fee_explain,
      </if>
      <if test="propertyTaxRatio != null" >
        property_tax_ratio,
      </if>
      <if test="stampDutyRatio != null" >
        stamp_duty_ratio,
      </if>
      <if test="salesTaxRatio != null" >
        sales_tax_ratio,
      </if>
      <if test="constructionTaxRatio != null" >
        construction_tax_ratio,
      </if>
      <if test="localEducationRatio != null" >
        local_education_ratio,
      </if>
      <if test="educationRatio != null" >
        education_ratio,
      </if>
      <if test="sorting != null" >
        sorting,
      </if>
      <if test="creator != null" >
        creator,
      </if>
      <if test="gmtCreated != null" >
        gmt_created,
      </if>
      <if test="gmtModified != null" >
        gmt_modified,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="incomeId != null" >
        #{incomeId,jdbcType=INTEGER},
      </if>
      <if test="sectionId != null" >
        #{sectionId,jdbcType=INTEGER},
      </if>
      <if test="replacementValue != null" >
        #{replacementValue,jdbcType=DECIMAL},
      </if>
      <if test="managementCost != null" >
        #{managementCost,jdbcType=VARCHAR},
      </if>
      <if test="managementCostRatio != null" >
        #{managementCostRatio,jdbcType=DECIMAL},
      </if>
      <if test="maintenance != null" >
        #{maintenance,jdbcType=VARCHAR},
      </if>
      <if test="maintenanceCostRatio != null" >
        #{maintenanceCostRatio,jdbcType=DECIMAL},
      </if>
      <if test="additional != null" >
        #{additional,jdbcType=VARCHAR},
      </if>
      <if test="additionalRatio != null" >
        #{additionalRatio,jdbcType=DECIMAL},
      </if>
      <if test="insurancePremium != null" >
        #{insurancePremium,jdbcType=VARCHAR},
      </if>
      <if test="insurancePremiumRatio != null" >
        #{insurancePremiumRatio,jdbcType=DECIMAL},
      </if>
      <if test="landUseTax != null" >
        #{landUseTax,jdbcType=DECIMAL},
      </if>
      <if test="useTaxParameter != null" >
        #{useTaxParameter,jdbcType=VARCHAR},
      </if>
      <if test="transactionTaxeFeeRatio != null" >
        #{transactionTaxeFeeRatio,jdbcType=DECIMAL},
      </if>
      <if test="transactionTaxeFeeExplain != null" >
        #{transactionTaxeFeeExplain,jdbcType=VARCHAR},
      </if>
      <if test="propertyTaxRatio != null" >
        #{propertyTaxRatio,jdbcType=DECIMAL},
      </if>
      <if test="stampDutyRatio != null" >
        #{stampDutyRatio,jdbcType=DECIMAL},
      </if>
      <if test="salesTaxRatio != null" >
        #{salesTaxRatio,jdbcType=DECIMAL},
      </if>
      <if test="constructionTaxRatio != null" >
        #{constructionTaxRatio,jdbcType=DECIMAL},
      </if>
      <if test="localEducationRatio != null" >
        #{localEducationRatio,jdbcType=DECIMAL},
      </if>
      <if test="educationRatio != null" >
        #{educationRatio,jdbcType=DECIMAL},
      </if>
      <if test="sorting != null" >
        #{sorting,jdbcType=INTEGER},
      </if>
      <if test="creator != null" >
        #{creator,jdbcType=VARCHAR},
      </if>
      <if test="gmtCreated != null" >
        #{gmtCreated,jdbcType=TIMESTAMP},
      </if>
      <if test="gmtModified != null" >
        #{gmtModified,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.copower.pmcc.assess.dal.basis.entity.MdIncomeLeaseCostExample" resultType="java.lang.Integer" >
    select count(*) from tb_md_income_lease_cost
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update tb_md_income_lease_cost
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.incomeId != null" >
        income_id = #{record.incomeId,jdbcType=INTEGER},
      </if>
      <if test="record.sectionId != null" >
        section_id = #{record.sectionId,jdbcType=INTEGER},
      </if>
      <if test="record.replacementValue != null" >
        replacement_value = #{record.replacementValue,jdbcType=DECIMAL},
      </if>
      <if test="record.managementCost != null" >
        management_cost = #{record.managementCost,jdbcType=VARCHAR},
      </if>
      <if test="record.managementCostRatio != null" >
        management_cost_ratio = #{record.managementCostRatio,jdbcType=DECIMAL},
      </if>
      <if test="record.maintenance != null" >
        maintenance = #{record.maintenance,jdbcType=VARCHAR},
      </if>
      <if test="record.maintenanceCostRatio != null" >
        maintenance_cost_ratio = #{record.maintenanceCostRatio,jdbcType=DECIMAL},
      </if>
      <if test="record.additional != null" >
        additional = #{record.additional,jdbcType=VARCHAR},
      </if>
      <if test="record.additionalRatio != null" >
        additional_ratio = #{record.additionalRatio,jdbcType=DECIMAL},
      </if>
      <if test="record.insurancePremium != null" >
        insurance_premium = #{record.insurancePremium,jdbcType=VARCHAR},
      </if>
      <if test="record.insurancePremiumRatio != null" >
        insurance_premium_ratio = #{record.insurancePremiumRatio,jdbcType=DECIMAL},
      </if>
      <if test="record.landUseTax != null" >
        land_use_tax = #{record.landUseTax,jdbcType=DECIMAL},
      </if>
      <if test="record.useTaxParameter != null" >
        use_tax_parameter = #{record.useTaxParameter,jdbcType=VARCHAR},
      </if>
      <if test="record.transactionTaxeFeeRatio != null" >
        transaction_taxe_fee_ratio = #{record.transactionTaxeFeeRatio,jdbcType=DECIMAL},
      </if>
      <if test="record.transactionTaxeFeeExplain != null" >
        transaction_taxe_fee_explain = #{record.transactionTaxeFeeExplain,jdbcType=VARCHAR},
      </if>
      <if test="record.propertyTaxRatio != null" >
        property_tax_ratio = #{record.propertyTaxRatio,jdbcType=DECIMAL},
      </if>
      <if test="record.stampDutyRatio != null" >
        stamp_duty_ratio = #{record.stampDutyRatio,jdbcType=DECIMAL},
      </if>
      <if test="record.salesTaxRatio != null" >
        sales_tax_ratio = #{record.salesTaxRatio,jdbcType=DECIMAL},
      </if>
      <if test="record.constructionTaxRatio != null" >
        construction_tax_ratio = #{record.constructionTaxRatio,jdbcType=DECIMAL},
      </if>
      <if test="record.localEducationRatio != null" >
        local_education_ratio = #{record.localEducationRatio,jdbcType=DECIMAL},
      </if>
      <if test="record.educationRatio != null" >
        education_ratio = #{record.educationRatio,jdbcType=DECIMAL},
      </if>
      <if test="record.sorting != null" >
        sorting = #{record.sorting,jdbcType=INTEGER},
      </if>
      <if test="record.creator != null" >
        creator = #{record.creator,jdbcType=VARCHAR},
      </if>
      <if test="record.gmtCreated != null" >
        gmt_created = #{record.gmtCreated,jdbcType=TIMESTAMP},
      </if>
      <if test="record.gmtModified != null" >
        gmt_modified = #{record.gmtModified,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update tb_md_income_lease_cost
    set id = #{record.id,jdbcType=INTEGER},
      income_id = #{record.incomeId,jdbcType=INTEGER},
      section_id = #{record.sectionId,jdbcType=INTEGER},
      replacement_value = #{record.replacementValue,jdbcType=DECIMAL},
      management_cost = #{record.managementCost,jdbcType=VARCHAR},
      management_cost_ratio = #{record.managementCostRatio,jdbcType=DECIMAL},
      maintenance = #{record.maintenance,jdbcType=VARCHAR},
      maintenance_cost_ratio = #{record.maintenanceCostRatio,jdbcType=DECIMAL},
      additional = #{record.additional,jdbcType=VARCHAR},
      additional_ratio = #{record.additionalRatio,jdbcType=DECIMAL},
      insurance_premium = #{record.insurancePremium,jdbcType=VARCHAR},
      insurance_premium_ratio = #{record.insurancePremiumRatio,jdbcType=DECIMAL},
      land_use_tax = #{record.landUseTax,jdbcType=DECIMAL},
      use_tax_parameter = #{record.useTaxParameter,jdbcType=VARCHAR},
      transaction_taxe_fee_ratio = #{record.transactionTaxeFeeRatio,jdbcType=DECIMAL},
      transaction_taxe_fee_explain = #{record.transactionTaxeFeeExplain,jdbcType=VARCHAR},
      property_tax_ratio = #{record.propertyTaxRatio,jdbcType=DECIMAL},
      stamp_duty_ratio = #{record.stampDutyRatio,jdbcType=DECIMAL},
      sales_tax_ratio = #{record.salesTaxRatio,jdbcType=DECIMAL},
      construction_tax_ratio = #{record.constructionTaxRatio,jdbcType=DECIMAL},
      local_education_ratio = #{record.localEducationRatio,jdbcType=DECIMAL},
      education_ratio = #{record.educationRatio,jdbcType=DECIMAL},
      sorting = #{record.sorting,jdbcType=INTEGER},
      creator = #{record.creator,jdbcType=VARCHAR},
      gmt_created = #{record.gmtCreated,jdbcType=TIMESTAMP},
      gmt_modified = #{record.gmtModified,jdbcType=TIMESTAMP}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.copower.pmcc.assess.dal.basis.entity.MdIncomeLeaseCost" >
    update tb_md_income_lease_cost
    <set >
      <if test="incomeId != null" >
        income_id = #{incomeId,jdbcType=INTEGER},
      </if>
      <if test="sectionId != null" >
        section_id = #{sectionId,jdbcType=INTEGER},
      </if>
      <if test="replacementValue != null" >
        replacement_value = #{replacementValue,jdbcType=DECIMAL},
      </if>
      <if test="managementCost != null" >
        management_cost = #{managementCost,jdbcType=VARCHAR},
      </if>
      <if test="managementCostRatio != null" >
        management_cost_ratio = #{managementCostRatio,jdbcType=DECIMAL},
      </if>
      <if test="maintenance != null" >
        maintenance = #{maintenance,jdbcType=VARCHAR},
      </if>
      <if test="maintenanceCostRatio != null" >
        maintenance_cost_ratio = #{maintenanceCostRatio,jdbcType=DECIMAL},
      </if>
      <if test="additional != null" >
        additional = #{additional,jdbcType=VARCHAR},
      </if>
      <if test="additionalRatio != null" >
        additional_ratio = #{additionalRatio,jdbcType=DECIMAL},
      </if>
      <if test="insurancePremium != null" >
        insurance_premium = #{insurancePremium,jdbcType=VARCHAR},
      </if>
      <if test="insurancePremiumRatio != null" >
        insurance_premium_ratio = #{insurancePremiumRatio,jdbcType=DECIMAL},
      </if>
      <if test="landUseTax != null" >
        land_use_tax = #{landUseTax,jdbcType=DECIMAL},
      </if>
      <if test="useTaxParameter != null" >
        use_tax_parameter = #{useTaxParameter,jdbcType=VARCHAR},
      </if>
      <if test="transactionTaxeFeeRatio != null" >
        transaction_taxe_fee_ratio = #{transactionTaxeFeeRatio,jdbcType=DECIMAL},
      </if>
      <if test="transactionTaxeFeeExplain != null" >
        transaction_taxe_fee_explain = #{transactionTaxeFeeExplain,jdbcType=VARCHAR},
      </if>
      <if test="propertyTaxRatio != null" >
        property_tax_ratio = #{propertyTaxRatio,jdbcType=DECIMAL},
      </if>
      <if test="stampDutyRatio != null" >
        stamp_duty_ratio = #{stampDutyRatio,jdbcType=DECIMAL},
      </if>
      <if test="salesTaxRatio != null" >
        sales_tax_ratio = #{salesTaxRatio,jdbcType=DECIMAL},
      </if>
      <if test="constructionTaxRatio != null" >
        construction_tax_ratio = #{constructionTaxRatio,jdbcType=DECIMAL},
      </if>
      <if test="localEducationRatio != null" >
        local_education_ratio = #{localEducationRatio,jdbcType=DECIMAL},
      </if>
      <if test="educationRatio != null" >
        education_ratio = #{educationRatio,jdbcType=DECIMAL},
      </if>
      <if test="sorting != null" >
        sorting = #{sorting,jdbcType=INTEGER},
      </if>
      <if test="creator != null" >
        creator = #{creator,jdbcType=VARCHAR},
      </if>
      <if test="gmtCreated != null" >
        gmt_created = #{gmtCreated,jdbcType=TIMESTAMP},
      </if>
      <if test="gmtModified != null" >
        gmt_modified = #{gmtModified,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.copower.pmcc.assess.dal.basis.entity.MdIncomeLeaseCost" >
    update tb_md_income_lease_cost
    set income_id = #{incomeId,jdbcType=INTEGER},
      section_id = #{sectionId,jdbcType=INTEGER},
      replacement_value = #{replacementValue,jdbcType=DECIMAL},
      management_cost = #{managementCost,jdbcType=VARCHAR},
      management_cost_ratio = #{managementCostRatio,jdbcType=DECIMAL},
      maintenance = #{maintenance,jdbcType=VARCHAR},
      maintenance_cost_ratio = #{maintenanceCostRatio,jdbcType=DECIMAL},
      additional = #{additional,jdbcType=VARCHAR},
      additional_ratio = #{additionalRatio,jdbcType=DECIMAL},
      insurance_premium = #{insurancePremium,jdbcType=VARCHAR},
      insurance_premium_ratio = #{insurancePremiumRatio,jdbcType=DECIMAL},
      land_use_tax = #{landUseTax,jdbcType=DECIMAL},
      use_tax_parameter = #{useTaxParameter,jdbcType=VARCHAR},
      transaction_taxe_fee_ratio = #{transactionTaxeFeeRatio,jdbcType=DECIMAL},
      transaction_taxe_fee_explain = #{transactionTaxeFeeExplain,jdbcType=VARCHAR},
      property_tax_ratio = #{propertyTaxRatio,jdbcType=DECIMAL},
      stamp_duty_ratio = #{stampDutyRatio,jdbcType=DECIMAL},
      sales_tax_ratio = #{salesTaxRatio,jdbcType=DECIMAL},
      construction_tax_ratio = #{constructionTaxRatio,jdbcType=DECIMAL},
      local_education_ratio = #{localEducationRatio,jdbcType=DECIMAL},
      education_ratio = #{educationRatio,jdbcType=DECIMAL},
      sorting = #{sorting,jdbcType=INTEGER},
      creator = #{creator,jdbcType=VARCHAR},
      gmt_created = #{gmtCreated,jdbcType=TIMESTAMP},
      gmt_modified = #{gmtModified,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>