<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.copower.pmcc.assess.dal.basis.mapper.MdIncomeLeaseMapper" >
  <resultMap id="BaseResultMap" type="com.copower.pmcc.assess.dal.basis.entity.MdIncomeLease" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="income_id" property="incomeId" jdbcType="INTEGER" />
    <result column="section_id" property="sectionId" jdbcType="INTEGER" />
    <result column="mc_id" property="mcId" jdbcType="INTEGER" />
    <result column="rental_income" property="rentalIncome" jdbcType="DECIMAL" />
    <result column="rentals" property="rentals" jdbcType="DECIMAL" />
    <result column="rentals_remark" property="rentalsRemark" jdbcType="VARCHAR" />
    <result column="month_number" property="monthNumber" jdbcType="INTEGER" />
    <result column="deposit" property="deposit" jdbcType="DECIMAL" />
    <result column="deposit_remark" property="depositRemark" jdbcType="VARCHAR" />
    <result column="deposit_rate" property="depositRate" jdbcType="DECIMAL" />
    <result column="deposit_rate_remark" property="depositRateRemark" jdbcType="VARCHAR" />
    <result column="other_income" property="otherIncome" jdbcType="DECIMAL" />
    <result column="other_income_remark" property="otherIncomeRemark" jdbcType="VARCHAR" />
    <result column="gross_income" property="grossIncome" jdbcType="DECIMAL" />
    <result column="creator" property="creator" jdbcType="VARCHAR" />
    <result column="gmt_created" property="gmtCreated" jdbcType="TIMESTAMP" />
    <result column="gmt_modified" property="gmtModified" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, income_id, section_id, mc_id, rental_income, rentals, rentals_remark, month_number, 
    deposit, deposit_remark, deposit_rate, deposit_rate_remark, other_income, other_income_remark, 
    gross_income, creator, gmt_created, gmt_modified
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.copower.pmcc.assess.dal.basis.entity.MdIncomeLeaseExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from tb_md_income_lease
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from tb_md_income_lease
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from tb_md_income_lease
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.copower.pmcc.assess.dal.basis.entity.MdIncomeLeaseExample" >
    delete from tb_md_income_lease
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.copower.pmcc.assess.dal.basis.entity.MdIncomeLease" >
    <selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into tb_md_income_lease (income_id, section_id, mc_id, 
      rental_income, rentals, rentals_remark, 
      month_number, deposit, deposit_remark, 
      deposit_rate, deposit_rate_remark, other_income, 
      other_income_remark, gross_income, creator, 
      gmt_created, gmt_modified)
    values (#{incomeId,jdbcType=INTEGER}, #{sectionId,jdbcType=INTEGER}, #{mcId,jdbcType=INTEGER}, 
      #{rentalIncome,jdbcType=DECIMAL}, #{rentals,jdbcType=DECIMAL}, #{rentalsRemark,jdbcType=VARCHAR}, 
      #{monthNumber,jdbcType=INTEGER}, #{deposit,jdbcType=DECIMAL}, #{depositRemark,jdbcType=VARCHAR}, 
      #{depositRate,jdbcType=DECIMAL}, #{depositRateRemark,jdbcType=VARCHAR}, #{otherIncome,jdbcType=DECIMAL}, 
      #{otherIncomeRemark,jdbcType=VARCHAR}, #{grossIncome,jdbcType=DECIMAL}, #{creator,jdbcType=VARCHAR}, 
      #{gmtCreated,jdbcType=TIMESTAMP}, #{gmtModified,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.copower.pmcc.assess.dal.basis.entity.MdIncomeLease" >
    <selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into tb_md_income_lease
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="incomeId != null" >
        income_id,
      </if>
      <if test="sectionId != null" >
        section_id,
      </if>
      <if test="mcId != null" >
        mc_id,
      </if>
      <if test="rentalIncome != null" >
        rental_income,
      </if>
      <if test="rentals != null" >
        rentals,
      </if>
      <if test="rentalsRemark != null" >
        rentals_remark,
      </if>
      <if test="monthNumber != null" >
        month_number,
      </if>
      <if test="deposit != null" >
        deposit,
      </if>
      <if test="depositRemark != null" >
        deposit_remark,
      </if>
      <if test="depositRate != null" >
        deposit_rate,
      </if>
      <if test="depositRateRemark != null" >
        deposit_rate_remark,
      </if>
      <if test="otherIncome != null" >
        other_income,
      </if>
      <if test="otherIncomeRemark != null" >
        other_income_remark,
      </if>
      <if test="grossIncome != null" >
        gross_income,
      </if>
      <if test="creator != null" >
        creator,
      </if>
      <if test="gmtCreated != null" >
        gmt_created,
      </if>
      <if test="gmtModified != null" >
        gmt_modified,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="incomeId != null" >
        #{incomeId,jdbcType=INTEGER},
      </if>
      <if test="sectionId != null" >
        #{sectionId,jdbcType=INTEGER},
      </if>
      <if test="mcId != null" >
        #{mcId,jdbcType=INTEGER},
      </if>
      <if test="rentalIncome != null" >
        #{rentalIncome,jdbcType=DECIMAL},
      </if>
      <if test="rentals != null" >
        #{rentals,jdbcType=DECIMAL},
      </if>
      <if test="rentalsRemark != null" >
        #{rentalsRemark,jdbcType=VARCHAR},
      </if>
      <if test="monthNumber != null" >
        #{monthNumber,jdbcType=INTEGER},
      </if>
      <if test="deposit != null" >
        #{deposit,jdbcType=DECIMAL},
      </if>
      <if test="depositRemark != null" >
        #{depositRemark,jdbcType=VARCHAR},
      </if>
      <if test="depositRate != null" >
        #{depositRate,jdbcType=DECIMAL},
      </if>
      <if test="depositRateRemark != null" >
        #{depositRateRemark,jdbcType=VARCHAR},
      </if>
      <if test="otherIncome != null" >
        #{otherIncome,jdbcType=DECIMAL},
      </if>
      <if test="otherIncomeRemark != null" >
        #{otherIncomeRemark,jdbcType=VARCHAR},
      </if>
      <if test="grossIncome != null" >
        #{grossIncome,jdbcType=DECIMAL},
      </if>
      <if test="creator != null" >
        #{creator,jdbcType=VARCHAR},
      </if>
      <if test="gmtCreated != null" >
        #{gmtCreated,jdbcType=TIMESTAMP},
      </if>
      <if test="gmtModified != null" >
        #{gmtModified,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.copower.pmcc.assess.dal.basis.entity.MdIncomeLeaseExample" resultType="java.lang.Integer" >
    select count(*) from tb_md_income_lease
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update tb_md_income_lease
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.incomeId != null" >
        income_id = #{record.incomeId,jdbcType=INTEGER},
      </if>
      <if test="record.sectionId != null" >
        section_id = #{record.sectionId,jdbcType=INTEGER},
      </if>
      <if test="record.mcId != null" >
        mc_id = #{record.mcId,jdbcType=INTEGER},
      </if>
      <if test="record.rentalIncome != null" >
        rental_income = #{record.rentalIncome,jdbcType=DECIMAL},
      </if>
      <if test="record.rentals != null" >
        rentals = #{record.rentals,jdbcType=DECIMAL},
      </if>
      <if test="record.rentalsRemark != null" >
        rentals_remark = #{record.rentalsRemark,jdbcType=VARCHAR},
      </if>
      <if test="record.monthNumber != null" >
        month_number = #{record.monthNumber,jdbcType=INTEGER},
      </if>
      <if test="record.deposit != null" >
        deposit = #{record.deposit,jdbcType=DECIMAL},
      </if>
      <if test="record.depositRemark != null" >
        deposit_remark = #{record.depositRemark,jdbcType=VARCHAR},
      </if>
      <if test="record.depositRate != null" >
        deposit_rate = #{record.depositRate,jdbcType=DECIMAL},
      </if>
      <if test="record.depositRateRemark != null" >
        deposit_rate_remark = #{record.depositRateRemark,jdbcType=VARCHAR},
      </if>
      <if test="record.otherIncome != null" >
        other_income = #{record.otherIncome,jdbcType=DECIMAL},
      </if>
      <if test="record.otherIncomeRemark != null" >
        other_income_remark = #{record.otherIncomeRemark,jdbcType=VARCHAR},
      </if>
      <if test="record.grossIncome != null" >
        gross_income = #{record.grossIncome,jdbcType=DECIMAL},
      </if>
      <if test="record.creator != null" >
        creator = #{record.creator,jdbcType=VARCHAR},
      </if>
      <if test="record.gmtCreated != null" >
        gmt_created = #{record.gmtCreated,jdbcType=TIMESTAMP},
      </if>
      <if test="record.gmtModified != null" >
        gmt_modified = #{record.gmtModified,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update tb_md_income_lease
    set id = #{record.id,jdbcType=INTEGER},
      income_id = #{record.incomeId,jdbcType=INTEGER},
      section_id = #{record.sectionId,jdbcType=INTEGER},
      mc_id = #{record.mcId,jdbcType=INTEGER},
      rental_income = #{record.rentalIncome,jdbcType=DECIMAL},
      rentals = #{record.rentals,jdbcType=DECIMAL},
      rentals_remark = #{record.rentalsRemark,jdbcType=VARCHAR},
      month_number = #{record.monthNumber,jdbcType=INTEGER},
      deposit = #{record.deposit,jdbcType=DECIMAL},
      deposit_remark = #{record.depositRemark,jdbcType=VARCHAR},
      deposit_rate = #{record.depositRate,jdbcType=DECIMAL},
      deposit_rate_remark = #{record.depositRateRemark,jdbcType=VARCHAR},
      other_income = #{record.otherIncome,jdbcType=DECIMAL},
      other_income_remark = #{record.otherIncomeRemark,jdbcType=VARCHAR},
      gross_income = #{record.grossIncome,jdbcType=DECIMAL},
      creator = #{record.creator,jdbcType=VARCHAR},
      gmt_created = #{record.gmtCreated,jdbcType=TIMESTAMP},
      gmt_modified = #{record.gmtModified,jdbcType=TIMESTAMP}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.copower.pmcc.assess.dal.basis.entity.MdIncomeLease" >
    update tb_md_income_lease
    <set >
      <if test="incomeId != null" >
        income_id = #{incomeId,jdbcType=INTEGER},
      </if>
      <if test="sectionId != null" >
        section_id = #{sectionId,jdbcType=INTEGER},
      </if>
      <if test="mcId != null" >
        mc_id = #{mcId,jdbcType=INTEGER},
      </if>
      <if test="rentalIncome != null" >
        rental_income = #{rentalIncome,jdbcType=DECIMAL},
      </if>
      <if test="rentals != null" >
        rentals = #{rentals,jdbcType=DECIMAL},
      </if>
      <if test="rentalsRemark != null" >
        rentals_remark = #{rentalsRemark,jdbcType=VARCHAR},
      </if>
      <if test="monthNumber != null" >
        month_number = #{monthNumber,jdbcType=INTEGER},
      </if>
      <if test="deposit != null" >
        deposit = #{deposit,jdbcType=DECIMAL},
      </if>
      <if test="depositRemark != null" >
        deposit_remark = #{depositRemark,jdbcType=VARCHAR},
      </if>
      <if test="depositRate != null" >
        deposit_rate = #{depositRate,jdbcType=DECIMAL},
      </if>
      <if test="depositRateRemark != null" >
        deposit_rate_remark = #{depositRateRemark,jdbcType=VARCHAR},
      </if>
      <if test="otherIncome != null" >
        other_income = #{otherIncome,jdbcType=DECIMAL},
      </if>
      <if test="otherIncomeRemark != null" >
        other_income_remark = #{otherIncomeRemark,jdbcType=VARCHAR},
      </if>
      <if test="grossIncome != null" >
        gross_income = #{grossIncome,jdbcType=DECIMAL},
      </if>
      <if test="creator != null" >
        creator = #{creator,jdbcType=VARCHAR},
      </if>
      <if test="gmtCreated != null" >
        gmt_created = #{gmtCreated,jdbcType=TIMESTAMP},
      </if>
      <if test="gmtModified != null" >
        gmt_modified = #{gmtModified,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.copower.pmcc.assess.dal.basis.entity.MdIncomeLease" >
    update tb_md_income_lease
    set income_id = #{incomeId,jdbcType=INTEGER},
      section_id = #{sectionId,jdbcType=INTEGER},
      mc_id = #{mcId,jdbcType=INTEGER},
      rental_income = #{rentalIncome,jdbcType=DECIMAL},
      rentals = #{rentals,jdbcType=DECIMAL},
      rentals_remark = #{rentalsRemark,jdbcType=VARCHAR},
      month_number = #{monthNumber,jdbcType=INTEGER},
      deposit = #{deposit,jdbcType=DECIMAL},
      deposit_remark = #{depositRemark,jdbcType=VARCHAR},
      deposit_rate = #{depositRate,jdbcType=DECIMAL},
      deposit_rate_remark = #{depositRateRemark,jdbcType=VARCHAR},
      other_income = #{otherIncome,jdbcType=DECIMAL},
      other_income_remark = #{otherIncomeRemark,jdbcType=VARCHAR},
      gross_income = #{grossIncome,jdbcType=DECIMAL},
      creator = #{creator,jdbcType=VARCHAR},
      gmt_created = #{gmtCreated,jdbcType=TIMESTAMP},
      gmt_modified = #{gmtModified,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>