<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.copower.pmcc.assess.dal.basis.mapper.MdMarketCompareItemMapper" >
  <resultMap id="BaseResultMap" type="com.copower.pmcc.assess.dal.basis.entity.MdMarketCompareItem" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="mc_id" property="mcId" jdbcType="INTEGER" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="type" property="type" jdbcType="INTEGER" />
    <result column="plan_details_id" property="planDetailsId" jdbcType="INTEGER" />
    <result column="basic_apply_id" property="basicApplyId" jdbcType="INTEGER" />
    <result column="json_content" property="jsonContent" jdbcType="VARCHAR" />
    <result column="trading_time_explain" property="tradingTimeExplain" jdbcType="VARCHAR" />
    <result column="residue_ratio_id" property="residueRatioId" jdbcType="INTEGER" />
    <result column="used_year" property="usedYear" jdbcType="INTEGER" />
    <result column="usable_year" property="usableYear" jdbcType="INTEGER" />
    <result column="house_id" property="houseId" jdbcType="INTEGER" />
    <result column="area" property="area" jdbcType="DECIMAL" />
    <result column="initial_price" property="initialPrice" jdbcType="DECIMAL" />
    <result column="price_connotation" property="priceConnotation" jdbcType="VARCHAR" />
    <result column="must_adjust_price" property="mustAdjustPrice" jdbcType="BIT" />
    <result column="annual_coefficient" property="annualCoefficient" jdbcType="DECIMAL" />
    <result column="volume_ratio_coefficient" property="volumeRatioCoefficient" jdbcType="DECIMAL" />
    <result column="specific_price" property="specificPrice" jdbcType="VARCHAR" />
    <result column="correction_difference" property="correctionDifference" jdbcType="VARCHAR" />
    <result column="case_difference" property="caseDifference" jdbcType="VARCHAR" />
    <result column="weight" property="weight" jdbcType="VARCHAR" />
    <result column="weight_description" property="weightDescription" jdbcType="VARCHAR" />
    <result column="average_price" property="averagePrice" jdbcType="DECIMAL" />
    <result column="deve_degree" property="deveDegree" jdbcType="DECIMAL" />
    <result column="evaluate_price" property="evaluatePrice" jdbcType="DECIMAL" />
    <result column="location_factor_ratio" property="locationFactorRatio" jdbcType="DECIMAL" />
    <result column="equity_factor_ratio" property="equityFactorRatio" jdbcType="DECIMAL" />
    <result column="entity_factor_ratio" property="entityFactorRatio" jdbcType="DECIMAL" />
    <result column="remark" property="remark" jdbcType="VARCHAR" />
    <result column="creator" property="creator" jdbcType="VARCHAR" />
    <result column="gmt_created" property="gmtCreated" jdbcType="TIMESTAMP" />
    <result column="gmt_modified" property="gmtModified" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, mc_id, name, type, plan_details_id, basic_apply_id, json_content, trading_time_explain, 
    residue_ratio_id, used_year, usable_year, house_id, area, initial_price, price_connotation, 
    must_adjust_price, annual_coefficient, volume_ratio_coefficient, specific_price, 
    correction_difference, case_difference, weight, weight_description, average_price, 
    deve_degree, evaluate_price, location_factor_ratio, equity_factor_ratio, entity_factor_ratio, 
    remark, creator, gmt_created, gmt_modified
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.copower.pmcc.assess.dal.basis.entity.MdMarketCompareItemExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from tb_md_market_compare_item
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from tb_md_market_compare_item
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from tb_md_market_compare_item
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.copower.pmcc.assess.dal.basis.entity.MdMarketCompareItemExample" >
    delete from tb_md_market_compare_item
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.copower.pmcc.assess.dal.basis.entity.MdMarketCompareItem" >
    <selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into tb_md_market_compare_item (mc_id, name, type, 
      plan_details_id, basic_apply_id, json_content, 
      trading_time_explain, residue_ratio_id, used_year, 
      usable_year, house_id, area, 
      initial_price, price_connotation, must_adjust_price, 
      annual_coefficient, volume_ratio_coefficient, 
      specific_price, correction_difference, case_difference, 
      weight, weight_description, average_price, 
      deve_degree, evaluate_price, location_factor_ratio, 
      equity_factor_ratio, entity_factor_ratio, remark, 
      creator, gmt_created, gmt_modified
      )
    values (#{mcId,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{type,jdbcType=INTEGER}, 
      #{planDetailsId,jdbcType=INTEGER}, #{basicApplyId,jdbcType=INTEGER}, #{jsonContent,jdbcType=VARCHAR}, 
      #{tradingTimeExplain,jdbcType=VARCHAR}, #{residueRatioId,jdbcType=INTEGER}, #{usedYear,jdbcType=INTEGER}, 
      #{usableYear,jdbcType=INTEGER}, #{houseId,jdbcType=INTEGER}, #{area,jdbcType=DECIMAL}, 
      #{initialPrice,jdbcType=DECIMAL}, #{priceConnotation,jdbcType=VARCHAR}, #{mustAdjustPrice,jdbcType=BIT}, 
      #{annualCoefficient,jdbcType=DECIMAL}, #{volumeRatioCoefficient,jdbcType=DECIMAL}, 
      #{specificPrice,jdbcType=VARCHAR}, #{correctionDifference,jdbcType=VARCHAR}, #{caseDifference,jdbcType=VARCHAR}, 
      #{weight,jdbcType=VARCHAR}, #{weightDescription,jdbcType=VARCHAR}, #{averagePrice,jdbcType=DECIMAL}, 
      #{deveDegree,jdbcType=DECIMAL}, #{evaluatePrice,jdbcType=DECIMAL}, #{locationFactorRatio,jdbcType=DECIMAL}, 
      #{equityFactorRatio,jdbcType=DECIMAL}, #{entityFactorRatio,jdbcType=DECIMAL}, #{remark,jdbcType=VARCHAR}, 
      #{creator,jdbcType=VARCHAR}, #{gmtCreated,jdbcType=TIMESTAMP}, #{gmtModified,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.copower.pmcc.assess.dal.basis.entity.MdMarketCompareItem" >
    <selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into tb_md_market_compare_item
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="mcId != null" >
        mc_id,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="type != null" >
        type,
      </if>
      <if test="planDetailsId != null" >
        plan_details_id,
      </if>
      <if test="basicApplyId != null" >
        basic_apply_id,
      </if>
      <if test="jsonContent != null" >
        json_content,
      </if>
      <if test="tradingTimeExplain != null" >
        trading_time_explain,
      </if>
      <if test="residueRatioId != null" >
        residue_ratio_id,
      </if>
      <if test="usedYear != null" >
        used_year,
      </if>
      <if test="usableYear != null" >
        usable_year,
      </if>
      <if test="houseId != null" >
        house_id,
      </if>
      <if test="area != null" >
        area,
      </if>
      <if test="initialPrice != null" >
        initial_price,
      </if>
      <if test="priceConnotation != null" >
        price_connotation,
      </if>
      <if test="mustAdjustPrice != null" >
        must_adjust_price,
      </if>
      <if test="annualCoefficient != null" >
        annual_coefficient,
      </if>
      <if test="volumeRatioCoefficient != null" >
        volume_ratio_coefficient,
      </if>
      <if test="specificPrice != null" >
        specific_price,
      </if>
      <if test="correctionDifference != null" >
        correction_difference,
      </if>
      <if test="caseDifference != null" >
        case_difference,
      </if>
      <if test="weight != null" >
        weight,
      </if>
      <if test="weightDescription != null" >
        weight_description,
      </if>
      <if test="averagePrice != null" >
        average_price,
      </if>
      <if test="deveDegree != null" >
        deve_degree,
      </if>
      <if test="evaluatePrice != null" >
        evaluate_price,
      </if>
      <if test="locationFactorRatio != null" >
        location_factor_ratio,
      </if>
      <if test="equityFactorRatio != null" >
        equity_factor_ratio,
      </if>
      <if test="entityFactorRatio != null" >
        entity_factor_ratio,
      </if>
      <if test="remark != null" >
        remark,
      </if>
      <if test="creator != null" >
        creator,
      </if>
      <if test="gmtCreated != null" >
        gmt_created,
      </if>
      <if test="gmtModified != null" >
        gmt_modified,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="mcId != null" >
        #{mcId,jdbcType=INTEGER},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="type != null" >
        #{type,jdbcType=INTEGER},
      </if>
      <if test="planDetailsId != null" >
        #{planDetailsId,jdbcType=INTEGER},
      </if>
      <if test="basicApplyId != null" >
        #{basicApplyId,jdbcType=INTEGER},
      </if>
      <if test="jsonContent != null" >
        #{jsonContent,jdbcType=VARCHAR},
      </if>
      <if test="tradingTimeExplain != null" >
        #{tradingTimeExplain,jdbcType=VARCHAR},
      </if>
      <if test="residueRatioId != null" >
        #{residueRatioId,jdbcType=INTEGER},
      </if>
      <if test="usedYear != null" >
        #{usedYear,jdbcType=INTEGER},
      </if>
      <if test="usableYear != null" >
        #{usableYear,jdbcType=INTEGER},
      </if>
      <if test="houseId != null" >
        #{houseId,jdbcType=INTEGER},
      </if>
      <if test="area != null" >
        #{area,jdbcType=DECIMAL},
      </if>
      <if test="initialPrice != null" >
        #{initialPrice,jdbcType=DECIMAL},
      </if>
      <if test="priceConnotation != null" >
        #{priceConnotation,jdbcType=VARCHAR},
      </if>
      <if test="mustAdjustPrice != null" >
        #{mustAdjustPrice,jdbcType=BIT},
      </if>
      <if test="annualCoefficient != null" >
        #{annualCoefficient,jdbcType=DECIMAL},
      </if>
      <if test="volumeRatioCoefficient != null" >
        #{volumeRatioCoefficient,jdbcType=DECIMAL},
      </if>
      <if test="specificPrice != null" >
        #{specificPrice,jdbcType=VARCHAR},
      </if>
      <if test="correctionDifference != null" >
        #{correctionDifference,jdbcType=VARCHAR},
      </if>
      <if test="caseDifference != null" >
        #{caseDifference,jdbcType=VARCHAR},
      </if>
      <if test="weight != null" >
        #{weight,jdbcType=VARCHAR},
      </if>
      <if test="weightDescription != null" >
        #{weightDescription,jdbcType=VARCHAR},
      </if>
      <if test="averagePrice != null" >
        #{averagePrice,jdbcType=DECIMAL},
      </if>
      <if test="deveDegree != null" >
        #{deveDegree,jdbcType=DECIMAL},
      </if>
      <if test="evaluatePrice != null" >
        #{evaluatePrice,jdbcType=DECIMAL},
      </if>
      <if test="locationFactorRatio != null" >
        #{locationFactorRatio,jdbcType=DECIMAL},
      </if>
      <if test="equityFactorRatio != null" >
        #{equityFactorRatio,jdbcType=DECIMAL},
      </if>
      <if test="entityFactorRatio != null" >
        #{entityFactorRatio,jdbcType=DECIMAL},
      </if>
      <if test="remark != null" >
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="creator != null" >
        #{creator,jdbcType=VARCHAR},
      </if>
      <if test="gmtCreated != null" >
        #{gmtCreated,jdbcType=TIMESTAMP},
      </if>
      <if test="gmtModified != null" >
        #{gmtModified,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.copower.pmcc.assess.dal.basis.entity.MdMarketCompareItemExample" resultType="java.lang.Integer" >
    select count(*) from tb_md_market_compare_item
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update tb_md_market_compare_item
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.mcId != null" >
        mc_id = #{record.mcId,jdbcType=INTEGER},
      </if>
      <if test="record.name != null" >
        name = #{record.name,jdbcType=VARCHAR},
      </if>
      <if test="record.type != null" >
        type = #{record.type,jdbcType=INTEGER},
      </if>
      <if test="record.planDetailsId != null" >
        plan_details_id = #{record.planDetailsId,jdbcType=INTEGER},
      </if>
      <if test="record.basicApplyId != null" >
        basic_apply_id = #{record.basicApplyId,jdbcType=INTEGER},
      </if>
      <if test="record.jsonContent != null" >
        json_content = #{record.jsonContent,jdbcType=VARCHAR},
      </if>
      <if test="record.tradingTimeExplain != null" >
        trading_time_explain = #{record.tradingTimeExplain,jdbcType=VARCHAR},
      </if>
      <if test="record.residueRatioId != null" >
        residue_ratio_id = #{record.residueRatioId,jdbcType=INTEGER},
      </if>
      <if test="record.usedYear != null" >
        used_year = #{record.usedYear,jdbcType=INTEGER},
      </if>
      <if test="record.usableYear != null" >
        usable_year = #{record.usableYear,jdbcType=INTEGER},
      </if>
      <if test="record.houseId != null" >
        house_id = #{record.houseId,jdbcType=INTEGER},
      </if>
      <if test="record.area != null" >
        area = #{record.area,jdbcType=DECIMAL},
      </if>
      <if test="record.initialPrice != null" >
        initial_price = #{record.initialPrice,jdbcType=DECIMAL},
      </if>
      <if test="record.priceConnotation != null" >
        price_connotation = #{record.priceConnotation,jdbcType=VARCHAR},
      </if>
      <if test="record.mustAdjustPrice != null" >
        must_adjust_price = #{record.mustAdjustPrice,jdbcType=BIT},
      </if>
      <if test="record.annualCoefficient != null" >
        annual_coefficient = #{record.annualCoefficient,jdbcType=DECIMAL},
      </if>
      <if test="record.volumeRatioCoefficient != null" >
        volume_ratio_coefficient = #{record.volumeRatioCoefficient,jdbcType=DECIMAL},
      </if>
      <if test="record.specificPrice != null" >
        specific_price = #{record.specificPrice,jdbcType=VARCHAR},
      </if>
      <if test="record.correctionDifference != null" >
        correction_difference = #{record.correctionDifference,jdbcType=VARCHAR},
      </if>
      <if test="record.caseDifference != null" >
        case_difference = #{record.caseDifference,jdbcType=VARCHAR},
      </if>
      <if test="record.weight != null" >
        weight = #{record.weight,jdbcType=VARCHAR},
      </if>
      <if test="record.weightDescription != null" >
        weight_description = #{record.weightDescription,jdbcType=VARCHAR},
      </if>
      <if test="record.averagePrice != null" >
        average_price = #{record.averagePrice,jdbcType=DECIMAL},
      </if>
      <if test="record.deveDegree != null" >
        deve_degree = #{record.deveDegree,jdbcType=DECIMAL},
      </if>
      <if test="record.evaluatePrice != null" >
        evaluate_price = #{record.evaluatePrice,jdbcType=DECIMAL},
      </if>
      <if test="record.locationFactorRatio != null" >
        location_factor_ratio = #{record.locationFactorRatio,jdbcType=DECIMAL},
      </if>
      <if test="record.equityFactorRatio != null" >
        equity_factor_ratio = #{record.equityFactorRatio,jdbcType=DECIMAL},
      </if>
      <if test="record.entityFactorRatio != null" >
        entity_factor_ratio = #{record.entityFactorRatio,jdbcType=DECIMAL},
      </if>
      <if test="record.remark != null" >
        remark = #{record.remark,jdbcType=VARCHAR},
      </if>
      <if test="record.creator != null" >
        creator = #{record.creator,jdbcType=VARCHAR},
      </if>
      <if test="record.gmtCreated != null" >
        gmt_created = #{record.gmtCreated,jdbcType=TIMESTAMP},
      </if>
      <if test="record.gmtModified != null" >
        gmt_modified = #{record.gmtModified,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update tb_md_market_compare_item
    set id = #{record.id,jdbcType=INTEGER},
      mc_id = #{record.mcId,jdbcType=INTEGER},
      name = #{record.name,jdbcType=VARCHAR},
      type = #{record.type,jdbcType=INTEGER},
      plan_details_id = #{record.planDetailsId,jdbcType=INTEGER},
      basic_apply_id = #{record.basicApplyId,jdbcType=INTEGER},
      json_content = #{record.jsonContent,jdbcType=VARCHAR},
      trading_time_explain = #{record.tradingTimeExplain,jdbcType=VARCHAR},
      residue_ratio_id = #{record.residueRatioId,jdbcType=INTEGER},
      used_year = #{record.usedYear,jdbcType=INTEGER},
      usable_year = #{record.usableYear,jdbcType=INTEGER},
      house_id = #{record.houseId,jdbcType=INTEGER},
      area = #{record.area,jdbcType=DECIMAL},
      initial_price = #{record.initialPrice,jdbcType=DECIMAL},
      price_connotation = #{record.priceConnotation,jdbcType=VARCHAR},
      must_adjust_price = #{record.mustAdjustPrice,jdbcType=BIT},
      annual_coefficient = #{record.annualCoefficient,jdbcType=DECIMAL},
      volume_ratio_coefficient = #{record.volumeRatioCoefficient,jdbcType=DECIMAL},
      specific_price = #{record.specificPrice,jdbcType=VARCHAR},
      correction_difference = #{record.correctionDifference,jdbcType=VARCHAR},
      case_difference = #{record.caseDifference,jdbcType=VARCHAR},
      weight = #{record.weight,jdbcType=VARCHAR},
      weight_description = #{record.weightDescription,jdbcType=VARCHAR},
      average_price = #{record.averagePrice,jdbcType=DECIMAL},
      deve_degree = #{record.deveDegree,jdbcType=DECIMAL},
      evaluate_price = #{record.evaluatePrice,jdbcType=DECIMAL},
      location_factor_ratio = #{record.locationFactorRatio,jdbcType=DECIMAL},
      equity_factor_ratio = #{record.equityFactorRatio,jdbcType=DECIMAL},
      entity_factor_ratio = #{record.entityFactorRatio,jdbcType=DECIMAL},
      remark = #{record.remark,jdbcType=VARCHAR},
      creator = #{record.creator,jdbcType=VARCHAR},
      gmt_created = #{record.gmtCreated,jdbcType=TIMESTAMP},
      gmt_modified = #{record.gmtModified,jdbcType=TIMESTAMP}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.copower.pmcc.assess.dal.basis.entity.MdMarketCompareItem" >
    update tb_md_market_compare_item
    <set >
      <if test="mcId != null" >
        mc_id = #{mcId,jdbcType=INTEGER},
      </if>
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="type != null" >
        type = #{type,jdbcType=INTEGER},
      </if>
      <if test="planDetailsId != null" >
        plan_details_id = #{planDetailsId,jdbcType=INTEGER},
      </if>
      <if test="basicApplyId != null" >
        basic_apply_id = #{basicApplyId,jdbcType=INTEGER},
      </if>
      <if test="jsonContent != null" >
        json_content = #{jsonContent,jdbcType=VARCHAR},
      </if>
      <if test="tradingTimeExplain != null" >
        trading_time_explain = #{tradingTimeExplain,jdbcType=VARCHAR},
      </if>
      <if test="residueRatioId != null" >
        residue_ratio_id = #{residueRatioId,jdbcType=INTEGER},
      </if>
      <if test="usedYear != null" >
        used_year = #{usedYear,jdbcType=INTEGER},
      </if>
      <if test="usableYear != null" >
        usable_year = #{usableYear,jdbcType=INTEGER},
      </if>
      <if test="houseId != null" >
        house_id = #{houseId,jdbcType=INTEGER},
      </if>
      <if test="area != null" >
        area = #{area,jdbcType=DECIMAL},
      </if>
      <if test="initialPrice != null" >
        initial_price = #{initialPrice,jdbcType=DECIMAL},
      </if>
      <if test="priceConnotation != null" >
        price_connotation = #{priceConnotation,jdbcType=VARCHAR},
      </if>
      <if test="mustAdjustPrice != null" >
        must_adjust_price = #{mustAdjustPrice,jdbcType=BIT},
      </if>
      <if test="annualCoefficient != null" >
        annual_coefficient = #{annualCoefficient,jdbcType=DECIMAL},
      </if>
      <if test="volumeRatioCoefficient != null" >
        volume_ratio_coefficient = #{volumeRatioCoefficient,jdbcType=DECIMAL},
      </if>
      <if test="specificPrice != null" >
        specific_price = #{specificPrice,jdbcType=VARCHAR},
      </if>
      <if test="correctionDifference != null" >
        correction_difference = #{correctionDifference,jdbcType=VARCHAR},
      </if>
      <if test="caseDifference != null" >
        case_difference = #{caseDifference,jdbcType=VARCHAR},
      </if>
      <if test="weight != null" >
        weight = #{weight,jdbcType=VARCHAR},
      </if>
      <if test="weightDescription != null" >
        weight_description = #{weightDescription,jdbcType=VARCHAR},
      </if>
      <if test="averagePrice != null" >
        average_price = #{averagePrice,jdbcType=DECIMAL},
      </if>
      <if test="deveDegree != null" >
        deve_degree = #{deveDegree,jdbcType=DECIMAL},
      </if>
      <if test="evaluatePrice != null" >
        evaluate_price = #{evaluatePrice,jdbcType=DECIMAL},
      </if>
      <if test="locationFactorRatio != null" >
        location_factor_ratio = #{locationFactorRatio,jdbcType=DECIMAL},
      </if>
      <if test="equityFactorRatio != null" >
        equity_factor_ratio = #{equityFactorRatio,jdbcType=DECIMAL},
      </if>
      <if test="entityFactorRatio != null" >
        entity_factor_ratio = #{entityFactorRatio,jdbcType=DECIMAL},
      </if>
      <if test="remark != null" >
        remark = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="creator != null" >
        creator = #{creator,jdbcType=VARCHAR},
      </if>
      <if test="gmtCreated != null" >
        gmt_created = #{gmtCreated,jdbcType=TIMESTAMP},
      </if>
      <if test="gmtModified != null" >
        gmt_modified = #{gmtModified,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.copower.pmcc.assess.dal.basis.entity.MdMarketCompareItem" >
    update tb_md_market_compare_item
    set mc_id = #{mcId,jdbcType=INTEGER},
      name = #{name,jdbcType=VARCHAR},
      type = #{type,jdbcType=INTEGER},
      plan_details_id = #{planDetailsId,jdbcType=INTEGER},
      basic_apply_id = #{basicApplyId,jdbcType=INTEGER},
      json_content = #{jsonContent,jdbcType=VARCHAR},
      trading_time_explain = #{tradingTimeExplain,jdbcType=VARCHAR},
      residue_ratio_id = #{residueRatioId,jdbcType=INTEGER},
      used_year = #{usedYear,jdbcType=INTEGER},
      usable_year = #{usableYear,jdbcType=INTEGER},
      house_id = #{houseId,jdbcType=INTEGER},
      area = #{area,jdbcType=DECIMAL},
      initial_price = #{initialPrice,jdbcType=DECIMAL},
      price_connotation = #{priceConnotation,jdbcType=VARCHAR},
      must_adjust_price = #{mustAdjustPrice,jdbcType=BIT},
      annual_coefficient = #{annualCoefficient,jdbcType=DECIMAL},
      volume_ratio_coefficient = #{volumeRatioCoefficient,jdbcType=DECIMAL},
      specific_price = #{specificPrice,jdbcType=VARCHAR},
      correction_difference = #{correctionDifference,jdbcType=VARCHAR},
      case_difference = #{caseDifference,jdbcType=VARCHAR},
      weight = #{weight,jdbcType=VARCHAR},
      weight_description = #{weightDescription,jdbcType=VARCHAR},
      average_price = #{averagePrice,jdbcType=DECIMAL},
      deve_degree = #{deveDegree,jdbcType=DECIMAL},
      evaluate_price = #{evaluatePrice,jdbcType=DECIMAL},
      location_factor_ratio = #{locationFactorRatio,jdbcType=DECIMAL},
      equity_factor_ratio = #{equityFactorRatio,jdbcType=DECIMAL},
      entity_factor_ratio = #{entityFactorRatio,jdbcType=DECIMAL},
      remark = #{remark,jdbcType=VARCHAR},
      creator = #{creator,jdbcType=VARCHAR},
      gmt_created = #{gmtCreated,jdbcType=TIMESTAMP},
      gmt_modified = #{gmtModified,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>