<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.copower.pmcc.assess.dal.basis.mapper.ProjectPhaseMapper">
  <resultMap id="BaseResultMap" type="com.copower.pmcc.assess.dal.basis.entity.ProjectPhase">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="pid" jdbcType="INTEGER" property="pid" />
    <result column="project_class_id" jdbcType="INTEGER" property="projectClassId" />
    <result column="project_type_id" jdbcType="INTEGER" property="projectTypeId" />
    <result column="project_category_id" jdbcType="INTEGER" property="projectCategoryId" />
    <result column="work_stage_id" jdbcType="INTEGER" property="workStageId" />
    <result column="assets_setting_id" jdbcType="INTEGER" property="assetsSettingId" />
    <result column="project_phase_name" jdbcType="VARCHAR" property="projectPhaseName" />
    <result column="phase_time" jdbcType="DECIMAL" property="phaseTime" />
    <result column="phase_form" jdbcType="VARCHAR" property="phaseForm" />
    <result column="box_name" jdbcType="VARCHAR" property="boxName" />
    <result column="phase_key" jdbcType="VARCHAR" property="phaseKey" />
    <result column="phase_sort" jdbcType="INTEGER" property="phaseSort" />
    <result column="service_bean" jdbcType="VARCHAR" property="serviceBean" />
    <result column="manager_review_score" jdbcType="DECIMAL" property="managerReviewScore" />
    <result column="manager_review_standard" jdbcType="VARCHAR" property="managerReviewStandard" />
    <result column="ce_review_score" jdbcType="DECIMAL" property="ceReviewScore" />
    <result column="ce_review_standard" jdbcType="VARCHAR" property="ceReviewStandard" />
    <result column="bis_wait" jdbcType="BIT" property="bisWait" />
    <result column="bis_enable" jdbcType="BIT" property="bisEnable" />
    <result column="bis_use_box" jdbcType="BIT" property="bisUseBox" />
    <result column="bis_can_return" jdbcType="BIT" property="bisCanReturn" />
    <result column="gmt_created" jdbcType="TIMESTAMP" property="gmtCreated" />
    <result column="gmt_modified" jdbcType="TIMESTAMP" property="gmtModified" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, pid, project_class_id, project_type_id, project_category_id, work_stage_id, assets_setting_id, 
    project_phase_name, phase_time, phase_form, box_name, phase_key, phase_sort, service_bean, 
    manager_review_score, manager_review_standard, ce_review_score, ce_review_standard, 
    bis_wait, bis_enable, bis_use_box, bis_can_return, gmt_created, gmt_modified
  </sql>
  <select id="selectByExample" parameterType="com.copower.pmcc.assess.dal.basis.entity.ProjectPhaseExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from tb_project_phase
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from tb_project_phase
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from tb_project_phase
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.copower.pmcc.assess.dal.basis.entity.ProjectPhaseExample">
    delete from tb_project_phase
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.copower.pmcc.assess.dal.basis.entity.ProjectPhase">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into tb_project_phase (pid, project_class_id, project_type_id, 
      project_category_id, work_stage_id, assets_setting_id, 
      project_phase_name, phase_time, phase_form, 
      box_name, phase_key, phase_sort, 
      service_bean, manager_review_score, manager_review_standard, 
      ce_review_score, ce_review_standard, bis_wait, 
      bis_enable, bis_use_box, bis_can_return, 
      gmt_created, gmt_modified)
    values (#{pid,jdbcType=INTEGER}, #{projectClassId,jdbcType=INTEGER}, #{projectTypeId,jdbcType=INTEGER}, 
      #{projectCategoryId,jdbcType=INTEGER}, #{workStageId,jdbcType=INTEGER}, #{assetsSettingId,jdbcType=INTEGER}, 
      #{projectPhaseName,jdbcType=VARCHAR}, #{phaseTime,jdbcType=DECIMAL}, #{phaseForm,jdbcType=VARCHAR}, 
      #{boxName,jdbcType=VARCHAR}, #{phaseKey,jdbcType=VARCHAR}, #{phaseSort,jdbcType=INTEGER}, 
      #{serviceBean,jdbcType=VARCHAR}, #{managerReviewScore,jdbcType=DECIMAL}, #{managerReviewStandard,jdbcType=VARCHAR}, 
      #{ceReviewScore,jdbcType=DECIMAL}, #{ceReviewStandard,jdbcType=VARCHAR}, #{bisWait,jdbcType=BIT}, 
      #{bisEnable,jdbcType=BIT}, #{bisUseBox,jdbcType=BIT}, #{bisCanReturn,jdbcType=BIT}, 
      #{gmtCreated,jdbcType=TIMESTAMP}, #{gmtModified,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.copower.pmcc.assess.dal.basis.entity.ProjectPhase">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into tb_project_phase
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="pid != null">
        pid,
      </if>
      <if test="projectClassId != null">
        project_class_id,
      </if>
      <if test="projectTypeId != null">
        project_type_id,
      </if>
      <if test="projectCategoryId != null">
        project_category_id,
      </if>
      <if test="workStageId != null">
        work_stage_id,
      </if>
      <if test="assetsSettingId != null">
        assets_setting_id,
      </if>
      <if test="projectPhaseName != null">
        project_phase_name,
      </if>
      <if test="phaseTime != null">
        phase_time,
      </if>
      <if test="phaseForm != null">
        phase_form,
      </if>
      <if test="boxName != null">
        box_name,
      </if>
      <if test="phaseKey != null">
        phase_key,
      </if>
      <if test="phaseSort != null">
        phase_sort,
      </if>
      <if test="serviceBean != null">
        service_bean,
      </if>
      <if test="managerReviewScore != null">
        manager_review_score,
      </if>
      <if test="managerReviewStandard != null">
        manager_review_standard,
      </if>
      <if test="ceReviewScore != null">
        ce_review_score,
      </if>
      <if test="ceReviewStandard != null">
        ce_review_standard,
      </if>
      <if test="bisWait != null">
        bis_wait,
      </if>
      <if test="bisEnable != null">
        bis_enable,
      </if>
      <if test="bisUseBox != null">
        bis_use_box,
      </if>
      <if test="bisCanReturn != null">
        bis_can_return,
      </if>
      <if test="gmtCreated != null">
        gmt_created,
      </if>
      <if test="gmtModified != null">
        gmt_modified,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="pid != null">
        #{pid,jdbcType=INTEGER},
      </if>
      <if test="projectClassId != null">
        #{projectClassId,jdbcType=INTEGER},
      </if>
      <if test="projectTypeId != null">
        #{projectTypeId,jdbcType=INTEGER},
      </if>
      <if test="projectCategoryId != null">
        #{projectCategoryId,jdbcType=INTEGER},
      </if>
      <if test="workStageId != null">
        #{workStageId,jdbcType=INTEGER},
      </if>
      <if test="assetsSettingId != null">
        #{assetsSettingId,jdbcType=INTEGER},
      </if>
      <if test="projectPhaseName != null">
        #{projectPhaseName,jdbcType=VARCHAR},
      </if>
      <if test="phaseTime != null">
        #{phaseTime,jdbcType=DECIMAL},
      </if>
      <if test="phaseForm != null">
        #{phaseForm,jdbcType=VARCHAR},
      </if>
      <if test="boxName != null">
        #{boxName,jdbcType=VARCHAR},
      </if>
      <if test="phaseKey != null">
        #{phaseKey,jdbcType=VARCHAR},
      </if>
      <if test="phaseSort != null">
        #{phaseSort,jdbcType=INTEGER},
      </if>
      <if test="serviceBean != null">
        #{serviceBean,jdbcType=VARCHAR},
      </if>
      <if test="managerReviewScore != null">
        #{managerReviewScore,jdbcType=DECIMAL},
      </if>
      <if test="managerReviewStandard != null">
        #{managerReviewStandard,jdbcType=VARCHAR},
      </if>
      <if test="ceReviewScore != null">
        #{ceReviewScore,jdbcType=DECIMAL},
      </if>
      <if test="ceReviewStandard != null">
        #{ceReviewStandard,jdbcType=VARCHAR},
      </if>
      <if test="bisWait != null">
        #{bisWait,jdbcType=BIT},
      </if>
      <if test="bisEnable != null">
        #{bisEnable,jdbcType=BIT},
      </if>
      <if test="bisUseBox != null">
        #{bisUseBox,jdbcType=BIT},
      </if>
      <if test="bisCanReturn != null">
        #{bisCanReturn,jdbcType=BIT},
      </if>
      <if test="gmtCreated != null">
        #{gmtCreated,jdbcType=TIMESTAMP},
      </if>
      <if test="gmtModified != null">
        #{gmtModified,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.copower.pmcc.assess.dal.basis.entity.ProjectPhaseExample" resultType="java.lang.Long">
    select count(*) from tb_project_phase
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update tb_project_phase
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.pid != null">
        pid = #{record.pid,jdbcType=INTEGER},
      </if>
      <if test="record.projectClassId != null">
        project_class_id = #{record.projectClassId,jdbcType=INTEGER},
      </if>
      <if test="record.projectTypeId != null">
        project_type_id = #{record.projectTypeId,jdbcType=INTEGER},
      </if>
      <if test="record.projectCategoryId != null">
        project_category_id = #{record.projectCategoryId,jdbcType=INTEGER},
      </if>
      <if test="record.workStageId != null">
        work_stage_id = #{record.workStageId,jdbcType=INTEGER},
      </if>
      <if test="record.assetsSettingId != null">
        assets_setting_id = #{record.assetsSettingId,jdbcType=INTEGER},
      </if>
      <if test="record.projectPhaseName != null">
        project_phase_name = #{record.projectPhaseName,jdbcType=VARCHAR},
      </if>
      <if test="record.phaseTime != null">
        phase_time = #{record.phaseTime,jdbcType=DECIMAL},
      </if>
      <if test="record.phaseForm != null">
        phase_form = #{record.phaseForm,jdbcType=VARCHAR},
      </if>
      <if test="record.boxName != null">
        box_name = #{record.boxName,jdbcType=VARCHAR},
      </if>
      <if test="record.phaseKey != null">
        phase_key = #{record.phaseKey,jdbcType=VARCHAR},
      </if>
      <if test="record.phaseSort != null">
        phase_sort = #{record.phaseSort,jdbcType=INTEGER},
      </if>
      <if test="record.serviceBean != null">
        service_bean = #{record.serviceBean,jdbcType=VARCHAR},
      </if>
      <if test="record.managerReviewScore != null">
        manager_review_score = #{record.managerReviewScore,jdbcType=DECIMAL},
      </if>
      <if test="record.managerReviewStandard != null">
        manager_review_standard = #{record.managerReviewStandard,jdbcType=VARCHAR},
      </if>
      <if test="record.ceReviewScore != null">
        ce_review_score = #{record.ceReviewScore,jdbcType=DECIMAL},
      </if>
      <if test="record.ceReviewStandard != null">
        ce_review_standard = #{record.ceReviewStandard,jdbcType=VARCHAR},
      </if>
      <if test="record.bisWait != null">
        bis_wait = #{record.bisWait,jdbcType=BIT},
      </if>
      <if test="record.bisEnable != null">
        bis_enable = #{record.bisEnable,jdbcType=BIT},
      </if>
      <if test="record.bisUseBox != null">
        bis_use_box = #{record.bisUseBox,jdbcType=BIT},
      </if>
      <if test="record.bisCanReturn != null">
        bis_can_return = #{record.bisCanReturn,jdbcType=BIT},
      </if>
      <if test="record.gmtCreated != null">
        gmt_created = #{record.gmtCreated,jdbcType=TIMESTAMP},
      </if>
      <if test="record.gmtModified != null">
        gmt_modified = #{record.gmtModified,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update tb_project_phase
    set id = #{record.id,jdbcType=INTEGER},
      pid = #{record.pid,jdbcType=INTEGER},
      project_class_id = #{record.projectClassId,jdbcType=INTEGER},
      project_type_id = #{record.projectTypeId,jdbcType=INTEGER},
      project_category_id = #{record.projectCategoryId,jdbcType=INTEGER},
      work_stage_id = #{record.workStageId,jdbcType=INTEGER},
      assets_setting_id = #{record.assetsSettingId,jdbcType=INTEGER},
      project_phase_name = #{record.projectPhaseName,jdbcType=VARCHAR},
      phase_time = #{record.phaseTime,jdbcType=DECIMAL},
      phase_form = #{record.phaseForm,jdbcType=VARCHAR},
      box_name = #{record.boxName,jdbcType=VARCHAR},
      phase_key = #{record.phaseKey,jdbcType=VARCHAR},
      phase_sort = #{record.phaseSort,jdbcType=INTEGER},
      service_bean = #{record.serviceBean,jdbcType=VARCHAR},
      manager_review_score = #{record.managerReviewScore,jdbcType=DECIMAL},
      manager_review_standard = #{record.managerReviewStandard,jdbcType=VARCHAR},
      ce_review_score = #{record.ceReviewScore,jdbcType=DECIMAL},
      ce_review_standard = #{record.ceReviewStandard,jdbcType=VARCHAR},
      bis_wait = #{record.bisWait,jdbcType=BIT},
      bis_enable = #{record.bisEnable,jdbcType=BIT},
      bis_use_box = #{record.bisUseBox,jdbcType=BIT},
      bis_can_return = #{record.bisCanReturn,jdbcType=BIT},
      gmt_created = #{record.gmtCreated,jdbcType=TIMESTAMP},
      gmt_modified = #{record.gmtModified,jdbcType=TIMESTAMP}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.copower.pmcc.assess.dal.basis.entity.ProjectPhase">
    update tb_project_phase
    <set>
      <if test="pid != null">
        pid = #{pid,jdbcType=INTEGER},
      </if>
      <if test="projectClassId != null">
        project_class_id = #{projectClassId,jdbcType=INTEGER},
      </if>
      <if test="projectTypeId != null">
        project_type_id = #{projectTypeId,jdbcType=INTEGER},
      </if>
      <if test="projectCategoryId != null">
        project_category_id = #{projectCategoryId,jdbcType=INTEGER},
      </if>
      <if test="workStageId != null">
        work_stage_id = #{workStageId,jdbcType=INTEGER},
      </if>
      <if test="assetsSettingId != null">
        assets_setting_id = #{assetsSettingId,jdbcType=INTEGER},
      </if>
      <if test="projectPhaseName != null">
        project_phase_name = #{projectPhaseName,jdbcType=VARCHAR},
      </if>
      <if test="phaseTime != null">
        phase_time = #{phaseTime,jdbcType=DECIMAL},
      </if>
      <if test="phaseForm != null">
        phase_form = #{phaseForm,jdbcType=VARCHAR},
      </if>
      <if test="boxName != null">
        box_name = #{boxName,jdbcType=VARCHAR},
      </if>
      <if test="phaseKey != null">
        phase_key = #{phaseKey,jdbcType=VARCHAR},
      </if>
      <if test="phaseSort != null">
        phase_sort = #{phaseSort,jdbcType=INTEGER},
      </if>
      <if test="serviceBean != null">
        service_bean = #{serviceBean,jdbcType=VARCHAR},
      </if>
      <if test="managerReviewScore != null">
        manager_review_score = #{managerReviewScore,jdbcType=DECIMAL},
      </if>
      <if test="managerReviewStandard != null">
        manager_review_standard = #{managerReviewStandard,jdbcType=VARCHAR},
      </if>
      <if test="ceReviewScore != null">
        ce_review_score = #{ceReviewScore,jdbcType=DECIMAL},
      </if>
      <if test="ceReviewStandard != null">
        ce_review_standard = #{ceReviewStandard,jdbcType=VARCHAR},
      </if>
      <if test="bisWait != null">
        bis_wait = #{bisWait,jdbcType=BIT},
      </if>
      <if test="bisEnable != null">
        bis_enable = #{bisEnable,jdbcType=BIT},
      </if>
      <if test="bisUseBox != null">
        bis_use_box = #{bisUseBox,jdbcType=BIT},
      </if>
      <if test="bisCanReturn != null">
        bis_can_return = #{bisCanReturn,jdbcType=BIT},
      </if>
      <if test="gmtCreated != null">
        gmt_created = #{gmtCreated,jdbcType=TIMESTAMP},
      </if>
      <if test="gmtModified != null">
        gmt_modified = #{gmtModified,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.copower.pmcc.assess.dal.basis.entity.ProjectPhase">
    update tb_project_phase
    set pid = #{pid,jdbcType=INTEGER},
      project_class_id = #{projectClassId,jdbcType=INTEGER},
      project_type_id = #{projectTypeId,jdbcType=INTEGER},
      project_category_id = #{projectCategoryId,jdbcType=INTEGER},
      work_stage_id = #{workStageId,jdbcType=INTEGER},
      assets_setting_id = #{assetsSettingId,jdbcType=INTEGER},
      project_phase_name = #{projectPhaseName,jdbcType=VARCHAR},
      phase_time = #{phaseTime,jdbcType=DECIMAL},
      phase_form = #{phaseForm,jdbcType=VARCHAR},
      box_name = #{boxName,jdbcType=VARCHAR},
      phase_key = #{phaseKey,jdbcType=VARCHAR},
      phase_sort = #{phaseSort,jdbcType=INTEGER},
      service_bean = #{serviceBean,jdbcType=VARCHAR},
      manager_review_score = #{managerReviewScore,jdbcType=DECIMAL},
      manager_review_standard = #{managerReviewStandard,jdbcType=VARCHAR},
      ce_review_score = #{ceReviewScore,jdbcType=DECIMAL},
      ce_review_standard = #{ceReviewStandard,jdbcType=VARCHAR},
      bis_wait = #{bisWait,jdbcType=BIT},
      bis_enable = #{bisEnable,jdbcType=BIT},
      bis_use_box = #{bisUseBox,jdbcType=BIT},
      bis_can_return = #{bisCanReturn,jdbcType=BIT},
      gmt_created = #{gmtCreated,jdbcType=TIMESTAMP},
      gmt_modified = #{gmtModified,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>