<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.copower.pmcc.assess.dal.basis.mapper.ProjectPlanDetailsMapper" >
  <resultMap id="BaseResultMap" type="com.copower.pmcc.assess.dal.basis.entity.ProjectPlanDetails" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="pid" property="pid" jdbcType="INTEGER" />
    <result column="project_phase_name" property="projectPhaseName" jdbcType="VARCHAR" />
    <result column="project_id" property="projectId" jdbcType="INTEGER" />
    <result column="plan_id" property="planId" jdbcType="INTEGER" />
    <result column="project_work_stage_id" property="projectWorkStageId" jdbcType="INTEGER" />
    <result column="project_phase_id" property="projectPhaseId" jdbcType="INTEGER" />
    <result column="project_phase_details_id" property="projectPhaseDetailsId" jdbcType="INTEGER" />
    <result column="plan_start_date" property="planStartDate" jdbcType="TIMESTAMP" />
    <result column="plan_end_date" property="planEndDate" jdbcType="TIMESTAMP" />
    <result column="plan_hours" property="planHours" jdbcType="DECIMAL" />
    <result column="plan_remarks" property="planRemarks" jdbcType="VARCHAR" />
    <result column="execute_user_account" property="executeUserAccount" jdbcType="VARCHAR" />
    <result column="execute_department_id" property="executeDepartmentId" jdbcType="INTEGER" />
    <result column="bis_enable" property="bisEnable" jdbcType="BIT" />
    <result column="proportion" property="proportion" jdbcType="DECIMAL" />
    <result column="sorting" property="sorting" jdbcType="INTEGER" />
    <result column="first_pid" property="firstPid" jdbcType="INTEGER" />
    <result column="bis_start" property="bisStart" jdbcType="BIT" />
    <result column="process_ins_id" property="processInsId" jdbcType="VARCHAR" />
    <result column="task_submit_time" property="taskSubmitTime" jdbcType="TIMESTAMP" />
    <result column="task_remarks" property="taskRemarks" jdbcType="VARCHAR" />
    <result column="actual_hours" property="actualHours" jdbcType="DECIMAL" />
    <result column="status" property="status" jdbcType="VARCHAR" />
    <result column="return_details_id" property="returnDetailsId" jdbcType="INTEGER" />
    <result column="return_process_ins_id" property="returnProcessInsId" jdbcType="VARCHAR" />
    <result column="return_details_reason" property="returnDetailsReason" jdbcType="VARCHAR" />
    <result column="bis_new" property="bisNew" jdbcType="BIT" />
    <result column="bis_last_layer" property="bisLastLayer" jdbcType="BIT" />
    <result column="declare_record_id" property="declareRecordId" jdbcType="INTEGER" />
    <result column="area_group_id" property="areaGroupId" jdbcType="INTEGER" />
    <result column="group_number" property="groupNumber" jdbcType="INTEGER" />
    <result column="creator" property="creator" jdbcType="VARCHAR" />
    <result column="gmt_created" property="gmtCreated" jdbcType="TIMESTAMP" />
    <result column="gmt_modified" property="gmtModified" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, pid, project_phase_name, project_id, plan_id, project_work_stage_id, project_phase_id, 
    project_phase_details_id, plan_start_date, plan_end_date, plan_hours, plan_remarks, 
    execute_user_account, execute_department_id, bis_enable, proportion, sorting, first_pid, 
    bis_start, process_ins_id, task_submit_time, task_remarks, actual_hours, status, 
    return_details_id, return_process_ins_id, return_details_reason, bis_new, bis_last_layer, 
    declare_record_id, area_group_id, group_number, creator, gmt_created, gmt_modified
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.copower.pmcc.assess.dal.basis.entity.ProjectPlanDetailsExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from tb_project_plan_details
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from tb_project_plan_details
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from tb_project_plan_details
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.copower.pmcc.assess.dal.basis.entity.ProjectPlanDetailsExample" >
    delete from tb_project_plan_details
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.copower.pmcc.assess.dal.basis.entity.ProjectPlanDetails" >
    <selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into tb_project_plan_details (pid, project_phase_name, project_id, 
      plan_id, project_work_stage_id, project_phase_id, 
      project_phase_details_id, plan_start_date, 
      plan_end_date, plan_hours, plan_remarks, 
      execute_user_account, execute_department_id, 
      bis_enable, proportion, sorting, 
      first_pid, bis_start, process_ins_id, 
      task_submit_time, task_remarks, actual_hours, 
      status, return_details_id, return_process_ins_id, 
      return_details_reason, bis_new, bis_last_layer, 
      declare_record_id, area_group_id, group_number, 
      creator, gmt_created, gmt_modified
      )
    values (#{pid,jdbcType=INTEGER}, #{projectPhaseName,jdbcType=VARCHAR}, #{projectId,jdbcType=INTEGER}, 
      #{planId,jdbcType=INTEGER}, #{projectWorkStageId,jdbcType=INTEGER}, #{projectPhaseId,jdbcType=INTEGER}, 
      #{projectPhaseDetailsId,jdbcType=INTEGER}, #{planStartDate,jdbcType=TIMESTAMP}, 
      #{planEndDate,jdbcType=TIMESTAMP}, #{planHours,jdbcType=DECIMAL}, #{planRemarks,jdbcType=VARCHAR}, 
      #{executeUserAccount,jdbcType=VARCHAR}, #{executeDepartmentId,jdbcType=INTEGER}, 
      #{bisEnable,jdbcType=BIT}, #{proportion,jdbcType=DECIMAL}, #{sorting,jdbcType=INTEGER}, 
      #{firstPid,jdbcType=INTEGER}, #{bisStart,jdbcType=BIT}, #{processInsId,jdbcType=VARCHAR}, 
      #{taskSubmitTime,jdbcType=TIMESTAMP}, #{taskRemarks,jdbcType=VARCHAR}, #{actualHours,jdbcType=DECIMAL}, 
      #{status,jdbcType=VARCHAR}, #{returnDetailsId,jdbcType=INTEGER}, #{returnProcessInsId,jdbcType=VARCHAR}, 
      #{returnDetailsReason,jdbcType=VARCHAR}, #{bisNew,jdbcType=BIT}, #{bisLastLayer,jdbcType=BIT}, 
      #{declareRecordId,jdbcType=INTEGER}, #{areaGroupId,jdbcType=INTEGER}, #{groupNumber,jdbcType=INTEGER}, 
      #{creator,jdbcType=VARCHAR}, #{gmtCreated,jdbcType=TIMESTAMP}, #{gmtModified,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.copower.pmcc.assess.dal.basis.entity.ProjectPlanDetails" >
    <selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into tb_project_plan_details
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="pid != null" >
        pid,
      </if>
      <if test="projectPhaseName != null" >
        project_phase_name,
      </if>
      <if test="projectId != null" >
        project_id,
      </if>
      <if test="planId != null" >
        plan_id,
      </if>
      <if test="projectWorkStageId != null" >
        project_work_stage_id,
      </if>
      <if test="projectPhaseId != null" >
        project_phase_id,
      </if>
      <if test="projectPhaseDetailsId != null" >
        project_phase_details_id,
      </if>
      <if test="planStartDate != null" >
        plan_start_date,
      </if>
      <if test="planEndDate != null" >
        plan_end_date,
      </if>
      <if test="planHours != null" >
        plan_hours,
      </if>
      <if test="planRemarks != null" >
        plan_remarks,
      </if>
      <if test="executeUserAccount != null" >
        execute_user_account,
      </if>
      <if test="executeDepartmentId != null" >
        execute_department_id,
      </if>
      <if test="bisEnable != null" >
        bis_enable,
      </if>
      <if test="proportion != null" >
        proportion,
      </if>
      <if test="sorting != null" >
        sorting,
      </if>
      <if test="firstPid != null" >
        first_pid,
      </if>
      <if test="bisStart != null" >
        bis_start,
      </if>
      <if test="processInsId != null" >
        process_ins_id,
      </if>
      <if test="taskSubmitTime != null" >
        task_submit_time,
      </if>
      <if test="taskRemarks != null" >
        task_remarks,
      </if>
      <if test="actualHours != null" >
        actual_hours,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="returnDetailsId != null" >
        return_details_id,
      </if>
      <if test="returnProcessInsId != null" >
        return_process_ins_id,
      </if>
      <if test="returnDetailsReason != null" >
        return_details_reason,
      </if>
      <if test="bisNew != null" >
        bis_new,
      </if>
      <if test="bisLastLayer != null" >
        bis_last_layer,
      </if>
      <if test="declareRecordId != null" >
        declare_record_id,
      </if>
      <if test="areaGroupId != null" >
        area_group_id,
      </if>
      <if test="groupNumber != null" >
        group_number,
      </if>
      <if test="creator != null" >
        creator,
      </if>
      <if test="gmtCreated != null" >
        gmt_created,
      </if>
      <if test="gmtModified != null" >
        gmt_modified,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="pid != null" >
        #{pid,jdbcType=INTEGER},
      </if>
      <if test="projectPhaseName != null" >
        #{projectPhaseName,jdbcType=VARCHAR},
      </if>
      <if test="projectId != null" >
        #{projectId,jdbcType=INTEGER},
      </if>
      <if test="planId != null" >
        #{planId,jdbcType=INTEGER},
      </if>
      <if test="projectWorkStageId != null" >
        #{projectWorkStageId,jdbcType=INTEGER},
      </if>
      <if test="projectPhaseId != null" >
        #{projectPhaseId,jdbcType=INTEGER},
      </if>
      <if test="projectPhaseDetailsId != null" >
        #{projectPhaseDetailsId,jdbcType=INTEGER},
      </if>
      <if test="planStartDate != null" >
        #{planStartDate,jdbcType=TIMESTAMP},
      </if>
      <if test="planEndDate != null" >
        #{planEndDate,jdbcType=TIMESTAMP},
      </if>
      <if test="planHours != null" >
        #{planHours,jdbcType=DECIMAL},
      </if>
      <if test="planRemarks != null" >
        #{planRemarks,jdbcType=VARCHAR},
      </if>
      <if test="executeUserAccount != null" >
        #{executeUserAccount,jdbcType=VARCHAR},
      </if>
      <if test="executeDepartmentId != null" >
        #{executeDepartmentId,jdbcType=INTEGER},
      </if>
      <if test="bisEnable != null" >
        #{bisEnable,jdbcType=BIT},
      </if>
      <if test="proportion != null" >
        #{proportion,jdbcType=DECIMAL},
      </if>
      <if test="sorting != null" >
        #{sorting,jdbcType=INTEGER},
      </if>
      <if test="firstPid != null" >
        #{firstPid,jdbcType=INTEGER},
      </if>
      <if test="bisStart != null" >
        #{bisStart,jdbcType=BIT},
      </if>
      <if test="processInsId != null" >
        #{processInsId,jdbcType=VARCHAR},
      </if>
      <if test="taskSubmitTime != null" >
        #{taskSubmitTime,jdbcType=TIMESTAMP},
      </if>
      <if test="taskRemarks != null" >
        #{taskRemarks,jdbcType=VARCHAR},
      </if>
      <if test="actualHours != null" >
        #{actualHours,jdbcType=DECIMAL},
      </if>
      <if test="status != null" >
        #{status,jdbcType=VARCHAR},
      </if>
      <if test="returnDetailsId != null" >
        #{returnDetailsId,jdbcType=INTEGER},
      </if>
      <if test="returnProcessInsId != null" >
        #{returnProcessInsId,jdbcType=VARCHAR},
      </if>
      <if test="returnDetailsReason != null" >
        #{returnDetailsReason,jdbcType=VARCHAR},
      </if>
      <if test="bisNew != null" >
        #{bisNew,jdbcType=BIT},
      </if>
      <if test="bisLastLayer != null" >
        #{bisLastLayer,jdbcType=BIT},
      </if>
      <if test="declareRecordId != null" >
        #{declareRecordId,jdbcType=INTEGER},
      </if>
      <if test="areaGroupId != null" >
        #{areaGroupId,jdbcType=INTEGER},
      </if>
      <if test="groupNumber != null" >
        #{groupNumber,jdbcType=INTEGER},
      </if>
      <if test="creator != null" >
        #{creator,jdbcType=VARCHAR},
      </if>
      <if test="gmtCreated != null" >
        #{gmtCreated,jdbcType=TIMESTAMP},
      </if>
      <if test="gmtModified != null" >
        #{gmtModified,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.copower.pmcc.assess.dal.basis.entity.ProjectPlanDetailsExample" resultType="java.lang.Integer" >
    select count(*) from tb_project_plan_details
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update tb_project_plan_details
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.pid != null" >
        pid = #{record.pid,jdbcType=INTEGER},
      </if>
      <if test="record.projectPhaseName != null" >
        project_phase_name = #{record.projectPhaseName,jdbcType=VARCHAR},
      </if>
      <if test="record.projectId != null" >
        project_id = #{record.projectId,jdbcType=INTEGER},
      </if>
      <if test="record.planId != null" >
        plan_id = #{record.planId,jdbcType=INTEGER},
      </if>
      <if test="record.projectWorkStageId != null" >
        project_work_stage_id = #{record.projectWorkStageId,jdbcType=INTEGER},
      </if>
      <if test="record.projectPhaseId != null" >
        project_phase_id = #{record.projectPhaseId,jdbcType=INTEGER},
      </if>
      <if test="record.projectPhaseDetailsId != null" >
        project_phase_details_id = #{record.projectPhaseDetailsId,jdbcType=INTEGER},
      </if>
      <if test="record.planStartDate != null" >
        plan_start_date = #{record.planStartDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.planEndDate != null" >
        plan_end_date = #{record.planEndDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.planHours != null" >
        plan_hours = #{record.planHours,jdbcType=DECIMAL},
      </if>
      <if test="record.planRemarks != null" >
        plan_remarks = #{record.planRemarks,jdbcType=VARCHAR},
      </if>
      <if test="record.executeUserAccount != null" >
        execute_user_account = #{record.executeUserAccount,jdbcType=VARCHAR},
      </if>
      <if test="record.executeDepartmentId != null" >
        execute_department_id = #{record.executeDepartmentId,jdbcType=INTEGER},
      </if>
      <if test="record.bisEnable != null" >
        bis_enable = #{record.bisEnable,jdbcType=BIT},
      </if>
      <if test="record.proportion != null" >
        proportion = #{record.proportion,jdbcType=DECIMAL},
      </if>
      <if test="record.sorting != null" >
        sorting = #{record.sorting,jdbcType=INTEGER},
      </if>
      <if test="record.firstPid != null" >
        first_pid = #{record.firstPid,jdbcType=INTEGER},
      </if>
      <if test="record.bisStart != null" >
        bis_start = #{record.bisStart,jdbcType=BIT},
      </if>
      <if test="record.processInsId != null" >
        process_ins_id = #{record.processInsId,jdbcType=VARCHAR},
      </if>
      <if test="record.taskSubmitTime != null" >
        task_submit_time = #{record.taskSubmitTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.taskRemarks != null" >
        task_remarks = #{record.taskRemarks,jdbcType=VARCHAR},
      </if>
      <if test="record.actualHours != null" >
        actual_hours = #{record.actualHours,jdbcType=DECIMAL},
      </if>
      <if test="record.status != null" >
        status = #{record.status,jdbcType=VARCHAR},
      </if>
      <if test="record.returnDetailsId != null" >
        return_details_id = #{record.returnDetailsId,jdbcType=INTEGER},
      </if>
      <if test="record.returnProcessInsId != null" >
        return_process_ins_id = #{record.returnProcessInsId,jdbcType=VARCHAR},
      </if>
      <if test="record.returnDetailsReason != null" >
        return_details_reason = #{record.returnDetailsReason,jdbcType=VARCHAR},
      </if>
      <if test="record.bisNew != null" >
        bis_new = #{record.bisNew,jdbcType=BIT},
      </if>
      <if test="record.bisLastLayer != null" >
        bis_last_layer = #{record.bisLastLayer,jdbcType=BIT},
      </if>
      <if test="record.declareRecordId != null" >
        declare_record_id = #{record.declareRecordId,jdbcType=INTEGER},
      </if>
      <if test="record.areaGroupId != null" >
        area_group_id = #{record.areaGroupId,jdbcType=INTEGER},
      </if>
      <if test="record.groupNumber != null" >
        group_number = #{record.groupNumber,jdbcType=INTEGER},
      </if>
      <if test="record.creator != null" >
        creator = #{record.creator,jdbcType=VARCHAR},
      </if>
      <if test="record.gmtCreated != null" >
        gmt_created = #{record.gmtCreated,jdbcType=TIMESTAMP},
      </if>
      <if test="record.gmtModified != null" >
        gmt_modified = #{record.gmtModified,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update tb_project_plan_details
    set id = #{record.id,jdbcType=INTEGER},
      pid = #{record.pid,jdbcType=INTEGER},
      project_phase_name = #{record.projectPhaseName,jdbcType=VARCHAR},
      project_id = #{record.projectId,jdbcType=INTEGER},
      plan_id = #{record.planId,jdbcType=INTEGER},
      project_work_stage_id = #{record.projectWorkStageId,jdbcType=INTEGER},
      project_phase_id = #{record.projectPhaseId,jdbcType=INTEGER},
      project_phase_details_id = #{record.projectPhaseDetailsId,jdbcType=INTEGER},
      plan_start_date = #{record.planStartDate,jdbcType=TIMESTAMP},
      plan_end_date = #{record.planEndDate,jdbcType=TIMESTAMP},
      plan_hours = #{record.planHours,jdbcType=DECIMAL},
      plan_remarks = #{record.planRemarks,jdbcType=VARCHAR},
      execute_user_account = #{record.executeUserAccount,jdbcType=VARCHAR},
      execute_department_id = #{record.executeDepartmentId,jdbcType=INTEGER},
      bis_enable = #{record.bisEnable,jdbcType=BIT},
      proportion = #{record.proportion,jdbcType=DECIMAL},
      sorting = #{record.sorting,jdbcType=INTEGER},
      first_pid = #{record.firstPid,jdbcType=INTEGER},
      bis_start = #{record.bisStart,jdbcType=BIT},
      process_ins_id = #{record.processInsId,jdbcType=VARCHAR},
      task_submit_time = #{record.taskSubmitTime,jdbcType=TIMESTAMP},
      task_remarks = #{record.taskRemarks,jdbcType=VARCHAR},
      actual_hours = #{record.actualHours,jdbcType=DECIMAL},
      status = #{record.status,jdbcType=VARCHAR},
      return_details_id = #{record.returnDetailsId,jdbcType=INTEGER},
      return_process_ins_id = #{record.returnProcessInsId,jdbcType=VARCHAR},
      return_details_reason = #{record.returnDetailsReason,jdbcType=VARCHAR},
      bis_new = #{record.bisNew,jdbcType=BIT},
      bis_last_layer = #{record.bisLastLayer,jdbcType=BIT},
      declare_record_id = #{record.declareRecordId,jdbcType=INTEGER},
      area_group_id = #{record.areaGroupId,jdbcType=INTEGER},
      group_number = #{record.groupNumber,jdbcType=INTEGER},
      creator = #{record.creator,jdbcType=VARCHAR},
      gmt_created = #{record.gmtCreated,jdbcType=TIMESTAMP},
      gmt_modified = #{record.gmtModified,jdbcType=TIMESTAMP}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.copower.pmcc.assess.dal.basis.entity.ProjectPlanDetails" >
    update tb_project_plan_details
    <set >
      <if test="pid != null" >
        pid = #{pid,jdbcType=INTEGER},
      </if>
      <if test="projectPhaseName != null" >
        project_phase_name = #{projectPhaseName,jdbcType=VARCHAR},
      </if>
      <if test="projectId != null" >
        project_id = #{projectId,jdbcType=INTEGER},
      </if>
      <if test="planId != null" >
        plan_id = #{planId,jdbcType=INTEGER},
      </if>
      <if test="projectWorkStageId != null" >
        project_work_stage_id = #{projectWorkStageId,jdbcType=INTEGER},
      </if>
      <if test="projectPhaseId != null" >
        project_phase_id = #{projectPhaseId,jdbcType=INTEGER},
      </if>
      <if test="projectPhaseDetailsId != null" >
        project_phase_details_id = #{projectPhaseDetailsId,jdbcType=INTEGER},
      </if>
      <if test="planStartDate != null" >
        plan_start_date = #{planStartDate,jdbcType=TIMESTAMP},
      </if>
      <if test="planEndDate != null" >
        plan_end_date = #{planEndDate,jdbcType=TIMESTAMP},
      </if>
      <if test="planHours != null" >
        plan_hours = #{planHours,jdbcType=DECIMAL},
      </if>
      <if test="planRemarks != null" >
        plan_remarks = #{planRemarks,jdbcType=VARCHAR},
      </if>
      <if test="executeUserAccount != null" >
        execute_user_account = #{executeUserAccount,jdbcType=VARCHAR},
      </if>
      <if test="executeDepartmentId != null" >
        execute_department_id = #{executeDepartmentId,jdbcType=INTEGER},
      </if>
      <if test="bisEnable != null" >
        bis_enable = #{bisEnable,jdbcType=BIT},
      </if>
      <if test="proportion != null" >
        proportion = #{proportion,jdbcType=DECIMAL},
      </if>
      <if test="sorting != null" >
        sorting = #{sorting,jdbcType=INTEGER},
      </if>
      <if test="firstPid != null" >
        first_pid = #{firstPid,jdbcType=INTEGER},
      </if>
      <if test="bisStart != null" >
        bis_start = #{bisStart,jdbcType=BIT},
      </if>
      <if test="processInsId != null" >
        process_ins_id = #{processInsId,jdbcType=VARCHAR},
      </if>
      <if test="taskSubmitTime != null" >
        task_submit_time = #{taskSubmitTime,jdbcType=TIMESTAMP},
      </if>
      <if test="taskRemarks != null" >
        task_remarks = #{taskRemarks,jdbcType=VARCHAR},
      </if>
      <if test="actualHours != null" >
        actual_hours = #{actualHours,jdbcType=DECIMAL},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=VARCHAR},
      </if>
      <if test="returnDetailsId != null" >
        return_details_id = #{returnDetailsId,jdbcType=INTEGER},
      </if>
      <if test="returnProcessInsId != null" >
        return_process_ins_id = #{returnProcessInsId,jdbcType=VARCHAR},
      </if>
      <if test="returnDetailsReason != null" >
        return_details_reason = #{returnDetailsReason,jdbcType=VARCHAR},
      </if>
      <if test="bisNew != null" >
        bis_new = #{bisNew,jdbcType=BIT},
      </if>
      <if test="bisLastLayer != null" >
        bis_last_layer = #{bisLastLayer,jdbcType=BIT},
      </if>
      <if test="declareRecordId != null" >
        declare_record_id = #{declareRecordId,jdbcType=INTEGER},
      </if>
      <if test="areaGroupId != null" >
        area_group_id = #{areaGroupId,jdbcType=INTEGER},
      </if>
      <if test="groupNumber != null" >
        group_number = #{groupNumber,jdbcType=INTEGER},
      </if>
      <if test="creator != null" >
        creator = #{creator,jdbcType=VARCHAR},
      </if>
      <if test="gmtCreated != null" >
        gmt_created = #{gmtCreated,jdbcType=TIMESTAMP},
      </if>
      <if test="gmtModified != null" >
        gmt_modified = #{gmtModified,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.copower.pmcc.assess.dal.basis.entity.ProjectPlanDetails" >
    update tb_project_plan_details
    set pid = #{pid,jdbcType=INTEGER},
      project_phase_name = #{projectPhaseName,jdbcType=VARCHAR},
      project_id = #{projectId,jdbcType=INTEGER},
      plan_id = #{planId,jdbcType=INTEGER},
      project_work_stage_id = #{projectWorkStageId,jdbcType=INTEGER},
      project_phase_id = #{projectPhaseId,jdbcType=INTEGER},
      project_phase_details_id = #{projectPhaseDetailsId,jdbcType=INTEGER},
      plan_start_date = #{planStartDate,jdbcType=TIMESTAMP},
      plan_end_date = #{planEndDate,jdbcType=TIMESTAMP},
      plan_hours = #{planHours,jdbcType=DECIMAL},
      plan_remarks = #{planRemarks,jdbcType=VARCHAR},
      execute_user_account = #{executeUserAccount,jdbcType=VARCHAR},
      execute_department_id = #{executeDepartmentId,jdbcType=INTEGER},
      bis_enable = #{bisEnable,jdbcType=BIT},
      proportion = #{proportion,jdbcType=DECIMAL},
      sorting = #{sorting,jdbcType=INTEGER},
      first_pid = #{firstPid,jdbcType=INTEGER},
      bis_start = #{bisStart,jdbcType=BIT},
      process_ins_id = #{processInsId,jdbcType=VARCHAR},
      task_submit_time = #{taskSubmitTime,jdbcType=TIMESTAMP},
      task_remarks = #{taskRemarks,jdbcType=VARCHAR},
      actual_hours = #{actualHours,jdbcType=DECIMAL},
      status = #{status,jdbcType=VARCHAR},
      return_details_id = #{returnDetailsId,jdbcType=INTEGER},
      return_process_ins_id = #{returnProcessInsId,jdbcType=VARCHAR},
      return_details_reason = #{returnDetailsReason,jdbcType=VARCHAR},
      bis_new = #{bisNew,jdbcType=BIT},
      bis_last_layer = #{bisLastLayer,jdbcType=BIT},
      declare_record_id = #{declareRecordId,jdbcType=INTEGER},
      area_group_id = #{areaGroupId,jdbcType=INTEGER},
      group_number = #{groupNumber,jdbcType=INTEGER},
      creator = #{creator,jdbcType=VARCHAR},
      gmt_created = #{gmtCreated,jdbcType=TIMESTAMP},
      gmt_modified = #{gmtModified,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>