<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.copower.pmcc.assess.dal.basis.mapper.ProjectInfoMapper" >
  <resultMap id="BaseResultMap" type="com.copower.pmcc.assess.dal.basis.entity.ProjectInfo" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="project_class_id" property="projectClassId" jdbcType="INTEGER" />
    <result column="project_type_id" property="projectTypeId" jdbcType="INTEGER" />
    <result column="project_category_id" property="projectCategoryId" jdbcType="INTEGER" />
    <result column="project_name" property="projectName" jdbcType="VARCHAR" />
    <result column="urgency" property="urgency" jdbcType="INTEGER" />
    <result column="province" property="province" jdbcType="VARCHAR" />
    <result column="city" property="city" jdbcType="VARCHAR" />
    <result column="district" property="district" jdbcType="VARCHAR" />
    <result column="valuation_date" property="valuationDate" jdbcType="TIMESTAMP" />
    <result column="entrust_purpose" property="entrustPurpose" jdbcType="INTEGER" />
    <result column="entrust_aim_type" property="entrustAimType" jdbcType="INTEGER" />
    <result column="remark_entrust_purpose" property="remarkEntrustPurpose" jdbcType="VARCHAR" />
    <result column="value_type" property="valueType" jdbcType="INTEGER" />
    <result column="remark_value_type" property="remarkValueType" jdbcType="VARCHAR" />
    <result column="department_id" property="departmentId" jdbcType="INTEGER" />
    <result column="remarks" property="remarks" jdbcType="VARCHAR" />
    <result column="complete_date_plan" property="completeDatePlan" jdbcType="TIMESTAMP" />
    <result column="complete_date_actual" property="completeDateActual" jdbcType="TIMESTAMP" />
    <result column="complete_date_start" property="completeDateStart" jdbcType="TIMESTAMP" />
    <result column="process_ins_id" property="processInsId" jdbcType="VARCHAR" />
    <result column="property_scope" property="propertyScope" jdbcType="VARCHAR" />
    <result column="scope_include" property="scopeInclude" jdbcType="VARCHAR" />
    <result column="scope_not_include" property="scopeNotInclude" jdbcType="VARCHAR" />
    <result column="status" property="status" jdbcType="VARCHAR" />
    <result column="project_status" property="projectStatus" jdbcType="VARCHAR" />
    <result column="public_project_id" property="publicProjectId" jdbcType="INTEGER" />
    <result column="assign_process_ins_id" property="assignProcessInsId" jdbcType="VARCHAR" />
    <result column="assign_status" property="assignStatus" jdbcType="VARCHAR" />
    <result column="creator" property="creator" jdbcType="VARCHAR" />
    <result column="gmt_created" property="gmtCreated" jdbcType="TIMESTAMP" />
    <result column="gmt_modified" property="gmtModified" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, project_class_id, project_type_id, project_category_id, project_name, urgency, 
    province, city, district, valuation_date, entrust_purpose, entrust_aim_type, remark_entrust_purpose, 
    value_type, remark_value_type, department_id, remarks, complete_date_plan, complete_date_actual, 
    complete_date_start, process_ins_id, property_scope, scope_include, scope_not_include, 
    status, project_status, public_project_id, assign_process_ins_id, assign_status, 
    creator, gmt_created, gmt_modified
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.copower.pmcc.assess.dal.basis.entity.ProjectInfoExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from tb_project_info
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from tb_project_info
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from tb_project_info
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.copower.pmcc.assess.dal.basis.entity.ProjectInfoExample" >
    delete from tb_project_info
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.copower.pmcc.assess.dal.basis.entity.ProjectInfo" >
    <selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into tb_project_info (project_class_id, project_type_id, project_category_id, 
      project_name, urgency, province, 
      city, district, valuation_date, 
      entrust_purpose, entrust_aim_type, remark_entrust_purpose, 
      value_type, remark_value_type, department_id, 
      remarks, complete_date_plan, complete_date_actual, 
      complete_date_start, process_ins_id, property_scope, 
      scope_include, scope_not_include, status, 
      project_status, public_project_id, assign_process_ins_id, 
      assign_status, creator, gmt_created, 
      gmt_modified)
    values (#{projectClassId,jdbcType=INTEGER}, #{projectTypeId,jdbcType=INTEGER}, #{projectCategoryId,jdbcType=INTEGER}, 
      #{projectName,jdbcType=VARCHAR}, #{urgency,jdbcType=INTEGER}, #{province,jdbcType=VARCHAR}, 
      #{city,jdbcType=VARCHAR}, #{district,jdbcType=VARCHAR}, #{valuationDate,jdbcType=TIMESTAMP}, 
      #{entrustPurpose,jdbcType=INTEGER}, #{entrustAimType,jdbcType=INTEGER}, #{remarkEntrustPurpose,jdbcType=VARCHAR}, 
      #{valueType,jdbcType=INTEGER}, #{remarkValueType,jdbcType=VARCHAR}, #{departmentId,jdbcType=INTEGER}, 
      #{remarks,jdbcType=VARCHAR}, #{completeDatePlan,jdbcType=TIMESTAMP}, #{completeDateActual,jdbcType=TIMESTAMP}, 
      #{completeDateStart,jdbcType=TIMESTAMP}, #{processInsId,jdbcType=VARCHAR}, #{propertyScope,jdbcType=VARCHAR}, 
      #{scopeInclude,jdbcType=VARCHAR}, #{scopeNotInclude,jdbcType=VARCHAR}, #{status,jdbcType=VARCHAR}, 
      #{projectStatus,jdbcType=VARCHAR}, #{publicProjectId,jdbcType=INTEGER}, #{assignProcessInsId,jdbcType=VARCHAR}, 
      #{assignStatus,jdbcType=VARCHAR}, #{creator,jdbcType=VARCHAR}, #{gmtCreated,jdbcType=TIMESTAMP}, 
      #{gmtModified,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.copower.pmcc.assess.dal.basis.entity.ProjectInfo" >
    <selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into tb_project_info
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="projectClassId != null" >
        project_class_id,
      </if>
      <if test="projectTypeId != null" >
        project_type_id,
      </if>
      <if test="projectCategoryId != null" >
        project_category_id,
      </if>
      <if test="projectName != null" >
        project_name,
      </if>
      <if test="urgency != null" >
        urgency,
      </if>
      <if test="province != null" >
        province,
      </if>
      <if test="city != null" >
        city,
      </if>
      <if test="district != null" >
        district,
      </if>
      <if test="valuationDate != null" >
        valuation_date,
      </if>
      <if test="entrustPurpose != null" >
        entrust_purpose,
      </if>
      <if test="entrustAimType != null" >
        entrust_aim_type,
      </if>
      <if test="remarkEntrustPurpose != null" >
        remark_entrust_purpose,
      </if>
      <if test="valueType != null" >
        value_type,
      </if>
      <if test="remarkValueType != null" >
        remark_value_type,
      </if>
      <if test="departmentId != null" >
        department_id,
      </if>
      <if test="remarks != null" >
        remarks,
      </if>
      <if test="completeDatePlan != null" >
        complete_date_plan,
      </if>
      <if test="completeDateActual != null" >
        complete_date_actual,
      </if>
      <if test="completeDateStart != null" >
        complete_date_start,
      </if>
      <if test="processInsId != null" >
        process_ins_id,
      </if>
      <if test="propertyScope != null" >
        property_scope,
      </if>
      <if test="scopeInclude != null" >
        scope_include,
      </if>
      <if test="scopeNotInclude != null" >
        scope_not_include,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="projectStatus != null" >
        project_status,
      </if>
      <if test="publicProjectId != null" >
        public_project_id,
      </if>
      <if test="assignProcessInsId != null" >
        assign_process_ins_id,
      </if>
      <if test="assignStatus != null" >
        assign_status,
      </if>
      <if test="creator != null" >
        creator,
      </if>
      <if test="gmtCreated != null" >
        gmt_created,
      </if>
      <if test="gmtModified != null" >
        gmt_modified,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="projectClassId != null" >
        #{projectClassId,jdbcType=INTEGER},
      </if>
      <if test="projectTypeId != null" >
        #{projectTypeId,jdbcType=INTEGER},
      </if>
      <if test="projectCategoryId != null" >
        #{projectCategoryId,jdbcType=INTEGER},
      </if>
      <if test="projectName != null" >
        #{projectName,jdbcType=VARCHAR},
      </if>
      <if test="urgency != null" >
        #{urgency,jdbcType=INTEGER},
      </if>
      <if test="province != null" >
        #{province,jdbcType=VARCHAR},
      </if>
      <if test="city != null" >
        #{city,jdbcType=VARCHAR},
      </if>
      <if test="district != null" >
        #{district,jdbcType=VARCHAR},
      </if>
      <if test="valuationDate != null" >
        #{valuationDate,jdbcType=TIMESTAMP},
      </if>
      <if test="entrustPurpose != null" >
        #{entrustPurpose,jdbcType=INTEGER},
      </if>
      <if test="entrustAimType != null" >
        #{entrustAimType,jdbcType=INTEGER},
      </if>
      <if test="remarkEntrustPurpose != null" >
        #{remarkEntrustPurpose,jdbcType=VARCHAR},
      </if>
      <if test="valueType != null" >
        #{valueType,jdbcType=INTEGER},
      </if>
      <if test="remarkValueType != null" >
        #{remarkValueType,jdbcType=VARCHAR},
      </if>
      <if test="departmentId != null" >
        #{departmentId,jdbcType=INTEGER},
      </if>
      <if test="remarks != null" >
        #{remarks,jdbcType=VARCHAR},
      </if>
      <if test="completeDatePlan != null" >
        #{completeDatePlan,jdbcType=TIMESTAMP},
      </if>
      <if test="completeDateActual != null" >
        #{completeDateActual,jdbcType=TIMESTAMP},
      </if>
      <if test="completeDateStart != null" >
        #{completeDateStart,jdbcType=TIMESTAMP},
      </if>
      <if test="processInsId != null" >
        #{processInsId,jdbcType=VARCHAR},
      </if>
      <if test="propertyScope != null" >
        #{propertyScope,jdbcType=VARCHAR},
      </if>
      <if test="scopeInclude != null" >
        #{scopeInclude,jdbcType=VARCHAR},
      </if>
      <if test="scopeNotInclude != null" >
        #{scopeNotInclude,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        #{status,jdbcType=VARCHAR},
      </if>
      <if test="projectStatus != null" >
        #{projectStatus,jdbcType=VARCHAR},
      </if>
      <if test="publicProjectId != null" >
        #{publicProjectId,jdbcType=INTEGER},
      </if>
      <if test="assignProcessInsId != null" >
        #{assignProcessInsId,jdbcType=VARCHAR},
      </if>
      <if test="assignStatus != null" >
        #{assignStatus,jdbcType=VARCHAR},
      </if>
      <if test="creator != null" >
        #{creator,jdbcType=VARCHAR},
      </if>
      <if test="gmtCreated != null" >
        #{gmtCreated,jdbcType=TIMESTAMP},
      </if>
      <if test="gmtModified != null" >
        #{gmtModified,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.copower.pmcc.assess.dal.basis.entity.ProjectInfoExample" resultType="java.lang.Integer" >
    select count(*) from tb_project_info
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update tb_project_info
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.projectClassId != null" >
        project_class_id = #{record.projectClassId,jdbcType=INTEGER},
      </if>
      <if test="record.projectTypeId != null" >
        project_type_id = #{record.projectTypeId,jdbcType=INTEGER},
      </if>
      <if test="record.projectCategoryId != null" >
        project_category_id = #{record.projectCategoryId,jdbcType=INTEGER},
      </if>
      <if test="record.projectName != null" >
        project_name = #{record.projectName,jdbcType=VARCHAR},
      </if>
      <if test="record.urgency != null" >
        urgency = #{record.urgency,jdbcType=INTEGER},
      </if>
      <if test="record.province != null" >
        province = #{record.province,jdbcType=VARCHAR},
      </if>
      <if test="record.city != null" >
        city = #{record.city,jdbcType=VARCHAR},
      </if>
      <if test="record.district != null" >
        district = #{record.district,jdbcType=VARCHAR},
      </if>
      <if test="record.valuationDate != null" >
        valuation_date = #{record.valuationDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.entrustPurpose != null" >
        entrust_purpose = #{record.entrustPurpose,jdbcType=INTEGER},
      </if>
      <if test="record.entrustAimType != null" >
        entrust_aim_type = #{record.entrustAimType,jdbcType=INTEGER},
      </if>
      <if test="record.remarkEntrustPurpose != null" >
        remark_entrust_purpose = #{record.remarkEntrustPurpose,jdbcType=VARCHAR},
      </if>
      <if test="record.valueType != null" >
        value_type = #{record.valueType,jdbcType=INTEGER},
      </if>
      <if test="record.remarkValueType != null" >
        remark_value_type = #{record.remarkValueType,jdbcType=VARCHAR},
      </if>
      <if test="record.departmentId != null" >
        department_id = #{record.departmentId,jdbcType=INTEGER},
      </if>
      <if test="record.remarks != null" >
        remarks = #{record.remarks,jdbcType=VARCHAR},
      </if>
      <if test="record.completeDatePlan != null" >
        complete_date_plan = #{record.completeDatePlan,jdbcType=TIMESTAMP},
      </if>
      <if test="record.completeDateActual != null" >
        complete_date_actual = #{record.completeDateActual,jdbcType=TIMESTAMP},
      </if>
      <if test="record.completeDateStart != null" >
        complete_date_start = #{record.completeDateStart,jdbcType=TIMESTAMP},
      </if>
      <if test="record.processInsId != null" >
        process_ins_id = #{record.processInsId,jdbcType=VARCHAR},
      </if>
      <if test="record.propertyScope != null" >
        property_scope = #{record.propertyScope,jdbcType=VARCHAR},
      </if>
      <if test="record.scopeInclude != null" >
        scope_include = #{record.scopeInclude,jdbcType=VARCHAR},
      </if>
      <if test="record.scopeNotInclude != null" >
        scope_not_include = #{record.scopeNotInclude,jdbcType=VARCHAR},
      </if>
      <if test="record.status != null" >
        status = #{record.status,jdbcType=VARCHAR},
      </if>
      <if test="record.projectStatus != null" >
        project_status = #{record.projectStatus,jdbcType=VARCHAR},
      </if>
      <if test="record.publicProjectId != null" >
        public_project_id = #{record.publicProjectId,jdbcType=INTEGER},
      </if>
      <if test="record.assignProcessInsId != null" >
        assign_process_ins_id = #{record.assignProcessInsId,jdbcType=VARCHAR},
      </if>
      <if test="record.assignStatus != null" >
        assign_status = #{record.assignStatus,jdbcType=VARCHAR},
      </if>
      <if test="record.creator != null" >
        creator = #{record.creator,jdbcType=VARCHAR},
      </if>
      <if test="record.gmtCreated != null" >
        gmt_created = #{record.gmtCreated,jdbcType=TIMESTAMP},
      </if>
      <if test="record.gmtModified != null" >
        gmt_modified = #{record.gmtModified,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update tb_project_info
    set id = #{record.id,jdbcType=INTEGER},
      project_class_id = #{record.projectClassId,jdbcType=INTEGER},
      project_type_id = #{record.projectTypeId,jdbcType=INTEGER},
      project_category_id = #{record.projectCategoryId,jdbcType=INTEGER},
      project_name = #{record.projectName,jdbcType=VARCHAR},
      urgency = #{record.urgency,jdbcType=INTEGER},
      province = #{record.province,jdbcType=VARCHAR},
      city = #{record.city,jdbcType=VARCHAR},
      district = #{record.district,jdbcType=VARCHAR},
      valuation_date = #{record.valuationDate,jdbcType=TIMESTAMP},
      entrust_purpose = #{record.entrustPurpose,jdbcType=INTEGER},
      entrust_aim_type = #{record.entrustAimType,jdbcType=INTEGER},
      remark_entrust_purpose = #{record.remarkEntrustPurpose,jdbcType=VARCHAR},
      value_type = #{record.valueType,jdbcType=INTEGER},
      remark_value_type = #{record.remarkValueType,jdbcType=VARCHAR},
      department_id = #{record.departmentId,jdbcType=INTEGER},
      remarks = #{record.remarks,jdbcType=VARCHAR},
      complete_date_plan = #{record.completeDatePlan,jdbcType=TIMESTAMP},
      complete_date_actual = #{record.completeDateActual,jdbcType=TIMESTAMP},
      complete_date_start = #{record.completeDateStart,jdbcType=TIMESTAMP},
      process_ins_id = #{record.processInsId,jdbcType=VARCHAR},
      property_scope = #{record.propertyScope,jdbcType=VARCHAR},
      scope_include = #{record.scopeInclude,jdbcType=VARCHAR},
      scope_not_include = #{record.scopeNotInclude,jdbcType=VARCHAR},
      status = #{record.status,jdbcType=VARCHAR},
      project_status = #{record.projectStatus,jdbcType=VARCHAR},
      public_project_id = #{record.publicProjectId,jdbcType=INTEGER},
      assign_process_ins_id = #{record.assignProcessInsId,jdbcType=VARCHAR},
      assign_status = #{record.assignStatus,jdbcType=VARCHAR},
      creator = #{record.creator,jdbcType=VARCHAR},
      gmt_created = #{record.gmtCreated,jdbcType=TIMESTAMP},
      gmt_modified = #{record.gmtModified,jdbcType=TIMESTAMP}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.copower.pmcc.assess.dal.basis.entity.ProjectInfo" >
    update tb_project_info
    <set >
      <if test="projectClassId != null" >
        project_class_id = #{projectClassId,jdbcType=INTEGER},
      </if>
      <if test="projectTypeId != null" >
        project_type_id = #{projectTypeId,jdbcType=INTEGER},
      </if>
      <if test="projectCategoryId != null" >
        project_category_id = #{projectCategoryId,jdbcType=INTEGER},
      </if>
      <if test="projectName != null" >
        project_name = #{projectName,jdbcType=VARCHAR},
      </if>
      <if test="urgency != null" >
        urgency = #{urgency,jdbcType=INTEGER},
      </if>
      <if test="province != null" >
        province = #{province,jdbcType=VARCHAR},
      </if>
      <if test="city != null" >
        city = #{city,jdbcType=VARCHAR},
      </if>
      <if test="district != null" >
        district = #{district,jdbcType=VARCHAR},
      </if>
      <if test="valuationDate != null" >
        valuation_date = #{valuationDate,jdbcType=TIMESTAMP},
      </if>
      <if test="entrustPurpose != null" >
        entrust_purpose = #{entrustPurpose,jdbcType=INTEGER},
      </if>
      <if test="entrustAimType != null" >
        entrust_aim_type = #{entrustAimType,jdbcType=INTEGER},
      </if>
      <if test="remarkEntrustPurpose != null" >
        remark_entrust_purpose = #{remarkEntrustPurpose,jdbcType=VARCHAR},
      </if>
      <if test="valueType != null" >
        value_type = #{valueType,jdbcType=INTEGER},
      </if>
      <if test="remarkValueType != null" >
        remark_value_type = #{remarkValueType,jdbcType=VARCHAR},
      </if>
      <if test="departmentId != null" >
        department_id = #{departmentId,jdbcType=INTEGER},
      </if>
      <if test="remarks != null" >
        remarks = #{remarks,jdbcType=VARCHAR},
      </if>
      <if test="completeDatePlan != null" >
        complete_date_plan = #{completeDatePlan,jdbcType=TIMESTAMP},
      </if>
      <if test="completeDateActual != null" >
        complete_date_actual = #{completeDateActual,jdbcType=TIMESTAMP},
      </if>
      <if test="completeDateStart != null" >
        complete_date_start = #{completeDateStart,jdbcType=TIMESTAMP},
      </if>
      <if test="processInsId != null" >
        process_ins_id = #{processInsId,jdbcType=VARCHAR},
      </if>
      <if test="propertyScope != null" >
        property_scope = #{propertyScope,jdbcType=VARCHAR},
      </if>
      <if test="scopeInclude != null" >
        scope_include = #{scopeInclude,jdbcType=VARCHAR},
      </if>
      <if test="scopeNotInclude != null" >
        scope_not_include = #{scopeNotInclude,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=VARCHAR},
      </if>
      <if test="projectStatus != null" >
        project_status = #{projectStatus,jdbcType=VARCHAR},
      </if>
      <if test="publicProjectId != null" >
        public_project_id = #{publicProjectId,jdbcType=INTEGER},
      </if>
      <if test="assignProcessInsId != null" >
        assign_process_ins_id = #{assignProcessInsId,jdbcType=VARCHAR},
      </if>
      <if test="assignStatus != null" >
        assign_status = #{assignStatus,jdbcType=VARCHAR},
      </if>
      <if test="creator != null" >
        creator = #{creator,jdbcType=VARCHAR},
      </if>
      <if test="gmtCreated != null" >
        gmt_created = #{gmtCreated,jdbcType=TIMESTAMP},
      </if>
      <if test="gmtModified != null" >
        gmt_modified = #{gmtModified,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.copower.pmcc.assess.dal.basis.entity.ProjectInfo" >
    update tb_project_info
    set project_class_id = #{projectClassId,jdbcType=INTEGER},
      project_type_id = #{projectTypeId,jdbcType=INTEGER},
      project_category_id = #{projectCategoryId,jdbcType=INTEGER},
      project_name = #{projectName,jdbcType=VARCHAR},
      urgency = #{urgency,jdbcType=INTEGER},
      province = #{province,jdbcType=VARCHAR},
      city = #{city,jdbcType=VARCHAR},
      district = #{district,jdbcType=VARCHAR},
      valuation_date = #{valuationDate,jdbcType=TIMESTAMP},
      entrust_purpose = #{entrustPurpose,jdbcType=INTEGER},
      entrust_aim_type = #{entrustAimType,jdbcType=INTEGER},
      remark_entrust_purpose = #{remarkEntrustPurpose,jdbcType=VARCHAR},
      value_type = #{valueType,jdbcType=INTEGER},
      remark_value_type = #{remarkValueType,jdbcType=VARCHAR},
      department_id = #{departmentId,jdbcType=INTEGER},
      remarks = #{remarks,jdbcType=VARCHAR},
      complete_date_plan = #{completeDatePlan,jdbcType=TIMESTAMP},
      complete_date_actual = #{completeDateActual,jdbcType=TIMESTAMP},
      complete_date_start = #{completeDateStart,jdbcType=TIMESTAMP},
      process_ins_id = #{processInsId,jdbcType=VARCHAR},
      property_scope = #{propertyScope,jdbcType=VARCHAR},
      scope_include = #{scopeInclude,jdbcType=VARCHAR},
      scope_not_include = #{scopeNotInclude,jdbcType=VARCHAR},
      status = #{status,jdbcType=VARCHAR},
      project_status = #{projectStatus,jdbcType=VARCHAR},
      public_project_id = #{publicProjectId,jdbcType=INTEGER},
      assign_process_ins_id = #{assignProcessInsId,jdbcType=VARCHAR},
      assign_status = #{assignStatus,jdbcType=VARCHAR},
      creator = #{creator,jdbcType=VARCHAR},
      gmt_created = #{gmtCreated,jdbcType=TIMESTAMP},
      gmt_modified = #{gmtModified,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>