<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.copower.pmcc.assess.dal.basis.mapper.SchemeReportFileItemMapper" >
  <resultMap id="BaseResultMap" type="com.copower.pmcc.assess.dal.basis.entity.SchemeReportFileItem" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="plan_details_id" property="planDetailsId" jdbcType="INTEGER" />
    <result column="scheme_judge_object_id" property="schemeJudgeObjectId" jdbcType="INTEGER" />
    <result column="type" property="type" jdbcType="VARCHAR" />
    <result column="attachment_id" property="attachmentId" jdbcType="INTEGER" />
    <result column="file_name" property="fileName" jdbcType="VARCHAR" />
    <result column="sorting" property="sorting" jdbcType="INTEGER" />
    <result column="remark" property="remark" jdbcType="VARCHAR" />
    <result column="creator" property="creator" jdbcType="VARCHAR" />
    <result column="gmt_created" property="gmtCreated" jdbcType="TIMESTAMP" />
    <result column="gmt_modified" property="gmtModified" jdbcType="TIMESTAMP" />
    <result column="declare_record_id" property="declareRecordId" jdbcType="INTEGER" />
    <result column="certify_part" property="certifyPart" jdbcType="INTEGER" />
    <result column="certify_part_category" property="certifyPartCategory" jdbcType="INTEGER" />
    <result column="bis_enable" property="bisEnable" jdbcType="BIT" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, plan_details_id, scheme_judge_object_id, type, attachment_id, file_name, sorting, 
    remark, creator, gmt_created, gmt_modified, declare_record_id, certify_part, certify_part_category, 
    bis_enable
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.copower.pmcc.assess.dal.basis.entity.SchemeReportFileItemExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from tb_scheme_report_file_item
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from tb_scheme_report_file_item
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from tb_scheme_report_file_item
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.copower.pmcc.assess.dal.basis.entity.SchemeReportFileItemExample" >
    delete from tb_scheme_report_file_item
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.copower.pmcc.assess.dal.basis.entity.SchemeReportFileItem" >
    <selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into tb_scheme_report_file_item (plan_details_id, scheme_judge_object_id, 
      type, attachment_id, file_name, 
      sorting, remark, creator, 
      gmt_created, gmt_modified, declare_record_id, 
      certify_part, certify_part_category, bis_enable
      )
    values (#{planDetailsId,jdbcType=INTEGER}, #{schemeJudgeObjectId,jdbcType=INTEGER}, 
      #{type,jdbcType=VARCHAR}, #{attachmentId,jdbcType=INTEGER}, #{fileName,jdbcType=VARCHAR}, 
      #{sorting,jdbcType=INTEGER}, #{remark,jdbcType=VARCHAR}, #{creator,jdbcType=VARCHAR}, 
      #{gmtCreated,jdbcType=TIMESTAMP}, #{gmtModified,jdbcType=TIMESTAMP}, #{declareRecordId,jdbcType=INTEGER}, 
      #{certifyPart,jdbcType=INTEGER}, #{certifyPartCategory,jdbcType=INTEGER}, #{bisEnable,jdbcType=BIT}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.copower.pmcc.assess.dal.basis.entity.SchemeReportFileItem" >
    <selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into tb_scheme_report_file_item
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="planDetailsId != null" >
        plan_details_id,
      </if>
      <if test="schemeJudgeObjectId != null" >
        scheme_judge_object_id,
      </if>
      <if test="type != null" >
        type,
      </if>
      <if test="attachmentId != null" >
        attachment_id,
      </if>
      <if test="fileName != null" >
        file_name,
      </if>
      <if test="sorting != null" >
        sorting,
      </if>
      <if test="remark != null" >
        remark,
      </if>
      <if test="creator != null" >
        creator,
      </if>
      <if test="gmtCreated != null" >
        gmt_created,
      </if>
      <if test="gmtModified != null" >
        gmt_modified,
      </if>
      <if test="declareRecordId != null" >
        declare_record_id,
      </if>
      <if test="certifyPart != null" >
        certify_part,
      </if>
      <if test="certifyPartCategory != null" >
        certify_part_category,
      </if>
      <if test="bisEnable != null" >
        bis_enable,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="planDetailsId != null" >
        #{planDetailsId,jdbcType=INTEGER},
      </if>
      <if test="schemeJudgeObjectId != null" >
        #{schemeJudgeObjectId,jdbcType=INTEGER},
      </if>
      <if test="type != null" >
        #{type,jdbcType=VARCHAR},
      </if>
      <if test="attachmentId != null" >
        #{attachmentId,jdbcType=INTEGER},
      </if>
      <if test="fileName != null" >
        #{fileName,jdbcType=VARCHAR},
      </if>
      <if test="sorting != null" >
        #{sorting,jdbcType=INTEGER},
      </if>
      <if test="remark != null" >
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="creator != null" >
        #{creator,jdbcType=VARCHAR},
      </if>
      <if test="gmtCreated != null" >
        #{gmtCreated,jdbcType=TIMESTAMP},
      </if>
      <if test="gmtModified != null" >
        #{gmtModified,jdbcType=TIMESTAMP},
      </if>
      <if test="declareRecordId != null" >
        #{declareRecordId,jdbcType=INTEGER},
      </if>
      <if test="certifyPart != null" >
        #{certifyPart,jdbcType=INTEGER},
      </if>
      <if test="certifyPartCategory != null" >
        #{certifyPartCategory,jdbcType=INTEGER},
      </if>
      <if test="bisEnable != null" >
        #{bisEnable,jdbcType=BIT},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.copower.pmcc.assess.dal.basis.entity.SchemeReportFileItemExample" resultType="java.lang.Integer" >
    select count(*) from tb_scheme_report_file_item
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update tb_scheme_report_file_item
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.planDetailsId != null" >
        plan_details_id = #{record.planDetailsId,jdbcType=INTEGER},
      </if>
      <if test="record.schemeJudgeObjectId != null" >
        scheme_judge_object_id = #{record.schemeJudgeObjectId,jdbcType=INTEGER},
      </if>
      <if test="record.type != null" >
        type = #{record.type,jdbcType=VARCHAR},
      </if>
      <if test="record.attachmentId != null" >
        attachment_id = #{record.attachmentId,jdbcType=INTEGER},
      </if>
      <if test="record.fileName != null" >
        file_name = #{record.fileName,jdbcType=VARCHAR},
      </if>
      <if test="record.sorting != null" >
        sorting = #{record.sorting,jdbcType=INTEGER},
      </if>
      <if test="record.remark != null" >
        remark = #{record.remark,jdbcType=VARCHAR},
      </if>
      <if test="record.creator != null" >
        creator = #{record.creator,jdbcType=VARCHAR},
      </if>
      <if test="record.gmtCreated != null" >
        gmt_created = #{record.gmtCreated,jdbcType=TIMESTAMP},
      </if>
      <if test="record.gmtModified != null" >
        gmt_modified = #{record.gmtModified,jdbcType=TIMESTAMP},
      </if>
      <if test="record.declareRecordId != null" >
        declare_record_id = #{record.declareRecordId,jdbcType=INTEGER},
      </if>
      <if test="record.certifyPart != null" >
        certify_part = #{record.certifyPart,jdbcType=INTEGER},
      </if>
      <if test="record.certifyPartCategory != null" >
        certify_part_category = #{record.certifyPartCategory,jdbcType=INTEGER},
      </if>
      <if test="record.bisEnable != null" >
        bis_enable = #{record.bisEnable,jdbcType=BIT},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update tb_scheme_report_file_item
    set id = #{record.id,jdbcType=INTEGER},
      plan_details_id = #{record.planDetailsId,jdbcType=INTEGER},
      scheme_judge_object_id = #{record.schemeJudgeObjectId,jdbcType=INTEGER},
      type = #{record.type,jdbcType=VARCHAR},
      attachment_id = #{record.attachmentId,jdbcType=INTEGER},
      file_name = #{record.fileName,jdbcType=VARCHAR},
      sorting = #{record.sorting,jdbcType=INTEGER},
      remark = #{record.remark,jdbcType=VARCHAR},
      creator = #{record.creator,jdbcType=VARCHAR},
      gmt_created = #{record.gmtCreated,jdbcType=TIMESTAMP},
      gmt_modified = #{record.gmtModified,jdbcType=TIMESTAMP},
      declare_record_id = #{record.declareRecordId,jdbcType=INTEGER},
      certify_part = #{record.certifyPart,jdbcType=INTEGER},
      certify_part_category = #{record.certifyPartCategory,jdbcType=INTEGER},
      bis_enable = #{record.bisEnable,jdbcType=BIT}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.copower.pmcc.assess.dal.basis.entity.SchemeReportFileItem" >
    update tb_scheme_report_file_item
    <set >
      <if test="planDetailsId != null" >
        plan_details_id = #{planDetailsId,jdbcType=INTEGER},
      </if>
      <if test="schemeJudgeObjectId != null" >
        scheme_judge_object_id = #{schemeJudgeObjectId,jdbcType=INTEGER},
      </if>
      <if test="type != null" >
        type = #{type,jdbcType=VARCHAR},
      </if>
      <if test="attachmentId != null" >
        attachment_id = #{attachmentId,jdbcType=INTEGER},
      </if>
      <if test="fileName != null" >
        file_name = #{fileName,jdbcType=VARCHAR},
      </if>
      <if test="sorting != null" >
        sorting = #{sorting,jdbcType=INTEGER},
      </if>
      <if test="remark != null" >
        remark = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="creator != null" >
        creator = #{creator,jdbcType=VARCHAR},
      </if>
      <if test="gmtCreated != null" >
        gmt_created = #{gmtCreated,jdbcType=TIMESTAMP},
      </if>
      <if test="gmtModified != null" >
        gmt_modified = #{gmtModified,jdbcType=TIMESTAMP},
      </if>
      <if test="declareRecordId != null" >
        declare_record_id = #{declareRecordId,jdbcType=INTEGER},
      </if>
      <if test="certifyPart != null" >
        certify_part = #{certifyPart,jdbcType=INTEGER},
      </if>
      <if test="certifyPartCategory != null" >
        certify_part_category = #{certifyPartCategory,jdbcType=INTEGER},
      </if>
      <if test="bisEnable != null" >
        bis_enable = #{bisEnable,jdbcType=BIT},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.copower.pmcc.assess.dal.basis.entity.SchemeReportFileItem" >
    update tb_scheme_report_file_item
    set plan_details_id = #{planDetailsId,jdbcType=INTEGER},
      scheme_judge_object_id = #{schemeJudgeObjectId,jdbcType=INTEGER},
      type = #{type,jdbcType=VARCHAR},
      attachment_id = #{attachmentId,jdbcType=INTEGER},
      file_name = #{fileName,jdbcType=VARCHAR},
      sorting = #{sorting,jdbcType=INTEGER},
      remark = #{remark,jdbcType=VARCHAR},
      creator = #{creator,jdbcType=VARCHAR},
      gmt_created = #{gmtCreated,jdbcType=TIMESTAMP},
      gmt_modified = #{gmtModified,jdbcType=TIMESTAMP},
      declare_record_id = #{declareRecordId,jdbcType=INTEGER},
      certify_part = #{certifyPart,jdbcType=INTEGER},
      certify_part_category = #{certifyPartCategory,jdbcType=INTEGER},
      bis_enable = #{bisEnable,jdbcType=BIT}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>