<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.copower.pmcc.assess.dal.basis.mapper.SchemeLiquidationAnalysisItemMapper" >
  <resultMap id="BaseResultMap" type="com.copower.pmcc.assess.dal.basis.entity.SchemeLiquidationAnalysisItem" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="area_id" property="areaId" jdbcType="INTEGER" />
    <result column="judge_object_id" property="judgeObjectId" jdbcType="INTEGER" />
    <result column="plan_details_id" property="planDetailsId" jdbcType="INTEGER" />
    <result column="group_id" property="groupId" jdbcType="INTEGER" />
    <result column="type_key" property="typeKey" jdbcType="VARCHAR" />
    <result column="tax_rate_id" property="taxRateId" jdbcType="INTEGER" />
    <result column="tax_rate_value" property="taxRateValue" jdbcType="VARCHAR" />
    <result column="calculation_method" property="calculationMethod" jdbcType="INTEGER" />
    <result column="tax_rate_name" property="taxRateName" jdbcType="VARCHAR" />
    <result column="calculate_base" property="calculateBase" jdbcType="VARCHAR" />
    <result column="calculation_formula" property="calculationFormula" jdbcType="VARCHAR" />
    <result column="taxes_burden" property="taxesBurden" jdbcType="VARCHAR" />
    <result column="price" property="price" jdbcType="DECIMAL" />
    <result column="remark" property="remark" jdbcType="VARCHAR" />
    <result column="creator" property="creator" jdbcType="VARCHAR" />
    <result column="gmt_created" property="gmtCreated" jdbcType="TIMESTAMP" />
    <result column="gmt_modified" property="gmtModified" jdbcType="TIMESTAMP" />
    <result column="seller_scale" property="sellerScale" jdbcType="DECIMAL" />
    <result column="buyer_scale" property="buyerScale" jdbcType="DECIMAL" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, area_id, judge_object_id, plan_details_id, group_id, type_key, tax_rate_id, tax_rate_value, 
    calculation_method, tax_rate_name, calculate_base, calculation_formula, taxes_burden, 
    price, remark, creator, gmt_created, gmt_modified, seller_scale, buyer_scale
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.copower.pmcc.assess.dal.basis.entity.SchemeLiquidationAnalysisItemExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from tb_scheme_liquidation_analysis_item
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from tb_scheme_liquidation_analysis_item
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from tb_scheme_liquidation_analysis_item
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.copower.pmcc.assess.dal.basis.entity.SchemeLiquidationAnalysisItemExample" >
    delete from tb_scheme_liquidation_analysis_item
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.copower.pmcc.assess.dal.basis.entity.SchemeLiquidationAnalysisItem" >
    <selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into tb_scheme_liquidation_analysis_item (area_id, judge_object_id, plan_details_id, 
      group_id, type_key, tax_rate_id, 
      tax_rate_value, calculation_method, tax_rate_name, 
      calculate_base, calculation_formula, taxes_burden, 
      price, remark, creator, 
      gmt_created, gmt_modified, seller_scale, 
      buyer_scale)
    values (#{areaId,jdbcType=INTEGER}, #{judgeObjectId,jdbcType=INTEGER}, #{planDetailsId,jdbcType=INTEGER}, 
      #{groupId,jdbcType=INTEGER}, #{typeKey,jdbcType=VARCHAR}, #{taxRateId,jdbcType=INTEGER}, 
      #{taxRateValue,jdbcType=VARCHAR}, #{calculationMethod,jdbcType=INTEGER}, #{taxRateName,jdbcType=VARCHAR}, 
      #{calculateBase,jdbcType=VARCHAR}, #{calculationFormula,jdbcType=VARCHAR}, #{taxesBurden,jdbcType=VARCHAR}, 
      #{price,jdbcType=DECIMAL}, #{remark,jdbcType=VARCHAR}, #{creator,jdbcType=VARCHAR}, 
      #{gmtCreated,jdbcType=TIMESTAMP}, #{gmtModified,jdbcType=TIMESTAMP}, #{sellerScale,jdbcType=DECIMAL}, 
      #{buyerScale,jdbcType=DECIMAL})
  </insert>
  <insert id="insertSelective" parameterType="com.copower.pmcc.assess.dal.basis.entity.SchemeLiquidationAnalysisItem" >
    <selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into tb_scheme_liquidation_analysis_item
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="areaId != null" >
        area_id,
      </if>
      <if test="judgeObjectId != null" >
        judge_object_id,
      </if>
      <if test="planDetailsId != null" >
        plan_details_id,
      </if>
      <if test="groupId != null" >
        group_id,
      </if>
      <if test="typeKey != null" >
        type_key,
      </if>
      <if test="taxRateId != null" >
        tax_rate_id,
      </if>
      <if test="taxRateValue != null" >
        tax_rate_value,
      </if>
      <if test="calculationMethod != null" >
        calculation_method,
      </if>
      <if test="taxRateName != null" >
        tax_rate_name,
      </if>
      <if test="calculateBase != null" >
        calculate_base,
      </if>
      <if test="calculationFormula != null" >
        calculation_formula,
      </if>
      <if test="taxesBurden != null" >
        taxes_burden,
      </if>
      <if test="price != null" >
        price,
      </if>
      <if test="remark != null" >
        remark,
      </if>
      <if test="creator != null" >
        creator,
      </if>
      <if test="gmtCreated != null" >
        gmt_created,
      </if>
      <if test="gmtModified != null" >
        gmt_modified,
      </if>
      <if test="sellerScale != null" >
        seller_scale,
      </if>
      <if test="buyerScale != null" >
        buyer_scale,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="areaId != null" >
        #{areaId,jdbcType=INTEGER},
      </if>
      <if test="judgeObjectId != null" >
        #{judgeObjectId,jdbcType=INTEGER},
      </if>
      <if test="planDetailsId != null" >
        #{planDetailsId,jdbcType=INTEGER},
      </if>
      <if test="groupId != null" >
        #{groupId,jdbcType=INTEGER},
      </if>
      <if test="typeKey != null" >
        #{typeKey,jdbcType=VARCHAR},
      </if>
      <if test="taxRateId != null" >
        #{taxRateId,jdbcType=INTEGER},
      </if>
      <if test="taxRateValue != null" >
        #{taxRateValue,jdbcType=VARCHAR},
      </if>
      <if test="calculationMethod != null" >
        #{calculationMethod,jdbcType=INTEGER},
      </if>
      <if test="taxRateName != null" >
        #{taxRateName,jdbcType=VARCHAR},
      </if>
      <if test="calculateBase != null" >
        #{calculateBase,jdbcType=VARCHAR},
      </if>
      <if test="calculationFormula != null" >
        #{calculationFormula,jdbcType=VARCHAR},
      </if>
      <if test="taxesBurden != null" >
        #{taxesBurden,jdbcType=VARCHAR},
      </if>
      <if test="price != null" >
        #{price,jdbcType=DECIMAL},
      </if>
      <if test="remark != null" >
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="creator != null" >
        #{creator,jdbcType=VARCHAR},
      </if>
      <if test="gmtCreated != null" >
        #{gmtCreated,jdbcType=TIMESTAMP},
      </if>
      <if test="gmtModified != null" >
        #{gmtModified,jdbcType=TIMESTAMP},
      </if>
      <if test="sellerScale != null" >
        #{sellerScale,jdbcType=DECIMAL},
      </if>
      <if test="buyerScale != null" >
        #{buyerScale,jdbcType=DECIMAL},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.copower.pmcc.assess.dal.basis.entity.SchemeLiquidationAnalysisItemExample" resultType="java.lang.Integer" >
    select count(*) from tb_scheme_liquidation_analysis_item
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update tb_scheme_liquidation_analysis_item
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.areaId != null" >
        area_id = #{record.areaId,jdbcType=INTEGER},
      </if>
      <if test="record.judgeObjectId != null" >
        judge_object_id = #{record.judgeObjectId,jdbcType=INTEGER},
      </if>
      <if test="record.planDetailsId != null" >
        plan_details_id = #{record.planDetailsId,jdbcType=INTEGER},
      </if>
      <if test="record.groupId != null" >
        group_id = #{record.groupId,jdbcType=INTEGER},
      </if>
      <if test="record.typeKey != null" >
        type_key = #{record.typeKey,jdbcType=VARCHAR},
      </if>
      <if test="record.taxRateId != null" >
        tax_rate_id = #{record.taxRateId,jdbcType=INTEGER},
      </if>
      <if test="record.taxRateValue != null" >
        tax_rate_value = #{record.taxRateValue,jdbcType=VARCHAR},
      </if>
      <if test="record.calculationMethod != null" >
        calculation_method = #{record.calculationMethod,jdbcType=INTEGER},
      </if>
      <if test="record.taxRateName != null" >
        tax_rate_name = #{record.taxRateName,jdbcType=VARCHAR},
      </if>
      <if test="record.calculateBase != null" >
        calculate_base = #{record.calculateBase,jdbcType=VARCHAR},
      </if>
      <if test="record.calculationFormula != null" >
        calculation_formula = #{record.calculationFormula,jdbcType=VARCHAR},
      </if>
      <if test="record.taxesBurden != null" >
        taxes_burden = #{record.taxesBurden,jdbcType=VARCHAR},
      </if>
      <if test="record.price != null" >
        price = #{record.price,jdbcType=DECIMAL},
      </if>
      <if test="record.remark != null" >
        remark = #{record.remark,jdbcType=VARCHAR},
      </if>
      <if test="record.creator != null" >
        creator = #{record.creator,jdbcType=VARCHAR},
      </if>
      <if test="record.gmtCreated != null" >
        gmt_created = #{record.gmtCreated,jdbcType=TIMESTAMP},
      </if>
      <if test="record.gmtModified != null" >
        gmt_modified = #{record.gmtModified,jdbcType=TIMESTAMP},
      </if>
      <if test="record.sellerScale != null" >
        seller_scale = #{record.sellerScale,jdbcType=DECIMAL},
      </if>
      <if test="record.buyerScale != null" >
        buyer_scale = #{record.buyerScale,jdbcType=DECIMAL},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update tb_scheme_liquidation_analysis_item
    set id = #{record.id,jdbcType=INTEGER},
      area_id = #{record.areaId,jdbcType=INTEGER},
      judge_object_id = #{record.judgeObjectId,jdbcType=INTEGER},
      plan_details_id = #{record.planDetailsId,jdbcType=INTEGER},
      group_id = #{record.groupId,jdbcType=INTEGER},
      type_key = #{record.typeKey,jdbcType=VARCHAR},
      tax_rate_id = #{record.taxRateId,jdbcType=INTEGER},
      tax_rate_value = #{record.taxRateValue,jdbcType=VARCHAR},
      calculation_method = #{record.calculationMethod,jdbcType=INTEGER},
      tax_rate_name = #{record.taxRateName,jdbcType=VARCHAR},
      calculate_base = #{record.calculateBase,jdbcType=VARCHAR},
      calculation_formula = #{record.calculationFormula,jdbcType=VARCHAR},
      taxes_burden = #{record.taxesBurden,jdbcType=VARCHAR},
      price = #{record.price,jdbcType=DECIMAL},
      remark = #{record.remark,jdbcType=VARCHAR},
      creator = #{record.creator,jdbcType=VARCHAR},
      gmt_created = #{record.gmtCreated,jdbcType=TIMESTAMP},
      gmt_modified = #{record.gmtModified,jdbcType=TIMESTAMP},
      seller_scale = #{record.sellerScale,jdbcType=DECIMAL},
      buyer_scale = #{record.buyerScale,jdbcType=DECIMAL}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.copower.pmcc.assess.dal.basis.entity.SchemeLiquidationAnalysisItem" >
    update tb_scheme_liquidation_analysis_item
    <set >
      <if test="areaId != null" >
        area_id = #{areaId,jdbcType=INTEGER},
      </if>
      <if test="judgeObjectId != null" >
        judge_object_id = #{judgeObjectId,jdbcType=INTEGER},
      </if>
      <if test="planDetailsId != null" >
        plan_details_id = #{planDetailsId,jdbcType=INTEGER},
      </if>
      <if test="groupId != null" >
        group_id = #{groupId,jdbcType=INTEGER},
      </if>
      <if test="typeKey != null" >
        type_key = #{typeKey,jdbcType=VARCHAR},
      </if>
      <if test="taxRateId != null" >
        tax_rate_id = #{taxRateId,jdbcType=INTEGER},
      </if>
      <if test="taxRateValue != null" >
        tax_rate_value = #{taxRateValue,jdbcType=VARCHAR},
      </if>
      <if test="calculationMethod != null" >
        calculation_method = #{calculationMethod,jdbcType=INTEGER},
      </if>
      <if test="taxRateName != null" >
        tax_rate_name = #{taxRateName,jdbcType=VARCHAR},
      </if>
      <if test="calculateBase != null" >
        calculate_base = #{calculateBase,jdbcType=VARCHAR},
      </if>
      <if test="calculationFormula != null" >
        calculation_formula = #{calculationFormula,jdbcType=VARCHAR},
      </if>
      <if test="taxesBurden != null" >
        taxes_burden = #{taxesBurden,jdbcType=VARCHAR},
      </if>
      <if test="price != null" >
        price = #{price,jdbcType=DECIMAL},
      </if>
      <if test="remark != null" >
        remark = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="creator != null" >
        creator = #{creator,jdbcType=VARCHAR},
      </if>
      <if test="gmtCreated != null" >
        gmt_created = #{gmtCreated,jdbcType=TIMESTAMP},
      </if>
      <if test="gmtModified != null" >
        gmt_modified = #{gmtModified,jdbcType=TIMESTAMP},
      </if>
      <if test="sellerScale != null" >
        seller_scale = #{sellerScale,jdbcType=DECIMAL},
      </if>
      <if test="buyerScale != null" >
        buyer_scale = #{buyerScale,jdbcType=DECIMAL},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.copower.pmcc.assess.dal.basis.entity.SchemeLiquidationAnalysisItem" >
    update tb_scheme_liquidation_analysis_item
    set area_id = #{areaId,jdbcType=INTEGER},
      judge_object_id = #{judgeObjectId,jdbcType=INTEGER},
      plan_details_id = #{planDetailsId,jdbcType=INTEGER},
      group_id = #{groupId,jdbcType=INTEGER},
      type_key = #{typeKey,jdbcType=VARCHAR},
      tax_rate_id = #{taxRateId,jdbcType=INTEGER},
      tax_rate_value = #{taxRateValue,jdbcType=VARCHAR},
      calculation_method = #{calculationMethod,jdbcType=INTEGER},
      tax_rate_name = #{taxRateName,jdbcType=VARCHAR},
      calculate_base = #{calculateBase,jdbcType=VARCHAR},
      calculation_formula = #{calculationFormula,jdbcType=VARCHAR},
      taxes_burden = #{taxesBurden,jdbcType=VARCHAR},
      price = #{price,jdbcType=DECIMAL},
      remark = #{remark,jdbcType=VARCHAR},
      creator = #{creator,jdbcType=VARCHAR},
      gmt_created = #{gmtCreated,jdbcType=TIMESTAMP},
      gmt_modified = #{gmtModified,jdbcType=TIMESTAMP},
      seller_scale = #{sellerScale,jdbcType=DECIMAL},
      buyer_scale = #{buyerScale,jdbcType=DECIMAL}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>