<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.copower.pmcc.assess.dal.basis.mapper.SchemeReportGenerationMapper" >
  <resultMap id="BaseResultMap" type="com.copower.pmcc.assess.dal.basis.entity.SchemeReportGeneration" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="project_id" property="projectId" jdbcType="INTEGER" />
    <result column="project_plan_id" property="projectPlanId" jdbcType="INTEGER" />
    <result column="investigations_start_date" property="investigationsStartDate" jdbcType="TIMESTAMP" />
    <result column="investigations_end_date" property="investigationsEndDate" jdbcType="TIMESTAMP" />
    <result column="report_issuance_date" property="reportIssuanceDate" jdbcType="TIMESTAMP" />
    <result column="home_work_end_time" property="homeWorkEndTime" jdbcType="TIMESTAMP" />
    <result column="real_estate_appraiser" property="realEstateAppraiser" jdbcType="VARCHAR" />
    <result column="real_estate_appraiser_name" property="realEstateAppraiserName" jdbcType="VARCHAR" />
    <result column="area_group_id" property="areaGroupId" jdbcType="INTEGER" />
    <result column="creator" property="creator" jdbcType="VARCHAR" />
    <result column="gmt_created" property="gmtCreated" jdbcType="TIMESTAMP" />
    <result column="gmt_modified" property="gmtModified" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, project_id, project_plan_id, investigations_start_date, investigations_end_date, 
    report_issuance_date, home_work_end_time, real_estate_appraiser, real_estate_appraiser_name, 
    area_group_id, creator, gmt_created, gmt_modified
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.copower.pmcc.assess.dal.basis.entity.SchemeReportGenerationExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from tb_scheme_report_generation
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from tb_scheme_report_generation
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from tb_scheme_report_generation
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.copower.pmcc.assess.dal.basis.entity.SchemeReportGenerationExample" >
    delete from tb_scheme_report_generation
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.copower.pmcc.assess.dal.basis.entity.SchemeReportGeneration" >
    <selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into tb_scheme_report_generation (project_id, project_plan_id, investigations_start_date, 
      investigations_end_date, report_issuance_date, 
      home_work_end_time, real_estate_appraiser, 
      real_estate_appraiser_name, area_group_id, creator, 
      gmt_created, gmt_modified)
    values (#{projectId,jdbcType=INTEGER}, #{projectPlanId,jdbcType=INTEGER}, #{investigationsStartDate,jdbcType=TIMESTAMP}, 
      #{investigationsEndDate,jdbcType=TIMESTAMP}, #{reportIssuanceDate,jdbcType=TIMESTAMP}, 
      #{homeWorkEndTime,jdbcType=TIMESTAMP}, #{realEstateAppraiser,jdbcType=VARCHAR}, 
      #{realEstateAppraiserName,jdbcType=VARCHAR}, #{areaGroupId,jdbcType=INTEGER}, #{creator,jdbcType=VARCHAR}, 
      #{gmtCreated,jdbcType=TIMESTAMP}, #{gmtModified,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.copower.pmcc.assess.dal.basis.entity.SchemeReportGeneration" >
    <selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into tb_scheme_report_generation
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="projectId != null" >
        project_id,
      </if>
      <if test="projectPlanId != null" >
        project_plan_id,
      </if>
      <if test="investigationsStartDate != null" >
        investigations_start_date,
      </if>
      <if test="investigationsEndDate != null" >
        investigations_end_date,
      </if>
      <if test="reportIssuanceDate != null" >
        report_issuance_date,
      </if>
      <if test="homeWorkEndTime != null" >
        home_work_end_time,
      </if>
      <if test="realEstateAppraiser != null" >
        real_estate_appraiser,
      </if>
      <if test="realEstateAppraiserName != null" >
        real_estate_appraiser_name,
      </if>
      <if test="areaGroupId != null" >
        area_group_id,
      </if>
      <if test="creator != null" >
        creator,
      </if>
      <if test="gmtCreated != null" >
        gmt_created,
      </if>
      <if test="gmtModified != null" >
        gmt_modified,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="projectId != null" >
        #{projectId,jdbcType=INTEGER},
      </if>
      <if test="projectPlanId != null" >
        #{projectPlanId,jdbcType=INTEGER},
      </if>
      <if test="investigationsStartDate != null" >
        #{investigationsStartDate,jdbcType=TIMESTAMP},
      </if>
      <if test="investigationsEndDate != null" >
        #{investigationsEndDate,jdbcType=TIMESTAMP},
      </if>
      <if test="reportIssuanceDate != null" >
        #{reportIssuanceDate,jdbcType=TIMESTAMP},
      </if>
      <if test="homeWorkEndTime != null" >
        #{homeWorkEndTime,jdbcType=TIMESTAMP},
      </if>
      <if test="realEstateAppraiser != null" >
        #{realEstateAppraiser,jdbcType=VARCHAR},
      </if>
      <if test="realEstateAppraiserName != null" >
        #{realEstateAppraiserName,jdbcType=VARCHAR},
      </if>
      <if test="areaGroupId != null" >
        #{areaGroupId,jdbcType=INTEGER},
      </if>
      <if test="creator != null" >
        #{creator,jdbcType=VARCHAR},
      </if>
      <if test="gmtCreated != null" >
        #{gmtCreated,jdbcType=TIMESTAMP},
      </if>
      <if test="gmtModified != null" >
        #{gmtModified,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.copower.pmcc.assess.dal.basis.entity.SchemeReportGenerationExample" resultType="java.lang.Integer" >
    select count(*) from tb_scheme_report_generation
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update tb_scheme_report_generation
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.projectId != null" >
        project_id = #{record.projectId,jdbcType=INTEGER},
      </if>
      <if test="record.projectPlanId != null" >
        project_plan_id = #{record.projectPlanId,jdbcType=INTEGER},
      </if>
      <if test="record.investigationsStartDate != null" >
        investigations_start_date = #{record.investigationsStartDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.investigationsEndDate != null" >
        investigations_end_date = #{record.investigationsEndDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.reportIssuanceDate != null" >
        report_issuance_date = #{record.reportIssuanceDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.homeWorkEndTime != null" >
        home_work_end_time = #{record.homeWorkEndTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.realEstateAppraiser != null" >
        real_estate_appraiser = #{record.realEstateAppraiser,jdbcType=VARCHAR},
      </if>
      <if test="record.realEstateAppraiserName != null" >
        real_estate_appraiser_name = #{record.realEstateAppraiserName,jdbcType=VARCHAR},
      </if>
      <if test="record.areaGroupId != null" >
        area_group_id = #{record.areaGroupId,jdbcType=INTEGER},
      </if>
      <if test="record.creator != null" >
        creator = #{record.creator,jdbcType=VARCHAR},
      </if>
      <if test="record.gmtCreated != null" >
        gmt_created = #{record.gmtCreated,jdbcType=TIMESTAMP},
      </if>
      <if test="record.gmtModified != null" >
        gmt_modified = #{record.gmtModified,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update tb_scheme_report_generation
    set id = #{record.id,jdbcType=INTEGER},
      project_id = #{record.projectId,jdbcType=INTEGER},
      project_plan_id = #{record.projectPlanId,jdbcType=INTEGER},
      investigations_start_date = #{record.investigationsStartDate,jdbcType=TIMESTAMP},
      investigations_end_date = #{record.investigationsEndDate,jdbcType=TIMESTAMP},
      report_issuance_date = #{record.reportIssuanceDate,jdbcType=TIMESTAMP},
      home_work_end_time = #{record.homeWorkEndTime,jdbcType=TIMESTAMP},
      real_estate_appraiser = #{record.realEstateAppraiser,jdbcType=VARCHAR},
      real_estate_appraiser_name = #{record.realEstateAppraiserName,jdbcType=VARCHAR},
      area_group_id = #{record.areaGroupId,jdbcType=INTEGER},
      creator = #{record.creator,jdbcType=VARCHAR},
      gmt_created = #{record.gmtCreated,jdbcType=TIMESTAMP},
      gmt_modified = #{record.gmtModified,jdbcType=TIMESTAMP}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.copower.pmcc.assess.dal.basis.entity.SchemeReportGeneration" >
    update tb_scheme_report_generation
    <set >
      <if test="projectId != null" >
        project_id = #{projectId,jdbcType=INTEGER},
      </if>
      <if test="projectPlanId != null" >
        project_plan_id = #{projectPlanId,jdbcType=INTEGER},
      </if>
      <if test="investigationsStartDate != null" >
        investigations_start_date = #{investigationsStartDate,jdbcType=TIMESTAMP},
      </if>
      <if test="investigationsEndDate != null" >
        investigations_end_date = #{investigationsEndDate,jdbcType=TIMESTAMP},
      </if>
      <if test="reportIssuanceDate != null" >
        report_issuance_date = #{reportIssuanceDate,jdbcType=TIMESTAMP},
      </if>
      <if test="homeWorkEndTime != null" >
        home_work_end_time = #{homeWorkEndTime,jdbcType=TIMESTAMP},
      </if>
      <if test="realEstateAppraiser != null" >
        real_estate_appraiser = #{realEstateAppraiser,jdbcType=VARCHAR},
      </if>
      <if test="realEstateAppraiserName != null" >
        real_estate_appraiser_name = #{realEstateAppraiserName,jdbcType=VARCHAR},
      </if>
      <if test="areaGroupId != null" >
        area_group_id = #{areaGroupId,jdbcType=INTEGER},
      </if>
      <if test="creator != null" >
        creator = #{creator,jdbcType=VARCHAR},
      </if>
      <if test="gmtCreated != null" >
        gmt_created = #{gmtCreated,jdbcType=TIMESTAMP},
      </if>
      <if test="gmtModified != null" >
        gmt_modified = #{gmtModified,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.copower.pmcc.assess.dal.basis.entity.SchemeReportGeneration" >
    update tb_scheme_report_generation
    set project_id = #{projectId,jdbcType=INTEGER},
      project_plan_id = #{projectPlanId,jdbcType=INTEGER},
      investigations_start_date = #{investigationsStartDate,jdbcType=TIMESTAMP},
      investigations_end_date = #{investigationsEndDate,jdbcType=TIMESTAMP},
      report_issuance_date = #{reportIssuanceDate,jdbcType=TIMESTAMP},
      home_work_end_time = #{homeWorkEndTime,jdbcType=TIMESTAMP},
      real_estate_appraiser = #{realEstateAppraiser,jdbcType=VARCHAR},
      real_estate_appraiser_name = #{realEstateAppraiserName,jdbcType=VARCHAR},
      area_group_id = #{areaGroupId,jdbcType=INTEGER},
      creator = #{creator,jdbcType=VARCHAR},
      gmt_created = #{gmtCreated,jdbcType=TIMESTAMP},
      gmt_modified = #{gmtModified,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>