<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.copower.pmcc.assess.dal.basis.mapper.SurveyAssetInventoryContentMapper">
  <resultMap id="BaseResultMap" type="com.copower.pmcc.assess.dal.basis.entity.SurveyAssetInventoryContent">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="master_id" jdbcType="INTEGER" property="masterId" />
    <result column="group_id" jdbcType="INTEGER" property="groupId" />
    <result column="project_id" jdbcType="INTEGER" property="projectId" />
    <result column="plan_details_id" jdbcType="INTEGER" property="planDetailsId" />
    <result column="declare_id" jdbcType="INTEGER" property="declareId" />
    <result column="inventory_content" jdbcType="INTEGER" property="inventoryContent" />
    <result column="are_consistent" jdbcType="VARCHAR" property="areConsistent" />
    <result column="registration" jdbcType="VARCHAR" property="registration" />
    <result column="actual" jdbcType="VARCHAR" property="actual" />
    <result column="difference_reason" jdbcType="VARCHAR" property="differenceReason" />
    <result column="credential" jdbcType="VARCHAR" property="credential" />
    <result column="credential_accessory" jdbcType="VARCHAR" property="credentialAccessory" />
    <result column="voucher" jdbcType="VARCHAR" property="voucher" />
    <result column="survey_time" jdbcType="TIMESTAMP" property="surveyTime" />
    <result column="sure_consistent" jdbcType="VARCHAR" property="sureConsistent" />
    <result column="creator" jdbcType="VARCHAR" property="creator" />
    <result column="gmt_created" jdbcType="TIMESTAMP" property="gmtCreated" />
    <result column="gmt_modified" jdbcType="TIMESTAMP" property="gmtModified" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, master_id, group_id, project_id, plan_details_id, declare_id, inventory_content, 
    are_consistent, registration, actual, difference_reason, credential, credential_accessory, 
    voucher, survey_time, sure_consistent, creator, gmt_created, gmt_modified
  </sql>
  <select id="selectByExample" parameterType="com.copower.pmcc.assess.dal.basis.entity.SurveyAssetInventoryContentExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from tb_survey_asset_inventory_content
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from tb_survey_asset_inventory_content
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from tb_survey_asset_inventory_content
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.copower.pmcc.assess.dal.basis.entity.SurveyAssetInventoryContentExample">
    delete from tb_survey_asset_inventory_content
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.copower.pmcc.assess.dal.basis.entity.SurveyAssetInventoryContent">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into tb_survey_asset_inventory_content (master_id, group_id, project_id, 
      plan_details_id, declare_id, inventory_content, 
      are_consistent, registration, actual, 
      difference_reason, credential, credential_accessory, 
      voucher, survey_time, sure_consistent, 
      creator, gmt_created, gmt_modified
      )
    values (#{masterId,jdbcType=INTEGER}, #{groupId,jdbcType=INTEGER}, #{projectId,jdbcType=INTEGER}, 
      #{planDetailsId,jdbcType=INTEGER}, #{declareId,jdbcType=INTEGER}, #{inventoryContent,jdbcType=INTEGER}, 
      #{areConsistent,jdbcType=VARCHAR}, #{registration,jdbcType=VARCHAR}, #{actual,jdbcType=VARCHAR}, 
      #{differenceReason,jdbcType=VARCHAR}, #{credential,jdbcType=VARCHAR}, #{credentialAccessory,jdbcType=VARCHAR}, 
      #{voucher,jdbcType=VARCHAR}, #{surveyTime,jdbcType=TIMESTAMP}, #{sureConsistent,jdbcType=VARCHAR}, 
      #{creator,jdbcType=VARCHAR}, #{gmtCreated,jdbcType=TIMESTAMP}, #{gmtModified,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.copower.pmcc.assess.dal.basis.entity.SurveyAssetInventoryContent">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into tb_survey_asset_inventory_content
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="masterId != null">
        master_id,
      </if>
      <if test="groupId != null">
        group_id,
      </if>
      <if test="projectId != null">
        project_id,
      </if>
      <if test="planDetailsId != null">
        plan_details_id,
      </if>
      <if test="declareId != null">
        declare_id,
      </if>
      <if test="inventoryContent != null">
        inventory_content,
      </if>
      <if test="areConsistent != null">
        are_consistent,
      </if>
      <if test="registration != null">
        registration,
      </if>
      <if test="actual != null">
        actual,
      </if>
      <if test="differenceReason != null">
        difference_reason,
      </if>
      <if test="credential != null">
        credential,
      </if>
      <if test="credentialAccessory != null">
        credential_accessory,
      </if>
      <if test="voucher != null">
        voucher,
      </if>
      <if test="surveyTime != null">
        survey_time,
      </if>
      <if test="sureConsistent != null">
        sure_consistent,
      </if>
      <if test="creator != null">
        creator,
      </if>
      <if test="gmtCreated != null">
        gmt_created,
      </if>
      <if test="gmtModified != null">
        gmt_modified,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="masterId != null">
        #{masterId,jdbcType=INTEGER},
      </if>
      <if test="groupId != null">
        #{groupId,jdbcType=INTEGER},
      </if>
      <if test="projectId != null">
        #{projectId,jdbcType=INTEGER},
      </if>
      <if test="planDetailsId != null">
        #{planDetailsId,jdbcType=INTEGER},
      </if>
      <if test="declareId != null">
        #{declareId,jdbcType=INTEGER},
      </if>
      <if test="inventoryContent != null">
        #{inventoryContent,jdbcType=INTEGER},
      </if>
      <if test="areConsistent != null">
        #{areConsistent,jdbcType=VARCHAR},
      </if>
      <if test="registration != null">
        #{registration,jdbcType=VARCHAR},
      </if>
      <if test="actual != null">
        #{actual,jdbcType=VARCHAR},
      </if>
      <if test="differenceReason != null">
        #{differenceReason,jdbcType=VARCHAR},
      </if>
      <if test="credential != null">
        #{credential,jdbcType=VARCHAR},
      </if>
      <if test="credentialAccessory != null">
        #{credentialAccessory,jdbcType=VARCHAR},
      </if>
      <if test="voucher != null">
        #{voucher,jdbcType=VARCHAR},
      </if>
      <if test="surveyTime != null">
        #{surveyTime,jdbcType=TIMESTAMP},
      </if>
      <if test="sureConsistent != null">
        #{sureConsistent,jdbcType=VARCHAR},
      </if>
      <if test="creator != null">
        #{creator,jdbcType=VARCHAR},
      </if>
      <if test="gmtCreated != null">
        #{gmtCreated,jdbcType=TIMESTAMP},
      </if>
      <if test="gmtModified != null">
        #{gmtModified,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.copower.pmcc.assess.dal.basis.entity.SurveyAssetInventoryContentExample" resultType="java.lang.Long">
    select count(*) from tb_survey_asset_inventory_content
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update tb_survey_asset_inventory_content
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.masterId != null">
        master_id = #{record.masterId,jdbcType=INTEGER},
      </if>
      <if test="record.groupId != null">
        group_id = #{record.groupId,jdbcType=INTEGER},
      </if>
      <if test="record.projectId != null">
        project_id = #{record.projectId,jdbcType=INTEGER},
      </if>
      <if test="record.planDetailsId != null">
        plan_details_id = #{record.planDetailsId,jdbcType=INTEGER},
      </if>
      <if test="record.declareId != null">
        declare_id = #{record.declareId,jdbcType=INTEGER},
      </if>
      <if test="record.inventoryContent != null">
        inventory_content = #{record.inventoryContent,jdbcType=INTEGER},
      </if>
      <if test="record.areConsistent != null">
        are_consistent = #{record.areConsistent,jdbcType=VARCHAR},
      </if>
      <if test="record.registration != null">
        registration = #{record.registration,jdbcType=VARCHAR},
      </if>
      <if test="record.actual != null">
        actual = #{record.actual,jdbcType=VARCHAR},
      </if>
      <if test="record.differenceReason != null">
        difference_reason = #{record.differenceReason,jdbcType=VARCHAR},
      </if>
      <if test="record.credential != null">
        credential = #{record.credential,jdbcType=VARCHAR},
      </if>
      <if test="record.credentialAccessory != null">
        credential_accessory = #{record.credentialAccessory,jdbcType=VARCHAR},
      </if>
      <if test="record.voucher != null">
        voucher = #{record.voucher,jdbcType=VARCHAR},
      </if>
      <if test="record.surveyTime != null">
        survey_time = #{record.surveyTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.sureConsistent != null">
        sure_consistent = #{record.sureConsistent,jdbcType=VARCHAR},
      </if>
      <if test="record.creator != null">
        creator = #{record.creator,jdbcType=VARCHAR},
      </if>
      <if test="record.gmtCreated != null">
        gmt_created = #{record.gmtCreated,jdbcType=TIMESTAMP},
      </if>
      <if test="record.gmtModified != null">
        gmt_modified = #{record.gmtModified,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update tb_survey_asset_inventory_content
    set id = #{record.id,jdbcType=INTEGER},
      master_id = #{record.masterId,jdbcType=INTEGER},
      group_id = #{record.groupId,jdbcType=INTEGER},
      project_id = #{record.projectId,jdbcType=INTEGER},
      plan_details_id = #{record.planDetailsId,jdbcType=INTEGER},
      declare_id = #{record.declareId,jdbcType=INTEGER},
      inventory_content = #{record.inventoryContent,jdbcType=INTEGER},
      are_consistent = #{record.areConsistent,jdbcType=VARCHAR},
      registration = #{record.registration,jdbcType=VARCHAR},
      actual = #{record.actual,jdbcType=VARCHAR},
      difference_reason = #{record.differenceReason,jdbcType=VARCHAR},
      credential = #{record.credential,jdbcType=VARCHAR},
      credential_accessory = #{record.credentialAccessory,jdbcType=VARCHAR},
      voucher = #{record.voucher,jdbcType=VARCHAR},
      survey_time = #{record.surveyTime,jdbcType=TIMESTAMP},
      sure_consistent = #{record.sureConsistent,jdbcType=VARCHAR},
      creator = #{record.creator,jdbcType=VARCHAR},
      gmt_created = #{record.gmtCreated,jdbcType=TIMESTAMP},
      gmt_modified = #{record.gmtModified,jdbcType=TIMESTAMP}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.copower.pmcc.assess.dal.basis.entity.SurveyAssetInventoryContent">
    update tb_survey_asset_inventory_content
    <set>
      <if test="masterId != null">
        master_id = #{masterId,jdbcType=INTEGER},
      </if>
      <if test="groupId != null">
        group_id = #{groupId,jdbcType=INTEGER},
      </if>
      <if test="projectId != null">
        project_id = #{projectId,jdbcType=INTEGER},
      </if>
      <if test="planDetailsId != null">
        plan_details_id = #{planDetailsId,jdbcType=INTEGER},
      </if>
      <if test="declareId != null">
        declare_id = #{declareId,jdbcType=INTEGER},
      </if>
      <if test="inventoryContent != null">
        inventory_content = #{inventoryContent,jdbcType=INTEGER},
      </if>
      <if test="areConsistent != null">
        are_consistent = #{areConsistent,jdbcType=VARCHAR},
      </if>
      <if test="registration != null">
        registration = #{registration,jdbcType=VARCHAR},
      </if>
      <if test="actual != null">
        actual = #{actual,jdbcType=VARCHAR},
      </if>
      <if test="differenceReason != null">
        difference_reason = #{differenceReason,jdbcType=VARCHAR},
      </if>
      <if test="credential != null">
        credential = #{credential,jdbcType=VARCHAR},
      </if>
      <if test="credentialAccessory != null">
        credential_accessory = #{credentialAccessory,jdbcType=VARCHAR},
      </if>
      <if test="voucher != null">
        voucher = #{voucher,jdbcType=VARCHAR},
      </if>
      <if test="surveyTime != null">
        survey_time = #{surveyTime,jdbcType=TIMESTAMP},
      </if>
      <if test="sureConsistent != null">
        sure_consistent = #{sureConsistent,jdbcType=VARCHAR},
      </if>
      <if test="creator != null">
        creator = #{creator,jdbcType=VARCHAR},
      </if>
      <if test="gmtCreated != null">
        gmt_created = #{gmtCreated,jdbcType=TIMESTAMP},
      </if>
      <if test="gmtModified != null">
        gmt_modified = #{gmtModified,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.copower.pmcc.assess.dal.basis.entity.SurveyAssetInventoryContent">
    update tb_survey_asset_inventory_content
    set master_id = #{masterId,jdbcType=INTEGER},
      group_id = #{groupId,jdbcType=INTEGER},
      project_id = #{projectId,jdbcType=INTEGER},
      plan_details_id = #{planDetailsId,jdbcType=INTEGER},
      declare_id = #{declareId,jdbcType=INTEGER},
      inventory_content = #{inventoryContent,jdbcType=INTEGER},
      are_consistent = #{areConsistent,jdbcType=VARCHAR},
      registration = #{registration,jdbcType=VARCHAR},
      actual = #{actual,jdbcType=VARCHAR},
      difference_reason = #{differenceReason,jdbcType=VARCHAR},
      credential = #{credential,jdbcType=VARCHAR},
      credential_accessory = #{credentialAccessory,jdbcType=VARCHAR},
      voucher = #{voucher,jdbcType=VARCHAR},
      survey_time = #{surveyTime,jdbcType=TIMESTAMP},
      sure_consistent = #{sureConsistent,jdbcType=VARCHAR},
      creator = #{creator,jdbcType=VARCHAR},
      gmt_created = #{gmtCreated,jdbcType=TIMESTAMP},
      gmt_modified = #{gmtModified,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>