<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.copower.pmcc.assess.dal.basis.mapper.ToolMapHandleMapper" >
  <resultMap id="BaseResultMap" type="com.copower.pmcc.assess.dal.basis.entity.ToolMapHandle" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="type" property="type" jdbcType="VARCHAR" />
    <result column="lat" property="lat" jdbcType="DECIMAL" />
    <result column="view_mode" property="viewMode" jdbcType="VARCHAR" />
    <result column="radius" property="radius" jdbcType="DECIMAL" />
    <result column="lng" property="lng" jdbcType="DECIMAL" />
    <result column="zoom" property="zoom" jdbcType="INTEGER" />
    <result column="deg" property="deg" jdbcType="DECIMAL" />
    <result column="center_lat" property="centerLat" jdbcType="DECIMAL" />
    <result column="center_lng" property="centerLng" jdbcType="DECIMAL" />
    <result column="instantaneous_life_data" property="instantaneousLifeData" jdbcType="VARCHAR" />
    <result column="attachment_id" property="attachmentId" jdbcType="INTEGER" />
    <result column="draw_state" property="drawState" jdbcType="VARCHAR" />
    <result column="view_state" property="viewState" jdbcType="VARCHAR" />
    <result column="storage_state" property="storageState" jdbcType="VARCHAR" />
    <result column="remark" property="remark" jdbcType="VARCHAR" />
    <result column="creator" property="creator" jdbcType="VARCHAR" />
    <result column="gmt_created" property="gmtCreated" jdbcType="TIMESTAMP" />
    <result column="gmt_modified" property="gmtModified" jdbcType="TIMESTAMP" />
    <result column="table_id" property="tableId" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, name, type, lat, view_mode, radius, lng, zoom, deg, center_lat, center_lng, instantaneous_life_data, 
    attachment_id, draw_state, view_state, storage_state, remark, creator, gmt_created, 
    gmt_modified, table_id
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.copower.pmcc.assess.dal.basis.entity.ToolMapHandleExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from tb_tool_map_handle
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from tb_tool_map_handle
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from tb_tool_map_handle
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.copower.pmcc.assess.dal.basis.entity.ToolMapHandleExample" >
    delete from tb_tool_map_handle
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.copower.pmcc.assess.dal.basis.entity.ToolMapHandle" >
    <selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into tb_tool_map_handle (name, type, lat, 
      view_mode, radius, lng, 
      zoom, deg, center_lat, 
      center_lng, instantaneous_life_data, attachment_id, 
      draw_state, view_state, storage_state, 
      remark, creator, gmt_created, 
      gmt_modified, table_id)
    values (#{name,jdbcType=VARCHAR}, #{type,jdbcType=VARCHAR}, #{lat,jdbcType=DECIMAL}, 
      #{viewMode,jdbcType=VARCHAR}, #{radius,jdbcType=DECIMAL}, #{lng,jdbcType=DECIMAL}, 
      #{zoom,jdbcType=INTEGER}, #{deg,jdbcType=DECIMAL}, #{centerLat,jdbcType=DECIMAL}, 
      #{centerLng,jdbcType=DECIMAL}, #{instantaneousLifeData,jdbcType=VARCHAR}, #{attachmentId,jdbcType=INTEGER}, 
      #{drawState,jdbcType=VARCHAR}, #{viewState,jdbcType=VARCHAR}, #{storageState,jdbcType=VARCHAR}, 
      #{remark,jdbcType=VARCHAR}, #{creator,jdbcType=VARCHAR}, #{gmtCreated,jdbcType=TIMESTAMP}, 
      #{gmtModified,jdbcType=TIMESTAMP}, #{tableId,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.copower.pmcc.assess.dal.basis.entity.ToolMapHandle" >
    <selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into tb_tool_map_handle
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="name != null" >
        name,
      </if>
      <if test="type != null" >
        type,
      </if>
      <if test="lat != null" >
        lat,
      </if>
      <if test="viewMode != null" >
        view_mode,
      </if>
      <if test="radius != null" >
        radius,
      </if>
      <if test="lng != null" >
        lng,
      </if>
      <if test="zoom != null" >
        zoom,
      </if>
      <if test="deg != null" >
        deg,
      </if>
      <if test="centerLat != null" >
        center_lat,
      </if>
      <if test="centerLng != null" >
        center_lng,
      </if>
      <if test="instantaneousLifeData != null" >
        instantaneous_life_data,
      </if>
      <if test="attachmentId != null" >
        attachment_id,
      </if>
      <if test="drawState != null" >
        draw_state,
      </if>
      <if test="viewState != null" >
        view_state,
      </if>
      <if test="storageState != null" >
        storage_state,
      </if>
      <if test="remark != null" >
        remark,
      </if>
      <if test="creator != null" >
        creator,
      </if>
      <if test="gmtCreated != null" >
        gmt_created,
      </if>
      <if test="gmtModified != null" >
        gmt_modified,
      </if>
      <if test="tableId != null" >
        table_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="type != null" >
        #{type,jdbcType=VARCHAR},
      </if>
      <if test="lat != null" >
        #{lat,jdbcType=DECIMAL},
      </if>
      <if test="viewMode != null" >
        #{viewMode,jdbcType=VARCHAR},
      </if>
      <if test="radius != null" >
        #{radius,jdbcType=DECIMAL},
      </if>
      <if test="lng != null" >
        #{lng,jdbcType=DECIMAL},
      </if>
      <if test="zoom != null" >
        #{zoom,jdbcType=INTEGER},
      </if>
      <if test="deg != null" >
        #{deg,jdbcType=DECIMAL},
      </if>
      <if test="centerLat != null" >
        #{centerLat,jdbcType=DECIMAL},
      </if>
      <if test="centerLng != null" >
        #{centerLng,jdbcType=DECIMAL},
      </if>
      <if test="instantaneousLifeData != null" >
        #{instantaneousLifeData,jdbcType=VARCHAR},
      </if>
      <if test="attachmentId != null" >
        #{attachmentId,jdbcType=INTEGER},
      </if>
      <if test="drawState != null" >
        #{drawState,jdbcType=VARCHAR},
      </if>
      <if test="viewState != null" >
        #{viewState,jdbcType=VARCHAR},
      </if>
      <if test="storageState != null" >
        #{storageState,jdbcType=VARCHAR},
      </if>
      <if test="remark != null" >
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="creator != null" >
        #{creator,jdbcType=VARCHAR},
      </if>
      <if test="gmtCreated != null" >
        #{gmtCreated,jdbcType=TIMESTAMP},
      </if>
      <if test="gmtModified != null" >
        #{gmtModified,jdbcType=TIMESTAMP},
      </if>
      <if test="tableId != null" >
        #{tableId,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.copower.pmcc.assess.dal.basis.entity.ToolMapHandleExample" resultType="java.lang.Integer" >
    select count(*) from tb_tool_map_handle
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update tb_tool_map_handle
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.name != null" >
        name = #{record.name,jdbcType=VARCHAR},
      </if>
      <if test="record.type != null" >
        type = #{record.type,jdbcType=VARCHAR},
      </if>
      <if test="record.lat != null" >
        lat = #{record.lat,jdbcType=DECIMAL},
      </if>
      <if test="record.viewMode != null" >
        view_mode = #{record.viewMode,jdbcType=VARCHAR},
      </if>
      <if test="record.radius != null" >
        radius = #{record.radius,jdbcType=DECIMAL},
      </if>
      <if test="record.lng != null" >
        lng = #{record.lng,jdbcType=DECIMAL},
      </if>
      <if test="record.zoom != null" >
        zoom = #{record.zoom,jdbcType=INTEGER},
      </if>
      <if test="record.deg != null" >
        deg = #{record.deg,jdbcType=DECIMAL},
      </if>
      <if test="record.centerLat != null" >
        center_lat = #{record.centerLat,jdbcType=DECIMAL},
      </if>
      <if test="record.centerLng != null" >
        center_lng = #{record.centerLng,jdbcType=DECIMAL},
      </if>
      <if test="record.instantaneousLifeData != null" >
        instantaneous_life_data = #{record.instantaneousLifeData,jdbcType=VARCHAR},
      </if>
      <if test="record.attachmentId != null" >
        attachment_id = #{record.attachmentId,jdbcType=INTEGER},
      </if>
      <if test="record.drawState != null" >
        draw_state = #{record.drawState,jdbcType=VARCHAR},
      </if>
      <if test="record.viewState != null" >
        view_state = #{record.viewState,jdbcType=VARCHAR},
      </if>
      <if test="record.storageState != null" >
        storage_state = #{record.storageState,jdbcType=VARCHAR},
      </if>
      <if test="record.remark != null" >
        remark = #{record.remark,jdbcType=VARCHAR},
      </if>
      <if test="record.creator != null" >
        creator = #{record.creator,jdbcType=VARCHAR},
      </if>
      <if test="record.gmtCreated != null" >
        gmt_created = #{record.gmtCreated,jdbcType=TIMESTAMP},
      </if>
      <if test="record.gmtModified != null" >
        gmt_modified = #{record.gmtModified,jdbcType=TIMESTAMP},
      </if>
      <if test="record.tableId != null" >
        table_id = #{record.tableId,jdbcType=INTEGER},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update tb_tool_map_handle
    set id = #{record.id,jdbcType=INTEGER},
      name = #{record.name,jdbcType=VARCHAR},
      type = #{record.type,jdbcType=VARCHAR},
      lat = #{record.lat,jdbcType=DECIMAL},
      view_mode = #{record.viewMode,jdbcType=VARCHAR},
      radius = #{record.radius,jdbcType=DECIMAL},
      lng = #{record.lng,jdbcType=DECIMAL},
      zoom = #{record.zoom,jdbcType=INTEGER},
      deg = #{record.deg,jdbcType=DECIMAL},
      center_lat = #{record.centerLat,jdbcType=DECIMAL},
      center_lng = #{record.centerLng,jdbcType=DECIMAL},
      instantaneous_life_data = #{record.instantaneousLifeData,jdbcType=VARCHAR},
      attachment_id = #{record.attachmentId,jdbcType=INTEGER},
      draw_state = #{record.drawState,jdbcType=VARCHAR},
      view_state = #{record.viewState,jdbcType=VARCHAR},
      storage_state = #{record.storageState,jdbcType=VARCHAR},
      remark = #{record.remark,jdbcType=VARCHAR},
      creator = #{record.creator,jdbcType=VARCHAR},
      gmt_created = #{record.gmtCreated,jdbcType=TIMESTAMP},
      gmt_modified = #{record.gmtModified,jdbcType=TIMESTAMP},
      table_id = #{record.tableId,jdbcType=INTEGER}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.copower.pmcc.assess.dal.basis.entity.ToolMapHandle" >
    update tb_tool_map_handle
    <set >
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="type != null" >
        type = #{type,jdbcType=VARCHAR},
      </if>
      <if test="lat != null" >
        lat = #{lat,jdbcType=DECIMAL},
      </if>
      <if test="viewMode != null" >
        view_mode = #{viewMode,jdbcType=VARCHAR},
      </if>
      <if test="radius != null" >
        radius = #{radius,jdbcType=DECIMAL},
      </if>
      <if test="lng != null" >
        lng = #{lng,jdbcType=DECIMAL},
      </if>
      <if test="zoom != null" >
        zoom = #{zoom,jdbcType=INTEGER},
      </if>
      <if test="deg != null" >
        deg = #{deg,jdbcType=DECIMAL},
      </if>
      <if test="centerLat != null" >
        center_lat = #{centerLat,jdbcType=DECIMAL},
      </if>
      <if test="centerLng != null" >
        center_lng = #{centerLng,jdbcType=DECIMAL},
      </if>
      <if test="instantaneousLifeData != null" >
        instantaneous_life_data = #{instantaneousLifeData,jdbcType=VARCHAR},
      </if>
      <if test="attachmentId != null" >
        attachment_id = #{attachmentId,jdbcType=INTEGER},
      </if>
      <if test="drawState != null" >
        draw_state = #{drawState,jdbcType=VARCHAR},
      </if>
      <if test="viewState != null" >
        view_state = #{viewState,jdbcType=VARCHAR},
      </if>
      <if test="storageState != null" >
        storage_state = #{storageState,jdbcType=VARCHAR},
      </if>
      <if test="remark != null" >
        remark = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="creator != null" >
        creator = #{creator,jdbcType=VARCHAR},
      </if>
      <if test="gmtCreated != null" >
        gmt_created = #{gmtCreated,jdbcType=TIMESTAMP},
      </if>
      <if test="gmtModified != null" >
        gmt_modified = #{gmtModified,jdbcType=TIMESTAMP},
      </if>
      <if test="tableId != null" >
        table_id = #{tableId,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.copower.pmcc.assess.dal.basis.entity.ToolMapHandle" >
    update tb_tool_map_handle
    set name = #{name,jdbcType=VARCHAR},
      type = #{type,jdbcType=VARCHAR},
      lat = #{lat,jdbcType=DECIMAL},
      view_mode = #{viewMode,jdbcType=VARCHAR},
      radius = #{radius,jdbcType=DECIMAL},
      lng = #{lng,jdbcType=DECIMAL},
      zoom = #{zoom,jdbcType=INTEGER},
      deg = #{deg,jdbcType=DECIMAL},
      center_lat = #{centerLat,jdbcType=DECIMAL},
      center_lng = #{centerLng,jdbcType=DECIMAL},
      instantaneous_life_data = #{instantaneousLifeData,jdbcType=VARCHAR},
      attachment_id = #{attachmentId,jdbcType=INTEGER},
      draw_state = #{drawState,jdbcType=VARCHAR},
      view_state = #{viewState,jdbcType=VARCHAR},
      storage_state = #{storageState,jdbcType=VARCHAR},
      remark = #{remark,jdbcType=VARCHAR},
      creator = #{creator,jdbcType=VARCHAR},
      gmt_created = #{gmtCreated,jdbcType=TIMESTAMP},
      gmt_modified = #{gmtModified,jdbcType=TIMESTAMP},
      table_id = #{tableId,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>