<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.copower.pmcc.assess.dal.basis.custom.mapper.CustomProjectInfoMapper">
    <resultMap id="BaseResultMap" type="com.copower.pmcc.assess.dal.basis.entity.ProjectInfo">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="project_class_id" property="projectClassId" jdbcType="INTEGER"/>
        <result column="project_type_id" property="projectTypeId" jdbcType="INTEGER"/>
        <result column="project_category_id" property="projectCategoryId" jdbcType="INTEGER"/>
        <result column="project_name" property="projectName" jdbcType="VARCHAR"/>
        <result column="urgency" property="urgency" jdbcType="INTEGER"/>
        <result column="province" property="province" jdbcType="VARCHAR"/>
        <result column="city" property="city" jdbcType="VARCHAR"/>
        <result column="district" property="district" jdbcType="VARCHAR"/>
        <result column="valuation_date" property="valuationDate" jdbcType="TIMESTAMP"/>
        <result column="entrust_purpose" property="entrustPurpose" jdbcType="INTEGER"/>
        <result column="value_type" property="valueType" jdbcType="INTEGER"/>
        <result column="loan_type" property="loanType" jdbcType="INTEGER"/>
        <result column="department_id" property="departmentId" jdbcType="INTEGER"/>
        <result column="remarks" property="remarks" jdbcType="VARCHAR"/>
        <result column="complete_date_plan" property="completeDatePlan" jdbcType="TIMESTAMP"/>
        <result column="complete_date_actual" property="completeDateActual" jdbcType="TIMESTAMP"/>
        <result column="complete_date_start" property="completeDateStart" jdbcType="TIMESTAMP"/>
        <result column="process_ins_id" property="processInsId" jdbcType="VARCHAR"/>
        <result column="status" property="status" jdbcType="VARCHAR"/>
        <result column="project_status" property="projectStatus" jdbcType="VARCHAR"/>
        <result column="public_project_id" property="publicProjectId" jdbcType="INTEGER"/>
        <result column="remark_entrust_purpose" property="remarkEntrustPurpose" jdbcType="VARCHAR"/>
        <result column="remark_value_type" property="remarkValueType" jdbcType="VARCHAR"/>
        <result column="creator" property="creator" jdbcType="VARCHAR"/>
        <result column="gmt_created" property="gmtCreated" jdbcType="TIMESTAMP"/>
        <result column="gmt_modified" property="gmtModified" jdbcType="TIMESTAMP"/>
        <result column="assign_process_ins_id" property="assignProcessInsId" jdbcType="VARCHAR"/>
        <result column="assign_status" property="assignStatus" jdbcType="VARCHAR"/>
    </resultMap>

    <select id="getProjectListByUserAccount" parameterType="com.copower.pmcc.assess.dto.input.project.QueryProjectInfo"
            resultMap="BaseResultMap">
        SELECT A.* FROM tb_project_info A LEFT JOIN tb_project_member B on A.id=B.project_id
        LEFT JOIN tb_initiate_consignor D on A.id=D.project_id LEFT JOIN tb_initiate_unit_information E on
        A.id=E.project_id
        WHERE 1=1
        <if test="queryCreator!='' and queryCreator!=null">
            AND (A.creator = #{queryCreator})
        </if>
        <if test="queryManager!='' and queryManager!=null">
            AND (B.user_account_manager = #{queryManager})
        </if>
        <if test="queryMember!='' and queryMember!=null">
            AND (B.user_account_member LIKE
            CONCAT(CONCAT('%',#{queryMember}), '%'))
        </if>
        <if test="userAccount!=null and userAccount!='' ">
            AND (B.user_account_manager = #{userAccount} OR B.user_account_member LIKE
            CONCAT(CONCAT('%',#{userAccount}), '%'))
        </if>
        <if test="projectName!=null and projectName!=''">
            AND A.project_name LIKE CONCAT(CONCAT('%', #{projectName}), '%')
        </if>
        <if test="projectStatus!=null and projectStatus!=''">
            AND A.project_status = #{projectStatus}
        </if>
        <if test="entrustPurpose!=null">
            AND A.entrust_purpose = #{entrustPurpose}
        </if>
        <if test="bisAssessmentFinish!=null">
            AND A.bis_assessment_finish = #{bisAssessmentFinish}
        </if>
        <if test="queryTimeStart!=null">
            AND A.gmt_created &gt;= #{queryTimeStart}
        </if>
        <if test="queryTimeEnd!=null">
            AND A.gmt_created &lt;= #{queryTimeEnd}
        </if>
        <if test="queryConsignorType != null">
            <if test="queryConsignor!=null and queryConsignor!=''">
                <if test="queryConsignorType == 0">
                    AND D.cs_name LIKE CONCAT(CONCAT('%', #{queryConsignor}), '%')
                </if>
                <if test="queryConsignorType == 1">
                    AND D.cs_entrustment_unit LIKE CONCAT(CONCAT('%', #{queryConsignor}), '%')
                </if>
            </if>
        </if>
        <if test="queryUseUnit!=null">
            AND E.u_use_unit = #{queryUseUnit}
        </if>
        <if test="queryUseUnitName!=null and queryUseUnitName!=''">
            AND E.u_use_unit_name LIKE CONCAT(CONCAT('%', #{queryUseUnitName}), '%')
        </if>
        <if test="queryEstateName!=null and queryEstateName!=''">
            AND A.estate_name LIKE CONCAT(CONCAT('%', #{queryEstateName}), '%')
        </if>
        <if test="queryLoanType!=null">
            AND A.loan_type = #{queryLoanType}
        </if>
        <if test="queryDepartmentId!=null">
            AND A.department_id = #{queryDepartmentId}
        </if>
        <if test="queryProjectCategoryId!=null">
            AND A.project_category_id = #{queryProjectCategoryId}
        </if>
        <if test="userAccountList!=null">
            AND B.user_account_manager in
            <foreach item="item" index="index" collection="userAccountList" open="(" separator="," close=")">#{item,jdbcType=VARCHAR}</foreach>
        </if>
        <if test="departmentIdList!=null">
            AND A.department_id in
            <foreach item="item" index="index" collection="departmentIdList" open="(" separator="," close=")">#{item}</foreach>
        </if>
        ORDER BY A.id DESC
    </select>
</mapper>