<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.copower.pmcc.assess.dal.basis.custom.mapper.CustomReportGongShangBankMapper">

    <resultMap id="BaseResultMap"
               type="com.copower.pmcc.assess.dal.basis.custom.entity.CustomReportGongShangBank">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="project_id" property="projectId" jdbcType="INTEGER"/>
        <result column="number_value" property="numberValue" jdbcType="VARCHAR"/>
        <result column="report_type" property="reportType" jdbcType="INTEGER" />
        <result column="u_use_unit_name" property="unitName" jdbcType="VARCHAR"/>
        <result column="project_category_id" property="projectCategoryId" jdbcType="INTEGER" />
        <result column="investigations_start_date" property="checkTime" jdbcType="TIMESTAMP"/>
        <result column="contract_price" property="assessCost" jdbcType="DECIMAL"/>
        <result column="area_id" property="areaId" jdbcType="INTEGER"/>
        <result column="preaudit_number_date" property="preauditNumberDate" jdbcType="TIMESTAMP"/>
        <result column="result_number_date" property="resultNumberDate" jdbcType="TIMESTAMP"/>
    </resultMap>

    <select id="getCustomReportGongShangBankList" parameterType="map" resultMap="BaseResultMap">
        select distinct
        A.id,A.project_id,A.number_value, A.report_type,E.u_use_unit_name,D.investigations_start_date,
        B.project_category_id,A.area_id,B.contract_price, B.preaudit_number_date, B.result_number_date
        from tb_project_number_record A
        LEFT JOIN tb_project_info B ON A.project_id = B.id
        LEFT JOIN tb_declare_apply C ON A.project_id = C.project_id
        LEFT JOIN tb_generate_report_info D ON A.project_id = D.project_id
        LEFT JOIN tb_initiate_unit_information E ON A.project_id = E.project_id
        WHERE 1=1
        and bis_delete = false
        <if test="numberValue!=null and numberValue!=''">
            AND (A.number_value LIKE
            CONCAT(CONCAT('%',#{numberValue}), '%'))
        </if>
        <if test="unitName!=null and unitName!=''">
            AND (E.u_use_unit_name LIKE
            CONCAT(CONCAT('%',#{unitName}), '%'))
        </if>
        <if test="reportType!=null and consultationId==null">
            AND A.report_type = #{reportType}
        </if>
        <if test="reportType!=null and consultationId!=null">
            AND (A.report_type = #{reportType} or A.report_type = #{consultationId})
        </if>
        <if test="previewsStartDate!=null">
            AND B.preaudit_number_date &gt;= #{previewsStartDate}
        </if>
        <if test="previewsEndDate!=null">
            AND B.preaudit_number_date &lt;= #{previewsEndDate}
        </if>
        <if test="resultStartDate!=null">
            AND B.result_number_date >= #{resultStartDate}
        </if>
        <if test="resultEndDate!=null">
            AND B.result_number_date &lt;= #{resultEndDate}
        </if>
    </select>
</mapper>