<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.copower.pmcc.assess.dal.basis.custom.mapper.CustomCaseMapper">
    <resultMap id="BaseResultMap" type="com.copower.pmcc.assess.dal.basis.custom.entity.CustomCaseEntity">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="name" property="name" jdbcType="VARCHAR"/>
        <result column="version" property="version" jdbcType="INTEGER"/>
    </resultMap>
    <select id="getCaseEstateList" parameterType="map" resultMap="BaseResultMap">
        SELECT id,`name`,`type`,version FROM (
        SELECT DISTINCT id,`name`,`type`,version FROM tb_basic_estate where bis_case=1
        <if test="name!=null and name!=''">
            AND `name` LIKE CONCAT(CONCAT('%', #{name}), '%')
        </if>
        <if test="province!=null and province!=''">
            AND province = #{province}
        </if>
        <if test="city!=null and city!=''">
            AND city = #{city}
        </if>
        <if test="district!=null and district!=''">
            AND district = #{district}
        </if>
        ORDER BY version DESC,id DESC) AS T
        GROUP BY `name` ORDER BY version DESC,NAME
    </select>

    <select id="getCaseBuildingList" parameterType="map" resultMap="BaseResultMap">
        SELECT id,building_number AS `name`,version FROM (
        SELECT DISTINCT id,building_number,version FROM tb_basic_building WHERE bis_case=1
        <if test="buildingNumber!=null and buildingNumber!=''">
            AND building_number LIKE CONCAT(CONCAT('%', #{buildingNumber}), '%')
        </if>
        <if test="estateId!=null">
            AND estate_id=#{estateId}
        </if>
        ORDER BY version DESC,id DESC) AS T
        GROUP BY building_number ORDER BY version DESC,building_number
    </select>

    <select id="getCaseUnitList" parameterType="map" resultMap="BaseResultMap">
        SELECT id,unit_number AS `name`,version FROM (
        SELECT DISTINCT id,unit_number,version FROM tb_basic_unit WHERE bis_case=1
        <if test="unitNumber!=null and unitNumber!=''">
            AND unit_number LIKE CONCAT(CONCAT('%', #{unitNumber}), '%')
        </if>
        <if test="buildingId!=null">
            AND building_id=#{buildingId}
        </if>
        ORDER BY version DESC,id DESC) AS T
        GROUP BY unit_number ORDER BY version DESC,unit_number
    </select>

    <select id="getCaseHouseList" parameterType="map" resultMap="BaseResultMap">
        SELECT id,house_number AS `name`,version FROM (
        SELECT DISTINCT id,house_number,version FROM tb_basic_house WHERE bis_case=1
        <if test="houseNumber!=null and houseNumber!=''">
            AND house_number LIKE CONCAT(CONCAT('%', #{houseNumber}), '%')
        </if>
        <if test="unitId!=null">
            AND unit_id=#{unitId}
        </if>
        ORDER BY version DESC,id DESC) AS T
        GROUP BY house_number ORDER BY version DESC,house_number
    </select>

    <sql id="Base_Column_ListCaseBaseHouse">
    id, case_house_id, type, province, city, district, block_name, full_name, street,
    practical_use, trading_type, trading_time, trading_unit_price, version, creator,
    gmt_created, gmt_modified, house_type, house_category, area, estate_name, deal_type,
    current_price, consult_price, assess_standard_date, realization_ratios, realization_cycle,
    deal_part_info, approver,bis_from_self,bis_newest
    </sql>

    <select id="findReportApplyStatistics" parameterType="map" resultType="com.copower.pmcc.assess.dto.input.StatisticsDto">
        SELECT count(*) as number ,creator as name from tb_basic_house_case_summary  where 1=1 and bis_newest = true
        <if test="basicHouseCaseSummary.blockName != null and basicHouseCaseSummary.blockName!=''">
            and block_name LIKE concat(concat('%',#{basicHouseCaseSummary.blockName}),'%')
        </if>
        <if test="basicHouseCaseSummary.fullName != null and basicHouseCaseSummary.fullName!=''">
            and full_name LIKE concat(concat('%',#{basicHouseCaseSummary.fullName}),'%')
        </if>
        <if test="basicHouseCaseSummary.street != null and basicHouseCaseSummary.street!=''">
            and street LIKE concat(concat('%',#{basicHouseCaseSummary.street}),'%')
        </if>
        <if test="basicHouseCaseSummary.province != null and basicHouseCaseSummary.province!=''">
            and province = #{basicHouseCaseSummary.province}
        </if>
        <if test="basicHouseCaseSummary.city != null and basicHouseCaseSummary.city!=''">
            and city = #{basicHouseCaseSummary.city}
        </if>
        <if test="basicHouseCaseSummary.district != null and basicHouseCaseSummary.district!=''">
            and district = #{basicHouseCaseSummary.district}
        </if>
        <if test="basicHouseCaseSummary.houseType != null and basicHouseCaseSummary.houseType!=''">
            and house_type = #{basicHouseCaseSummary.houseType}
        </if>
        <if test="basicHouseCaseSummary.tradingType != null">
            and trading_type = #{basicHouseCaseSummary.tradingType}
        </if>
        <if test="basicHouseCaseSummary.approver != null">
            and approver = #{basicHouseCaseSummary.approver}
        </if>
        <if test="basicHouseCaseSummary.creator != null">
            and creator = #{basicHouseCaseSummary.creator}
        </if>
        <if test="tradingTimeStart != null">
            and trading_time <![CDATA[ >= ]]> #{tradingTimeStart}
        </if>
        <if test="tradingTimeEnd != null">
            and trading_time <![CDATA[ <= ]]> #{tradingTimeEnd}
        </if>
        <if test="areaStart != null">
            and area <![CDATA[ >= ]]> #{areaStart}
        </if>
        <if test="areaEnd != null">
            and area <![CDATA[ <= ]]> #{areaEnd}
        </if>


        <if test="startDate != null and endDate != null">
            and gmt_created between   #{startDate} and #{endDate}
        </if>
        <if test="startDate != null and endDate == null">
            and gmt_created <![CDATA[ >= ]]>   #{startDate}
        </if>
        <if test="startDate == null and endDate != null">
            and gmt_created <![CDATA[ <= ]]>   #{endDate}
        </if>
         GROUP BY creator
    </select>

    <select id="findReportAuditStatistics" parameterType="map" resultType="com.copower.pmcc.assess.dto.input.StatisticsDto">
        SELECT count(*) as number ,approver as name from  tb_basic_house_case_summary where 1=1 and bis_newest = true
        <if test="basicHouseCaseSummary.blockName != null and basicHouseCaseSummary.blockName!=''">
            and block_name LIKE concat(concat('%',#{basicHouseCaseSummary.blockName}),'%')
        </if>
        <if test="basicHouseCaseSummary.fullName != null and basicHouseCaseSummary.fullName!=''">
            and full_name LIKE concat(concat('%',#{basicHouseCaseSummary.fullName}),'%')
        </if>
        <if test="basicHouseCaseSummary.street != null and basicHouseCaseSummary.street!=''">
            and street LIKE concat(concat('%',#{basicHouseCaseSummary.street}),'%')
        </if>
        <if test="basicHouseCaseSummary.province != null and basicHouseCaseSummary.province!=''">
            and province = #{basicHouseCaseSummary.province}
        </if>
        <if test="basicHouseCaseSummary.city != null and basicHouseCaseSummary.city!=''">
            and city = #{basicHouseCaseSummary.city}
        </if>
        <if test="basicHouseCaseSummary.district != null and basicHouseCaseSummary.district!=''">
            and district = #{basicHouseCaseSummary.district}
        </if>
        <if test="basicHouseCaseSummary.houseType != null and basicHouseCaseSummary.houseType!=''">
            and house_type = #{basicHouseCaseSummary.houseType}
        </if>
        <if test="basicHouseCaseSummary.tradingType != null">
            and trading_type = #{basicHouseCaseSummary.tradingType}
        </if>
        <if test="basicHouseCaseSummary.approver != null">
            and approver = #{basicHouseCaseSummary.approver}
        </if>
        <if test="basicHouseCaseSummary.creator != null">
            and creator = #{basicHouseCaseSummary.creator}
        </if>
        <if test="tradingTimeStart != null">
            and trading_time <![CDATA[ >= ]]> #{tradingTimeStart}
        </if>
        <if test="tradingTimeEnd != null">
            and trading_time <![CDATA[ <= ]]> #{tradingTimeEnd}
        </if>
        <if test="areaStart != null">
            and area <![CDATA[ >= ]]> #{areaStart}
        </if>
        <if test="areaEnd != null">
            and area <![CDATA[ <= ]]> #{areaEnd}
        </if>


        <if test="startDate != null and endDate != null">
            and gmt_created between   #{startDate} and #{endDate}
        </if>
        <if test="startDate != null and endDate == null">
            and gmt_created <![CDATA[ >= ]]>   #{startDate}
        </if>
        <if test="startDate == null and endDate != null">
            and gmt_created <![CDATA[ <= ]]>   #{endDate}
        </if>

         GROUP BY approver
    </select>

    <select id="findCaseBaseHouseList" parameterType="map"
            resultMap="com.copower.pmcc.assess.dal.basis.mapper.BasicHouseCaseSummaryMapper.BaseResultMap">
        select
        <include refid="Base_Column_ListCaseBaseHouse"/>
        from tb_basic_house_case_summary where 1=1 and bis_newest = true and bis_from_self=FALSE
        <if test="basicHouseCaseSummary.blockName != null and basicHouseCaseSummary.blockName!=''">
            and block_name LIKE concat(concat('%',#{basicHouseCaseSummary.blockName}),'%')
        </if>
        <if test="basicHouseCaseSummary.fullName != null and basicHouseCaseSummary.fullName!=''">
            and full_name LIKE concat(concat('%',#{basicHouseCaseSummary.fullName}),'%')
        </if>
        <if test="basicHouseCaseSummary.street != null and basicHouseCaseSummary.street!=''">
            and street LIKE concat(concat('%',#{basicHouseCaseSummary.street}),'%')
        </if>
        <if test="basicHouseCaseSummary.province != null and basicHouseCaseSummary.province!=''">
            and province = #{basicHouseCaseSummary.province}
        </if>
        <if test="basicHouseCaseSummary.city != null and basicHouseCaseSummary.city!=''">
            and city = #{basicHouseCaseSummary.city}
        </if>
        <if test="basicHouseCaseSummary.district != null and basicHouseCaseSummary.district!=''">
            and district = #{basicHouseCaseSummary.district}
        </if>
        <if test="basicHouseCaseSummary.houseType != null and basicHouseCaseSummary.houseType!=''">
            and house_type = #{basicHouseCaseSummary.houseType}
        </if>
        <if test="basicHouseCaseSummary.tradingType != null">
            and trading_type = #{basicHouseCaseSummary.tradingType}
        </if>
        <if test="basicHouseCaseSummary.approver != null">
            and approver = #{basicHouseCaseSummary.approver}
        </if>
        <if test="basicHouseCaseSummary.creator != null">
            and creator = #{basicHouseCaseSummary.creator}
        </if>
        <if test="tradingTimeStart != null">
            and trading_time <![CDATA[ >= ]]> #{tradingTimeStart}
        </if>
        <if test="tradingTimeEnd != null">
            and trading_time <![CDATA[ <= ]]> #{tradingTimeEnd}
        </if>
        <if test="areaStart != null">
            and area <![CDATA[ >= ]]> #{areaStart}
        </if>
        <if test="areaEnd != null">
            and area <![CDATA[ <= ]]> #{areaEnd}
        </if>


        <if test="startDate != null and endDate != null">
            and gmt_created between   #{startDate} and #{endDate}
        </if>
        <if test="startDate != null and endDate == null">
            and gmt_created <![CDATA[ >= ]]>   #{startDate}
        </if>
        <if test="startDate == null and endDate != null">
            and gmt_created <![CDATA[ <= ]]>   #{endDate}
        </if>
        order by id desc
    </select>

    <sql id="Base_Column_ListCaseBuilding">
        id, estate_id, type, building_number, building_name, floor_count, location, version,
         creator, gmt_created, gmt_modified
    </sql>
    <select id="screenBuildList" parameterType="map"
            resultMap="com.copower.pmcc.assess.dal.basis.mapper.BasicBuildingMapper.BaseResultMap">
        SELECT
        <include refid="Base_Column_ListCaseBuilding"/>
        FROM
        ( SELECT DISTINCT
        <include refid="Base_Column_ListCaseBuilding"/>
        FROM tb_basic_building WHERE 1 = 1 AND estate_id = #{estateId} ORDER BY version DESC ) AS T
        GROUP BY
        building_number
        ORDER BY
        version DESC,
        building_number
    </select>


    <!-- 筛选标注信息中的单元 -->
    <select id="screenUnitList" parameterType="map"
            resultMap="com.copower.pmcc.assess.dal.basis.mapper.BasicUnitMapper.BaseResultMap">
       select * from
        (SELECT DISTINCT id, building_id ,version,unit_number FROM tb_basic_unit WHERE 1 = 1 AND
         building_id = #{buildingId} ORDER BY version DESC )
         AS T GROUP BY unit_number ORDER BY version DESC,unit_number
    </select>

    <!-- 筛选标注信息中的房屋 -->
    <select id="screenHouseList" parameterType="map"
            resultMap="com.copower.pmcc.assess.dal.basis.mapper.BasicHouseMapper.BaseResultMap">
         select * from
        (SELECT DISTINCT id, unit_id ,version,house_number FROM tb_basic_house WHERE 1 = 1 AND     unit_id = #{unitId}
        ORDER BY version DESC )
         AS T GROUP BY house_number ORDER BY version DESC,house_number
    </select>
</mapper>

