<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.copower.pmcc.assess.dal.basis.custom.mapper.CustomProjectMapper">
    <resultMap id="PlanResultMap" type="com.copower.pmcc.assess.dal.basis.custom.entity.CustomProjectPlanCount">
        <result column="work_stage_id" property="workStageId" jdbcType="INTEGER"/>
        <result column="plan_count" property="planCount" jdbcType="INTEGER"/>
    </resultMap>
    <resultMap id="PlanDetailsResultMap" type="com.copower.pmcc.assess.dal.basis.custom.entity.CustomProjectPlanDetailCount">
        <result column="project_phase_id" property="projectPhaseId" jdbcType="INTEGER"/>
        <result column="plan_details_count" property="planDetailsCount" jdbcType="INTEGER"/>
    </resultMap>
    <select id="getPlanCountByMonth" parameterType="map" resultMap="PlanResultMap">
        SELECT work_stage_id,count(*) as plan_count FROM tb_project_plan where project_status='finish'
        <if test="startMonth != null and startMonth!=''">
            and finish_date <![CDATA[ >= ]]>   #{startMonth}
        </if>
        <if test="endMonth != null and endMonth!=''">
            and finish_date <![CDATA[ < ]]>   #{endMonth}
        </if>
        <if test="projectIds != null and projectIds.size()>0">
            and project_id in
            <foreach collection="projectIds" item="projectId" index="index" open="(" close=")" separator=",">
                #{projectId}
            </foreach>
        </if>
        GROUP BY work_stage_id
    </select>

    <select id="getPlanDetailsCountByMonth" parameterType="map" resultMap="PlanDetailsResultMap">
        SELECT project_phase_id,count(*) as plan_details_count FROM tb_project_plan_details where status='finish'
        <if test="startMonth != null and startMonth!=''">
            and task_submit_time <![CDATA[ >= ]]>   #{startMonth}
        </if>
        <if test="endMonth != null and endMonth!=''">
            and task_submit_time <![CDATA[ < ]]>   #{endMonth}
        </if>
        <if test="projectIds != null and projectIds.size()>0">
            and project_id in
            <foreach collection="projectIds" item="projectId" index="index" open="(" close=")" separator=",">
                #{projectId}
            </foreach>
        </if>
        GROUP BY project_phase_id
    </select>
</mapper>

