<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.copower.pmcc.assess.dal.basis.custom.mapper.CustomReportTianFuBankMapper">
    <resultMap id="BaseResultMap"
               type="com.copower.pmcc.assess.dal.basis.custom.entity.CustomReportTianFuBank">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="project_id" property="projectId" jdbcType="INTEGER"/>
        <result column="report_type" property="reportType" jdbcType="INTEGER" />
        <result column="valuation_date" property="valuationDate" jdbcType="TIMESTAMP"/>
        <result column="u_use_unit_name" property="unitName" jdbcType="VARCHAR"/>
        <result column="project_category_id" property="projectCategoryId" jdbcType="INTEGER" />
        <result column="assess_organization" property="assessOrganization" jdbcType="VARCHAR"/>
        <result column="number_value" property="numberValue" jdbcType="VARCHAR"/>
        <result column="contract_price" property="assessCost" jdbcType="DECIMAL"/>
        <result column="area_id" property="areaId" jdbcType="INTEGER"/>


    </resultMap>

    <select id="getCustomReportTianFuBankList" parameterType="map" resultMap="BaseResultMap">
        select
        A.id,A.project_id, A.report_type,B.valuation_date,E.u_use_unit_name,A.number_value,B.project_category_id,
        C.assess_organization,B.contract_price,A.area_id
        from tb_project_number_record A
        LEFT JOIN tb_project_info B ON A.project_id = B.id
        LEFT JOIN tb_declare_apply C ON A.project_id = C.project_id
        LEFT JOIN tb_initiate_unit_information E ON A.project_id = E.project_id
        WHERE 1=1
        and bis_delete = false
        <if test="numberValue!=null and numberValue!=''">
            AND (A.number_value LIKE
            CONCAT(CONCAT('%',#{numberValue}), '%'))
        </if>
        <if test="unitName!=null and unitName!=''">
            AND (E.u_use_unit_name LIKE
            CONCAT(CONCAT('%',#{unitName}), '%'))
        </if>
        <if test="reportType!=null">
            AND A.report_type = #{reportType}
        </if>
        ORDER BY A.id DESC
    </select>
</mapper>