<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.copower.pmcc.assess.dal.basis.custom.mapper.CustomReportJianSheBankMapper">

    <resultMap id="BaseResultMap"
               type="com.copower.pmcc.assess.dal.basis.custom.entity.CustomReportJianSheBank">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="project_id" property="projectId" jdbcType="INTEGER"/>
        <result column="number_value" property="numberValue" jdbcType="VARCHAR"/>
        <result column="report_type" property="reportType" jdbcType="INTEGER" />
        <result column="u_use_unit_name" property="unitName" jdbcType="VARCHAR"/>
        <result column="area_name" property="areaName" jdbcType="VARCHAR"/>
        <result column="loan_type" property="loanType" jdbcType="INTEGER"/>
        <result column="area_id" property="areaId" jdbcType="INTEGER"/>
        <result column="project_category_id" property="projectCategoryId" jdbcType="INTEGER" />
        <result column="contract_price" property="assessCost" jdbcType="DECIMAL"/>
        <result column="gmt_created" property="handleTieme" jdbcType="TIMESTAMP"/>
        <result column="preaudit_number_date" property="preauditNumberDate" jdbcType="TIMESTAMP"/>
        <result column="report_issuance_date" property="reportIssuanceDate" jdbcType="TIMESTAMP"/>
        <result column="assess_organization" property="assessOrganization" jdbcType="VARCHAR"/>
        <result column="qualification_type" property="qualificationType" jdbcType="VARCHAR"/>
        <result column="real_estate_appraiser" property="realEstateAppraiser" jdbcType="VARCHAR"/>
        <result column="result_number_date" property="resultNumberDate" jdbcType="TIMESTAMP"/>
    </resultMap>

    <select id="getCustomReportJianSheBankList" parameterType="map" resultMap="BaseResultMap">
        select distinct
        A.id,A.project_id,A.gmt_created,A.number_value, A.report_type,E.u_use_unit_name,B.loan_type,A.area_id,
        B.project_category_id,B.contract_price,B.preaudit_number_date,C.assess_organization,
        D.report_issuance_date,F.area_name,D.qualification_type,D.real_estate_appraiser, B.result_number_date
        from tb_project_number_record A
        LEFT JOIN tb_project_info B ON A.project_id = B.id
        LEFT JOIN tb_declare_apply C ON A.project_id = C.project_id
        LEFT JOIN tb_generate_report_info D ON A.area_id = D.area_group_id
        LEFT JOIN tb_initiate_unit_information E ON A.project_id = E.project_id
        LEFT JOIN tb_scheme_area_group F ON A.area_id = F.id
        WHERE 1=1
        and bis_delete = false
        <if test="numberValue!=null and numberValue!=''">
            AND (A.number_value LIKE
            CONCAT(CONCAT('%',#{numberValue}), '%'))
        </if>
        <if test="unitName!=null and unitName!=''">
            AND (E.u_use_unit_name LIKE
            CONCAT(CONCAT('%',#{unitName}), '%'))
        </if>
        <if test="reportType!=null and consultationId==null">
            AND A.report_type = #{reportType}
        </if>
        <if test="reportType!=null and consultationId!=null">
            AND (A.report_type = #{reportType} or A.report_type = #{consultationId})
        </if>
        <if test="startDate!=null">
            AND A.gmt_created &gt;= #{startDate}
        </if>
        <if test="endDate!=null">
            AND A.gmt_created &lt;= #{endDate}
        </if>
        GROUP BY A.project_id
    </select>
</mapper>