<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.copower.pmcc.assess.dal.basic.mapper.BasicHouseRoomMapper" >
  <resultMap id="BaseResultMap" type="com.copower.pmcc.assess.dal.basic.entity.BasicHouseRoom" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="house_id" property="houseId" jdbcType="INTEGER" />
    <result column="room_type" property="roomType" jdbcType="INTEGER" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="area" property="area" jdbcType="DECIMAL" />
    <result column="orientation" property="orientation" jdbcType="VARCHAR" />
    <result column="aeration" property="aeration" jdbcType="VARCHAR" />
    <result column="Illumination" property="illumination" jdbcType="VARCHAR" />
    <result column="sound_insulation" property="soundInsulation" jdbcType="VARCHAR" />
    <result column="sunshine" property="sunshine" jdbcType="VARCHAR" />
    <result column="lighting" property="lighting" jdbcType="VARCHAR" />
    <result column="opening" property="opening" jdbcType="VARCHAR" />
    <result column="depth" property="depth" jdbcType="VARCHAR" />
    <result column="layer_height" property="layerHeight" jdbcType="DECIMAL" />
    <result column="clear_height" property="clearHeight" jdbcType="DECIMAL" />
    <result column="creator" property="creator" jdbcType="VARCHAR" />
    <result column="gmt_created" property="gmtCreated" jdbcType="TIMESTAMP" />
    <result column="gmt_modified" property="gmtModified" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, house_id, room_type, name, area, orientation, aeration, Illumination, sound_insulation, 
    sunshine, lighting, opening, depth, layer_height, clear_height, creator, gmt_created, 
    gmt_modified
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.copower.pmcc.assess.dal.basic.entity.BasicHouseRoomExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from tb_basic_house_room
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from tb_basic_house_room
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from tb_basic_house_room
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.copower.pmcc.assess.dal.basic.entity.BasicHouseRoomExample" >
    delete from tb_basic_house_room
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.copower.pmcc.assess.dal.basic.entity.BasicHouseRoom" >
    <selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into tb_basic_house_room (house_id, room_type, name, 
      area, orientation, aeration, 
      Illumination, sound_insulation, sunshine, 
      lighting, opening, depth, 
      layer_height, clear_height, creator, 
      gmt_created, gmt_modified)
    values (#{houseId,jdbcType=INTEGER}, #{roomType,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, 
      #{area,jdbcType=DECIMAL}, #{orientation,jdbcType=VARCHAR}, #{aeration,jdbcType=VARCHAR}, 
      #{illumination,jdbcType=VARCHAR}, #{soundInsulation,jdbcType=VARCHAR}, #{sunshine,jdbcType=VARCHAR}, 
      #{lighting,jdbcType=VARCHAR}, #{opening,jdbcType=VARCHAR}, #{depth,jdbcType=VARCHAR}, 
      #{layerHeight,jdbcType=DECIMAL}, #{clearHeight,jdbcType=DECIMAL}, #{creator,jdbcType=VARCHAR}, 
      #{gmtCreated,jdbcType=TIMESTAMP}, #{gmtModified,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.copower.pmcc.assess.dal.basic.entity.BasicHouseRoom" >
    <selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into tb_basic_house_room
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="houseId != null" >
        house_id,
      </if>
      <if test="roomType != null" >
        room_type,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="area != null" >
        area,
      </if>
      <if test="orientation != null" >
        orientation,
      </if>
      <if test="aeration != null" >
        aeration,
      </if>
      <if test="illumination != null" >
        Illumination,
      </if>
      <if test="soundInsulation != null" >
        sound_insulation,
      </if>
      <if test="sunshine != null" >
        sunshine,
      </if>
      <if test="lighting != null" >
        lighting,
      </if>
      <if test="opening != null" >
        opening,
      </if>
      <if test="depth != null" >
        depth,
      </if>
      <if test="layerHeight != null" >
        layer_height,
      </if>
      <if test="clearHeight != null" >
        clear_height,
      </if>
      <if test="creator != null" >
        creator,
      </if>
      <if test="gmtCreated != null" >
        gmt_created,
      </if>
      <if test="gmtModified != null" >
        gmt_modified,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="houseId != null" >
        #{houseId,jdbcType=INTEGER},
      </if>
      <if test="roomType != null" >
        #{roomType,jdbcType=INTEGER},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="area != null" >
        #{area,jdbcType=DECIMAL},
      </if>
      <if test="orientation != null" >
        #{orientation,jdbcType=VARCHAR},
      </if>
      <if test="aeration != null" >
        #{aeration,jdbcType=VARCHAR},
      </if>
      <if test="illumination != null" >
        #{illumination,jdbcType=VARCHAR},
      </if>
      <if test="soundInsulation != null" >
        #{soundInsulation,jdbcType=VARCHAR},
      </if>
      <if test="sunshine != null" >
        #{sunshine,jdbcType=VARCHAR},
      </if>
      <if test="lighting != null" >
        #{lighting,jdbcType=VARCHAR},
      </if>
      <if test="opening != null" >
        #{opening,jdbcType=VARCHAR},
      </if>
      <if test="depth != null" >
        #{depth,jdbcType=VARCHAR},
      </if>
      <if test="layerHeight != null" >
        #{layerHeight,jdbcType=DECIMAL},
      </if>
      <if test="clearHeight != null" >
        #{clearHeight,jdbcType=DECIMAL},
      </if>
      <if test="creator != null" >
        #{creator,jdbcType=VARCHAR},
      </if>
      <if test="gmtCreated != null" >
        #{gmtCreated,jdbcType=TIMESTAMP},
      </if>
      <if test="gmtModified != null" >
        #{gmtModified,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.copower.pmcc.assess.dal.basic.entity.BasicHouseRoomExample" resultType="java.lang.Integer" >
    select count(*) from tb_basic_house_room
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update tb_basic_house_room
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.houseId != null" >
        house_id = #{record.houseId,jdbcType=INTEGER},
      </if>
      <if test="record.roomType != null" >
        room_type = #{record.roomType,jdbcType=INTEGER},
      </if>
      <if test="record.name != null" >
        name = #{record.name,jdbcType=VARCHAR},
      </if>
      <if test="record.area != null" >
        area = #{record.area,jdbcType=DECIMAL},
      </if>
      <if test="record.orientation != null" >
        orientation = #{record.orientation,jdbcType=VARCHAR},
      </if>
      <if test="record.aeration != null" >
        aeration = #{record.aeration,jdbcType=VARCHAR},
      </if>
      <if test="record.illumination != null" >
        Illumination = #{record.illumination,jdbcType=VARCHAR},
      </if>
      <if test="record.soundInsulation != null" >
        sound_insulation = #{record.soundInsulation,jdbcType=VARCHAR},
      </if>
      <if test="record.sunshine != null" >
        sunshine = #{record.sunshine,jdbcType=VARCHAR},
      </if>
      <if test="record.lighting != null" >
        lighting = #{record.lighting,jdbcType=VARCHAR},
      </if>
      <if test="record.opening != null" >
        opening = #{record.opening,jdbcType=VARCHAR},
      </if>
      <if test="record.depth != null" >
        depth = #{record.depth,jdbcType=VARCHAR},
      </if>
      <if test="record.layerHeight != null" >
        layer_height = #{record.layerHeight,jdbcType=DECIMAL},
      </if>
      <if test="record.clearHeight != null" >
        clear_height = #{record.clearHeight,jdbcType=DECIMAL},
      </if>
      <if test="record.creator != null" >
        creator = #{record.creator,jdbcType=VARCHAR},
      </if>
      <if test="record.gmtCreated != null" >
        gmt_created = #{record.gmtCreated,jdbcType=TIMESTAMP},
      </if>
      <if test="record.gmtModified != null" >
        gmt_modified = #{record.gmtModified,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update tb_basic_house_room
    set id = #{record.id,jdbcType=INTEGER},
      house_id = #{record.houseId,jdbcType=INTEGER},
      room_type = #{record.roomType,jdbcType=INTEGER},
      name = #{record.name,jdbcType=VARCHAR},
      area = #{record.area,jdbcType=DECIMAL},
      orientation = #{record.orientation,jdbcType=VARCHAR},
      aeration = #{record.aeration,jdbcType=VARCHAR},
      Illumination = #{record.illumination,jdbcType=VARCHAR},
      sound_insulation = #{record.soundInsulation,jdbcType=VARCHAR},
      sunshine = #{record.sunshine,jdbcType=VARCHAR},
      lighting = #{record.lighting,jdbcType=VARCHAR},
      opening = #{record.opening,jdbcType=VARCHAR},
      depth = #{record.depth,jdbcType=VARCHAR},
      layer_height = #{record.layerHeight,jdbcType=DECIMAL},
      clear_height = #{record.clearHeight,jdbcType=DECIMAL},
      creator = #{record.creator,jdbcType=VARCHAR},
      gmt_created = #{record.gmtCreated,jdbcType=TIMESTAMP},
      gmt_modified = #{record.gmtModified,jdbcType=TIMESTAMP}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.copower.pmcc.assess.dal.basic.entity.BasicHouseRoom" >
    update tb_basic_house_room
    <set >
      <if test="houseId != null" >
        house_id = #{houseId,jdbcType=INTEGER},
      </if>
      <if test="roomType != null" >
        room_type = #{roomType,jdbcType=INTEGER},
      </if>
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="area != null" >
        area = #{area,jdbcType=DECIMAL},
      </if>
      <if test="orientation != null" >
        orientation = #{orientation,jdbcType=VARCHAR},
      </if>
      <if test="aeration != null" >
        aeration = #{aeration,jdbcType=VARCHAR},
      </if>
      <if test="illumination != null" >
        Illumination = #{illumination,jdbcType=VARCHAR},
      </if>
      <if test="soundInsulation != null" >
        sound_insulation = #{soundInsulation,jdbcType=VARCHAR},
      </if>
      <if test="sunshine != null" >
        sunshine = #{sunshine,jdbcType=VARCHAR},
      </if>
      <if test="lighting != null" >
        lighting = #{lighting,jdbcType=VARCHAR},
      </if>
      <if test="opening != null" >
        opening = #{opening,jdbcType=VARCHAR},
      </if>
      <if test="depth != null" >
        depth = #{depth,jdbcType=VARCHAR},
      </if>
      <if test="layerHeight != null" >
        layer_height = #{layerHeight,jdbcType=DECIMAL},
      </if>
      <if test="clearHeight != null" >
        clear_height = #{clearHeight,jdbcType=DECIMAL},
      </if>
      <if test="creator != null" >
        creator = #{creator,jdbcType=VARCHAR},
      </if>
      <if test="gmtCreated != null" >
        gmt_created = #{gmtCreated,jdbcType=TIMESTAMP},
      </if>
      <if test="gmtModified != null" >
        gmt_modified = #{gmtModified,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.copower.pmcc.assess.dal.basic.entity.BasicHouseRoom" >
    update tb_basic_house_room
    set house_id = #{houseId,jdbcType=INTEGER},
      room_type = #{roomType,jdbcType=INTEGER},
      name = #{name,jdbcType=VARCHAR},
      area = #{area,jdbcType=DECIMAL},
      orientation = #{orientation,jdbcType=VARCHAR},
      aeration = #{aeration,jdbcType=VARCHAR},
      Illumination = #{illumination,jdbcType=VARCHAR},
      sound_insulation = #{soundInsulation,jdbcType=VARCHAR},
      sunshine = #{sunshine,jdbcType=VARCHAR},
      lighting = #{lighting,jdbcType=VARCHAR},
      opening = #{opening,jdbcType=VARCHAR},
      depth = #{depth,jdbcType=VARCHAR},
      layer_height = #{layerHeight,jdbcType=DECIMAL},
      clear_height = #{clearHeight,jdbcType=DECIMAL},
      creator = #{creator,jdbcType=VARCHAR},
      gmt_created = #{gmtCreated,jdbcType=TIMESTAMP},
      gmt_modified = #{gmtModified,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>