<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.copower.pmcc.assess.dal.basic.mapper.BasicEstateLandStateMapper" >
  <resultMap id="BaseResultMap" type="com.copower.pmcc.assess.dal.basic.entity.BasicEstateLandState" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="apply_id" property="applyId" jdbcType="INTEGER" />
    <result column="estate_id" property="estateId" jdbcType="INTEGER" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="land_use_type" property="landUseType" jdbcType="INTEGER" />
    <result column="land_use_category" property="landUseCategory" jdbcType="INTEGER" />
    <result column="land_level" property="landLevel" jdbcType="INTEGER" />
    <result column="land_area" property="landArea" jdbcType="VARCHAR" />
    <result column="east_to" property="eastTo" jdbcType="VARCHAR" />
    <result column="south_to" property="southTo" jdbcType="VARCHAR" />
    <result column="west_to" property="westTo" jdbcType="VARCHAR" />
    <result column="north_to" property="northTo" jdbcType="VARCHAR" />
    <result column="shape_state" property="shapeState" jdbcType="INTEGER" />
    <result column="planeness" property="planeness" jdbcType="INTEGER" />
    <result column="topographic_terrain" property="topographicTerrain" jdbcType="INTEGER" />
    <result column="development_degree" property="developmentDegree" jdbcType="INTEGER" />
    <result column="development_degree_content" property="developmentDegreeContent" jdbcType="VARCHAR" />
    <result column="plot_ratio" property="plotRatio" jdbcType="VARCHAR" />
    <result column="building_density" property="buildingDensity" jdbcType="VARCHAR" />
    <result column="green_space_rate" property="greenSpaceRate" jdbcType="VARCHAR" />
    <result column="compatible_ratio" property="compatibleRatio" jdbcType="VARCHAR" />
    <result column="bearing_capacity" property="bearingCapacity" jdbcType="VARCHAR" />
    <result column="contaminated" property="contaminated" jdbcType="VARCHAR" />
    <result column="ph" property="ph" jdbcType="VARCHAR" />
    <result column="fertility" property="fertility" jdbcType="VARCHAR" />
    <result column="creator" property="creator" jdbcType="VARCHAR" />
    <result column="gmt_created" property="gmtCreated" jdbcType="TIMESTAMP" />
    <result column="gmt_modified" property="gmtModified" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, apply_id, estate_id, name, land_use_type, land_use_category, land_level, land_area, 
    east_to, south_to, west_to, north_to, shape_state, planeness, topographic_terrain, 
    development_degree, development_degree_content, plot_ratio, building_density, green_space_rate, 
    compatible_ratio, bearing_capacity, contaminated, ph, fertility, creator, gmt_created, 
    gmt_modified
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.copower.pmcc.assess.dal.basic.entity.BasicEstateLandStateExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from tb_basic_estate_land_state
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from tb_basic_estate_land_state
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from tb_basic_estate_land_state
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.copower.pmcc.assess.dal.basic.entity.BasicEstateLandStateExample" >
    delete from tb_basic_estate_land_state
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.copower.pmcc.assess.dal.basic.entity.BasicEstateLandState" >
    <selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into tb_basic_estate_land_state (apply_id, estate_id, name, 
      land_use_type, land_use_category, land_level, 
      land_area, east_to, south_to, 
      west_to, north_to, shape_state, 
      planeness, topographic_terrain, development_degree, 
      development_degree_content, plot_ratio, building_density, 
      green_space_rate, compatible_ratio, bearing_capacity, 
      contaminated, ph, fertility, 
      creator, gmt_created, gmt_modified
      )
    values (#{applyId,jdbcType=INTEGER}, #{estateId,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, 
      #{landUseType,jdbcType=INTEGER}, #{landUseCategory,jdbcType=INTEGER}, #{landLevel,jdbcType=INTEGER}, 
      #{landArea,jdbcType=VARCHAR}, #{eastTo,jdbcType=VARCHAR}, #{southTo,jdbcType=VARCHAR}, 
      #{westTo,jdbcType=VARCHAR}, #{northTo,jdbcType=VARCHAR}, #{shapeState,jdbcType=INTEGER}, 
      #{planeness,jdbcType=INTEGER}, #{topographicTerrain,jdbcType=INTEGER}, #{developmentDegree,jdbcType=INTEGER}, 
      #{developmentDegreeContent,jdbcType=VARCHAR}, #{plotRatio,jdbcType=VARCHAR}, #{buildingDensity,jdbcType=VARCHAR}, 
      #{greenSpaceRate,jdbcType=VARCHAR}, #{compatibleRatio,jdbcType=VARCHAR}, #{bearingCapacity,jdbcType=VARCHAR}, 
      #{contaminated,jdbcType=VARCHAR}, #{ph,jdbcType=VARCHAR}, #{fertility,jdbcType=VARCHAR}, 
      #{creator,jdbcType=VARCHAR}, #{gmtCreated,jdbcType=TIMESTAMP}, #{gmtModified,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.copower.pmcc.assess.dal.basic.entity.BasicEstateLandState" >
    <selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into tb_basic_estate_land_state
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="applyId != null" >
        apply_id,
      </if>
      <if test="estateId != null" >
        estate_id,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="landUseType != null" >
        land_use_type,
      </if>
      <if test="landUseCategory != null" >
        land_use_category,
      </if>
      <if test="landLevel != null" >
        land_level,
      </if>
      <if test="landArea != null" >
        land_area,
      </if>
      <if test="eastTo != null" >
        east_to,
      </if>
      <if test="southTo != null" >
        south_to,
      </if>
      <if test="westTo != null" >
        west_to,
      </if>
      <if test="northTo != null" >
        north_to,
      </if>
      <if test="shapeState != null" >
        shape_state,
      </if>
      <if test="planeness != null" >
        planeness,
      </if>
      <if test="topographicTerrain != null" >
        topographic_terrain,
      </if>
      <if test="developmentDegree != null" >
        development_degree,
      </if>
      <if test="developmentDegreeContent != null" >
        development_degree_content,
      </if>
      <if test="plotRatio != null" >
        plot_ratio,
      </if>
      <if test="buildingDensity != null" >
        building_density,
      </if>
      <if test="greenSpaceRate != null" >
        green_space_rate,
      </if>
      <if test="compatibleRatio != null" >
        compatible_ratio,
      </if>
      <if test="bearingCapacity != null" >
        bearing_capacity,
      </if>
      <if test="contaminated != null" >
        contaminated,
      </if>
      <if test="ph != null" >
        ph,
      </if>
      <if test="fertility != null" >
        fertility,
      </if>
      <if test="creator != null" >
        creator,
      </if>
      <if test="gmtCreated != null" >
        gmt_created,
      </if>
      <if test="gmtModified != null" >
        gmt_modified,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="applyId != null" >
        #{applyId,jdbcType=INTEGER},
      </if>
      <if test="estateId != null" >
        #{estateId,jdbcType=INTEGER},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="landUseType != null" >
        #{landUseType,jdbcType=INTEGER},
      </if>
      <if test="landUseCategory != null" >
        #{landUseCategory,jdbcType=INTEGER},
      </if>
      <if test="landLevel != null" >
        #{landLevel,jdbcType=INTEGER},
      </if>
      <if test="landArea != null" >
        #{landArea,jdbcType=VARCHAR},
      </if>
      <if test="eastTo != null" >
        #{eastTo,jdbcType=VARCHAR},
      </if>
      <if test="southTo != null" >
        #{southTo,jdbcType=VARCHAR},
      </if>
      <if test="westTo != null" >
        #{westTo,jdbcType=VARCHAR},
      </if>
      <if test="northTo != null" >
        #{northTo,jdbcType=VARCHAR},
      </if>
      <if test="shapeState != null" >
        #{shapeState,jdbcType=INTEGER},
      </if>
      <if test="planeness != null" >
        #{planeness,jdbcType=INTEGER},
      </if>
      <if test="topographicTerrain != null" >
        #{topographicTerrain,jdbcType=INTEGER},
      </if>
      <if test="developmentDegree != null" >
        #{developmentDegree,jdbcType=INTEGER},
      </if>
      <if test="developmentDegreeContent != null" >
        #{developmentDegreeContent,jdbcType=VARCHAR},
      </if>
      <if test="plotRatio != null" >
        #{plotRatio,jdbcType=VARCHAR},
      </if>
      <if test="buildingDensity != null" >
        #{buildingDensity,jdbcType=VARCHAR},
      </if>
      <if test="greenSpaceRate != null" >
        #{greenSpaceRate,jdbcType=VARCHAR},
      </if>
      <if test="compatibleRatio != null" >
        #{compatibleRatio,jdbcType=VARCHAR},
      </if>
      <if test="bearingCapacity != null" >
        #{bearingCapacity,jdbcType=VARCHAR},
      </if>
      <if test="contaminated != null" >
        #{contaminated,jdbcType=VARCHAR},
      </if>
      <if test="ph != null" >
        #{ph,jdbcType=VARCHAR},
      </if>
      <if test="fertility != null" >
        #{fertility,jdbcType=VARCHAR},
      </if>
      <if test="creator != null" >
        #{creator,jdbcType=VARCHAR},
      </if>
      <if test="gmtCreated != null" >
        #{gmtCreated,jdbcType=TIMESTAMP},
      </if>
      <if test="gmtModified != null" >
        #{gmtModified,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.copower.pmcc.assess.dal.basic.entity.BasicEstateLandStateExample" resultType="java.lang.Integer" >
    select count(*) from tb_basic_estate_land_state
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update tb_basic_estate_land_state
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.applyId != null" >
        apply_id = #{record.applyId,jdbcType=INTEGER},
      </if>
      <if test="record.estateId != null" >
        estate_id = #{record.estateId,jdbcType=INTEGER},
      </if>
      <if test="record.name != null" >
        name = #{record.name,jdbcType=VARCHAR},
      </if>
      <if test="record.landUseType != null" >
        land_use_type = #{record.landUseType,jdbcType=INTEGER},
      </if>
      <if test="record.landUseCategory != null" >
        land_use_category = #{record.landUseCategory,jdbcType=INTEGER},
      </if>
      <if test="record.landLevel != null" >
        land_level = #{record.landLevel,jdbcType=INTEGER},
      </if>
      <if test="record.landArea != null" >
        land_area = #{record.landArea,jdbcType=VARCHAR},
      </if>
      <if test="record.eastTo != null" >
        east_to = #{record.eastTo,jdbcType=VARCHAR},
      </if>
      <if test="record.southTo != null" >
        south_to = #{record.southTo,jdbcType=VARCHAR},
      </if>
      <if test="record.westTo != null" >
        west_to = #{record.westTo,jdbcType=VARCHAR},
      </if>
      <if test="record.northTo != null" >
        north_to = #{record.northTo,jdbcType=VARCHAR},
      </if>
      <if test="record.shapeState != null" >
        shape_state = #{record.shapeState,jdbcType=INTEGER},
      </if>
      <if test="record.planeness != null" >
        planeness = #{record.planeness,jdbcType=INTEGER},
      </if>
      <if test="record.topographicTerrain != null" >
        topographic_terrain = #{record.topographicTerrain,jdbcType=INTEGER},
      </if>
      <if test="record.developmentDegree != null" >
        development_degree = #{record.developmentDegree,jdbcType=INTEGER},
      </if>
      <if test="record.developmentDegreeContent != null" >
        development_degree_content = #{record.developmentDegreeContent,jdbcType=VARCHAR},
      </if>
      <if test="record.plotRatio != null" >
        plot_ratio = #{record.plotRatio,jdbcType=VARCHAR},
      </if>
      <if test="record.buildingDensity != null" >
        building_density = #{record.buildingDensity,jdbcType=VARCHAR},
      </if>
      <if test="record.greenSpaceRate != null" >
        green_space_rate = #{record.greenSpaceRate,jdbcType=VARCHAR},
      </if>
      <if test="record.compatibleRatio != null" >
        compatible_ratio = #{record.compatibleRatio,jdbcType=VARCHAR},
      </if>
      <if test="record.bearingCapacity != null" >
        bearing_capacity = #{record.bearingCapacity,jdbcType=VARCHAR},
      </if>
      <if test="record.contaminated != null" >
        contaminated = #{record.contaminated,jdbcType=VARCHAR},
      </if>
      <if test="record.ph != null" >
        ph = #{record.ph,jdbcType=VARCHAR},
      </if>
      <if test="record.fertility != null" >
        fertility = #{record.fertility,jdbcType=VARCHAR},
      </if>
      <if test="record.creator != null" >
        creator = #{record.creator,jdbcType=VARCHAR},
      </if>
      <if test="record.gmtCreated != null" >
        gmt_created = #{record.gmtCreated,jdbcType=TIMESTAMP},
      </if>
      <if test="record.gmtModified != null" >
        gmt_modified = #{record.gmtModified,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update tb_basic_estate_land_state
    set id = #{record.id,jdbcType=INTEGER},
      apply_id = #{record.applyId,jdbcType=INTEGER},
      estate_id = #{record.estateId,jdbcType=INTEGER},
      name = #{record.name,jdbcType=VARCHAR},
      land_use_type = #{record.landUseType,jdbcType=INTEGER},
      land_use_category = #{record.landUseCategory,jdbcType=INTEGER},
      land_level = #{record.landLevel,jdbcType=INTEGER},
      land_area = #{record.landArea,jdbcType=VARCHAR},
      east_to = #{record.eastTo,jdbcType=VARCHAR},
      south_to = #{record.southTo,jdbcType=VARCHAR},
      west_to = #{record.westTo,jdbcType=VARCHAR},
      north_to = #{record.northTo,jdbcType=VARCHAR},
      shape_state = #{record.shapeState,jdbcType=INTEGER},
      planeness = #{record.planeness,jdbcType=INTEGER},
      topographic_terrain = #{record.topographicTerrain,jdbcType=INTEGER},
      development_degree = #{record.developmentDegree,jdbcType=INTEGER},
      development_degree_content = #{record.developmentDegreeContent,jdbcType=VARCHAR},
      plot_ratio = #{record.plotRatio,jdbcType=VARCHAR},
      building_density = #{record.buildingDensity,jdbcType=VARCHAR},
      green_space_rate = #{record.greenSpaceRate,jdbcType=VARCHAR},
      compatible_ratio = #{record.compatibleRatio,jdbcType=VARCHAR},
      bearing_capacity = #{record.bearingCapacity,jdbcType=VARCHAR},
      contaminated = #{record.contaminated,jdbcType=VARCHAR},
      ph = #{record.ph,jdbcType=VARCHAR},
      fertility = #{record.fertility,jdbcType=VARCHAR},
      creator = #{record.creator,jdbcType=VARCHAR},
      gmt_created = #{record.gmtCreated,jdbcType=TIMESTAMP},
      gmt_modified = #{record.gmtModified,jdbcType=TIMESTAMP}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.copower.pmcc.assess.dal.basic.entity.BasicEstateLandState" >
    update tb_basic_estate_land_state
    <set >
      <if test="applyId != null" >
        apply_id = #{applyId,jdbcType=INTEGER},
      </if>
      <if test="estateId != null" >
        estate_id = #{estateId,jdbcType=INTEGER},
      </if>
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="landUseType != null" >
        land_use_type = #{landUseType,jdbcType=INTEGER},
      </if>
      <if test="landUseCategory != null" >
        land_use_category = #{landUseCategory,jdbcType=INTEGER},
      </if>
      <if test="landLevel != null" >
        land_level = #{landLevel,jdbcType=INTEGER},
      </if>
      <if test="landArea != null" >
        land_area = #{landArea,jdbcType=VARCHAR},
      </if>
      <if test="eastTo != null" >
        east_to = #{eastTo,jdbcType=VARCHAR},
      </if>
      <if test="southTo != null" >
        south_to = #{southTo,jdbcType=VARCHAR},
      </if>
      <if test="westTo != null" >
        west_to = #{westTo,jdbcType=VARCHAR},
      </if>
      <if test="northTo != null" >
        north_to = #{northTo,jdbcType=VARCHAR},
      </if>
      <if test="shapeState != null" >
        shape_state = #{shapeState,jdbcType=INTEGER},
      </if>
      <if test="planeness != null" >
        planeness = #{planeness,jdbcType=INTEGER},
      </if>
      <if test="topographicTerrain != null" >
        topographic_terrain = #{topographicTerrain,jdbcType=INTEGER},
      </if>
      <if test="developmentDegree != null" >
        development_degree = #{developmentDegree,jdbcType=INTEGER},
      </if>
      <if test="developmentDegreeContent != null" >
        development_degree_content = #{developmentDegreeContent,jdbcType=VARCHAR},
      </if>
      <if test="plotRatio != null" >
        plot_ratio = #{plotRatio,jdbcType=VARCHAR},
      </if>
      <if test="buildingDensity != null" >
        building_density = #{buildingDensity,jdbcType=VARCHAR},
      </if>
      <if test="greenSpaceRate != null" >
        green_space_rate = #{greenSpaceRate,jdbcType=VARCHAR},
      </if>
      <if test="compatibleRatio != null" >
        compatible_ratio = #{compatibleRatio,jdbcType=VARCHAR},
      </if>
      <if test="bearingCapacity != null" >
        bearing_capacity = #{bearingCapacity,jdbcType=VARCHAR},
      </if>
      <if test="contaminated != null" >
        contaminated = #{contaminated,jdbcType=VARCHAR},
      </if>
      <if test="ph != null" >
        ph = #{ph,jdbcType=VARCHAR},
      </if>
      <if test="fertility != null" >
        fertility = #{fertility,jdbcType=VARCHAR},
      </if>
      <if test="creator != null" >
        creator = #{creator,jdbcType=VARCHAR},
      </if>
      <if test="gmtCreated != null" >
        gmt_created = #{gmtCreated,jdbcType=TIMESTAMP},
      </if>
      <if test="gmtModified != null" >
        gmt_modified = #{gmtModified,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.copower.pmcc.assess.dal.basic.entity.BasicEstateLandState" >
    update tb_basic_estate_land_state
    set apply_id = #{applyId,jdbcType=INTEGER},
      estate_id = #{estateId,jdbcType=INTEGER},
      name = #{name,jdbcType=VARCHAR},
      land_use_type = #{landUseType,jdbcType=INTEGER},
      land_use_category = #{landUseCategory,jdbcType=INTEGER},
      land_level = #{landLevel,jdbcType=INTEGER},
      land_area = #{landArea,jdbcType=VARCHAR},
      east_to = #{eastTo,jdbcType=VARCHAR},
      south_to = #{southTo,jdbcType=VARCHAR},
      west_to = #{westTo,jdbcType=VARCHAR},
      north_to = #{northTo,jdbcType=VARCHAR},
      shape_state = #{shapeState,jdbcType=INTEGER},
      planeness = #{planeness,jdbcType=INTEGER},
      topographic_terrain = #{topographicTerrain,jdbcType=INTEGER},
      development_degree = #{developmentDegree,jdbcType=INTEGER},
      development_degree_content = #{developmentDegreeContent,jdbcType=VARCHAR},
      plot_ratio = #{plotRatio,jdbcType=VARCHAR},
      building_density = #{buildingDensity,jdbcType=VARCHAR},
      green_space_rate = #{greenSpaceRate,jdbcType=VARCHAR},
      compatible_ratio = #{compatibleRatio,jdbcType=VARCHAR},
      bearing_capacity = #{bearingCapacity,jdbcType=VARCHAR},
      contaminated = #{contaminated,jdbcType=VARCHAR},
      ph = #{ph,jdbcType=VARCHAR},
      fertility = #{fertility,jdbcType=VARCHAR},
      creator = #{creator,jdbcType=VARCHAR},
      gmt_created = #{gmtCreated,jdbcType=TIMESTAMP},
      gmt_modified = #{gmtModified,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>