<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.copower.pmcc.assess.dal.basic.mapper.BasicApplyMapper" >
  <resultMap id="BaseResultMap" type="com.copower.pmcc.assess.dal.basic.entity.BasicApply" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="process_ins_id" property="processInsId" jdbcType="VARCHAR" />
    <result column="province" property="province" jdbcType="VARCHAR" />
    <result column="city" property="city" jdbcType="VARCHAR" />
    <result column="type" property="type" jdbcType="INTEGER" />
    <result column="estate_name" property="estateName" jdbcType="VARCHAR" />
    <result column="building_number" property="buildingNumber" jdbcType="VARCHAR" />
    <result column="unit_number" property="unitNumber" jdbcType="VARCHAR" />
    <result column="house_number" property="houseNumber" jdbcType="VARCHAR" />
    <result column="status" property="status" jdbcType="VARCHAR" />
    <result column="draft_flag" property="draftFlag" jdbcType="BIT" />
    <result column="case_estate_id" property="caseEstateId" jdbcType="INTEGER" />
    <result column="case_building_main_id" property="caseBuildingMainId" jdbcType="INTEGER" />
    <result column="case_unit_id" property="caseUnitId" jdbcType="INTEGER" />
    <result column="case_house_id" property="caseHouseId" jdbcType="INTEGER" />
    <result column="estate_part_in_mode" property="estatePartInMode" jdbcType="VARCHAR" />
    <result column="building_part_in_mode" property="buildingPartInMode" jdbcType="VARCHAR" />
    <result column="unit_part_in_mode" property="unitPartInMode" jdbcType="VARCHAR" />
    <result column="house_part_in_mode" property="housePartInMode" jdbcType="VARCHAR" />
    <result column="creator" property="creator" jdbcType="VARCHAR" />
    <result column="gmt_created" property="gmtCreated" jdbcType="TIMESTAMP" />
    <result column="gmt_modified" property="gmtModified" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, process_ins_id, province, city, type, estate_name, building_number, unit_number, 
    house_number, status, draft_flag, case_estate_id, case_building_main_id, case_unit_id, 
    case_house_id, estate_part_in_mode, building_part_in_mode, unit_part_in_mode, house_part_in_mode, 
    creator, gmt_created, gmt_modified
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.copower.pmcc.assess.dal.basic.entity.BasicApplyExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from tb_basic_apply
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from tb_basic_apply
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from tb_basic_apply
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.copower.pmcc.assess.dal.basic.entity.BasicApplyExample" >
    delete from tb_basic_apply
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.copower.pmcc.assess.dal.basic.entity.BasicApply" >
    <selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into tb_basic_apply (process_ins_id, province, city, 
      type, estate_name, building_number, 
      unit_number, house_number, status, 
      draft_flag, case_estate_id, case_building_main_id, 
      case_unit_id, case_house_id, estate_part_in_mode, 
      building_part_in_mode, unit_part_in_mode, house_part_in_mode, 
      creator, gmt_created, gmt_modified
      )
    values (#{processInsId,jdbcType=VARCHAR}, #{province,jdbcType=VARCHAR}, #{city,jdbcType=VARCHAR}, 
      #{type,jdbcType=INTEGER}, #{estateName,jdbcType=VARCHAR}, #{buildingNumber,jdbcType=VARCHAR}, 
      #{unitNumber,jdbcType=VARCHAR}, #{houseNumber,jdbcType=VARCHAR}, #{status,jdbcType=VARCHAR}, 
      #{draftFlag,jdbcType=BIT}, #{caseEstateId,jdbcType=INTEGER}, #{caseBuildingMainId,jdbcType=INTEGER}, 
      #{caseUnitId,jdbcType=INTEGER}, #{caseHouseId,jdbcType=INTEGER}, #{estatePartInMode,jdbcType=VARCHAR}, 
      #{buildingPartInMode,jdbcType=VARCHAR}, #{unitPartInMode,jdbcType=VARCHAR}, #{housePartInMode,jdbcType=VARCHAR}, 
      #{creator,jdbcType=VARCHAR}, #{gmtCreated,jdbcType=TIMESTAMP}, #{gmtModified,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.copower.pmcc.assess.dal.basic.entity.BasicApply" >
    <selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into tb_basic_apply
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="processInsId != null" >
        process_ins_id,
      </if>
      <if test="province != null" >
        province,
      </if>
      <if test="city != null" >
        city,
      </if>
      <if test="type != null" >
        type,
      </if>
      <if test="estateName != null" >
        estate_name,
      </if>
      <if test="buildingNumber != null" >
        building_number,
      </if>
      <if test="unitNumber != null" >
        unit_number,
      </if>
      <if test="houseNumber != null" >
        house_number,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="draftFlag != null" >
        draft_flag,
      </if>
      <if test="caseEstateId != null" >
        case_estate_id,
      </if>
      <if test="caseBuildingMainId != null" >
        case_building_main_id,
      </if>
      <if test="caseUnitId != null" >
        case_unit_id,
      </if>
      <if test="caseHouseId != null" >
        case_house_id,
      </if>
      <if test="estatePartInMode != null" >
        estate_part_in_mode,
      </if>
      <if test="buildingPartInMode != null" >
        building_part_in_mode,
      </if>
      <if test="unitPartInMode != null" >
        unit_part_in_mode,
      </if>
      <if test="housePartInMode != null" >
        house_part_in_mode,
      </if>
      <if test="creator != null" >
        creator,
      </if>
      <if test="gmtCreated != null" >
        gmt_created,
      </if>
      <if test="gmtModified != null" >
        gmt_modified,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="processInsId != null" >
        #{processInsId,jdbcType=VARCHAR},
      </if>
      <if test="province != null" >
        #{province,jdbcType=VARCHAR},
      </if>
      <if test="city != null" >
        #{city,jdbcType=VARCHAR},
      </if>
      <if test="type != null" >
        #{type,jdbcType=INTEGER},
      </if>
      <if test="estateName != null" >
        #{estateName,jdbcType=VARCHAR},
      </if>
      <if test="buildingNumber != null" >
        #{buildingNumber,jdbcType=VARCHAR},
      </if>
      <if test="unitNumber != null" >
        #{unitNumber,jdbcType=VARCHAR},
      </if>
      <if test="houseNumber != null" >
        #{houseNumber,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        #{status,jdbcType=VARCHAR},
      </if>
      <if test="draftFlag != null" >
        #{draftFlag,jdbcType=BIT},
      </if>
      <if test="caseEstateId != null" >
        #{caseEstateId,jdbcType=INTEGER},
      </if>
      <if test="caseBuildingMainId != null" >
        #{caseBuildingMainId,jdbcType=INTEGER},
      </if>
      <if test="caseUnitId != null" >
        #{caseUnitId,jdbcType=INTEGER},
      </if>
      <if test="caseHouseId != null" >
        #{caseHouseId,jdbcType=INTEGER},
      </if>
      <if test="estatePartInMode != null" >
        #{estatePartInMode,jdbcType=VARCHAR},
      </if>
      <if test="buildingPartInMode != null" >
        #{buildingPartInMode,jdbcType=VARCHAR},
      </if>
      <if test="unitPartInMode != null" >
        #{unitPartInMode,jdbcType=VARCHAR},
      </if>
      <if test="housePartInMode != null" >
        #{housePartInMode,jdbcType=VARCHAR},
      </if>
      <if test="creator != null" >
        #{creator,jdbcType=VARCHAR},
      </if>
      <if test="gmtCreated != null" >
        #{gmtCreated,jdbcType=TIMESTAMP},
      </if>
      <if test="gmtModified != null" >
        #{gmtModified,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.copower.pmcc.assess.dal.basic.entity.BasicApplyExample" resultType="java.lang.Integer" >
    select count(*) from tb_basic_apply
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update tb_basic_apply
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.processInsId != null" >
        process_ins_id = #{record.processInsId,jdbcType=VARCHAR},
      </if>
      <if test="record.province != null" >
        province = #{record.province,jdbcType=VARCHAR},
      </if>
      <if test="record.city != null" >
        city = #{record.city,jdbcType=VARCHAR},
      </if>
      <if test="record.type != null" >
        type = #{record.type,jdbcType=INTEGER},
      </if>
      <if test="record.estateName != null" >
        estate_name = #{record.estateName,jdbcType=VARCHAR},
      </if>
      <if test="record.buildingNumber != null" >
        building_number = #{record.buildingNumber,jdbcType=VARCHAR},
      </if>
      <if test="record.unitNumber != null" >
        unit_number = #{record.unitNumber,jdbcType=VARCHAR},
      </if>
      <if test="record.houseNumber != null" >
        house_number = #{record.houseNumber,jdbcType=VARCHAR},
      </if>
      <if test="record.status != null" >
        status = #{record.status,jdbcType=VARCHAR},
      </if>
      <if test="record.draftFlag != null" >
        draft_flag = #{record.draftFlag,jdbcType=BIT},
      </if>
      <if test="record.caseEstateId != null" >
        case_estate_id = #{record.caseEstateId,jdbcType=INTEGER},
      </if>
      <if test="record.caseBuildingMainId != null" >
        case_building_main_id = #{record.caseBuildingMainId,jdbcType=INTEGER},
      </if>
      <if test="record.caseUnitId != null" >
        case_unit_id = #{record.caseUnitId,jdbcType=INTEGER},
      </if>
      <if test="record.caseHouseId != null" >
        case_house_id = #{record.caseHouseId,jdbcType=INTEGER},
      </if>
      <if test="record.estatePartInMode != null" >
        estate_part_in_mode = #{record.estatePartInMode,jdbcType=VARCHAR},
      </if>
      <if test="record.buildingPartInMode != null" >
        building_part_in_mode = #{record.buildingPartInMode,jdbcType=VARCHAR},
      </if>
      <if test="record.unitPartInMode != null" >
        unit_part_in_mode = #{record.unitPartInMode,jdbcType=VARCHAR},
      </if>
      <if test="record.housePartInMode != null" >
        house_part_in_mode = #{record.housePartInMode,jdbcType=VARCHAR},
      </if>
      <if test="record.creator != null" >
        creator = #{record.creator,jdbcType=VARCHAR},
      </if>
      <if test="record.gmtCreated != null" >
        gmt_created = #{record.gmtCreated,jdbcType=TIMESTAMP},
      </if>
      <if test="record.gmtModified != null" >
        gmt_modified = #{record.gmtModified,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update tb_basic_apply
    set id = #{record.id,jdbcType=INTEGER},
      process_ins_id = #{record.processInsId,jdbcType=VARCHAR},
      province = #{record.province,jdbcType=VARCHAR},
      city = #{record.city,jdbcType=VARCHAR},
      type = #{record.type,jdbcType=INTEGER},
      estate_name = #{record.estateName,jdbcType=VARCHAR},
      building_number = #{record.buildingNumber,jdbcType=VARCHAR},
      unit_number = #{record.unitNumber,jdbcType=VARCHAR},
      house_number = #{record.houseNumber,jdbcType=VARCHAR},
      status = #{record.status,jdbcType=VARCHAR},
      draft_flag = #{record.draftFlag,jdbcType=BIT},
      case_estate_id = #{record.caseEstateId,jdbcType=INTEGER},
      case_building_main_id = #{record.caseBuildingMainId,jdbcType=INTEGER},
      case_unit_id = #{record.caseUnitId,jdbcType=INTEGER},
      case_house_id = #{record.caseHouseId,jdbcType=INTEGER},
      estate_part_in_mode = #{record.estatePartInMode,jdbcType=VARCHAR},
      building_part_in_mode = #{record.buildingPartInMode,jdbcType=VARCHAR},
      unit_part_in_mode = #{record.unitPartInMode,jdbcType=VARCHAR},
      house_part_in_mode = #{record.housePartInMode,jdbcType=VARCHAR},
      creator = #{record.creator,jdbcType=VARCHAR},
      gmt_created = #{record.gmtCreated,jdbcType=TIMESTAMP},
      gmt_modified = #{record.gmtModified,jdbcType=TIMESTAMP}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.copower.pmcc.assess.dal.basic.entity.BasicApply" >
    update tb_basic_apply
    <set >
      <if test="processInsId != null" >
        process_ins_id = #{processInsId,jdbcType=VARCHAR},
      </if>
      <if test="province != null" >
        province = #{province,jdbcType=VARCHAR},
      </if>
      <if test="city != null" >
        city = #{city,jdbcType=VARCHAR},
      </if>
      <if test="type != null" >
        type = #{type,jdbcType=INTEGER},
      </if>
      <if test="estateName != null" >
        estate_name = #{estateName,jdbcType=VARCHAR},
      </if>
      <if test="buildingNumber != null" >
        building_number = #{buildingNumber,jdbcType=VARCHAR},
      </if>
      <if test="unitNumber != null" >
        unit_number = #{unitNumber,jdbcType=VARCHAR},
      </if>
      <if test="houseNumber != null" >
        house_number = #{houseNumber,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=VARCHAR},
      </if>
      <if test="draftFlag != null" >
        draft_flag = #{draftFlag,jdbcType=BIT},
      </if>
      <if test="caseEstateId != null" >
        case_estate_id = #{caseEstateId,jdbcType=INTEGER},
      </if>
      <if test="caseBuildingMainId != null" >
        case_building_main_id = #{caseBuildingMainId,jdbcType=INTEGER},
      </if>
      <if test="caseUnitId != null" >
        case_unit_id = #{caseUnitId,jdbcType=INTEGER},
      </if>
      <if test="caseHouseId != null" >
        case_house_id = #{caseHouseId,jdbcType=INTEGER},
      </if>
      <if test="estatePartInMode != null" >
        estate_part_in_mode = #{estatePartInMode,jdbcType=VARCHAR},
      </if>
      <if test="buildingPartInMode != null" >
        building_part_in_mode = #{buildingPartInMode,jdbcType=VARCHAR},
      </if>
      <if test="unitPartInMode != null" >
        unit_part_in_mode = #{unitPartInMode,jdbcType=VARCHAR},
      </if>
      <if test="housePartInMode != null" >
        house_part_in_mode = #{housePartInMode,jdbcType=VARCHAR},
      </if>
      <if test="creator != null" >
        creator = #{creator,jdbcType=VARCHAR},
      </if>
      <if test="gmtCreated != null" >
        gmt_created = #{gmtCreated,jdbcType=TIMESTAMP},
      </if>
      <if test="gmtModified != null" >
        gmt_modified = #{gmtModified,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.copower.pmcc.assess.dal.basic.entity.BasicApply" >
    update tb_basic_apply
    set process_ins_id = #{processInsId,jdbcType=VARCHAR},
      province = #{province,jdbcType=VARCHAR},
      city = #{city,jdbcType=VARCHAR},
      type = #{type,jdbcType=INTEGER},
      estate_name = #{estateName,jdbcType=VARCHAR},
      building_number = #{buildingNumber,jdbcType=VARCHAR},
      unit_number = #{unitNumber,jdbcType=VARCHAR},
      house_number = #{houseNumber,jdbcType=VARCHAR},
      status = #{status,jdbcType=VARCHAR},
      draft_flag = #{draftFlag,jdbcType=BIT},
      case_estate_id = #{caseEstateId,jdbcType=INTEGER},
      case_building_main_id = #{caseBuildingMainId,jdbcType=INTEGER},
      case_unit_id = #{caseUnitId,jdbcType=INTEGER},
      case_house_id = #{caseHouseId,jdbcType=INTEGER},
      estate_part_in_mode = #{estatePartInMode,jdbcType=VARCHAR},
      building_part_in_mode = #{buildingPartInMode,jdbcType=VARCHAR},
      unit_part_in_mode = #{unitPartInMode,jdbcType=VARCHAR},
      house_part_in_mode = #{housePartInMode,jdbcType=VARCHAR},
      creator = #{creator,jdbcType=VARCHAR},
      gmt_created = #{gmtCreated,jdbcType=TIMESTAMP},
      gmt_modified = #{gmtModified,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>