<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.copower.pmcc.assess.dal.basic.mapper.BasicHouseFaceStreetMapper" >
  <resultMap id="BaseResultMap" type="com.copower.pmcc.assess.dal.basic.entity.BasicHouseFaceStreet" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="case_face_street_id" property="caseFaceStreetId" jdbcType="INTEGER" />
    <result column="house_id" property="houseId" jdbcType="INTEGER" />
    <result column="street_name" property="streetName" jdbcType="VARCHAR" />
    <result column="street_level" property="streetLevel" jdbcType="INTEGER" />
    <result column="temporary" property="temporary" jdbcType="BIT" />
    <result column="traffic_flow" property="trafficFlow" jdbcType="INTEGER" />
    <result column="visitors_flowrate" property="visitorsFlowrate" jdbcType="INTEGER" />
    <result column="creator" property="creator" jdbcType="VARCHAR" />
    <result column="gmt_created" property="gmtCreated" jdbcType="TIMESTAMP" />
    <result column="gmt_modified" property="gmtModified" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, case_face_street_id, house_id, street_name, street_level, temporary, traffic_flow, 
    visitors_flowrate, creator, gmt_created, gmt_modified
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.copower.pmcc.assess.dal.basic.entity.BasicHouseFaceStreetExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from tb_basic_house_face_street
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from tb_basic_house_face_street
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from tb_basic_house_face_street
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.copower.pmcc.assess.dal.basic.entity.BasicHouseFaceStreetExample" >
    delete from tb_basic_house_face_street
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.copower.pmcc.assess.dal.basic.entity.BasicHouseFaceStreet" >
    <selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into tb_basic_house_face_street (case_face_street_id, house_id, street_name, 
      street_level, temporary, traffic_flow, 
      visitors_flowrate, creator, gmt_created, 
      gmt_modified)
    values (#{caseFaceStreetId,jdbcType=INTEGER}, #{houseId,jdbcType=INTEGER}, #{streetName,jdbcType=VARCHAR}, 
      #{streetLevel,jdbcType=INTEGER}, #{temporary,jdbcType=BIT}, #{trafficFlow,jdbcType=INTEGER}, 
      #{visitorsFlowrate,jdbcType=INTEGER}, #{creator,jdbcType=VARCHAR}, #{gmtCreated,jdbcType=TIMESTAMP}, 
      #{gmtModified,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.copower.pmcc.assess.dal.basic.entity.BasicHouseFaceStreet" >
    <selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into tb_basic_house_face_street
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="caseFaceStreetId != null" >
        case_face_street_id,
      </if>
      <if test="houseId != null" >
        house_id,
      </if>
      <if test="streetName != null" >
        street_name,
      </if>
      <if test="streetLevel != null" >
        street_level,
      </if>
      <if test="temporary != null" >
        temporary,
      </if>
      <if test="trafficFlow != null" >
        traffic_flow,
      </if>
      <if test="visitorsFlowrate != null" >
        visitors_flowrate,
      </if>
      <if test="creator != null" >
        creator,
      </if>
      <if test="gmtCreated != null" >
        gmt_created,
      </if>
      <if test="gmtModified != null" >
        gmt_modified,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="caseFaceStreetId != null" >
        #{caseFaceStreetId,jdbcType=INTEGER},
      </if>
      <if test="houseId != null" >
        #{houseId,jdbcType=INTEGER},
      </if>
      <if test="streetName != null" >
        #{streetName,jdbcType=VARCHAR},
      </if>
      <if test="streetLevel != null" >
        #{streetLevel,jdbcType=INTEGER},
      </if>
      <if test="temporary != null" >
        #{temporary,jdbcType=BIT},
      </if>
      <if test="trafficFlow != null" >
        #{trafficFlow,jdbcType=INTEGER},
      </if>
      <if test="visitorsFlowrate != null" >
        #{visitorsFlowrate,jdbcType=INTEGER},
      </if>
      <if test="creator != null" >
        #{creator,jdbcType=VARCHAR},
      </if>
      <if test="gmtCreated != null" >
        #{gmtCreated,jdbcType=TIMESTAMP},
      </if>
      <if test="gmtModified != null" >
        #{gmtModified,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.copower.pmcc.assess.dal.basic.entity.BasicHouseFaceStreetExample" resultType="java.lang.Integer" >
    select count(*) from tb_basic_house_face_street
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update tb_basic_house_face_street
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.caseFaceStreetId != null" >
        case_face_street_id = #{record.caseFaceStreetId,jdbcType=INTEGER},
      </if>
      <if test="record.houseId != null" >
        house_id = #{record.houseId,jdbcType=INTEGER},
      </if>
      <if test="record.streetName != null" >
        street_name = #{record.streetName,jdbcType=VARCHAR},
      </if>
      <if test="record.streetLevel != null" >
        street_level = #{record.streetLevel,jdbcType=INTEGER},
      </if>
      <if test="record.temporary != null" >
        temporary = #{record.temporary,jdbcType=BIT},
      </if>
      <if test="record.trafficFlow != null" >
        traffic_flow = #{record.trafficFlow,jdbcType=INTEGER},
      </if>
      <if test="record.visitorsFlowrate != null" >
        visitors_flowrate = #{record.visitorsFlowrate,jdbcType=INTEGER},
      </if>
      <if test="record.creator != null" >
        creator = #{record.creator,jdbcType=VARCHAR},
      </if>
      <if test="record.gmtCreated != null" >
        gmt_created = #{record.gmtCreated,jdbcType=TIMESTAMP},
      </if>
      <if test="record.gmtModified != null" >
        gmt_modified = #{record.gmtModified,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update tb_basic_house_face_street
    set id = #{record.id,jdbcType=INTEGER},
      case_face_street_id = #{record.caseFaceStreetId,jdbcType=INTEGER},
      house_id = #{record.houseId,jdbcType=INTEGER},
      street_name = #{record.streetName,jdbcType=VARCHAR},
      street_level = #{record.streetLevel,jdbcType=INTEGER},
      temporary = #{record.temporary,jdbcType=BIT},
      traffic_flow = #{record.trafficFlow,jdbcType=INTEGER},
      visitors_flowrate = #{record.visitorsFlowrate,jdbcType=INTEGER},
      creator = #{record.creator,jdbcType=VARCHAR},
      gmt_created = #{record.gmtCreated,jdbcType=TIMESTAMP},
      gmt_modified = #{record.gmtModified,jdbcType=TIMESTAMP}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.copower.pmcc.assess.dal.basic.entity.BasicHouseFaceStreet" >
    update tb_basic_house_face_street
    <set >
      <if test="caseFaceStreetId != null" >
        case_face_street_id = #{caseFaceStreetId,jdbcType=INTEGER},
      </if>
      <if test="houseId != null" >
        house_id = #{houseId,jdbcType=INTEGER},
      </if>
      <if test="streetName != null" >
        street_name = #{streetName,jdbcType=VARCHAR},
      </if>
      <if test="streetLevel != null" >
        street_level = #{streetLevel,jdbcType=INTEGER},
      </if>
      <if test="temporary != null" >
        temporary = #{temporary,jdbcType=BIT},
      </if>
      <if test="trafficFlow != null" >
        traffic_flow = #{trafficFlow,jdbcType=INTEGER},
      </if>
      <if test="visitorsFlowrate != null" >
        visitors_flowrate = #{visitorsFlowrate,jdbcType=INTEGER},
      </if>
      <if test="creator != null" >
        creator = #{creator,jdbcType=VARCHAR},
      </if>
      <if test="gmtCreated != null" >
        gmt_created = #{gmtCreated,jdbcType=TIMESTAMP},
      </if>
      <if test="gmtModified != null" >
        gmt_modified = #{gmtModified,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.copower.pmcc.assess.dal.basic.entity.BasicHouseFaceStreet" >
    update tb_basic_house_face_street
    set case_face_street_id = #{caseFaceStreetId,jdbcType=INTEGER},
      house_id = #{houseId,jdbcType=INTEGER},
      street_name = #{streetName,jdbcType=VARCHAR},
      street_level = #{streetLevel,jdbcType=INTEGER},
      temporary = #{temporary,jdbcType=BIT},
      traffic_flow = #{trafficFlow,jdbcType=INTEGER},
      visitors_flowrate = #{visitorsFlowrate,jdbcType=INTEGER},
      creator = #{creator,jdbcType=VARCHAR},
      gmt_created = #{gmtCreated,jdbcType=TIMESTAMP},
      gmt_modified = #{gmtModified,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>